.custom-select {
    position: relative;

    &.is-active {

        //.custom-select__head {
        //    &::after {
        //        transform: rotate(180deg);
        //    }
        //}
    }
}

//.custom-select__head {
//    position: relative;
//    min-width: 158px;
//    font-size: 16px;
//    line-height: 16px;
//    color: #905DB4;
//    padding: 15px 0;
//    padding-left: 12px;
//    padding-right: 36px;
//    margin-right: 12px;
//    background-color: transparent;
//    border: 1px solid #905DB4;
//    border-radius: 52px;
//    cursor: pointer;
//
//    &::after {
//        position: absolute;
//        display: block;
//        content: "";
//        width: 16px;
//        height: 16px;
//        background-image: url("~@/assets/svg/dd-arrow.svg");
//        background-repeat: no-repeat;
//        top: 15px;
//        right: 15px;
//        transform: rotate(0);
//        transition: transform 0.3s;
//    }
//}

.custom-select__body {
    @include reset-list;
    display: none;
    position: absolute;
    top: 52px;
    left: 8px;
    min-width: 158px;
    background-color: #ffffff;
    border: 1px solid #EAECEE;
    box-shadow: 0 8px 16px rgba(51, 51, 51, 0.2);
    border-radius: 4px;
    z-index: 6;
}

@media (min-width: $tb) {

    //.custom-select__head {
    //    width: 205px;
    //}

    .custom-select__body {
        width: 205px;
        left: -15px;
    }
}

@media (min-width: $md) {
    //.custom-select__head {
    //    //padding-left: 19px;
    //    //text-align: left;
    //
    //}
}

.custom-select__body.is-mobile {
  li {
    a {
      display: block;
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      color: #905DB4;
      //background-color: transparent;
      text-decoration: none;
      //border: none;
      padding: 16px;
      //margin-bottom: 16px;
      text-align: left;
      cursor: pointer;
      transition: background-color 0.15s;

      &:hover {
        background-color: #F2F2F2;
      }

      &.active {
        background-color: #F2F2F2;
      }
    }

    &:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
}

//@media (max-width: $lp) {
//  .custom-select__body {
//    li {
//
//      a {
//        display: block;
//        width: 100%;
//        font-size: 15px;
//        line-height: 24px;
//        color: #905DB4;
//        //background-color: transparent;
//        text-decoration: none;
//        //border: none;
//        padding: 16px;
//        //margin-bottom: 16px;
//        text-align: left;
//        cursor: pointer;
//        transition: background-color 0.15s;
//
//        &:hover {
//          background-color: #F2F2F2;
//        }
//
//        &.active {
//          background-color: #F2F2F2;
//        }
//      }
//
//      &:last-child {
//        a {
//          margin-bottom: 0;
//        }
//      }
//    }
//  }
//}
