.main-nav {
    display: none;
    //position: fixed;
    position: absolute;
    height: calc(100vh - 64px);
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 32px;
    padding-bottom: 28px;
    background-color: #ffffff;
    z-index: 100;
    transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
    transition: max-height .1s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    @media (min-width: $tb) {
      opacity: 1;
      max-height: 100%;
    }
}

.main-nav__inner {
    height: 100%;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-nav__list {
    @include reset-list;

    li {
        margin-bottom: 20px;

        a {
            font-size: 16px;
            line-height: 21px;
            color: #000000;
            text-transform: uppercase;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #D36133;
            }

            &.active {
                font-weight: 600;
                color: #D36133;
            }
        }
    }
}

.main-nav__phone {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 28px;
}

@media (min-width: $tb) {
    .main-nav {
        position: fixed;
        top: 76px;
        padding: 0;
        padding-top: 40px;
    }

    .main-nav__inner {
        max-width: 704px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .main-nav__phone {
        display: none;
    }

    .main-nav__list {
        li {
            margin-bottom: 24px;
        }
    }
}

@media (min-width: $md) {
    .main-nav {
        position: static;
        display: flex;
        //display: initial;
        height: auto;
        padding-top: 14px;
        z-index: initial;
        background-color: transparent;
        order: -1;
        overflow: hidden;

        &::-webkit-scrollbar {
          display: none;
        }
    }

    .main-nav__inner {
        max-width: none;
        height: auto;
        margin: 0;
        padding-bottom: 0;
    }

    .main-nav__list {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        //display: grid;
        //grid-template-columns: repeat(4, 1fr);
        flex-shrink: 0;

        li {
            //width: 25%;
            margin-right: 32px;
            margin-bottom: 0;
            flex-shrink: 0;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                display: flex;
                justify-content: center;
                flex-shrink: 0;
            }
        }
    }
}
