main.courses {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 54px;
    background-image: linear-gradient(0deg, #F5F6F7, #F5F6F7), linear-gradient(89.5deg, #FBE9D7 0%, #EBF4F5 128.54%);
    left: 0;
    right: 0;
    top: -32px;
    @media (min-width: $md) {
      display: none;
    }
  }
}

.page-header {
    position: relative;
    min-height: 64px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 6;
    -webkit-overflow-scrolling: touch;
    background: #fff;

    &.menu-opened {
        position: fixed;
        width: 100%;
        min-height: 64px;
        transform: translate3d(0,0,0);
    }
}

.page-header__inner {
    position: relative;
    display: flex;
    padding: 12px 20px;
    padding-bottom: 12px;
    @media (min-width: $tb) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
}

.page-header__logo {
    flex-shrink: 0;
    text-decoration: none;
}

.page-header__login {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #D36133;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 52px;
    margin-left: auto;
    transition: color 0.3s;
    @media (max-width: $md) {
      margin-right: 70px;
    }
    @media (max-width: $xs) {
      margin-right: 52px;
    }

    &:hover {
        color: #FA7E4C;

        .page-header__login-icon {
            fill: #FA7E4C;
        }
    }
}

.page-header__login-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #D36133;
    left: -32px;
    transition: fill 0.3s;
}

.page-header__phone {
    display: none;
}

.page-header__burger {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 50px;
    height: 50px;
    font-size: 0;
    padding: 0;
    margin-left: auto;
    background-image: url("../assets/svg/burger-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.closed {
        background-image: url("../assets/svg/close-icon.svg");
    }
}

@media (min-width: $tb) {
    .page-header__inner {
        max-width: 704px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    .page-header__phone {
        display: block;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        flex-shrink: 0;
        transition: color 0.3s;

        &:hover {
            color: #D36133;
        }
    }

    .page-header__login {
        padding-top: 0;
        margin-left: 122px;
    }

    .page-header__burger {
        top: 14px;
        right: -1px;
        background-image: url("../assets/svg/burger-icon-large.svg");
        background-size: 48px;
    }

    .page-header__logo {
      margin-right: 71px;

      img {
        width: 132px;
        height: 48px;
      }
    }
}

@media (min-width: $md) {
    .page-header {
        &::after {
            display: none;
        }
    }

    .page-header__inner {
        max-width: 944px;
    }

    //.page-header__phone {
    //    margin-left: 17px;
    //    flex-shrink: 0;
    //}

    .page-header__login {
        margin-left: auto;
        margin-right: 0;
        flex-shrink: 0;
    }

    .page-header__burger {
        display: none;
    }

    .page-header__logo {
      order: -1;
      margin-right: 42px;
    }
}

@media (min-width: $lp) {
    .page-header__inner {
        max-width: 1160px;
    }

    .page-header__login {
        margin-left: 100px;
    }

    .page-header__logo {
      margin-right: 138px;
    }

    //.page-header__phone {
    //    margin-left: auto;
    //}
}

@media (min-width: $xl) {
    .page-header__logo {
        margin-right: 110px;
    }

    //.page-header__phone {
    //    margin-left: 114px;
    //}
}
