.footer {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: #101010;
}

.footer__logo {
  display: block;
  margin-bottom: 40px;
}

.footer__login {
  display: none;
}

.footer__contacts {
  @include reset-list;
  margin-bottom: 32px;

  li {
    margin-bottom: 24px;

    .heading {
      display: block;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: rgba(#ffffff, 0.8);
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 12px;
      }
    }

    .phone {
      display: block;
      font-size: 18px;
      line-height: 16px;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: rgba(#ffffff, 0.8);
      }
    }

    .address {
      display: block;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.04em;
      color: rgba(#ffffff, 0.8);
      margin: 0;
    }

  }
}

.footer__socials {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;

  li {
    margin-right: 32px;
    a {
      font-size: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer__socials-icon {
  height: 30px;
  fill: #ffffff;
  opacity: 0.9;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  &--inst {
    width: 31px;
  }

  &--fb {
    width: 15px;
  }

  &--yt {
    width: 42px;
  }

  &--in {
    width: 32px;
  }
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 32px;
  margin-bottom: 32px;
  z-index: 1;
}

.footer__nav-heading {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer__nav-item {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer__nav-item,
.footer__nav-heading {
  transition: color 0.3s;

  &:hover {
    color: rgba(#ffffff, 0.64);
  }
}

.footer__docs {
  @include reset-list;
  max-width: 293px;

  li {
    margin-bottom: 16px;
    float: left;

    a {
      display: block;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(#ffffff, 0.8);
      transition: color 0.3s;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.footer__login-mobile {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #FA7E4C;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #D36133;
  }
}

@media (min-width: $tb) {
  .footer__login-mobile {
    display: none
  }
}

@media (max-width: $md) {
  .footer__logo {

    img {
      margin-bottom: 30px;
      width: 248px;
      height: 90px;
    }
  }
}

@media (max-width: $tb) {
  .footer__logo {

    img {
      width: 204px;
      height: 74px;
      margin-bottom: 0;
      display: inline-block;
    }
    .footer__holon {
      margin-top: 0px;
      margin-left: 40px;
      display: inline-block;
      img {
        max-width: 64px;
        max-height: 65px;
      }
    }
  }
}

@media(max-width: 400px) {
  .footer__logo {
    img {
      width: 170px;
      height: 62px;
    }
  }
}
@media (min-width: $tb) {

  .footer {
    padding-top: 49px;
  }

  .footer__grid-wrap {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'a b c' 'd d d';
  }

  .grid-a {
    grid-area: a;
    width: 200px;
    height: fit-content;
    //min-height: 230px;
  }

  .grid-b {
    grid-area: b;
    margin-left: 102px;
  }

  .grid-c {
    grid-area: c;
  }

  .grid-d {
    grid-area: d;
    //margin-top: -70px;
  }

  //.footer__logo {
  //
  //  img {
  //    //width: 254px;
  //    //height: 92px;
  //    margin-bottom: 30px;
  //  }
  //}

  .footer__login {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    //min-width: 120px;
    height: fit-content;
    justify-content: flex-end;
    margin-left: auto;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #FA7E4C;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;

    &:hover {
      color: #D36133;

      .footer__login-icon {
        fill: #D36133;
      }
    }
  }

  .footer__login-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #FA7E4C;
    left: 0;
    transition: fill 0.3s;
  }

  .footer__contacts-wrap {
    display: flex;
    justify-content: space-between;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: -2;
    grid-column-end: -1;
    border-top: 1px solid rgba(#ffffff, 0.24);
    padding-top: 24px;
    margin-top: 14px;
  }

  .footer__contacts {
    width: 416px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;

    li {
      .heading {
        margin-bottom: 18px;
      }
    }

    .grid-width100 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: -2;
      grid-column-end: -1;
    }
  }

  .footer__socials {
    margin-bottom: 0;
  }

  .footer__nav {
    margin-bottom: 0;
    grid-row-gap: 25px;
    grid-column-gap: 28px;
  }

  .footer__nav-heading {
    margin-bottom: 25px;
  }
}

@media (min-width: $md) {
  .footer {
    padding-top: 73px;
    padding-bottom: 72px;

    .grid-b {
      margin-left: 140px;
    }

    .grid-d {
      //margin-top: -50px;
    }
  }

  .footer__nav {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__nav-list {
    //min-width: 106px;

    &:nth-child(2) {
      margin-left: 17px;
    }

    &:nth-child(3) {
      margin-left: 17px;
    }

    &:nth-child(4) {
      margin-left: 8px;
    }
  }

  .footer__contacts-wrap {
    margin-top: 44px;
  }
}

@media (min-width: $lp) {
  .footer__contacts {
    width: auto;
    -ms-grid-columns: 1fr 40px 1fr 40px auto;
    grid-template-columns: 1fr 1fr auto;
    grid-column-gap: 40px;

    .grid-width100 {
      grid-column: initial;
    }
  }
}

@media (min-width: $xl) {
  .footer {
    .grid-b {
      margin-left: 273px;
    }
  }
}
