.range {
  margin-bottom: 136px;
}

.range__top-wrap {
  margin-bottom: 20px;
}

.range__text {
  font-size: 17px;
  line-height: 22px;
  color: #905DB4;
}

.range__input {
  width: 18px;
  font-size: 17px;
  line-height: 22px;
  color: #905DB4;
  border: none;
  padding: 0;
}

.noUi-horizontal {
  position: relative;
  width: 97%;
  //max-width: 100%;
  height: 2px;
}

.noUi-connect {
  background-color: #905DB4;
}

.noUi-base, .noUi-connects {
  position: absolute;
  max-width: 100%;
  //width: calc(100% - 20px);
  height: 2px;
  top: -0.3px;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle {
  //position: relative;
  width: 26px;
  height: 26px;
  border: 1px solid #905DB4;
  border-radius: 50%;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: none;
  top: -12px;
  cursor: pointer;

  &::before {
    display: none;
  }

  &::after {
    width: 8px;
    height: 8px;
    background-color: #905DB4;
    border-radius: 50%;
    top: 8px;
    left: 8px;
  }

  &:hover,
  &:active {
    border-width: 2px;

    &::after {
      top: 7px;
      left: 7px;
    }
  }
}



.noUi-active {
  background-color: #ffffff;
}

@media (min-width: $tb) {
  .noUi-horizontal {
    width: 230px;
  }
}

@media (min-width: $md) {
  .range__input {
    width: 35px;
  }
}

@media (min-width: $lp) {
  .range {
    margin-bottom: 170px;
  }
}
