<template>
  <div
    :class="[`first-block first-block--${colorTheme}`, { 'first-block--new-fonts': newFonts }]"
  >
    <div class="m-container">
      <div :class="['discount', { 'discount--rotated': rotateDiscount }, `discount--${discountTheme}`, `discount--${discountSize}`]">
        <slot name="discount">v-slot:discount</slot>
      </div>
      <div class="first-block__main-content">
        <div
          class="first-block__partner-logo"
          v-if="partnerLogoSrc || $slots['partner-logo']"
          :style="{ height: partnerLogoHeight + 'px' }"
        >
          <slot name="partner-logo"><img data-not-lazy class="not-lazy" width="123" :src="partnerLogoSrc" alt="partner-logo" /></slot>
        </div>
        <div class="first-block__category">
          <slot name="category">Curso online</slot>
        </div>
        <h1 class="h1">
          <slot name="title">v-slot:title</slot>
        </h1>
        <p class="subtitle">
          <slot name="subtitle">v-slot:subtitle</slot>
        </p>
        <p class="first-block__deffered-payment-info" v-if="$slots['deffered-payment-info']">
          <slot name="deffered-payment-info">v-slot:deffered-payment-info</slot>
        </p>
        <div v-if="scrollToForm" class="first-block__button-wrapper">
          <v-btn
            color="primary"
            rounded
            large
            depressed
            :ripple="false"
            nuxt
            @click="$scrollTo('#formSection')"
          >
            INSCREVA-SE
          </v-btn>
        </div>
        <div class="main-img-mobile" v-if="$slots['main-img-mobile']">
          <slot name="main-img-mobile">v-slot:main-img-mobile</slot>
        </div>
      </div>
      <div v-if="price" class="first-block__student-installment-price">
        <div class="student-installment-price">
          <div class="student-installment-price__block-one">
            <div class="student-installment-price__title">
              Parcele no boleto. Até 24x de
              <tooltip
                ref="tooltip"
                @click="showTooltip"
                class="student-installment-price__tooltip"
                style="display: inline-block"
              >
                <span style="margin-bottom: 0;">
                  O valor final pode sofrer alteração por conta da variação do IOF. Essa diferença acontece por conta da incidência do IOF (Imposto sobre Operações Financeiras), um imposto obrigatório e cobrado pelo governo sobre todas as operações de financiamento.
                </span>
              </tooltip>
            </div>
            <div class="student-installment-price__per-month-price">
              {{ $app.getCurrency(price.provi.pricePerMonth) }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="withSeparator" class="first-block__separator" />
      <div
        :class="[`first-block__additional-content first-block__additional-content--${additionalContentSize}`, { 'first-block__additional-content--left': leftAdditionalItems }]"
      >
        <div
          v-for="(slotName, index) of additionalContentItems"
          class="first-block__additional-content-item"
          :class="`first-block__additional-content-item_${index + 1} first-block__additional-content-item--${additionalContentSize}`"
        >
          <slot :name="slotName">v-slot:additional-content-item_[number]</slot>
        </div>
      </div>

      <div v-if="withForm" class="first-block__form-container">
        <div class="first-block__form">
          <h3>Inscreva-se</h3>
          <div class="beginning-date">
            Início da formação:<strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ nextMondayDate }}</strong>
          </div>
          <ValidationObserver v-slot="{ handleSubmit }" ref="form">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
                <v-text-field
                  class="main-form-name-phone__name"
                  v-model="form.name"
                  label="Nome"
                  solo
                  :error-messages="errors.length ? 'Digite seu nome' : ''"
                ></v-text-field>
              </ValidationProvider>
              <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
                <hintEmail
                  v-model="form.email"
                  label="mail@example.com"
                  :error-messages="errors.length ? 'Digite seu e-mail' : ''"
                  :nextComponent="$refs.phone"
                />
              </ValidationProvider>
              <phone
                class="main-form-name-phone__phone"
                name="phone"
                v-model="form.phone"
                ref="phone"
              />
              <promo-code
                class="promo-code"
                name="promo-code"
                v-model="form.promoCode"
                @discount="onDiscount"
                @currentPrice="onCurrentPrice"
                @discountAmount="onDiscountAmount"
                @freeCourse="onFreeCourse"
                :formId="formId"
                :price="price"
              />
              <div
                v-if="discount"
                class="price-with-promo-code"
              >
                <div class="price-with-promo-code__title">Preço com desconto </div>
                <div class="price-with-promo-code__price-block">
                  <div class="price-with-promo-code__new-price">
                    {{ $app.getCurrency(price.currentPrice) }}
                  </div>
                  <div class="price-with-promo-code__previous-price">
                    {{ $app.getCurrency(price.beforeDiscount) }}
                  </div>
                </div>
              </div>
              <ValidationProvider name="passive" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
                <checkbox
                  class="checkbox_accepted-rules"
                  v-model="form.acceptedRules"
                  :error-messages="errors"
                  theme="orange"
                >
                  {{ $t('acceptTheTermsAndConditions') }} <a href="https://ebaconline.com.br/upload/cms/service_agreement_and_privacy_policy.pdf" target="_blank">{{ $t('privacyPolicyAndServiceAgreement') }}</a>
                </checkbox>
              </ValidationProvider>
              <div class="main-form-btn">
                <v-btn
                  color="primary"
                  rounded
                  depressed
                  x-large
                  :ripple="false"
                  type="submit"
                  :loading="loading.form"
                >
                  INSCREVA-SE
                </v-btn>
              </div>
              <input type="hidden" name="source_id" tabindex="-1" :value="formId">
              <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
    <div class="background-desktop">
      <slot name="background-desktop">v-slot:background-desktop</slot>
    </div>
    <div class="background-mobile">
      <slot name="background-mobile">v-slot:background-mobile</slot>
    </div>
    <div class="main-img-desktop" v-if="$slots['main-img-desktop']">
      <slot name="main-img-desktop">v-slot:main-img-desktop</slot>
    </div>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import paymentForm from '@/mixins/paymentForm.mixin'
export default {
  name: 'FirstBlock',
  mixins: [ paymentForm ],
  props: {
    partnerLogoSrc: {
      type: String,
      default: ''
    },
    partnerLogoHeight: {
      type: String || Number,
      default: ''
    },
    colorTheme: {
      type: String,
      default: 'light',
      validator (val) {
        return ['light', 'dark'].indexOf(val) > -1
      }
    },
    discountTheme: {
      type: String,
      default: 'yellow',
      validator (val) {
        return ['yellow', 'blue'].indexOf(val) > -1
      }
    },
    discountSize: {
      type: String,
      default: 'm',
      validator (val) {
        return ['sm', 'm'].indexOf(val) > -1
      }
    },
    rotateDiscount: Boolean,
    scrollToForm: Boolean,
    price: {
      type: Object,
      default: null
    },
    withForm: Boolean,
    formId: {
      type: Number,
      default: null
    },
    withSeparator: Boolean,
    newFonts: Boolean,
    additionalContentSize: {
      type: String,
      default: 'm',
      validator (val) {
        return ['sm', 'm'].indexOf(val) > -1
      }
    },
    date: {
      type: Object,
      default () {
        return {
          autoDate: true,
          startDate: null
        }
      }
    },
    leftAdditionalItems: Boolean
  },
  computed: {
    additionalContentItems() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('additional-content-item'));
    },
  },
  data () {
    return {
      discount: null,
      discountAmount: null,
      freeCourse: [],
    }
  },
  mounted () {
    if (this.withForm) {
      setTimeout(async () => await this.addAnyFormFields({ ref: this.$refs.form }), 0);
    }
  },
  methods: {
    showTooltip() {
      this.$refs.tooltip.toggle()
    },
    onDiscount(value) {
      this.discount = value;
      this.$emit('discount', this.discount);
    },
    onDiscountAmount(value) {
      this.discountAmount = value;
      this.$emit('discountAmount', this.discountAmount);
    },
    onFreeCourse(value) {
      this.freeCourse = value;
      this.$emit('freeCourse', this.freeCourse);
    },
    onCurrentPrice(value) {
      this.$emit('currentPrice', value);
    }
  },
  components: {
    tooltip: () => import('../../tooltip'),
    promoCode: () => import('../form/promoCode'),
    hintEmail: () => import('../../../components/common/hintEmail'),
    phone: () => import('../../../components/common/phone'),
    checkbox: () => import('../../common/checkbox'),
    ValidationObserver,
    ValidationProvider,
  }
}
</script>

<style lang="sass" scoped>
  .first-block
    overflow: hidden
    position: relative
    padding-top: 39px
    padding-bottom: 40px
    z-index: 1
    @media (min-width: $md)
      padding-top: 51px
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 450px
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
      z-index: 1

    & .main-img-mobile, & .main-img-desktop
      position: absolute
      right: 0
      bottom: 0
      left: 0
      justify-content: center
      align-items: center
    & .main-img-mobile
      display: flex
      position: relative
      left: unset
      right: -3%
      @media (min-width: $xs)
        width: 485px
      @media (min-width: $tb)
        right: 0
        width: 655px
      @media (min-width: $md)
        margin-top: -95px
        display: none
    & .main-img-desktop
      left: auto
      display: none
      @media (min-width: $md)
        display: block
        top: -170px
        right: -255px
        width: 920px
        height: 100%
      @media (min-width: $lp)
        right: calc((100vw - 1160px) / 2 - 200px)
        top: -125px
      & img
        height: 100%
        width: 100%

    & .background-mobile, & .background-desktop
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: #000
      z-index: -1
      min-height: 100%
      & img
        min-height: 100%
        width: 100%
        height: auto
        object-fit: cover
        -object-fit: cover
      & picture
        width: 100%
        height: 100%
    & .background-mobile
      display: block
      @media (min-width: $md)
        display: none
    & .background-desktop
      display: none
      @media (min-width: $md)
        display: flex
        justify-content: center
        align-items: center
        & img
          height: 100%
          object-fit: cover

    &__partner-logo
      margin-bottom: 30px

    &__deffered-payment-info
      border-radius: 6px
      background-color: rgba(105, 38, 204, .4)
      background-position: center center
      border-color: transparent
      border-style: solid
      font-size: 17px
      color: #ffffff
      line-height: 1.55
      font-weight: 500
      padding: 10px 20px
      margin-top: 20px
      text-align: center
      br
        display: none
        @media (min-width: $tb)
          display: inline
      @media (min-width: $tb)
        text-align: left
        max-width: 400px

    &__category
      text-transform: uppercase
      color: #fff
      font-size: 16px
      line-height: 1.55
      font-weight: 500
      letter-spacing: 0.5px
      margin-bottom: 5px
    &__separator
      background: #FFFFFF
      opacity: 0.32
      width: 100%
      height: 1px
      margin-top: 20px
      margin-bottom: 20px
    &__button-wrapper
      margin-top: 24px
      margin-bottom: -15px
      @media (min-width: $md)
        margin-top: 40px
        margin-bottom: 56px
    &__additional-content
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      padding: 15px 30px
      gap: 15px
      @media (min-width: $md)
       margin-top: 44px
       padding: 0

      &--sm
        padding-left: 0
        .additional-content-item
          &__title
            font-size: 18px
            line-height: 1.5
            font-weight: 500
          &__subtitle
            font-size: 16px
            line-height: 1.6
            font-weight: 400

      &--left
        max-width: 60%
        @media (min-width: $md)
          .first-block__additional-content-item
            width: 40%

    &__additional-content-item
      position: relative
      z-index: 2
      margin-bottom: 20px
      min-width: 100%
      &:last-child
        margin-bottom: 0
      @media (min-width: $tb)
        margin-bottom: 30px
        min-width: 40%
        max-width: 40%
      @media (min-width: $md)
        margin-bottom: 0
        min-width: unset
        max-width: unset

      &--sm

    &__form-container
      background: #000
      border-radius: 12px
      padding-top: 15px
      margin-bottom: 50px
      margin-left: auto
      margin-right: auto
      max-width: 320px
      margin-top: 30px
      @media (min-width: $tb)
        max-width: 460px
      @media (min-width: $md)
        position: absolute
        width: 465px
        top: -10px
        right: 50px
    &__form
      background: #fdfdfd
      border-radius: 12px
      padding: 50px 20px
      @media (min-width: $tb)
        padding: 50px
      @media (min-width: $md)
        padding: 20px 30px
      h3
        font-family: 'Rubik', sans-serif
        font-size: 24px
        margin-bottom: 10px
        @media (min-width: $tb)
          font-size: 34px
      .beginning-date
        margin-bottom: 20px
        font-size: 14px

    &--dark
      color: #10001f
      h1
        color: #10001f
      .subtitle
        color: #22053d
      .first-block__category
        color: #10001f
      .additional-content-item
        &__title
          color: #22053d
        &__subtitle
          color: #10001f

    &--new-fonts
      font-family: 'Poppins', sans-serif
      .first-block__category
        font-family: 'Rubik', sans-serif
      h1
        font-family: 'Rubik', sans-serif
        font-size: 36px
        @media (min-width: $tb)
          font-size: 58px
        @media (min-width: $md)
          font-size: 64px

      .additional-content-item__title
        font-family: 'Rubik', sans-serif
  .discount
    border-radius: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 18px 8px
    position: absolute
    right: 30px
    z-index: 2
    width: 130px
    height: 130px
    @media (min-width: $tb)
     height: 150px
     width: 150px
     padding: 24px 18px
     right: 40px
     top: -20px
    @media (min-width: $md)
      height: 140px
      width: 140px
      padding: 24px 18px
      top: -20px
      right: 387px
    @media (min-width: $lp)
      top: 20px
      right: 454px
    &__title
      font-weight: 700
      font-size: 42px
      line-height: 28px
      text-align: center
      margin-bottom: 10px
      @media (min-width: $tb)
        font-size: 46px
        line-height: 1
        margin-bottom: 0
      @media (min-width: $md)
        font-size: 44px
        line-height: 56px
    &__subtitle
      font-size: 15px
      line-height: 16px
      text-align: center
      font-weight: 500
      padding: 0 15px
      @media (min-width: $tb)
        hont-size: 17px
      @media (min-width: $md)
        font-size: 18px
        line-height: 22px

    &--rotated
      transform: rotate(15deg)

    &--yellow
      background: #FEE251
      .discount__title
        color: #000
      .discount__subtitle
        color: #000

    &--blue
      background: #4c1ada
      .discount__title
        color: #fff
      .discount__subtitle
        color: #fff

    &--sm
      width: 110px
      height: 110px
      right: 10px
      @media (min-width: $tb)
        width: 120px
        height: 120px
        top: 20px
        left: 40%
        .discount__title
          margin-bottom: 0
        .discount__subtitle
          padding: 0 5px
          font-size: 15px
      @media (min-width: $tb)
        right: 0
        left: unset
        width: 130px
        height: 130px
        top: -40px
  .m-container
    position: relative
    z-index: 2
    @media (min-width: $xs)
      padding: 0 40px
    @media (min-width: $md) and (max-width: $lp - 1)
      padding: 16px
      max-width: 100%
    @media (min-width: $lp)
      padding: 0
  .additional-content-item
    &__title
      font-weight: 700
      font-size: 24px
      line-height: 1.1
      color: #FFFFFF
      margin-bottom: 8px
      @media (min-width: $md)
        font-size: 32px
        line-height: 38px
    &__subtitle
      font-size: 16px
      line-height: 1.55
      color: #FFFFFF
      @media (min-width: $md)
        font-size: 16px
        line-height: 22px
  .v-btn
    width: 100%
    height: 60px!important
    position: relative
    z-index: 2
    font-weight: 600
    font-size: 16px
    box-shadow: 0px 10px 20px 0px rgba(37,97,207,0.1)
    @media (min-width: $tb)
      width: 230px
    @media (min-width: $md)
      border-radius: 40px
      height: 60px!important
      padding: 22px 70px!important
  .v-btn.v-size--large
    line-height: 18px!important
    letter-spacing: 0.03em
    @media (min-width: $md)
      font-size: 14px!important
      line-height: 16px!important
  .h1
    font-weight: 700
    font-size: 36px
    color: #fff
    margin-bottom: 16px
    margin-top: 10px
    line-height: 1.1
    @media (min-width: $tb)
      font-size: 65px
    @media (min-width: $md)
      font-size: 52px
      line-height: 67px
      margin-bottom: 28px
      font-weight: 700
  .subtitle
    font-weight: 400
    font-size: 16px
    line-height: 1.6
    color: #fff
    position: relative
    z-index: 2
    @media (min-width: $tb)
      width: 540px
    @media (min-width: $md)
      width: 465px

  .student-installment-price
    margin-top: 20px
    &__tooltip
      width: 20px
      height: 20px
      display: inline
      position: absolute
      top: -5px
      right: -30px
    &__title
      font-size: 18px
      font-weight: 600
      line-height: 1.6
      position: relative
      display: inline-block
      @media (min-width: $tb)
        font-size: 16px
    &__per-month-price
      color: #ff7900
      font-size: 36px
      font-family: 'Rubik', sans-serif
      @media (min-width: $tb)
        font-size: 48px

  .main-form-btn
    margin-top: 20px
    @media (min-width: $tb)
      .v-btn
        width: 100%
</style>
<style lang="sass">
  .student-installment-price
    &__tooltip
      .trigger
        width: 100%
        height: 100%
        .tooltip-target
          width: 100%
          height: 100%
          margin-top: 0

</style>
