<template>
  <v-app class="ambassadors-page">
    <main>
      <hero-section />
      <benefits-section />
      <ambassadors-section />
    </main>
  </v-app>
</template>

<script>
import HeroSection from './components/-hero-section.vue';

export default {
  name: 'Ambassadors',
  meta: {
    show: ['br'],
  },
  head() {
    return {
      title: 'Embaixadores — EBAC Online',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Embaixadores EBAC são líderes do mercado em sua área e profissionais excelentes. Veja quem são.',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Embaixadores — EBAC Online'
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Embaixadores EBAC são líderes do mercado em sua área e profissionais excelentes. Veja quem são.'
        },
      ],
    };
  },

  components: {
    HeroSection,
    BenefitsSection: () => import('./components/-benefits-section.vue'),
    AmbassadorsSection: () => import('./components/-ambassadors-section')
  }
};
</script>

<style lang="sass">
.ambassadors-page
  .v-application--wrap
    min-height: unset
</style>
