<template>
  <div class="target-audience-block">
    <div class="m-container">
      <div class="target-audience-block-content">
        <h2 class="h2">
          <slot name="title">v-slot:title</slot>
        </h2>
        <div class="target-audience-block__list">
          <slot name="target-audience-list">v-slot:target-audience-list</slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TargetAudienceBlock',
}
</script>

<style lang="sass" scoped>
  .target-audience-block-content
    padding-top: 40px
    //@media (min-width: $tb)
    //  padding-top: 96px
    @media (min-width: $md)
      padding-top: 120px
    @media (min-width: $lp)
      padding-top: 120px
  .h2
    font-weight: 600
    font-size: 32px
    line-height: 36px
    color: #000
    margin: 0 auto
    text-align: center
    width: 256px
    @media (min-width: $tb)
     font-size: 48px
     line-height: 62px
     margin: 0 auto
     width: 581px
    @media (min-width: $md)
      margin: 0 auto
      font-size: 48px
      line-height: 56px
      width: 781px
      font-weight: 700
    @media (min-width: $lp)
      width: 880px
  .target-audience-block__list
    @media (min-width: $md)
      display: flex
      justify-content: space-between
      align-items: baseline
</style>
