<template>
  <div class="target-audience-item">
    <div class="img">
      <div class="img-container">
        <slot name="img">v-slot:img</slot>
      </div>
      <div class="bg">
        <slot name="bg">v-slot:bg</slot>
      </div>
    </div>
    <h3 class="title">
      <slot name="title">v-slot:title</slot>
    </h3>
    <div class="description">
      <slot name="description">v-slot:description</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TargetAudienceItem',
}
</script>

<style lang="sass" scoped>
  .target-audience-item
    //@media (min-width: $tb)
    //  width: 216px
    margin-top: 30px
    margin-left: auto
    margin-right: auto
    @media (min-width: $xs)
      width: 460px
    @media (min-width: $md)
      margin-top: 47px
      width: 293px
      margin-left: unset
      margin-right: unset
    @media (min-width: $lp)
      margin-top: 55px
      width: 365px
    & .title
      letter-spacing: normal!important
      font-weight: 600
      font-size: 22px!important
      line-height: 24px
      color: #101010
      margin-top: 20px
      font-family: "Futura PT", sans-serif !important
      //@media (min-width: $tb)
      //  margin-top: 24px
      @media (min-width: $md)
        margin-top: 24px
        font-size: 24px!important
        line-height: 28px
    & .description
      font-size: 18px
      line-height: 26px
      color: #101010
      margin-top: 16px
      //@media (min-width: $tb)
      //  margin-top: 12px
      @media (min-width: $md)
        font-size: 18px
        line-height: 24px
  .img
    position: relative
    overflow: hidden
    display: flex
    align-items: flex-end
    justify-content: center
    max-width: 460px
    @media (min-width: $md)
      max-width: 365px
      min-height: 269px
    & > .img-container
      position: relative
      z-index: 1
      margin-top: -55px
      height: 100%
      width: 300px
      @media (min-width: $md)
        width: 100%
        margin-top: 0
  .bg
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    img
      object-fit: cover
      height: 126px
      width: 100%
      border-radius: 8px
      display: flex
      align-items: center
      justify-content: center
</style>
