<template>
  <section class="about-us">
    <div class="m-container">
      <div class="about-us-description-block">
        <div class="about-us-logo">
          <img
            :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)"
            alt="logo"
            width="221"
            height="80"
          >
        </div>
        <p class="about-us-description">{{ $t('about-us.description') }}</p>
      </div>
      <div class="about-us-facts">
        <div class="about-us-facts__fact about-us-facts__fact-one">
          <div class="about-us-facts__title">
            {{ $t('about-us.1.title') }}
          </div>
          <div class="about-us-facts__description">
            {{ $t('about-us.1.description') }}
          </div>
        </div>
        <div class="about-us-facts__fact about-us-facts__fact-two">
          <div class="about-us-facts__title">
            {{ $t('about-us.2.title') }}
          </div>
          <div class="about-us-facts__description">
            {{ $t('about-us.2.description') }}
          </div>
        </div>
        <div class="about-us-facts__fact about-us-facts__fact-three">
          <div class="about-us-facts__title">
            {{ $t('about-us.3.title') }}
          </div>
          <div class="about-us-facts__description">
            {{ $t('about-us.3.description') }}
          </div>
        </div>
        <div class="about-us-facts__fact about-us-facts__fact-four">
          <div class="about-us-facts__title">
            {{ $t('about-us.4.title') }}
          </div>
          <div class="about-us-facts__description">
            {{ $t('about-us.4.description') }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass">
.about-us
  & .m-container
    padding-top: 40px
    padding-bottom: 36px
    @media (min-width: $tb)
      padding-top: 82px
      padding-bottom: 48px
      display: flex
    @media (min-width: $md)
      padding-top: 104px
      padding-bottom: 80px
    @media (min-width: $lp)
      padding-top: 120px
  & .about-us-description-block
    margin-bottom: 20px
    @media (min-width: $tb)
      margin-bottom: 0
      max-width: 276px
    @media (min-width: $md)
      max-width: 375px
    @media (min-width: $lp)
      max-width: 461px
  & .about-us-logo
    margin-bottom: 23px
    line-height: 0
    @media (min-width: $tb)
      margin-bottom: 32px
    @media (min-width: $md)
      margin-bottom: 40px
    & img
      @media (min-width: $tb)
        width: 276px
        height: 100px
      @media (min-width: $md)
        width: 337px
        height: 122px
  & .about-us-description
    font-size: 16px
    line-height: 24px
    color: #101010
    @media (min-width: $tb)
      font-size: 18px
      line-height: 24px
    @media (min-width: $md)
      font-size: 24px
      line-height: 32px
  & .about-us-facts
    @media (min-width: $tb)
      display: flex
      flex-wrap: wrap
      justify-content: flex-end
    &__title
      margin-bottom: 16px
      font-weight: 600
      font-size: 40px
      line-height: 40px
      text-transform: uppercase
      color: #333333
      @media (min-width: $tb)
        font-size: 32px
        flex: 1 auto
      @media (min-width: $md)
        font-size: 48px
        line-height: 52px
        letter-spacing: -0.02em
      @media (min-width: $lp)
        font-size: 58px
        line-height: 64px
    &__description
      color: #101010
      font-size: 16px
      line-height: 24px
      @media (min-width: $tb)
        font-size: 12px
        line-height: 18px
      @media (min-width: $md)
        font-size: 18px
        line-height: 24px
    &__fact
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 8px
      margin-bottom: 20px
      padding: 20px
      @media (min-width: $tb)
        max-width: 155px
        height: 187px
        margin-bottom: 28px
        padding: 16px
        display: flex
        flex-direction: column
      @media (min-width: $md)
        max-width: 212px
        height: 267px
        margin-bottom: 32px
        padding: 24px
      @media (min-width: $lp)
        max-width:  266px
        height: 312px
        padding: 32px
      &:last-child
        margin-bottom: 0
      &:nth-child(n+3)
        @media (min-width: $tb)
          margin-bottom: 0
      &:nth-child(2n)
        @media (min-width: $tb)
          margin-left: 28px
        @media (min-width: $md)
          margin-left: 32px
    &__fact-one
      background: #F2C94C
      @media (min-width: $tb)
        margin-top: 28px
      @media (min-width: $md)
        margin-top: 32px
      @media (min-width: $lp)
        margin-top: 64px
    &__fact-two
      background: #87B9E7
    &__fact-three
      background: #D0F2B1
    &__fact-four
      background: #F29C98
      @media (min-width: $tb)
        margin-top: -28px
      @media (min-width: $md)
        margin-top: -32px
      @media (min-width: $lp)
        margin-top: -64px
</style>
