<template>
  <section class="plan">
    <div class="m-container">
      <div class="plan-title">
        <h2 class="h2">{{ $t('plan.h2') }}</h2>
      </div>
      <ul class="plan-list">
        <li class="plan-item">
          <div class="plan-item__index">
            1
          </div>
          <div class="plan-item__content">
            <h3>{{ $t('plan.1.h3') }}</h3>
            <p class="plan-item__description">{{ $t('plan.1.description') }}</p>
          </div>
        </li>
        <li class="plan-item">
          <div class="plan-item__index">
            2
          </div>
          <div class="plan-item__content">
            <h3>{{ $t('plan.2.h3') }}</h3>
            <p class="plan-item__description">{{ $t('plan.2.description') }}</p>
          </div>
        </li>
        <li class="plan-item">
          <div class="plan-item__index">
            3
          </div>
          <div class="plan-item__content">
            <h3 v-html="$t('plan.3.h3')"></h3>
            <p class="plan-item__description">{{ $t('plan.3.description') }}</p>
          </div>
        </li>
        <li class="plan-item">
          <div class="plan-item__index">
            4
          </div>
          <div class="plan-item__content">
            <h3>{{ $t('plan.4.h3') }}</h3>
            <p class="plan-item__description">{{ $t('plan.4.description') }}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<style lang="sass">
.plan
  & .m-container
    background: #EDE2F8
    padding: 40px 20px
    @media (min-width: $tb)
      max-width: 736px
      border-radius: 24px
      padding-left: 18px
      padding-right: 18px
    @media (min-width: $md)
      max-width: 986px
      padding-top: 60px
      padding-bottom: 64px
      padding-left: 20px
      padding-right: 20px
    @media (min-width: $lp)
      max-width: 1224px
      padding-top: 68px
      padding-bottom: 80px
      padding-left: 27px
      padding-right: 27px
  & .h2
    margin-top: 0
    margin-bottom: 0
    line-height: 31px
    @media (min-width: $tb)
      line-height: 62px
  & .plan-title
    @media (min-width: $tb)
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
  & .plan-list
    padding: 0
    margin-top: 32px
    @media (min-width: $tb)
      display: flex
      justify-content: space-between
    @media (min-width: $md)
      margin-top: 48px
  & .plan-item
    list-style: none
    display: flex
    margin-bottom: 24px
    @media (min-width: $tb)
      flex-direction: column
      text-align: center
      justify-content: flex-start
      align-items: center
      width: 155px
      margin-bottom: 0
    @media (min-width: $md)
      width: 212px
    @media (min-width: $lp)
      width: 266px
    &:last-child
      margin-bottom: 0
      @media (min-width: $tb)
        margin-right: 0
    &:first-child
      & .plan-item__content
        & h3
          @media (min-width: $lp)
            padding: 0 40px
    &__index
      width: 60px
      max-width: 60px
      height: 60px
      display: flex
      justify-content: center
      align-items: center
      background: #FFFFFF
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 50%
      flex: 1 0 auto
      font-weight: 600
      font-size: 32px
      line-height: 32px
      text-transform: uppercase
      color: #905DB4
      @media (min-width: $tb)
        flex: initial
        margin-bottom: 20px
        width: 72px
        max-width: 72px
        height: 72px
      @media (min-width: $md)
        width: 84px
        max-width: 84px
        height: 84px
        font-size: 40px
        line-height: 44px
        margin-bottom: 24px
    &__content
      margin-left: 20px
      @media (min-width: $tb)
        margin-left: 0
      & h3
        font-weight: 600
        font-size: 16px
        line-height: 20px
        color: #101010
        @media (min-width: $tb)
          line-height: 21px
        @media (min-width: $md)
          font-size: 24px
          line-height: 32px
    &__description
      font-size: 16px
      line-height: 24px
      color: #101010
      margin-top: 8px
      @media (min-width: $tb)
        line-height: 22px
      @media (min-width: $md)
        margin-top: 16px
        font-size: 18px
        line-height: 24px
</style>
