<template>
  <section class="reviews">
    <div class="m-container reviews-title">
      <h2 class="h2">{{ $t('reviews.h2') }}</h2>
    </div>
    <contentList
      sliderId="reviews-block"
      contentClass="reviews-block__content"
      :isDesktopOneItemSwiper="true"
    >
      <template v-slot:items>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/1.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Beatriz Catarino Martins
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "Design Gráfico"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/1.png" />
                </div>
                <div class="reviews-block__item-review">
                  O Curso de Design Gráfico tem me surpreendido positivamente. A didática dos professores é ótima. Todos os módulos constam com um trabalho de conclusão pelo qual recebemos feedback, algo que eu já tive dificuldade em outros cursos online. Estou bem contente com o curso, e me sinto mais preparada pra iniciar essa nova jornada no Design Gráfico.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/2.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Alexandra Cosati de Carvalho da Silva Pombo
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "Design Gráfico"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/2.png" />
                </div>
                <div class="reviews-block__item-review">
                  Os professores são excelentes e os temas abordados nas aulas são realmente úteis para o mercado de trabalho. Depois de fazer boa parte do curso sinto que tenho uma base de conhecimentos e de ferramentas muito maior do que tinha antes.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/3.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Thiago Henrique Miguel Crivelaro
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Alunо do curso "Design de Interiores"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/3.png" />
                </div>
                <div class="reviews-block__item-review">
                  Adorei! Conteúdo bastante alinhado com o que eu esperava: uma imersão em design de interiores!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/4.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Karla Esteves
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "Design Gráfico"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/4.png" />
                </div>
                <div class="reviews-block__item-review">
                  A metodologia do curso da EBAC tá super atualizada. Os professores e mentores são incríveis. As aulas são muito bem elaboradas e feitas de forma muito explicativa. Já aprendi muito e indico a EBAC pra todo mundo. Adoraria fazer futuramente um curso de UI/UX. Parabéns a todos os responsáveis pelo curso.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/5.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Luis Henri
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluno do curso "Edição de Filmes"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/5.png" />
                </div>
                <div class="reviews-block__item-review">
                  O curso tem um ritmo muito bom. Os professores são ótimos, têm um nível excelente. Adorei os exercícios. Percebo um aumento da minha questão visual. A partir do que vi no módulo sobre cortes, criei um novo corte para meu filme de TCC. Já percebi que minha visão sobre montagem é outra depois do curso. Tudo que vi tem me ajudado bastante. Isso é incrivel! O curso é muito bom.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/6.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Rafael Teixeira Dias
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluno do curso "Figma"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/6.png" />
                </div>
                <div class="reviews-block__item-review">
                  Gosto muito da EBAC. O curso está sendo muito proveitoso e tem sido algo extremamente importante no momento, uma vez que estou me atualizando para conseguir um novo emprego na área do UI/UX. Essa é a minha primeira experiência com EAD, mas estou gostando muito das aulas!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/7.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Lara Vitória Assis Sena
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "Filmmaking"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/7.png" />
                </div>
                <div class="reviews-block__item-review">
                  Estou adorando o curso de filmmaking da EBAC! Superou minhas expectativas! Os tutores oferecem uma perspectiva prática e direta sobre o campo, o que é extremamente necessário e tem me proporcionado grande aprendizado. Indico muito!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/8.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Renata Rocha Pinto
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "UI design"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/8.png" />
                </div>
                <div class="reviews-block__item-review">
                  O curso é super completo, certeiro para a formação de um UI Designer com uma boa base e conhecimentos para a criação de interfaces de excelência. Não é um curso para formar replicadores de telas. Você aprende desde a história do design, tipografia, iconografia até princípios como design atômico. Excelente!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/9.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Larissa Cemin Lópes
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluna do curso "UX Design"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/9.png" />
                </div>
                <div class="reviews-block__item-review">
                  Estou amando os feedbacks. São ótimos para construção do trabalho! Quando comprei, não achei que o curso seria TÃO completo. Aos poucos, para quem quer mudar de área, se torna muito importante esse acompanhamento e o cuidado com o passo a passo da correção do documento inteiro. Estou bem feliz com a minha aquisição e pretendo continuar estudando em outros cursos da EBAC.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
        >
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <img data-not-lazy class="not-lazy" src="~/assets/images/10.png" />
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      Ricardo Patrese Soares Lima
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      Aluno do curso "Illustrator"
                    </div>
                  </div>
                  <img data-not-lazy class="not-lazy" src="~/assets/images/10.png" />
                </div>
                <div class="reviews-block__item-review">
                  EBAC foi uma das melhores coisas que poderia ter me acontecido no campo profissional. Todos os cursos que estou fazendo são excelentes, os professores são bastante técnicos, realmente possuem propriedade para ensinar, e aliam experiência com metodologia eficaz. Eu já tinha feito outros cursos anteriormente, que me deram sim um conhecimento, mas os cursos da EBAC vão de fato a um nível muito mais avançado.
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </contentList>
  </section>
</template>

<script>
import contentList from '../../components/common/contentList'

export default {
  components: {
    contentList,
  },
}
</script>

<style lang="sass">
.reviews
  padding-top: 40px
  @media (min-width: $tb)
    padding-top: 48px
    padding-bottom: 68px
  @media (min-width: $md)
    padding-top: 80px
    padding-bottom: 100px
  @media (min-width: $lp)
    padding-bottom: 100px
  @media (min-width: $xl)
    padding-bottom: 112px
  & .h2
    margin-top: 0
    margin-bottom: 0
    line-height: 31px
    @media (min-width: $tb)
      line-height: 62px
  & .swiper-button-next
    right: 10px
    top: auto
    bottom: 20px
  & .swiper-button-prev
    right: 70px
    left: auto
    top: auto
    bottom: 20px
  & .reviews-title
    @media (min-width: $tb)
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
  & .swiper-slide
    margin-right: 20px
    @media (min-width: $tb)
      width: 100%!important
  & .swiper-current-slide
    position: absolute
    left: 307px
    right: auto
    top: auto
    bottom: 38px
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.06em
    text-transform: uppercase
    color: #101010
    font-weight: 500
    z-index: 1
    @media (min-width: $md)
      left: 414px
    @media (min-width: $lp)
      left: 572px
  & .one-item-swiper-container
    @media (min-width: $tb)
      max-width: 724px
      padding-left: 10px
      padding-right: 10px
    @media (min-width: $md)
      max-width: 964px
      padding-left: 10px
      padding-right: 10px
    @media (min-width: $lp)
      max-width: 1180px
      padding-left: 10px
      padding-right: 10px
  & .reviews-block
    &__content
      padding-top: 20px
      padding-bottom: 40px
      @media (min-width: $tb)
        padding-top: 32px
        padding-bottom: 80px
      @media (min-width: $md)
        padding-top: 60px
        padding-bottom: 20px
      @media (min-width: $lp)
        padding-top: 92px
        padding-bottom: 20px
    & .swiper-slide
      //height: auto
      & .reviews-block__item
        width: 260px
      &:first-child
        & .reviews-block__item
          margin-left: 20px
      &:last-child
        & .reviews-block__item
          margin-right: 20px
    &__item
      cursor: pointer
      position: relative
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 8px
      display: flex
      flex-direction: column
      height: 100%
      background: #F5F5F5
      @media (min-width: $tb)
        display: flex
        flex-direction: row
        background: #FFFFFF
        box-shadow: none
      &-content
        padding: 20px
        display: flex
        flex-direction: row
        @media (min-width: $tb)
          padding: 0
        & > img
          display: none
          height: 216px
          width: 216px
          min-width: 216px
          min-height: 216px
          @media (min-width: $tb)
            display: block
          @media (min-width: $md)
            height: 325px
            width: 325px
            min-width: 325px
            min-height: 325px
          @media (min-width: $lp)
            height: 465px
            width: 465px
            min-width: 465px
            min-height: 465px
        &-wrapper
          display: flex
          flex-direction: column
          @media (min-width: $tb)
            margin-left: 82px
            text-align: left
          @media (min-width: $lp)
            margin-left: 99px
      &-hero
        display: flex
        @media (min-width: $tb)
          order: 1
        &-text
          display: flex
          flex-direction: column
          width: 140px
          @media (min-width: $tb)
            width: auto
            margin-top: 20px
          @media (min-width: $md)
            margin-top: 24px
          @media (min-width: $lp)
            margin-top: 48px
        & img
          height: 64px
          width: 64px
          margin-left: 16px
          @media (min-width: $tb)
            display: none
        &-name
          font-size: 16px
          line-height: 21px
          letter-spacing: 0.03em
          text-transform: uppercase
          color: #101010
          margin-bottom: 8px
          @media (min-width: $tb)
            font-weight: 500
            margin-bottom: 4px
            line-height: 16px
            letter-spacing: 0.06em
          @media (min-width: $md)
            margin-bottom: 12px
        &-course
          color: #828282
      &-review
        margin-top: 19px
        font-size: 18px
        line-height: 24px
        color: #101010
        @media (min-width: $tb)
          order: 0
          margin-top: 0
        @media (min-width: $lp)
          margin-top: 34px
          font-size: 24px
          line-height: 32px
</style>
