@media (min-width: $lp) {
    .content-wrap {
        //display: grid;
        //grid-template-columns: 242px 880px;
        //grid-column-gap: 40px;
        display: flex;
        margin-top: 98px;
    }

    .content-inner-wrap {
        width: 860px;
        margin-left: auto;
    }
}

