.filters {
    margin-bottom: 25px;

    .custom-select__body {
        li {
            &.desktop {
                display: none;
            }
        }

    }
}

.filters__form {
  flex-wrap: wrap;
  display: flex;
  margin-top: -10px;
}

.filters__select {
  flex-shrink: 0;
  margin-top: 10px;
}

.filters__filter-btn {
    //position: relative;
    //min-width: 90px;
    //font-size: 16px;
    //line-height: 16px;
    //color: #905DB4;
    //padding: 15px 0;
    //padding-left: 36px;
    //padding-right: 20px;
    //background-color: transparent;
    //border: 1px solid #905DB4;
    //border-radius: 52px;
    //flex-shrink: 0;
    //cursor: pointer;
    //white-space: nowrap;

    .counter {
        //display: none;
        font-size: 11px;
        margin-left: 4px;
        padding: 0 4px;
        color: #ffffff;
        background-color: #905DB4;
        border-radius: 50%;
        line-height: 15px;
    }

    //&::before {
    //    position: absolute;
    //    display: block;
    //    content: "";
    //    width: 16px;
    //    height: 16px;
    //    background-image: url("~@/assets/svg/filters-icon.svg");
    //    background-repeat: no-repeat;
    //    top: 16px;
    //    left: 16px;
    //}

    &.counter-shown {
        .counter {
            display: initial;
        }
    }
}

.filters__types {
    display: none;
    position: fixed;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 150;
}

.filters__types-inner {
    position: relative;
    padding: 0 20px;
}

.filters__types-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 22px;
    margin-left: 8px;
}

.filters__types-close {
    position: absolute;
    top: -24px;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    padding: 0;
    margin-left: auto;
    background-image: url("../assets/svg/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filters__types-heading {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 12px;
}

.filters__list {
    @include reset-list;
    margin-bottom: 32px;

    li {
        margin-bottom: 16px;
    }
}

.filters__radio-label {
    position: relative;
    font-size: 17px;
    line-height: 22px;
    color: #905DB4;
    padding-left: 32px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid #905DB4;
        border-radius: 50%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        transition: background-color 0.3s;
    }

    &:hover {
        &::before {
            border-width: 2px;
        }
    }
}

.filters__radio:checked + .filters__radio-label {
    &::before {
        background-color: #5F41B2;
        border-color: #5F41B2;
        transition: background-color 0.3s;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background-color: #ffffff;
        border-radius: 50%;
        top: 7px;
        left: 7px;
    }
}

@media (min-width: $tb) {
    .filters {
        margin-bottom: 36px;
    }

    //.filters__filter-btn {
    //    width: 148px;
    //
    //    &::before {
    //        left: 30px;
    //    }
    //}

    .filters__types {
        padding-top: 40px;
        padding-bottom: 66px;
    }

    .filters__types-inner {
        max-width: 704px;
        margin: 0 auto;
        padding: 0;
    }

    .filters__types-close {
        top: -20px;
    }

    .filters__types-title {
        font-size: 32px;
        line-height: 32px;
        margin-left: 0;
        margin-bottom: 40px;
    }
}

@media (min-width: $md) {

    .filters {
        margin-bottom: 42px;
    }

    .filters__types {
        padding-left: 0;
        padding-right: 0;
    }

    .filters__types-inner {
        max-width: 944px;
        margin: 0 auto;
    }

  .filters__form-submit {
    width: 320px!important;
    margin-right: auto;
  }
}

@media (min-width: $lp) {
    .filters {
        // position: sticky;
        //height: fit-content;
        // max-height: 1000px;
        // top: 30px;
        z-index: 3;
    }

    .filters__form {
        display: block ;
    }

    .filters__select {
        margin-bottom: 29px;

        .custom-select__head {
            display: none;
        }

        .custom-select__body {
            position: static;
            display: block !important;
            width: auto;
            background-color: transparent;
            box-shadow: none;
            border: none;

            li {

                &.desktop {
                    display: block;
                }

                &.mobile {
                    display: none;
                }

                a {
                    display: inline-block;
                    width: auto;
                    margin-bottom: 14px;
                    &.active {
                        background-color: #905DB4;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .filters__filter-btn {
        display: none!important;
    }

    .filters__types {
        position: static;
        display: block !important;
        background-color: transparent;
        padding: 0;
        overflow: visible;
    }

    .filters__types-title {
        display: none;
    }

    .filters__types-close {
        display: none;
    }

    .filters__form-submit {
        display: none!important;
    }
}
