@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Futura PT'), url("../assets/fonts/FuturaPT-Book.ttf") format("truetype");
}


@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Futura PT'), url("../assets/fonts/FuturaPT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Futura PT'), url("../assets/fonts/FuturaPT-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Futura PT'), url("../assets/fonts/FuturaPT-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik'), url("../assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Poppins'), url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins'), url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}
