.info {
    margin-bottom: 52px;
}

.info__title {
    font-size: 26px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info__descr {
    display: block;
    color: #777777;
    margin: 0 0 16px;
}

@media (min-width: $tb) {
    .info {
        margin-bottom: 92px;
    }

    .info__descr {
        margin-bottom: 32px;
    }
}
@media (min-width: $lp) {
    .info {
        width: 860px;
        margin-left: auto;
    }
}
