.intro {
    display: none;
}

@media (min-width: $md) {
    .intro {
        display: block;
        background-image: linear-gradient(0deg, #F5F6F7, #F5F6F7), linear-gradient(89.5deg, #FBE9D7 0%, #EBF4F5 128.54%);
    }

    .intro__inner {
        position: relative;
        max-width: 944px;
        padding-top: 21px;
        padding-bottom: 30px;
        margin: 0 auto;
        background-image: url("../assets/svg/intro-bg.svg");
        background-repeat: no-repeat;
        background-position: right 52px bottom;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 154px;
            height: 154px;
            background-image: url("../assets/svg/dots-bg.svg");
            background-repeat: no-repeat;
            right: 0;
            top: 102px;
        }
    }

    //.intro__title {
    //    font-size: 48px;
    //    line-height: 62px;
    //    font-weight: 600;
    //    color: #000000;
    //    text-transform: uppercase;
    //    margin: 0;
    //}
}

@media (min-width: $lp) {
    .intro__inner {
        max-width: 1160px;
    }
}

@media (max-width: $lp) {
    .intro__inner {
      padding-top: 13px;
      padding-bottom: 14px;
    }
}

//@media (min-width: $xl) {
//    .intro__inner {
//        max-width: 1280px;
//    }
//}
