// Плагины
@import "normalize.css/normalize.css";

// Переменные и миксины
@import "mixins/variables";
@import "mixins/mixins";

// Базовые стили
@import "modules/scss/base";

// Стили шаблона и других элементов
@import "modules/scss/layouts";
@import "modules/scss/app";

@import "fonts";
@import "modules/page-header";
@import "modules/main-nav";
@import "main-search-form";
@import "modules/custom-select";
@import "filters";
@import "modules/range";
@import "products";
@import "info";
@import "modules/page-footer";
@import "intro";
@import "content-wrap";

.__nuxt-error-page {
  z-index: 9999;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 0;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  background: transparent;
  text-align: center;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: all .2s;
  user-select: none;

  &_md {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 22px 36px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-radius: 40px;
  }
  &_sm {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 32px;
    border-radius: 24px;
  }

  &_outline {
    border-width: 1px;
    border-style: solid;
    &.btn_color-primary {
      &:hover, &:active {
        background: #D36133;
        color: #FFFFFF;
      }
      border-color: #D36133;
      background: #FFFFFF;
      color: #D36133;
    }
    &.btn_color-secondary {
      &:hover, &:active {
        background: #7733A7;
        color: #FFFFFF;
      }
      border-color: #905DB4;
      background: #FFFFFF;
      color: #905DB4;
    }
  }
  &_base {
    &.btn_color-primary {
      &:hover, &:active {
        background: #E97242;
      }
      background: #D36133;
      color: #FFFFFF;
    }
    &.btn_color-secondary {
      &:hover, &:active {
        background: #7733A7;
      }
      background: #905DB4;
      color: #FFFFFF;
    }
  }
}

.radio-label {
  position: relative;
  color: #905DB4!important;
  padding-left: 30px;
  cursor: pointer;
  &:hover {
    &::before {
      border-width: 2px!important;
    }
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #905DB4;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: background-color 0.2s;
  }
}

.radio-input:checked + .radio-label {
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 7px;
    left: 7px;
  }
  &::before {
    background-color: #905DB4;
    border-color: #905DB4;
  }
}

.checkbox-label {
  position: relative;
  color: #905DB4!important;
  padding-left: 30px;
  cursor: pointer;
  &:hover {
    &::before {
      border-width: 2px!important;
    }
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #905DB4;
    border-radius: 4px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: background-color 0.2s;
  }
}

.checkbox-input:checked + .checkbox-label {
  &::after {
    position: absolute;
    content: "";
    display: block;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 4px;
    left: 8px;
    width: 6px;
    height: 11px;
  }
  &::before {
    background-color: #905DB4;
    border-color: #905DB4;
  }
}

.h1 {
  //@media (max-width: $tb) {
  //  font-weight: 600;
  //  font-size: 32px;
  //  line-height: 38px;
  //  margin-bottom: 20px;
  //  margin-top: 35px;
  //}

  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
  margin-top: 35px;
  color: #000000;
  font-style: normal;
  @media (min-width: $tb) {
    font-weight: bold;
    font-size: 52px;
    line-height: 67px;
    margin-bottom: 32px;
    margin-top: 60px;
  }
}

.h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
  margin-top: 32px;

  color: #000000;
  font-style: normal;

  @media (min-width: $tb) {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
    margin-top: 48px;
  }
}

.h3 {
  @media (max-width: $tb) {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 32px;
  }
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
  margin-top: 34px;
  color: #000000;
  font-style: normal;
}

.h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 32px;
  color: #000000;
  font-style: normal;

  @media (min-width: $tb) {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 38px;
  }
}

.body-m {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tb) {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}

.body-s {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  @media (min-width: $tb) {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #101010;

  @media (min-width: $tb) {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }
}

.captions-16 {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #101010;
}

.base-20-medium {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #101010;
}

.base-11-captions {
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #101010;
}

.captions {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D36133;
}

#back-to-top {
  background: #EDE2F8;
  width: 52px;
  height: 52px;
  transition: all .3s;
  color: #000;
  bottom: 19px;
  right: 19px;
  z-index: 4;

  @media (min-width: $tb) {
    bottom: 39px;
    right: 39px;
  }

  &:hover {
    background: #905DB4;
    color: white;
  }
  svg {
    width: 19px;
    height: 9px;
    margin: 21px auto 0;
  }
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

img {
  opacity: 0;
  display: block;
  content-visibility: auto;
}

.isLoading, .lazyLoad {
  opacity: 0;
}

.isLoaded, .not-lazy {
  opacity: 1;
}

.full-vh {
  height: 100vh;
}

.link {
  color: #905DB4!important;
  transition: color .3s;
  &:hover {
    opacity: .8;
  }
}

.image-desktop {
  display: none;
  @media (min-width: $tb) {
    display: block;
  }
}

.image-mobile {
  @media (min-width: $tb) {
    display: none;
  }
}
