.main-search-form {
  position: relative;
  margin-top: 32px;
  margin-bottom: 20px;
  z-index: 1;
}

.main-search-form__wrap {
  position: relative;
  -webkit-appearance: none;

  .search-button {
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    transition: background 0.3s;
  }


  .clear-search-button {
    position: absolute;
    font-size: 0;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    background-image: url("../assets/svg/search-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}

.main-search-form__input {
  position: relative;
  width: 100%;
  height: 44px;
  padding: 14px 0;
  padding-left: 44px;
  padding-right: 20px;
  background-color: #ffffff;
  //border: none;
  border-radius: 4px;
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0 8px 24px -4px rgba(24, 39, 75, 0.08);
  transition: all 0.15s;
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  font-size: 18px;
  line-height: 16px;
  color: #000000;
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  &::placeholder {
    transition: all 0.15s;
    color: #BDBDBD;
  }

  &:hover {
    background: #FBFBFB;
    box-shadow: 0px 12px 20px -6px rgba(24, 39, 75, 0.12), 0px 12px 40px -4px rgba(24, 39, 75, 0.1);

    &::placeholder {
      color: #828282;
    }
  }

  &:focus, &:active {
    border: 1px solid #905DB4;
  }
}

//.main-search-form__icon {
//    position: absolute;
//    left: 11px;
//    top: 11px;
//    opacity: 0.64;
//
//    path {
//        fill: tomato !important;
//    }
//}

@media (min-width: $tb) {
  .main-search-form {
    margin-bottom: 18px;
  }
}

@media (min-width: $md) {
  .main-search-form {
    width: 644px;
    margin-top: -29px;
    margin-bottom: 36px;
  }

  .main-search-form__icon {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .main-search-form__wrap {
    .search-button,
    .clear-search-button {
      width: 56px;
      height: 56px;
    }
  }

  .main-search-form__input {
    height: 56px;
    padding-left: 52px;
    background-position: 16px center;
  }
}
