.products {
    margin-bottom: 64px;

    &:last-of-type {
        margin-bottom: 48px;
    }
}

//@media (max-width: $tb) {
//  .products__top-wrap {
//    align-items: flex-start;
//  }
//}

.products__top-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & .body-m {
      margin-top: 25px;
    }
    @media (max-width: $tb) {
      & .body-m {
        margin-top: 4px;
      }
    }
}

.products__title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    flex-shrink: 0;
}

.products__title.h2 {
  margin-top: 0;
}

.products__category {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0;
    flex-shrink: 0;

    .quantity {
        margin-right: 3px;
    }
}

//@media (max-width: $xs) {
//  .products__item {
//    &:hover {
//      &::after {
//        transform: scale(5)!important;
//        -o-transform: scale(5)!important;
//        -ms-transform: scale(5)!important;
//        -moz-transform: scale(5)!important;
//        -webkit-transform: scale(5)!important;
//      }
//    }
//  }
//}
//
//@media (max-width: 768px) {
//  .products__item {
//    width: 10px!important;
//    &:hover {
//      &::after {
//        transform: scale(11)!important;
//        -o-transform: scale(11)!important;
//        -ms-transform: scale(11)!important;
//        -moz-transform: scale(11)!important;
//        -webkit-transform: scale(11)!important;
//      }
//    }
//  }
//}

.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 148px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    transition: all .2s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    //-webkit-mask-image: -webkit-radial-gradient(white, black);

    //&::before {
    //    position: absolute;
    //    display: block;
    //    top: 0;
    //    left: 0;
    //    right: 0;
    //    bottom: 0;
    //    content: "";
    //    width: 100%;
    //    height: 100%;
    //    -webkit-mask-image: -webkit-radial-gradient(white, black);
    //    z-index: 1;
    //}

    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 135px;
        height: 136px;
        border-radius: 50%;
        top: 6px;
        right: -40px;
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transition: transform 0.8s;
        -o-transition: transform 0.8s;
        -ms-transition: transform 0.8s;
        -moz-transition: transform 0.8s;
        -webkit-transition: transform 0.8s;
        overflow: hidden;
        z-index: 1;
        //-webkit-transform-style: preserve-3d;
        //-webkit-backface-visibility: hidden;
    }

    &:hover {
      box-shadow: 0px 12px 20px -6px rgba(24, 39, 75, 0.12), 0px 12px 40px -4px rgba(24, 39, 75, 0.1);

        &::after {
            transform: scale(5);
            -o-transform: scale(5);
            -ms-transform: scale(5);
            -moz-transform: scale(5);
            -webkit-transform: scale(5);

          @media (max-width: 767.9px) {
            transform: scale(11);
            -o-transform: scale(11);
            -ms-transform: scale(11);
            -moz-transform: scale(11);
            -webkit-transform: scale(11);
          }

          @media (max-width: 540px) {
            transform: scale(7);
            -o-transform: scale(7);
            -ms-transform: scale(7);
            -moz-transform: scale(7);
            -webkit-transform: scale(7);
          }
        }

        .products__item-category {
          color: #101010;
        }
    }

    &::after {
        background-color: var(--product-color);
    }
}

.products__item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #101010;
    margin: 0;
}

.products__item-wrap {
    position: relative;
    width: 152px;
    z-index: 3;

    @media (min-width: 400px) and (max-width: 767px) {
      width: auto;
      max-width: 240px;
    }
}

.products__item-badge {
  background: #CADF9E;
  border-radius: 4px;
  padding: 0 8px;
  color: #10001F;
  font-size: 14px;
  line-height: 24px;
  margin: 8px 0;
  width: 92px;
  text-align: center;
}

.products__item-duration {
    position: relative;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    z-index: 2;
}

.products__item-category {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    font-weight: 400;
    color: #D36133;
    transition: all .2s;
}

.products__item-image {
    position: absolute;
    width: 146px;
    height: 148px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    //object-fit: cover;
    right: -15px;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}

.products__show-more {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media (min-width: $tb) {

    .products {
        margin-bottom: 48px;

        &:last-of-type {
            margin-bottom: 85px;
        }
    }

    //.products__top-wrap {
    //    margin-bottom: 32px;
    //}

    .products__title {
        font-size: 32px;
        line-height: 32px;
    }

    .products__category {
        font-size: 20px;
        line-height: 20px;
    }

    .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }

    .products__item-wrap {
      width: 221px;
    }

    .products__item {
        margin-bottom: 0;
    }

    .products__item-duration {
        font-size: 14px;
    }

    .products__show-more {
        padding: 20px;
        margin-top: 31px;
    }
}

@media (min-width: $md) {
    .products {
        &:last-of-type {
            margin-bottom: 64px;
        }
    }

    .products__title {
        font-size: 40px;
        line-height: 44px;
    }

    .products__item {
        min-height: 220px;
        padding: 24px;
        padding-top: 28px;

        &::after {
            top: 14px;
            width: 194px;
            height: 194px;
        }
    }

    .products__item-duration {
        font-size: 16px;
    }

    .products__item-title {
        width: 211px;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .products__item-category {
        font-size: 16px;
    }

    .products__item-image {
        width: 212px;
        height: 220px;
    }
}
