.v-application
  font-family: "Futura PT", sans-serif!important
.v-application p
  margin-bottom: 0!important
.v-application a
  color: currentColor
  text-decoration: inherit
.v-application .error--text
  color: $negative!important
  caret-color: $negative!important
p
  margin: 0
v-select__selections
  display: flex

// BTN START
a.v-btn
  text-decoration: none!important
.v-btn
  transition-property: box-shadow, transform, opacity, background, color!important
.v-btn.v-size--large
  font-weight: 400
  font-size: 18px!important
  line-height: 24px
  padding: 12px 32px!important
  border-radius: 50px
  height: auto!important
  text-transform: initial
  letter-spacing: initial
.v-btn.v-size--x-large
  font-weight: 400
  font-size: 14px!important
  line-height: 16px
  border-radius: 40px
  height: auto!important
  letter-spacing: 0.03em
  padding: 14px 32px!important
  @media (min-width: $tb)
    padding: 20px 36px!important
    font-weight: 500
.theme--light.v-btn:hover::before
  opacity: 0!important
.v-application .secondary.v-btn
  color: #ffffff!important
  &:hover, &:active
    background: #7733A7!important
.v-application .primary.v-btn
  color: #ffffff!important
  &:hover, &:active
    background: #E97242!important
.v-application .v-btn--outlined.secondary--text
  &:hover, &:active
    background: #7733A7!important
    color: #ffffff!important
.v-application .v-btn--outlined.primary--text
  &:hover, &:active
    background: #D36133!important
    color: #ffffff!important
.v-btn--is-elevated.v-btn--fab
  box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)!important
.v-btn--fab.v-size--default, .v-btn--icon.v-size--default
  height: 52px!important
  width: 52px!important
.v-btn--icon
  & svg
    transition-property: box-shadow, color
    transition-duration: 0.28s
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
.v-btn--icon.secondary--text
  & svg
    color: #905DB4!important
  &:hover
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)!important
    background: #7733A7!important
    & svg
     color: #ffffff!important
.v-btn--icon.primary--text
  & svg
    color: #D36133!important
  &:hover
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)!important
    background: #E97242!important
    & svg
     color: #ffffff!important
// BTN END

// INPUT
.v-input
  position: relative
  align-items: flex-start
  display: flex
  flex: 1 1 auto
  font-size: 16px
  letter-spacing: normal
  max-width: 100%
  text-align: left
.v-input__control
  display: flex
  flex-direction: column
  height: auto
  flex-grow: 1
  flex-wrap: wrap
  min-width: 0
  width: 100%
.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot
  display: flex
  flex: 1 1 auto
  position: relative
.v-text-field.v-text-field--solo .v-label
  top: calc(50% - 9px)
.theme--light.v-text-field--solo>.v-input__control>.v-input__slot
  background: #fff
.v-select__slot
  position: relative
  align-items: center
  display: flex
  max-width: 100%
  min-width: 0
  width: 100%
.v-input__slot
  align-items: center
  color: inherit
  display: flex
  margin-bottom: 8px
  min-height: inherit
  position: relative
  transition: .3s cubic-bezier(.25,.8,.5,1)
  width: 100%
.v-messages
  flex: 1 1 auto
  font-size: 12px
  min-height: 14px
  min-width: 1px
  position: relative

.theme--light.v-label
  color: #BDBDBD!important
.v-text-field.v-input--is-focused
  & .v-input__slot
    border: 1px solid #905DB4
.v-text-field
  & input, & .v-input__slot
    max-height: 56px!important
  & .v-input__slot
    border: 1px solid #ffffff
    box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08)!important
    border-radius: 4px!important
    transition-property: color, background, box-shadow!important
    margin-bottom: 6px!important
    &:hover
      background: #FBFBFB!important
      box-shadow: 0 12px 20px -6px rgba(24, 39, 75, 0.12), 0px 12px 40px -4px rgba(24, 39, 75, 0.1)!important
      & .v-label
        color: #828282!important
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot
  padding: 0 20px!important
.v-text-field .v-label
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 17px!important
.v-text-field input
  padding: 18px 0 18px!important
.theme--light.v-input input, .theme--light.v-input textarea
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 16px
  color: #101010!important

.error--text
  & .v-text-field__details
    padding: 0!important
    margin-bottom: 8px!important
  & .v-input__slot
    border-color: $negative
  & .v-messages__message
    font-size: 16px
    line-height: 22px

.v-text-field__details
  margin-bottom: 0!important
// INPUT END

// DIALOG
.v-dialog
  //margin-left: 0!important
  //margin-right: 0!important
  margin: 0!important
  box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)!important
  border-radius: 0!important
  max-height: 100%!important
  @media (min-width: 490px)
    border-radius: 8px!important
  & .v-sheet.v-card
    border-radius: 0!important
    @media (min-width: 490px)
      border-radius: 8px!important
  & .close-dialog
    position: absolute
    display: block
    top: 11px
    right: 11px
    width: 16px
    height: 16px
    font-size: 0
    border: none
    background-color: transparent
    background-image: url("../assets/svg/close-dialog.svg")
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
    transition: opacity 0.3s
    &_black
      background-image: url("../assets/svg/close-icon.svg")!important
      background-color: #fff
      z-index: 1
      border-radius: 50%
      width: 23px!important
      height: 23px!important
      @media (min-width: 490px)
        width: 22px!important
        height: 22px!important
    &:hover
      opacity: .8
    @media (min-width: 490px)
      background-image: url("../assets/svg/close-dialog-desktop.svg")
      right: 14px
      top: 14px
      width: 32px
      height: 32px
  & .info-dialog
    padding: 32px 20px 20px 20px
    @media (min-width: 490px)
      padding: 40px
    &__title
      font-weight: 600
      font-size: 20px
      line-height: 26px
      color: #333333
      margin-bottom: 12px
      text-align: center
      @media (min-width: 490px)
        font-size: 32px
        line-height: 38px
        margin-bottom: 16px
    &__description
      font-size: 18px
      line-height: 24px
      color: #333333
      @media (min-width: 490px)
        font-size: 18px
        line-height: 24px
    &__actions
      padding-top: 32px
      display: flex
      justify-content: center
    &__button
      height: 48px!important
      font-size: 18px!important
      line-height: 24px!important
      @media (min-width: 490px)
        height: 60px!important
        font-size: 14px!important
        line-height: 18px!important
        max-width: 258px!important
      &_full-width
        width: 100%
// DIALOG END
