<template>
  <v-card class="detail-product-dialog-content">
    <div
      v-if="$store.state.sale.detailProductDialog.loading"
      class="loading-wrapper"
    >
      <v-progress-linear
        indeterminate
        color="primary"
        class="mb-0"
      ></v-progress-linear>
    </div>
    <div
      v-else
      class="content-wrapper"
    >
      <div
        class="close-dialog close-dialog_black"
        @click="$store.commit('sale/setIsDisplayDetailProductDialog', false)"
      />
      <div
        v-if="$store.state.sale.detailProductDialog.content.img"
        class="img"
      >
        <img
          class="img__mobile"
          :src="$store.state.sale.detailProductDialog.content.img.url"
        />
        <img
          class="img__desktop"
          :src="$store.state.sale.detailProductDialog.content.img.url"
        />
      </div>
      <div
        class="content"
      >
        <div class="months">
          {{ $tc('month', $store.state.sale.detailProductDialog.content.months) }}
        </div>
        <div class="title">
          {{ $store.state.sale.detailProductDialog.content.title }}
        </div>
        <div class="description">
          {{ $store.state.sale.detailProductDialog.content.description }}
        </div>

        <div
          v-if="youtubeVideoId"
          class="block-title"
        >
          {{ $t('sale.trailer') }}
        </div>
        <trailer
          v-if="youtubeVideoId"
          :youtubeVideoId="youtubeVideoId"
          withoutPreview
        />

        <div
          v-if="$store.state.sale.detailProductDialog.content.program && $store.state.sale.detailProductDialog.content.program.length"
          class="block-title"
        >
          {{ $store.state.sale.detailProductDialog.productType === 'course' ? $t('sale.detailProductDialog.courseProgram') : $t('sale.detailProductDialog.professionProgram') }}
        </div>
        <div
          v-if="$store.state.sale.detailProductDialog.content.program && $store.state.sale.detailProductDialog.content.program.length"
          class="program-block"
        >
          <ol>
            <li
              v-for="(program, index) of $store.state.sale.detailProductDialog.content.program"
              :key="index"
              v-html="program"
            />
          </ol>
        </div>

        <div
          v-if="$store.state.sale.detailProductDialog.content.courseProgram"
          class="btn btn_md btn_outline btn_color-secondary download-course-program-btn"
          @click="openFile"
        >
          <div>
            {{ $t('sale.downloadCourseProgram') }}
          </div>
        </div>

        <div v-if="$store.state.sale.detailProductDialog.content.skills && $store.state.sale.detailProductDialog.content.skills.length">
          <div class="block-title">
            {{ $t('sale.detailProductDialog.skillsBlockTitle') }}
          </div>
          <div class="skills-block">
            <div class="skill-col skill-col_left">
              <div
                v-for="(skill, index) of skillsColOne"
                :key="index"
                class="skill"
              >
                <div class="skill__title">
                  {{ skill.title }}
                </div>
                <div class="skill__description">
                  {{ skill.description }}
                </div>
              </div>
            </div>
            <div class="skill-col skill-col_right">
              <div
                v-for="(skill, index) of skillsColTwo"
                :key="index"
                class="skill"
              >
                <div class="skill__title">
                  {{ skill.title }}
                </div>
                <div class="skill__description">
                  {{ skill.description }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          v-if="$store.state.sale.detailProductDialog.content.teachers && $store.state.sale.detailProductDialog.content.teachers.length"
          class="block-title block-title_teachers"
        >
          {{ $t('sale.detailProductDialog.teachers') }}
        </div>
      </div>

      <teachers
        v-if="$store.state.sale.detailProductDialog.content.teachers && $store.state.sale.detailProductDialog.content.teachers.length"
        :teachers="$store.state.sale.detailProductDialog.content.teachers"
      />

      <div class="footer-actions">
        <v-btn
          v-if="!$store.state.sale.detailProductDialog.product.inBasket"
          color="primary"
          rounded
          depressed
          x-large
          :ripple="false"
          @click="addToBasket"
        >
          {{ $t('sale.detailProductDialog.footer.addButton') }}
        </v-btn>
        <v-btn
          v-else
          rounded
          depressed
          x-large
          :ripple="false"
          @click="removeFromBasket"
          class="remove-from-basket-button"
        >
          {{ $t('sale.product.remove') }}
        </v-btn>
      </div>
    </div>
  </v-card>
</template>

<script>
import teachers from './teachers'
import trailer from './trailer'
import parseYoutubeLinkToId from '../../../../utils/parseYoutubeLinkToId'

export default {
  computed: {
    youtubeVideoId() {
      const trailerUrl = this.$store.state.sale.detailProductDialog.content.trailerUrl;
      return parseYoutubeLinkToId(trailerUrl);
    },
    skillsColOne() {
      const skills = this.$store.state.sale.detailProductDialog.content.skills;
      return skills.filter((v, i) => i % 2 === 0);
    },
    skillsColTwo() {
      const skills = this.$store.state.sale.detailProductDialog.content.skills;
      return skills.filter((v, i) => i % 2 !== 0);
    }
  },
  methods: {
    openFile() {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_click', 'eventAction': 'pdf', 'eventLabel': this.$store.state.sale.detailProductDialog.content.title });

      window.open(this.$store.state.sale.detailProductDialog.content.courseProgram.url, '_blank');
    },
    addToBasket() {
      this.$store.commit('sale/setDetailProductDialog', {
        ...this.$store.state.sale.detailProductDialog,
        product: {
          ...this.$store.state.sale.detailProductDialog.product,
          inBasket: true,
        },
      });
      this.$emit('addToBasket', { item: this.$store.state.sale.detailProductDialog.product, type: this.$store.state.sale.detailProductDialog.productType });
    },
    removeFromBasket() {
      this.$store.commit('sale/setDetailProductDialog', {
        ...this.$store.state.sale.detailProductDialog,
        product: {
          ...this.$store.state.sale.detailProductDialog.product,
          inBasket: false,
        },
      });
      this.$emit('removeFromBasket', { item: this.$store.state.sale.detailProductDialog.product, type: this.$store.state.sale.detailProductDialog.productType });
    },
  },
  watch: {
    '$store.state.sale.isDisplayDetailProductDialog'() {
      if (!this.$store.state.sale.isDisplayDetailProductDialog) this.$destroy();
    },
  },
  components: {
    teachers,
    trailer,
  },
}
</script>

<style
  lang="sass"
  scoped
>
.detail-product-dialog-content
  overflow: hidden
  height: 100%
.trailer
  margin-bottom: 40px
  @media (min-width: $tb)
    margin-bottom: 45px
.download-course-program-btn
  margin-bottom: 50px
  color: #263238!important
  line-height: 24px
  border-radius: 24px
  font-weight: 600
  padding: 11px 36px!important
  &:hover
    color: #fff!important
.close-dialog
  right: 15px
  top: 26px
  @media (min-width: $tb)
    right: 30px
    top: 27px
.v-dialog .v-sheet.v-card
  border-radius: 0!important
  @media (min-width: $tb)
    border-radius: 11px!important
.v-card
  padding: 0
.loading-wrapper
  padding: 20px
.content
  padding: 17px 20px 0 20px
  @media (min-width: $tb)
    padding: 33px 30px 0 30px
.img
  & img
    object-fit: cover
    width: 100%
    height: 100%
  &__mobile
    @media (min-width: $tb)
      display: none
  &__desktop
    display: none
    @media (min-width: $tb)
      display: block
.months
  font-size: 16px
  line-height: 130%
  color: #000000
  margin-bottom: 2px
.title
  font-weight: 600
  line-height: 130%
  color: #101010
  margin-bottom: 18px
  font-size: 24px!important
  @media (min-width: $tb)
    margin-bottom: 27px
    font-size: 48px!important
.description
  font-size: 16px
  line-height: 130%
  color: #000000
  margin-bottom: 40px
  max-width: 594px
  @media (min-width: $tb)
    margin-bottom: 35px
.block-title
  font-weight: 600
  font-size: 18px
  line-height: 130%
  color: #000000
  margin-bottom: 13px
  @media (min-width: $tb)
    font-size: 24px
    margin-bottom: 28px
  &_teachers
    @media (min-width: $tb)
      margin-bottom: 37px
.program-block
  background: #EDE2F8
  border-radius: 8px
  margin-bottom: 21px
  padding: 15px 10px 49px 10px
  @media (min-width: $tb)
    padding: 29px 28px 29px 28px
    margin-bottom: 32px
  & ol
    padding: 0
    list-style-position: inside
    list-style-type: disc
    -moz-column-count: 1 /* Firefox */
    -webkit-column-count: 1 /* Safari and Chrome */
    column-count: 1
    margin-left: -30px
    @media (min-width: $tb)
      -moz-column-count: 2 /* Firefox */
      -webkit-column-count: 2 /* Safari and Chrome */
      column-count: 2
    & li
      padding-left: 30px
      font-size: 16px
      line-height: 200%
      color: #000000
.skills-block
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 32px

.skill
  background: #F8F8F8
  border-radius: 8px
  margin-bottom: 20px
  padding: 20px 12px 20px 20px
  @media (min-width: $tb)
    padding: 20px
  &-col
    width: 333px
    @media (max-width: 796px)
      width: 100%
    &_right
      margin-left: 16px
      @media (max-width: 796px)
        margin-left: 0
  &__title
    font-weight: 600
    font-size: 16px
    line-height: 130%
    color: #000000
    margin-bottom: 21px
  &__description
    font-size: 16px
    line-height: 130%
    color: #000000
.content-wrapper
  height: 100%
  overflow: auto
.footer-actions
  display: flex
  justify-content: center
  margin-top: 69px
  padding: 0 20px 96px 20px
  @media (min-width: $tb)
    margin-top: 57px
    padding-bottom: 50px
  & .v-btn
    min-width: 240px
    width: 100%
    max-height: 48px
    font-weight: 600
    @media (min-width: $tb)
      font-size: 14px!important
      min-width: 336px
  & .remove-from-basket-button
    color: var(--sale-primary-alternative-antagonist)!important
    background-color: var(--sale-primary-alternative)!important
    border-color: var(--sale-primary-alternative)!important
    &:hover
      opacity: .7
</style>
