<template>
  <contentList
    sliderId="teachers"
    contentClass="teachers__content"
    :isDisplayOnDesktop="true"
    :displayNumber="4"
  >
    <template v-slot:items>
      <div
        v-for="teacher of teachers"
        class="swiper-slide"
      >
        <div class="teachers__item">
          <div class="teachers__item-content">
            <img
              v-if="teacher.image"
              :src="teacher.image.url"
            />
            <div class="teachers__item-title">
              {{ teacher.name }}
            </div>
            <div class="teachers__item-description">
              {{ teacher.subtitle }}
            </div>
          </div>
        </div>
      </div>
    </template>
  </contentList>
</template>

<script>
import contentList from '../../../../components/common/contentList'

export default {
  props: [
    'teachers',
  ],
  components: {
    contentList,
  },
}
</script>

<style
  lang="sass"
  scoped
>
.content-list
  &::v-deep .teachers
    &__content
      display: flex
    &.m-container
      @media (min-width: $tb)
        margin: 0
        padding: 0 30px
        max-width: initial
.teachers
  & .swiper-slide
    height: auto
    margin-right: 20px
    margin-left: 20px
    @media (min-width: $tb)
      margin-right: 10px
      margin-left: 10px
    &:last-child
      margin-left: 0
      @media (min-width: $tb)
        margin-left: 10px
    &:first-child
      margin-left: 0
      & .teachers__item
        margin-left: 20px
        @media (min-width: $tb)
          margin-left: 30px
    &:last-child
      & .teachers__item
        margin-right: 20px
  &__item
    position: relative
    border-radius: 8px
    display: flex
    flex-direction: column
    width: 219px
    @media (min-width: $tb)
      display: flex
      width: 161px
    &-content
      display: flex
      flex-direction: column
      height: 100%
      width: auto
      overflow: hidden
    &-img-container
      height: auto
    & img
      object-fit: cover
      border-radius: 8px
      width: 219px
      height: 219px
      @media (min-width: $tb)
        width: 161px
        height: 161px
        overflow: hidden
    &-title
      font-weight: 600
      font-size: 16px
      line-height: 130%
      color: #000000
      margin-top: 18px
      @media (min-width: $tb)
        margin-top: 16px
    &-description
      font-size: 16px
      line-height: 130%
      color: #000000
      margin-top: 9px
      @media (min-width: $tb)
        font-size: 12px
</style>
