<template>
  <div class="course-routine-item">
    <div class="course-routine-item__index">
      <slot name="index">v-slot:index</slot>
    </div>
    <div class="course-routine-item__content">
      <h3 class="course-routine-item__title">
        <slot name="title">v-slot:title</slot>
      </h3>
      <div class="course-routine-item__description">
        <slot name="description">v-slot:description</slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CourseRoutineItem',
}
</script>

<style
  lang="sass"
  scoped
>
  .course-routine-item
    margin-bottom: 24px
    display: flex
    //@media (min-width: $tb)
    //  width: 154px
    //  flex-direction: column
    //  margin-bottom: 0
    //  align-items: center
    //  margin-left: 29px
    @media (min-width: $md)
      width: 212px
      margin-left: 32px
      flex-direction: column
      margin-bottom: 0
      align-items: center
    @media (min-width: $lp)
      width: 266px
      margin-left: 32px
    &__index
      background: linear-gradient(74.83deg, #4C4177 0%, #7F5A83 100%)
      border-radius: 50%
      height: 60px
      width: 60px
      min-height: 60px
      min-width: 60px
      display: flex
      align-items: center
      justify-content: center
      font-weight: 600
      font-size: 32px
      line-height: 32px
      text-transform: uppercase
      color: #FFFFFF
      //@media (min-width: $tb)
      //  height: 72px
      //  width: 72px
      //  min-height: 72px
      //  min-width: 72px
      //  line-height: 38px
      @media (min-width: $md)
        height: 84px
        width: 84px
        min-height: 84px
        min-width: 84px
        font-size: 40px
        line-height: 44px
    &__content
      margin-left: 20px
      //@media (min-width: $tb)
      //  margin-left: 0
      //  margin-top: 20px
      @media (min-width: $md)
        margin-top: 24px
        margin-left: 0
    &__title
      font-weight: 600
      font-size: 16px
      line-height: 20px
      color: #101010
      //@media (min-width: $tb)
      //  text-align: center
      @media (min-width: $md)
        text-align: center
        font-size: 24px
        line-height: 28px
    &__description
      margin-top: 8px
      font-size: 16px
      line-height: 24px
      color: #000000
      //@media (min-width: $tb)
      //  text-align: center
      @media (min-width: $md)
        text-align: center
        margin-top: 16px
        font-size: 18px
        line-height: 24px
        color: #101010
</style>
