<template>
  <div class="course-routine-block">
    <div class="m-container">
      <div class="course-routine-block-content">
        <h2 class="h2">
          <slot name="title">v-slot:title</slot>
        </h2>
        <div class="course-routine-block-content__list">
          <slot name="course-routine-list">v-slot:course-routine-list</slot>
        </div>
        <div class="life-time-access">
          <slot name="life-time-access"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CourseRoutineBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .course-routine-block
    margin-top: 40px
    padding-top: 40px
    padding-bottom: 40px
    background: #EDE2F8
    //@media (min-width: $tb)
    //  margin-top: 48px
    //  padding-top: 48px
    //  padding-bottom: 48px
    @media (min-width: $md)
      margin-top: 80px
      padding-top: 80px
      padding-bottom: 80px
  .h2
    font-weight: 600
    font-size: 32px
    line-height: 38px
    color: #000
    margin: 0
    text-align: center
    @media (min-width: $md)
      font-size: 48px
      line-height: 62px
  .course-routine-block-content
    &__list
      margin-top: 32px
      & .course-routine-item
        &:last-child
          margin-bottom: 0
        &:first-child
          @media (min-width: $md)
            margin-left: 0
      //@media (min-width: $tb)
      //  display: flex
      @media (min-width: $md)
        display: flex
        margin-top: 64px
      @media (min-width: $lp)
        margin-top: 70px
  .life-time-access
    margin-top: 64px
    @media (min-width: $md)
      margin-top: 96px
</style>
