<template>
  <div class="life-time-access">
    <div class="life-time-access__left">
      <div
        v-if="$slots['img']"
        class="life-time-access__img"
      >
        <slot name="img"></slot>
      </div>
    </div>
    <div class="life-time-access__right">
      <div
        v-if="$slots['title']"
        class="life-time-access__title"
      >
        <slot name="title"></slot>
      </div>
      <div
        v-if="$slots['description']"
        class="life-time-access__description"
      >
        <slot name="description"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LifeTimeAccess"
};
</script>

<style lang="sass" scoped>
.life-time-access
  display: flex
  flex-direction: column
  color: #000000
  background-color: #FFFFFF
  padding: 28px 32px
  border-radius: 12px
  box-shadow: 0 10px 20px 0 rgba(24,39,75,0.2)
  @media (min-width: $xs)
    flex-direction: row
  @media (min-width: $tb)
    padding: 32px 40px
  @media (min-width: $md)
    padding: 44px 56px
  &__title
    color: #10001f
    line-height: 1.2
    font-weight: 500
    margin-bottom: 8px
    font-size: 22px
    @media (min-width: $md)
      font-size: 36px
  &__description
    color: #000000
    line-height: 1.5
    font-weight: 400
    font-size: 16px
    @media (min-width: $tb)
      font-size: 18px
  &__img
    display: flex
    align-items: center
    justify-content: center
    background-color: #c3c3c3
    width: 80px
    height: 80px
    border-radius: 26px
    overflow: hidden
    @media (min-width: $md)
      width: 112px
      height: 112px
      font-size: 18px
      border-radius: 40px
  &__left
    margin-right: 28px
    margin-bottom: 20px
    @media (min-width: $xs)
      margin-bottom: unset
    @media (min-width: $md)
      margin-right: 44px
  &__right
    display: flex
    flex-direction: column
    justify-content: center
</style>
