<template>
  <div class="recommend-block">
    <div class="m-container">
      <div class="recommend-block-content">
        <div class="recommend-block__left">
          <h2 class="recommend-block__title">
            <slot name="title" />
          </h2>
        </div>

        <div class="recommend-block__right">
          <section class="products">
            <div class="products__list">
              <component
                v-for="nomenclature of nomenclatures"
                :is="nomenclature.comingSoon ? 'div' : 'a'"
                :key="nomenclature.pageUrl"
                class="products__item"
                :style="{
                  '--product-color': `#${nomenclature.backgroundColor}`,
                }"
                :href="nomenclature.pageUrl"
                @click="
                  () =>
                    $gtm.push({
                      event: 'autoEvent',
                      eventCategory: 'click',
                      eventAction: 'index_courses',
                      eventLabel: nomenclature.name,
                    })
                "
              >
                <span class="body-s products__item-duration">{{
                  $tc("month", nomenclature.duration)
                }}</span>
                <div class="products__item-wrap">
                  <div
                    v-if="nomenclature.comingSoon"
                    class="products__item-badge"
                  >
                    {{ $t('comingSoon') }}
                  </div>
                  <h3 class="products__item-title">
                    {{ nomenclature.name }}
                  </h3>
                  <b class="products__item-category">{{
                    nomenclature.type === 1
                      ? $t("index.main-courses-section.profissao")
                      : $t("index.main-courses-section.curso")
                  }}</b>
                </div>
                <img
                  class="products__item-image"
                  :src="
                    (nomenclature.images.showcaseImage &&
                      nomenclature.images.showcaseImage.url) ||
                      `/images/nomenclatures/${nomenclature.slug}.svg`
                  "
                  :alt="
                    nomenclature.images.showcaseImage &&
                      nomenclature.images.showcaseImage.description
                  "
                  width="146"
                  height="148"
                >
              </component>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Recommend",
  props: {
    nomenclatures: {
      type: Array,
      default: () => [],
    }
  },
};
</script>

<style lang="sass" scoped>
.recommend-block
  padding-bottom: 58px
  @media (min-width: $md)
    padding-bottom: 80px

  &-content
    @media (min-width: $lp)
      display: flex
      justify-content: space-between

  &__title
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #000
    margin: 0 0 20px
    @media (min-width: $md)
      font-size: 48px
      line-height: 56px
      font-weight: 700
      margin-bottom: 24px
    @media (min-width: $tb)
      margin-bottom: 12px
      line-height: 62px
    @media (min-width: $lp)

.recommend-block
  & .products__item-title
    @media (min-width: $lp)
      width: 162px

  &__right
    width: 100%
    margin-top: 32px
    @media (min-width: $md)
      margin-top: 64px
    @media (min-width: $lp)
      margin-top: 0
      width: 762px
      min-width: 762px

    & .products
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 0
      &__list
        width: 100%
</style>
