<template>
  <div class="course-program-block">
    <div class="m-container">
      <div class="course-program-block-content">
        <h2 class="h2">
          <slot name="title">v-slot:title</slot>
        </h2>
        <p class="description">
          <slot name="description">v-slot:description</slot>
        </p>
        <v-expansion-panels accordion>
          <v-expansion-panel
            v-for="(slotName, index) of partTitles"
            :key="index"
            :id="`course-program-block__expansion-panel-${index + 1}`"
            @click="() => scrollTo(`course-program-block__expansion-panel-${index + 1}`)"
          >
            <v-expansion-panel-header>
              <slot :name="slotName">v-slot:part-title_[number]</slot>
              <template v-slot:actions>
                <img
                  :src="require('~/assets/svg/expansion-panel-icon-24.svg')"
                  class="expansion-panel-icon-24"
                />
                <img
                  :src="require('~/assets/svg/expansion-panel-icon-12.svg')"
                  class="expansion-panel-icon-12"
                />
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <slot :name="partDescriptions[index]">v-slot:part-description_[number]</slot>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CourseProgramBlock',
  computed: {
    partTitles() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('part-title'));
    },
    partDescriptions() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('part-description'));
    },
  },
  methods: {
    scrollTo(id) {
      if (window.innerWidth < 768) {
        setTimeout(() => {
          this.$scrollTo(`#${id}`, 300, { offset: 2 });
        }, 300)
      }
    },
  },
}
</script>

<style
  lang="sass"
  scoped
>
  .v-expansion-panels
    margin-top: 32px
    border-bottom: 1px solid rgba(0, 0, 0, 0.24)
    border-radius: 0
    //@media (min-width: $tb)
    //  margin-top: 24px
    @media (min-width: $md)
      margin-top: 48px
  .expansion-panel-icon-24, .expansion-panel-icon-12
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s
    margin-left: 11px
    margin-top: 7px
  .v-expansion-panel-header--active
    & .expansion-panel-icon-24, & .expansion-panel-icon-12
      transform: rotate(-45deg)
  .expansion-panel-icon-12
    @media (min-width: $md)
      display: none
  .expansion-panel-icon-24
    display: none
    @media (min-width: $md)
      display: block
  .v-expansion-panel-header
    font-weight: 600
    font-size: 16px
    line-height: 20px
    color: #000000
    align-items: flex-start
    padding: 23px 0
    border-top: 1px solid rgb(0 0 0 / 24%)
    border-radius: 0
    @media (min-width: $md)
      font-size: 24px
      line-height: 28px
      padding: 36px 0
  .v-expansion-panel
    &::v-deep .v-expansion-panel-content__wrap
      font-size: 16px
      line-height: 24px
      color: #000000
      padding-left: 0
      padding-right: 0
      padding-bottom: 23px
      //@media (min-width: $tb)
      //  width: 509px
      //  max-width: 509px
      @media (min-width: $md)
        font-size: 18px
        padding-bottom: 35px
        width: 684px
        max-width: 684px
      & p
        padding-bottom: 12px
        @media (min-width: $md)
          padding-bottom: 16px
        &:last-child
          padding-bottom: 0
      & ul
        list-style: none
        padding: 0
        & li
          margin-bottom: 12px
          @media (min-width: $md)
            margin-bottom: 16px
          & span
            margin-right: 3px
            color: #905DB4
    &::before
      box-shadow: none
  .v-expansion-panel-header:before
    display: none
  .course-program-block
    margin-top: 80px
    //@media (min-width: $tb)
    //  margin-top: 104px
    @media (min-width: $md)
      margin-top: 146px
    @media (min-width: $lp)
      margin-top: 120px
  .h2
    font-weight: 600
    font-size: 32px
    line-height: 38px
    color: #000
    margin: 0
    @media (min-width: $md)
      text-align: center
      font-size: 48px
      line-height: 56px
      font-weight: 700
  .description
    margin-top: 20px
    font-size: 18px
    line-height: 24px
    color: #101010
    //@media (min-width: $tb)
    //  text-align: center
    //  width: 582px
    //  margin: 24px auto 0 auto
    @media (min-width: $md)
      text-align: center
      margin: 24px auto 0 auto
      font-size: 24px
      line-height: 32px
      margin-top: 32px
      width: 782px
    @media (min-width: $lp)
      margin-top: 36px
      width: 762px
</style>
