<template>
  <div>
    <client-only>
      <div
        v-if="isVisible && ((duration.$ms > 0) || eternal)"
        id="sale-banner"
        class="sale-banner"
        :class="[eternal ? saleClass : saleClass, classes]"
      >
        <div
          @click="closeBanner"
          class="sale-banner__close-banner-btn"
        />
        <div class="sale-banner-design-block sale-banner-design-block_left" />
        <div class="sale-banner-design-block sale-banner-design-block_left-2" />
        <div class="sale-banner-design-block sale-banner-design-block_right" />
        <div class="sale-banner-design-block sale-banner-design-block_right-2" />
        <div class="m-container">
          <div class="sale-banner__content">
            <div class="sale-banner__mobile-heading">{{ eternal ? $t('saleBanner.eternal.mobileHeading') : $t('saleBanner.mobileHeading') }} <span>{{ eternal ? $t('saleBanner.eternal.percent') : $t('saleBanner.percent') }}</span> <span v-if="$te('saleBanner.mobileHeading.percentAdditional')">{{ $t('saleBanner.mobileHeading.percentAdditional') }}</span></div>
            <div class="sale-banner__desktop-content">
              <div class="sale-banner__desktop-heading">
                <span class="sale-banner__desktop-heading-sub">{{ eternal ? $t('saleBanner.eternal.desktopSubHeading') : $t('saleBanner.desktopSubHeading') }}</span>
                {{ eternal ? $t('saleBanner.eternal.desktopHeading') : $t('saleBanner.desktopHeading') }}
              </div>
              <div class="sale-banner__discount">
                <div class="sale-banner__discount-title">{{ eternal ? $t('saleBanner.eternal.discountTitle') : $t('saleBanner.discountTitle') }}</div>
                <span>{{ eternal ? $t('saleBanner.eternal.percent') : $t('saleBanner.percent') }} </span>
              </div>
              <div class="sale-banner__duration">{{ $tc('day', duration.days(), { days: duration.days() }) }} {{ String(duration && duration.hours()).padStart(2, '0') }}:{{ String(duration && duration.minutes()).padStart(2, '0') }}:{{ String(duration && duration.seconds()).padStart(2, '0') }}</div>
            </div>
            <div v-if="!isLandingPage">
              <v-btn
                color="primary"
                rounded
                depressed
                large
                :ripple="false"
                :href="eternal ? $app.config.current.saleBanner.eternalLink : $app.config.current.saleBanner.saleLink"
                target="_blank"
              >
                {{ eternal ? $t('saleBanner.eternal.button.label') : $t('saleBanner.button.label') }}
              </v-btn>
            </div>
            <v-btn
              v-else
              color="primary"
              rounded
              depressed
              large
              :ripple="false"
              @click="$scrollTo('#formSection')"
            >
              {{ isLandingPage ? $t('saleBanner.landing.button.label') : eternal ? $t('saleBanner.eternal.button.label') : $t('saleBanner.button.label') }}
            </v-btn>
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import cookie from 'js-cookie'
import { getEternalEndDate } from '../../pages/sale/utils'

const ETERNAL_COOKIE_NAME = 'sale-banner_eternal_310322';

export default {
  name: 'sale-banner',
  props: [
    'cookieName',
    'endDate',
    'eternal',
    'saleClass',
    'classes'
  ],
  data() {
    return {
      isVisible: false,
      duration: this.$dayjs.duration(0, 'milliseconds', true),

      interval: null,
      isButtonHref: true,
    }
  },
  computed: {
    cookieNameComputed() {
      const cookieName = this.cookieName;
      const eternalCookieName = ETERNAL_COOKIE_NAME;

      return this.eternal ? eternalCookieName : cookieName;
    },
    isLandingPage() {
      const isLandingPage = this.$store.state.isLandingPage;
      return isLandingPage;
    },
  },
  created() {
    this.duration = this.$dayjs.duration(
      this.$dayjs.utc(this.eternal ? getEternalEndDate() : this.endDate).diff(this.$dayjs.utc()),
      'milliseconds', true
    );
    // cookie.remove('sale-banner-blue')
    // Если нет нужной куки, то показывается баннер
    if (!cookie.get(this.cookieNameComputed)) this.show();
  },
  mounted() {
    this.isButtonHref = !document.getElementById('course-landing');

    this.interval = setInterval(() => {
      this.duration = this.$dayjs.duration(
        this.$dayjs.utc(this.eternal ? getEternalEndDate() : this.endDate).diff(this.$dayjs.utc()),
        'milliseconds', true
      );
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    closeBanner(e) {
      this.isVisible = false;
      cookie.set(this.cookieNameComputed, 'true');
      this.$app.backToTopButtonBottomOffset = 0;
      e.stopPropagation();
    },
    show() {
      this.$app.backToTopButtonBottomOffset = process.client ? window.innerWidth >= 768 ? 60 : 90 : false;
      this.isVisible = true;
    },
  },
}
</script>

<style lang="sass" scoped>
  .sale-banner
    position: fixed
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 90px
    z-index: 3
    display: flex
    align-items: center
    justify-content: center
    &_landing-position
      top: 0
    &_position-top-mobile
      @media (max-width: $tb - 1px)
        top: 0
        bottom: initial
    &_position-top
      top: 0
      bottom: initial
    &_z-index-6
      z-index: 6
    & .m-container
      position: relative
      @media (min-width: $tb)
        width: 704px
      @media (min-width: $md)
        width: 944px
      @media (min-width: $lp)
        width: 1160px
    @media (min-width: $tb)
      height: 80px
    &__content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 100%
      @media (min-width: $tb)
        flex-direction: row
        justify-content: space-between
      & .v-btn
        width: 280px
        height: 38px!important
        padding: 9px 32px !important
        font-size: 16px!important
        line-height: 22px!important
        @media (min-width: $tb)
          width: 232px
          padding: 12px 32px !important
          height: 48px!important
          font-size: 18px!important
          line-height: 24px!important
    &__mobile-heading
      margin: 0 0 8px 0
      font-size: 14px
      line-height: 16px
      font-weight: normal
      @media (min-width: $tb)
        display: none
      & span
        font-weight: 600
        font-size: 18px
    &__desktop-heading
      font-weight: 600
      font-size: 24px
      line-height: 28px
      width: 152px
      @media (min-width: $md)
        width: 323px
      @media (min-width: $lp)
        font-size: 32px
        line-height: 38px
        width: 435px
      &-sub
        display: none
    &__desktop-content
      display: none
      @media (min-width: $tb)
        display: flex
        justify-content: center
        align-items: center
    &__discount
      background: #FEE251
      width: 119px
      height: 119px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      &-title
        font-size: 16px
        line-height: 22px
      & span
        font-weight: bold
        font-size: 38px
        line-height: 42px
    &__duration
      font-weight: 600
      font-size: 24px
      line-height: 28px
      margin-left: 10px
      @media (min-width: $md)
        margin-left: 55px
      @media (min-width: $lp)
        margin-left: 79px
        font-size: 32px
        line-height: 38px
    &__close-banner-btn
      position: absolute
      top: 7px
      right: 7px
      background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      width: 10px
      height: 10px
      background-size: cover
      cursor: pointer
      z-index: 1
      @media (min-width: $tb)
        width: 12px
        height: 12px
        top: 10px
        right: 10px
    &_blue
      background: #7AD0ED
      & .sale-banner-design-block
        position: absolute
        display: none
        top: 0
        bottom: 0
        width: 91px
        @media (min-width: $md)
          display: flex
        &_left
          left: -52px
          background-image: url("../../../landing_generator/assets/svg/sale-banner-design-block-left.svg")
          @media (min-width: $lp)
            left: -38px
          @media (min-width: $xl)
            left: 0
        &_right
          right: -52px
          background-image: url("../../../landing_generator/assets/svg/sale-banner-design-block-right.svg")
          @media (min-width: $lp)
            right: -38px
          @media (min-width: $xl)
            right: 0
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
    &_0821
      background: #EAE6FC
      & .sale-banner__desktop-heading
        @media (min-width: $md)
          margin-left: 74px
          width: 231px
        @media (min-width: $lp)
          width: 336px
      & .sale-banner-design-block
        position: absolute
        display: none
        top: 6px
        bottom: 0
        width: 103px
        @media (min-width: $md)
          display: flex
        &_left
          left: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/0821/left.svg")
        &_right
          right: 0
          top: 0
          width: 102px
          height: 80px
          background-image: url("../../../landing_generator/assets/svg/sale-banner/0821/right-1.svg")
          @media (min-width: $lp)
            width: 111px
            height: 80px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/0821/right-2.svg")
          @media (min-width: $xl)
            width: 168px
            height: 80px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/0821/right-3.svg")
      & .v-btn
        background-color: #EE4B73!important
        &:hover
          background: #FF668C!important
    &_1021
      background: linear-gradient(90deg, #4B4EDE 13.02%, #A158DA 48.44%, #4180DF 78.13%, #37BBB2 100%)
      & .m-container
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner-white.svg")
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__desktop-heading
        color: #fff
        @media (min-width: $md)
          margin-left: 96px
          width: 231px
        @media (min-width: $lp)
          width: 336px
      & .sale-banner-design-block
        position: absolute
        display: none
        top: 6px
        bottom: 0
        width: 103px
        @media (min-width: $md)
          display: flex
        &_left
          left: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_left_1024.svg")
          @media (min-width: $lp)
            top: 0
            width: 129px
            height: 65px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_left_1280.svg")
          @media (min-width: $xl)
            top: 0
            width: 151px
            height: 60px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_left_1600_1.svg")
        &_right
          right: 0
          top: 0
          @media (min-width: $lp)
            top: 22px
            width: 94px
            height: 50px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_right_1280.svg")
          @media (min-width: $xl)
            top: 0
            right: 48px
            width: 158px
            height: 43px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_right_1600_1.svg")
        &_left-2
          left: 0
          display: none
          @media (min-width: $xl)
            display: block
            top: 38px
            left: 96px
            width: 126px
            height: 42px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_left_1600_2.svg")
        &_right-2
          right: 0
          top: 0
          display: none
          @media (min-width: $xl)
            display: block
            top: 38px
            right: 14px
            width: 114px
            height: 42px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/1021/cloud_right_1600_2.svg")
      & .v-btn
        background-color: #fff!important
        color: #EE4B73!important
        &:hover
          background: #fff!important
          opacity: .8
    &_111121
      background: #110C14
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: linear-gradient(54.87deg, #74F0FC 13.34%, #1F58EC 51.55%, #E76967 86.71%)
        color: #ffffff
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner-white.svg")
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__desktop-heading
        color: #fff
        @media (min-width: $md)
          margin-left: 96px
          width: 231px
        @media (min-width: $lp)
          width: 336px
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 119px
          height: 73px
          left: -24px
          top: 7px
          background-image: url("../../../landing_generator/assets/svg/sale-banner/111121/left.png")
          @media (min-width: $lp)
            left: 16px
            top: 7px
          @media (min-width: $xl)
            left: 26px
            top: 7px
        &_right
          width: 154px
          height: 80px
          right: -110px
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/111121/right.png")
          @media (min-width: $lp)
            right: -92px
            top: 0
          @media (min-width: $xl)
            right: 16px
            top: 0
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
    &_101121
      background: #000000
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 846px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: #ED1C24
        color: #ffffff
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner-white.svg")
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__desktop-heading
        color: #fff
        @media (min-width: $md)
          margin-left: 86px
          width: 160px
        @media (min-width: $lp)
          width: 270px
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 137px
          height: 70px
          left: 12px
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/101121/left.svg")
          @media (min-width: $lp)
            left: 16px
          @media (min-width: $xl)
            left: 12px
        &_right
          width: 89px
          height: 53px
          right: -18px
          bottom: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/101121/right2.svg")
          @media (min-width: $lp)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/101121/right2.svg")
            right: 0
            width: 89px
            height: 53px
          @media (min-width: $xl)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/101121/right.svg")
            right: 8px
            width: 119px
            height: 65px
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
    &_141221
      background: linear-gradient(270deg, #F9BEF5 0%, #8CAFFD 100%)
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 846px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: #FEE251
        color: #000
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      & .sale-banner__duration
        @media (min-width: $md)
          margin-left: 24px
        @media (min-width: $lp)
          margin-left: 40px
        @media (min-width: $xl)
          margin-left: 64px
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__desktop-heading
        color: #000
        @media (min-width: $md)
          margin-left: 58px
          width: 190px
        @media (min-width: $lp)
          width: 314px
        @media (min-width: $xl)
          width: 370px
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 157px
          height: 80px
          left: -10px
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/141221/left.svg")
          @media (min-width: $lp)
            left: -10px
          @media (min-width: $xl)
            left: 12px
        &_right
          width: 140px
          height: 80px
          right: -30px
          bottom: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/141221/right.svg")
          @media (min-width: $lp)
            right: -20px
          @media (min-width: $xl)
            right: 26px
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
        @media (min-width: $md)
          margin-right: 30px
    &_201221
      background: linear-gradient(270deg, #F9BEF5 0%, #8CAFFD 100%)
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 846px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: #FEE251
        color: #000
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      & .sale-banner__duration
        @media (min-width: $md)
          margin-left: 24px
        @media (min-width: $lp)
          margin-left: 40px
        @media (min-width: $xl)
          margin-left: 64px
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__desktop-heading
        color: #000
        width: 162px
        @media (min-width: $md)
          width: 273px
        @media (min-width: $lp)
          width: 362px
          margin-left: 52px
        @media (min-width: $xl)
          width: 430px
          margin-left: 0
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 157px
          height: 80px
          left: -68px
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/141221/left.svg")
          @media (min-width: $lp)
            left: -10px
          @media (min-width: $xl)
            left: 12px
        &_right
          width: 140px
          height: 80px
          right: -48px
          bottom: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/141221/right.svg")
          @media (min-width: $lp)
            right: -20px
          @media (min-width: $xl)
            right: 26px
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
        @media (min-width: $lp)
          margin-right: 20px
        @media (min-width: $xl)
          margin-right: 0
    &_ano-novo
      background: linear-gradient(270deg, #9554FE 0%, #6003D7 100%)
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 846px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: #FEE251
        color: #000
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      & .sale-banner__duration
        @media (min-width: $md)
          margin-left: 24px
        @media (min-width: $lp)
          margin-left: 40px
        @media (min-width: $xl)
          margin-left: 64px
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__desktop-heading
        color: #fff
        width: 162px
        @media (min-width: $md)
          width: 254px
          margin-left: 20px
        @media (min-width: $lp)
          width: 348px
          margin-left: 52px
        @media (min-width: $xl)
          width: 430px
          margin-left: 26px
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 157px
          height: 80px
          left: 0
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/ano-novo/1.svg")
          @media (min-width: $lp)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/ano-novo/2.svg")
            left: 0
          @media (min-width: $xl)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/ano-novo/3.svg")
            left: 30px
        &_right
          display: none
      & .v-btn
        background-color: #F44A24!important
        &:hover
          opacity: .8
        @media (min-width: $lp)
          margin-right: 20px
        @media (min-width: $xl)
          margin-right: 0
    &_090322
      background: linear-gradient(89.86deg, #9EB7FF 0%, #E7EDFD 100%)
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 792px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: #FEE251
        color: #000
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      & .sale-banner__duration
        @media (min-width: $md)
          margin-left: 24px
        @media (min-width: $lp)
          margin-left: 40px
        @media (min-width: $xl)
          margin-left: 64px
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__mobile-heading
        color: #000
      & .sale-banner__desktop-heading
        color: #000
        width: 162px
        @media (min-width: $md)
          width: 232px
        @media (min-width: $lp)
          width: 328px
          margin-left: 83px
        @media (min-width: $xl)
          width: 372px
          margin-left: 60px
      & .sale-banner-design-block
        position: absolute
        display: none
        bottom: 0
        @media (min-width: $md)
          display: flex
        &_left
          width: 119px
          height: 80px
          left: 0
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1024_left.svg")
          @media (min-width: $lp)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1280_left.svg")
            width: 158px
            height: 81px
          @media (min-width: $xl)
            width: 222px
            height: 105px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1600_left.svg")
        &_right
          width: 151px
          height: 88px
          right: -30px
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1024_right.svg")
          @media (min-width: $lp)
            width: 160px
            height: 93px
            right: -14px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1280_right.svg")
          @media (min-width: $xl)
            width: 198px
            height: 115px
            right: 30px
            background-image: url("../../../landing_generator/assets/svg/sale-banner/090322/DiaConsumidor_1600_right.svg")
      & .v-btn
        background-color: #D36133!important
        &:hover
          background: #E97242!important
        @media (min-width: $lp)
          margin-right: 20px
        @media (min-width: $xl)
          margin-right: 0
    &_310322
      background: linear-gradient(96.76deg, #002E47 0%, #A3D3FF 100%)
      & .sale-banner__discount-title
        font-size: 15px
      & .m-container
        @media (min-width: $md)
          width: 792px
        @media (min-width: $lp)
          width: 1074px
        @media (min-width: $xl)
          width: 1280px
      & .sale-banner__discount
        background: linear-gradient(95.54deg, #FFB7EF 0%, #CEE8FF 99.7%)
        color: #000
      & .sale-banner__close-banner-btn
        background-image: url("../../../landing_generator/assets/svg/close-banner.svg")
      & .sale-banner__duration
        @media (min-width: $md)
          margin-left: 24px
        @media (min-width: $lp)
          margin-left: 40px
        @media (min-width: $xl)
          margin-left: 64px
      & .sale-banner__duration, & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__mobile-heading
        color: #fff
      & .sale-banner__desktop-heading
        color: #fff
        width: 162px
        @media (min-width: $md)
          width: 232px
        @media (min-width: $lp)
          width: 328px
          margin-left: 83px
        @media (min-width: $xl)
          width: 372px
          margin-left: 60px
      & .sale-banner-design-block
        position: absolute
        bottom: 0
        display: flex
        &_right
          top: 0
          right: 0
          @media (min-width: $md)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/310322/md-right.png")
            width: 644px
            height: 80px
        &_left
          width: 316px
          height: 90px
          left: 0
          top: 0
          background-image: url("../../../landing_generator/assets/svg/sale-banner/310322/xs-left.png")
          @media (min-width: $tb)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/310322/tb-left.png")
            width: 644px
            height: 80px
          @media (min-width: $md)
            background-image: url("../../../landing_generator/assets/svg/sale-banner/310322/md-left.png")
            width: 644px
            height: 80px
      & .v-btn
        background-color: #FF7900!important
        &:hover
          background: #E97242!important
        @media (min-width: $lp)
          margin-right: 20px
        @media (min-width: $xl)
          margin-right: 0
    &_300422
      background-color: #7AD0ED
      & .v-btn
        background-color: #D36133
        @media (min-width: $tb)
          width: 214px
        @media (min-width: $md)
          left: -31px
          width: 214px
        @media (min-width: $lp)
          left: -27px
        @media (min-width: $xl)
          left: 0px
      & .sale-banner__desktop-heading
        @media (min-width: $xs)
          left: -17px
          position: relative
          width: 158px
        @media (min-width: $tb)
          width: auto
        @media (min-width: $md)
          width: 316px
          position: static
          padding-left: 76px
        @media (min-width: $lp)
          width: 428px
          padding-left: 105px
        @media (min-width: $xl)
          padding-left: 36px
      & .sale-banner__mobile-heading
        font-size: 14px
        & span
          font-size: 14px
      & .sale-banner-design-block
        width: 91px
        height: 80px
        position: absolute
        top: 0px
        display: none
        @media (min-width: $md)
          display: block
        &_left
          background-image: url("../../../landing_generator/assets/svg/sale-banner/300422/left-stripes.png")
          @media (min-width: $md)
            left: -51px
          @media (min-width: $lp)
            left: -35px
          @media (min-width: $xl)
            left: 0px
        &_right
          background-image: url("../../../landing_generator/assets/svg/sale-banner/300422/right-stripes.png")
          @media (min-width: $tb)
            right: -38px
          @media (min-width: $md)
            right: -48px
          @media (min-width: $lp)
            right: -38px
          @media (min-width: $xl)
            right: 0px
    &_230522
      background: linear-gradient(89.86deg, #BA1700 0%, #FF7244 100%)
      font-family: 'Rubik'
      color: white
      & .sale-banner__desktop-heading
        font-weight: 500
        text-align: center
        @media (min-width: $tb)
          letter-spacing: -0.4px
          margin-left: -8px
        @media (min-width: $md)
          width: 206px
          margin-left: 117px
        @media (min-width: $lp)
          font-size: 36px
          line-height: 46px
          letter-spacing: -0.8px
          width: 280px
        @media (min-width: $xl)
          margin-left:39px
        &-sub
          font-family: 'Poppins'
          font-size: 12px
          line-height: 14px
          font-weight: 400
          display: block
          opacity: 0.84
          letter-spacing: normal
          @media (min-width: $tb)
            margin-top: 5px
            margin-left: 12px
          @media (min-width: $md)
            margin-top: 0px
            margin-left: 0px
            line-height: 14px
          @media (min-width: $lp)
            margin-bottom: -10px
            line-height: 32px
      & .sale-banner__discount
        background: linear-gradient(89.86deg, #63016B 0%, #330060 100%)
        @media (min-width: $tb)
          margin-left: 33px
        @media (min-width: $md)
          margin-left: 7px
        @media (min-width: $lp)
          margin-left: 30px
        @media (min-width: $xl)
          margin-left: 108px
        &-title
          font-size: 12px
          font-family: 'Poppins'
          font-weight: 400
          line-height: 20px
        & span
          font-size: 36px
          font-weight: 500
          line-height: 40px
          letter-spacing: -0.8px
          margin-bottom: 12px
      & .sale-banner__duration
        font-weight: 500
        @media (min-width: $tb)
          margin-left: 15px
        @media (min-width: $md)
          margin-left: 26px
        @media (min-width: $lp)
          font-size: 36px
          line-height: 46px
          margin-left: 36px
        @media (min-width: $xl)
          margin-left: 76px
          margin-top: 7px
      & .v-btn
        background-color: #7B2CBF
        font-size: 16px !important
        line-height: 24px !important
        letter-spacing: -0.12px !important
        font-weight: 500 !important
        width: 281px
        top:-2px
        position: relative
        @media (min-width: $tb)
          top:auto
          width: 211px
          left: 8px
        @media (min-width: $md)
          left: -55px
        @media (min-width: $lp)
          top: 2px
          left: -72px
        @media (min-width: $xl)
          left: 8px
      & .sale-banner__close-banner-btn
          background-image: url("../../../landing_generator/assets/svg/close-banner-white.svg")
          margin-top: 2px
      & .sale-banner-design-block
        position: absolute
        background-position: center bottom
        background-repeat: no-repeat
        @media (min-width: $tb)
          display:none
        @media (min-width: $md)
          display: block
        &_left
          background-image: url("../../assets/svg/sale-banner/230522/fire-left.svg")
          width: 195px
          @media (min-width: $md)
            height: 92px
            top: 0px
            left: -22px
          @media (min-width: $lp)
            left: -19px
          @media (min-width: $xl)
            left: -24px
        &_right
          background-image: url("../../assets/svg/sale-banner/230522/fire-right.svg")
          width: 112px
          @media (min-width: $md)
            height: 77px
            top: 26px
            right: -17px
          @media (min-width: $lp)
            right: 10px
            top: auto
          @media (min-width: $xl)
            right: 31px
            height: 92px
            top: -10px
      & .sale-banner__mobile-heading
        font-size: 16px
        letter-spacing: -0.12px
        font-weight: 500
        position: relative
        line-height: 24px
        padding-left: 22px
        & span
          font-weight: 500
          color: #7B2CBF
          font-size: 16px
        &:before
          display: block
          content: ''
          width:15px
          height:25px
          background-image: url("../../assets/svg/sale-banner/230522/fire-mini.svg")
          background-position: center center
          background-repeat: no-repeat 
          position: absolute
          left: 0px
          top: -4px
</style>
