<template>
  <div class="salary-block">
    <div class="m-container">
      <div class="salary-block-content">
        <h2 class="h2">
          <slot name="title">v-slot:title</slot>
        </h2>
        <p class="description">
          <slot name="description">v-slot:description</slot>
        </p>
        <div class="statistics">
          <slot name="statistics">v-slot:statistics</slot>
        </div>
        <div class="position-list">
          <slot name="position-list">v-slot:position-list</slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SalaryBlock',
}
</script>

<style lang="sass" scoped>
  .salary-block-content
    padding-top: 40px
    //@media (min-width: $tb)
    //  padding-top: 96px
    @media (min-width: $md)
      padding-top: 140px
    @media (min-width: $lp)
      padding-top: 120px
  .h2
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #000
    margin: 0
    //@media (min-width: $tb)
    //  font-size: 48px
    //  line-height: 62px
    //  text-align: center
    //  margin: 0 auto
    //  width: 581px
    @media (min-width: $md)
      font-size: 48px
      line-height: 56px
      width: 781px
      text-align: center
      margin: 0 auto
      font-weight: 700
    @media (min-width: $lp)
      width: 880px
  .description
    font-size: 18px
    line-height: 24px
    color: #101010
    margin-top: 20px
    //@media (min-width: $tb)
    //  text-align: center
    //  width: 581px
    //  margin: 0 auto
    @media (min-width: $md)
      margin: 16px auto 0 auto
      text-align: center
      font-size: 24px
      line-height: 32px
      width: 781px
    @media (min-width: $lp)
      margin-top: 24px
      width: 736px
  .position-list
    margin-top: 24px
    //@media (min-width: $tb)
    //  display: flex
    //  flex-direction: row-reverse
    //  justify-content: space-between
    //  margin-top: 48px
    @media (min-width: $md)
      margin-top: 72px
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
    & .position-item
      &:last-child
        margin-bottom: 0
  .statistics
    font-size: 16px
    line-height: 24px
    text-align: center
    color: #101010
    margin-top: 40px
    //@media (min-width: $tb)
    //  display: block
    //  margin-top: 48px
    @media (min-width: $md)
      display: block
      font-size: 18px
      color: #828282
</style>
