<template>
  <div class="position-item">
    <div class="salary">
      <slot name="salary">v-slot:salary</slot>
      <span>/mês</span>
    </div>
    <div class="position">
      <slot name="position">v-slot:position</slot>
    </div>
    <div class="line" />
  </div>
</template>

<script>
export default {
  name: 'PositionItem',
}
</script>

<style lang="sass" scoped>
  .position-item
    margin-bottom: 40px
  .salary
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #000000
    @media (min-width: $md)
      font-size: 40px
      line-height: 38px
    & span
      color: #B7B7B7
      @media (min-width: $md)
        font-weight: 400
        font-size: 32px
        line-height: 38px
  .position
    margin-top: 8px
    font-size: 14px
    line-height: 16px
    color: #000000
    @media (min-width: $md)
      font-size: 16px
      line-height: 22px
  .line
    height: 2px
    width: 100%
    background: #8a179e
    transform: matrix(1, 0, 0, -1, 0, 0)
    margin-top: 20px
    @media (min-width: $md)
      margin-top: 24px
</style>
