<template>
  <div
    class="user-avatar"
    :style="avatarStyle"
    @click="onClick"
  >
    {{ name[0] }}
  </div>
</template>

<script>
import md5 from "js-md5"

export default {
  name: 'userAvatar',
  props: [
    'name',
    'onClick',
  ],
  data () {
    return {
      avatarStyle: {
        backgroundColor: this.generateColor()
      }
    }
  },
  methods: {
    generateColor() {
      return `#${md5(this.name).substr(0, 6)}`;
    }
  },
}
</script>

<style
  scoped
  lang="sass"
>
.user-avatar
  width: 40px
  height: 40px
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  border-radius: 50%
  font-size: 20px
  text-transform: uppercase
  font-weight: 500
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,0)))
  background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,.4),hsla(0,0%,100%,0))
  background-image: -o-linear-gradient(top,hsla(0,0%,100%,.4),hsla(0,0%,100%,0))
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,0))
</style>
