<template>
  <div class="about-what-block">
    <div class="m-container">
      <div class="about-what-block-content">
        <div class="block-1">
          <h2 class="h2">
            <slot name="title">v-slot:title</slot>
          </h2>
          <p class="description">
            <slot name="description">v-slot:description</slot>
          </p>
          <div class="topics topics_mobile">
            <slot name="topics">v-slot:topics</slot>
          </div>
          <div class="portfolio">
            <div class="portfolio__title">
              <slot name="portfolio-title">v-slot:portfolio-title</slot>
            </div>
            <div class="portfolio__list">
              <slot name="portfolio-list">v-slot:portfolio-list</slot>
            </div>
          </div>
          <div class="certificate">
            <div class="certificate__title">
              <slot name="certificate-title">v-slot:certificate-title</slot>
            </div>
            <div class="certificate__img">
              <div class="certificate__img-mobile">
                <slot name="mobile-certificate-img">v-slot:mobile-certificate-img</slot>
              </div>
              <div class="certificate__img-desktop">
                <slot name="desktop-certificate-img">v-slot:desktop-certificate-img</slot>
              </div>
            </div>
          </div>
        </div>
        <div class="block-2">
          <div class="topics topics_desktop">
            <slot name="topics">v-slot:topics</slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutWhatBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .description
    margin-top: 20px
    font-size: 18px
    line-height: 24px
    color: #101010
    //@media (min-width: $tb)
    //  margin-top: 24px
    @media (min-width: $md)
      font-size: 24px
      line-height: 32px
      margin-top: 32px
    @media (min-width: $lp)
      margin-top: 36px
  .about-what-block
    background: #F5F5F5
    padding: 40px 0
    margin-top: 40px
    //@media (min-width: $tb)
    //  padding: 48px 0
    //  margin-top: 48px
    @media (min-width: $md)
      padding: 80px 0
      margin-top: 80px
    &-content
      @media (min-width: $md)
        display: flex
        justify-content: space-between
  .h2
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #000
    margin: 0
    //@media (min-width: $tb)
    //  font-size: 48px
    //  line-height: 62px
    @media (min-width: $md)
      font-size: 48px
      line-height: 56px
  .portfolio
    margin-top: 32px
    @media (min-width: $md)
      margin-top: 40px
    &__title
      font-weight: 600
      font-size: 20px
      line-height: 26px
      color: #000
      @media (min-width: $md)
        font-size: 24px
        line-height: 28px
        color: #101010
    &__list
      font-size: 16px
      line-height: 24px
      color: #101010
      margin-top: 20px
      //@media (min-width: $tb)
      //  margin-top: 18px
      @media (min-width: $md)
        font-size: 18px
        margin-top: 16px
      & ul
        list-style: decimal
        padding-left: 15px
      & li
        padding-left: 2px
        margin-bottom: 9px
        @media (min-width: $md)
          margin-bottom: 12px
  .certificate
    &__title
      font-weight: 600
      font-size: 20px
      line-height: 26px
      color: #000
      margin-top: 32px
      //@media (min-width: $tb)
      //  margin-top: 44px
      @media (min-width: $md)
        font-size: 24px
        line-height: 28px
        color: #101010
        margin-top: 40px
    &__img
      margin-top: 20px
      //@media (min-width: $tb)
      //  margin-top: 24px
      @media (min-width: $md)
        margin-top: 28px
      &-mobile
        @media (min-width: $md)
          display: none
      &-desktop
        display: none
        @media (min-width: $md)
          display: block
    & img
      height: 196px
      margin: 0 auto
      object-fit: cover
      //@media (min-width: $tb)
      //  height: 214px
      @media (min-width: $md)
        height: 281px
        margin: inherit
  .topics
    margin-left: -28px
    margin-top: -48px
    padding-top: 60px
    flex-wrap: wrap
    //@media (min-width: $tb)
    //  margin-top: -67px
    //  padding-top: 0
    @media (min-width: $md)
      margin-left: -32px
      margin-top: -79px
      padding-top: 0
    &_mobile
      @media (min-width: $md)
        display: none
    &_desktop
      display: none
      @media (min-width: $md)
        display: flex
  .block-1
    //@media (min-width: $tb)
    //  width: 305px
    @media (min-width: $md)
      width: 407px
    @media (min-width: $lp)
      width: 496px
  .block-2
    //@media (min-width: $tb)
    //  width: 338px
    //  margin-top: 48px
    @media (min-width: $md)
      margin-top: 48px
      width: 456px
    @media (min-width: $lp)
      width: 564px
</style>
