<template>
  <div
    class="about-what-block"
    :class="classes"
  >
    <div class="m-container">
      <div class="about-what-block-content">
        <div class="block-1">
          <h2 class="h2">
            <slot name="title">v-slot:title</slot>
          </h2>
          <p class="description">
            <slot name="description">v-slot:description</slot>
          </p>
          <div
            class="topics topics_mobile"
            :class="{ topics_desktop: topicPosition === 'top' }"
          >
            <slot name="topics">v-slot:topics</slot>
          </div>
          <div class="portfolio">
            <div class="portfolio__title">
              <slot name="portfolio-title">v-slot:portfolio-title</slot>
            </div>
            <div class="portfolio__list">
              <ul>
                <slot name="portfolio-list">v-slot:portfolio-list</slot>
              </ul>
            </div>
          </div>
          <div class="certificate">
            <div class="certificate__title">
              <slot name="certificate-title">v-slot:certificate-title</slot>
            </div>
            <div class="certificate__img">
              <div class="certificate__img-mobile">
                <slot name="mobile-certificate-img">v-slot:mobile-certificate-img</slot>
              </div>
              <div class="certificate__img-desktop">
                <slot name="desktop-certificate-img">v-slot:desktop-certificate-img</slot>
              </div>
            </div>
          </div>
        </div>
        <div
          class="block-2"
          v-if="topicPosition !== 'top'"
        >
          <div class="topics topics_desktop">
            <slot name="topics">v-slot:topics</slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutWhatBlock',
  props: {
    topicPosition: {
      type: String,
      default: 'default',
      validator: (val) => {
        return [ 'default', 'top' ].includes(val);
      }
    }
  },
  computed: {
    classes () {
      return {
        'about-what-block--topic-top': this.topicPosition === 'top'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
  .description
    margin-top: 20px
    font-size: 18px
    line-height: 1.55
    color: #101010
    text-align: center
    @media (min-width: $tb)
      font-size: 24px
      line-height: 1.55
    @media (min-width: $md)
      margin-top: 32px
      padding-left: calc((100% - 720px) / 2)
      padding-right: calc((100% - 720px) / 2)
    @media (min-width: $lp)
      margin-top: 36px
  .about-what-block
    background: #F5F5F5
    padding: 40px 0
    margin-top: 40px
    //@media (min-width: $tb)
    //  padding: 48px 0
    //  margin-top: 48px
    @media (min-width: $md)
      padding: 80px 0
      margin-top: 80px
    &-content
      @media (min-width: $md)
        display: flex
        justify-content: space-between
  .h2
    font-weight: 700
    font-size: 32px
    line-height: 1.25
    color: #000
    margin: 0
    text-align: center
    @media (min-width: $tb)
     font-size: 42px
     line-height: 1.25
    @media (min-width: $md)
      font-size: 48px
      line-height: 56px
  .portfolio
    margin-top: 32px
    @media (min-width: $md)
      margin-top: 40px
    &__title
      font-weight: 600
      font-size: 28px
      line-height: 32px
      color: #000
      @media (min-width: $md)
        font-size: 32px
        line-height: 1.4
        color: #101010
    &__list
      font-size: 16px
      line-height: 24px
      color: #101010
      margin-top: 20px
      //@media (min-width: $tb)
      //  margin-top: 18px
      @media (min-width: $md)
        font-size: 18px
        margin-top: 16px
      & ul
        list-style: none
        padding-left: 0
      & li
        margin-bottom: 9px
        @media (min-width: $md)
          margin-bottom: 12px
  .certificate
    &__title
      font-weight: 700
      font-size: 28px
      line-height: 1.4
      color: #000
      margin-top: 32px
      //@media (min-width: $tb)
      //  margin-top: 44px
      @media (min-width: $md)
        font-size: 24px
        line-height: 28px
        color: #101010
        margin-top: 40px
    &__img
      margin-top: 20px
      //@media (min-width: $tb)
      //  margin-top: 24px
      @media (min-width: $md)
        margin-top: 28px
      &-mobile
        @media (min-width: $md)
          display: none
      &-desktop
        display: none
        @media (min-width: $md)
          display: block
    & img
      height: 196px
      margin: 0 auto
      object-fit: cover
      //@media (min-width: $tb)
      //  height: 214px
      @media (min-width: $md)
        height: 281px
        margin: inherit
  .topics
    //margin-left: -28px
    margin-top: -48px
    padding-top: 60px
    flex-wrap: wrap
    justify-content: space-between
    //@media (min-width: $tb)
    //  margin-top: -67px
    //  padding-top: 0
    @media (min-width: $md)
      margin-top: -79px
      padding-top: 0
      margin-left: auto
      margin-right: auto
    &_mobile
      @media (min-width: $tb)
        display: none
    &_desktop
      display: none
      @media (min-width: $tb)
        display: flex
    &_mobile.topics_desktop
      display: flex !important
  .block-1
    //@media (min-width: $tb)
    //  width: 305px
    @media (min-width: $md)
      width: 407px
    @media (min-width: $lp)
      width: 496px
  .block-2
    //@media (min-width: $tb)
    //  width: 338px
    //  margin-top: 48px
    @media (min-width: $md)
      margin-top: 48px
      width: 456px
    @media (min-width: $lp)
      width: 564px

  .about-what-block--topic-top
    @media (min-width: $md)
      .block-1
        width: 100%
        display: flex
        flex-wrap: wrap
      .h2
        min-width: 100%
      .description
        min-width: 100%
      .topics
        margin-top: 25px
      .certificate
        width: 40%
        margin-top: auto
        margin-bottom: auto
      .portfolio
        width: 50%
        order: 1
        margin-left: auto
    @media (min-width: $lp)
      .certificate
        width: 35%
      .portfolio
        width: 55%
</style>
