<template>
  <li class="portfolio-item">
    <div class="portfolio-item__text">
      <slot />
    </div>
    <div
      class="portfolio-item__after"
      v-if="$slots.after"
    >
      <slot name="after" />
    </div>
  </li>
</template>

<script>
export default {
  name: 'PrtfolioItem'
}
</script>

<style lang="sass" scoped>
  .portfolio-item
    div
      margin-top: auto
      margin-bottom: auto
    &__after
      width: 64px
      height: 21px
      margin-left: auto
      @media (min-width: $tb)
        width: 92px
        height: 30px
  li
    font-size: 16px
    line-height: 1.35
    font-weight: 500
    width: 100%
    border: 1px solid #6b507e
    border-radius: 10px
    padding: 15px
    min-height: 78px //list marker height + padding
    counter-increment: portfolio
    display: flex
    @media (min-width: $tb)
      font-size: 18px
      line-height: 1.55
      padding-right: 40px
    &::before
      content: counter(portfolio)
      color: #fff
      font-size: 24px
      font-weight: 700
      line-height: 1.4
      background: linear-gradient(74.83deg, #4C4177 0%, #7F5A83 100%)
      border-radius: 50%
      min-width: 48px
      min-height: 48px
      display: flex
      text-align: center
      align-items: center
      justify-content: center
      margin-right: 15px
      margin-top: auto
      margin-bottom: auto

</style>
