<template>
  <div class="topic-item">
    <h3 class="title">
      <slot name="title">v-slot:title</slot>
    </h3>
    <div class="description">
      <slot name="description">v-slot:description</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopicItem',
}
</script>

<style lang="sass" scoped>
  .topic-item
    position: relative
    margin-top: 60px
    @media (min-width: $tb)
      margin-top: 79px
      width: 300px
    @media (min-width: $md)
      width: 400px
    @media (min-width: $lp)
      width: 30%
    &:before
      content: ''
      position: absolute
      top: -28px
      width: 20px
      height: 20px
      background-image: url(~@/assets/svg/template/list-hexagon.svg)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      @media (min-width: $tb)
        width: 20px
        height: 20px
        top: -36px
  .title
    font-weight: 600
    font-size: 21px!important
    line-height: 1.2
    color: #101010
    font-family: "Futura PT", sans-serif !important
    @media (min-width: $tb)
      font-size: 24px!important
      line-height: 28px
  .description
    font-size: 18px
    line-height: 1.55
    color: #101010
    margin-top: 8px
    //@media (min-width: $tb)
    //  margin-top: 16px
    @media (min-width: $tb)
      margin-top: 16px
      font-size: 18px
</style>
