<template>
  <div class="floating-form-button-block">
    <div class="m-container">
      <div class="floating-form-button-block__wrapper">
        <v-btn
          color="primary"
          rounded
          depressed
          large
          :ripple="false"
          @click="$scrollTo('#formSection')"
        >
          INSCREVA-SE
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FloatingFormButtonBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .floating-form-button-block
    position: fixed
    display: flex
    left: 0
    right: 0
    top:  0
    z-index: 3
    background: #FFFFFF
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1)
    height: 50px
    @media (min-width: 641px)
      height: 72px
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
      bottom: auto
    & .m-container
      width: 100%
    &__wrapper
      display: flex
      align-items: center
      justify-content: flex-end
      height: 100%
    & .v-btn
      height: 35px!important
      @media (min-width: $tb)
        height: 48px!important
</style>
