<template>
  <div class="benefits-block">
    <div class="m-container">
      <div class="benefits-block-content">
        <div class="benefits-block-content__first-block">
          <h2 class="h2">
            <slot name="title">v-slot:title</slot>
          </h2>
          <div class="benefits-block-content__list-items">
            <slot name="list-items">v-slot:list-items</slot>
          </div>
        </div>
        <div v-if="!hideImg" class="desktop-img">
          <slot name="desktop-img">v-slot:desktop-img</slot>
        </div>
      </div>
    </div>
    <div v-if="!hideImg" class="benefits-block__second-block">
      <div class="mobile-img">
        <slot name="mobile-img">v-slot:mobile-img</slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BenefitsBlock',
  props: {
    hideImg: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<style lang="sass" scoped>
.benefits-block-content
  padding-top: 40px
  display: flex
  flex-direction: column
  @media (min-width: $md)
    flex-direction: row
    justify-content: space-between
    //padding-top: 48px
    padding-top: 80px
  //@media (min-width: $md)
  //  padding-top: 80px
  &__first-block
    //@media (min-width: $tb)
    //  width: 305px
    @media (min-width: $md)
      width: 407px
    @media (min-width: $lp)
      width: 496px
  &__list-items
    & .list-item:first-child
      margin-top: 22px
      //@media (min-width: $tb)
      //  margin-top: 23px
      @media (min-width: $md)
        margin-top: 31px
      @media (min-width: $lp)
        margin-top: 44px
.benefits-block
  &__second-block
    margin-top: 32px
    @media (min-width: $md)
      margin-top: 0
.h2
  font-weight: 600
  font-size: 24px
  line-height: 28px
  color: #000
  margin: 0
  //@media (min-width: $tb)
  //  font-size: 48px
  //  line-height: 62px
  @media (min-width: $md)
    font-weight: 700
    font-size: 48px
    line-height: 56px
img
  width: 100%
  height: 320px
  object-fit: cover
  @media (min-width: 650px)
    object-position: 0% -70px
    height: 380px
  @media (min-width: $tb)
    height: 420px
  //  width: 338px
  //  height: 100%
  //  border-radius: 12px
  @media (min-width: $md)
    object-position: center
    width: 488px
    height: 100%
    border-radius: 12px
  @media (min-width: $lp)
    width: 596px
.mobile-img
  @media (min-width: $md)
    display: none
.desktop-img
  display: none
  @media (min-width: $md)
    display: block
</style>
