<template>
  <div class="list-item">
    <h3 class="list-item__title">
      <slot name="title">v-slot:title</slot>
    </h3>
    <div class="list-item__description">
      <slot name="description">v-slot:description</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BenefitsBlockListItem',
}
</script>

<style
  lang="sass"
  scoped
>
  .list-item
    margin-top: 24px
    position: relative
    margin-left: 28px
    //@media (min-width: $tb)
    //  margin-left: 36px
    @media (min-width: $md)
      margin-top: 36px
    &__title
      margin-bottom: 8px
      font-weight: 600
      color: #101010
      font-size: 16px
      line-height: 20px
      //@media (min-width: $tb)
      //  margin-bottom: 12px
      @media (min-width: $md)
        margin-bottom: 16px
        font-size: 24px
        line-height: 28px
    &__description
      font-size: 16px
      line-height: 24px
      color: #101010
      @media (min-width: $md)
        font-size: 18px
        line-height: 24px
    &:before
      content: ''
      position: absolute
      left: -28px
      top: 2px
      width: 16px
      height: 16px
      background-image: url(~@/assets/svg/template/list-hexagon.svg)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      @media (min-width: $md)
        width: 20px
        height: 20px
        left: -36px
</style>
