<template>
  <v-app>
    <main class="webinars">
      <webinars-page-header search>{{ deTitle }}</webinars-page-header>
      <webinars-navigation :activeIndex="0" />

      <div class="m-container">
        <div
          :class="['webinars-items', {
            'blinking': $fetchState.pending || loading,
          }]"
        >
          <template v-if="items.length">
            <webinars-item
              v-for="item in items"
              :key="item.id"
              :item="item"
            ></webinars-item>
          </template>
          <template v-else-if="!$fetchState.pending && !loading">
            <div style="padding: 0 16px;">{{ $t('webinar.search.notFound') }}</div>
          </template>
          <template v-else>
            <!-- LOADER HERE -->
          </template>
        </div>
        <div
          :class="['webinars-list_more', {
            'blinking': $fetchState.pending || loading,
          }]"
          v-if="moreAvailable"
        >
          <v-btn
            @click="getMoreData"
            rounded
            large
            depressed
            outlined
            color="primary"
            :class="{ hidden: $fetchState.pending || loading}"
            >{{ $t('webinar.search.more') }}</v-btn
          >
        </div>
      </div>
    </main>
  </v-app>
</template>

<script>
// import tabletViewpointMixin from '../mixins/tabletViewpoint.mixin'
export default {
  name: "webinars",
  meta: {
    show: ['br', 'mx'],
  },
  // mixins: [ tabletViewpointMixin ],
  data() {
    return {
      items: [],
      offset: 0,
      limit: 12,
      moreAvailable: false,
      direction: {},
      search: true,
      loading: false,
    };
  },
  head() {
    return {
      title: this.direction.eventMetaTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.direction.eventMetaDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.direction.eventMetaTitle,
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.direction.eventMetaDescription
        },
        {
          hid: "og:type",
          name: "og:type",
          content: "website",
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    };
  },
  computed: {
    deTitle() {
      let title = this.direction.eventTitle?.replace(' de ', ' de\u00a0')
      return title
    },
  },
  methods: {
    async getData(items = []) {
      const direction = this.$route.params.direction
      const directions = !!direction ? [this.$store.state.webinars.directions.find(i => i.eventSlug === direction).id] : []
      const status = this.$route.query.status || undefined
      const search = this.$route.query.search || undefined
      let response;
      try {
        response = await this.$axios({
          method: "post",
          url: this?.$nuxt?.$config?.CMS_REST_API ? `${this.$nuxt.$config.CMS_REST_API}/public/events/`:`https://cms.ebaconline.com.br/api/public/events/`,
          data: {
            limit: this.limit + 1,
            offset: this.offset,
            directions,
            status,
            search,
            published: true
          },
        });
      } catch (e) {
        console.error(e);
      }

      this.items = []
      this.items = [...items, ...response.data.data.data.slice(0, this.limit)];
      this.moreAvailable = !!response.data.data.data[this.limit]
    },
    async getMoreData() {
      this.loading = true
      this.offset += this.limit;
      await this.getData(this.items);
      this.loading = false
    },
  },
  async fetch() {
    // if (this.$route.meta.directions && this.$route.params.direction) {
    //   const findedIndex = this.$route.meta.directions.findIndex(i => i.eventSlug === this.$route.params.direction)
    //   if (findedIndex === -1) {
    //     this.$router.push({name: 'webinarDetailed___pt-br', query: this.$route.query, params: {slug: this.$route.params.direction}})
    //     return
    //   }
    // }

    this.items = [];
    this.offset = 0;

    if (this.$route.params.direction) {
      let findedDirection = this.$store.state.webinars.directions.find(i => i.eventSlug === this.$route.params.direction)
      if (findedDirection) {
        this.direction = findedDirection
      } else this.direction = this.$store.state.webinars.directions[0]
    } else this.direction = this.$store.state.webinars.directions[0]

    await this.getData();
  },
  watch: {
    '$route.query': '$fetch',
  },
};
</script>

<style lang="sass">
.v-application .webinars-more .v-btn--outlined.primary--text:hover
  @media (max-width: 767px)
    background-color: transparent !important
    color: #d36133 !important
.webinars
  margin-bottom: 120px
  &-items
    display: flex
    flex-wrap: wrap
    margin: 0 -16px
  &-list_more
    & .v-btn.v-size--large
      display: block
      margin: auto
      border-radius: 40px !important
      padding: 21px 36px !important
      width: 169px
      @media (max-width: 767px)
        padding: 12px 32px !important
        width: 100%
        max-width: 599px
      & .v-btn__content
        text-transform: uppercase
        font-weight: 500
        font-size: 14px
        line-height: 16px
        @media (max-width: 767px)
          line-height: 24px
          font-size: 18px
          font-weight: normal
</style>
