<template>
  <v-app>
    <main class="webinar" v-if="webinar.id">
      <div class="breadcrumbs">
        <div class="m-container">
          <webinars-bread-crumbs :directionId="webinar.directionId" />
        </div>
      </div>

      <div class="m-container">
        <div class="webinar-row">
          <div class="webinar-col webinar-col--main">
            <div class="webinar-video">
              <iframe
                class="webinar-video_item"
                v-if="selectedTopic.youtubeBroadcast.broadcastId"
                :src="`https://www.youtube.com/embed/${parsedYoutubeId ? parsedYoutubeId : selectedTopic.youtubeBroadcast.broadcastId}?autoplay=1&rel=0&modestbranding=1&hl=pt&fs=1`"
                frameborder="0"
                allow="fullscreen;"
              >
              </iframe>
              <img class="webinar-video_item" v-else-if="webinar.images.showcaseImage" :src="webinar.images.showcaseImage.url" />

              <webinar-detailed-promo-block-registration
                :webinar="webinar"
                :key="`${webinarDetailedTopicsKey}-promo-block-registration`"
                :checkSubscriptions="checkSubscriptions"
              />
              <webinar-detailed-promo-block-sign-up-for-a-course
                :webinar="webinar"
                :key="`${webinarDetailedTopicsKey}-promo-block-sing-up-for-a-course`"
              />
            </div>

            <webinar-detailed-topics
              :key="webinarDetailedTopicsKey"
              :webinar="webinar"
            ></webinar-detailed-topics>
            <webinar-detailed-main-info
              :key="webinarDetailedMainInfoKey"
              :webinar="webinar"
            />

<!--            <webinar-detailed-call-to-action :webinar="webinar" v-if="selectedTopic.status === 'live'"></webinar-detailed-call-to-action>-->

            <div :class="{'webinar-more_info-wrapper': true, 'closed': !$store.state.webinars.moreInfo}">
              <v-expand-transition>
                <div class="webinar-more_info" v-show="$store.state.webinars.moreInfo">
                  <webinar-detailed-info-speaker
                    v-if="speakerFromDayOne || oneDayWebinar"
                    :topic="webinar.topics[0]"
                  />

                  <!-- <div class="m-container"> -->
                    <div class="webinar-info_block webinar-additional" v-if="processedWebinarAdditional || (oneDayWebinar && selectedTopic.description)">
                      <template v-if="processedWebinarAdditional">
                        <div v-html="processedWebinarAdditional"></div>
                      </template>
                      <template v-if="oneDayWebinar">
                        <template v-if="selectedTopic.description">
                          <hr/>
                          <div v-html="selectedTopic.description" class="webinar-topic_description"></div>
                        </template>
                      </template>
                    </div>
                  <!-- </div> -->

                  <webinar-detailed-info-schedule v-if="!oneDayWebinar">
                    <webinar-detailed-info-schedule-item
                      v-for="topic in processedTopics"
                      :key="topic.id"
                    >
                      <template v-slot:header_date>{{
                        formatDate(topic.topicDateUtc)
                      }}</template>
                      <template v-slot:header_title>{{ topic.title }}</template>
                      <template v-slot:content>
                        <div v-html="topic.description"></div>
                        <div v-if="!speakerFromDayOne">
                          <webinar-detailed-info-speaker
                            v-if="!topic.speakerFromDayOne && !topic.speakerFromDayTwo"
                            noHeader
                            :topic="topic"
                          />
                          <webinar-detailed-info-speaker
                            v-else
                            noHeader
                            :topic="topic.speakerFromDayOne ? webinar.topics[0] : webinar.topics[1].speakerFromDayOne ? webinar.topics[0] : webinar.topics[1]"
                          />
                        </div>
                      </template>
                    </webinar-detailed-info-schedule-item>
                  </webinar-detailed-info-schedule>

                  <div v-if="showOpinion && ((selectedTopic.status === 'live' || selectedTopic.status === 'finished') && pageWidth >= 1024)">
                    <webinar-detailed-opinion></webinar-detailed-opinion>
                  </div>
                </div>
              </v-expand-transition>
            </div>

          </div>
          <div class="webinar-col webinar-col--aside">
            <hr class="mobile" style="margin-top: 0" />
            <webinar-detailed-chat
              :key="webinarDetailedChatKey"
            />
            <webinar-detailed-opinion v-if="showOpinion && ((selectedTopic.status === 'live' || selectedTopic.status === 'finished') && pageWidth < 1024)"></webinar-detailed-opinion>

            <webinar-detailed-recommended :webinar="webinar" :exclude="[webinar.id]" />

            <webinar-detailed-other-webinars :exclude="[webinar.id]" />
          </div>
        </div>
      </div>
    </main>
  </v-app>
</template>

<script>
import WebinarDetailedChat from "../../components/webinars/webinarDetailedChat.vue";
import WebinarDetailedInfoSchedule from "../../components/webinars/webinarDetailedInfoSchedule.vue";
import WebinarDetailedInfoScheduleItem from "../../components/webinars/webinarDetailedInfoScheduleItem.vue";
import WebinarDetailedInfoSpeaker from "../../components/webinars/webinarDetailedInfoSpeaker.vue";
import webinarDetailedMainInfo from "../../components/webinars/webinarDetailedMainInfo.vue";
import WebinarDetailedOpinion from '../../components/webinars/webinarDetailedOpinion.vue';
import WebinarDetailedOtherWebinars from "../../components/webinars/webinarDetailedOtherWebinars.vue";
import WebinarDetailedRecommended from "../../components/webinars/webinarDetailedRecommended.vue";
import WebinarDetailedTopics from "../../components/webinars/webinarDetailedTopics.vue";
import WebinarsBreadCrumbs from "../../components/webinars/webinarsBreadCrumbs.vue";
import WebinarDetailedCallToAction from '../../components/webinars/webinarDetailedCallToAction.vue'
import WebinarDetailedPromoBlockRegistration from '../../components/webinars/webinarDetailedPromoBlockRegistration.vue'
import WebinarDetailedPromoBlockSignUpForACourse from '../../components/webinars/webinarDetailedPromoBlockSignUpForACourse.vue'
import breakpointsMixin from '../../mixins/breakpoints.mixin';
import getCookie from '../../utils/getCookie'
import addBlankTargets from '../../utils/addBlankTargets'
import { htmlToText } from 'html-to-text';
import parseYoutubeLinkToId from '../../utils/parseYoutubeLinkToId';
import { getWebinarType } from '../../pages/webinars/_types'

export default {
  meta: {
    show: ['br', 'mx'],
  },
  mixins: [breakpointsMixin],
  components: {
    webinarDetailedMainInfo,
    WebinarDetailedOtherWebinars,
    WebinarDetailedRecommended,
    WebinarDetailedChat,
    WebinarDetailedInfoSpeaker,
    WebinarDetailedInfoSchedule,
    WebinarDetailedInfoScheduleItem,
    WebinarDetailedTopics,
    WebinarsBreadCrumbs,
    WebinarDetailedOpinion,
    WebinarDetailedCallToAction,
    WebinarDetailedPromoBlockRegistration,
    WebinarDetailedPromoBlockSignUpForACourse,
  },
  head() {
    return {
      title: `EBAC ${this.type}: ${this.webinar.name}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `Participe do evento "${this.webinar.name}", ebaconline.com.br`
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: `EBAC ${this.type}: ${this.webinar?.name}`
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.webinar?.images?.showcaseImage?.url ? this.webinar?.images?.showcaseImage?.url : `https://img.youtube.com/vi/${this.selectedTopic?.youtubeBroadcast?.broadcastId}/hqdefault.jpg`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `Participe do evento "${this.webinar?.name}", ebaconline.com.br`
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: 'EBAC Online'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: `${this.$store?.state?.host}${this.$route?.path}`
        },
        {
          hid: 'og:locale',
          property: 'og:locale',
          content: this.$app?.config?.current?.localeName
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'article'
        },
        {
          hid: 'og:article',
          property: 'og:article',
          content: 'https://ogp.me/ns/article#'
        },
        {
          hid: 'article:published_time',
          property: 'article:published_time',
          content: this.selectedTopic?.created
        },
        {
          hid: 'article:modified_time',
          property: 'article:modified_time',
          content: this.selectedTopic?.modified
        },
        !this.webinar.published && {
          hid: 'robots',
          name: 'robots',
          content: 'noindex, follow'
        },
      ].filter(Boolean),
    }
  },
  data() {
    return {
      chatWrite: false,
      webinar: {},
      selectedTopicIndex: 0,
      selectedTopic: {},
      activeTopic: null,
      showOpinion: false,
      subsGetted: false,
      parsedYoutubeId: null,

      selectedTopicKey: 0,

      // timer
      timer: null,
      timerOffset: null,
      timerMaxFetches: 10,
      timerFetchesCount: 0
    };
  },
  async fetch() {
    const webinar = await this.getWebinar();
    await this.setWebinar(webinar);
    this.calculateTopicsClient();
  },
  computed: {
    processedTopics() {
      const topics = this.webinar.topics;

      return topics.map((topic) => ({ ...topic, description: addBlankTargets(topic.description) }))
    },
    processedWebinarAdditional() {
      const webinarAdditional = this.webinar.additional;

      return addBlankTargets(webinarAdditional);
    },
    convertedDescription() {
      return (htmlToText(this.webinar?.description) || "").replace(/\u00a0/g, ' ');
    },
    oneDayWebinar() {
      return this.webinar.topics.length === 1;
    },
    speakerFromDayOne() {
      return (
        this.webinar.topics.filter((i) => i.speakerFromDayOne === true)
          .length === this.webinar.topics.length - 1
      );
    },
    direction() {
      if (this.webinar.directionId) {
        return this.$store.state.webinars.directions.find(i => i.id === this.webinar.directionId)
      } else return undefined
    },
    type() {
      return this.$t(getWebinarType(this.webinar.type));
    },
    webinarDetailedChatKey() {
      return `${this.selectedTopicKey}-chat`
    },
    webinarDetailedTopicsKey() {
      return `${this.selectedTopicKey}-topics`
    },
    webinarDetailedMainInfoKey() {
      return `${this.selectedTopicKey}-info`
    },
  },
  methods: {
    checkAbTestPrefixBySlug(slug) {
      const abTestPrefix = this.$store.state.webinars.abTestPrefix;

      if (slug.endsWith(abTestPrefix)) {
        slug = slug.slice(0, (slug.lastIndexOf(abTestPrefix)))
        this.$store.commit('webinars/setAbTestPrefixActive', true)
      } else this.$store.commit('webinars/setAbTestPrefixActive', false)
      return slug;
    },
    async getWebinar() {
      let slug = this.checkAbTestPrefixBySlug(this.$route.params.slug);

      let response;
      try {
        response = await this.$axios({
          method: "post",
          url: `${this.$nuxt.$config.CMS_REST_API}/public/event`,
          data: {
            slug,
          },
        });
      } catch (e) {
        console.error(e);
        return null;
      }

      return response?.data?.data;
    },
    async setWebinar(webinar) {
      if (webinar) {
        this.webinar = webinar;
        this.selectedTopic = webinar.topics[0];
        // //! TODO REMOVE
        if (this.$route.query.forcelive === "true") {
          this.webinar.activeTopic.status = 'live'
          this.selectedTopic.status = 'live'
        }

        this.activeTopic = webinar.activeTopic;
        return true
      } else {
        this.$nuxt.error({ statusCode: 404, message: 'Webinar not found' })
        return false
      }
    },
    async checkForLiveAfterStartByTime() {
      const webinar = await this.getWebinar();
      if (webinar) {
        if (webinar.activeTopic.status !== 'live') {
          this.timerOffset = 60000
          this.streamStartedTimer();

          if (this.timerFetchesCount >= this.timerMaxFetches) {
            this.streamStartedTimerDestroy();
          }
        } else {
          await this.setWebinar(webinar)
          this.calculateTopicsClient();
          this.streamStartedTimerDestroy();
        }
      }
    },
    formatDate(textUtcDate) {
      return this.$dayjs
        .utc(textUtcDate)
        .utcOffset(this.$app.config.current.utcOffset)
        .format("DD [de] MMMM, HH:mm")
    },
    calculateTopicsClient() {
      // Клиентская дата для топиков (например, выбранный топик и статусы кнопок дней)
      const topicsClient = this.webinar.topics.map((topic, i) => {
        return {
          status: (() => {
            const currentStatus = topic.status;
            const previousStatus = this.webinar.topics[i - 1]?.status || undefined
            const nextStatus = this.webinar.topics[i + 1]?.status || undefined

            if (currentStatus === 'upcoming') {
              if (previousStatus === 'upcoming') return 'unclickable'
              if (previousStatus === 'live') return 'unclickable'

              if (previousStatus === 'finished') return 'active'
              if (nextStatus === 'upcoming') return 'active'
            }

            if (currentStatus === 'live') {
              return 'live'
            }

            if (currentStatus === 'finished') {
              return 'clickable'
            }
          })()
        }
      })

      const queryTopicIndex = +this.$route.query.topic
      const selectedTopicIndex = (() => {
        if (queryTopicIndex || queryTopicIndex === 0) {
          const queryTopic = this.webinar.topics[queryTopicIndex]
          if (queryTopic) {
            if (topicsClient[queryTopicIndex].status !== 'unclickable') {
              return queryTopicIndex
            }
          } else this.$router.replace({query: {...this.$route.query, topic: undefined}}).catch(() => {})
        }

        for (let index = 0; index < topicsClient.length; index++) {
          const topic = topicsClient[index];
          if (topic.status === 'live' || topic.status === 'active') {
            return index
          }
        }

        return 0
      })()

      this.selectedTopic = this.webinar.topics[selectedTopicIndex]
      this.selectedTopicIndex = selectedTopicIndex

      this.$store.commit('webinars/setSelectedTopic', {selectedTopic: this.selectedTopic, selectedTopicIndex})
      this.$store.commit('webinars/setTopicsClient', topicsClient.map((item, i) => {
        let returning = item;
        if (item.status === 'active') {
          returning = {...item, status: 'clickable'}
        }
        if (i === selectedTopicIndex) {
          returning = {...item, status: 'active'}
        }
        return returning
      }))

      this.checkWebinarRecording();
    },
    toggleInfo() {
      if (this.pageWidth < 1024) {
        if (
          this.selectedTopic.status === 'live' ||
          this.selectedTopic.status === 'finished'
        ) {
          this.$store.commit('webinars/setMoreInfo', false)
          return
        }
      }
      this.$store.commit('webinars/setMoreInfo', true)
    },
    async getSubscriptions(a_token) {
      this.subsGetted = true
      if (!a_token) return null
      let response;
      try {
        response = await this.$axios({
          method: "post",
          url: `https://gdd.ebaconline.com.br/api/get_user_events_subscriptions`,
          data: {
            aToken: a_token
          },
        });
      } catch (e) {
        console.error(e);
        return {};
      }

      if (response.data.status === 'ok') {
        this.$store.commit('webinars/setSubscriptions', response.data.subscriptions)
        return response.data.subscriptions
      } else {
        console.error(response.data)
        return null
      }
    },
    async checkSubscriptions() {
      const a_token = getCookie({ name: 'a_token', cookies: document.cookie });
      if (!a_token) return false

      let subscriptions = this.$store.state.webinars.subscriptions;
      if (!subscriptions) {
        subscriptions = await this.getSubscriptions(a_token)
      }

      const currentSubscription = subscriptions.find(i => i.schedule_event_id === this.webinar.id)
      if (currentSubscription) {
        return true
      }

      if (!this.subsGetted) {
        await this.getSubscriptions(a_token)
        return await this.checkSubscriptions()
      }

      return false
    },
    async checkSubscriptionsMX() {
      try {
        const a_token = getCookie({ name: 'a_token', cookies: document.cookie });
        if (!a_token) return false
        const response = await this.$axios({
          method: "get",
          url: this.$app.config.current.checkSubscriptionsLink,
          params: {
            webinarSlug: this.$route.params.slug
          },
          headers: { Authorization: `Bearer ${a_token}` }
        });
        return response.data.isMine;
      } catch (e) {
        console.error(e);
        return {};
      }
    },
    async setSubscribed() {
      let subscribed = false;
      if (this.$app.config.current.localeName === 'es-mx') {
        subscribed = await this.checkSubscriptionsMX()
      } else subscribed = await this.checkSubscriptions()

      this.$store.commit('webinars/setCurrentSubscribed', subscribed)
    },
    streamStartedTimer() {
      const topicStart = this.$dayjs.utc(this.webinar.activeTopic.topicDateUtc)
      this.timer = setInterval(() => {
        const utcNow = this.$dayjs.utc()
        if (utcNow.isAfter(topicStart)) {
          this.timerFetchesCount++;
          this.streamStartedTimerDestroy();
          this.checkForLiveAfterStartByTime();
        }
      }, this.timerOffset)
    },
    streamStartedTimerDestroy() {
      clearInterval(this.timer)
    },
    checkWebinarRecording() {
      if (this.selectedTopic.webinarRecording) {
        this.parsedYoutubeId = parseYoutubeLinkToId(this.selectedTopic.webinarRecording)
      } else this.parsedYoutubeId = null
    },
  },
  async mounted() {
    if (this.$route.query.forcelive === "true") {
      this.$store.commit('webinars/setForcelive', true);
    }

    await this.setSubscribed();

    this.timerOffset = 10000
    if (this.webinar.id && this.webinar.activeTopic.status === 'upcoming') this.streamStartedTimer();
  },
  beforeDestroy() {
    this.streamStartedTimerDestroy();
  },
  watch: {
    '$route': {
      handler() {
        this.calculateTopicsClient();
      }
    },
    'breakpoint'(value, oldValue) {
      this.toggleInfo()
      if ((oldValue === '$md' || oldValue === '$lp' || oldValue === "$xl") && (value === '$tb' || value === '$xs' || value === '$xxs')) {
        this.$store.commit('webinars/setDisplayChat', true)
      }
    },
    'selectedTopic'() {
      this.toggleInfo();
    },
    '$store.state.webinars.selectedTopic.id'() {
      this.selectedTopicKey++;
    },
  },
};
</script>

<style lang="sass">
.webinar
  margin-top: 16px
  color: black
  @media (min-width: 768px)
    margin-top: 20px
  @media (min-width: 1024px)
    margin-top: 32px
    line-height: 24px
  &-additional
    h3, h5
      margin-bottom: 16px
    h5, h4
      & font
        font-size: 24px !important
        font-weight: 600
        line-height: 28px
        @media (max-width: 1023px)
          font-size: 16px !important
          line-height: 20px
  & .breadcrumbs
    // margin-top: 16px
    margin-bottom: 16px
  &-more_info-wrapper
    @media (max-width: 767px)
      margin-left: -20px
      margin-right: -20px
      & > *
        padding-left: 20px
        padding-right: 20px
  // &-more_info-wrapper.closed
  //   border-bottom: 1px solid #DBDBDE
  &-more_info
    @media (min-width: 1024px)
      display: block !important
  &-info_block
    // margin-bottom: 24px
    padding-top: 24px
    padding-bottom: 24px
    &+.webinar-info_block
      border-top: 1px solid #DBDBDE
    @media (min-width: 1024px)
      padding-top: 28px
      padding-bottom: 28px
    @media (max-width: 767px)
      margin-left: -20px
      margin-right: -20px
      & > *
        padding-left: 20px
        padding-right: 20px
    &:first-child
      border-top: 1px solid #DBDBDE
    &:last-child
      margin-bottom: 0
  &-subtitle, & h2
    font-size: 24px
    font-weight: 600
    line-height: 28px
    flex: 1 0 100%
    @media (max-width: 1023px)
      font-size: 16px
      line-height: 20px
  &-row
    display: flex
    margin-left: -16px
    margin-right: -16px
    margin-bottom: 120px
    @media (max-width: 1023px)
      margin-left: 0
      margin-right: 0
      flex-direction: column
  &-col
    padding-right: 16px
    padding-left: 16px
    @media (max-width: 1023px)
      padding: 0
  &-col--main
    flex: 1
    @media (min-width: 768px)
      flex: 0 0 320px
    @media (min-width: 1024px)
      flex: 0 0 651px
    @media (min-width: 1280px)
      flex: 0 0 795px
    @media (max-width: 1023px)
      font-size: 16px
  &-col--aside
    flex: 0 1 100%
  &-video
    border-radius: 8px
    overflow: hidden
    margin-bottom: 16px
    @media (min-width: 768px)
      margin-bottom: 20px
    @media (max-width: 767px)
      margin-left: -20px
      margin-right: -20px
      border-radius: 0
    @media (max-width: 1023px)
      order: -1
    &_item
      width: 100%
      height: 180px
      vertical-align: bottom
      @media (min-width: 768px)
        height: 396px
      @media (min-width: 1024px)
        height: 348px
      @media (min-width: 1280px)
        height: 430px
    & img
      max-width: 100%
      object-fit: cover
  & hr
    border-width: 1px
    border-style: solid
    border-color: #DBDBDE
    border-bottom: unset
    margin-top: 28px
    margin-bottom: 28px
    @media (max-width: 1023px)
      margin: 24px 0
    @media (max-width: 767px)
      margin: 24px -20px
  & hr.mobile
    display: none
    @media (max-width: 1023px)
      display: block
  &__talkabout
    &-title
      margin-bottom: 16px
  & .webinar-additional
    & a
      color: #d36133
      text-decoration: underline
</style>
