<template>
  <div
    class="checkbox"
    :class="[{
      'checkbox_checked': value,
      'checkbox_error': isError,
      'checkbox_black': black,
    }, `checkbox--${theme}`]"
  >
    <div class="checkbox-wrapper">
      <div
        class="checkbox__input-wrapper"
        :class="{ 'checkbox__input-wrapper_hover': isHover }"
        @mouseover="mouseOver"
        @mouseleave="mouseLeave"
        @click="toggle"
      >
        <div class="checkbox-icon">
          <svg
            v-show="value"
            width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 5.5L5 9.5L11 1"
              :stroke="black ? 'black' : 'white'"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <input
          :id="id"
          class="checkbox__input"
          role="checkbox"
          type="checkbox"
          :value="value"
        />
      </div>
      <label
        :for="id"
        class="checkbox__label"
        @mouseover="mouseOver"
        @mouseleave="mouseLeave"
        @click="toggle"
      >
        <slot />
      </label>
    </div>
    <div class="v-text-field__details">
      <div class="v-messages theme--light error--text">
        <div class="v-messages__wrapper">
          <v-slide-y-transition>
            <div
              v-show="isError"
              class="mx-auto v-messages__message"
            >
              {{ error }}
            </div>
          </v-slide-y-transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { nanoid } from 'nanoid'

export default {
  name: 'checkbox',
  props: [
    'value',
    'errorMessages',
    'black',
    'theme'
  ],
  data() {
    return {
      isHover: false,
    }
  },
  created() {
    this.id = nanoid();
  },
  computed: {
    isError() {
      const error = this.error;

      return !!error;
    },
    error() {
      const errors = this.errorMessages || [];

      return errors?.[0];
    }
  },
  methods: {
    toggle(e) {
      if (e.target.nodeName.toLowerCase() !== 'a' && e.target.nodeName.toLowerCase() !== 'label') this.$emit('input', !this.value);
    },
    mouseOver(e) {
      if (e.target.nodeName.toLowerCase() !== 'a') this.isHover = true;
      else this.isHover = false;
    },
    mouseLeave(e) {
      if (e.target.nodeName.toLowerCase() !== 'a') this.isHover = false;
    },
  },
}
</script>

<style lang="sass">
  .checkbox
    display: flex
    outline: 0
    flex-wrap: nowrap
    flex-direction: column
    &-wrapper
      display: flex
      align-items: center
      flex-wrap: nowrap
      margin-bottom: 6px
    &-icon
      display: flex
      justify-content: center
      align-items: center
      height: 100%
      width: 100%
    &_accepted-rules
      text-align: left
      align-self: self-start
      & .checkbox__label
        font-size: 14px
        line-height: 18px
        color: #535353
        & a
          text-decoration: none
          color: #535353
          border-bottom: 1px solid #535353
          line-height: 19px
    &_black
      & .checkbox_checked .checkbox__input-wrapper
        background: black
      & .checkbox__input-wrapper
        border-color: black
        background: white!important
      & .checkbox__label
        color: black
      & .checkbox-icon
        color: black
    &_checked
      & .checkbox__input-wrapper
        background: #905DB4
    &_error
      & .checkbox__input-wrapper
        border-color: $negative
    &__input-wrapper
      width: 22px
      min-width: 22px
      height: 22px
      min-height: 22px
      border: 1px solid #905DB4
      border-radius: 4px
      position: relative
      cursor: pointer
      &_hover
        border-width: 2px
    &__input
      position: absolute
      top: 0
      opacity: 0
      width: 100%
      height: 100%
      cursor: pointer
    &__label
      margin-left: 8px
      cursor: pointer
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #905DB4

    //themes
    &--orange
      border-radius: 0
      .checkbox-icon
        background: #fff
        path
          stroke: #fff
      .checkbox__input-wrapper
        border: 2px solid #ff7900
      &.checkbox_checked
        path
          stroke: #ff7900

  .checkbox_black.checkbox_accepted-rules
    & a
      color: black!important
      border-bottom-color: black
</style>
