<template>
  <div
    class="content-list"
    :class="{
      'content-list_is-display-on-desktop': !!isDisplayOnDesktop
    }"
  >
    <v-btn
      v-if="isDisplayOnDesktop && swiper && swiper[0] && displayNumber < swiper[0].slides.length"
      class="swiper-button-prev swiper-button-prev_display-on-desktop"
      color="secondary"
      :icon="swiper[0].activeIndex + 1 + displayNumber === 1 + displayNumber"
      :fab="swiper[0].activeIndex + 1 + displayNumber !== 1 + displayNumber"
      :ripple="false"
      @click="swiperPrevSlide"
    >
      <leftArrow style="margin-right: 3px;" />
    </v-btn>

    <v-btn
      v-if="isDisplayOnDesktop && swiper && swiper[0] && displayNumber < swiper[0].slides.length"
      class="swiper-button-next swiper-button-next_display-on-desktop"
      color="secondary"
      :icon="swiper[0].activeIndex + displayNumber === swiper[0].slides.length"
      :fab="swiper[0].activeIndex + displayNumber !== swiper[0].slides.length"
      :ripple="false"
      @click="swiperNextSlide"
    >
      <rightArrow style="margin-left: 3px;" />
    </v-btn>
    <div
      class="swiper-container"
      :class="{ [sliderId]: true }"
    >
      <div
        class="swiper-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>
    </div>
    <div
      v-if="!isDesktopOneItemSwiper"
      class="common-block m-container"
      :class="{ [sliderId]: true }"
    >
      <div
        class="common-block-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>
    </div>
    <div
      v-if="isDesktopOneItemSwiper"
      class="swiper-container one-item-swiper-container m-container"
      :class="{ [`${sliderId}-one-item`]: true }"
    >
      <div
        class="swiper-wrapper one-item-swiper-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>

      <div
        v-if="swiperOneItem"
        v-show="swiperOneItem.mounted"
        class="swiper-current-slide"
      >{{ String(swiperOneItem.activeIndex + 1).padStart(2, '0') }} / {{ String(swiperOneItem.slides.length).padStart(2, '0') }}</div>

      <v-btn
        v-if="swiperOneItem"
        class="swiper-button-prev"
        color="secondary"
        :icon="swiperOneItem.activeIndex + 1 === 1"
        :fab="swiperOneItem.activeIndex + 1 !== 1"
        :ripple="false"
        @click="oneItemSwiperPrevSlide"
      >
        <leftArrow style="margin-right: 3px;" />
      </v-btn>

      <v-btn
        v-if="swiperOneItem"
        class="swiper-button-next"
        color="secondary"
        :icon="swiperOneItem.activeIndex + 1 === swiperOneItem.slides.length"
        :fab="swiperOneItem.activeIndex + 1 !== swiperOneItem.slides.length"
        :ripple="false"
        @click="oneItemSwiperNextSlide"
      >
        <rightArrow style="margin-left: 3px;" />
      </v-btn>
    </div>
  </div>
</template>

<script>
import rightArrow from "../../../landing_generator/assets/svg/right-arrow.svg?inline"
import leftArrow from "../../../landing_generator/assets/svg/left-arrow.svg?inline"
import Swiper from 'swiper'

export default {
  name: 'ContentList',
  props: [
    'sliderId',
    'contentClass',
    'isDesktopOneItemSwiper',
    'isDisplayOnDesktop',
    'displayNumber',
  ],
  data() {
    return {
      swiper: null,
      swiperOneItem: null,
    }
  },
  mounted() {
    this.swiper = new Swiper(`.${this.sliderId}`, {
      slidesPerView: 'auto',
    });

    if (this.isDesktopOneItemSwiper) {
      this.swiperOneItem = new Swiper(
        `.${this.sliderId}-one-item`,
        {
          observer: true,
          observeParents: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          spaceBetween: 20,
        },
      );
    }
  },
  methods: {
    oneItemSwiperNextSlide() {
      this.swiperOneItem.slideNext();
    },
    oneItemSwiperPrevSlide() {
      this.swiperOneItem.slidePrev();
    },
    swiperNextSlide() {
      if (this.swiper[0].activeIndex + this.displayNumber !== this.swiper[0].slides.length) {
        this.swiper?.[0]?.slideNext();
      }
    },
    swiperPrevSlide() {
      this.swiper?.[0]?.slidePrev();
    },
  },
  components: {
    rightArrow,
    leftArrow,
  }
}
</script>

<style lang="sass">
  @import "../../../landing_generator/style/swiper-bundle.min.css"

  .content-list
    position: relative
    &_is-display-on-desktop
      & .swiper-container
        @media (min-width: $tb)
          display: block!important
      & .common-block
        display: none!important
    & .swiper-button-prev
      &_display-on-desktop
        display: none
        position: absolute
        top: -57px!important
        right: 86px!important
        left: auto
        @media (min-width: $tb)
          display: block
        &:after
          display: none
    & .swiper-button-next
      &_display-on-desktop
        display: none
        position: absolute
        top: -57px!important
        right: 30px
        @media (min-width: $tb)
          display: block
        &:after
          display: none
    & .swiper-slide
      width: auto
    & .swiper-container
      @media (min-width: $tb)
        display: none
      &.one-item-swiper-container
        display: none
        @media (min-width: $tb)
          display: block
    & .common-block
      display: none
      @media (min-width: $tb)
        display: block
    & .one-item-swiper-container
      width: 100%
      height: 100%
      & .swiper-button-next
        position: absolute
        &:after
          display: none
        &:focus:before
          opacity: 0!important
      & .swiper-button-prev
        position: absolute
        &:after
          display: none
        &:focus:before
          opacity: 0!important
      & .swiper-slide
        text-align: center
        font-size: 18px
        background: #fff
        display: flex
        justify-content: center
        align-items: center
</style>
