<template>
  <div
    class="content-list-v2"
  >
    <div
      class="swiper-container"
      :class="{ [sliderId]: true }"
    >
      <div
        class="swiper-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>
    </div>
    <div
      v-if="!isDesktopOneItemSwiper"
      class="common-block m-container"
      :class="{ [sliderId]: true }"
    >
      <div
        class="common-block-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>
    </div>
    <div
      v-if="isDesktopOneItemSwiper"
      class="swiper-container one-item-swiper-container m-container"
      :class="{ [`${sliderId}-one-item`]: true }"
    >
      <div
        class="swiper-wrapper one-item-swiper-wrapper"
        :class="{ [contentClass]: true }"
      >
        <slot name="items" />
      </div>

      <div
        v-if="swiperOneItem"
        v-show="swiperOneItem.mounted"
        class="swiper-current-slide"
      >{{ String(swiperOneItem.activeIndex + 1).padStart(2, '0') }} / {{ String(swiperOneItem.slides.length).padStart(2, '0') }}</div>

      <v-btn
        v-if="swiperOneItem"
        class="swiper-button-prev"
        color="secondary"
        :icon="swiperOneItem.activeIndex + 1 === 1"
        :fab="swiperOneItem.activeIndex + 1 !== 1"
        :ripple="false"
        @click="oneItemSwiperPrevSlide"
      >
        <leftArrow style="margin-right: 3px;" />
      </v-btn>

      <v-btn
        v-if="swiperOneItem"
        class="swiper-button-next"
        color="secondary"
        :icon="swiperOneItem.activeIndex + 1 === swiperOneItem.slides.length"
        :fab="swiperOneItem.activeIndex + 1 !== swiperOneItem.slides.length"
        :ripple="false"
        @click="oneItemSwiperNextSlide"
      >
        <rightArrow style="margin-left: 3px;" />
      </v-btn>
    </div>
  </div>
</template>

<script>
import rightArrow from "~/assets/svg/right-arrow.svg?inline"
import leftArrow from "~/assets/svg/left-arrow.svg?inline"
import Swiper from 'swiper'

export default {
  name: 'ContentList',
  props: [
    'sliderId',
    'contentClass',
    'isDesktopOneItemSwiper',
  ],
  data() {
    return {
      swiper: null,
      swiperOneItem: null,
    }
  },
  mounted() {
    this.swiper = new Swiper(`.${this.sliderId}`, {
      slidesPerView: 'auto',
    });

    if (this.isDesktopOneItemSwiper) {
      this.swiperOneItem = new Swiper(
        `.${this.sliderId}-one-item`,
        {
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          spaceBetween: 20,
        },
      );
    }
  },
  methods: {
    oneItemSwiperNextSlide() {
      this.swiperOneItem.slideNext();
    },
    oneItemSwiperPrevSlide() {
      this.swiperOneItem.slidePrev();
    },
  },
  components: {
    rightArrow,
    leftArrow,
  }
}
</script>

<style lang="sass" scoped>
  @import "~/style/swiper-bundle.min.css"

  .content-list-v2
    position: relative
    @media (min-width: $md)
      display: none
    & .swiper-slide
      width: auto
    & .swiper-container
      @media (min-width: $md)
        display: none
      &.one-item-swiper-container
        display: none
        @media (min-width: $md)
          display: block
    & .common-block
      display: none
      @media (min-width: $md)
        display: block
    & .one-item-swiper-container
      width: 100%
      height: 100%
      & .swiper-button-next
        position: absolute
        &:after
          display: none
        &:focus:before
          opacity: 0!important
      & .swiper-button-prev
        position: absolute
        &:after
          display: none
        &:focus:before
          opacity: 0!important
      & .swiper-slide
        text-align: center
        font-size: 18px
        background: #fff
        display: flex
        justify-content: center
        align-items: center
</style>
