<template>
  <div
    v-resize="onResize"
    class="hide-lines"
    :class="{
      'hide-lines_loading': !displayedLines
    }"
    :style="{
      'max-height': maxHeight
    }"
    style="overflow: hidden;"
    ref="hideLinesBlock"
  >
    <slot />
    <div
      v-if="isOverflow"
      class="hide-lines__hide-last-line"
      :style="{
        'height': lineHeight
      }"
    />
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'hideLines',
  data() {
    return {
      isOverflow: false,
      lineHeight: '',
      displayedLines: 0,
    }
  },
  computed: {
    lineHeightNumber() {
      const lineHeight = this.lineHeight;
      return parseInt(lineHeight);
    },
    maxHeight() {
      const lineHeightNumber = this.lineHeightNumber;
      const displayedLines = this.displayedLines;

      if (!lineHeightNumber || !displayedLines) return '999px';
      return `${lineHeightNumber * displayedLines}px`;
    },
  },
  methods: {
    setLineHeight(element) {
      this.lineHeight = this.getStyle(element, 'line-height');
    },
    setIsOverflow(element) {
      this.isOverflow = element.scrollHeight > element.clientHeight;
    },
    setDisplayedLines(element) {
      this.displayedLines = Math.floor(element.parentElement.clientHeight / this.lineHeightNumber);
    },
    getStyle(element, style) {
      if (element.currentStyle) {
        return element.currentStyle[style];
      } else if (window.getComputedStyle) {
        return document.defaultView.getComputedStyle(element, null).getPropertyValue(style);
      }
    },
    async onResize() {
      const ref = this.$refs.hideLinesBlock;

      this.setIsOverflow(ref);
      await Vue.nextTick();
      this.setLineHeight(ref);
      this.setDisplayedLines(ref);
    },
  },
}
</script>

<style lang="sass">
  .hide-lines
    height: 100%
    position: relative
    &_loading
      opacity: 0
    &__hide-last-line
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      opacity: .7
      background: #fff
</style>
