<template>
  <div
    class="autocomplete-wrapper"
    ref="autocomplete-wrapper"
  >
    <v-autocomplete
      class="hint-email"
      ref="email"
      v-model="formValue"
      hide-no-data
      @update:search-input="onUpdateSearchInput"
      :items="emailComputed"
      :label="label"
      solo
      :error-messages="errorMessages"
      hide-selected
      @keydown.tab="tab"
      :attach="attachNode || $refs['autocomplete-wrapper']"
    >
      <template slot="append">{{ }}</template>
    </v-autocomplete>
  </div>
</template>

<script>
export default {
  name: 'hintEmail',
  props: [
    'value',
    'label',
    'errorMessages',
    'nextComponent',
    'maxNumberOfTips',
  ],
  data() {
    return {
      domains: [
        'gmail.com',
        'hotmail.com',
        'outlook.com',
        'yahoo.com.br',
        'icloud.com',
        'live.com',
        'yahoo.com',
        'gmail.com.br',
        'bol.com.br',
        'gmail.com',
        'uol.com.br',
        'hotmail.com.br',
        'outlook.com.br',
        'terra.com.br',
      ],
    }
  },
  computed: {
    formValue: {
      set: function (value) {
        this.$emit('input', value ? value.trim() : value);
      },
      get: function () {
        return this.value;
      }
    },
    showMenu() {
      const email = this.formValue || '';
      return (email.match(/@/g) || []).length === 1;
    },
    emailComputed() {
      const email = this.formValue;
      if (email === null) return [];
      const [partEmail, domain] = email.split('@');
      const examples = [email];
      if (domain === '') {
        examples.push(...this.domains.slice(0, this.maxNumberOfTips || 4).map(domain => `${partEmail}@${domain}`));
      } else {
        examples.push(...this.domains.filter((_domain) => new RegExp(`^${domain}`).test(_domain)).slice(0, this.maxNumberOfTips || 4).map(_domain => `${partEmail}@${_domain}`));
      }
      return examples;
    },
    attachNode() {
      return this.$el;
    }
  },
  methods: {
    onUpdateSearchInput(value) {
      if (value !== null) {
        if (value === '') this.formValue = null;
        else this.formValue = value;
      }
    },
    tab(e) {
      e.stopPropagation();
      e.preventDefault();

      if (this.nextComponent) {
        this.nextComponent.focus();
      }
    },
  },
}
</script>

<style lang="sass">
  .autocomplete-wrapper
    position: relative
  .hint-email
    & .v-input__append-inner
      display: none
</style>
