<template>
  <ValidationProvider mode="custom" :name="name" :rules="{ required: true, min: { length: maxLength } }" v-slot="{ errors }">
    <v-text-field
      class="phone"
      v-model="formValue"
      v-mask="inputMask"
      :label="phoneMaskWithoutCode"
      solo
      :error-messages="errors.length || errorMessages ? $t('phone.error') : ''"
      inputmode="numeric"
      ref="phoneInput"
    >
      <template slot="prepend-inner">
<!--        <input type="text" ref="phoneSelectInput" />-->
        <v-select
          class="phone-flag"
          v-model="phoneMaskName"
          :items="PHONE_MASK_COUNTRIES_LIST_ARRAY"
          item-value="key"
          hide-details
          single-line
          @click="onClickSelectFlags"
          :attach="attach"
        >
          <template slot="append">
            <angleDown />
          </template>
          <template slot="append-outer">
            <div class="separator" />
          </template>
          <template slot="label">
            <div class="selected-mask-flag-wrapper">
              <div lazy-background="../../../landing_generator/assets/images/flags.png" class="selected-mask-flag" :data-phonemask-flag="phoneMaskName" />
            </div>
          </template>
          <template slot="selection">
            <div class="selected-mask-flag-wrapper">
              <div lazy-background="../../../landing_generator/assets/images/flags.png" class="selected-mask-flag" :data-phonemask-flag="phoneMaskName" />
            </div>
          </template>
          <template v-slot:item="slotProps">
            <div class="phone-flag-item">
              <div class="phone-flag-item__country-name">
                {{ slotProps.item.n }}
              </div>
              <div class="phone-flag-item__code">
                {{ slotProps.item.c }}
              </div>
              <div class="phone-flag-item__flag-wrapper">
                <div
                  lazy-background="../../../landing_generator/assets/images/flags.png"
                  class="phone-flag-item__flag selected-mask-flag"
                  :data-phonemask-flag="slotProps.item.key"
                />
              </div>
            </div>
          </template>
        </v-select>
        <div class="code">{{ phoneMaskObj.c }}</div>
      </template>
    </v-text-field>
  </ValidationProvider>
</template>

<script>
import { VueMaskDirective } from '../../directives/v-mask.esm'
import { ValidationProvider } from 'vee-validate'

import angleDown from "../../../landing_generator/assets/svg/angle-down.svg?inline"

export default {
  name: 'phone',
  props: [
    'value',
    'name',
    'defaultPhoneMask',
    'errorMessages'
  ],
  data() {
    return {
      phoneMaskName: this.defaultPhoneMask || this.$app.config.current.defaultPhoneMask || 'bm',
      attach: null,
    }
  },
  created() {
    this.PHONE_MASK_COUNTRIES_LIST_ARRAY = Object
      .entries(PHONE_MASK_COUNTRIES_LIST)
      .map(([key, value]) => ({ key, ...value }));
  },
  mounted() {
    this.attach = this.$refs['phoneInput'].$el;
  },
  computed: {
    formValue: {
      set: function (value) {
        if (String(value)) this.$emit('input', `${this.phoneMaskObj.c}${value}`);
        else this.$emit('input', ``);
      },
      get: function () {
        if (!String(this.value)) return '';
        const phoneMaskCode = this.phoneMaskObj.c;
        const phone = this.value.substr(phoneMaskCode.length);
        return phone;
      }
    },
    phoneMaskObj() {
      const phoneMask = this.phoneMaskName;
      return PHONE_MASK_COUNTRIES_LIST[phoneMask];
    },
    phoneMaskWithoutCode() {
      const phoneMask = this.phoneMaskObj.m;
      const phoneMaskCode = this.phoneMaskObj.c;
      let computedPhoneMask = phoneMask.substr(phoneMaskCode.length);
      if ('-' == computedPhoneMask.charAt(0)) computedPhoneMask = computedPhoneMask.substring(1);
      return computedPhoneMask;
    },
    maxLength() {
      const phoneMaskWithoutCode = this.phoneMaskWithoutCode;
      return phoneMaskWithoutCode.length;
    },
    inputMask() {
      const phoneMaskWithoutCode = this.phoneMaskWithoutCode;
      return phoneMaskWithoutCode.replace(/[0-9]/g, '#');
    },
  },
  methods: {
    onClickSelectFlags(e) {
      // Закомментировал, т.к. смысл кода непонянет, а так же визуально появился инпут (см. коммит)
      // e.stopPropagation();
      // this.$refs.phoneSelectInput.focus();
    },
    focus() {
      this.$refs?.phoneInput?.focus();
    },
  },
  directives: {
    'mask': VueMaskDirective
  },
  components: {
    angleDown,
    ValidationProvider,
  },
}

const PHONE_MASK_COUNTRIES_LIST = {
  af: {n: "Afghanistan (افغانستان‎)", c: "+93", m: "+93-99-999-9999", id: "t-phonemask_af"},
  al: {n: "Albania (Shqipëri)", c: "+355", m: "+355(999) 999-999", id: "t-phonemask_al"},
  dz: {n: "Algeria (الجزائر‎)", c: "+213", m: "+213-99-999-9999", id: "t-phonemask_dz"},
  ad: {n: "Andorra", c: "+376", m: "+376-999-999", id: "t-phonemask_ad"},
  ao: {n: "Angola", c: "+244", m: "+244(999) 999-999", id: "t-phonemask_ao"},
  am: {n: "Armenia (Հայաստան)", c: "+374", m: "+374-99-999-999", id: "t-phonemask_am"},
  ag: {n: "Antigua and Barbuda", c: "+1 (268)", m: "+1 (268)999-9999", id: "t-phonemask_ag"},
  ar: {n: "Argentina", c: "+54", m: "+54(999) 9999-9999", id: "t-phonemask_ar"},
  au: {n: "Australia", c: "+61", m: "+61-99-9999-9999", id: "t-phonemask_au"},
  at: {n: "Austria (Österreich)", c: "+43", m: "+43(999) 999-99999", id: "t-phonemask_at"},
  az: {n: "Azerbaijan (Azərbaycan)", c: "+994", m: "+994-99-999-99-99", id: "t-phonemask_az"},
  bs: {n: "Bahamas", c: "+1 (242)", m: "+1 (242)999-9999", id: "t-phonemask_bs"},
  bh: {n: "Bahrain (البحرين‎)", c: "+973", m: "+973-9999-9999", id: "t-phonemask_bh"},
  bd: {n: "Bangladesh (বাংলাদেশ)", c: "+880", m: "+880-9999-999999", id: "t-phonemask_bd"},
  bb: {n: "Barbados", c: "+1 (246)", m: "+1 (246)999-9999", id: "t-phonemask_bb"},
  be: {n: "Belgium (België)", c: "+32", m: "+32(999) 999-999", id: "t-phonemask_be"},
  bz: {n: "Belize", c: "+501", m: "+501-999-9999", id: "t-phonemask_bz"},
  bj: {n: "Benin (Bénin)", c: "+229", m: "+229-99-99-9999", id: "t-phonemask_bj"},
  bt: {n: "Bhutan", c: "+975", m: "+975-9-999-9999", id: "t-phonemask_bt"},
  bo: {n: "Bolivia", c: "+591", m: "+591-9-999-9999", id: "t-phonemask_bo"},
  ba: {n: "Bosnia and Herzegovina", c: "+387", m: "+387-99-999-999", id: "t-phonemask_ba"},
  bw: {n: "Botswana", c: "+267", m: "+267-99-999-999", id: "t-phonemask_bw"},
  br: {n: "Brazil (Brasil)", c: "+55", m: "+55(99) 9999-9999", id: "t-phonemask_br"},
  bm: {n: "Brazil (Brasil) (mobile)", c: "+55", m: "+55(99) 99999-9999", id: "t-phonemask_bm"},
  bn: {n: "Brunei", c: "+673", m: "+673-999-9999", id: "t-phonemask_bn"},
  bg: {n: "Bulgaria (България)", c: "+359", m: "+359(999) 999-999", id: "t-phonemask_bg"},
  bf: {n: "Burkina Faso", c: "+226", m: "+226-99-99-9999", id: "t-phonemask_bf"},
  kh: {n: "Cambodia", c: "+855", m: "+855-99-999-999", id: "t-phonemask_kh"},
  cm: {n: "Cameroon (Cameroun)", c: "+237", m: "+237-9-99-99-99-99", id: "t-phonemask_cm"},
  ca: {n: "Canada", c: "+1", m: "+1(999) 999-9999", id: "t-phonemask_ca"},
  cv: {n: "Cape Verde (Kabu Verdi)", c: "+238", m: "+238(999) 99-99", id: "t-phonemask_cv"},
  td: {n: "Chad (Tchad)", c: "+235", m: "+235-99-99-99-99", id: "t-phonemask_td"},
  cl: {n: "Chile", c: "+56", m: "+56-9-9999-9999", id: "t-phonemask_cl"},
  cn: {n: "China (中国)", c: "+86", m: "+86(999) 9999-9999", id: "t-phonemask_cn"},
  co: {n: "Colombia", c: "+57", m: "+57(999) 999-9999", id: "t-phonemask_co"},
  km: {n: "Comoros (جزر القمر‎)", c: "+269", m: "+269-99-99999", id: "t-phonemask_km"},
  ck: {n: "Cook Islands", c: "+682", m: "+682-99-999", id: "t-phonemask_ck"},
  cr: {n: "Costa Rica", c: "+506", m: "+506-9999-9999", id: "t-phonemask_cr"},
  ci: {n: "Cote d’Ivoire", c: "+225", m: "+225-99-999-999", id: "t-phonemask_ci"},
  hr: {n: "Croatia (Hrvatska)", c: "+385", m: "+385-99-999-9999", id: "t-phonemask_hr"},
  cy: {n: "Cyprus (Κύπρος)", c: "+357", m: "+357-99-999-999", id: "t-phonemask_cy"},
  cz: {n: "Czech Republic (Česká republika)", c: "+420", m: "+420(999) 999-999", id: "t-phonemask_cz"},
  dk: {n: "Denmark (Danmark)", c: "+45", m: "+45-99-99-99-99", id: "t-phonemask_dk"},
  dj: {n: "Djibouti", c: "+253", m: "+253-99-99-99-99", id: "t-phonemask_dj"},
  dm: {n: "Dominica", c: "+1 (767)", m: "+1 (767)999-9999", id: "t-phonemask_dm"},
  do: {n: "Dominican Republic (República Dominicana)", c: "+1", m: "+1(999) 999-9999", id: "t-phonemask_do"},
  ec: {n: "Ecuador", c: "+593", m: "+593-9-999-9999", id: "t-phonemask_ec"},
  eg: {n: "Egypt (مصر‎)", c: "+20", m: "+20(999) 999-9999", id: "t-phonemask_eg"},
  sv: {n: "El Salvador", c: "+503", m: "+503-99-99-9999", id: "t-phonemask_sv"},
  gq: {n: "Equatorial Guinea (Guinea Ecuatorial)", c: "+240", m: "+240-99-999-9999", id: "t-phonemask_gq"},
  er: {n: "Eritrea", c: "+291", m: "+291-9-999-999", id: "t-phonemask_er"},
  ee: {n: "Estonia (Eesti)", c: "+372", m: "+372-9999-9999", id: "t-phonemask_ee"},
  et: {n: "Ethiopia", c: "+251", m: "+251-99-999-9999", id: "t-phonemask_et"},
  fj: {n: "Fiji", c: "+679", m: "+679-999-9999", id: "t-phonemask_fj"},
  fi: {n: "Finland (Suomi)", c: "+358", m: "+358(999) 999-99-99", id: "t-phonemask_fi"},
  fr: {n: "France", c: "+33", m: "+33(999) 999-999", id: "t-phonemask_fr"},
  ga: {n: "Gabon", c: "+241", m: "+241-9-99-99-99", id: "t-phonemask_ga"},
  gm: {n: "Gambia", c: "+220", m: "+220(999) 99-99", id: "t-phonemask_gm"},
  ge: {n: "Georgia (საქართველო)", c: "+995", m: "+995(999) 999-999", id: "t-phonemask_ge"},
  de: {n: "Germany (Deutschland)", c: "+49", m: "+49(999) 999-99999", id: "t-phonemask_de"},
  gh: {n: "Ghana (Gaana)", c: "+233", m: "+233(999) 999-999", id: "t-phonemask_gh"},
  gr: {n: "Greece (Ελλάδα)", c: "+30", m: "+30(999) 999-9999", id: "t-phonemask_gr"},
  gd: {n: "Grenada", c: "+1 (473)", m: "+1 (473)999-9999", id: "t-phonemask_gd"},
  gt: {n: "Guatemala", c: "+502", m: "+502-9-999-9999", id: "t-phonemask_gt"},
  gn: {n: "Guinea (Guinée)", c: "+224", m: "+224-999-99-99-99", id: "t-phonemask_gn"},
  gw: {n: "Guinea-Bissau (Guiné Bissau)", c: "+245", m: "+245-9-999999", id: "t-phonemask_gw"},
  gy: {n: "Guyana", c: "+592", m: "+592-999-9999", id: "t-phonemask_gy"},
  ht: {n: "Haiti", c: "+509", m: "+509-99-99-9999", id: "t-phonemask_ht"},
  hn: {n: "Honduras", c: "+504", m: "+504-9999-9999", id: "t-phonemask_hn"},
  hk: {n: "Hong Kong (香港)", c: "+852", m: "+852-9999-9999", id: "t-phonemask_hk"},
  hu: {n: "Hungary (Magyarország)", c: "+36", m: "+36(999) 999-999", id: "t-phonemask_hu"},
  is: {n: "Iceland (Ísland)", c: "+354", m: "+354-999-9999", id: "t-phonemask_is"},
  in: {n: "India (भारत)", c: "+91", m: "+91(9999) 999-999", id: "t-phonemask_in"},
  id: {n: "Indonesia", c: "+62", m: "+62(999) 999-99-999", id: "t-phonemask_id"},
  ie: {n: "Ireland", c: "+353", m: "+353(999) 999-999", id: "t-phonemask_ie"},
  il: {n: "Israel (ישראל‎)", c: "+972", m: "+972-9-999-99999", id: "t-phonemask_il"},
  it: {n: "Italy (Italia)", c: "+39", m: "+39(999) 9999-999", id: "t-phonemask_it"},
  jm: {n: "Jamaica", c: "+1", m: "+1(999) 999-9999", id: "t-phonemask_jm"},
  jp: {n: "Japan (日本)", c: "+81", m: "+81-99-9999-9999", id: "t-phonemask_jp"},
  jo: {n: "Jordan (الأردن‎)", c: "+962", m: "+962-9-9999-9999", id: "t-phonemask_jo"},
  kz: {n: "Kazakhstan (Казахстан)", c: "+7", m: "+7(999) 999-99-99", id: "t-phonemask_kz"},
  ke: {n: "Kenya", c: "+254", m: "+254-999-999999", id: "t-phonemask_ke"},
  ki: {n: "Kiribati", c: "+686", m: "+686-99-999", id: "t-phonemask_ki"},
  kw: {n: "Kuwait (الكويت‎)", c: "+965", m: "+965-9999-9999", id: "t-phonemask_kw"},
  kg: {n: "Kyrgyzstan (Кыргызстан)", c: "+996", m: "+996(999) 999-999", id: "t-phonemask_kg"},
  la: {n: "Laos", c: "+856", m: "+856-99-999-999", id: "t-phonemask_la"},
  lv: {n: "Latvia (Latvija)", c: "+371", m: "+371-99-999-999", id: "t-phonemask_lv"},
  ls: {n: "Lesotho", c: "+266", m: "+266-9-999-9999", id: "t-phonemask_ls"},
  lr: {n: "Liberia", c: "+231", m: "+231-99-999-9999", id: "t-phonemask_lr"},
  li: {n: "Liechtenstein", c: "+423", m: "+423-999-99-99", id: "t-phonemask_li"},
  lt: {n: "Lithuania (Lietuva)", c: "+370", m: "+370(999) 99-999", id: "t-phonemask_lt"},
  lu: {n: "Luxembourg", c: "+352", m: "+352(999) 999-999", id: "t-phonemask_lu"},
  mk: {n: "Macedonia (FYROM) (Македонија)", c: "+389", m: "+389-99-999-999", id: "t-phonemask_mk"},
  mg: {n: "Madagascar (Madagasikara)", c: "+261", m: "+261-99-99-99999", id: "t-phonemask_mg"},
  mw: {n: "Malawi", c: "+265", m: "+265-9-9999-9999", id: "t-phonemask_mw"},
  my: {n: "Malaysia", c: "+60", m: "+60-99-999-9999", id: "t-phonemask_my"},
  mv: {n: "Maldives", c: "+960", m: "+960-999-9999", id: "t-phonemask_mv"},
  mt: {n: "Malta", c: "+356", m: "+356-9999-9999", id: "t-phonemask_mt"},
  mh: {n: "Marshall Islands", c: "+692", m: "+692-999-9999", id: "t-phonemask_mh"},
  mr: {n: "Mauritania (موريتانيا‎)", c: "+222", m: "+222-99-99-9999", id: "t-phonemask_mr"},
  mu: {n: "Mauritius (Moris)", c: "+230", m: "+230-999-9999", id: "t-phonemask_mu"},
  mx: {n: "Mexico (México)", c: "+52", m: "+52(999) 999-9999", id: "t-phonemask_mx"},
  fm: {n: "Micronesia", c: "+691", m: "+691-999-9999", id: "t-phonemask_fm"},
  md: {n: "Moldova (Republica Moldova)", c: "+373", m: "+373-9999-9999", id: "t-phonemask_md"},
  mc: {n: "Monaco", c: "+377", m: "+377-99-999-999", id: "t-phonemask_mc"},
  mn: {n: "Mongolia (Монгол)", c: "+976", m: "+976-99-99-9999", id: "t-phonemask_mn"},
  me: {n: "Montenegro (Crna Gora)", c: "+382", m: "+382-99-999-999", id: "t-phonemask_me"},
  ma: {n: "Morocco (المغرب‎)", c: "+212", m: "+212-99-9999-999", id: "t-phonemask_ma"},
  mz: {n: "Mozambique (Moçambique)", c: "+258", m: "+258-99-999-999", id: "t-phonemask_mz"},
  mm: {n: "Myanmar (Burma)", c: "+95", m: "+95-99-999-999", id: "t-phonemask_mm"},
  na: {n: "Namibia (Namibië)", c: "+264", m: "+264-99-999-9999", id: "t-phonemask_na"},
  nr: {n: "Nauru", c: "+674", m: "+674-999-9999", id: "t-phonemask_nr"},
  np: {n: "Nepal (नेपाल)", c: "+977", m: "+977-99-999-999", id: "t-phonemask_np"},
  nl: {n: "Netherlands (Nederland)", c: "+31", m: "+31-99-999-9999", id: "t-phonemask_nl"},
  nz: {n: "New Zealand", c: "+64", m: "+64(999) 999-999", id: "t-phonemask_nz"},
  ne: {n: "Niger (Nijar)", c: "+227", m: "+227-99-99-9999", id: "t-phonemask_ne"},
  ng: {n: "Nigeria", c: "+234", m: "+234-99-999-999", id: "t-phonemask_ng"},
  nu: {n: "Niue", c: "+683", m: "+683-9999", id: "t-phonemask_nu"},
  no: {n: "Norway (Norge)", c: "+47", m: "+47(999) 99-999", id: "t-phonemask_no"},
  om: {n: "Oman (عُمان‎)", c: "+968", m: "+968-99-999-999", id: "t-phonemask_om"},
  pk: {n: "Pakistan (پاکستان‎)", c: "+92", m: "+92(999) 999-9999", id: "t-phonemask_pk"},
  pw: {n: "Palau", c: "+680", m: "+680-999-9999", id: "t-phonemask_pw"},
  ps: {n: "Palestinian Territory", c: "+970", m: "+970 99 999 9999", id: "t-phonemask_ps"},
  pg: {n: "Papua New Guinea", c: "+675", m: "+675(999) 99-999", id: "t-phonemask_pg"},
  py: {n: "Paraguay", c: "+595", m: "+595(999) 999-999", id: "t-phonemask_py"},
  pe: {n: "Peru (Perú)", c: "+51", m: "+51(999) 999-999", id: "t-phonemask_pe"},
  ph: {n: "Philippines", c: "+63", m: "+63(999) 999-9999", id: "t-phonemask_ph"},
  pl: {n: "Poland (Polska)", c: "+48", m: "+48(999) 999-999", id: "t-phonemask_pl"},
  pt: {n: "Portugal", c: "+351", m: "+351-99-999-9999", id: "t-phonemask_pt"},
  qa: {n: "Qatar (قطر‎)", c: "+974", m: "+974-9999-9999", id: "t-phonemask_qa"},
  ro: {n: "Romania (România)", c: "+40", m: "+40-99-999-9999", id: "t-phonemask_ro"},
  rw: {n: "Rwanda", c: "+250", m: "+250(999) 999-999", id: "t-phonemask_rw"},
  kn: {n: "Saint Kitts and Nevis", c: "+1 (869)", m: "+1 (869)999-9999", id: "t-phonemask_kn"},
  lc: {n: "Saint Lucia", c: "+1 (758)", m: "+1 (758)999-9999", id: "t-phonemask_lc"},
  vc: {n: "Saint Vincent and the Grenadines", c: "+1 (784)", m: "+1 (784)999-9999", id: "t-phonemask_vc"},
  ws: {n: "Samoa", c: "+685", m: "+685-99-9999", id: "t-phonemask_ws"},
  sm: {n: "San Marino", c: "+378", m: "+378-9999-999999", id: "t-phonemask_sm"},
  st: {n: "Sao Tome and Principe (São Tomé e Príncipe)", c: "+239", m: "+239-99-99999", id: "t-phonemask_st"},
  sa: {n: "Saudi Arabia (المملكة العربية السعودية‎)", c: "+966", m: "+966-9-9999-9999", id: "t-phonemask_sa"},
  sn: {n: "Senegal (Sénégal)", c: "+221", m: "+221-99-999-9999", id: "t-phonemask_sn"},
  rs: {n: "Serbia (Србија)", c: "+381", m: "+381-99-999-9999", id: "t-phonemask_rs"},
  sc: {n: "Seychelles", c: "+248", m: "+248-9-999-999", id: "t-phonemask_sc"},
  sl: {n: "Sierra Leone", c: "+232", m: "+232-99-999999", id: "t-phonemask_sl"},
  sg: {n: "Singapore", c: "+65", m: "+65-9999-9999", id: "t-phonemask_sg"},
  sk: {n: "Slovakia (Slovensko)", c: "+421", m: "+421(999) 999-999", id: "t-phonemask_sk"},
  si: {n: "Slovenia (Slovenija)", c: "+386", m: "+386-99-999-999", id: "t-phonemask_si"},
  sb: {n: "Solomon Islands", c: "+677", m: "+677-999-9999", id: "t-phonemask_sb"},
  za: {n: "South Africa", c: "+27", m: "+27-99-999-9999", id: "t-phonemask_za"},
  kr: {n: "South Korea", c: "+82", m: "+82-99-9999-9999", id: "t-phonemask_kr"},
  es: {n: "Spain (España)", c: "+34", m: "+34(999) 999-999", id: "t-phonemask_es"},
  lk: {n: "Sri Lanka (ශ්‍රී ලංකාව)", c: "+94", m: "+94-99-999-9999", id: "t-phonemask_lk"},
  sr: {n: "Suriname", c: "+597", m: "+597-999-9999", id: "t-phonemask_sr"},
  sz: {n: "Swaziland", c: "+268", m: "+268-99-99-9999", id: "t-phonemask_sz"},
  se: {n: "Sweden (Sverige)", c: "+46", m: "+46-99-999-9999", id: "t-phonemask_se"},
  ch: {n: "Switzerland (Schweiz)", c: "+41", m: "+41-99-999-9999", id: "t-phonemask_ch"},
  tw: {n: "Taiwan (台灣)", c: "+886", m: "+886-9999-9999", id: "t-phonemask_tw"},
  tj: {n: "Tajikistan", c: "+992", m: "+992-99-999-9999", id: "t-phonemask_tj"},
  tz: {n: "Tanzania", c: "+255", m: "+255-99-999-9999", id: "t-phonemask_tz"},
  th: {n: "Thailand (ไทย)", c: "+66", m: "+66-99-999-9999", id: "t-phonemask_th"},
  tg: {n: "Togo", c: "+228", m: "+228-99-999-999", id: "t-phonemask_tg"},
  to: {n: "Tonga", c: "+676", m: "+676-99999", id: "t-phonemask_to"},
  tt: {n: "Trinidad and Tobago", c: "+1 (868)", m: "+1 (868)999-9999", id: "t-phonemask_tt"},
  tn: {n: "Tunisia (تونس‎)", c: "+216", m: "+216-99-999-999", id: "t-phonemask_tn"},
  tr: {n: "Turkey (Türkiye)", c: "+90", m: "+90(999) 999-9999", id: "t-phonemask_tr"},
  tm: {n: "Turkmenistan", c: "+993", m: "+993-9-999-9999", id: "t-phonemask_tm"},
  tv: {n: "Tuvalu", c: "+688", m: "+688-999999", id: "t-phonemask_tv"},
  ug: {n: "Uganda", c: "+256", m: "+256(999) 999-999", id: "t-phonemask_ug"},
  ae: {n: "United Arab Emirates (الإمارات العربية المتحدة‎)", c: "+971", m: "+971-99-999-9999", id: "t-phonemask_ae"},
  gb: {n: "United Kingdom", c: "+44", m: "+44-99-9999-99999", id: "t-phonemask_gb"},
  us: {n: "USA", c: "+1", m: "+1(999) 999-9999", id: "t-phonemask_us"},
  uy: {n: "Uruguay", c: "+598", m: "+598-9-999-99-99", id: "t-phonemask_uy"},
  uz: {n: "Uzbekistan (Oʻzbekiston)", c: "+998", m: "+998-99-999-9999", id: "t-phonemask_uz"},
  vu: {n: "Vanuatu", c: "+678", m: "+678-99-99999", id: "t-phonemask_vu"},
  va: {n: "Vatican City (Città del Vaticano)", c: "+39", m: "+39-9-999-99999", id: "t-phonemask_va"},
  vn: {n: "Vietnam (Việt Nam)", c: "+84", m: "+84-99-9999-999", id: "t-phonemask_vn"},
  zm: {n: "Zambia", c: "+260", m: "+260-99-999-9999", id: "t-phonemask_zm"}
};
</script>

<style>
.phone-flag {
  padding-top: 0!important;
  margin-top: 0!important;
}

.phone .v-input__prepend-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
  padding-left: 0!important;
}

.phone-flag .selected-mask-flag-wrapper {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone .selected-mask-flag, .phone-flag-item__flag {
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 2px;
}

.phone-flag .v-select__selections input {
  display: none;
}

.phone-flag .v-input__control {
  min-height: 54px!important;
}

.phone-flag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phone-flag-item__country-name {
  flex: auto;
  margin-right: 40px;
}

.phone-flag-item__code {
  margin-right: 8px;
  white-space: nowrap;
}

.phone-flag {
  margin-top: 0;
  padding-top: 0;
  max-height: 54px;
}

.phone-flag svg {
  transition: transform 0.2s;
}

.v-input__append-outer {
  margin-top: 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  margin-left: 8px;
  margin-right: 16px;
}
.phone-flag .separator {
  height: 36px;
  width: 1px;
  background: #101010;
  opacity: 0.16;
}

.v-select--is-menu-active .v-input__append-inner svg {
  transform: rotate(180deg);
}

.phone-flag .v-input__slot {
  border: none!important;
  box-shadow: none!important;
  margin-bottom: 0!important;
}

.phone-flag .v-input__slot:hover {
  box-shadow: none!important;
  height: auto!important;
}

.phone-flag .v-input__slot:before, .phone-flag .v-input__slot:after {
  display: none;
}

.phone .v-input__prepend-inner .code{
  font-size: 18px;
  line-height: 16px;
  color: #101010 !important;
  white-space: nowrap;
}

.phone-flag-item__flag-wrapper {
  display: flex;
}

.phone-flag .selected-mask-flag-wrapper, .phone-flag-item__flag-wrapper {
  border: 1px solid #f8f8f8;
  border-radius: 2px;
}

.t-input-phonemask__options-flag_ad,
.selected-mask-flag[data-phonemask-flag=ad] {
  width: 18px;
  height: 13px;
  background-position: -5px -5px
}

.t-input-phonemask__options-flag_ae,
.selected-mask-flag[data-phonemask-flag=ae] {
  width: 18px;
  height: 13px;
  background-position: -33px -5px
}

.t-input-phonemask__options-flag_af,
.selected-mask-flag[data-phonemask-flag=af] {
  width: 18px;
  height: 13px;
  background-position: -61px -5px
}

.t-input-phonemask__options-flag_ag,
.selected-mask-flag[data-phonemask-flag=ag] {
  width: 18px;
  height: 13px;
  background-position: -89px -5px
}

.t-input-phonemask__options-flag_al,
.selected-mask-flag[data-phonemask-flag=al] {
  width: 18px;
  height: 13px;
  background-position: -117px -5px
}

.t-input-phonemask__options-flag_am,
.selected-mask-flag[data-phonemask-flag=am] {
  width: 18px;
  height: 13px;
  background-position: -145px -5px
}

.t-input-phonemask__options-flag_ao,
.selected-mask-flag[data-phonemask-flag=ao] {
  width: 18px;
  height: 13px;
  background-position: -173px -5px
}

.t-input-phonemask__options-flag_ar,
.selected-mask-flag[data-phonemask-flag=ar] {
  width: 18px;
  height: 13px;
  background-position: -201px -5px
}

.t-input-phonemask__options-flag_at,
.selected-mask-flag[data-phonemask-flag=at] {
  width: 18px;
  height: 13px;
  background-position: -229px -5px
}

.t-input-phonemask__options-flag_au,
.selected-mask-flag[data-phonemask-flag=au] {
  width: 18px;
  height: 13px;
  background-position: -257px -5px
}

.t-input-phonemask__options-flag_az,
.selected-mask-flag[data-phonemask-flag=az] {
  width: 18px;
  height: 13px;
  background-position: -285px -5px
}

.t-input-phonemask__options-flag_ba,
.selected-mask-flag[data-phonemask-flag=ba] {
  width: 18px;
  height: 13px;
  background-position: -313px -5px
}

.t-input-phonemask__options-flag_bb,
.selected-mask-flag[data-phonemask-flag=bb] {
  width: 18px;
  height: 13px;
  background-position: -5px -28px
}

.t-input-phonemask__options-flag_bd,
.selected-mask-flag[data-phonemask-flag=bd] {
  width: 18px;
  height: 13px;
  background-position: -33px -28px
}

.t-input-phonemask__options-flag_be,
.selected-mask-flag[data-phonemask-flag=be] {
  width: 18px;
  height: 13px;
  background-position: -61px -28px
}

.t-input-phonemask__options-flag_bf,
.selected-mask-flag[data-phonemask-flag=bf] {
  width: 18px;
  height: 13px;
  background-position: -89px -28px
}

.t-input-phonemask__options-flag_bg,
.selected-mask-flag[data-phonemask-flag=bg] {
  width: 18px;
  height: 13px;
  background-position: -117px -28px
}

.t-input-phonemask__options-flag_bh,
.selected-mask-flag[data-phonemask-flag=bh] {
  width: 18px;
  height: 13px;
  background-position: -145px -28px
}

.t-input-phonemask__options-flag_bi,
.selected-mask-flag[data-phonemask-flag=bi] {
  width: 18px;
  height: 13px;
  background-position: -173px -28px
}

.t-input-phonemask__options-flag_bj,
.selected-mask-flag[data-phonemask-flag=bj] {
  width: 18px;
  height: 13px;
  background-position: -201px -28px
}

.t-input-phonemask__options-flag_bm,
.selected-mask-flag[data-phonemask-flag=bm] {
  width: 18px;
  height: 13px;
  background-position: -229px -28px
}

.t-input-phonemask__options-flag_bn,
.selected-mask-flag[data-phonemask-flag=bn] {
  width: 18px;
  height: 13px;
  background-position: -257px -28px
}

.t-input-phonemask__options-flag_bo,
.selected-mask-flag[data-phonemask-flag=bo] {
  width: 18px;
  height: 13px;
  background-position: -285px -28px
}

.t-input-phonemask__options-flag_br,
.selected-mask-flag[data-phonemask-flag=br] {
  width: 18px;
  height: 13px;
  background-position: -313px -28px
}

.t-input-phonemask__options-flag_bs,
.selected-mask-flag[data-phonemask-flag=bs] {
  width: 18px;
  height: 13px;
  background-position: -5px -51px
}

.t-input-phonemask__options-flag_bt,
.selected-mask-flag[data-phonemask-flag=bt] {
  width: 18px;
  height: 13px;
  background-position: -33px -51px
}

.t-input-phonemask__options-flag_bw,
.selected-mask-flag[data-phonemask-flag=bw] {
  width: 18px;
  height: 13px;
  background-position: -61px -51px
}

.t-input-phonemask__options-flag_by,
.selected-mask-flag[data-phonemask-flag=by] {
  width: 18px;
  height: 13px;
  background-position: -89px -51px
}

.t-input-phonemask__options-flag_bz,
.selected-mask-flag[data-phonemask-flag=bz] {
  width: 18px;
  height: 13px;
  background-position: -117px -51px
}

.t-input-phonemask__options-flag_ca,
.selected-mask-flag[data-phonemask-flag=ca] {
  width: 18px;
  height: 13px;
  background-position: -145px -51px
}

.t-input-phonemask__options-flag_cd,
.selected-mask-flag[data-phonemask-flag=cd] {
  width: 18px;
  height: 13px;
  background-position: -173px -51px
}

.t-input-phonemask__options-flag_cf,
.selected-mask-flag[data-phonemask-flag=cf] {
  width: 18px;
  height: 13px;
  background-position: -201px -51px
}

.t-input-phonemask__options-flag_cg,
.selected-mask-flag[data-phonemask-flag=cg] {
  width: 18px;
  height: 13px;
  background-position: -229px -51px
}

.t-input-phonemask__options-flag_ch,
.selected-mask-flag[data-phonemask-flag=ch] {
  width: 18px;
  height: 13px;
  background-position: -257px -51px
}

.t-input-phonemask__options-flag_ci,
.selected-mask-flag[data-phonemask-flag=ci] {
  width: 18px;
  height: 13px;
  background-position: -285px -51px
}

.t-input-phonemask__options-flag_ck,
.selected-mask-flag[data-phonemask-flag=ck] {
  width: 18px;
  height: 13px;
  background-position: -313px -51px
}

.t-input-phonemask__options-flag_cl,
.selected-mask-flag[data-phonemask-flag=cl] {
  width: 18px;
  height: 13px;
  background-position: -5px -74px
}

.t-input-phonemask__options-flag_cm,
.selected-mask-flag[data-phonemask-flag=cm] {
  width: 18px;
  height: 13px;
  background-position: -33px -74px
}

.t-input-phonemask__options-flag_cn,
.selected-mask-flag[data-phonemask-flag=cn] {
  width: 18px;
  height: 13px;
  background-position: -61px -74px
}

.t-input-phonemask__options-flag_co,
.selected-mask-flag[data-phonemask-flag=co] {
  width: 18px;
  height: 13px;
  background-position: -89px -74px
}

.t-input-phonemask__options-flag_cr,
.selected-mask-flag[data-phonemask-flag=cr] {
  width: 18px;
  height: 13px;
  background-position: -117px -74px
}

.t-input-phonemask__options-flag_cu,
.selected-mask-flag[data-phonemask-flag=cu] {
  width: 18px;
  height: 13px;
  background-position: -145px -74px
}

.t-input-phonemask__options-flag_cv,
.selected-mask-flag[data-phonemask-flag=cv] {
  width: 18px;
  height: 13px;
  background-position: -173px -74px
}

.t-input-phonemask__options-flag_cy,
.selected-mask-flag[data-phonemask-flag=cy] {
  width: 18px;
  height: 13px;
  background-position: -201px -74px
}

.t-input-phonemask__options-flag_cz,
.selected-mask-flag[data-phonemask-flag=cz] {
  width: 18px;
  height: 13px;
  background-position: -229px -74px
}

.t-input-phonemask__options-flag_de,
.selected-mask-flag[data-phonemask-flag=de] {
  width: 18px;
  height: 13px;
  background-position: -257px -74px
}

.t-input-phonemask__options-flag_dj,
.selected-mask-flag[data-phonemask-flag=dj] {
  width: 18px;
  height: 13px;
  background-position: -285px -74px
}

.t-input-phonemask__options-flag_dk,
.selected-mask-flag[data-phonemask-flag=dk] {
  width: 18px;
  height: 13px;
  background-position: -313px -74px
}

.t-input-phonemask__options-flag_dm,
.selected-mask-flag[data-phonemask-flag=dm] {
  width: 18px;
  height: 13px;
  background-position: -5px -97px
}

.t-input-phonemask__options-flag_do,
.selected-mask-flag[data-phonemask-flag=do] {
  width: 18px;
  height: 13px;
  background-position: -33px -97px
}

.t-input-phonemask__options-flag_dz,
.selected-mask-flag[data-phonemask-flag=dz] {
  width: 18px;
  height: 13px;
  background-position: -61px -97px
}

.t-input-phonemask__options-flag_ec,
.selected-mask-flag[data-phonemask-flag=ec] {
  width: 18px;
  height: 13px;
  background-position: -89px -97px
}

.t-input-phonemask__options-flag_ee,
.selected-mask-flag[data-phonemask-flag=ee] {
  width: 18px;
  height: 13px;
  background-position: -117px -97px
}

.t-input-phonemask__options-flag_eg,
.selected-mask-flag[data-phonemask-flag=eg] {
  width: 18px;
  height: 13px;
  background-position: -145px -97px
}

.t-input-phonemask__options-flag_eh,
.selected-mask-flag[data-phonemask-flag=eh] {
  width: 18px;
  height: 13px;
  background-position: -173px -97px
}

.t-input-phonemask__options-flag_er,
.selected-mask-flag[data-phonemask-flag=er] {
  width: 18px;
  height: 13px;
  background-position: -201px -97px
}

.t-input-phonemask__options-flag_es,
.selected-mask-flag[data-phonemask-flag=es] {
  width: 18px;
  height: 13px;
  background-position: -229px -97px
}

.t-input-phonemask__options-flag_et,
.selected-mask-flag[data-phonemask-flag=et] {
  width: 18px;
  height: 13px;
  background-position: -257px -97px
}

.t-input-phonemask__options-flag_fi,
.selected-mask-flag[data-phonemask-flag=fi] {
  width: 18px;
  height: 13px;
  background-position: -285px -97px
}

.t-input-phonemask__options-flag_fj,
.selected-mask-flag[data-phonemask-flag=fj] {
  width: 18px;
  height: 13px;
  background-position: -313px -97px
}

.t-input-phonemask__options-flag_fm,
.selected-mask-flag[data-phonemask-flag=fm] {
  width: 18px;
  height: 13px;
  background-position: -5px -120px
}

.t-input-phonemask__options-flag_fr,
.selected-mask-flag[data-phonemask-flag=fr] {
  width: 18px;
  height: 13px;
  background-position: -33px -120px
}

.t-input-phonemask__options-flag_ga,
.selected-mask-flag[data-phonemask-flag=ga] {
  width: 18px;
  height: 13px;
  background-position: -61px -120px
}

.t-input-phonemask__options-flag_gb,
.selected-mask-flag[data-phonemask-flag=gb] {
  width: 18px;
  height: 13px;
  background-position: -89px -120px
}

.t-input-phonemask__options-flag_gd,
.selected-mask-flag[data-phonemask-flag=gd] {
  width: 18px;
  height: 13px;
  background-position: -117px -120px
}

.t-input-phonemask__options-flag_ge,
.selected-mask-flag[data-phonemask-flag=ge] {
  width: 18px;
  height: 13px;
  background-position: -145px -120px
}

.t-input-phonemask__options-flag_gh,
.selected-mask-flag[data-phonemask-flag=gh] {
  width: 18px;
  height: 13px;
  background-position: -173px -120px
}

.t-input-phonemask__options-flag_gm,
.selected-mask-flag[data-phonemask-flag=gm] {
  width: 18px;
  height: 13px;
  background-position: -201px -120px
}

.t-input-phonemask__options-flag_gn,
.selected-mask-flag[data-phonemask-flag=gn] {
  width: 18px;
  height: 13px;
  background-position: -229px -120px
}

.t-input-phonemask__options-flag_gq,
.selected-mask-flag[data-phonemask-flag=gq] {
  width: 18px;
  height: 13px;
  background-position: -257px -120px
}

.t-input-phonemask__options-flag_gr,
.selected-mask-flag[data-phonemask-flag=gr] {
  width: 18px;
  height: 13px;
  background-position: -285px -120px
}

.t-input-phonemask__options-flag_gt,
.selected-mask-flag[data-phonemask-flag=gt] {
  width: 18px;
  height: 13px;
  background-position: -313px -120px
}

.t-input-phonemask__options-flag_gw,
.selected-mask-flag[data-phonemask-flag=gw] {
  width: 18px;
  height: 13px;
  background-position: -5px -143px
}

.t-input-phonemask__options-flag_gy,
.selected-mask-flag[data-phonemask-flag=gy] {
  width: 18px;
  height: 13px;
  background-position: -33px -143px
}

.t-input-phonemask__options-flag_hk,
.selected-mask-flag[data-phonemask-flag=hk] {
  width: 18px;
  height: 13px;
  background-position: -61px -143px
}

.t-input-phonemask__options-flag_hn,
.selected-mask-flag[data-phonemask-flag=hn] {
  width: 18px;
  height: 13px;
  background-position: -89px -143px
}

.t-input-phonemask__options-flag_hr,
.selected-mask-flag[data-phonemask-flag=hr] {
  width: 18px;
  height: 13px;
  background-position: -117px -143px
}

.t-input-phonemask__options-flag_ht,
.selected-mask-flag[data-phonemask-flag=ht] {
  width: 18px;
  height: 13px;
  background-position: -145px -143px
}

.t-input-phonemask__options-flag_hu,
.selected-mask-flag[data-phonemask-flag=hu] {
  width: 18px;
  height: 13px;
  background-position: -173px -143px
}

.t-input-phonemask__options-flag_id,
.selected-mask-flag[data-phonemask-flag=id] {
  width: 18px;
  height: 13px;
  background-position: -201px -143px
}

.t-input-phonemask__options-flag_ie,
.selected-mask-flag[data-phonemask-flag=ie] {
  width: 18px;
  height: 13px;
  background-position: -229px -143px
}

.t-input-phonemask__options-flag_il,
.selected-mask-flag[data-phonemask-flag=il] {
  width: 18px;
  height: 13px;
  background-position: -257px -143px
}

.t-input-phonemask__options-flag_in,
.selected-mask-flag[data-phonemask-flag=in] {
  width: 18px;
  height: 13px;
  background-position: -285px -143px
}

.t-input-phonemask__options-flag_iq,
.selected-mask-flag[data-phonemask-flag=iq] {
  width: 18px;
  height: 13px;
  background-position: -313px -143px
}

.t-input-phonemask__options-flag_ir,
.selected-mask-flag[data-phonemask-flag=ir] {
  width: 18px;
  height: 13px;
  background-position: -5px -166px
}

.t-input-phonemask__options-flag_is,
.selected-mask-flag[data-phonemask-flag=is] {
  width: 18px;
  height: 13px;
  background-position: -33px -166px
}

.t-input-phonemask__options-flag_it,
.selected-mask-flag[data-phonemask-flag=it] {
  width: 18px;
  height: 13px;
  background-position: -61px -166px
}

.t-input-phonemask__options-flag_jm,
.selected-mask-flag[data-phonemask-flag=jm] {
  width: 18px;
  height: 13px;
  background-position: -89px -166px
}

.t-input-phonemask__options-flag_jo,
.selected-mask-flag[data-phonemask-flag=jo] {
  width: 18px;
  height: 13px;
  background-position: -117px -166px
}

.t-input-phonemask__options-flag_jp,
.selected-mask-flag[data-phonemask-flag=jp] {
  width: 18px;
  height: 13px;
  background-position: -145px -166px
}

.t-input-phonemask__options-flag_ke,
.selected-mask-flag[data-phonemask-flag=ke] {
  width: 18px;
  height: 13px;
  background-position: -173px -166px
}

.t-input-phonemask__options-flag_kg,
.selected-mask-flag[data-phonemask-flag=kg] {
  width: 18px;
  height: 13px;
  background-position: -201px -166px
}

.t-input-phonemask__options-flag_kh,
.selected-mask-flag[data-phonemask-flag=kh] {
  width: 18px;
  height: 13px;
  background-position: -229px -166px
}

.t-input-phonemask__options-flag_ki,
.selected-mask-flag[data-phonemask-flag=ki] {
  width: 18px;
  height: 13px;
  background-position: -257px -166px
}

.t-input-phonemask__options-flag_km,
.selected-mask-flag[data-phonemask-flag=km] {
  width: 18px;
  height: 13px;
  background-position: -285px -166px
}

.t-input-phonemask__options-flag_kn,
.selected-mask-flag[data-phonemask-flag=kn] {
  width: 18px;
  height: 13px;
  background-position: -313px -166px
}

.t-input-phonemask__options-flag_kp,
.selected-mask-flag[data-phonemask-flag=kp] {
  width: 18px;
  height: 13px;
  background-position: -5px -189px
}

.t-input-phonemask__options-flag_kr,
.selected-mask-flag[data-phonemask-flag=kr] {
  width: 18px;
  height: 13px;
  background-position: -33px -189px
}

.t-input-phonemask__options-flag_ks,
.selected-mask-flag[data-phonemask-flag=ks] {
  width: 18px;
  height: 13px;
  background-position: -61px -189px
}

.t-input-phonemask__options-flag_kw,
.selected-mask-flag[data-phonemask-flag=kw] {
  width: 18px;
  height: 13px;
  background-position: -89px -189px
}

.t-input-phonemask__options-flag_kz,
.selected-mask-flag[data-phonemask-flag=kz] {
  width: 18px;
  height: 13px;
  background-position: -117px -189px
}

.t-input-phonemask__options-flag_la,
.selected-mask-flag[data-phonemask-flag=la] {
  width: 18px;
  height: 13px;
  background-position: -145px -189px
}

.t-input-phonemask__options-flag_lb,
.selected-mask-flag[data-phonemask-flag=lb] {
  width: 18px;
  height: 13px;
  background-position: -173px -189px
}

.t-input-phonemask__options-flag_lc,
.selected-mask-flag[data-phonemask-flag=lc] {
  width: 18px;
  height: 13px;
  background-position: -201px -189px
}

.t-input-phonemask__options-flag_li,
.selected-mask-flag[data-phonemask-flag=li] {
  width: 18px;
  height: 13px;
  background-position: -229px -189px
}

.t-input-phonemask__options-flag_lk,
.selected-mask-flag[data-phonemask-flag=lk] {
  width: 18px;
  height: 13px;
  background-position: -257px -189px
}

.t-input-phonemask__options-flag_lr,
.selected-mask-flag[data-phonemask-flag=lr] {
  width: 18px;
  height: 13px;
  background-position: -285px -189px
}

.t-input-phonemask__options-flag_ls,
.selected-mask-flag[data-phonemask-flag=ls] {
  width: 18px;
  height: 13px;
  background-position: -313px -189px
}

.t-input-phonemask__options-flag_lt,
.selected-mask-flag[data-phonemask-flag=lt] {
  width: 18px;
  height: 13px;
  background-position: -5px -212px
}

.t-input-phonemask__options-flag_lu,
.selected-mask-flag[data-phonemask-flag=lu] {
  width: 18px;
  height: 13px;
  background-position: -33px -212px
}

.t-input-phonemask__options-flag_lv,
.selected-mask-flag[data-phonemask-flag=lv] {
  width: 18px;
  height: 13px;
  background-position: -61px -212px
}

.t-input-phonemask__options-flag_ly,
.selected-mask-flag[data-phonemask-flag=ly] {
  width: 18px;
  height: 13px;
  background-position: -89px -212px
}

.t-input-phonemask__options-flag_ma,
.selected-mask-flag[data-phonemask-flag=ma] {
  width: 18px;
  height: 13px;
  background-position: -117px -212px
}

.t-input-phonemask__options-flag_mc,
.selected-mask-flag[data-phonemask-flag=mc] {
  width: 18px;
  height: 13px;
  background-position: -145px -212px
}

.t-input-phonemask__options-flag_md,
.selected-mask-flag[data-phonemask-flag=md] {
  width: 18px;
  height: 13px;
  background-position: -173px -212px
}

.t-input-phonemask__options-flag_me,
.selected-mask-flag[data-phonemask-flag=me] {
  width: 18px;
  height: 13px;
  background-position: -201px -212px
}

.t-input-phonemask__options-flag_mg,
.selected-mask-flag[data-phonemask-flag=mg] {
  width: 18px;
  height: 13px;
  background-position: -229px -212px
}

.t-input-phonemask__options-flag_mh,
.selected-mask-flag[data-phonemask-flag=mh] {
  width: 18px;
  height: 13px;
  background-position: -257px -212px
}

.t-input-phonemask__options-flag_mk,
.selected-mask-flag[data-phonemask-flag=mk] {
  width: 18px;
  height: 13px;
  background-position: -285px -212px
}

.t-input-phonemask__options-flag_ml,
.selected-mask-flag[data-phonemask-flag=ml] {
  width: 18px;
  height: 13px;
  background-position: -313px -212px
}

.t-input-phonemask__options-flag_mm,
.selected-mask-flag[data-phonemask-flag=mm] {
  width: 18px;
  height: 13px;
  background-position: -5px -235px
}

.t-input-phonemask__options-flag_mn,
.selected-mask-flag[data-phonemask-flag=mn] {
  width: 18px;
  height: 13px;
  background-position: -33px -235px
}

.t-input-phonemask__options-flag_mr,
.selected-mask-flag[data-phonemask-flag=mr] {
  width: 18px;
  height: 13px;
  background-position: -61px -235px
}

.t-input-phonemask__options-flag_mt,
.selected-mask-flag[data-phonemask-flag=mt] {
  width: 18px;
  height: 13px;
  background-position: -89px -235px
}

.t-input-phonemask__options-flag_mu,
.selected-mask-flag[data-phonemask-flag=mu] {
  width: 18px;
  height: 13px;
  background-position: -117px -235px
}

.t-input-phonemask__options-flag_mv,
.selected-mask-flag[data-phonemask-flag=mv] {
  width: 18px;
  height: 13px;
  background-position: -145px -235px
}

.t-input-phonemask__options-flag_mw,
.selected-mask-flag[data-phonemask-flag=mw] {
  width: 18px;
  height: 13px;
  background-position: -173px -235px
}

.t-input-phonemask__options-flag_mx,
.selected-mask-flag[data-phonemask-flag=mx] {
  width: 18px;
  height: 13px;
  background-position: -201px -235px
}

.t-input-phonemask__options-flag_my,
.selected-mask-flag[data-phonemask-flag=my] {
  width: 18px;
  height: 13px;
  background-position: -229px -235px
}

.t-input-phonemask__options-flag_mz,
.selected-mask-flag[data-phonemask-flag=mz] {
  width: 18px;
  height: 13px;
  background-position: -257px -235px
}

.t-input-phonemask__options-flag_na,
.selected-mask-flag[data-phonemask-flag=na] {
  width: 18px;
  height: 13px;
  background-position: -285px -235px
}

.t-input-phonemask__options-flag_ne,
.selected-mask-flag[data-phonemask-flag=ne] {
  width: 18px;
  height: 13px;
  background-position: -313px -235px
}

.t-input-phonemask__options-flag_ng,
.selected-mask-flag[data-phonemask-flag=ng] {
  width: 18px;
  height: 13px;
  background-position: -5px -258px
}

.t-input-phonemask__options-flag_ni,
.selected-mask-flag[data-phonemask-flag=ni] {
  width: 18px;
  height: 13px;
  background-position: -33px -258px
}

.t-input-phonemask__options-flag_nl,
.selected-mask-flag[data-phonemask-flag=nl] {
  width: 18px;
  height: 13px;
  background-position: -61px -258px
}

.t-input-phonemask__options-flag_no,
.selected-mask-flag[data-phonemask-flag=no] {
  width: 18px;
  height: 13px;
  background-position: -89px -258px
}

.t-input-phonemask__options-flag_np,
.selected-mask-flag[data-phonemask-flag=np] {
  width: 16px;
  height: 13px;
  background-position: -117px -258px
}

.t-input-phonemask__options-flag_nr,
.selected-mask-flag[data-phonemask-flag=nr] {
  width: 18px;
  height: 13px;
  background-position: -143px -258px
}

.t-input-phonemask__options-flag_nu,
.selected-mask-flag[data-phonemask-flag=nu] {
  width: 18px;
  height: 13px;
  background-position: -171px -258px
}

.t-input-phonemask__options-flag_nz,
.selected-mask-flag[data-phonemask-flag=nz] {
  width: 18px;
  height: 13px;
  background-position: -199px -258px
}

.t-input-phonemask__options-flag_om,
.selected-mask-flag[data-phonemask-flag=om] {
  width: 18px;
  height: 13px;
  background-position: -227px -258px
}

.t-input-phonemask__options-flag_pa,
.selected-mask-flag[data-phonemask-flag=pa] {
  width: 18px;
  height: 13px;
  background-position: -255px -258px
}

.t-input-phonemask__options-flag_pe,
.selected-mask-flag[data-phonemask-flag=pe] {
  width: 18px;
  height: 13px;
  background-position: -283px -258px
}

.t-input-phonemask__options-flag_pg,
.selected-mask-flag[data-phonemask-flag=pg] {
  width: 18px;
  height: 13px;
  background-position: -311px -258px
}

.t-input-phonemask__options-flag_ph,
.selected-mask-flag[data-phonemask-flag=ph] {
  width: 18px;
  height: 13px;
  background-position: -5px -281px
}

.t-input-phonemask__options-flag_pk,
.selected-mask-flag[data-phonemask-flag=pk] {
  width: 18px;
  height: 13px;
  background-position: -33px -281px
}

.t-input-phonemask__options-flag_pl,
.selected-mask-flag[data-phonemask-flag=pl] {
  width: 18px;
  height: 13px;
  background-position: -61px -281px
}

.t-input-phonemask__options-flag_ps,
.selected-mask-flag[data-phonemask-flag=ps] {
  width: 18px;
  height: 13px;
  background-position: -89px -281px
}

.t-input-phonemask__options-flag_pt,
.selected-mask-flag[data-phonemask-flag=pt] {
  width: 18px;
  height: 13px;
  background-position: -117px -281px
}

.t-input-phonemask__options-flag_pw,
.selected-mask-flag[data-phonemask-flag=pw] {
  width: 18px;
  height: 13px;
  background-position: -145px -281px
}

.t-input-phonemask__options-flag_py,
.selected-mask-flag[data-phonemask-flag=py] {
  width: 18px;
  height: 13px;
  background-position: -173px -281px
}

.t-input-phonemask__options-flag_qa,
.selected-mask-flag[data-phonemask-flag=qa] {
  width: 18px;
  height: 13px;
  background-position: -201px -281px
}

.t-input-phonemask__options-flag_ro,
.selected-mask-flag[data-phonemask-flag=ro] {
  width: 18px;
  height: 13px;
  background-position: -229px -281px
}

.t-input-phonemask__options-flag_rs,
.selected-mask-flag[data-phonemask-flag=rs] {
  width: 18px;
  height: 13px;
  background-position: -257px -281px
}

.t-input-phonemask__options-flag_ru,
.selected-mask-flag[data-phonemask-flag=ru] {
  width: 18px;
  height: 13px;
  background-position: -285px -281px
}

.t-input-phonemask__options-flag_rw,
.selected-mask-flag[data-phonemask-flag=rw] {
  width: 18px;
  height: 13px;
  background-position: -313px -281px
}

.t-input-phonemask__options-flag_sa,
.selected-mask-flag[data-phonemask-flag=sa] {
  width: 18px;
  height: 13px;
  background-position: -5px -304px
}

.t-input-phonemask__options-flag_sb,
.selected-mask-flag[data-phonemask-flag=sb] {
  width: 18px;
  height: 13px;
  background-position: -33px -304px
}

.t-input-phonemask__options-flag_sc,
.selected-mask-flag[data-phonemask-flag=sc] {
  width: 18px;
  height: 13px;
  background-position: -61px -304px
}

.t-input-phonemask__options-flag_sd,
.selected-mask-flag[data-phonemask-flag=sd] {
  width: 18px;
  height: 13px;
  background-position: -89px -304px
}

.t-input-phonemask__options-flag_se,
.selected-mask-flag[data-phonemask-flag=se] {
  width: 18px;
  height: 13px;
  background-position: -117px -304px
}

.t-input-phonemask__options-flag_sg,
.selected-mask-flag[data-phonemask-flag=sg] {
  width: 18px;
  height: 13px;
  background-position: -145px -304px
}

.t-input-phonemask__options-flag_si,
.selected-mask-flag[data-phonemask-flag=si] {
  width: 18px;
  height: 13px;
  background-position: -173px -304px
}

.t-input-phonemask__options-flag_sk,
.selected-mask-flag[data-phonemask-flag=sk] {
  width: 18px;
  height: 13px;
  background-position: -201px -304px
}

.t-input-phonemask__options-flag_sl,
.selected-mask-flag[data-phonemask-flag=sl] {
  width: 18px;
  height: 13px;
  background-position: -229px -304px
}

.t-input-phonemask__options-flag_sm,
.selected-mask-flag[data-phonemask-flag=sm] {
  width: 18px;
  height: 13px;
  background-position: -257px -304px
}

.t-input-phonemask__options-flag_sn,
.selected-mask-flag[data-phonemask-flag=sn] {
  width: 18px;
  height: 13px;
  background-position: -285px -304px
}

.t-input-phonemask__options-flag_so,
.selected-mask-flag[data-phonemask-flag=so] {
  width: 18px;
  height: 13px;
  background-position: -313px -304px
}

.t-input-phonemask__options-flag_sr,
.selected-mask-flag[data-phonemask-flag=sr] {
  width: 18px;
  height: 13px;
  background-position: -5px -327px
}

.t-input-phonemask__options-flag_ss,
.selected-mask-flag[data-phonemask-flag=ss] {
  width: 18px;
  height: 13px;
  background-position: -33px -327px
}

.t-input-phonemask__options-flag_st,
.selected-mask-flag[data-phonemask-flag=st] {
  width: 18px;
  height: 13px;
  background-position: -61px -327px
}

.t-input-phonemask__options-flag_sv,
.selected-mask-flag[data-phonemask-flag=sv] {
  width: 18px;
  height: 13px;
  background-position: -89px -327px
}

.t-input-phonemask__options-flag_sy,
.selected-mask-flag[data-phonemask-flag=sy] {
  width: 18px;
  height: 13px;
  background-position: -117px -327px
}

.t-input-phonemask__options-flag_sz,
.selected-mask-flag[data-phonemask-flag=sz] {
  width: 18px;
  height: 13px;
  background-position: -145px -327px
}

.t-input-phonemask__options-flag_td,
.selected-mask-flag[data-phonemask-flag=td] {
  width: 18px;
  height: 13px;
  background-position: -173px -327px
}

.t-input-phonemask__options-flag_tg,
.selected-mask-flag[data-phonemask-flag=tg] {
  width: 18px;
  height: 13px;
  background-position: -201px -327px
}

.t-input-phonemask__options-flag_th,
.selected-mask-flag[data-phonemask-flag=th] {
  width: 18px;
  height: 13px;
  background-position: -229px -327px
}

.t-input-phonemask__options-flag_tj,
.selected-mask-flag[data-phonemask-flag=tj] {
  width: 18px;
  height: 13px;
  background-position: -257px -327px
}

.t-input-phonemask__options-flag_tl,
.selected-mask-flag[data-phonemask-flag=tl] {
  width: 18px;
  height: 13px;
  background-position: -285px -327px
}

.t-input-phonemask__options-flag_tm,
.selected-mask-flag[data-phonemask-flag=tm] {
  width: 18px;
  height: 13px;
  background-position: -313px -327px
}

.t-input-phonemask__options-flag_tn,
.selected-mask-flag[data-phonemask-flag=tn] {
  width: 18px;
  height: 13px;
  background-position: -341px -5px
}

.t-input-phonemask__options-flag_to,
.selected-mask-flag[data-phonemask-flag=to] {
  width: 18px;
  height: 13px;
  background-position: -341px -28px
}

.t-input-phonemask__options-flag_tr,
.selected-mask-flag[data-phonemask-flag=tr] {
  width: 18px;
  height: 13px;
  background-position: -341px -51px
}

.t-input-phonemask__options-flag_tt,
.selected-mask-flag[data-phonemask-flag=tt] {
  width: 18px;
  height: 13px;
  background-position: -341px -74px
}

.t-input-phonemask__options-flag_tv,
.selected-mask-flag[data-phonemask-flag=tv] {
  width: 18px;
  height: 13px;
  background-position: -341px -97px
}

.t-input-phonemask__options-flag_tw,
.selected-mask-flag[data-phonemask-flag=tw] {
  width: 18px;
  height: 13px;
  background-position: -341px -120px
}

.t-input-phonemask__options-flag_tz,
.selected-mask-flag[data-phonemask-flag=tz] {
  width: 18px;
  height: 13px;
  background-position: -341px -143px
}

.t-input-phonemask__options-flag_ua,
.selected-mask-flag[data-phonemask-flag=ua] {
  width: 18px;
  height: 13px;
  background-position: -341px -166px
}

.t-input-phonemask__options-flag_ug,
.selected-mask-flag[data-phonemask-flag=ug] {
  width: 18px;
  height: 13px;
  background-position: -341px -189px
}

.t-input-phonemask__options-flag_us,
.selected-mask-flag[data-phonemask-flag=us] {
  width: 18px;
  height: 13px;
  background-position: -341px -212px
}

.t-input-phonemask__options-flag_uy,
.selected-mask-flag[data-phonemask-flag=uy] {
  width: 18px;
  height: 13px;
  background-position: -341px -235px
}

.t-input-phonemask__options-flag_uz,
.selected-mask-flag[data-phonemask-flag=uz] {
  width: 18px;
  height: 13px;
  background-position: -339px -258px
}

.t-input-phonemask__options-flag_va,
.selected-mask-flag[data-phonemask-flag=va] {
  width: 18px;
  height: 13px;
  background-position: -341px -281px
}

.t-input-phonemask__options-flag_vc,
.selected-mask-flag[data-phonemask-flag=vc] {
  width: 18px;
  height: 13px;
  background-position: -341px -304px
}

.t-input-phonemask__options-flag_ve,
.selected-mask-flag[data-phonemask-flag=ve] {
  width: 18px;
  height: 13px;
  background-position: -341px -327px
}

.t-input-phonemask__options-flag_vn,
.selected-mask-flag[data-phonemask-flag=vn] {
  width: 18px;
  height: 13px;
  background-position: -5px -350px
}

.t-input-phonemask__options-flag_vu,
.selected-mask-flag[data-phonemask-flag=vu] {
  width: 18px;
  height: 13px;
  background-position: -33px -350px
}

.t-input-phonemask__options-flag_ws,
.selected-mask-flag[data-phonemask-flag=ws] {
  width: 18px;
  height: 13px;
  background-position: -61px -350px
}

.t-input-phonemask__options-flag_ye,
.selected-mask-flag[data-phonemask-flag=ye] {
  width: 18px;
  height: 13px;
  background-position: -89px -350px
}

.t-input-phonemask__options-flag_za,
.selected-mask-flag[data-phonemask-flag=za] {
  width: 18px;
  height: 13px;
  background-position: -117px -350px
}

.t-input-phonemask__options-flag_zm,
.selected-mask-flag[data-phonemask-flag=zm] {
  width: 18px;
  height: 13px;
  background-position: -145px -350px
}

.t-input-phonemask__options-flag_zw,
.selected-mask-flag[data-phonemask-flag=zw] {
  width: 18px;
  height: 13px;
  background-position: -173px -350px
}
</style>
