<template>
  <div class="privacy-policy">
    <privacy-policy-text class="no-checkbox" v-if="!$app.config.current.formWithCheckbox || noCheckbox" />
    <ValidationProvider
      v-else
      name="passive"
      :rules="{ required: { allowFalse: false } }"
      v-slot="{ errors }"
    >
      <checkbox
        class="checkbox_accepted-rules"
        v-model="checked_"
        :error-messages="errors"
        :black="blackCheckbox"
      >
        <privacy-policy-text />
      </checkbox>
    </ValidationProvider>
  </div>
</template>

<script>
import { ValidationProvider } from "vee-validate";
import checkbox from './checkbox.vue'
import PrivacyPolicyText from './privacyPolicyText.vue'

export default {
  name: "PrivacyPolicy",
  components: {
    ValidationProvider,
    checkbox,
    PrivacyPolicyText,
  },
  props: {
    value: Boolean,
    blackCheckbox: Boolean,
    noCheckbox: Boolean,
  },
  computed: {
    checked_: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>

<style lang="sass">
.privacy-policy
  & .no-checkbox
    & a
      text-decoration: underline !important
</style>
