<template>
  <div>
    <template v-if="$app.config.current.documents.termsAndConditions || $app.config.current.documents.serviceAgreementAndPrivacyPolicy">
      {{ $t('formText.part1') }} <a :href="$app.config.current.documents.termsAndConditions || $app.config.current.documents.serviceAgreementAndPrivacyPolicy" target="_blank" v-html="$t('formText.part2')"></a>
    </template>
    <template v-if="$app.config.current.documents.privacyNoticeStudents">
      {{ $t('formText.part3') }} <a :href="$app.config.current.documents.privacyNoticeStudents" target="_blank">{{ $t('formText.part4') }}</a>
    </template>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicyText'
}
</script>