<template>
  <div>
    <noscript inline-template>
      <v-slide-group
        class="slide-group"
        v-model="activeIndex"
        :show-arrows="false"
        ref="slideItems"
      >
        <slot />
      </v-slide-group>
    </noscript>
    <v-slide-group
      v-show="defer(0)"
      class="slide-group"
      :class="{
        'slide-group_hide': isHide,
      }"
      v-model="activeIndex"
      :show-arrows="false"
      center-active
      ref="slideItems"
    >
      <slot />
    </v-slide-group>
  </div>
</template>

<script>
import defer from '../../mixins/defer'

export default {
  name: 'slideItems',
  props: [
    'activeIndex',
    'marginLeft',
  ],
  mixins: [defer()],
  data() {
    return {
      isHide: true,
    }
  },
  watch: {
    'displayPriority'() {
      if (this.displayPriority === 1) {
        this.isHide = false;
      }
    },
  },
}
</script>

<style lang="sass">
  .slide-group
    &_hide
      opacity: 0
    & .v-slide-group__prev, .v-slide-group__next
      display: none
      opacity: 0
    & .v-slide-group__content
      transition: 0s!important
</style>
