<template>
  <div :class="{slider: true, navigation: navigation}">
    <div :class="{ 'slider-id': true, [sliderId]: true }">
      <div class="swiper-wrapper">
        <slot name="items" />
      </div>
    </div>
    <div class="slider-navigation" v-if="navigation">
      <v-btn
        v-if="swiper"
        class="swiper-button-prev"
        color="secondary"
        :icon="swiper.activeIndex + 1 === 1"
        :fab="swiper.activeIndex + 1 !== 1"
        :ripple="false"
        @click="swiperPrevSlide"
      >
        <leftArrow style="margin-right: 3px;" />
      </v-btn>
      <v-btn
        v-if="swiper"
        class="swiper-button-next"
        color="secondary"
        :icon="swiper.lastSlide"
        :fab="swiper.activeIndex + 1 !== swiper.slides.length"
        :ripple="false"
        @click="swiperNextSlide"
      >
        <rightArrow style="margin-left: 3px;" />
      </v-btn>
    </div>
  </div>
</template>

<script>
import rightArrow from "../../../landing_generator/assets/svg/right-arrow.svg?inline"
import leftArrow from "../../../landing_generator/assets/svg/left-arrow.svg?inline"
import Swiper from 'swiper'
import breakpoints from "../../mixins/breakpoints.mixin"

export default {
  name: 'Slider',
  props: {
    'sliderId': String,
    'contentClass': String,
    'navigation': Boolean,
    'spaceBetween': Number,
    'slidesPerView': [Number, String],
    'slidesPerGroup': [Number, String],
    'loop': Boolean,
  },
  data() {
    return {
      swiper: null,
      lastSlide: false
    }
  },
  computed: {
    params() {
      return {
        slidesPerView: this.slidesPerView || 'auto',
        roundLengths: true,
        slidesPerGroup: this.slidesPerGroup || 1,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        spaceBetween: this.spaceBetween || 20,
        on: {
          slideChange: function(e) {
            if(!this.loop) this.lastSlide = e.isEnd
          },
          reachEnd: function() {
            if(this.slidesPerView === 'auto') this.snapGrid = [...this.slidesGrid];
          },
          click: (e) => {
            if(this.loop && e.clickedSlide.classList.contains('swiper-slide-duplicate')) this.$emit("clickedLoop", e.clickedSlide.dataset.swiperSlideIndex)
          }
        },
        loop: this.loop,
      }
    }
  },
  mounted() {
    this.swiper = new Swiper(
      `.${this.sliderId}`,
      this.params
    );
    
  },
  methods: {
    swiperNextSlide() {
      this.swiper.slideNext();
    },
    swiperPrevSlide() {
      this.swiper.slidePrev();
      this.swiper.lastSlide = false;
    },
  },
  components: {
    rightArrow,
    leftArrow,
  },
  watch: {
    spaceBetween: {
      handler() {
        this.swiper.params.spaceBetween = this.params.spaceBetween
        this.swiper.update();
        this.swiper.slideTo(0);
      },
    },
    slidesPerView: {
      handler() {
        this.swiper.params.slidesPerView = this.params.slidesPerView
        this.swiper.update();
        this.swiper.slideTo(0);
      }
    }
  },
  mixins: [
    breakpoints,
  ]
}
</script>

<style lang="sass">
  @import "../../../landing_generator/style/swiper-bundle.min.css"

  .slider
    position: relative
    &.navigation
      padding-left:  92px
      padding-right: 92px
      @media (min-width: $md)
        padding-left:  118px
        padding-right: 118px
      & .slider-id
        overflow: hidden
    &-navigation
      & .swiper-button-next
        position: absolute
        right: 32px
        @media (min-width: $tb)
          width: 44px !important
          height: 44px !important
        @media (min-width: $md)
          right: 40px
          width: 52px !important
          height: 52px !important
        @media (min-width: $lp)
          right: 19px
        &:after
          display: none
        &:focus:before
          opacity: 0!important
      & .swiper-button-prev
        position: absolute
        left: 32px
        @media (min-width: $tb)
          width: 44px !important
          height: 44px !important
        @media (min-width: $md)
          left: 40px
          width: 52px !important
          height: 52px !important
        @media (min-width: $lp)
          left: 19px
        &:after
          display: none
        &:focus:before
          opacity: 0!important
</style>
