<template>
  <div class="accordion-block">
    <div class="m-container">
      <div class="accordion-block-content">
        <v-expansion-panels
          accordion
          v-model="model"
        >
          <v-expansion-panel
            v-for="(slotName, index) of partTitles"
            :key="index"
            :id="`accordion-block__expansion-panel-${index + 1}`"
            @click="() => scrollTo(`accordion-block__expansion-panel-${index + 1}`)"
          >
            <v-expansion-panel-header>
              <div class="v-expansion-panel-header__block">
                <div class="v-expansion-panel-header__block-subtitle">
                  <slot :name="partSubTitles[index]"></slot>
                </div>
                <span v-if="numbered">{{ index + 1 }}.</span><slot :name="slotName">v-slot:part-title_[number]</slot>
              </div>
              <template v-slot:actions>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="expansion-panel-icon-24">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C9.44771 0 9 0.447715 9 1V9H1C0.447715 9 0 9.44771 0 10C0 10.5523 0.447715 11 1 11H9L9 19C9 19.5523 9.44771 20 10 20C10.5523 20 11 19.5523 11 19L11 11L19 11C19.5523 11 20 10.5523 20 10C20 9.44771 19.5523 9 19 9L11 9V1C11 0.447715 10.5523 0 10 0Z" fill="#905DB4"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="expansion-panel-icon-12">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C9.44771 0 9 0.447715 9 1V9H1C0.447715 9 0 9.44771 0 10C0 10.5523 0.447715 11 1 11H9L9 19C9 19.5523 9.44771 20 10 20C10.5523 20 11 19.5523 11 19L11 11L19 11C19.5523 11 20 10.5523 20 10C20 9.44771 19.5523 9 19 9L11 9V1C11 0.447715 10.5523 0 10 0Z" fill="#905DB4"/>
                </svg>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <slot :name="partDescriptions[index]">v-slot:part-description_[number]</slot>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'u-accordion',
  props: {
    numbered: Boolean,
    subtitles: Boolean
  },
  data() {
    return {
      model: 0,
    }
  },
  computed: {
    partSubTitles() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('part-subtitle'));
    },
    partTitles() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('part-title'));
    },
    partDescriptions() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('part-description'));
    },
  },
  methods: {
    scrollTo(id) {
      if (window.innerWidth < 768) {
        setTimeout(() => {
          this.$scrollTo(`#${id}`, 300, { offset: 2 });
        }, 300)
      }
    },
  },
}
</script>

<style
  lang="sass"
  scoped
>
@import "style/ui-kit/vars.sass"

.accordion-block-content
  @media (min-width: $md)
    display: flex
    justify-content: space-between
.v-expansion-panels
  margin-top: 32px
  border-bottom: 1px solid $br-color-1
  border-radius: 0
  @media (min-width: $md)
    margin-top: 0
  @media (min-width: $lp)
    margin-top: 20px
.expansion-panel-icon-24, .expansion-panel-icon-12
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s
.v-expansion-panel-header--active
  @media (max-width: $md)
    padding: 23px 0px 12px !important
    transition: .3s ease
  & .expansion-panel-icon-12
    transform: rotate(-45deg)
  & .expansion-panel-icon-24
    transform: rotate(-45deg)
    background: $action-color-2
    path
      fill: $basic-color-3
.expansion-panel-icon-12
  @media (min-width: $md)
    display: none
.expansion-panel-icon-24
  width: 32px
  height: 32px
  padding: 6px
  border-radius: 16px
  display: none
  path
    fill: #905DB4
    transition: .3s ease
  @media (min-width: $md)
    display: block
.v-expansion-panel-header
  font-family: $font-1
  font-size: 18px
  line-height: 24px
  color: $basic-color-1
  align-items: center
  padding: 23px 0
  border-top: 1px solid $br-color-1
  border-radius: 0
  transition: .3s ease
  &:hover .expansion-panel-icon-24
    background: $action-color-2
    path
      fill: $basic-color-3
      transition: .3s ease
  @media (min-width: $md)
    font-size: 24px
    line-height: 34px
    padding: 36px 0
  &__block
    &-subtitle
      font-family: $font-2
      font-size: 14px
      line-height: 24px
      color: $action-color-2
      @media (min-width: $md)
        font-size: 16px
        line-height: 26px
    span
      margin-right: 15px
.v-expansion-panel
  &::v-deep .v-expansion-panel-content__wrap
    font-family: $font-2
    font-size: 14px
    line-height: 24px
    color: $basic-color-2
    padding-left: 0
    padding-right: 0
    padding-bottom: 23px
    @media (min-width: $md)
      font-size: 18px
      padding-bottom: 35px
      width: 684px
      max-width: 684px
    & p
      padding-bottom: 12px
      padding-right: 55px
      @media (min-width: $md)
        padding-bottom: 16px
      &:last-child
        padding-bottom: 0
    & ul
      list-style: none
      padding: 0
      & li
        margin-bottom: 12px
        @media (min-width: $md)
          margin-bottom: 16px
        & span
          margin-right: 3px
          color: #905DB4
  &::before
    box-shadow: none
.v-expansion-panel-header:before
  display: none
.accordion-block
  padding-bottom: 20px
  @media (min-width: $md)
    padding-bottom: 30px
</style>
