<template>
  <v-badge class="u-badge"
           :class="sizeClass"
           :size="size"
           v-bind="$attrs"
  >
  </v-badge>
</template>

<script>
export default {
  name: "u-badge",
  props: {
    size: String,
    value: {
      default: ''
    }
  },
  computed: {
    sizeClass() {
      return this.size ? 'u-badge_size-' + this.size : '';
    }
  }
}
</script>

<style lang="sass">
  @import 'style/ui-kit/vars.sass'

  .u-badge
    .v-badge__badge
      font-family: $font-2
      font-size: 16px
      line-height: 26px
      padding: 8px 16px !important
      height: unset !important
      color: $basic-color-2
    .primary
      background-color: $other-color-3 !important
  .u-badge_size
    &-m .v-badge__badge
      font-size: 14px
      line-height: 24px
      padding: 4px 12px !important
    &-s .v-badge__badge
      border-radius: 4px
      font-size: 14px
      line-height: 24px
      padding: 0px 8px !important
</style>
