<template>
  <v-btn
    class="u-btn"
    :class="[{'u-btn_block': block}, color, sizeClass]"
    :loading="loading"
    v-bind="$attrs"
  >
    <span v-show="$slots.default" class="u-btn-ico"><slot></slot></span>{{ title }}
  </v-btn>
</template>

<script>
export default {
  name: "u-btn",
  props: {
    title: String,
    color: String,
    size: String,
    loading: Boolean,
    block: Boolean
  },
  data() {
    return {

    }
  },
  computed: {
    sizeClass: function() {
      return this.size ? 'u-btn_size-' + this.size : '';
    }
  }
}
</script>

<style lang="sass" scoped>
  @import "style/ui-kit/vars.sass"

  .u-btn
    height: 56px !important
    font-size: 16px
    padding: 16px 24px !important
    border-radius: 28px
    box-shadow: unset !important
    text-transform: none
    &_block
      display: block !important
      min-width: 100% !important

  //Fonts
  .u-btn, .u-btn_size-m
    font-family: $font-1
  .u-btn_size-s
    font-family: $font-2

  //Colors
  .action-color-1
    background-color: $action-color-1 !important
    color: $basic-color-3
    &:hover
      background-color: #FF8800 !important
    &:active, &:focus
      background-color: #E56D00 !important

  .action-color-2
    background-color: $action-color-2 !important
    color: $basic-color-3
    &:hover
      background-color: #8D33DB !important
    &:active, &:focus
      background-color: #6F28AC !important

  .basic-color-3
    background-color: $basic-color-3 !important
    color: $basic-color-2
    border: 1px solid $br-color-1
    &:hover
      background-color: #F6F5FA !important
    &:active, &:focus
      background-color: #ECEBF0 !important
  //---------------------

  //Sizes
  .u-btn_size
    &-m
      height: 44px !important
      padding: 10px 20px !important
      font-size: 14px
    &-s
      height: 32px !important
      padding: 4px 12px !important
      font-size: 14px
      .u-btn-ico
        max-height: 12px

  //Ico
  .u-btn-ico
    display: flex
    align-items: center
    margin-right: 10px
    max-height: 17px
</style>
