<template>
  <v-checkbox
    class="u-checkbox"
    v-model="inputVal"
    v-bind="$attrs"
  >

  </v-checkbox>
</template>

<script>
export default {
  name: "u-checkbox",
  props: {
    value: {
      default: ''
    }
  },
  data() {
    return {
      checkbox: true
    }
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>

<style lang="sass">
  @import "style/ui-kit/vars.sass"

  .u-checkbox
    margin-top: 0px
    .v-input__slot
      margin-bottom: 0px
    .v-input--selection-controls__input
      width: 20px !important
      height: 20px !important
      margin-right: 18px !important
    .v-input--selection-controls__ripple
      width: 20px !important
      height: 20px !important
      border: 2px solid $br-color-2
      border-radius: 4px
      top: calc(50% - 18px)
      left: 0px
      transition: .3s ease
      &:hover
        background: $bg-color-3
        transition: .3s ease
    .v-label
      font-family: $font-2
      font-weight: normal
      color: $basic-color-2 !important
      font-size: 14px
      line-height: 24px
    .primary--text
      color: inherit !important

  div.u-checkbox.v-input--is-label-active
    .v-input--selection-controls__ripple
      background: $br-color-2
      &:hover
        background: #8D33DB
        transition: .3s ease
      &:after
        content: ''
        position: absolute
        width: 8px
        height: 6px
        background: url("assets/svg/check.svg") no-repeat
        background-size: contain
        background-position: center center
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
</style>
