<template>
  <v-chip class="u-chip"
          :class="sizeClass"
          :active-class="activeClass"
          :nuxt="nuxt"
          exact-active-class="u-chip_active"
          :size="size"
          v-bind="$attrs"
  >
    <slot></slot>
  </v-chip>
</template>

<script>
export default {
  name: "u-chip",
  props: {
    activeClass: String,
    nuxt: Boolean,
    size: String
  },
  computed: {
    sizeClass() {
      return this.size ? 'u-chip_size-' + this.size : '';
    }
  }
}
</script>

<style lang="sass" scoped>
  @import "style/ui-kit/vars.sass"

  .u-chip
    font-family: $font-2
    color: $basic-color-2
    border: 1px solid $br-color-1
    border-radius: 8px
    background-color: $basic-color-3 !important
    font-size: 14px !important
    line-height: 16px
    padding: 8px 16px
    height: auto !important
    cursor: pointer
    transition: .3s ease
    @media (min-width: 1024px)
      font-size: 16px !important
      line-height: 26px
    &:hover
      background-color: $bg-color-3 !important
      transition: .3s ease
      &::before
        display: none
    &.u-chip_active
      font-weight: 600
      background-color: $bg-color-3 !important
      transition: .3s ease
  .u-chip_size
    &-m
      font-size: 14px
      line-height: 24px
      padding: 4px 12px
    &-s
      border-radius: 4px
      padding: 0px 8px
</style>
