<template>
  <footer
    class="u-footer"
  >
    <div class="m-container">
      <div class="u-footer__grid-wrap">
        <component
          :is="$route.path === '/' ? 'span' : 'NuxtLink'"
          :to="$route.path === '/' ? '' : '/'"
          class="u-footer__logo grid-a"
          no-prefetch
        >
          <img :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo-white.svg`)" alt="logo" width="254" height="92">
        </component>

        <div
          v-if="$app.config.current.lmsLoginUrl"
          @click="onClickLoginButton"
          class="u-footer__login grid-c"
        >
          <svg class="u-footer__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
            <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
          </svg>
          {{ $t('template.login') }}
        </div>

        <a
          v-if="$app.config.current.lmsLoginUrl"
          @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })"
          class="u-footer__login grid-c"
          :href="$app.config.current.lmsLoginUrl"
          target="_blank"
        >
          <svg class="u-footer__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
            <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
          </svg>
          {{ $t('template.login') }}
        </a>

        <div class="u-footer__contacts-wrap">
          <ul class="u-footer__contacts">
            <li v-if="$app.config.current.whatsAppLink && $app.config.current.whatsApp">
              <span class="heading">WhatsApp</span>
              <a class="phone" :href="$app.config.current.whatsAppLink" target="_blank">{{ $app.config.current.whatsApp }}</a>
            </li>
            <li v-if="$app.config.current.phone">
              <span class="heading">{{ $t('template.phone') }}</span>
              <a class="phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
            </li>
          </ul>

          <ul class="u-footer__socials">
            <li v-if="$app.config.current.instagramLink"><a :href="$app.config.current.instagramLink" target="_blank">Instagram
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2.16094C15.2063 2.16094 15.5859 2.175 16.8469 2.23125C18.0188 2.28281 18.6516 2.47969 19.0734 2.64375C19.6313 2.85938 20.0344 3.12188 20.4516 3.53906C20.8734 3.96094 21.1313 4.35938 21.3469 4.91719C21.5109 5.33906 21.7078 5.97656 21.7594 7.14375C21.8156 8.40937 21.8297 8.78906 21.8297 11.9906C21.8297 15.1969 21.8156 15.5766 21.7594 16.8375C21.7078 18.0094 21.5109 18.6422 21.3469 19.0641C21.1313 19.6219 20.8687 20.025 20.4516 20.4422C20.0297 20.8641 19.6313 21.1219 19.0734 21.3375C18.6516 21.5016 18.0141 21.6984 16.8469 21.75C15.5813 21.8062 15.2016 21.8203 12 21.8203C8.79375 21.8203 8.41406 21.8062 7.15313 21.75C5.98125 21.6984 5.34844 21.5016 4.92656 21.3375C4.36875 21.1219 3.96563 20.8594 3.54844 20.4422C3.12656 20.0203 2.86875 19.6219 2.65313 19.0641C2.48906 18.6422 2.29219 18.0047 2.24063 16.8375C2.18438 15.5719 2.17031 15.1922 2.17031 11.9906C2.17031 8.78438 2.18438 8.40469 2.24063 7.14375C2.29219 5.97187 2.48906 5.33906 2.65313 4.91719C2.86875 4.35938 3.13125 3.95625 3.54844 3.53906C3.97031 3.11719 4.36875 2.85938 4.92656 2.64375C5.34844 2.47969 5.98594 2.28281 7.15313 2.23125C8.41406 2.175 8.79375 2.16094 12 2.16094ZM12 0C8.74219 0 8.33438 0.0140625 7.05469 0.0703125C5.77969 0.126563 4.90313 0.332812 4.14375 0.628125C3.35156 0.9375 2.68125 1.34531 2.01563 2.01562C1.34531 2.68125 0.9375 3.35156 0.628125 4.13906C0.332812 4.90313 0.126563 5.775 0.0703125 7.05C0.0140625 8.33437 0 8.74219 0 12C0 15.2578 0.0140625 15.6656 0.0703125 16.9453C0.126563 18.2203 0.332812 19.0969 0.628125 19.8563C0.9375 20.6484 1.34531 21.3188 2.01563 21.9844C2.68125 22.65 3.35156 23.0625 4.13906 23.3672C4.90313 23.6625 5.775 23.8687 7.05 23.925C8.32969 23.9812 8.7375 23.9953 11.9953 23.9953C15.2531 23.9953 15.6609 23.9812 16.9406 23.925C18.2156 23.8687 19.0922 23.6625 19.8516 23.3672C20.6391 23.0625 21.3094 22.65 21.975 21.9844C22.6406 21.3188 23.0531 20.6484 23.3578 19.8609C23.6531 19.0969 23.8594 18.225 23.9156 16.95C23.9719 15.6703 23.9859 15.2625 23.9859 12.0047C23.9859 8.74688 23.9719 8.33906 23.9156 7.05938C23.8594 5.78438 23.6531 4.90781 23.3578 4.14844C23.0625 3.35156 22.6547 2.68125 21.9844 2.01562C21.3188 1.35 20.6484 0.9375 19.8609 0.632812C19.0969 0.3375 18.225 0.13125 16.95 0.075C15.6656 0.0140625 15.2578 0 12 0Z" fill="white"/>
                <path d="M12 5.83594C8.59688 5.83594 5.83594 8.59688 5.83594 12C5.83594 15.4031 8.59688 18.1641 12 18.1641C15.4031 18.1641 18.1641 15.4031 18.1641 12C18.1641 8.59688 15.4031 5.83594 12 5.83594ZM12 15.9984C9.79219 15.9984 8.00156 14.2078 8.00156 12C8.00156 9.79219 9.79219 8.00156 12 8.00156C14.2078 8.00156 15.9984 9.79219 15.9984 12C15.9984 14.2078 14.2078 15.9984 12 15.9984Z" fill="white"/>
                <path d="M19.8469 5.59214C19.8469 6.38902 19.2 7.0312 18.4078 7.0312C17.6109 7.0312 16.9688 6.38433 16.9688 5.59214C16.9688 4.79526 17.6156 4.15308 18.4078 4.15308C19.2 4.15308 19.8469 4.79995 19.8469 5.59214Z" fill="white"/>
              </svg>
            </a></li>
            <li v-if="$app.config.current.facebookLink"><a :href="$app.config.current.facebookLink" target="_blank">Facebook
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 17.9895 4.3882 22.954 10.125 23.8542V15.4688H7.07812V12H10.125V9.35625C10.125 6.34875 11.9166 4.6875 14.6576 4.6875C15.9701 4.6875 17.3438 4.92188 17.3438 4.92188V7.875H15.8306C14.34 7.875 13.875 8.80008 13.875 9.75V12H17.2031L16.6711 15.4688H13.875V23.8542C19.6118 22.954 24 17.9895 24 12Z" fill="white"/>
              </svg>
            </a></li>
            <li v-if="$app.config.current.youtubeLink"><a :href="$app.config.current.youtubeLink" target="_blank">Youtube
              <svg class="u-footer__socials-icon u-footer__socials-icon--yt" width="42" height="30">
                <use xlink:href="~/assets/svg/sprite.svg#icon-yt"></use>
              </svg>
            </a></li>
            <li v-if="$app.config.current.linkedInLink"><a :href="$app.config.current.linkedInLink" target="_blank">LinkedIn
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.2234 0H1.77187C0.792187 0 0 0.773438 0 1.72969V22.2656C0 23.2219 0.792187 24 1.77187 24H22.2234C23.2031 24 24 23.2219 24 22.2703V1.72969C24 0.773438 23.2031 0 22.2234 0ZM7.12031 20.4516H3.55781V8.99531H7.12031V20.4516ZM5.33906 7.43438C4.19531 7.43438 3.27188 6.51094 3.27188 5.37187C3.27188 4.23281 4.19531 3.30937 5.33906 3.30937C6.47813 3.30937 7.40156 4.23281 7.40156 5.37187C7.40156 6.50625 6.47813 7.43438 5.33906 7.43438ZM20.4516 20.4516H16.8937V14.8828C16.8937 13.5562 16.8703 11.8453 15.0422 11.8453C13.1906 11.8453 12.9094 13.2937 12.9094 14.7891V20.4516H9.35625V8.99531H12.7687V10.5609H12.8156C13.2891 9.66094 14.4516 8.70938 16.1813 8.70938C19.7859 8.70938 20.4516 11.0813 20.4516 14.1656V20.4516Z" fill="white"/>
              </svg>
            </a></li>
          </ul>
        </div>

        <nav class="u-footer__nav grid-b">
          <div class="u-footer__nav-list">
            <NuxtLink
              to="/cursos"
              class="u-footer__nav-heading"
              @click.native="scrollToTop"
              no-prefetch
            >Cursos</NuxtLink>

            <NuxtLink
              v-for="direction of $store.state.courses.directions"
              :to="`/${direction.slug}`"
              :key="direction.slug"
              class="u-footer__nav-item"
              @click.native="scrollToTop"
              no-prefetch
            >{{ direction.name }}</NuxtLink>
          </div>

          <div
            v-if="$app.config.current.withWebinars"
            class="u-footer__nav-list">
            <a class="u-footer__nav-heading" href="/webinars">Webinars</a>
            <a class="u-footer__nav-item" href="/webinars?status=upcoming">Próximos</a>
            <a class="u-footer__nav-item" href="/webinars?status=finished">Anteriores</a>
          </div>

          <div class="u-footer__nav-list">
            <NuxtLink
              to="/about-us"
              class="u-footer__nav-heading"
              @click.native="scrollToTop"
              no-prefetch
            >Sobre</NuxtLink>
            <NuxtLink
              to="/about-us"
              class="u-footer__nav-item"
              @click.native="scrollToTop"
              no-prefetch
            >{{ $t('template.aboutUs') }}</NuxtLink>
            <NuxtLink
              to="/career-center-students"
              class="u-footer__nav-item"
              @click.native="scrollToTop"
              no-prefetch
            >{{ $t('template.careersCenter') }}</NuxtLink>
            <NuxtLink
              to="/vacancies"
              class="u-footer__nav-item"
              @click.native="scrollToTop"
              no-prefetch
            >{{ $t('template.jobs') }}</NuxtLink>
          </div>

          <div
            v-if="$app.config.current.withBlog"
            class="u-footer__nav-list"
          >
            <a class="u-footer__nav-heading" :href="$app.config.current.blogUrl">Blog</a>
            <a
              v-for="blog of $app.config.current.blogLinks"
              class="u-footer__nav-item"
              :href="blog.href"
            >{{ $t(blog.key) }}</a>
          </div>

          <div
            v-if="$app.config.current.lmsLoginUrl"
            class="u-footer__nav-list"
          >
            <a @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })" class="u-footer__login-mobile grid-c" :href="$app.config.current.lmsLoginUrl" target="_blank">{{ $t('template.login') }}
            </a>
          </div>
        </nav>

        <ul class="u-footer__docs grid-d">
          <div v-for="documentKey in $app.config.current.footerDocuments">
            <li><a :href="$app.config.current.documents[documentKey]" target="_blank">{{ $t(`template.${documentKey}`) }}</a></li>
            <div style="clear: both;"></div>
          </div>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footer",
  data() {
    return {
      isDisplayAuthDialog: false
    }
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0,0);
    },
    onClickLoginButton() {
      this.isDisplayAuthDialog = true;
    },
  }
}
</script>

<style lang="sass" scoped>
@import "style/ui-kit/vars"

@media (max-width: $md)
  .m-container
    max-width: unset
    margin: 0px 40px
    padding: 0px

@media (max-width: $tb)
  .m-container
    margin: 0px 20px

.u-footer
  background: $basic-color-1
  @media (max-width: $tb)
    padding: 48px 0px

.u-footer__logo
  display: block
  margin-bottom: 40px
  img
    width: 100%
  @media (max-width: $tb)
    display: inline-block !important
    margin-bottom: 32px
    img
      width: 204px !important

.u-footer__login
  display: none

.u-footer__contacts
  margin: 0
  padding: 0
  list-style: none
  margin-bottom: 32px
  li
    margin-bottom: 24px
    .heading
      font-family: $font-2
      display: block
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.04em
      color: rgba($basic-color-3, 0.8)
      margin-bottom: 8px
      &:last-of-type
        margin-bottom: 12px

    .phone
      font-family: $font-1
      display: block
      font-size: 16px
      line-height: 24px
      color: $basic-color-3
      text-decoration: none
      transition: color 0.3s
      &:hover
        color: rgba($basic-color-3, 0.8)

    .address
      display: block
      font-size: 16px
      line-height: 15px
      letter-spacing: 0.04em
      color: rgba($basic-color-3, 0.8)
      margin: 0

.u-footer__socials
  margin: 0
  padding: 0
  list-style: none
  display: flex
  flex-wrap: wrap
  margin-bottom: 34px
  li
    margin-right: 24px
    a
      font-size: 0
    &:last-of-type
      margin-right: 0

.u-footer__socials-icon
  height: 30px
  fill: $basic-color-3
  opacity: 0.9
  transition: opacity 0.3s
  &:hover
    opacity: 1
  &--inst
    width: 31px
  &--fb
    width: 15px
  &--yt
    width: 24px
  &--in
    width: 32px
.u-footer__nav
  display: -ms-grid
  display: grid
  -ms-grid-columns: 1fr 50px 1fr
  grid-template-columns: 1fr 1fr
  grid-column-gap: 50px
  grid-row-gap: 32px
  margin-bottom: 32px
  z-index: 1

.u-footer__nav-heading
  font-family: $font-1
  display: block
  font-size: 16px
  line-height: 24px
  font-weight: 500
  text-decoration: none
  color: $basic-color-3
  margin-bottom: 12px

.u-footer__nav-item
  font-family: $font-2
  display: block
  font-size: 16px
  line-height: 26px
  color: $basic-color-3
  text-decoration: none
  margin-bottom: 8px
  @media (max-width: $tb)
    font-size: 14px
    line-height: 24px

.u-footer__nav-item,
.u-footer__nav-heading
  transition: color 0.3s
  &:hover
    color: rgba($basic-color-3, 0.64)

.u-footer__docs
  margin: 0
  padding: 0
  list-style: none
  li
    margin-bottom: 4px
    float: left
    a
      font-family: $font-2
      display: block
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.04em
      text-decoration: none
      color: $basic-color-5
      transition: color 0.3s
      &:hover
        color: $basic-color-3
      @media (max-width: $tb)
        font-size: 14px
        line-height: 24px

.u-footer__login-mobile
  display: block
  font-size: 16px
  line-height: 21px
  font-weight: 500
  color: #FA7E4C
  text-transform: uppercase
  text-decoration: none
  transition: color 0.3s
  &:hover
    color: #D36133

@media (min-width: $tb)
.u-footer__login-mobile
  display: none

@media (max-width: $md)
.u-footer__logo
  img
    margin-bottom: 30px
    width: 100%

@media (max-width: $tb)
.u-footer__logo
  img
    margin-bottom: 0

@media (min-width: $tb)
  .u-footer
    padding-top: 49px

  .u-footer__grid-wrap
    display: -ms-grid
    display: grid
    grid-template-areas: 'a b c' 'd d d'

  .grid-a
    grid-area: a
    width: 266px
    height: fit-content
    @media(max-width: $md)
      width: 212px
  .grid-b
    grid-area: b
    margin-left: 102px
    @media(max-width: $md)
      margin-left: 10.938vw !important

  .grid-c
    grid-area: c

  .grid-d
    grid-area: d
    margin-top: -70px

  .u-footer__login
    cursor: pointer
    position: relative
    display: inline-flex
    height: fit-content
    align-items: center
    justify-content: flex-end
    margin-left: 35px
    flex-shrink: 0
    font-size: 16px
    line-height: 21px
    font-weight: 500
    color: $action-color-1
    text-transform: uppercase
    text-decoration: none
    transition: color 0.3s
    white-space: nowrap
    &:hover
      color: #D36133
      .u-footer__login-icon
        fill: #D36133

  .u-footer__login-icon
    width: 24px
    height: 24px
    margin-right: 6px
    fill: $action-color-1
    left: 0
    transition: fill 0.3s

  .u-footer__contacts-wrap
    display: flex
    justify-content: space-between
    -ms-grid-column: 1
    grid-column-start: 1
    -ms-grid-column-span: -2
    grid-column-end: -1
    border-top: 1px solid rgba($basic-color-3, 0.24)
    padding-top: 40px
    margin-top: 14px

  .u-footer__contacts
    width: 416px
    display: -ms-grid
    display: grid
    -ms-grid-columns: 1fr 1fr
    grid-template-columns: 1fr 1fr
    margin-bottom: 0
    li
      .heading
        margin-bottom: 18px
    .grid-width100
      -ms-grid-column: 1
      grid-column-start: 1
      -ms-grid-column-span: -2
      grid-column-end: -1

  .u-footer__socials
    margin-bottom: 0

  .u-footer__nav
    margin-bottom: 0
    grid-row-gap: 25px
    grid-column-gap: 28px

  .u-footer__nav-heading
    margin-bottom: 25px

@media (min-width: $md)
  .u-footer
    padding-top: 73px
    padding-bottom: 40px
    .grid-b
      margin-left: 10.938vw
    .grid-d
      margin-top: -50px

  .u-footer__nav
    grid-template-columns: repeat(4, 1fr)

  .u-footer__nav-list
    &:nth-child(2)
      margin-left: 17px

    &:nth-child(3)
      margin-left: 17px

    &:nth-child(4)
      margin-left: 8px

  .u-footer__contacts-wrap
    margin-top: 40px

@media (min-width: $lp)
  .u-footer__contacts
    width: auto
    -ms-grid-columns: 1fr 40px 1fr 40px auto
    grid-template-columns: 1fr 1fr auto
    grid-column-gap: 40px
    .grid-width100
      grid-column: initial

@media (min-width: $xl)
  .u-footer
    .grid-b
      margin-left: 130px
</style>
