<template>
  <header
    class="u-header"
  >
    <div class="u-header__inner">
      <component
        :is="$route.path === '/' ? 'span' : 'NuxtLink'"
        :to="$route.path === '/' ? '' : '/'"
        class="u-header__logo"
        no-prefetch
      >
        <img data-not-lazy class="not-lazy" :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)" alt="logo" width="110" height="40">
      </component>

      <div class="u-header__right-block">
        <a class="u-header__phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
        <a
          v-if="!$app.user && $app.config.current.lmsLoginUrl"
          @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })"
          class="u-header__login"
          :href="$app.config.current.lmsLoginUrl"
          target="_blank"
        >
          {{ $t('template.login') }}
          <svg class="u-header__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
            <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
          </svg>
        </a>
        <div
          v-if="$app.user && $app.config.current.lmsLoginUrl"
          class="u-header__user-block"
        >
          <user-avatar
            :name="$app.user.name"
            :onClick="userAvatarOnClick"
          />
          <a
            :href="$app.config.current.lmsUrl"
            target="_blank"
            class="u-header__user-name"
          >{{ shortUserName }}</a>
          <div
            @click="logout"
            class="u-header__login-icon"
          >
            <svg
              width="24"
              height="24"
              aria-hidden="true"
              role="presentation"
            >
              <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
            </svg>
          </div>
        </div>
      </div>

      <button data-not-lazy class="u-header__burger js-toggle-u-nav not-lazy" type="button" @click="openMenu">Open menu</button>

      <nav class="main-nav u-main-nav">
        <div class="main-nav__inner">
          <ul class="main-nav__list">
            <li>
              <a
                href="/cursos"
                :class="{
                    'active': $route.name === `courses___${$app.config.current.localeName}`
                  }"
              >Cursos</a>
            </li>
            <li>
              <a
                href="/about-us"
                :class="{
                    'active': [`vacancies___${$app.config.current.localeName}`, `career-center-students___${$app.config.current.localeName}`, `career-center-company___${$app.config.current.localeName}`, `about-us___${$app.config.current.localeName}`].includes($route.name)
                  }"
              >Sobre</a>
            </li>
            <li v-if="$app.config.current.withWebinars">
              <a
                href="/webinars"
                :class="{
                    'active': [`webinars-direction___${$app.config.current.localeName}`, `webinars-slug___${$app.config.current.localeName}`].includes($route.name)
                  }"
              >Webinars</a>
            </li>
            <li v-if="$app.config.current.withBlog">
              <a
                :href="$app.config.current.blogUrl"
                :class="{
                    'active': [`blog-direction___${$app.config.current.localeName}`, `blog-slug___${$app.config.current.localeName}`].includes($route.name)
                  }"
              >Blog</a>
            </li>
          </ul>

          <a class="main-nav__phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: "header",
  methods: {
    openMenu() {
      console.log(this);
      const mainNav = document.querySelector('.u-main-nav');
      if (mainNav.classList.contains('container--active')) {
        mainNav.classList.remove('container--active');
        mainNav.style.display = 'none';
        mainNav.style.maxHeight = 0;
        mainNav.style.opacity = 0;
      } else {
        mainNav.classList.add('container--active');
        mainNav.style.display = 'block';
        setTimeout(() => {
          mainNav.style.opacity = 1;
          mainNav.style.maxHeight = '100vh';
        }, 0);
      }

      const body = document.body;
      body.classList.toggle('overflow-hidden');
      body.classList.toggle('full-vh');
      document.querySelector('.js-toggle-u-nav').classList.toggle('closed');
    }
  }
}
</script>

<style lang="sass" scoped>
@import "style/ui-kit/vars"

.u-header
  position: relative
  min-height: 64px
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)
  z-index: 6
  -webkit-overflow-scrolling: touch
  background: #fff
  &.menu-opened
    position: fixed
    width: 100%
    min-height: 64px
    transform: translate3d(0,0,0)

  .main-nav
    display: flex
    flex: 1
    align-items: center
    &__list
      li
        a
          font-family: $font-2
          font-size: 16px
          line-height: 26px
          color: $basic-color-1
          text-transform: none
          transition: .3s ease
          &:hover
            color: $action-color-1
            transition: .3s ease

  @media (max-width: $md)
    .main-nav
      display: none

.u-header__right-block
    display: flex
    flex: 1
    justify-content: flex-end
    align-items: center

.u-header__inner
  position: relative
  display: flex
  padding: 12px 20px
  padding-bottom: 12px
  @media (min-width: $tb)
    padding-top: 14px
    padding-bottom: 14px

.u-header__logo
  flex-shrink: 0
  text-decoration: none

.u-header__login
  cursor: pointer
  position: relative
  display: inline-flex
  align-items: center
  flex-shrink: 0
  font-family: $font-1
  font-size: 16px
  line-height: 24px
  color: $action-color-1
  text-decoration: none
  margin-right: 52px
  margin-left: auto
  transition: color 0.3s
  @media (max-width: $md)
    margin-right: 70px
  @media (max-width: $xs)
    margin-right: 52px
  &:hover
    color: #FA7E4C
    .u-header__login-icon
      fill: #FA7E4C

.u-header__login-icon
  position: absolute
  width: 24px
  height: 24px
  fill: $action-color-1
  left: -32px
  transition: fill 0.3s

.u-header__phone
  display: none

.u-header__burger
  position: absolute
  top: 7px
  right: 7px
  width: 50px
  height: 50px
  font-size: 0
  padding: 0
  margin-left: auto
  background-image: url("assets/svg/burger-icon.svg")
  background-repeat: no-repeat
  background-position: center
  background-size: 24px
  background-color: transparent
  border: none
  cursor: pointer

  &.closed
    background-image: url("assets/svg/close-icon.svg")

@media (min-width: $tb)
  .u-header__inner
    max-width: 704px
    padding-left: 0
    padding-right: 0
    margin: 0 auto

  .u-header__phone
    display: block
    font-family: $font-2
    font-size: 16px
    line-height: 26px
    color: $basic-color-1
    text-transform: uppercase
    text-decoration: none
    flex-shrink: 0
    transition: color 0.3s
    &:hover
      color: $action-color-1

  .u-header__login
    padding-top: 0
    margin-left: 122px

  .u-header__burger
    top: 14px
    right: -1px
    background-image: url("assets/svg/burger-icon-large.svg")
    background-size: 48px

  .u-header__logo
    margin-right: 71px
    img
      width: 132px
      height: 48px

@media (min-width: $md)
  .u-header
    &::after
      display: none

  .u-header__inner
    max-width: 944px

  .u-header__login
    margin-left: auto
    margin-right: 0
    flex-shrink: 0

  .u-header__burger
    display: none

  .u-header__logo
    order: -1
    margin-right: 42px

@media (min-width: $lp)
  .u-header__inner
    max-width: 1160px
  .u-header__login
    margin-left: 100px
  .u-header__logo
    margin-right: 138px

@media (min-width: $xl)
  .u-header__logo
    margin-right: 110px
</style>
