<template>
    <div
      class="u-input"
      :class="[add, sizeClass]">
      <v-text-field
        :placeholder="placeholder"
        :name="name"
        :error-messages="errorMessages"
        v-bind="$attrs"
        v-model="inputVal"
        solo
        :type="type || 'text'"
        v-if="type != 'textarea'">
        <template v-slot:prepend-inner>
          <slot></slot>
        </template>
      </v-text-field>
      <v-textarea
        :placeholder="placeholder"
        :name="name"
        :rows="rows"
        v-model="inputVal"
        :error-messages="errorMessages"
        v-if="type == 'textarea'"></v-textarea>
    </div>
</template>

<script>
export default {
  name: "u-input",
  props: {
    add: String,
    type: {
      default: 'text',
      type: String
    },
    name: String,
    value: {
      default: ''
    },
    placeholder: String,
    size: String,
    required: Boolean,
    errorMessages: String,
    rows: String
  },
  data() {
    return {

    }
  },
  computed: {
    sizeClass() {
      return this.size ? 'u-input_size-' + this.size : '';
    },
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>

<style lang="sass">
  @import "style/ui-kit/vars.sass"

  .u-input
    .v-input__control
      min-height: unset !important
    div.v-input--is-focused.error--text
      .v-input__slot
        background: linear-gradient(0deg, rgba(255, 69, 69, 0.15), rgba(255, 69, 69, 0.15)), $bg-color-3 !important
    .v-input--is-focused
      .v-input__slot
        background: $bg-color-2 !important
        border: 1px solid $br-color-2 !important
        transition: .3s ease !important
        &:hover
          background: $bg-color-2 !important
    .v-input
      &__slot
        width: 320px
        height: 56px
        font-family: 'Poppins'
        min-width: 320px
        margin-bottom: 0px !important
        color: $basic-color-2 !important
        background: $bg-color-2 !important
        border: 1px solid $br-color-1 !important
        border-radius: 8px !important
        padding: 15px 20px
        transition: .3s ease !important
        box-shadow: unset !important
        &:hover
          box-shadow: unset !important
          background: $bg-color-3 !important
        &:before, &:after
          display: none
        .v-input__prepend-inner
          margin-right: 15px

    .v-textarea
      .v-input__slot
        height: unset !important
        max-height: unset !important
    .error--text
      .v-input__slot
        background: linear-gradient(0deg, rgba(255, 69, 69, 0.15), rgba(255, 69, 69, 0.15)), $bg-color-3 !important
        border: 1px solid #FF4545 !important
        transition: background, border .3s ease !important
      .v-messages__message
        font-family: 'Poppins'
        font-size: 12px
        line-height: 20px

  .u-input_size
    &-m
      .v-input__slot
        height: 44px !important
        padding: 9px 20px !important
</style>
