<template>
  <div class="u-phone_options">
    <phone
      class="u-phone"
      :class="[{'u-phone_fluid': fluid}, {'u-phone_error': error}]"
      :name="name"
      v-model="inputVal"
      :fluid="fluid"
      :error-messages="errorMessages"
      v-bind="$attrs"
    />
  </div>
</template>

<script>
import phone from '../common/phone'

export default {
  name: "u-phone",
  props: {
    name: String,
    fluid: Boolean,
    error: Boolean,
    errorMessages: String,
    attach: String,
    value: {
      default: ''
    }
  },
  data() {
    return {

    }
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
  components: {
    phone
  }
}
</script>

<style lang="sass">
  @import "style/ui-kit/vars.sass"

  .u-phone
    .phone
      width: 340px
    .v-input__slot
      margin-bottom: 0px !important
      box-shadow: unset !important
      background: $bg-color-2 !important
      border: 1px solid $br-color-1
      border-radius: 8px !important
      font-family: $font-2
      font-size: 16px
      line-height: 26px
      .v-input__slot
        background: transparent !important
        border: 0px !important
        &:hover
          background: transparent !important
          border: 0px !important
      &:hover
        box-shadow: unset !important
        background: $bg-color-3 !important
        transition: .3s ease
      &:active, &:focus
        background: $bg-color-2
    .v-menu__content
      border: 1px solid $br-color-1 !important
      border-radius: 8px !important
      width: 100%
      max-width: 100%
      top: 60px !important
      .primary--text
        color: inherit !important

  .u-phone_error
    .v-input__slot
      background: linear-gradient(0deg, rgba(255, 69, 69, 0.15), rgba(255, 69, 69, 0.15)), $bg-color-3 !important
      border: 1px solid #FF4545 !important
      transition: background, border .3s ease
      &:hover, &:active, &:focus
        background: linear-gradient(0deg, rgba(255, 69, 69, 0.15), rgba(255, 69, 69, 0.15)), $bg-color-3 !important
        border: 1px solid #FF4545 !important
</style>
