<template>
  <v-dialog
    :width="sizeClass || 600"
    v-model="show"
    v-bind="$attrs"
  >
    <v-card class="u-popup-card">
      <button class="u-popup-close" @click.stop="show = false">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L3.58579 5L0.292893 8.29289C-0.0976311 8.68342 -0.0976311 9.31658 0.292893 9.70711C0.683417 10.0976 1.31658 10.0976 1.70711 9.70711L5 6.41421L8.29289 9.70711C8.68342 10.0976 9.31658 10.0976 9.70711 9.70711C10.0976 9.31658 10.0976 8.68342 9.70711 8.29289L6.41421 5L9.70711 1.70711C10.0976 1.31658 10.0976 0.683417 9.70711 0.292893C9.31658 -0.0976311 8.68342 -0.0976311 8.29289 0.292893L5 3.58579L1.70711 0.292893Z" fill="black" fill-opacity="0.4"/>
        </svg>
      </button>
      <v-card-text>
        <slot></slot>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "popup",
  props: {
    size: String,
    value: Boolean
  },
  computed: {
    show: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    sizeClass: function () {
      if (this.size === 's') {
        return 400
      }
    }
  }
}
</script>

<style lang="sass" scoped>
  @import 'style/ui-kit/vars'

  .u-popup
    &-close
      width: 10px
      height: 10px
      position: absolute
      right: 12px
      top: 12px
      svg
        position: absolute
        top: 0
        left: 0
    &-card
      box-shadow: unset !important
      margin: 0 auto
      background: $basic-color-3
      padding: 40px
      position: relative
      border-radius: 12px !important
      .v-card__text
        padding: 0px
</style>
