<template>
  <v-radio
    class="u-radio"
    v-model="inputVal"
    v-bind="$attrs"
  ></v-radio>
</template>

<script>
export default {
  name: "u-radio",
  props: {
    value: {
      default: ''
    }
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>

<style lang="sass">
  @import "style/ui-kit/vars.sass"

  .u-radio
    .v-input--selection-controls__input
      width: 20px !important
      height: 20px !important
      margin-right: 18px !important
    .v-input--selection-controls__ripple
      width: 20px !important
      height: 20px !important
      border: 2px solid $br-color-2
      top: calc(50% - 18px)
      left: 0px
      transition: .3s ease
      &:hover
        background: $bg-color-3
        transition: .3s ease
    .v-label
      font-family: $font-2
      font-weight: normal
      color: $basic-color-2 !important
      font-size: 14px
      line-height: 24px
    .primary--text
      color: inherit !important
  div.u-radio.v-item--active
    .v-input--selection-controls__ripple
      background: $br-color-2
      &:hover
        background: #8D33DB
        transition: .3s ease
      &:after
        content: ''
        position: absolute
        width: 6px
        height: 6px
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        border-radius: 3px
        background: $basic-color-3 !important

</style>
