<template>
  <vue-slider
    class="range-slider"
    v-bind="$attrs"
    v-model="durationModel"
  />
</template>

<script>
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'

export default {
  name: "range-slider",
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: {
      default: ''
    }
  },
  computed: {
    durationModel: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('change', val);
      },
    },
  },
  methods: {
    changeDuration(value) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': `duration_min-${value[0]}_max-${value[1]}` });
    }
  },
  components: {
    vueSlider: () => import('vue-slider-component/dist-css/vue-slider-component.umd.min.js')
  }
}
</script>

<style lang="sass">
@import 'style/ui-kit/vars.sass'

.range-slider
  width: 230px!important
  height: 2px!important
  margin-left: 12px
  cursor: pointer
  &.vue-slider-disabled
    opacity: 1
  & .vue-slider-dot-handle-disabled
    background-color: initial
  & .vue-slider-rail
    background: $br-color-1
  & .vue-slider-process
    background-color: $action-color-2
  & .vue-slider-dot
    width: 24px!important
    height: 24px!important
    border: 1px solid $action-color-2
    border-radius: 50%
    background: #fff
    z-index: 2
    box-sizing: border-box
    &:after
      content: ""
      display: block
      position: absolute
      width: 8px
      height: 8px
      background-color: $action-color-2
      border-radius: 50%
      top: 7px
      left: 7px
      cursor: pointer
      box-sizing: border-box
  & .vue-slider-dot-handle
    box-shadow: none
</style>
