<template>
  <div :id="id" class="u-select-options">
    <v-select
      class="u-select"
      :class="sizeClass"
      :items="options"
      :placeholder="placeholder"
      :menu-props="{ contentClass: 'u-select__menu' }"
      :attach="attach || '#' + id"
      :error="error"
      :error-messages="errorMessages"
      v-bind="$attrs"
      v-model="inputVal"
      solo
    >
      <template v-slot:append>
        <img src="../../assets/svg/dropdown.svg" alt="">
      </template>
    </v-select>
  </div>
</template>

<script>
import hrid from '../../utils/hrid'

export default {
  name: "u-select",
  props: {
    options: Array,
    placeholder: String,
    errorMessages: Array,
    error: Boolean,
    size: String,
    attach: String,
    value: {
      default: ''
    }
  },
  data() {
    return {
      id: hrid()
    }
  },
  computed: {
    sizeClass() {
      return this.size ? 'u-select_size-' + this.size : '';
    },
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>

<style lang="sass">
  @import "style/ui-kit/vars.sass"

  .u-select
    font-family: $font-2
    max-width: 320px
    font-size: 16px
    line-height: 26px
    height: 56px
    & .v-input__slot
      background: $bg-color-2 !important
      height: 56px
      box-shadow: unset !important
      padding: 15px 20px
      border: 1px solid $br-color-1
      border-radius: 8px !important
      margin-bottom: 0px !important
      &:before
        display: none !important
      &:hover
        box-shadow: unset !important
        background: $bg-color-3 !important
        transition: background .3s
      &:focus, &:active
        background: $bg-color-2 !important
      .v-input__append-inner
        height: 100%
      img
        transform: rotate(0deg)
        transition: .3s ease

    .v-messages__message
      font-size: 12px
      line-height: 20px

  .u-select_size
    &-m
      height: 44px
      .v-input__control
        min-height: 44px !important
      & .v-input__slot
        height: 44px

  div.u-select.v-select--is-menu-active img
    transform: rotate(180deg)
    transition: .3s ease
  .u-select-options
    position: relative
    .error--text
      .v-input__slot
        background: linear-gradient(0deg, rgba(255, 69, 69, 0.15), rgba(255, 69, 69, 0.15)), $bg-color-3 !important
        border: 1px solid #FF4545
        transition: background, border .3s ease

  .u-select__menu
    font-family: $font-2
    font-size: 16px
    line-height: 26px
    background: $bg-color-2
    box-shadow: unset !important
    border: 1px solid $br-color-1 !important
    border-radius: 8px !important
    top: calc(100% + 4px) !important
    .v-list
      padding: 8px
    .primary--text
      color: $basic-color-2 !important
      caret-color: $bg-color-3 !important

</style>
