<template>
  <v-app
    class="main-form-section"
    ref="app"
  >
    <section
      v-resize="onResize"
      ref="section"
    >
      <div class="m-container">
        <div class="main-form-title">
          <h2 class="h2">{{ $t('index.main-form-section.h2') }}</h2>
        </div>
        <p class="main-form-description">
          {{ $t('index.main-form-section.description') }}
        </p>
        <div class="main-form-controls">
          <ValidationObserver v-slot="{ handleSubmit }" ref="form">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <div class="main-form-name-phone">
                <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
                  <v-text-field
                    class="main-form-name-phone__name"
                    v-model="name"
                    :label="$t('index.main-form-section.name.label')"
                    solo
                    :error-messages="errors.length ? $t('index.main-form-section.name.error') : ''"
                  ></v-text-field>
                </ValidationProvider>
                <phone
                  class="main-form-name-phone__phone"
                  name="phone"
                  v-model="phone"
                />
              </div>
              <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
                <hintEmail
                  v-model="email"
                  :label="$t('index.main-form-section.email.label')"
                  :error-messages="errors.length ? $t('index.main-form-section.email.error') : ''"
                />
              </ValidationProvider>
              <privacy-policy v-model="acceptedRules"  />
              <div class="main-form-btn">
                <v-btn
                  color="primary"
                  rounded
                  depressed
                  x-large
                  :ripple="false"
                  type="submit"
                  :loading="loading.form"
                >
                  {{ $t('index.main-form-section.btn') }}
                </v-btn>
              </div>
              <input type="hidden" name="source_id" tabindex="-1" :value="$app.config.current.sourceId.index">
                <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
            </form>
          </ValidationObserver>
        </div>
      </div>

      <v-dialog
        v-model="successDialog"
        max-width="490"
        :attach="attach"
      >
        <v-card
          :class="{
            'success-dialog_big': showBigDialog
          }"
          class="success-dialog"
        >
          <div
            @click="successDialog = false"
            class="close-dialog"
          />
          <div class="success-dialog__img">
            <successImg />
          </div>
          <div class="h3 success-dialog__title">
            {{ $t('index.success-dialog.title') }}
          </div>
          <div class="success-dialog__description">
            {{ $t('index.success-dialog.description') }}
          </div>
          <v-btn
            class="success-dialog__btn"
            color="primary"
            rounded
            depressed
            x-large
            :ripple="false"
            @click="successDialog = false"
          >
            {{ $t('index.success-dialog.btn') }}
          </v-btn>
        </v-card>
      </v-dialog>
    </section>
  </v-app>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import hintEmail from '../../common/hintEmail'
import phone from '../../common/phone'
import checkbox from '../../common/checkbox'
import addAnyFormFields from '../../../utils/addAnyFormFields'
import urlencodeFormData from '../../../utils/urlencodeFormData'
import successImg from '~/assets/svg/success-img.svg?inline'
import PrivacyPolicy from '../../common/privacyPolicy'

export default {
  name: 'MainFormSection',
  data() {
    return {
      name: '',
      phone: '',
      email: null,
      acceptedRules: true,

      loading: {
        form: false,
      },

      successDialog: false,
      showBigDialog: false,

      attach: null,
    }
  },
  async mounted() {
    setTimeout(async () => await addAnyFormFields.call(this,{ ref: this.$refs.form }), 0);

    this.attach = this.$refs['app'].$el;
  },
  methods: {
    async onSubmit() {
      if (this.loading.form) return;

      this.loading.form = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loading.form = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector('form'));
      formData.append('name', this.name);
      formData.append('phone', this.phone);
      formData.append('email', this.email);
      formData.append('checkbox', this.acceptedRules);

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.feedbackUrl,
          data: urlencodeFormData(formData),
          headers: {
            'Content-Type': this.$app.config.current.feedbackContentType,
          },
        });

        this.successDialog = true;

        this.$refs.form.reset();
        this.name = '';
        this.phone = '';
        this.email = '';

        this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'lead', 'eventAction': 'index_footer' });
      } catch (e) {
        console.error(e);
      }

      this.loading.form = false;
    },
    onResize() {
      this.showBigDialog = window.innerHeight >= 490;
    },
  },
  watch: {
    'successDialog'() {
      setTimeout(() => {
        this.successDialog = false;
      }, Number(this.$nuxt.$config.CLOSE_SUCCESS_DIALOG_TIME));
    },
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    hintEmail,
    phone,
    checkbox,
    successImg,
    PrivacyPolicy,
  },
}
</script>

<style
  scoped
  lang="sass"
>
.main-form-section
  background: #EDE2F8!important
  &::v-deep .v-application--wrap
    min-height: auto!important
  & .success-dialog
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    & .v-btn
      background-color: #d36133 !important
      border-color: #d36133 !important
      color: #ffffff !important
      &:hover, &:active
        background: #E97242 !important
    &__img
      padding-top: 32px
      padding-bottom: 24px
      line-height: 0
      & svg
        max-width: 80px
        max-height: 80px
    &__title
      margin-top: 0
      margin-bottom: 12px
      color: #333333
      font-size: 20px
      line-height: 26px
    &__description
      max-width: 240px
      font-size: 16px
      line-height: 24px
      color: #333333
      margin: 0 auto
    &__btn
      margin-top: 24px
      margin-bottom: 20px
      width: 280px
      & .v-btn__content
        font-size: 18px
        line-height: 24px
    & .close-dialog
      background-image: url("~@/assets/svg/close-dialog.svg")
      top: 11px
      right: 11px
      width: 16px
      height: 16px
    &_big
      & .success-dialog__img
        padding-top: 52px
        padding-bottom: 32px
        & svg
          max-width: 104px
          max-height: 104px
      & .success-dialog__title
        font-size: 32px
        line-height: 38px
        margin-bottom: 16px
      & .success-dialog__description
        max-width: 410px
        font-size: 24px
        line-height: 32px
      & .success-dialog__btn
        margin-top: 40px
        margin-bottom: 52px
        width: 258px
        & .v-btn__content
          font-size: 14px
          line-height: 18px
      & .close-dialog
        background-image: url("~@/assets/svg/close-dialog-desktop.svg")
        right: 14px
        top: 14px
        width: 32px
        height: 32px
  & .m-container
    padding-top: 40px
    padding-bottom: 40px
    @media (min-width: $tb)
      max-width: 562px
      padding-top: 48px
      padding-bottom: 48px
    @media (min-width: $md)
      max-width: 668px
      padding-top: 80px
      padding-bottom: 80px
  & .h2
    margin-top: 0
    margin-bottom: 20px
    line-height: 31px
    @media (min-width: $tb)
      line-height: 62px
      margin-bottom: 12px
    @media (min-width: $md)
      margin-bottom: 24px
  & .main-form-title
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  & .main-form-description
    text-align: center
    font-size: 16px
    line-height: 24px
    color: #101010
    padding-bottom: 20px
    @media (min-width: $tb)
      font-size: 18px
      line-height: 24px
      padding-bottom: 32px
    @media (min-width: $md)
      font-size: 24px
      line-height: 32px
      padding-bottom: 40px
  //& .v-text-field__details
  //  display: none
  //& .v-input__slot
  //  margin-bottom: 20px!important
  //& .phone-flag
    & .v-input__slot
      margin-bottom: 0!important
  & .privacy-policy
    font-size: 14px
    line-height: 18px
    color: #535353
    margin-bottom: 32px
    text-align: center
    @media (min-width: $tb)
      margin-bottom: 38px
    & a
      text-decoration: none
      color: #535353
      border-bottom: 1px solid #535353
      line-height: 19px
  & .checkbox
    margin-bottom: 32px
    @media (min-width: $tb)
      margin-bottom: 38px
    &__label
      font-size: 14px
      line-height: 18px
      color: #535353
      & a
        text-decoration: none
        color: #535353
        border-bottom: 1px solid #535353
        line-height: 19px
  & .v-btn
    width: 100%
    @media (min-width: $tb)
      width: 366px
  & .main-form-btn
    @media (min-width: $tb)
      display: flex
      justify-content: center
      align-items: center
    & .v-btn
      background-color: #d36133 !important
      border-color: #d36133 !important
      color: #ffffff !important
      &:hover, &:active
        background: #E97242 !important
  & .main-form-name-phone
    @media (min-width: $tb)
      display: flex
      justify-content: space-between
    &__name
      @media (min-width: $tb)
        width: 244px
        max-width: 244px
    &__phone
      @media (min-width: $tb)
        margin-left: 20px
        width: 300px
        max-width: 300px
  & .main-form-controls
    margin: 0 auto
    @media (min-width: $md)
      max-width: 564px
</style>
