<template>
  <div
    ref="parent"
    class="filters__select custom-select js-parent"
  >
    <div
      @click="selectToggleHandler"
      class="btn btn_sm btn_outline btn_color-secondary btn_select filter-select custom-select__head js-select-head active"
      style="margin-right: 12px;"
    >
      {{ filter.courses === 'cursos' ? $t(`direction.coursesMobile`) : currentDirection.shortName }}
      <div class="icon filter-select-icon" />
    </div>

    <ul
      ref="selectBody"
      class="custom-select__body js-select-body slide-toggle"
      :class="{'is-mobile': $app.isMobile}"
    >
      <li
        v-if="!(direction.id && !direction.coursesCount)"
        v-for="(direction, index) in directions"
        :key="direction.slug"
      >
        <NuxtLink
          :to="`/${direction.slug}`"
          event=""
          @click.native="() => {
            if (loading) return;
            closeSelect();
            $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': direction.slug });
            filter.courses = direction.slug;
            applyFilter();
          }"
          :class="{
            'active': (direction.slug === filter.courses) || (index === 0 && !filter.courses),
            'btn btn_sm btn_outline btn_color-secondary': !$app.isMobile,
           }"
        >{{ direction.slug === 'cursos' ? coursesLocalization : direction.shortName }}</NuxtLink>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'direction',
  props: [
    'currentDirection',
    'directions',
    'filter',
    'applyFilter',
    'loading',
  ],
  computed: {
    coursesLocalization() {
      const isMobile = this.$app.isMobile;
      if (typeof isMobile === 'boolean') return isMobile ? this.$t(`direction.coursesMobile`) : this.$t(`direction.courses`);
      else return this.$t(`direction.courses`);
    },
  },
  mounted() {
    if (this.$app.isMobile) {
      document.addEventListener("click", this.clickOutsideSelect)
    }
  },
  beforeDestroy(){
    document.removeEventListener("click", this.clickOutsideSelect)
  },
  methods: {
    selectToggleHandler() {
      if (this.$app.isMobile) {
        this.$refs.parent.classList.contains("is-active") ? this.closeSelect() : this.openSelect();
      }
    },
    clickOutsideSelect(e){
      if(this.$refs.parent && !this.$refs.parent.contains(e.target)) this.closeSelect();
    },
    openSelect(){
      if (this.$app.isMobile) {
        this.$refs.parent.classList.add("is-active");
        this.$refs.selectBody.classList.add("is-active");
        this.$refs.selectBody.style.height = 'auto';
        let height = this.$refs.selectBody.clientHeight + "px";
        this.$refs.selectBody.style.height = '0px';
        setTimeout(()=>{
            this.$refs.selectBody.style.height = height;
        }, 0);
      }
    },
    closeSelect() {
      if (this.$app.isMobile) {
        this.$refs.selectBody.style.height = '0px';
        setTimeout(()=>{
          this.$refs.selectBody.classList.remove("is-active");
          this.$refs.parent.classList.remove("is-active");
        }, 100);
      }
    },
  },
  watch: {
    '$app.isMobile'() {
      if (this.$app.isMobile) {
        document.addEventListener("click", this.clickOutsideSelect)
      } else {
        document.removeEventListener("click", this.clickOutsideSelect)
      }
    },
  },
}
</script>

<style lang="sass">
  .filter-select
    padding-left: 15px
    padding-right: 15px
    min-width: 176px
    display: flex
    justify-content: space-between
    &:hover
      & .filter-select-icon
        background-image: url(../../landing_generator/assets/svg/arrow-down-white.svg)
  .custom-select
    &.is-active
      & .filter-select-icon
        transform: rotate(180deg)
  .filter-select-icon
    display: inline-flex
    width: 10px
    height: 6px
    background-image: url(../../landing_generator/assets/svg/arrow-down-secondary.svg)
    background-repeat: no-repeat
    transform: rotate(0)
    transition: all .2s
    margin-left: 30px
  .slide-toggle
    display: none
    &.is-active
      transition: height .25s ease
      overflow: hidden
      display: block
</style>
