<template>
  <div
    class="filters-content"
  >
    <div
      @click="() => {
        if (loading) return;
        showFilter();
      }"
      class="btn btn_sm btn_outline btn_color-secondary filters__filter-btn js-show-filters"
    >
      <div class="icon filter-icon" />{{ $t('filtersContent.filter') }}
      <span
        v-if="appliedFilterChips.length"
        class="counter"
      >{{ appliedFilterChips.length }}</span>
    </div>

    <div
      ref="filtersPopup"
      class="filters__types fade-animation"
    >
      <div class="filters__types-inner">
        <h2 class="filters__types-title">{{ $t('filtersContent.filter') }}</h2>
        <button
          @click="closeFiltersPopup"
          class="filters__types-close js-close-filters"
          type="button"
        >Close filters
        </button>

        <div class="filters-body">
          <div class="body-m filters__types-heading js-tooltip-container">{{ $t('filtersContent.courseType') }}
            <tooltip
              ref="tooltip"
              @click="showTooltip"
            >
              <b>{{ $t('filtersContent.courseType.profession') }}</b>
              <span>{{ $t('filtersContent.courseType.profession.text') }}</span>

              <b>{{ $t('filtersContent.courseType.course') }}</b>
              <span style="margin-bottom: 0;">{{ $t('filtersContent.courseType.course.text') }}</span>
            </tooltip>
          </div>

          <ul
            v-if="!hideFilterList"
            class="filters__list"
          >
            <li>
              <input
                v-model="model.types"
                class="visually-hidden radio-input"
                type="radio"
                name="types"
                id="any"
                value="any"
                @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': 'types_any' })"
                :disabled="loading"
              >
              <label class="radio-label body-s" for="any">{{ $t('types.any') }}</label>
            </li>
            <li>
              <input
                v-model="model.types"
                class="visually-hidden radio-input"
                type="radio"
                name="types"
                id="course"
                value="course"
                @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': 'types_course' })"
                :disabled="loading"
              >
              <label class="radio-label body-s" for="course">{{ $t('types.course') }}</label>
            </li>
            <li>
              <input
                v-model="model.types"
                class="visually-hidden radio-input"
                type="radio"
                name="types"
                id="profession"
                value="profession"
                @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': 'types_profession' })"
                :disabled="loading"
              >
              <label class="radio-label body-s" for="profession">{{ $t('types.profession') }}</label>
            </li>
          </ul>

          <div class="body-m filters__types-heading js-tooltip-container">{{ $t('filtersContent.duration') }}</div>

          <div class="range">
            <div class="range__top-wrap">
              <span class="range__text">{{ $t('filtersContent.duration.from') }}</span>
              <output class="range__input" id="inputMin">{{ model.durationMin }}</output>
              <span class="range__text">{{ $t('filtersContent.duration.to') }}</span>
              <output class="range__input" id="inputMax">{{ model.durationMax }}</output>
              <span class="range__text">{{ $t('filtersContent.duration.months') }}</span>
            </div>

            <client-only>
              <vue-slider
                class="duration"
                :data="[1, 6, 12, 18]"
                v-model="durationModel"
                :lazy="true"
                :tooltip="'none'"
                :min-range="1"
                :max-range="18"
                @change="changeDuration"
                :disabled="loading"
              />
            </client-only>
          </div>

          <topics-filter :model.sync="model.topic" :filter="filter" />
        </div>

        <div
          class="filters__form-submit btn btn_md btn_outline btn_color-primary"
          @click="submit"
        >
          {{ $t('filtersContent.apply') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import isEqual from 'lodash/isEqual'
import pick from 'lodash/pick'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'

export default {
  name: 'filtersContent',
  props: [
    'appliedFilterChips',
    'filter',
    'hideFilterList',
    'loading',
  ],
  data() {
    return {
      model: {},
    }
  },
  computed: {
    durationModel: {
      get() {
        const durationMin = Number(this.model.durationMin);
        const durationMax = Number(this.model.durationMax);

        return [durationMin, durationMax];
      },
      set(value) {
        this.model.durationMin = Number(value[0]);
        this.model.durationMax = Number(value[1]);
      },
    },
  },
  methods: {
    showFilter() {
      this.$refs.filtersPopup.style.opacity = 0;
      setTimeout(()=>{
        this.$refs.filtersPopup.style.opacity = 1;
        document.querySelector("html").classList.add("overflow-hidden");
      },100)
      this.$refs.filtersPopup.classList.add("is-active");
      this.$store.commit('courses/setIsShowedMobileFilter', true);
      document.addEventListener("keydown", this.onEscapePress)
    },
    onEscapePress(evt) {
      if (evt.key === "Escape") {
        this.closeFilters();
      }
    },
    closeFilters() {
      setTimeout(() => {
        document.querySelector("html").classList.remove("overflow-hidden");
        this.$refs.filtersPopup.style.opacity = 0;
      }, 100);
      this.$store.commit('courses/setIsShowedMobileFilter', false);
      this.$refs.filtersPopup.classList.remove("is-active");
      this.resetModel();
    },
    closeFiltersPopup() {
      this.closeFilters();
      document.removeEventListener("keydown", this.onEscapePress);
    },
    submit() {
      if (this.loading) return;
      this.$emit('submit', this.model);
      this.closeFiltersPopup();
    },
    resetModel() {
      this.model.types = this.filter.types || 'any';
      this.model.durationMin = this.filter.durationMin;
      this.model.durationMax = this.filter.durationMax;
    },
    showTooltip() {
      this.$refs.tooltip.toggle()
    },
    changeDuration(value) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'filter', 'eventLabel': `duration_min-${value[0]}_max-${value[1]}` });
    },
  },
  watch: {
    'filter': {
      handler: function () {
        if (!isEqual(pick(
          this.filter,
            [
              'types',
              'durationMin',
              'durationMax',
              'topic',
            ]
          ),
          this.model,
        )) this.model = pick(Object.assign({}, {...this.filter}), [
          'types',
          'durationMin',
          'durationMax',
          'topic',
        ]);
      },
      immediate: true,
    },
    'model': {
      handler: function () {
        if (!this.$app.isMobile) {
          this.$emit('submit', this.model);
        }
      },
      deep: true,
    },
  },
  components: {
    vueSlider: () => import('vue-slider-component/dist-css/vue-slider-component.umd.min.js'),
    tooltip: () => import('./tooltip'),
    topicsFilter: () => import('./topicsFilter.vue')
  },
}
</script>

<style lang="sass">
  .filters-body
    @media (max-width: 1279px)
      max-height: calc(100vh - 166px)
      overflow: auto
  .filters-content
    margin-top: 10px
    & .range
      margin-bottom: 24px
  .filters__filter-btn
    padding-left: 15px
    padding-right: 15px
    &:hover
      & .filter-icon
        background-image: url(../../landing_generator/assets/svg/filters-icon-white.svg)
  .filter-icon
    width: 16px
    height: 16px
    background-image: url(../../landing_generator/assets/svg/filters-icon.svg)
    background-repeat: no-repeat
    margin-right: 6px
    transition: all .3s
  .duration
    width: 230px!important
    height: 2px!important
    margin-left: 12px
    cursor: pointer
    &.vue-slider-disabled
      opacity: 1
    & .vue-slider-dot-handle-disabled
      background-color: initial
    & .vue-slider-rail
      background: #BDBDBD
    & .vue-slider-process
      background-color: #905DB4
    & .vue-slider-dot
      width: 24px!important
      height: 24px!important
      border: 1px solid #905DB4
      border-radius: 50%
      background: #fff
      z-index: 2
      box-sizing: border-box
      &:hover, &:active
        border-width: 2px
        &:after
          top: 6px
          left: 6px
      &:after
        content: ""
        display: block
        position: absolute
        width: 8px
        height: 8px
        background-color: #905DB4
        border-radius: 50%
        top: 7px
        left: 7px
        cursor: pointer
        box-sizing: border-box
    & .vue-slider-dot-handle
      box-shadow: none
  .fade-animation
    display: none
    transition: opacity .4s ease
    &.is-active
      display: block
</style>
