<template>
  <section class="main-courses-section">
    <div class="m-container">
      <div class="main-courses-section__left-block">
        <h2 class="h2">{{ $t(text_h2) }}</h2>
        <p class="subtitle">{{ $t(text_subtitle) }}</p>
        <v-btn
          color="primary"
          rounded
          depressed
          outlined
          x-large
          :ripple="false"
          nuxt
          to="/cursos"
          :class="['main-courses-section__left-block-button', {'mt-1': sortNew}]"
        >
          {{ $t("index.main-courses-section.btn") }}
        </v-btn>
      </div>
      <div class="main-courses-section__right-block">
        <section class="products">
          <div class="products__list">
            <component
              v-for="nomenclature of nomenclatures"
              :is="nomenclature.comingSoon ? 'div' : 'a'"
              :key="nomenclature.pageUrl"
              class="products__item"
              :style="{
                '--product-color': `#${nomenclature.backgroundColor}`,
              }"
              :href="nomenclature.pageUrl"
              @click="
                () =>
                  $gtm.push({
                    event: 'autoEvent',
                    eventCategory: 'click',
                    eventAction: 'index_courses',
                    eventLabel: nomenclature.name,
                  })
              "
            >
              <span class="body-s products__item-duration">{{
                $tc("month", nomenclature.duration)
              }}</span>
              <div class="products__item-wrap">
                <div
                  v-if="nomenclature.comingSoon"
                  class="products__item-badge"
                >{{ $t('comingSoon') }}</div>
                <h3 class="products__item-title">{{ nomenclature.name }}</h3>
                <b class="products__item-category">{{
                  nomenclature.type === 1
                    ? $t("index.main-courses-section.profissao")
                    : $t("index.main-courses-section.curso")
                }}</b>
              </div>
              <img
                class="products__item-image"
                :src="
                  (nomenclature.images.showcaseImage &&
                    nomenclature.images.showcaseImage.url) ||
                  `/images/nomenclatures/${nomenclature.slug}.svg`
                "
                :alt="
                  nomenclature.images.showcaseImage &&
                  nomenclature.images.showcaseImage.description
                "
                width="146"
                height="148"
              />
            </component>
          </div>
          <v-btn
            color="primary"
            rounded
            depressed
            outlined
            x-large
            :ripple="false"
            nuxt
            to="/cursos"
          >
            {{ $t("index.main-courses-section.btn") }}
          </v-btn>
        </section>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    sortNew: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    text_h2() {
      return !this.sortNew ? "index.main-courses-section.h2" : "index.main-courses-section--new.h2"
    },
    text_subtitle() {
      return !this.sortNew ? "index.main-courses-section.subtitle" : "index.main-courses-section--new.subtitle"
    },
    nomenclatures() {
      if (!this.sortNew) return this.$store.state.mainPage.nomenclatures;
      else return this.$store.state.mainPage.newNomenclatures;
    }
  },
  methods: {
    async query(filter) {
      let response;
      const data = {
        limit: 6,
        offset: 0,
        showOnMain: true,
        ...filter,
      };
      if(['pe', 'co', 'ar', 'cl'].includes(this.$app?.config?.common?.currentCountry)) data.latam = true;
      try {
        response = await this.$axios({
          method: "post",
          url: `${this.$nuxt.$config.CMS_REST_API}/public/showcase/`,
          data,
        });
      } catch (e) {
        console.error(e);
      }

      let nomenclatures = [];
      if (response) {
        if (response.data.error)
          throw new Error(
            `An error occurred while executing the query (${response.data.error})`
          );
        nomenclatures = response.data.data.data;
      }

      if (this.$app.config.current.newDomainName) {
        return nomenclatures.map((nomenclature) => ({
          ...nomenclature,
          pageUrl: nomenclature.pageUrl && nomenclature.pageUrl.replace(new URL(nomenclature.pageUrl).origin, this.$app.config.current.newDomainName) || '',
        }));
      } else {
        return nomenclatures;
      }
    },
  },
  async fetch() {
    if (!this.sortNew) {
      let nomenclatures = this.$store.state.mainPage.nomenclatures;
      if (!nomenclatures.length) {
        nomenclatures = await this.query();
      }
      this.$store.commit("mainPage/setNomenclatures", Object.assign([], nomenclatures));
    } else {
      let nomenclatures = this.$store.state.mainPage.newNomenclatures;
      if (!nomenclatures.length) {
        nomenclatures = await this.query({ sort: "BySortDescShortName", showOnMain: false });
      }
      this.$store.commit("mainPage/setNewNomenclatures", Object.assign([], nomenclatures));
    }
  },
};
</script>
