<template>
  <div class="main-search-form__wrap">
    <input
      id="main-search-input"
      :value="model"
      @input="evt=> model = evt.target.value"
      @keyup.enter="submit"
      ref="searchInput"
      class="main-search-form__input js-main-search"
      type="search"
      :placeholder="placeholder"
      @focus="isShowPlaceholder = false"
      @blur="isShowPlaceholder = true"
    >
    <div
      class="search-button"
      @click="submit"
      type="button"
    >
      <img
        v-if="isShowPlaceholder"
        data-not-lazy
        class="not-lazy"
        src="../../landing_generator/assets/svg/search-icon.svg"
        :alt="$t('mainSearch.search')"
      >
      <img
        v-else
        data-not-lazy
        class="not-lazy"
        src="../../landing_generator/assets/svg/search-icon-full.svg"
        :alt="$t('mainSearch.search')"
      >
    </div>

    <button
      v-show="isShowClearIcon"
      @click="clickOnClearButton"
      class="clear-search-button js-search-clear-button"
      type="button">{{ $t('mainSearch.clear') }}</button>
  </div>
</template>

<script>
export default {
  name: 'mainSearch',
  props: [
    'value',
  ],
  data() {
    return {
      model: '',
      isShowClearIcon: false,
      isShowPlaceholder: true,
    }
  },
  computed: {
    placeholder() {
      const isShowPlaceholder = this.isShowPlaceholder;
      const placeholder = this.$t('mainSearch.placeholder');

      return isShowPlaceholder ? placeholder : '';
    },
  },
  methods: {
    clickOnClearButton() {
      this.isShowClearIcon = false;
      this.model = '';
      this.submit();
    },
    submit() {
      this.$emit('input', this.model);
    },
  },
  watch: {
    'model'() {
      this.isShowClearIcon = this.model && this.model.length > 0;
    },
    'value': {
      handler: function () {
        this.model = this.value;
      },
      immediate: true,
    }
  },
}
</script>

<style
  lang="sass"
  scoped
>

</style>
