<template>
  <section
    v-scroll="onScroll"
    class="filters"
  >
    <div
      class="filters__form"
    >
      <slot name="direction"></slot>
      <slot
        name="filtersContent"
        :hideFilterList="showMobileFilter"
      ></slot>
    </div>

    <transition name="fade">
      <div
        v-if="showMobileFilter"
        class="mobile-filter m-container"
      >
        <slot name="direction"></slot>
        <slot name="filtersContent"></slot>
      </div>
    </transition>
  </section>
</template>

<script>
import onScroll from '../directives/onScroll'
import throttle from 'lodash/throttle'

export default {
  name: 'mainFilter',
  data() {
    return {
     showMobileFilter: false,
    }
  },
  methods: {
    onScroll: throttle(function (evt, el) {
      if (window.scrollY > 250 && window.innerWidth <= 767) {
        this.showMobileFilter = true;
      } else {
        this.showMobileFilter = false;
      }
    }, 100),
  },
  directives: {
    'scroll': onScroll,
  },
}
</script>

<style lang="sass">
  .mobile-filter
    display: flex
    justify-content: flex-start
    width: 100%
    padding-top: 10px
    padding-bottom: 10px
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    right: 0
    transition: top .4s cubic-bezier(.4,0,0,1)
    animation: fade .5s
    z-index: 10
    opacity: 1
    box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08)
    margin-top: -10px
  .fade-enter-active, .fade-leave-active
    transition: opacity .2s
  .fade-enter, .fade-leave-to
    opacity: 0
</style>
