<template>
  <div
    v-if="lastPage > 1"
    class="pagination"
  >
    <ul class="pagination__list">
      <li>
        <NuxtLink
          :to="''"
          class="pagination__link pagination__first"
        >←</NuxtLink>
      </li>
      <li>
        <NuxtLink
          :to="''"
          class="pagination__link pagination__first-number"
          :class="{
            'pagination__link_active': 1 === currentPage,
          }"
        >1</NuxtLink>
      </li>
      <li
        v-for="index of availableTail"
      >
        <NuxtLink
          :to="`?page=${currentPage + index - availableTail - 1}`"
          class="pagination__link"
        >{{ currentPage + index - availableTail - 1 }}</NuxtLink>
      </li>
      <li
        v-if="![1, lastPage].includes(currentPage)"
      >
        <NuxtLink
          :to="`?page=${currentPage}`"
          class="pagination__link pagination__link_active"
        >{{ currentPage }}</NuxtLink>
      </li>
      <li
        v-for="index of availableHead"
      >
        <NuxtLink
          :to="`?page=${currentPage + index}`"
          class="pagination__link"
        >{{ currentPage + index }}</NuxtLink>
      </li>
      <li>
        <NuxtLink
          :to="`?page=${lastPage}`"
          class="pagination__link pagination__last-number"
          :class="{
            'pagination__link_active': lastPage === currentPage,
          }"
        >{{ lastPage }}</NuxtLink>
      </li>
      <li>
        <NuxtLink
          :to="`?page=${lastPage}`"
          class="pagination__link pagination__last"
        >→</NuxtLink>
      </li>
    </ul>
  </div>
</template>

<script>
const TAIL = 4;
const HEAD = 4;

export default {
  name: 'pagination',
  props: [
    'total',
    'limit',
  ],
  computed: {
    lastPage() {
      const total = this.total;
      const limit = this.limit;
      return Math.ceil(total / limit);
    },
    currentPage() {
      return Math.min((Number(this.$route.query.page) || 1), this.lastPage);
    },
    availableTail() {
      const currentPage = this.currentPage;
      const firstPage = 1;
      const offset = Math.max(currentPage - firstPage - 1, 0);
      return TAIL < offset ? TAIL : offset;
    },
    availableHead() {
      const currentPage = this.currentPage;
      const lastPage = this.lastPage;
      return Math.max(Math.min(lastPage - currentPage - 1, HEAD), 0);
    },
  },
}
</script>

<style lang="sass">
  .pagination
    margin-top: 60px
    &__list
      margin: 0
      padding: 0
      list-style: none
      display: flex
      align-items: center
      justify-content: center
    &__link
      transition: all .1s
      display: inline-block
      padding: 4px 12px
      border-radius: 4px
      color: #D36133
      font-size: 16px
      text-decoration: none
      margin: 0 2px
      &:hover
        background-color: #D36133
        color: #FFF
      &_active
        border: 1px solid #D36133
</style>
