<template>
  <section class="partners">
    <div class="partners-title">
      <div class="m-container">
        <h2 class="h2">{{ $t('partnerSlider.h2') }}</h2>
      </div>
    </div>
    <div class="partners-text">
      <div class="m-container">
        <p>
          {{ $t('partnerSlider.text') }}
        </p>
      </div>
    </div>
    <div class="partners-brands">
      <div class="mobile">
        <div class="partners-sliders" v-if="brands1.length && brands2.length">
          <div class="partners-slider slider">
            <slider
              sliderId="partners-slider-1"
              contentClass="partners-slider__content"
              :spaceBetween="spaceBetween"
            >
              <template v-slot:items>
                <div
                  class="swiper-slide"
                  v-for="brand in brands1"
                  :key="brand.image">
                  <a
                    class="partners-slider__content-brand"
                  >
                    <img
                      class="partners-slider__content-brand-image"
                      alt="brand-name"
                      :src="require(`../../landing_generator/assets/images/partners/${brand.image}`)"
                    />
                  </a>
                </div>
              </template>
            </slider>
          </div>
          <div class="partners-slider slider">
            <slider
              sliderId="partners-slider-2"
              contentClass="partners-slider__content"
              :spaceBetween="spaceBetween"
            >
              <template v-slot:items>
                <div
                  class="swiper-slide"
                  v-for="brand in brands2"
                  :key="brand.image"
                >
                  <a
                    class="partners-slider__content-brand"
                  >
                    <img
                      class="partners-slider__content-brand-image"
                      alt="brand-name"
                      :src="require(`../../landing_generator/assets/images/partners/${brand.image}`)"
                    />
                  </a>
                </div>
              </template>
            </slider>
          </div>
        </div>
      </div>
      <div class="desktop">
        <div class="partners-sliders">
          <div class="partners-slider slider" v-if="brands">
            <slider
              sliderId="partners-slider-3"
              contentClass="partners-slider__content"
              :navigation="true"
              :slidesPerView="5"
              :slidesPerGroup="5"
              :spaceBetween="spaceBetween"
            >
              <template v-slot:items>
                <div class="swiper-slide" v-for="(brand, index) in brandsEven" :key="brand.image">
                  <a class="partners-slider__content-brand">
                    <img
                      class="partners-slider__content-brand-image"
                      alt="brand-name"
                      :src="require(`../../landing_generator/assets/images/partners/${brand.image}`)"
                    />
                  </a>
                  <a class="partners-slider__content-brand" v-if="brands[index * 2]">
                    <img
                      class="partners-slider__content-brand-image"
                      alt="brand-name"
                      :src="require(`../../landing_generator/assets/images/partners/${brands[index * 2].image}`)"
                    />
                  </a>
                </div>
              </template>
            </slider>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import slider from "./common/slider";
import breakpoints from "../mixins/breakpoints.mixin"
export default {
  name: "PartnersSlider",
  data() {
    return {
      breakpoint: null,
      brands: [
        { image: "347eb9a4d646b085a9cb662e7b5f1512.png" },
        { image: "4c1ffea79f1afe8d77b4a9dadeb94831.png" },
        { image: "56def831d5387c14a53aee9823e88118.png" },
        { image: "aba8c59e9947595d8664c2e7e3e6ab0b.png" },
        { image: "adobe1.png" },
        { image: "anacouto.jpg" },
        { image: "asb.jpg" },
        { image: "autodesk.png" },
        { image: "b1a7afe113189a692474e76308a61e98.png" },
        // { image: "b62046c1158a30d533708ad39a305a35.png"}, // удалили: 1nnh20t
        { image: "bc.png" },
        { image: "blackletra.jpg" },
        { image: "boutiquefilmes-paginadecurso.png" },
        { image: "cafe-royal.png" },
        { image: "canon.jpg" },
        { image: "carambaia.jpg" },
        { image: "catraca.png" },
        { image: "cisco2.png" },
        { image: "cremme.jpg" },
        { image: "dan.png" },
        { image: "dell.png" },
        { image: "dot.jpg" },
        { image: "facebook.png" },
        { image: "gamesforchange.jpg" },
        { image: "google.png" },
        { image: "houdini.jpg" },
        { image: "huion.jpg" },
        { image: "ibm.jpg" },
        { image: "instituto_criar.png" },
        { image: "Jussi_Logo.png" },
        { image: "logo sing.png" },
        { image: "Logo_Amaro_png.png" },
        { image: "logo_yuca.png" },
        { image: "Monstercam_PB.png" },
        { image: "ncs.jpg" },
        { image: "notan.jpg" },
        { image: "O2_POS_PRETO.png" },
        { image: "pharusdesign.jpg" },
        { image: "prisma.jpg" },
        { image: "spcine.png" },
        { image: "SumUp_logo_ModernInk.jpg" },
        { image: "theend.jpg" },
        { image: "thefoundry.jpg" },
        { image: "tild3661-3330-4461-a.svg" },
        { image: "unity.jpg" },
        { image: "unreal.jpg" },
        { image: "vetorzero.jpg" },
        { image: "vrone.jpg" },
        { image: "wacom.jpg" },
        { image: "zupi.jpg" },
      ],
    };
  },
  computed: {
    brands1() {
      return this.brands.slice(0, this.brands.length / 2)
    },
    brands2() {
      return this.brands.slice(this.brands.length / 2)
    },
    brandsEven() {
      return this.brands.filter((i, index) => index % 2)
    },
    spaceBetween() {
      return this.breakpoint === '$xs' ? 16 :
              this.breakpoint === '$tb' ? 28 : 32
    }
  },
  components: {
    slider,
  },
  mixins: [
    breakpoints
  ]
};
</script>

<style lang="sass">
.partners
  background-color: #F5F5F5
  padding-top: 20px
  padding-bottom: 20px
  margin-top: 20px
  margin-bottom: 20px
  @media (min-width: $tb)
    text-align: center
  &-brands
    & .mobile
      display: block
      @media (min-width: $tb)
        display: none
    & .desktop
      display: none
      @media (min-width: $tb)
        display: block
  &-title
    & h2
      font-size: 24px
      line-height: 28px
      @media (min-width: $tb)
        font-size: 48px
        line-height: 62px
        margin-bottom: 12px
      @media (min-width: $md)
        line-height: 56px
        margin-bottom: 32px
  &-text
    color: #000000
    font-size: 18px
    line-height: 24px
    @media (min-width: $tb)
      width: 562px
      margin: auto
    @media (min-width: $md)
      font-size: 24px
      line-height: 32px
      width: 942px
    @media (min-width: $lp)
      width: 962px
  &-brands
    overflow: hidden
    @media (min-width: $lp)
      width: 1198px
      margin-left: auto
      margin-right: auto
  &-sliders
    margin-top: 24px
    margin-bottom: 20px
    @media (min-width: $tb)
      margin-top: 32px
      margin-bottom: 28px
    @media (min-width: $md)
      margin-top: 64px
      margin-bottom: 60px
  &-slider
    & .swiper-slide
      width: 94px
      min-width: 94px
      @media (min-width: $tb)
        width: auto
        min-width: unset
    &__content
      &-brand
        background-color: #ffffff
        border-radius: 8px
        height: 72px
        display: flex
        align-items: center
        justify-content: center
        padding: 12px
        box-sizing: border-box
        margin-top: 8px
        margin-bottom: 8px
        @media (min-width: $tb)
          margin-top: 28px
          margin-bottom: 28px
        @media (min-width: $md)
          margin-top: 32px
          margin-bottom: 32px
          height: 100px
        & img
          max-width: 100%
          max-height: 100%
</style>
