<template>
  <section
    v-if="items && items.length"
    class="reviews-section"
  >
    <div class="m-container reviews-title">
      <h2 class="h2">{{ $t("index.main-reviews-section.h2") }}</h2>
    </div>
    <contentList
      sliderId="reviews-block"
      contentClass="reviews-block__content"
      :isDesktopOneItemSwiper="true"
    >
      <template v-slot:items>
        <div class="swiper-slide" v-for="item in items" :key="item.id">
          <div class="reviews-block__item">
            <div class="reviews-block__item-content">
              <div :class="['reviews-block__item-image', {'active': item.video}]" @click="() => openDialog(item.video)">
                <v-btn text class="reviews-block__item-image__dialog-button" v-if="item.video" @click="() => openDialog(item.video)">
                  <span>Ver comentário </span>
                  <img src="../assets/svg/play.svg" />
                </v-btn>
                <img :src="item.images.showcaseImage && item.images.showcaseImage.url" />
              </div>
              <div class="reviews-block__item-content-wrapper">
                <div class="reviews-block__item-hero">
                  <div class="reviews-block__item-hero-text">
                    <h3 class="reviews-block__item-hero-name">
                      {{ item.title }}
                    </h3>
                    <div class="reviews-block__item-hero-course body-s">
                      {{ item.subtitle }}
                    </div>
                  </div>
                  <div :class="['reviews-block__item-image', {'active': item.video}]" @click="() => openDialog(item.video)">
                    <v-btn text class="reviews-block__item-image__dialog-button" v-if="item.video" @click="() => openDialog(item.video)">
                      <span>Ver comentário </span>
                      <img src="../assets/svg/play.svg" />
                    </v-btn>
                    <img :src="item.images.showcaseImage && item.images.showcaseImage.url" />
                  </div>
                </div>
                <div class="reviews-block__item-review">
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </contentList>

    <v-dialog v-model="videoDisplay" content-class="review-section__dialog" @click:outside="clearLink">
      <div class="review-section__dialog-close" @click="closeDialog">
        <img src="../assets/svg/close-white.svg" />
      </div>
      <div class="review-section__dialog-loader">
        <v-progress-circular
          indeterminate
          size="64"
        ></v-progress-circular>
      </div>
      <iframe
        v-if="videoLink"
        :src="`https://www.youtube.com/embed/${videoLink}?autoplay=1&rel=0&modestbranding=1&hl=pt&fs=0`"
        frameborder="0"
      ></iframe>
    </v-dialog>
  </section>
</template>

<script>
import parseYoutubeLinkToId from '../utils/parseYoutubeLinkToId'

export default {
  components: {
    contentList: () => import("./common/contentList.vue"),
  },
  methods: {
    openDialog(link) {
      // this.videoLink = null
      if (link) {
        this.videoDisplay = true
        this.videoLink = parseYoutubeLinkToId(link)
      }
    },
    closeDialog() {
      this.videoDisplay = false
      this.clearLink();
    },
    clearLink() {
      this.videoLink = null
    },
    shuffle(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
      return array
    }
  },
  data() {
    return {
      videoDisplay: false,
      videoLink: null,
      items: []
    };
  },
  async fetch() {
    let responseReviews;
    try {
      responseReviews = await this.$axios({
        method: 'post',
        url: `${this.$nuxt.$config.CMS_REST_API}/public/testimonials/`,
        // url: `https://cms.ebaconline.com.br/api/public/testimonials/`,
        data: {
          limit: 20,
          offset: 0,
          showOnMain: true
        }
      });
    } catch (e) {
      console.error(e);
      // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      // throw e;
    }

    if (responseReviews) {
      if (responseReviews.data.error) throw new Error(`An error occurred while executing the query (${responseReviews.data.error})`);
      this.items = this.shuffle(responseReviews.data.data.data);
    }

    // this.$store.commit('mainPage/setReviews', Object.assign([], reviews));
  }
};
</script>

<style lang="sass">
.reviews-section
  padding-top: 40px
  @media (min-width: $tb)
    padding-top: 48px
    padding-bottom: 68px
  @media (min-width: $md)
    padding-top: 80px
    padding-bottom: 100px
  @media (min-width: $lp)
    padding-bottom: 100px
  @media (min-width: $xl)
    padding-bottom: 112px
  & .h2
    margin-top: 0
    margin-bottom: 0
    line-height: 31px
    @media (min-width: $tb)
      line-height: 62px
  & .swiper-button-next
    right: 10px
    top: auto
    bottom: 20px
  & .swiper-button-prev
    right: 70px
    left: auto
    top: auto
    bottom: 20px
  & .reviews-title
    @media (min-width: $tb)
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
  & .swiper-slide
    margin-right: 20px
    @media (min-width: $tb)
      width: 100%!important
  & .swiper-current-slide
      position: absolute
      left: 307px
      right: auto
      top: auto
      bottom: 38px
      font-size: 16px
      line-height: 16px
      letter-spacing: 0.06em
      text-transform: uppercase
      color: #101010
      font-weight: 500
      z-index: 1
      @media (min-width: $md)
        left: 414px
      @media (min-width: $lp)
        left: 572px
  & .one-item-swiper-container
    @media (min-width: $tb)
      max-width: 724px
      padding-left: 10px
      padding-right: 10px
    @media (min-width: $md)
      max-width: 964px
      padding-left: 10px
      padding-right: 10px
    @media (min-width: $lp)
      max-width: 1180px
      padding-left: 10px
      padding-right: 10px
  & .reviews-block
    &__content
      padding-top: 20px
      padding-bottom: 40px
      @media (min-width: $tb)
        padding-top: 32px
        padding-bottom: 80px
      @media (min-width: $md)
        padding-top: 60px
        padding-bottom: 20px
      @media (min-width: $lp)
        padding-top: 92px
        padding-bottom: 20px
    & .swiper-slide
      //height: auto
      & .reviews-block__item
        width: 260px
      &:first-child
        & .reviews-block__item
          margin-left: 20px
      &:last-child
        & .reviews-block__item
          margin-right: 20px
    &__item
      cursor: pointer
      position: relative
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 8px
      display: flex
      flex-direction: column
      height: 100%
      background: #F5F5F5
      @media (min-width: $tb)
        display: flex
        flex-direction: row
        background: #FFFFFF
        box-shadow: none
      &-content
        padding: 20px
        display: flex
        flex-direction: row
        @media (min-width: $tb)
          padding: 0
        & > .reviews-block__item-image
          display: none
          height: 216px
          width: 216px
          min-width: 216px
          min-height: 216px
          overflow: hidden
          border-radius: 8px
          @media (min-width: $tb)
            display: block
            border-radius: 50%
          @media (min-width: $md)
            height: 325px
            width: 325px
            min-width: 325px
            min-height: 325px
          @media (min-width: $lp)
            height: 465px
            width: 465px
            min-width: 465px
            min-height: 465px
          & img
            width: 100%
            height: 100%
            object-fit: cover
        &-wrapper
          display: flex
          flex-direction: column
          @media (min-width: $tb)
            margin-left: 28px
            text-align: left
          @media (min-width: $md)
            margin-left: 82px
          @media (min-width: $lp)
            margin-left: 99px
      &-hero
        display: flex
        flex-direction: column
        @media (min-width: $tb)
          order: 1
        &-text
          display: flex
          flex-direction: column
          order: 2
          @media (min-width: $tb)
            width: auto
            margin-top: 20px
          @media (min-width: $md)
            margin-top: 24px
          @media (min-width: $lp)
            margin-top: 48px
        & .reviews-block__item-image
          width: 220px
          height: 158px
          border-radius: 8px
          margin-bottom: 20px
          overflow: hidden
          border-radius: 8px
          @media (min-width: $tb)
            display: none
          & img
            width: 100%
            height: 100%
            object-fit: cover
        &-name
          font-size: 16px
          line-height: 21px
          letter-spacing: 0.03em
          text-transform: uppercase
          color: #101010
          margin-bottom: 8px
          @media (min-width: $tb)
            font-weight: 500
            margin-bottom: 4px
            line-height: 16px
            letter-spacing: 0.06em
          @media (min-width: $md)
            margin-bottom: 12px
        &-course
          color: #828282
      &-review
        margin-top: 19px
        font-size: 18px
        line-height: 24px
        color: #101010
        @media (min-width: $tb)
          order: 0
          margin-top: 0
        @media (min-width: $lp)
          margin-top: 34px
          font-size: 24px
          line-height: 32px
      &-image
        position: relative
        &.active
          cursor: pointer
        &__dialog-button
          transition: opacity .2s ease-in-out
          color: #fff
          background-color: #D36133
          position: absolute
          z-index: 1
          width: 56px !important
          height: 56px !important
          min-width: 56px !important
          min-height: 56px !important
          padding: 0 !important
          border-radius: 50% !important
          top: 51px
          left: 82px
          & .v-btn__content
            & > span
              display: none
            & > img
              width: 24px
              height: 24px
          @media (min-width: $tb)
            width: auto !important
            height: 48px !important
            min-height: 48px !important
            border-radius: 24px !important
            padding: 0 20px !important
            top: 120px
            left: 50%
            transform: translateX(-50%)
            & .v-btn__content
              & > span
                display: inherit
                font-size: 18px
                line-height: 24px
                text-transform: initial !important
                font-weight: 400 !important
          @media (min-width: $md)
            top: 209px
            height: 60px !important
            min-height: 60px !important
            border-radius: 40px !important
            padding: 0 36px !important
            & .v-btn__content
              & > span
                text-transform: uppercase !important
                font-size: 14px
                line-height: 16px
                margin-right: 10px
          @media (min-width: $xl)
            top: 349px
.review-section__dialog
  width: 100%
  margin: 0 16px !important
  padding-bottom: 56.25%
  height: 0
  height: 148px
  border-radius: 12px !important
  position: relative
  overflow: visible
  @media (min-width: $tb)
    width: 640px
    height: 360px
    padding-bottom: unset
  & iframe
    width: 100%
    height: 100%
    overflow: hidden
    border-radius: 12px !important
    z-index: 2
    position: absolute
    top: 0
    left: 0
    @media (min-width: $tb)
      display: block
  &-close
    position: absolute
    cursor: pointer
    top: -15px
    right: -15px
    width: 10px
    z-index: 3
    & img
      @media (max-width: 767px)
        width: 10px
        height: 10px
  &-loader
    border-radius: 12px
    background-color: #fff
    z-index: -1
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
</style>
