<template>
  <section class="teachers" id="professores">
    <div class="teachers-title">
      <div class="m-container">
        <h2 class="h2">Nossos professores são top de mercado</h2>
      </div>
    </div>
    <div class="teachers-text">
      <div class="m-container">
        <p>
          Na EBAC, o quadro de professores é composto por especialistas com experiência prática e atual nos mercados onde atuam. Todos reúnem reconhecimentos, como prêmios e projetos para clientes de grande visibilidade.
        </p>
      </div>
    </div>
    <div class="teachers-slider-container">
      <slider
        sliderId="teachers-slider"
        contentClass="teachers-slider__content"
        :navigation="breakpoint !== '$xxs'"
        :slidesPerView="viewInSlider"
        :spaceBetween="spaceBetween"
        loop
        @clickedLoop="clickedLoop"
      >
        <template v-slot:items>
          <div class="swiper-slide " v-for="(teacher, index) in teachers" :key="index"  :virtualIndex="index">
            <div class="teachers-slider__teacher" @click="openPopup(teacher)">
              <img data-not-lazy class="teachers-slider__teacher-image not-lazy" :alt="teacher.name" :src="require(`~/assets/images/teachers/${teacher.imageSquare}`)" />
              <div class="teachers-slider__teacher-info">
                <h4 class="h4">{{ teacher.name }}</h4>
                <p>{{ teacher.productName }}</p>
              </div>
            </div>
          </div>
        </template>
      </slider>
    </div>
    <v-dialog class="teachers-popup" v-model="popup.active">
      <v-card class="teachers-popup__card">
        <div class="teachers-popup__card-close" @click="popup.active = false">
          <img src="../assets/svg/close-dialog.svg" />
        </div>
        <v-card-text>
          <div class="teachers-popup__teacher">
            <div class="teachers-popup__teacher-info">
              <img data-not-lazy class="not-lazy" :src="require(`~/assets/images/teachers/${popup.imageCircle}`)" />
              <div>
                <h4 class="h4">{{popup.name}}</h4>
                <p>{{popup.profession}}</p>
              </div>
            </div>
            <div class="teachers-popup__teacher-product">
              <p>{{ popup.productText }}</p>
              <div class="teachers-popup__teacher-product__brand">
                 <img
                    data-not-lazy
                    class="partners-slider__content-brand-image not-lazy"
                    alt="brand-name"
                    :src="require(`~/assets/images/teachers/${popup.productImage}`)"
                  />
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import slider from "./common/slider";
import uPopup from '../components/ui-kit/popup'
import breakpoints from "../mixins/breakpoints.mixin"
export default {
  name: "teachersSlider",
  breakpoint: null,
  data(){
    return{
      teachers:[
        {
          name: "André Perez",
          profession: 'Engenheiro de Dados na SumUp',
          imageSquare: "AndrВ Perez.png",
          imageCircle: "AndrВ Perez-noback.jpeg",
          productName: "SumUp",
          productText: "André atua como Engenheiro de Dados na fintech alemã SumUp. Liderou a modernização da infraestrutura computacional da concessão de crédito da Serasa Experian, e conduziu projetos de ciência de dados para a Amdocs, em Israel.",
          productImage: "AndrВ Perez - logo.png"
        },
        {
          name: "Cleber Cassol",
          profession: 'Sênior Software Engineer na Uber',
          imageSquare: "Cleber Cassol.png",
          imageCircle: "Cleber Cassol-noback.png",
          productName: "Uber",
          productText: "Cleber é Sênior Software Engineer na Uber e soma passagens por empresas como a PagSeguro PagBank, UOL, CI&T, entre outras. Há 20 anos, desenvolve sua carreira com foco em programação Java.",
          productImage: "Cleber Cassol - logo.png"
        },
        {
          name: "Fábio Araújo",
          profession: 'QA Team Leader da Via Varejo',
          imageSquare: "Fаbio Araгjo.png",
          imageCircle: "Fаbio Araгjo-noback.jpg",
          productName: "Via Varejo",
          productText: "Fábio já passou por empresas como a automotiva Magneti Marelli, pela financeira Valor Econômico e hoje atua como Team Lead de Qualidade na Via Varejo, com foco em melhoria de processos sistêmicos e capacitação de profissionais para a área.",
          productImage: "Fаbio Araгjo - logo.png"
        },
        {
          name: "Marcelo Cavalcante",
          profession: 'Tech Leader na DASA',
          imageSquare: "Marcelo Cavalcante.png",
          imageCircle: "Marcelo Cavalcante - noback.jpg",
          productName: "DASA",
          productText: "Marcelo tem experiência de 15 anos em projetos de internet, incluindo dispositivos móveis, marketing e performance digital. Já trabalhou em empresas como UOL, Valor Econômico, Editora Abril e PagSeguro, além de prestar consultoria para diversas marcas nacionais e multinacionais.",
          productImage: "Marcelo Cavalcante - logo.png"
        },
        {
          name: "Gabriel Spaniol",
          profession: 'Diretor de Marketing na Carmen Steffens',
          imageSquare: "Gabriel Spaniol.png",
          imageCircle: "Gabriel Spaniol-noback.jpg",
          productName: "Carmen Steffens",
          productText: "Gabriel fundou o departamento de marketing da Carmen Steffens e sua loja online, integrando um dos maiores faturamentos do fashion market nacional. Foi consultor em diversos projetos de e-commerce em parceria com a agência de marketing online internacional Bruce Clay Inc.",
          productImage: "Gabriel Spaniol - logo.png"
        },
        {
          name: "Mariana Zanon",
          profession: 'Líder de Consumer & Market Insights na unico IDTech',
          imageSquare: "Mariana Zanon.png",
          imageCircle: "Mariana Zanon - noback.jpg",
          productName: "unico",
          productText: "Mariana trabalhou em institutos de pesquisa e empresas como Nubank, Ipsos, Harley Davidson e Y&R Brands. Nos últimos 10 anos, focou sua carreira no entendimento de consumidores, e na compreensão e relação das pessoas com produtos, serviços e marcas.",
          productImage: "Mariana Zanon - logo.png"
        },
        {
          name: "Bruno Andrade",
          profession: 'Diretor de Estratégia de Employee Experience para Qualtrics (SAP Group) na América Latina',
          imageSquare: "Bruno Andrade.png",
          imageCircle: "Bruno Andrade-noback.jpg",
          productName: "Qualtrics",
          productText: 'Bruno possui mais de 22 anos de experiência em Recursos Humanos e já desenvolveu projetos para empresas como Bradesco, Renner, Boticário, Grupo Pão de Açúcar, Via Varejo, Burger King, Oi, Cielo entre outras. É coautor do livro "Soft Skills: Abordando a Gestão da Experiência".',
          productImage: "Bruno Andrade - logo.png"
        },
        {
          name: "Zico Góes",
          profession: 'Diretor de desenvolvimento de conteúdo na STAR+ da Disney',
          imageSquare: "Zico Goes.png",
          imageCircle: "Zico Goes-noback.png",
          productName: "STAR+",
          productText: 'Ex-diretor de programação da MTV Brasil, Zico tem uma marca indelével na criação de conteúdo para a TV brasileira e grandes canais de entretenimento, jornalismo e streamings. Há mais de 30 anos soma passagens em players importantes, como FOX, GNT (Globosat) e Conspiração Filmes.',
          productImage: "Zico Goes - logo.png"
        },
        {
          name: "Stefano Balian",
          profession: 'Product Manager CRM na Petlove',
          imageSquare: "Stefano Balian.png",
          imageCircle: "Stefano Balian-noback.png",
          productName: "Petlove",
          productText: 'Stefano tem 10 anos de experiência com CRM e retenção de clientes em empresas como SulAmérica, Renault e Mastercard, com forte atuação em Growth e Customer Analytics. Já conquistou diversos prêmios, dois deles na ABEMD/AMAUTA (Ass. Bras. de Mkt de Dados), por performance individual.',
          productImage: "Stefano Balian - logo.png"
        },
      ],
      popup: {
        name: "André Perez",
        profession: 'Engenheiro de Dados na SumUp',
        imageSquare: "AndrВ Perez.png",
        imageCircle: "AndrВ Perez-noback.jpeg",
        productName: "SumUp",
        productText: "André atua como Engenheiro de Dados na fintech alemã SumUp. Liderou a modernização da infraestrutura computacional da concessão de crédito da Serasa Experian, e conduziu projetos de ciência de dados para a Amdocs, em Israel.",
        productImage: "AndrВ Perez - logo.png",
        active: false
      },
    }
  },
  computed:{
    spaceBetween() {
      switch(this.breakpoint){
        case '$xxs':
          return 20;
        default:
          return 28;
      }
    },
    viewInSlider() {
      switch(this.breakpoint){
        case '$xl':
        case '$lp':
        case '$md':
          return 3;
        case '$tb':
          return 2;
        case '$xs':
          return 1;
        default:
          return 'auto';
      }
    }
  },
  methods:{
    openPopup(teacher){
      this.popup = Object.assign({active: true},teacher)
    },
    clickedLoop(value){
      this.openPopup(this.teachers[value])
    }
  },
  components:{
    slider
  },
  mixins: [
    breakpoints,
    uPopup
  ],
}
</script>

<style lang="sass">
.v-dialog
  box-shadow: none !important
  width: auto !important
</style>

<style lang="sass" scoped>
.teachers
  background: #F5F5F5
  padding: 50px 0px 58px
  @media (min-width: $xs)
    padding: 60px 0px 72px
  @media (min-width: $tb)
    padding: 60px 0px 87px
  @media (min-width: $md)
    padding: 60px 0px
  &-title
    max-width: 700px
    margin: 0 auto
    text-align: left
    @media (min-width: $xs)
      text-align: center
    & h2
      margin-top: 0px
  &-text
    max-width: 962px
    margin: 0 auto
    font-size: 18px
    line-height: 24px
    text-align: left
    @media (min-width: $xs)
      font-size: 24px
      line-height: 32px
      text-align: center
  &-slider
    & .swiper-slide
      @media (max-width: $xxs) 
        width: auto !important
    &-container
      margin-left: auto
      margin-right: auto
      margin-top: 24px
      padding-left: 20px
      @media (min-width: $xs)
        padding-left: 0px
        margin-top: 36px
      @media (min-width: $tb)
        margin-top: 54px
      @media (min-width: $lp)
        width: 1198px
        margin-top:64px
    &__teacher
      display: block
      margin: 0 auto
      max-width: 302px
      position: relative
      cursor: pointer
      width: 261px
      height: 261px
      @media (min-width: $tb)
        width: 276px
        height: 276px
      @media (min-width: $md)
        width: 240px
        height: 240px
      @media (min-width: $lp)
        width: 300px
        height: 300px
      
      &-image
        z-index: 1
        position: relative
        border-radius: 8px
        width:100%
        height:100%
      &-info
        z-index: 2
        position: absolute
        width: 180px
        left: 16px
        bottom: 16px
        & > *
          color: white
        & > h4
          margin-top: 0px
          margin-bottom: 5px
  &-popup
    &__card
      margin: auto
      @media (min-width: $xs)
        width: 600px
      &-close
        display: flex
        justify-content: right
        padding-top: 18px
        padding-right: 18px
        @media (max-width: $xs)
          padding-top: 5px
          padding-right: 5px
        & > img
          width: 12px
          cursor: pointer
    &__teacher
      padding: 10px 15px 20px
      @media (max-width: $xs)
        padding: 5px
      &-info
        display: flex
        align-items: center
        & > img
          width: 100px
          height: 100px
          object-fit: cover
          border-radius: 50%
          flex: 0
          margin-right: 30px
          @media (max-width: $xs)
            width:50px
            height:50px
        & > div
          flex: 1
          & > h4
            margin-top: 0px
            margin-bottom: 8px
          & > p
            font-size: 18px
            line-height: 24px
      &-product
        display: flex
        font-size: 18px
        line-height: 24px
        align-items: flex-start
        margin-top: 24px
        & > p
          flex: 1
        & > div
          margin-left: 24px
          flex-basis: 100px
          text-align: center
          border-radius: 8px
          background-color: #F5F5F5
          @media (max-width: $xs)
            display: none
          & > img
            max-width: 72px
            display: inline
</style>