<template>
  <VPopover
    v-if="isMounted"
    v-scroll="onScroll"
    trigger="hover"
    ref="VPopover"
  >
    <button
      @click="$listeners.click"
      class="tooltip-target"
    >
      Show tooltip
    </button>

    <template slot="popover">
      <div class="tooltip-content">
        <slot />
      </div>
      <a
        v-close-popover
        class="tooltip__close"
      >
        Close tooltip
      </a>
    </template>
  </VPopover>
</template>

<script>
import { VPopover, VClosePopover } from 'v-tooltip'
import onScroll from '../directives/onScroll'
import throttle from 'lodash/throttle'

export default {
  name: 'tooltip',
  data() {
    return {
      isMounted: false,
    }
  },
  methods: {
    toggle() {
      if (this.$refs.VPopover.isOpen) {
        this.$refs.VPopover.hide();
      } else {
        this.$refs.VPopover.show();
      }
    },
    onScroll: throttle(function (evt, el) {
      if (this.$refs?.VPopover?.isOpen) {
        this.$refs.VPopover.hide();
      }
    }, 100),
  },
  mounted() {
    this.isMounted = true;
  },
  directives: {
    'close-popover': VClosePopover,
    'scroll': onScroll,
  },
  components: {
    VPopover,
  },
}
</script>

<style lang="sass">
  .tooltip
    display: block !important
    z-index: 10000
    &__close
      position: absolute
      display: none
      top: 10px
      right: 10px
      width: 14px
      height: 14px
      font-size: 0
      border: none
      background-color: transparent
      background-image: url("../../landing_generator/assets/svg/union.svg")
      background-repeat: no-repeat
      background-position: center
      cursor: pointer
      transition: opacity .3s
      &:hover
        opacity: .8
    &-target
      display: block
      font-size: 0
      width: 30px
      height: 30px
      background-color: transparent
      border: none
      padding: 0
      background-image: url("../../landing_generator/assets/svg/tooltip-icon.svg")
      background-repeat: no-repeat
      background-position: center
      margin-top: 3px
      cursor: pointer
    &-content
      & b
        display: block
        font-weight: 600
      & span
        display: block
        font-weight: 400
        margin-bottom: 18px
        color: #333333
        font-size: 14px
        line-height: 18px
    &-inner
      font-size: 14px
      line-height: 18px
      width: 260px
      padding: 20px
      background-color: #ffffff
      border: 1px solid #E0E0E0
      box-shadow: 0 8px 16px rgba(51, 51, 51, 0.2)
      border-radius: 4px
      z-index: 3
    &-arrow
      width: 0
      height: 0
      border-style: solid
      position: absolute
      margin: 5px
      border-color: black
      z-index: 1
    &[x-placement^="top"]
      margin-bottom: 5px
      .tooltip-arrow
        border-width: 5px 5px 0 5px
        border-left-color: transparent !important
        border-right-color: transparent !important
        border-bottom-color: transparent !important
        bottom: -6px
        left: calc(50% - 5px)
        margin-top: 0
        margin-bottom: 0
        transform: rotate(225deg)!important
    &[x-placement^="bottom"]
      margin-top: 5px
      .tooltip-arrow
        border-width: 0 5px 5px 5px
        border-left-color: transparent !important
        border-right-color: transparent !important
        border-top-color: transparent !important
        top: -6px
        left: calc(50% - 5px)
        margin-top: 0
        margin-bottom: 0
    &[x-placement^="right"]
      margin-left: 5px
      .tooltip-arrow
        border-width: 5px 5px 5px 0
        border-left-color: transparent !important
        border-top-color: transparent !important
        border-bottom-color: transparent !important
        left: -6px
        top: calc(50% - 5px)
        margin-left: 0
        margin-right: 0
        transform: rotate(-45deg)!important
    &[x-placement^="left"]
      margin-right: 5px

      .tooltip-arrow
        border-width: 5px 0 5px 5px
        border-top-color: transparent !important
        border-right-color: transparent !important
        border-bottom-color: transparent !important
        right: -6px
        top: calc(50% - 5px)
        margin-left: 0
        margin-right: 0
        transform: rotate(135deg)!important
    &.popover
      $color: #f9f9f9

      .popover-inner
        font-size: 14px
        line-height: 18px
        width: 260px
        padding: 20px
        background-color: #ffffff
        border: 1px solid #E0E0E0
        box-shadow: 0 8px 16px rgba(51, 51, 51, 0.2)
        border-radius: 4px
        z-index: 3

      .popover-arrow
        height: 12px
        width: 12px
        background-color: #ffffff
        transform: rotate(45deg)
        border: 1px solid #E0E0E0!important
        border-bottom: inherit!important
        border-right: inherit!important
        z-index: 3

    &[aria-hidden='true']
      visibility: hidden
      opacity: 0
      transition: opacity .15s, visibility .15s

    &[aria-hidden='false']
      visibility: visible
      opacity: 1
      transition: opacity .15s

  @media(max-width: $tb)
    .tooltip
      &__close
        display: block
</style>
