<template>
  <!-- <div class="topicsFilter" v-if="topics.length > 0 || selectedButDisabledByDirectionTopics.length > 0"> -->
    <div class="topicsFilter" v-if="topics.length > 0">
    <div class="topicsFilter-title">{{ $t("topicsFilter.title") }}</div>
    <div class="topicsFilter-items filters__list" v-if="!expanded">
      <!-- <topics-filter-item 
        v-for="topic in selectedButDisabledByDirectionTopics" 
        :key="topic.id" 
        :topic="topic" 
        :filter="filter" 
        :disabledByDirection="true" 
        @updated="update" 
      /> -->
      <topics-filter-item v-for="topic in unexpandedList" :key="topic.id" :topic="topic" :filter="filter" :model="model" @updated="update" />
    </div>
    <div v-else>
      <div class="topicsFilter-items__search-placeholder">
        <template v-if="topics.length > 20">
          <input :placeholder="$t('topicsFilter.search')" @input='evt => search=evt.target.value' :value="search" :model="model" class="topicsFilter-items__search" />
          <img
            data-not-lazy
            class="not-lazy topicsFilter-items__search-icon"
            src="../assets/svg/search-icon.svg"
            :alt="$t('mainSearch.search')"
          >
        </template>
      </div>
      <div v-if="topics.length > 20 && searched.length === 0" style="margin-bottom: 20px">{{ $t('topicsFilter.notFound', { search: search }) }}</div>
      <simplebar class="topicsFilter-items filters__list filters__list--expanded sb--expanded">
        <template v-if="!search">
          <topics-filter-item v-for="topic in topics" :key="topic.id" :topic="topic" :filter="filter" :model="model" @updated="update" />
        </template>
        <template v-else>
          <topics-filter-item v-for="topic in searched" :key="topic.id" :topic="topic" :filter="filter" :model="model" @updated="update" />
        </template>
      </simplebar>
    </div>
    <div class="topicsFilter-expand">
      <div class="topicsFilter-expand__action" @click="toggleExpanded" v-if="!expanded && ((topics.length - unexpandedList.length) > 0)">
        <span>{{ $t("topicsFilter.more", { count: topics.length - unexpandedList.length }) }}</span>
        <img src="../assets/svg/arrow-down-secondary.svg" data-not-lazy class="not-lazy angle" />
      </div>
      <div class="topicsFilter-expand__action" @click="toggleExpanded" v-if="expanded">
        <span>{{ $t("topicsFilter.less") }}</span>
        <img src="../assets/svg/arrow-down-secondary.svg" data-not-lazy class="not-lazy angle angle--down" />
      </div>
    </div>
  </div>
</template>

<script>
import simplebar from 'simplebar-vue';
import 'simplebar/dist/simplebar.min.css';

export default {
  name: "TopicsFilter",
  props: ['model', 'filter'],
  data() {
    return {
      expanded: false,
      unexpandedSize: 5,
      localModel: [],
      search: '',
    };
  },
  computed: {
    routeProcessing() {
      return this.$store.state.routeProcessing;
    },
    topics() {
      return this.$store.state.topics.list;
    },
    selectedButDisabledByDirectionTopics() {
      return this.$store.state.topics.allList.filter(i => i._selectedButDisabledByDirection)
    },
    selected() {
      return this.topics.filter(i => (this.filter.topic && this.filter.topic.indexOf(i.slug) !== -1));
    },
    unselected() {
      if (this.filter.topic) return this.topics.filter(i => (this.filter.topic && this.filter.topic.indexOf(i.slug) === -1));
      else return this.topics;
    },
    unexpandedList() {
      const unselected = this.unselected;
      const selected = this.selected;

      let list = selected;
      const size = this.unexpandedSize - list.length;
      if (size > 0) {
        list = [...list, ...unselected.slice(0, size)].sort((a, b) => !!b._selected - !!a._selected);
      }
      return list;
    },
    searched() {
      return this.topics.filter(i => i.name.toLowerCase().indexOf(this.search.toLowerCase()) !== -1);
    }
  },
  methods: {
    toggleExpanded() {
      this.expanded = !this.expanded;
      this.search = "";
    },
    update(slug) {
      const index = this.localModel.indexOf(slug);
      if (index !== -1) {
        this.localModel.splice(index, 1)
      } else this.localModel.push(slug);
      this.$emit('update:model', this.localModel?.length ? this.localModel : undefined);
    }
  },
  async mounted() {
    // await this.$store.dispatch("topics/getTopicsIfListIsEmpty");
    this.localModel = [...(this.model || [])];
  },
  components: {
    simplebar,
  }
};
</script>

<style lang="sass">
.topicsFilter
  &-title
    margin-bottom: 18px
  & .sb--expanded
    max-height: 267px
    border-bottom: 1px solid #DBDBDE
    margin-bottom: 20px
  &-expand
    &__action 
      cursor: pointer
      margin-bottom: 24px
      display: flex
      align-items: center
      font-size: 16px
      color: #000
      font-weight: 500
      & .angle
        margin-left: 6px
        &--down
          transform: rotate(180deg)
  &-items
    margin-bottom: 18px
    &--item
      min-height: 26px
      display: block
      & .checkbox-label
        display: block
        word-break: break-word
    &__search-icon
      position: absolute
      top: 0
      left: 0
      height: 100%
      padding: 10px 12px
    &__search-placeholder
      position: relative
      margin-bottom: 18px
    &__search
      border: 1px solid #E7E6EB
      border-radius: 4px
      padding: 9px 12px
      padding-left: 44px
      width: 100%
      max-width: 266px
      @media (max-width: 540px)
        max-width: none
      &::-webkit-input-placeholder
        color: #BDBDBD
      &:-ms-input-placeholder
        color: #BDBDBD
      &::-moz-placeholder
        color: #BDBDBD
      &:-moz-placeholder
        color: #BDBDBD
      &:focus
        border-color: #905DB4
</style>