<template>
  <div :class="['topicsFilter-items--item', { notFinded: disabledByDirection }]">
    <input
      v-model="active"
      class="visually-hidden checkbox-input"
      type="checkbox"
      :id="`topics-${topic.id}`"
      name="topics"
    />
    <label
      class="checkbox-label body-s"
      :for="`topics-${topic.id}`"
    >{{topic.name}}</label>
    <div class="topicsFilter-items--item-tooltip" v-if="disabledByDirection">
      {{ $t('topicsFilter.notFound', { direction: directionName }) }}
    </div>
  </div>
</template>

<script>
export default {
  name: "topicsFitlerItem",
  props: ["topic", "filter", "disabledByDirection", 'model'],
  computed: {
    active: {
      get() {
        if (this.model) {
          return this.model.includes(this.topic.slug)
        } return false
        // return (
        //   (this.filter.topic && this.filter.topic.indexOf(this.topic.slug) !== -1) || this.disabledByDirection
        // );
      },
      set() {
        if (this.disabledByDirection) {
          this.$store.commit('topics/setSelectedButDisabledByDirection', { slug: this.topic.slug, status: false, asd: 2 })
        }
        else this.$emit("updated", this.topic.slug);
      },
    },
    directionName() {
      return this.$store.state.courses.directions.find(i => i.slug === this.filter.courses)?.shortName || "";
    }
  },
};
</script>

<style lang="sass">
.topicsFilter
  &-items
    &--item
      position: relative
      margin-bottom: 12px
      &:hover
        & .topicsFilter-items--item-tooltip
          opacity: 1
      &-tooltip
        opacity: 0
        position: absolute
        top: 0
        left: 0
        margin-left: 70px
        width: 200px
        border: 1px solid #eee
        border-radius: 4px
        padding: 8px 16px
        background-color: #fff
        transition: .3s all
      &.notFinded
        & label:before
          background-color: #bfc2d3 !important
          border-color: #bfc2d3 !important
</style>