<template>
  <div class="gift-block">
    <div class="m-container">
      <div class="gift-block-container">
        <div class="gift-block-content">
          <div class="block-1">
            <div class="title">
              <slot name="title">v-slot:title</slot>
            </div>
            <div class="description">
              <slot name="description">v-slot:description</slot>
            </div>
            <div class="img">
              <slot name="img">v-slot:img</slot>
            </div>
          </div>
          <div class="separator" />
          <div class="block-2">
            <div class="additional-title">
              <slot name="additional-title">v-slot:additional-title</slot>
            </div>
            <div class="additional-description">
              <slot name="additional-description">v-slot:additional-description</slot>
            </div>
          </div>
        </div>
        <div class="shadow" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GiftBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .gift-block
    margin-top: 80px
    //@media (min-width: $tb)
    //  margin-top: 90px
    @media (min-width: $md)
      margin-top: 120px
    &-content
      background: #EDE2F8
      border-radius: 16px
      z-index: 1
      position: relative
      padding: 24px 20px 24px 20px
      //@media (min-width: $tb)
      //  display: flex
      //  align-items: center
      //  padding: 32px 24px 22px 33px
      //  border-radius: 24px
      @media (min-width: $md)
        display: flex
        align-items: center
        padding: 52px 23px 48px 50px
        border-radius: 24px
      @media (min-width: $lp)
        padding: 52px 82px 48px 115px
    &-container
      position: relative
  .shadow
    position: absolute
    left: 8px
    right: -8px
    bottom: -8px
    top: 8px
    background: #905db4
    border-radius: 16px
    @media (min-width: $md)
      left: 12px
      right: -12px
      bottom: -12px
      top: 12px
      border-radius: 24px
  .title
    font-weight: 600
    font-size: 20px!important
    line-height: 26px
    color: #D36133
    @media (min-width: $md)
      font-size: 32px!important
      line-height: 38px
  .description
    font-weight: 600
    font-size: 32px
    line-height: 38px
    color: #000000
    margin-top: 4px
    //@media (min-width: $tb)
    //  width: 230px
    @media (min-width: $md)
      font-weight: 700
      width: 378px
      font-size: 48px
      line-height: 56px
      margin-top: 13px
  .img
    margin-top: 8px
    @media (min-width: $md)
      margin-top: 16px
    & img
      width: 134px
      height: 46px
      @media (min-width: $md)
        width: 190px
        height: 65px
  .separator
    background: #905DB4
    border-radius: 2px
    height: 1px
    margin-top: 12px
    margin-bottom: 20px
    //@media (min-width: $tb)
    //  width: 2px
    //  height: 140px
    //  margin-bottom: 0
    //  margin-top: 0
    //  margin-left: 42px
    //  margin-right: 39px
    @media (min-width: $md)
      width: 2px
      height: 168px
      margin-bottom: 0
      margin-top: 0
      margin-left: 18px
      margin-right: 53px
    @media (min-width: $lp)
      margin-left: 78px
      margin-right: 82px
  .additional-title
    font-weight: 600
    font-size: 16px
    line-height: 20px
    color: #000000
    @media (min-width: $md)
      font-size: 24px
      line-height: 28px
  .additional-description
    margin-top: 12px
    @media (min-width: $md)
      margin-top: 20px
    & ul
      padding: 0
      list-style: none
      & li
        font-size: 14px
        line-height: 16px
        color: #000000
        margin-top: 8px
        display: flex
        @media (min-width: $md)
          font-size: 18px
          line-height: 24px
          margin-top: 12px
        &:first-child
          margin-top: 0
        & span
          margin-right: 11px
</style>
