@import 'reset-list';

// Медиа запросы. Использование: @include media($md) {styles}
@mixin media($breakpoint) {
    @if $breakpoint == all {
        @media screen {
            @content;
        }
    }

    @else if $breakpoint != all {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

// Подключение шрифтов
// Пример использования: @include import-font('Font', 'Font-Regular', 'Font Regular', normal, normal);
@mixin import-font($name, $file, $file2, $weight, $style) {
    @font-face {
        font-family: '#{$name}';
        src: url('#{$font-path}#{$file}.eot');
        src: local('#{$file2}'), local('#{$file}'),
        url('#{$font-path}#{$file}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}#{$file}.woff2') format('woff2'),
        url('#{$font-path}#{$file}.woff') format('woff'),
        url('#{$font-path}#{$file}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

// Анимация по-умолчанию
@mixin css_anim($time: .2s, $item: all, $style: ease) {
    transition: $item $style $time;

    &:hover {
        transition: $item $style $time;
    }
}

// Создание пустого блока
@mixin empty-block($width, $height: $width, $display: block) {
    content: '';
    display: $display;
    width: $width;
    height: $height;
}

// Необходимые стили для картинок на заднем фоне
@mixin img-back($size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
    background-size: $size;
    background-position-x: $posX;
    background-position-y: $posY;
    background-repeat: $repeat;
}

// Ширина контента по-умолчанию. Значения указаны для примера - при создании нового проекта подставьте свои.
// Вы можете использовать margin вместо padding.
// Padding удобнее для последующего размещения какого-то элемента в абсолютном позиционировании внутри этого блока.
@mixin content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include media($md) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include media($xl) {
        padding-left: calc(50% - 1140px / 2);
        padding-right: calc(50% - 1140px / 2);
    }
}

@mixin btn-1 {
    font-size: 14px;
    line-height: 18px;
    color: #D36133;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 1px solid #D36133;
    border-radius: 30px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #D36133;
        color: #ffffff;
    }
}
