<template>
  <div class="offer-course" v-if="course">
    <div class="offer-course_avatar">
      <img :src="image.url" class="offer-course_avatar-img" v-if="image" />
      <v-skeleton-loader class="loader-center offer-course_avatar-img" type="image" v-else />
    </div>
    <div class="offer-course_name">{{ course.courseName }}</div>
    <div class="offer-course_price">
      <div class="offer-course_price-discount">{{ getCurrency(course.price) }}</div>
      <div
        class="offer-course_price-default"
        v-if="course.price !== course.originalPrice"
      >{{ getCurrency(course.originalPrice) }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OfferCourse",
  props: {
    course: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      image: null, 
    };
  },
  methods: {
    getCurrency(currency) {
      const currencyNumber = Number(currency);
      if ((currencyNumber ^ 0) === currencyNumber) {
        return this.$n(currencyNumber, "currencyNoCents");
      } else {
        return this.$n(currencyNumber, "currency");
      }
    },
  },
  async fetch() {
    const id = ~~this.course.nomenclatureId;
    const latam = ['pe', 'co', 'ar', 'cl'].includes(this.$app?.config?.common?.currentCountry);
    const response = await this.$axios({
      method: "post",
      url: `${this.$nuxt.$config.CMS_REST_API}/public/showcase/`,
      data: {
        id,
        latam
      },
    });
    const nomenclature = response.data.data.data[0];
    this.image = nomenclature.images.showcaseImage;
  },
};
</script>

<style lang="sass">
.offer-course
  display: flex
  column-gap: 20px
  height: 80px
  align-items: center
  @media (max-width: 767px)
    align-items: flex-start
    height: 64px
  &_avatar
    height: 100%
    aspect-ratio: 1
    background-color: #eee
    border-radius: 8px
    overflow: hidden
    &-img
      height: 100%
      width: 100%
      object-fit: cover
  &_name
    flex: 1
    font-size: 18px
    line-height: 28px
    @media (max-width: 767px)
      font-size: 14px
      line-height: 24px
  &_price
    text-align: right
    font-size: 18px
    line-height: 28px
    font-weight: 600
    display: flex
    align-items: center
    column-gap: 16px
    @media (max-width: 767px)
      flex-direction: column
      align-items: flex-end
      font-size: 14px
      line-height: 24px
    &-default
      order: -1
      @media (max-width: 767px)
        order: 2
    &-discount
      color: #FF4545
    &-discount + &-default
      font-weight: 400
      font-size: 16px
      line-height: 26px
      text-decoration: line-through
      color: #838285
      @media (max-width: 767px)
        font-size: 12px
        line-height: 20px
</style>