<template>
  <v-card outlined class="coursesSkeleton">
    <v-skeleton-loader type="image" height="100%"></v-skeleton-loader>
    <div style="flex: 1">
      <v-skeleton-loader type="text" height="100%"></v-skeleton-loader>
    </div>
    <div style="flex: 2" />
    <div style="flex: 1">
      <v-skeleton-loader type="text" height="100%"></v-skeleton-loader>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "CoursesSkeleton",
};
</script>

<style lang="sass">
.coursesSkeleton
  padding: 24px
  border-radius: 12px !important
  overflow: hidden
  border: none !important
  height: 128px
  display: flex
  align-items: center
  column-gap: 20px
  @media (max-width: 767px)
    height: 104px
    padding: 20px
    border-radius: 0 !important
  & .v-skeleton-loader__image
    border-radius: 8px !important
    width: 80px
    height: 100%
    @media (max-width: 767px)
      width: 64px
  & .v-skeleton-loader__text
    margin: 0 !important
</style>