<template>
  <v-card flat class="courses-list">
    <div
      class="courses-list_i-wrapper"
      v-for="(course) in courses"
      :key="course.uuid"
    >
      <Course :course="course" />
    </div>
  </v-card>
</template>

<script>
import Course from "./course.vue";
export default {
  name: "OfferCourses",
  props: {
    courses: {
      type: Array,
      default: () => [],
    },
  },
  components: { Course },
};
</script>

<style lang="sass">
.courses-list
  padding: 24px
  border-radius: 12px !important
  min-height: 128px
  @media (max-width: 767px)
    border-radius: 0 !important
    padding: 20px
  &_i-wrapper:not(:last-child)
    padding-bottom: 24px
    margin-bottom: 24px
    border-bottom: 1px solid #E7E6EB
</style>