<template>
  <section class="contact">
    <div class="m-container">
      <h2 class="contact-title">{{ $t('contactInformation.title') }}</h2>
      <div class="contact-wrapper">
        <ValidationObserver v-slot="{ handleSubmit }" ref="form">
          <form @submit.prevent="handleSubmit(onSubmit)">
            <div class="contact-wrapper__item">
              <h3 class="contact-wrapper__item-title">{{ $t('contactInformation.titlePersonal') }}</h3>
              <div class="contact-wrapper__personal">
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="fullName" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="fullName"
                      v-model="fullName"
                      :label="necessarily($t('contactInformation.fullName.label'))"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.fullName.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="data" rules="required" v-slot="{ errors }" >
                    <date-picker
                      class="data"
                      v-model="data"
                      format="DD.MM.YYYY"
                      :placeholder="necessarily($t('contactInformation.data.label'))"
                      :class="{'error': errors.length}"
                    ></date-picker>
                      <div  class="v-messages theme--light error--text" >
                        <div class="v-messages__wrapper">
                          <div v-if="errors.length" class="v-messages__message">{{ $t('contactInformation.data.error') }}</div>
                        </div>
                      </div>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="cpf" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="cpf"
                      v-model="cpf"
                      label="000.000.000-00*"
                      v-mask="'###.###.###-##'"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.cpf.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
              </div>
            </div>
            <div class="contact-wrapper__item">
              <h3 class="contact-wrapper__item-title">{{ $t('contactInformation.titleContact') }}</h3>
              <div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
                    <hintEmail
                      v-model="email"
                      :label="necessarily($t('contactInformation.email.label'))"
                      class="email"
                      :maxNumberOfTips="3"
                      :error-messages="errors.length ? $t('contactInformation.email.error') : ''"
                    />
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="confirmEmail" rules="required|email" v-slot="{ errors }">
                    <hintEmail
                      v-model="confirmEmail"
                      :label="necessarily($t('contactInformation.confirmEmail.label'))"
                      class="confirmEmail*"
                      :maxNumberOfTips="3"
                      :error-messages="confirmEmailErrors(errors)"
                    />
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <phone
                    class="phone"
                    name="phone"
                    v-model="phone"
                  />
                </div>
              </div>
            </div>
            <div class="contact-wrapper__item">
              <h3 class="contact-wrapper__item-title">{{ $t('contactInformation.titleAddress') }}</h3>
              <div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="zipCode" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="zipCode"
                      v-model="zipCode"
                      label="00000-000*"
                      v-mask="'####-###'"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.zipCode.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="address" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="address"
                      v-model="address"
                      :label="necessarily($t('contactInformation.address.label'))"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.address.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input contact-wrapper__item-block">
                  <ValidationProvider mode="custom" name="number" rules="required" v-slot="{ errors }">
                      <v-text-field
                        class="number"
                        v-model="number"
                        :label="necessarily($t('contactInformation.number.label'))"
                        type="number"
                        solo
                        :error-messages="errors.length ? $t('contactInformation.number.error') : ''"
                      ></v-text-field>
                    </ValidationProvider>
                  <ValidationProvider mode="custom" name="complement" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="complement"
                      v-model="complement"
                      :label="necessarily($t('contactInformation.complement.label'))"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.complement.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                    <u-select
                      :options="options"
                      v-model="condition"
                    ></u-select>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="name"
                      v-model="city"
                      :label="necessarily($t('contactInformation.city.label'))"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.city.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
                <div class="contact-wrapper__item-input">
                  <ValidationProvider mode="custom" name="neighborhood" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="neighborhood"
                      v-model="neighborhood"
                      :label="necessarily($t('contactInformation.neighborhood.label'))"
                      solo
                      :error-messages="errors.length ? $t('contactInformation.neighborhood.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                </div>
              </div>
            </div>
            <div class="contact-wrapper__footer">
              <div
                v-if="!$app.config.current.formWithCheckbox"
                class="main-form-privacy-policy"
              >
                {{ $t('contactInformation.part1') }} <a :href="$app.config.current.documents[$app.config.current.formDocument]" target="_blank">{{ $t('contactInformation.part2') }}</a>
              </div>
              <ValidationProvider
                v-else
                name="passive"
                :rules="{ required: { allowFalse: false } }"
                v-slot="{ errors }"
              >
                <checkbox
                  class="checkbox_accepted-rules"
                  v-model="acceptedRules"
                  :error-messages="errors"
                >
                  {{ $t('contactInformation.part1') }} <a :href="$app.config.current.documents[$app.config.current.formDocument]" target="_blank">{{ $t('contactInformation.part2') }}</a>
                </checkbox>
              </ValidationProvider>
              <div class="contact-wrapper__footer-button">
                <v-btn
                  color="primary"
                  rounded
                  depressed
                  x-large
                  :ripple="false"
                  type="submit"
                  :loading="loading"
                >
                  {{ $t('contactInformation.btn') }}
                </v-btn>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </section>
</template>

<script>
  import { ValidationObserver, ValidationProvider } from 'vee-validate'
  import checkbox from '../../components/common/checkbox'
  import uSelect from '../../components/ui-kit/select'

  export default {
    name: "index",
    data() {
      return {
        data:'',
        name: '',
        phone: '',
        email: '',
        confirmEmail: '',
        cpf: '',
        zipCode: '',
        address: '',
        complement: '',
        number: '',
        fullName: '',
        city: '',
        neighborhood: '',
        acceptedRules: true,
        loading: false,
        password:'',
        confirmation:'',
        options:[
          'Rio Grande do Sul1',
          'Rio Grande do Sul2',
          'Rio Grande do Sul3'
        ],
        condition: 'Rio Grande do Sul1'
      }
    },
    components: {
      ValidationObserver,
      ValidationProvider,
      phone: () => import('../../components/common/phone'),
      hintEmail: () => import('../../components/common/hintEmail'),
      uSelect,
      checkbox
    },
    methods: {
      confirmEmailErrors(errors) {
        return errors.length ? this.$t('contactInformation.confirmEmail.error') : this.email !== this.confirmEmail ? this.$t('contactInformation.confirmEmail.confirmError') : '';
      },
      necessarily(item) {
        return `${item}*`
      },
      async onSubmit() {
        if (this.loading) return;

        this.loading = true;

        const isValid = await this.$refs.form.validate();

        if (!isValid) {
          this.loading = false;
          return;
        }

        const formData = new FormData(this.$refs.form.$el.querySelector('form'));
        formData.append('name', this.name);
        formData.append('data', this.data);
        formData.append('phone', this.phone);
        formData.append('email', this.email);
        formData.append('confirmEmail', this.confirmEmail);
        formData.append('cpf', this.cpf);
        formData.append('zipCode', this.zipCode);
        formData.append('address', this.address);
        formData.append('complement', this.complement);
        formData.append('number', this.number);
        formData.append('fullName', this.fullName);
        formData.append('city', this.city);
        formData.append('neighborhood', this.neighborhood);
        formData.append('condition', this.condition);
        formData.append('checkbox', this.acceptedRules);
      }
    }
  }
</script>

<style scoped lang="sass">
  @import "style/ui-kit/vars.sass"
  .m-container
    @media (max-width: 767px)
      padding: 0
  .contact
    background: #E5E5E5
    &-title
      font-weight: 500
      font-size: 24px
      line-height: 34px
      letter-spacing: -0.4px
      padding-top: 40px
      color: #000000
      font-family: $font-1
      @media (max-width: 767px)
        font-size: 18px
        margin-left: 20px
        padding-top: 32px
    &-wrapper
      width: 764px
      background: $basic-color-3
      border-radius: 12px
      margin-top: 24px
      padding: 24px
      @media (max-width: 1024px)
        width: 100%
      @media (max-width: 767px)
        margin-top: 20px
        padding: 20px
        border-radius: 0
      &__item
        > div
          display: flex
          flex-wrap: wrap
          justify-content: space-between
        &-title
          font-weight: 500
          font-size: 16px
          line-height: 24px
          letter-spacing: -0.12px
          color: #000000
          margin-bottom: 16px
          font-family: $font-1
          @media (max-width: 767px)
            font-size: 14px
            line-height: 24px
        &-input
          width: calc(100% / 2 - 12px)
          @media (max-width: 767px)
            width: 100%
          ::v-deep input::-webkit-outer-spin-button,
          ::v-deep input::-webkit-inner-spin-button
            -webkit-appearance: none
          ::v-deep.error--text .v-input__slot
            border-color: #EB5757
          ::v-deep.v-input__slot
            border: 1px solid #E7E6EB
            box-sizing: border-box
            border-radius: 8px !important
            box-shadow: none !important
            background: $bg-color-2 !important
            @media (max-width: 767px)
              max-height: 44px !important
              background: transparent !important
            label
              font-weight: 400
              font-size: 16px
              line-height: 26px
              color: #838285
          ::v-deep.v-messages.error--text
            color: #EB5757
            caret-color: #EB5757
          ::v-deep.mx-datepicker
            .mx-input
              border: 1px solid #E7E6EB
              box-sizing: border-box
              border-radius: 8px
              box-shadow: none
              background: #FFFFFF
              height: 55px
              padding: 0 20px
              transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
              margin-bottom: 6px
              @media (max-width: 767px)
                max-height: 44px
              &:hover
                &::placeholder
                  color: $basic-color-5
              &::placeholder
                color: #BDBDBD
            &.error
              .mx-input
                border-color: #EB5757
          ::v-deep.mx-icon-clear
            display: none
          ::v-deep.mx-icon-calendar
            display: none!important
          ::v-deep.u-select
            max-width: 100%
            margin-bottom: 20px
        &-block
          display: flex
          justify-content: space-between
          > span:first-child
            width: 120px
            margin-right: 24px
            @media (max-width: 767px)
              width: 40%
          > span:last-child
            width: 213px
            @media (max-width: 767px)
              width: 60%
      &__footer
        display: flex
        justify-content: space-between
        border-top: 1px solid $br-color-1
        padding-top: 24px
        column-gap: 25px
        row-gap: 16px
        @media (max-width: 500px)
          flex-direction: column-reverse
          border: none
          padding-top: 0
        &-checkbox
          width: calc(100% / 2 - 12px)
          margin-top: 10px
          @media (max-width: 500px)
            width: 100%
            margin-top: 16px
        ::v-deep.checkbox
          &-wrapper
            align-items: flex-start
          &__input-wrapper
            width: 16px
            height: 16px
            min-width: 16px
            min-height: 16px
            margin-top: 4px
          &__label
            color: #838285
            font-weight: 400
            font-size: 12px
            line-height: 20px
            margin-left: 12px
            & a
              color: #7B2CBF
              border: none
          .v-messages.error--text
            color: #EB5757
            caret-color: #EB5757
        &-button
          width: calc(100% / 2 - 12px)
          @media (max-width: 500px)
            width: 100%
          button
            width: 100%
            background: $action-color-1!important
            border-radius: 28px
      &__personal
        div:first-child
          width: 100%


</style>
