<template>
  <v-card outlined class="payment-link">
    <div>
      <div>{{ $t('offer.paymentLink.part', { index }) }}</div>
      <div class="payment-link_percentage">{{ percentage }}%</div>
    </div>
    <div class="payment-link_action">
      <template v-if="paymentStatus !== 'payed'">
        <v-btn
          rounded
          depressed
          :disabled="!privacyPolicyChecked"
          :href="paymentLink.originalLink"
          target="_blank"
        >{{ $t('offer.pay') }}</v-btn>
      </template>
      <template v-else-if="paymentStatus === 'payed'">
        <img src="@/assets/svg/success-payment.svg" />
        {{ $t('offer.payment.status.success') }}
      </template>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "OfferPaymentLink",
  props: {
    privacyPolicyChecked: {
      type: Boolean,
      default: false,
    },
    offer: {
      type: Object,
      default: () => ({}),
    },
    paymentLink: {
      type: Object,
      default: () => ({}),
    },
    index: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      payment: {},
      paymentStatus: null,
      paymentLoading: true,
      statuses: {
        provi: {
          payed: ["approved"],
          waiting: ["pending", "in_process", "in_mediation"],
          // error: ['cancelled', 'rejected', 'charged_back', 'refunded'],
        },
        mercadopago: {
          payed: ["effective", "fully_paid", "paid"],
          waiting: ["negativated", "pending", "protest"],
          // error: [],
        },
      },
    };
  },
  computed: {
    percentage() {
      return ((this.paymentLink.price * 100) / this.offer.total).toFixed(2);
    },
  },
  methods: {
    redirectToLink() {
      if (this.offer?.paymentLinks?.length === 1) {
        const item = this.offer?.paymentLinks[0];
        this.paymentLoading = true;
        window.location.replace(item.link || item.originalLink);
      }
    },
    transformStatus(status, type) {
      if (this.statuses[type].payed.includes(status)) return "payed";
      if (this.statuses[type].waiting.includes(status)) return "waiting";
      else return "cancel";
    },
  },
  async fetch() {
    this.paymentLoading = true;
    const response = await this.$axios.get(
      `${this.$nuxt.$config.BILLING_REST_API}/payment/type`,
      {
        params: {
          type: this.paymentLink.type,
          externalReference:
            this.paymentLink[this.paymentLink.type]?.linkReference ||
            this.paymentLink[this.paymentLink.type]?.proviId,
        },
      }
    );

    this.payment =
      response?.data?.result?.data[response?.data?.result?.data?.length - 1];
    if (!this.payment) {
      this.paymentLoading = false;
      // if (process.browser) {
      //   this.redirectToLink();
      // }
      return;
    }

    this.paymentStatus = this.transformStatus(
      this.payment[this.payment.type].status,
      this.payment.type
    );
    this.paymentLoading = false;
    // if (process.browser && this.paymentStatus !== "payed") {
    //   this.redirectToLink();
    // }
  },
};
</script>

<style lang="sass">
.payment-link
  padding: 16px
  display: flex
  align-items: center
  justify-content: space-between
  column-gap: 12px
  border-radius: 8px !important
  font-size: 16px
  line-height: 26px
  @media (max-width: 767px)
    font-size: 14px
    line-height: 20px
  & .v-btn
    width: 100%
    height: 44px !important
    background-color: #7B2CBF !important
    & .v-btn__content
      color: #fff
      text-transform: none
      font-size: 14px
      line-height: 24px
      font-weight: 500
  &_percentage
    font-weight: 600
  &_action
    flex: 0 1 120px
    display: flex
    column-gap: 8px
    justify-content: end
</style>