<template>
  <v-card outlined class="paymentCardSkeleton">
    <div>
      <v-skeleton-loader type="button"></v-skeleton-loader>
      <v-skeleton-loader type="text"></v-skeleton-loader>
    </div>
    <div>
      <v-skeleton-loader type="text"></v-skeleton-loader>
      <v-skeleton-loader type="text"></v-skeleton-loader>
    </div>
    <div>
      <v-skeleton-loader type="text"></v-skeleton-loader>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "PaymentCardSkeleton",
};
</script>

<style lang="sass">
.paymentCardSkeleton
  background-color: #fff
  border-radius: 12px !important
  overflow: hidden
  padding: 24px
  border: none !important
  height: 352px
  display: flex
  flex-direction: column
  justify-content: space-between
  @media (max-width: 767px)
    height: 322px
    padding: 20px
    border-radius: 0 !important
  & .v-skeleton-loader__button
    margin: auto auto 12px auto
    border-radius: 100vw
    width: 100%
</style>