<template>
  <div v-if="offer && offer.paymentLinks && offer.paymentLinks.length === 1" class="payment-links">
    <v-btn
      rounded
      depressed
      :disabled="!privacyPolicyChecked"
      :href="offer.paymentLinks[0].originalLink"
      target="_blank"
      class="payment-links_sButton"
    >{{ $t('offer.payAll') }}</v-btn>
  </div>
  <div
    v-else-if="offer && offer.paymentLinks && offer.paymentLinks.length > 1"
    class="payment-links payment-links--multiple"
  >
    <div class="text-muted payment-links_progress-text">{{ $t('offer.paymentProgress') }}</div>
    <v-progress-linear class="payment-links_progress" value="15"></v-progress-linear>

    <template v-if="payedPricePercent !== 100">
      <PaymentLink
        v-for="(link, index) in offer.paymentLinks"
        :key="link.uuid"
        :index="index + 1"
        :offer="offer"
        :payment-link="link"
        :privacy-policy-checked="privacyPolicyChecked"
      />
    </template>
    <template v-else>
      <v-card flat class="payment-links_success">
        <div class="payment-links_success-title">{{ $t('offer.paymentSuccess.title') }}</div>
        <div class="payment-links_success-text">{{ $t('offer.paymentSuccess.text') }}</div>
      </v-card>
    </template>
  </div>
  <div v-else>
    {{ $t('offer.paymentLinksNotFound') }}
  </div>
</template>

<script>
import PaymentLink from "@/components/offers/paymentLink.vue";
export default {
  name: "OfferPaymentLinks",
  props: {
    privacyPolicyChecked: {
      type: Boolean,
      default: false,
    },
    offer: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    payedPricePercent() {
      return (this.offer.totalPaid * 100) / this.offer.total;
    },
  },
  components: { PaymentLink },
};
</script>

<style lang="sass">
.payment-links
  &--multiple
    & .payment-link:not(:last-child)
      margin-bottom: 16px
  &_sButton
    width: 100%
    background-color: #FF7900 !important
    color: #fff !important
    text-transform: none !important
    font-weight: 500 !important
    font-size: 14px !important
    line-height: 24px !important
  &_progress-text
    @media (max-width: 767px)
      font-size: 12px
      line-height: 20px
  &_progress
    height: 8px !important
    border-radius: 4px
    overflow: hidden
    margin-bottom: 12px
    margin: 16px 0 28px 0
    @media (max-width: 767px)
      height: 4px !important
      margin: 16px 0 24px 0
    & .v-progress-linear__buffer
      background-color: #7B2CBF
      opacity: 0.24
    & .v-progress-linear__background
      background-color: #ECEBF0
    & .v-progress-linear__determinate
      background-color: #7B2CBF
  &_success
    background-color: #CADF9E !important
    color: #3D8A1E !important
    padding: 16px
    &-title
      font-size: 16px
      line-height: 24px
      letter-spacing: -0.12px
      font-weight: 500
      margin-bottom: 8px
</style>