<template>
  <v-card flat class="payment-card" v-if="offer && offer.products">
    <div class="payment-card-padding">
      <PaymentLinks :privacy-policy-checked="privacyPolicyChecked" :offer="offer" />
      <PrivacyPolicy
        :checked.sync="privacyPolicyChecked"
        style="margin-top: 12px"
        v-if="offer.hasPaymentLink"
      />
    </div>

    <div class="payment-card_price">
      <div class="payment-card-padding">
        <div class="payment-card_price-item payment-card_price-item--price">
          <div
            class="payment-card_price-item_title"
          >{{ $t('offer.price.courses', { count: offer.products.length }) }}</div>
          <div
            class="payment-card_price-item_value payment-card_price-item_value"
          >{{ getCurrency(summaryPrice) }}</div>
        </div>

        <div class="payment-card_price-item payment-card_price-item--discount">
          <div class="payment-card_price-item_title">{{ $t('offer.price.discount') }}</div>
          <div
            class="payment-card_price-item_value payment-card_price-item_value"
          >- {{ getCurrency(offer.discount || 0) }}</div>
        </div>

        <div class="payment-card_price-item payment-card_price-item--total">
          <div class="payment-card_price-item_title">{{ $t('offer.price.total') }}</div>
          <div
            class="payment-card_price-item_value payment-card_price-item_value--discount"
          >{{ getCurrency(offer.total) }}</div>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
import PrivacyPolicy from "@/components/common/privacyPolicy.vue";
import PaymentLinks from "./paymentLinks.vue";
export default {
  name: "OfferPaymentCard",
  data() {
    return {
      privacyPolicyChecked: false,
    };
  },
  props: {
    offer: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    summaryPrice() {
      return this.offer.total + this.offer.discount;
    },
  },
  methods: {
    getCurrency(currency) {
      const currencyNumber = Number(currency);
      if ((currencyNumber ^ 0) === currencyNumber) {
        return this.$n(currencyNumber, "currencyNoCents");
      } else {
        return this.$n(currencyNumber, "currency");
      }
    },
  },
  components: { PrivacyPolicy, PaymentLinks },
};
</script>

<style lang="sass">
.payment-card
  border-radius: 12px !important
  @media (max-width: 767px)
    border-radius: 0 !important
  &-padding
    padding: 24px
    @media (max-width: 767px)
      padding: 20px
  &_price
    border-top: 1px solid #E7E6EB
    &-item
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 16px
      line-height: 26px
      color: #000
      padding-bottom: 12px
      @media (max-width: 767px)
        font-size: 14px
        line-height: 24px
      &_value
        font-weight: 600
        text-align: right
      &--total
        padding-top: 24px
        padding-bottom: 0
        margin-top: 12px
        border-top: 1px solid #E7E6EB
        font-size: 24px
        line-height: 34px
        letter-spacing: -0.4px
        font-weight: 500
        @media (max-width: 767px)
          font-size: 18px
          line-height: 24px
          letter-spacing: -0.2px
      &--discount
        & .payment-card_price-item_value
          color: #FF4545
</style>