<template>
  <div class="additional-navigation">
    <list-navigation
      :items="[
        {
          to: '/career-center-students',
          label: this.$t('additionalNavigation.careerCenterStudents'),
        },
        {
          to: '/career-center-company',
          label: this.$t('additionalNavigation.careerCenterCompany'),
        },
      ]"
    />
  </div>
</template>

<script>
import listNavigation from './listNavigation'

export default {
  name: 'additionalNavigation',
  components: {
    listNavigation,
  },
}
</script>

<style lang="sass">

</style>
