<template>
  <div
    ref="parent"
    class="filters__select custom-select js-parent"
  >
    <div
      @click="selectToggleHandler"
      class="direction-select-btn btn btn_sm btn_outline btn_color-secondary btn_select filter-select custom-select__head js-select-head active"
    >
      {{ $t(currentDirection.name) }}
      <div class="icon filter-select-icon" />
    </div>

    <ul
      ref="selectBody"
      class="custom-select__body js-select-body"
      :class="{'is-mobile': $app.isMobile}"
    >
      <li v-for="direction in directions" :key="direction.id">
        <NuxtLink
          :to="`/vacancies?location=${filter.location}&direction=${direction.id}`"
          event=""
          @click.native="() => {
            if (loading) return;
            closeSelect();
            filter.direction = direction.id;
            applyFilter();
          }"
          :class="{
            'active': direction.id === currentDirection.id,
            'btn btn_sm btn_outline btn_color-secondary': !$app.isMobile,
           }"
        >{{ direction.name }}</NuxtLink>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'directionsSelect',
  props: [
    'currentDirection',
    'directions',
    'loading',
    'filter',
    'applyFilter',
  ],
  mounted() {
    if (this.$app.isMobile) {
      $(document).on("click", this.closeDirectionOptionsList);
    }
  },
  methods: {
    selectToggleHandler() {
      if (this.$app.isMobile) {
        $(this.$refs.parent).toggleClass("is-active");
        $(this.$refs.selectBody).slideToggle(150);
      }
    },
    closeDirectionOptionsList(evt) {
      if (this.$app.isMobile) {
        let $target = $(evt.target);
        if (!$(this.$refs.parent).is($target) && $(this.$refs.parent).has($target).length === 0) {
          if ($(this.$refs.parent).hasClass("is-active")) {
            $(this.$refs.parent).removeClass("is-active");
            $(this.$refs.selectBody).slideUp(150);
            evt.preventDefault();
            evt.stopPropagation();
          }
        }
      }
    },
    closeSelect() {
      if (this.$app.isMobile) {
        $(this.$refs.parent).removeClass("is-active");
        $(this.$refs.selectBody).slideUp(150);
      }
    },
  },
  watch: {
    '$app.isMobile'() {
      if (this.$app.isMobile) {
        $(document).on("click", this.closeDirectionOptionsList);
      } else {
        $(document).off("click", this.closeDirectionOptionsList);
      }
    },
  },
}
</script>

<style lang="sass">
  .direction-select-btn
    font-size: 16px
    line-height: 16px
    min-height: 48px
  .filter-select
    padding-left: 15px
    padding-right: 15px
    min-width: 176px
    display: flex
    justify-content: space-between
    &:hover
      & .filter-select-icon
        background-image: url(../../../landing_generator/assets/svg/arrow-down-white.svg)
  .custom-select
    &.is-active
      & .filter-select-icon
        transform: rotate(180deg)
  .filter-select-icon
    display: inline-flex
    width: 10px
    height: 6px
    background-image: url(../../../landing_generator/assets/svg/arrow-down-secondary.svg)
    background-repeat: no-repeat
    transform: rotate(0)
    transition: all .2s
    margin-left: 30px
</style>
