<template>
  <div class="vacancies-content-section__directions">
    <div class="vacancies-content-section__directions-mobile">
      <directionsSelect
        :currentDirection="currentDirection"
        :directions="computedDirections"
        :loading="loading"
        :filter="filter"
        :applyFilter="applyFilter"
      />
    </div>
    <div class="vacancies-content-section__directions-desktop">
      <v-btn
        v-for="direction of computedDirections"
        :key="direction.id"
        color="secondary"
        rounded
        large
        depressed
        :ripple="false"
        nuxt
        :outlined="filter.direction !== direction.id"
        :to="`/vacancies?location=${filter.location}&direction=${direction.id}`"
        :disabled="loading"
        class="vacancies-content-section__directions-desktop-btn"
        :class="{
          'vacancies-content-section__directions-desktop-btn_active': filter.direction === direction.id,
        }"
      >
        {{ direction.name }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import directionsSelect from '../../../landing_generator/components/sobre/directionsSelect'

export default {
  name: 'direction',
  props: [
    'currentDirection',
    'directions',
    'loading',
    'filter',
    'applyFilter',
  ],
  computed: {
    computedDirections() {
      return this.directions.map((direction) => ({ ...direction, name: this.$t(direction.name) }));
    },
  },
  components: {
    directionsSelect,
  },
}
</script>

<style lang="sass">
  .vacancies-content-section
    &__directions-mobile
      margin-top: 22px
      margin-bottom: 27px
      @media (min-width: $tb)
        display: none
      & .custom-select__body
        padding-left: 0
        left: 0
        right: 0
        width: 100%
    &__directions-desktop
      display: none
      margin-left: -16px
      margin-bottom: -16px
      margin-top: 52px
      @media (min-width: $tb)
        display: block
      @media (min-width: $lp)
        margin-top: 56px
      & .v-btn
        margin-left: 16px
        margin-bottom: 16px
        border: 1px solid #905db4
        padding-top: 11px!important
        padding-bottom: 11px!important
        @media (min-width: $md)
          max-width: 192px
        &:before
          opacity: 0!important
        & .v-btn__content
          line-height: 24px
          flex: auto
          white-space: normal
          text-align: center
      & .theme--light.v-btn.v-btn--disabled.v-btn--has-bg
        background-color: #fff!important
        &.vacancies-content-section__directions-desktop-btn_active
          background-color: #905db4!important
          color: #fff!important
      & .theme--light.v-btn.v-btn--disabled
        color: #905db4!important
    &__directions
      @media (min-width: $md)
        width: 209px
      @media (min-width: $lp)
        width: 265px
      &_desktop
        display: none
        @media (min-width: $md)
          display: block
      &_mobile
        @media (min-width: $md)
          display: none
</style>
