<template>
  <div>
    <section class="main-header-section">
      <div class="m-container">
        <h1 class="h1">{{ $t('firstSection.aboutUs') }}</h1>
      </div>
    </section>
    <section class="main-navigation-section">
      <div class="m-container">
        <mainNavigation
          :activeIndex="navigationActiveIndex"
          :links="links"
        />
      </div>
    </section>
  </div>
</template>

<script>
import mainNavigation from './mainNavigation'

export default {
  name: 'firstSection',
  props: [
    'navigationActiveIndex',
    'links',
  ],
  components: {
    mainNavigation,
  },
}
</script>

<style lang="sass">
.main
  &-header-section
    @media (min-width: $tb)
      background-image: linear-gradient(0deg, #F5F6F7, #F5F6F7), linear-gradient(89.5deg, #FBE9D7 0%, #EBF4F5 128.54%)
      & .m-container
        position: relative
        background-image: url("../../../landing_generator/assets/svg/intro-bg.svg")
        background-repeat: no-repeat
        background-position: right 52px bottom
        &::after
          position: absolute
          display: block
          content: ""
          width: 154px
          height: 154px
          background-image: url("../../../landing_generator/assets/svg/dots-bg.svg")
          background-repeat: no-repeat
          right: 0
          top: 135px
    & .h1
      margin: 32px 0
      @media (min-width: $tb)
        padding-top: 80px
        margin-top: 0
        padding-bottom: 65px
        margin-bottom: 0
  &-navigation-section
    @media (min-width: $tb)
      margin-top: -29px
    & .m-container
      padding: 0
</style>
