<template>
  <div class="list-navigation">
    <NuxtLink
      v-for="item of items"
      :key="item.to"
      :to="item.to"
      :event="loading ? '' : 'click'"
      class="list-navigation__item"
      :class="{
        'nuxt-link-exact-active': item.active,
      }"
    >{{ item.label }}</NuxtLink>
  </div>
</template>

<script>
export default {
  name: 'listNavigation',
  props: [
    'items',
    'loading',
  ],
}
</script>

<style lang="sass">
  .list-navigation
    border-bottom: 1px solid #BDBDBD
    padding-block: 13px
    @media (min-width: $tb)
      padding-block: 15px
    & a
      font-size: 16px
      line-height: 20px
      font-weight: 600
      color: #828282
      padding-bottom: 15px
      cursor: pointer
      transition: opacity .3s
      margin-right: 24px
      @media (min-width: $tb)
        padding-bottom: 12px
        font-size: 24px
        line-height: 28px
        margin-right: 32px
      &:last-child
        margin-right: 0
      &:hover
        opacity: .7
    & .nuxt-link-exact-active
      color: #000000
      border-bottom: 2px solid #905DB4
      opacity: 1!important
      @media (min-width: $tb)
        border-bottom: 4px solid #905DB4
</style>
