<template>
  <div class="main-navigation">
    <slideItems
      :activeIndex="activeIndex"
      :marginLeft="20"
      v-if="breakpoint !== '$xxs'"
    >
      <v-slide-item
        v-slot="{ active }"
      >
        <v-btn
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="!active"
          :to="links && links.aboutUs ? `/${links.aboutUs}` : '/about-us'"
        >
          {{ $t('mainNavigation.aboutUs') }}
        </v-btn>
      </v-slide-item>
      <v-slide-item
        v-slot="{ active }"
      >
        <v-btn
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="!active"
          :to="links && links.careerCenterStudents ? `/${links.careerCenterStudents}` : '/career-center-students'"
        >
          {{ $t('mainNavigation.careerCenter') }}
        </v-btn>
      </v-slide-item>
      <v-slide-item
        v-slot="{ active }"
      >
        <v-btn
          v-if="$app.config.current.b2bLink"
          color="secondary"
          rounded
          large
          depressed
          nuxt
          :ripple="false"
          :outlined="!active"
          :href="$app.config.current.b2bLink"
        >
          {{ $t('mainNavigation.b2b') }}
        </v-btn>
      </v-slide-item>
      <v-slide-item
        v-slot="{ active }"
      >
        <v-btn
          v-if="!$app.config.current.externalVacanciesLink"
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="!active"
          :to="links && links.vacancies ? `/${links.vacancies}` : '/vacancies'"
        >
          {{ $t('mainNavigation.jobs') }}
        </v-btn>
        <v-btn
          v-else
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          :outlined="true"
          nuxt
          :href="$app.config.current.externalVacanciesLink"
        >
          {{ $t('mainNavigation.jobs') }}
        </v-btn>
      </v-slide-item>
    </slideItems>
    <template v-else>
      <v-btn
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="activeIndex !== 0"
          :to="links && links.aboutUs ? `/${links.aboutUs}` : '/about-us'"
        >
          {{ $t('mainNavigation.aboutUs') }}
        </v-btn>
       <v-btn
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="activeIndex !== 1"
          :to="links && links.careerCenterStudents ? `/${links.careerCenterStudents}` : '/career-center-students'"
        >
         {{ $t('mainNavigation.careerCenter') }}
        </v-btn>
        <v-btn
          v-if="$app.config.current.b2bLink"
          color="secondary"
          rounded
          large
          depressed
          nuxt
          :ripple="false"
          :outlined="activeIndex !== 2"
          :href="$app.config.current.b2bLink"
        >
          {{ $t('mainNavigation.b2b') }}
        </v-btn>
        <v-btn
          v-if="!$app.config.current.externalVacanciesLink"
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="activeIndex !== 2"
          :to="linsk && links.vacancies ? `/${links.vacancies}` : '/vacancies'"
        >
          {{ $t('mainNavigation.jobs') }}
        </v-btn>
        <v-btn
          v-else
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          :outlined="activeIndex !== 2"
          :href="$app.config.current.externalVacanciesLink"
        >
          {{ $t('mainNavigation.jobs') }}
        </v-btn>
    </template>
  </div>
</template>

<script>
import slideItems from '../common/slideItems'
import breakpoints from '../../mixins/breakpoints.mixin'

export default {
  name: 'mainNavigation',
  props: [
    'activeIndex',
    'links',
  ],
  data() {
    return {
      wasMove: false,
    }
  },
  methods: {
    touchmove(){
      this.wasMove = true;
    },
    touchend(e, url){
      if (!this.wasMove) {
        e.stopPropagation();
        this.$router.push(url);
      }

      this.wasMove = false;
    },
  },
  components: {
    slideItems,
  },
  mixins: [
    breakpoints
  ]
}
</script>

<style lang="sass">
  .main-navigation
    height: auto
    margin-left: 20px
    margin-right: 20px
    @media (min-width: $xxs)
      height: 49px
      margin-left: unset
      margin-right: unset
    & .v-btn--active
      background-color: #905db4 !important
      color: #ffffff !important
      &:before
        opacity: 0!important
    & .v-btn
      background: #ffffff
      margin-bottom: 8px
      margin-right: 8px
      @media (min-width: $xxs)
        margin-bottom: unset
        margin-right: unset
    & .v-slide-group__content
      & .v-btn
        margin-left: 8px
        margin-right: 8px
        border: 1px solid #905db4
        padding-top: 11px!important
        padding-bottom: 11px!important
        & .v-btn__content
          line-height: 24px
        &:first-child
          margin-left: 20px
          @media (min-width: $tb)
            margin-left: 0
        &:last-child
          margin-right: 20px
          @media (min-width: $tb)
            margin-right: 0
</style>
