<template>
  <div class="vacancies-email">
    {{ $t('vacancies.emailText') }} <a class="link" :href="`mailto:${$t('vacancies.email')}`">{{ $t('vacancies.email') }}</a>
  </div>
</template>

<script>
export default {
  name: 'vacanciesEmail',
}
</script>

<style lang="sass">
  .vacancies-email
    font-size: 18px
    line-height: 24px
    color: #000000
    margin-top: 32px
    margin-bottom: 80px
    @media (min-width: $tb)
      margin-top: 40px
      margin-bottom: 100px
      width: 459px
    @media (min-width: $md)
      margin-top: 32px
      margin-bottom: 120px
      width: 209px
    @media (min-width: $lp)
      width: 265px
    &_desktop
      display: none
      @media (min-width: $md)
        display: block
    &_mobile
      display: block
      @media (min-width: $md)
        display: none
</style>
