<template>
  <div class="webinar__schedule webinar-info_block">
    <div class="webinar__schedule-title webinar-subtitle">
      <h2 class="webinar-subtitle">{{ $t('webinar.schedule.title') }}</h2>
      <div :class="{'webinar__schedule-title__close': true, 'closed': !display}" @click="toggleDisplay">
        <img src="../../assets/svg/arrow-down-secondary.svg" />
      </div>
    </div>

    <v-expand-transition>
      <div class="webinar__chedule-panels" v-show="display">
        <hr class="webinar-divider" />
        <v-expansion-panels accordion flat multiple v-model="panelModel">
          <slot></slot>
        </v-expansion-panels>
      </div>
    </v-expand-transition>
  </div>
</template>

<script>
export default {
  name: "webinarDetailedInfoSchedule",
  data() {
    return {
      panelModel: [],
      display: true
    }
  },
  methods: {
    toggleAll() {
      if (this.panelModel.length === 0) {
        this.panelModel = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      } else this.panelModel = []
    },
    toggleDisplay() {
      this.display = !this.display
      if (!this.display && this.panelModel.length > 0) this.toggleAll()
    }
  }
};
</script>

<style lang="sass">
.webinar__schedule
  // margin-bottom: 24px
  @media (min-width: 1024px)
    margin-bottom: 28px
    border-bottom: 1px solid #DBDBDE
  & .v-expansion-panel
    // padding-bottom: 24px
    // @media (min-width: 1024px)
      // padding-bottom: 28px
  & .v-expansion-panel:not(:last-child)
    margin-bottom: 24px
    padding-bottom: 24px
    border-bottom: 1px solid #DBDBDE
    @media (min-width: 1024px)
      margin-bottom: 28px
      padding-bottom: 28px
  & .v-expansion-panel-content__wrap
    padding-bottom: 0
    padding-top: 12px
    @media (min-width: 1024px)
      padding-top: 28px
  & .v-expansion-panel .v-expansion-panel-header__icon
    transition: transform .2s ease-in-out
    min-width: 24px
  & .v-expansion-panel--active .v-expansion-panel-header__icon
    transform: rotate(135deg)
  & .v-expansion-panel-header
    padding-top: 0
    padding-bottom: 0
    min-height: unset !important
  & .webinar__chedule-panels
    & a
      color: #d36133
      text-decoration: underline
  & .webinar__schedule-panels__item__header
    padding-right: 16px
  &-title
    display: flex
    justify-content: space-between
    & .webinar-subtitle
      flex: 1 !important
    &__close
      width: 24px
      height: 24px
      display: flex
      align-items: center
      justify-content: center
      transition: transform .2s ease-in-out
      transform: rotate(180deg)
      cursor: pointer
      &.closed
        transform: rotate(0deg)
      & img
        width: 14px
        height: 7px
  &-panels
    &__item
      &__header
        flex-direction: column
        &-time
          color: #905DB4
          margin-bottom: 8px
          font-size: 14px
          line-height: 16px
          @media (min-width: 1024px)
            font-size: 18px
            line-height: 24px
      // &__content
      //   & ul
      //     list-style: unset
      //     & li
      //       display: flex
      //       align-items: baseline
      //     & li:before
      //       content: "—"
      //       display: block
      //       color: rgb(144, 93, 180)
      //       margin-right: 6px
</style>
