<template>
  <div>
    <section class="page-header-section">
      <div :class="['m-container', { intro: intro }]">
        <webinars-bread-crumbs/>
        <h1 class="h1"><slot></slot></h1>
      </div>
    </section>
    <section class="page-search-section" v-if="search">
      <div class="m-container">
        <main-search @input="searchUpdated" :value="this.$route.query.search"/>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "webinarsPageHeader",
  props: {
    intro: Boolean,
    search: Boolean,
  },
  methods: {
    searchUpdated(e) {
      this.$router.push({path: this.$route.path, query: {...this.$route.query, search: e}, params: this.$route.params})
    }
  },
  components: {},
};
</script>

<style lang="sass">
.page
  &-header-section
    background-image: linear-gradient(0deg, #F5F6F7, #F5F6F7), linear-gradient(89.5deg, #FBE9D7 0%, #EBF4F5 128.54%)
    @media (min-width: $tb)
      & .m-container.intro
        position: relative
        background-image: url("~@/assets/svg/intro-bg.svg")
        background-repeat: no-repeat
        background-position: right 52px bottom
        &::after
          position: absolute
          display: block
          content: ""
          width: 154px
          height: 154px
          background-image: url("~@/assets/svg/dots-bg.svg")
          background-repeat: no-repeat
          right: 0
          top: 135px
    & > .m-container
      padding-top: 16px
      @media (min-width: $tb)
        padding-top: 58px
    & .h1
      margin-top: 0
      margin-bottom: 0
      padding-bottom: 53px
      padding-top: 0
      line-height: 38px
      @media (min-width: $tb)
        padding-top: 0
        line-height: 66.66px
        padding-bottom: 61px
  &-search-section
    margin-top: -29px
    margin-bottom: 24px
    @media (min-width: $tb)
      margin-bottom: 48px
</style>
