<template>
  <!-- <div>{{crumbs.map(i => i.title).join(' > ')}}</div> -->
  <div class="webinars-breadcrumbs">
    <div v-for="(crumb, i) in crumbs" :key="crumb.title" class="webinars-breadcrumbs__item">
      <template v-if="i !== crumbs.length - 1">
        <nuxt-link class="webinars-breadcrumbs__item-title" :to="crumb.url">{{crumb.title}}</nuxt-link>
        <img class="webinars-breadcrumbs__item-divider" src="../../assets/svg/right-arrow-grey.svg" />
      </template>
      <template v-else>
        <span class="webinars-breadcrumbs__item-title last">{{crumb.title}}</span>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'webinarsBreadCrumbs',
  data() {
    return {
      crumbs: []
    }
  },
  props: {
    directionId: Number
  },
  fetch() {
    this.crumbs = [
      {
        title: 'Home',
        url: '/'
      },
      {
        title: 'Webinars',
        url: '/webinars'
      }
    ]

    let findedDirection;
    if (this.directionId) {
      findedDirection = this.$store.state.webinars.directions.find(i => i.id === this.directionId)
      
    } else {
      const directionName = this.$route.params.direction
      if (directionName) {
        if (this.$store.state.webinars.directions.length > 0) {
          findedDirection = this.$store.state.webinars.directions.find(i => i.eventSlug === directionName)
        }
      }
    }

    if (findedDirection) {
      this.crumbs.push({
        title: findedDirection.name,
        url: `/webinars/${findedDirection.eventSlug}`
      })
    }
  }
}
</script>

<style lang="sass">
.webinars-breadcrumbs
  display: flex
  align-items: flex-start
  margin-bottom: 12px
  &__item
    display: flex
    align-items: center
    &-title
      font-size: 14px
      line-height: 16px
      color: #828282 !important
      @media (min-width: 1024px) 
        font-size: 16px
        line-height: 22px
    &-title.last
      color: #905DB4 !important
    &-divider
      display: inline-block
      width: 12px
      height: 12px
      margin-left: 10px
      margin-right: 10px
</style>