<template>
  <v-card
    class="info-dialog"
  >
    <div
      @click="$store.commit('webinars/setPreRegisterDialog', false)"
      class="close-dialog"
      v-show="!$store.state.webinars.registerDialogSilent"
    />

    <div class="info-dialog__title" v-html="$t('webinar.preRegister.title')"/>

    <div class="info-dialog__description" style="text-align: center;" v-html="$t('webinar.preRegister.description')"/>

    <div class="info-dialog__actions">
      <v-btn
        class="info-dialog__button info-dialog__button_full-width"
        color="primary"
        rounded
        depressed
        x-large
        :ripple="false"
        @click="openRegisterDialog"
        :loading="$store.state.webinars.registerDialogSilent"
      >
        {{ $t('webinar.preRegister.submit') }}
      </v-btn>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ['webinar'],
  methods: {
    openRegisterDialog() {
      this.$store.dispatch('webinars/openRegisterDialog', { user: this.$app.user, webinar: this.webinar })

      if (!this.$app.user) {
        this.$store.commit('webinars/setPreRegisterDialog', false);
      }
    }
  }
};
</script>