<template>
  <div :class="['webinar-main_info', { live: webinar.activeTopic.status === 'live' }]">
    <div class="webinar-main_info-title">
      <h1>{{webinar.name}}</h1>
      <div :class="{'webinar-main_info-title-chevron': true, 'opened': $store.state.webinars.moreInfo}" @click="toggleMoreInfo">
        <img src="../../assets/svg/arrow-down-secondary.svg" />
      </div>
    </div>
    <div class="webinar-main_info-type"><v-chip label>{{type}}</v-chip></div>

    <div class="webinar-main_info__stream" v-if="$store.state.webinars.selectedTopic.status === 'live'">
      <!-- <span class="webinar-main_info__stream-watching">Now watching: 2 647</span> -->
      <!-- <span> · </span> -->
      <!-- <span class="webinar-main_info__stream-ago">Broadcast started 4 hours ago</span> -->
    </div>
    <div class="webinar-main_info__stream" v-if="$store.state.webinars.selectedTopic.status === 'finished'">
      <span class="webinar-main_info__stream-watching">{{formatDate($store.state.webinars.selectedTopic.topicDateUtc)}}</span>
      <!-- <span class="webinar-main_info__stream-ago">3265</span> -->
    </div>
    <div class="webinar-main_info-time" v-else-if="$store.state.webinars.selectedTopic.status === 'upcoming'"><v-chip label>{{ $t('webinar.topic.status.upcoming') }}: {{webinar.startDateText}}</v-chip></div>

    <v-expand-transition>
      <div class="webinar-main_info-description" v-show="$store.state.webinars.moreInfo">
        <div class="webinar-main_info-description-wrapper" v-html="processedWebinarDescription"></div>
      </div>
    </v-expand-transition>
<!--    <template v-if="$store.state.webinars.selectedTopic.status === 'upcoming'">-->
<!--      <div class="webinar-main_info-register" v-if="$store.state.webinars.currentSubscribed === false">-->
<!--        <v-btn rounded color="primary" elevation="0" @click="openRegisterDialog" :loading="$store.state.webinars.registerDialogSilent">Inscreva-se</v-btn>-->
<!--      </div>-->
<!--    </template>-->

    <v-dialog
      :value="$store.state.webinars.preRegisterDialog"
      @input="$store.commit('webinars/setPreRegisterDialog', false)"
      :max-width="440"
      :persistent="$store.state.webinars.registerDialogSilent"
    >
      <webinar-pre-detailed-register-form :webinar="webinar" />
    </v-dialog>

    <v-dialog
      :value="$store.state.webinars.registerDialog"
      @input="$store.commit('webinars/setRegisterDialog', false)"
      :max-width="$store.state.webinars.registerDialogSilent ? 0 : 564"
      :hide-overlay="$store.state.webinars.registerDialogSilent"
      :persistent="$store.state.webinars.registerDialogSilent"
    >
      <webinar-detailed-register-form
        :webinar-id="webinar.id"
        :slug="webinar.slug"
        :showPhoneField="true"
        :display.sync="$store.state.webinars.registerDialog"
        :thanks.sync="thanks"
        :eventCategory="webinar.name"
      ></webinar-detailed-register-form>
    </v-dialog>
    <v-dialog v-model="thanks" :max-width="440">
      <div class="register-form register-form-thanks">
        <div class="register-form-close" @click="thanks = false"><img src="../../assets/svg/close-dialog-desktop.svg" /></div>
        <div class="register-form-thanks-icon"><img src="../../assets/svg/success-img.svg" /></div>
        <div class="register-form-thanks-title">{{ $t('webinar.register.thanks.title') }}</div>
        <div class="register-form-thanks-text" v-html="$t('webinar.register.thanks.text')"></div>
        <div class="register-form-thanks-button"><v-btn elevation="0" color="primary" @click="thanks = false">{{ $t('webinar.register.thanks.ok') }}</v-btn></div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import webinarDetailedRegisterForm from './webinarDetailedRegisterForm.vue';
import webinarPreDetailedRegisterForm from './webinarPreDetailedRegisterForm.vue';
import addBlankTargets from '../../utils/addBlankTargets'
import { getWebinarType } from '../../pages/webinars/_types'

export default {
  components: { webinarDetailedRegisterForm, webinarPreDetailedRegisterForm },
  name: "webinarDetailedMainInfo",
  props: {
    webinar: Object
  },
  data() {
    return {
      thanks: false,
    }
  },
  computed: {
    processedWebinarDescription() {
      const webinarDescription = this.webinar.description;

      return addBlankTargets(webinarDescription);
    },
    type() {
      return this.$t(getWebinarType(this.webinar.type));
    },
  },
  methods: {
    formatDate(textUtcDate) {
      return this.$dayjs.utc(textUtcDate)
        .utcOffset(this.$app.config.current.utcOffset)
        .locale(this.$i18n.locale)
        .format("DD [de] MMMM [de] YYYY, HH:mm")
    },
    toggleMoreInfo() {
      this.$store.commit('webinars/setMoreInfo', !this.$store.state.webinars.moreInfo)
    },
    openRegisterDialog() {
      this.$store.dispatch('webinars/openRegisterDialog', { user: this.$app.user, webinar: this.webinar })
    }
  },
};
</script>

<style lang="sass">
.webinar-main_info
  display: flex
  flex-wrap: wrap
  align-items: center
  padding-bottom: 24px
  @media (min-width: 768px)
    padding-bottom: 12px
  &-description-wrapper
    & a
      color: #d36133
      text-decoration: underline
  & .v-chip.v-size--default
    height: auto
    padding: 4px 8px
    font-size: 14px
    line-height: 16px
    @media (min-width: 1024px)
      padding: 4px 16px
      font-size: 18px
      line-height: 24px
  &-title-chevron
    width: 24px
    height: 24px
    display: flex
    align-items: center
    justify-content: center
    transition: transform .2s ease-in-out
    margin-left: 12px
    @media (min-width: 1024px)
      display: none
    img
      width: 14px
      height: 7px
  &-title-chevron.opened
    transform: rotate(180deg)
  &-title
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 12px
    flex: 1 0 100%
    h1
      font-weight: 600
      margin-top: 0
      font-size: 20px
      line-height: 26px
      margin-bottom: 0
    @media (max-width: 767px)
      margin-bottom: 4px
    @media (min-width: 768px)
      order: 1
      margin-bottom: 8px
    @media (min-width: 1024px)
      h1
        font-size: 32px
        line-height: 38px
      margin-bottom: 16px
  &-description
    line-height: 24px
    // margin-top: 12px
    flex: 1 0 100%
    font-size: 18px
    order: 5
    @media (min-width: 768px)
      order: 2
      // margin-top: 0
      // margin-bottom: 20px
    @media (max-width: 1023px)
      font-size: 16px
    &-wrapper
      margin-top: 12px
      @media (min-width: 768px)
        margin-top: 0
        margin-bottom: 20px
  &-register
    margin-top: 24px
    flex: 1 0 100%
    display: flex
    order: 6
    @media (min-width: 768px)
      display: block
      order: 3
      flex: 1
      margin-top: 0
    & .v-btn
      height: 40px !important
      margin: auto
      & .v-btn__content
        font-size: 18px
        line-height: 24px
        font-weight: 400
      @media (max-width: 767px)
        width: 280px
        height: 48px !important
      @media (min-width: 768px)
        text-transform: unset
        font-size: 16px
        line-height: 22px
  &-type
    @media (min-width: 768px)
      order: 4
    @media (min-width: 1024px)
      & .v-chip--label
        border-radius: 8px !important
  &-type, &-register
    margin-right: 8px
    @media (min-width: 1024px)
      margin-right: 12px
  &-time
    & .theme--light.v-chip.v-chip--label
      white-space: normal
    & .theme--light.v-chip.v-chip--label
      color: #905DB4
      background-color: rgba(144, 93, 180, 0.2)
    @media (min-width: 768px)
      order: 5
    @media (min-width: 1024px)
      max-width: 397px
      & .v-chip--label
        border-radius: 8px !important
    @media (min-width: 1280px)
      max-width: unset
  &-time, &-type
    @media (max-width: 767px)
      margin-top: 8px
    & .theme--light.v-chip::before
      opacity: 0 !important
  &__stream
    order: 4
    color: #828282
    @media (max-width: 767px)
      margin-top: 12px
</style>
