<template>
  <div class="webinar__recommended" v-if="items && items.length">
    <h3 class="webinar__recommended-title">{{ $t('webinar.recommends') }}</h3>
    <div class="webinar__recommended-items">
      <webinars-item v-for="item in items" :item="item" :key="item.id" snippet />
    </div>

    <hr class="mobile" />
  </div>
</template>

<script>
import webinarsItem from "./webinarsItem.vue";
export default {
  components: { webinarsItem },
  name: "webinarDetailedReccomended",
  props: {
    webinar: Object,
    exclude: Array,
  },
  data() {
    return {
      items: [],
    };
  },
  async fetch() {
    let response;
    try {
      response = await this.$axios({
        method: "post",
        url: this?.$nuxt?.$config?.CMS_REST_API ? `${this.$nuxt.$config.CMS_REST_API}/public/events/`:`https://cms.ebaconline.com.br/api/public/events/`,
        data: {
          limit: 3,
          offset: 0,
          directions: this.webinar?.directionId
            ? [this.webinar?.directionId]
            : [],
          exclude: this.exclude,
          published: true,
        },
      });
    } catch (e) {
      console.error(e);
    }

    this.items = response.data.data.data;
  },
};
</script>

<style lang="sass">
.webinar__recommended
  margin-top: 24px
  margin-bottom: 24px
  @media (min-width: 1024px)
    margin-bottom: 32px
    margin-top: 0
  &-title
    font-size: 20px
    line-height: 26px
    font-weight: 600
    margin-bottom: 16px
    @media (min-width: 1024px)
      font-size: 24px
      line-height: 32px
      font-weight: 400
  &-items
    display: block
    margin-left: -14px
    margin-right: -14px
    @media (min-width: 768px)
      display: flex
    @media (min-width: 1024px)
      display: block
      margin: 0
</style>