<template>
  <div class="webinar-opinion">
    <ValidationObserver v-slot="{ handleSubmit }" ref="form">
      <h4 class="webinar-opinion-title">{{ $t('webinar.opinion.title') }}</h4>
      <form @submit.prevent="handleSubmit(onSubmit)">
        <div class="webinar-opinion-text-wrapper">
          <ValidationProvider
            mode="custom"
            name="opinion"
            rules="required"
            v-slot="{ errors }"
          >
            <v-textarea
              class="webinar-opinion-text"
              v-model="text"
              :label="$t('webinar.opinion.label.text')"
              solo
              :error-messages="errors.length ? $t('webinar.opinion.error.text') : ''"
            ></v-textarea>
          </ValidationProvider>
        </div>
        <div class="webinar-opinion-email-wrapper">
          <ValidationProvider
            mode="custom"
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <hint-email
              class="webinar-opinion-email"
              v-model="email"
              :label="$t('webinar.opinion.label.email')"
              :error-messages="errors.length ? $t('webinar.opinion.error.email') : ''"
            />
          </ValidationProvider>
        </div>
        <div class="webinar-opinion-privacy-policy">{{ $t('webinar.opinion.privacy') }} <a
          href="https://ebaconline.com.br/files/Politica_de_privacidade.pdf"
          target="_blank"
          >{{ $t('webinar.opinion.privacy.link') }}</a
        ></div>
        <div class="webinar-opinion-btn">
          <v-btn
            color="primary"
            rounded
            depressed
            x-large
            :ripple="false"
            type="submit"
            :loading="loading.form"
          >
            {{ $t('webinar.opinion.submit') }}
          </v-btn>
        </div>
        <input type="hidden" name="source_id" tabindex="-1" :value="formId" />
        <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from "vee-validate";
import HintEmail from "../common/hintEmail";
import addAnyFormFields from '../../utils/addAnyFormFields';
export default {
  name: "webinarDetailedOpinion",
  components: {
    ValidationProvider,
    ValidationObserver,
    HintEmail,
  },
  data() {
    return {
      text: "",
      email: "",

      formId: "opinion",
      errors: [],
      loading: {
        form: false,
      },

      thanks: false
    };
  },
  methods: {
    async onSubmit() {
      this.thanks = true;
    }
  },
  mounted() {
    const addAnyFormFieldsBinded = addAnyFormFields.bind(this)
    setTimeout(async () => await addAnyFormFieldsBinded({ ref: this.$refs.form }), 0);
  }
};
</script>

<style lang="sass">
.webinar-opinion
  margin-left: -4px
  margin-right: -4px
  border-radius: 8px
  background-color: #F5F5F5
  padding: 16px 20px
  margin-bottom: 24px
  &-title
    margin-bottom: 16px
    font-size: 16px
    line-height: 20px
    font-weight: 600
    @media (min-width: 1024px)
      margin-bottom: 24px
      font-size: 24px
      line-height: 28px
  &-text
    min-height: 266px
    & .v-input__slot
      max-height: unset !important
    & textarea
      line-height: 24px !important
      font-size: 16px !important
      height: 266px
    & .v-label
      white-space: normal
      height: unset
      line-height: 24px !important
      font-size: 16px
      @media (min-width: 1280px)
        font-size: 18px
  &-email
    input, .v-label
      font-size: 16px !important
      line-height: 22px !important
      @media (min-width: 1280px)
        font-size: 18px
        line-height: 16px
  &-privacy-policy
    font-size: 14px
    line-height: 16px
    color: #828282
    & a
      text-decoration: underline
  &-btn
    margin-top: 24px
    display: flex
    justify-content: center
    & button
      width: 264px
      height: 48px !important
      border-radius: 24px !important
      line-height: 24px !important
      font-size: 18px !important
  & form
    @media (min-width: 768px)
      display: flex
      flex-wrap: wrap
      & .webinar-opinion-text-wrapper
        width: 100%
      & .webinar-opinion-email-wrapper
        flex: 1
      & .webinar-opinion-privacy-policy
        order: 5
        width: 100%
        font-size: 16px
        line-height: 22px
      & .webinar-opinion-btn
        flex: 0 0 108px
        margin-top: 0
        margin-left: 24px
        & button
          width: 108px
          height: 56px !important
          border-radius: 40px !important
          line-height: 16px !important
</style>
