<template>
  <div class="webinar-call_to_action__item-wrapper">
    <div class="webinar-call_to_action__item">
      <div class="webinar-call_to_action__item__body">
        <div class="webinar-call_to_action__item__body-subtitle">
          {{ subtitle }}
        </div>
        <div class="webinar-call_to_action__item__body-title">
          {{ title }}
        </div>
      </div>
      <div class="webinar-call_to_action__item-actions">
        <v-btn elevation="0" rounded :href="buttonUrl" target="_blank" @click="dataLayerHandler">{{
          buttonText
        }}</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "webinarDetailedUnauthorizeBanner",
  props: ['title', 'subtitle', 'buttonUrl', 'buttonText', 'eventName'],
  methods: {
    dataLayerHandler() {
      this.$gtm.push({'event': 'autoEvent', 'eventCategory': 'webinar_click', 'eventAction': 'buy_course', 'eventLabel': this.eventName})
    }
  }
};
</script>

<style lang="sass">
.webinar-call_to_action__item-wrapper
  padding-top: 28px
.webinar-call_to_action__item-wrapper:first-child
  padding-top: 0

.webinar-call_to_action__item-wrapper:nth-child(3n - 2)
  & .webinar-call_to_action__item
    background-color: #D3E5D3
.webinar-call_to_action__item-wrapper:nth-child(3n - 1)
  & .webinar-call_to_action__item
    background-color: #A6E7F5
.webinar-call_to_action__item-wrapper:nth-child(3n)
  & .webinar-call_to_action__item
    background-color: #DED8F4

.webinar-call_to_action__item
  display: flex
  align-items: center
  padding: 24px
  border-radius: 8px
  @media (max-width: 767px)
    display: block
    padding: 16px
  &__body
    flex: 1
    color: #2F3D2F
    &-title
      font-weight: 600
      font-size: 16px
      line-height: 20px
      @media (min-width: 1024px)
        font-size: 20px
        line-height: 26px
    &-subtitle
      font-size: 14px
      line-height: 16px
      @media (min-width: 1024px)
        font-size: 16px
        line-height: 22px
  &-actions
    @media (min-width: 768px)
      margin-left: 12px
    @media (max-width: 767px)
      margin-top: 12px
    & .v-btn
      color: white
      background: #E9A19F !important
      text-transform: unset
      font-size: 14px
      line-height: 16px
      height: 26px
      @media (min-width: 1024px)
        font-size: 16px
        line-height: 22px
        height: 32px
      @media (max-width: 767px)
        font-weight: 400
</style>