<template>
  <div
    v-if="computedIsDisplay"
    class="webinar-promo-block-registration"
  >
    <div class="webinar-promo-block-registration__content">
      <div class="text">
        {{ $t('webinar.promo.register.title') }}
      </div>
      <v-btn
        color="primary"
        rounded
        depressed
        :ripple="false"
        @click="openRegisterDialog"
      >
        {{ $t('webinar.promo.register.submit') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "webinarDetailedPromoBlockRegistration",
  props: [
    'webinar',
    'checkSubscriptions',
  ],
  data() {
    return {
      isDisplay: false,

      timer: null,
      endTimer: null,
    };
  },
  computed: {
    subscribed() {
      return this.$store.state.webinars.currentSubscribed
    },
    computedIsDisplay() {
      const isDisplay = this.isDisplay;
      const forcelive = this.$store.state.webinars.forcelive;
      const subscribed = this.subscribed;

      return isDisplay && !forcelive && !subscribed;
    },
  },
  async mounted() {
    this.setDisplay();
  },
  beforeDestroy() {
    clearTimeout(this.timer);
    clearTimeout(this.endTimer);

    this.$app.ui.webinars.isDisplayPromoBlockRegistration = false;
  },
  methods: {
    setDisplay() {
      if (this.$store.state.webinars.selectedTopic) {
        const now = this.$dayjs();
        const topicDate = this.$dayjs(this.$store.state.webinars.selectedTopic.topicDateUtc);
        const diffTime = topicDate.diff(now);

        // Пользователь зашел до начала трансляции
        if (diffTime > 0)  {
          this.timer = setTimeout(this.setDisplay, diffTime);
          this.isDisplay = true;
          return;
        }

        // Трансляция закончилась, пользователь зашел после this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER
        if ((diffTime * -1) > Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER)) {
          if (this.webinar.topics[this.webinar.topics.length - 1].num === this.webinar.activeTopic.num) {
            this.isDisplay = false;
          } else {
            this.isDisplay = true;
          }

          return;
        }

        // Трансляция идет
        this.isDisplay = false;
        this.endTimer = setTimeout(this.setDisplay, Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER) - (diffTime * -1));
      }
    },
    openRegisterDialog() {
      this.$store.dispatch('webinars/openRegisterDialog', { user: this.$app.user, webinar: this.webinar })
    }
  },
  watch: {
    computedIsDisplay() {
      this.$app.ui.webinars.isDisplayPromoBlockRegistration = this.computedIsDisplay;
    },
  },
};
</script>

<style
  lang="sass"
  scoped
>
.webinar-promo-block-registration
  position: fixed
  left: 20px
  right: 20px
  bottom: 32px
  z-index: 2
  @media (min-width: $tb)
    position: relative
    left: auto
    right: auto
    bottom: auto
    padding: 12px 16px
    background: #F6F5FA
  &__content
    display: flex
    justify-content: center
    align-items: center
    @media (min-width: $tb)
      justify-content: space-between
  & .v-btn
    width: 100%
    font-size: 16px
    line-height: 22px
    font-weight: 400
    padding: 0 24px
    height: 48px
    @media (min-width: 600px)
      width: 559px
    @media (min-width: $tb)
      text-transform: unset
      height: 40px
      width: auto
  & .text
    display: none
    @media (min-width: $tb)
      display: block
      font-weight: 600
      color: #2F3D2F
      font-size: 16px
      line-height: 20px
</style>
