<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      <div class="webinar__schedule-panels__item__header">
        <div class="webinar__schedule-panels__item__header-time">
          <slot name="header_date"></slot>
        </div>
        <div
          class="webinar__schedule-panels__item__header-title"
        >
          <h3 class="webinar-subtitle"><slot name="header_title"></slot></h3>
        </div>
      </div>
      <template v-slot:actions>
        <img class="webinar__schedule-panels__item__cross" src="../../assets/svg/expansion-panel-icon-24.svg" />
        <img class="webinar__schedule-panels__item__cross mobile" src="../../assets/svg/expansion-panel-icon-12.svg" />
        <img class="webinar__schedule-panels__item__cross hover" src="../../assets/svg/icon-plus.svg" />
      </template>
    </v-expansion-panel-header>
    <v-expansion-panel-content class="webinar__schedule-panels__item__content">
      <slot name="content"></slot>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  name: "webinarDetailedInfoScheduleItem",
};
</script>

<style lang="sass">
.webinar__schedule-panels__item__content
  & .webinar-info_block
    border: unset !important
    margin-top: 0 !important
    margin-bottom: 0
    padding-bottom: 0
  & .webinar__speaker-block
    margin-top: 0 !important
.v-expansion-panel-header__icon
  position: relative
  height: 24px
  width: 24px
  &:hover
    .webinar__schedule-panels__item__cross.hover
      opacity: 1
.webinar__schedule-panels__item__cross
  position: absolute
  top:0
  left:0
  @media (max-width: 1023px)
    display: none
.webinar__schedule-panels__item__cross.mobile
  width: 12px
  height: 12px
  left: 6px
  top: 6px
  display: none
  @media (max-width: 1023px)
    display: block
.webinar__schedule-panels__item__cross.hover
  transition: opacity .2s ease-in-out
  opacity: 0
  z-index: 10
  left: -4px
  top: -4px
</style>