<template>
  <div :class="['webinars-items__item-wrapper', {snippet: snippet}]" v-if="item">
    <a class="webinars-items__item" :href="href" @click="clickHandler">
      <div class="webinars-items__item-image">
        <div
          v-if="item.registered"
          class="webinars-items__item-image__status webinars-items__item-image__status--registered"
        >
          {{ $t('webinar.registered') }}
        </div>
        <div
          v-if="item.imageDate"
          class="webinars-items__item-image__status webinars-items__item-image__status--date"
        >
          <img src="../../assets/svg/LTE.svg" />
          {{ item.imageDate }}
        </div>
        <div
          v-if="item.duration"
          class="webinars-items__item-image__status webinars-items__item-image__status--duration"
        >
          {{ item.duration }}
        </div>

        <img :src="item.images.showcaseImage.url" v-if="item.images.showcaseImage" />
        <img src="https://via.placeholder.com/300" v-else />
      </div>
      <h4 class="webinars-items__item-title">{{ item.name }}</h4>
      <div class="webinars-items__item-tags">
        <div class="webinars-items__item-tags__status webinars-items__item-tags__status--live" v-if="statusLive">· {{ $t('webinar.topic.status.live') }}</div>
        <div class="webinars-items__item-tags__status webinars-items__item-tags__status--upcoming" v-else-if="statusUpcoming">{{ $t('webinar.topic.status.upcoming') }}</div>
        <div class="webinars-items__item-tags__status webinars-items__item-tags__status--passed" v-else-if="statusPassed">{{ $t('webinar.topic.status.passed') }}</div>

        <div class="webinars-items__item-tags__divider">&nbsp;·&nbsp;</div>
        <div class="webinars-items__item-tags__type">
          {{ type }}
        </div>
      </div>
      <div class="webinars-items__item-info">
        <div class="webinars-items__item-info__datetime">
          {{ !!item.startDateText ? item.startDateText : startDateLocalString }}
        </div>
        <div class="webinars-items__item-info__views" v-if="item.views">
          {{ item.views }}
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import { getWebinarType } from '../../pages/webinars/_types'

export default {
  name: "webinarsItem",
  props: {
    item: Object,
    snippet: Boolean
  },
  computed: {
    href() {
      return (this.statusPassed && this.item.recordLink) ? this.item.recordLink : this.item.pageUrl
    },
    type() {
      return this.$t(getWebinarType(this.item.type));
    },

    startDateLocal() {
      return this.utcOffset(this.item.startDateUtc)
    },
    startDateLocalString() {
      return this.format(this.startDateLocal)
    },
    currentDateLocal() {
      return this.utcOffset(this.$dayjs.utc())
    },
    currentDateLocalString() {
      return this.format(this.currentDateLocal)
    },

    statusPassed() {
      // return this.currentDateLocal.isAfter(this.startDateLocal)
      // return !!this.item.nearestUpcomingTopic
      return !this.statusLive && !this.statusUpcoming
    },
    statusLive() {
      // return this.currentDateLocal.isAfter(this.startDateLocal) && this.currentDateLocal.isBefore(this.startDateLocal.clone().add(2, 'hours'))
      return !!this.item.nearestLiveTopic
    },
    statusUpcoming() {
      // return this.currentDateLocal.isBefore(this.startDateLocal)
      return !!this.item.nearestUpcomingTopic
    }
  },
  methods: {
    format(date) {
      return this.$dayjs(date).format("DD.MM.YYYY, HH:mm")
    },
    utcOffset(utcString) {
      return this.$dayjs.utc(utcString).utcOffset(this.$app.config.current.utcOffset)
    },
    clickHandler() {
      if (this.snippet) {
        this.$gtm.push({'event': 'autoEvent', 'eventCategory': 'webinar_click', 'eventAction': 'recommendations', 'eventLabel': this.item.name})
      }
    }
  }
};
</script>

<style lang="sass">
.webinars-items
  &__item-wrapper
    padding: 0 16px
    flex: 0 1 25%
    margin-bottom: 52px
    @media (max-width: 1279px)
      flex: 0 1 33.333333%
      @media (max-width: 767px)
        flex: 0 1 50%
        @media (max-width: 539px)
          flex: 1 1 100%
  &__item
    display: block
    color: inherit
    text-decoration: unset
    &-image
      height: 162px
      border-radius: 4px
      overflow: hidden
      position: relative
      @media (min-width: 768px) and (max-width: 1279px)
        height: 178px
      img
        width: 100%
        height: 100%
        object-fit: cover
      &__status
        font-size: 16px
        line-height: 22px
        position: absolute
        left: 12px
        bottom: 12px
        border-radius: 4px
        color: #ffffff
        padding: 4px 8px
        & img
          width: 22px
          height: 22px
          object-fit: contain
          display: inline-block
          vertical-align: bottom
        &--registered
          background-color: #D36133
        &--date
          background-color: rgba(0, 0, 0, 0.8)
          bottom: unset
          top: 12px
        &--duration
          left: unset
          right: 12px
          background-color: rgba(0, 0, 0, 0.8)
    &-title
      font-size: 20px
      font-weight: 600
      line-height: 26px
      margin-top: 16px
      margin-bottom: 12px
      max-height: 78px
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 3
      overflow: hidden
      color: black
      @media (max-width: 767px)
        margin-bottom: 8px
    &-tags
      font-size: 18px
      line-height: 24px
      margin-top: 12px
      margin-bottom: 12px
      display: flex
      flex-wrap: wrap
      align-items: center
      @media (max-width: 767px)
        margin-top: 8px
        margin-bottom: 8px
      &__status
        white-space: nowrap
        @media (max-width: 767px)
          font-size: 16px
        &--upcoming
          color: #905DB4
        &--live
          color: #ffffff
          background-color: #C73535
          line-height: 14px
          padding: 4px 8px
          margin-right: 4px
          border-radius: 4px
          text-transform: uppercase
          font-size: 14px
          line-height: 16px
          height: 24px
          @media (min-width: 1024px)
            font-size: 12px
            line-height: 14px
            height: 18px
            padding: 2px 8px
          @media (min-width: 1280px)
            font-size: 14px
            line-height: 14px
            height: 22px
            font-weight: 600
            padding: 4px 8px
        &--passed
          color: #379769
      &__type
        color: #828282
        white-space: nowrap
        @media (max-width: 767px)
          font-size: 16px
    &-info
      font-size: 18px
      line-height: 24px
      margin-top: 12px
      color: #828282
      display: flex
      @media (max-width: 767px)
        margin-top: 8px
      &__datetime
        line-height: 22px
        @media (max-width: 767px)
          font-size: 16px
          line-height: 20px
      &__views
        margin-left: 25px
        &::before
          content: url(../../assets/svg/eye.svg)
          vertical-align: middle
          display: inline-block
          margin-right: 9px
          margin-top: 1px

  &__item-wrapper.snippet
    padding: 0 14px
    margin-bottom: 24px
    &:last-child
      margin-bottom: 0
    @media (min-width: 768px)
      margin-bottom: 0
      & .webinars-items__item
        &-image
          height: 140px
    @media (min-width: 1024px)
      padding: 0
      margin-bottom: 24px
      & .webinars-items__item
        display: grid
        grid-template-columns: 156px auto auto auto
        &-image
          grid-row: 1/4
          grid-column: 1

          width: 144px
          height: 98px
          margin-right: 12px
        &-title
          grid-row: 1
          grid-column: 2

        &-tags
          grid-row: 2
          grid-column: 2
        &-info
          grid-row: 3
          grid-column: 2
    @media (min-width: 1280px)
      & .webinars-items__item
        grid-template-columns: 178px auto auto auto
        &-image
          width: 166px
          height: 102px
    & .webinars-items__item
      &-title
        font-size: 20px
        line-height: 26px
        @media (min-width: 768px)
          font-size: 16px
          line-height: 20px
        @media (min-width: 1024px)
          font-size: 14px
          line-height: 18px
          margin-top: 0
          margin-bottom: 8px
      &-info
        font-size: 16px
        line-height: 24px
        @media (min-width: 1024px)
          margin-top: 0
          font-size: 12px
          line-height: 14px
        @media (min-width: 1280px)
          font-size: 14px
          line-height: 14px
          font-weight: 500
      &-tags
        font-size: 16px
        line-height: 24px
        @media (min-width: 1024px)
          font-size: 12px
          line-height: 14px
          margin-top: 0
          margin-bottom: 8px
        @media (min-width: 1280px)
          font-size: 14px
          line-height: 14px
          font-weight: 500
</style>
