<template>
  <div class="webinar-call_to_action webinar-info_block" v-if="$store.state.webinars.selectedTopic.callToActions.length">
    <!-- <hr /> -->
    <div>
      <webinar-detailed-call-to-action-item
        v-for="(item, i) in $store.state.webinars.selectedTopic.callToActions"
        :key="i"
        :title="item.title"
        :subtitle="item.subtitle"
        :buttonText="item.buttonText"
        :buttonUrl="item.buttonUrl"
        :eventName="webinar.name"
      />
    </div>
  </div>
</template>

<script>
import webinarDetailedCallToActionItem from "./webinarDetailedCallToActionItem.vue";
export default {
  components: { webinarDetailedCallToActionItem },
  name: "webinarDetailedCallToAction",
  props: {
    webinar: Object,
  },
};
</script>

<style lang="sass">
.webinar-call_to_action
  border-top: 1px solid #DBDBDE
</style>