<template>
  <div
    v-if="(isDisplay || $store.state.webinars.forcelive) && $store.state.webinars.selectedTopic.callToActions.length"
    class="webinar-promo-block-sign-up-for-a-course"
  >
    <div class="webinar-promo-block-sign-up-for-a-course__content">
      <div class="sign-up-text">
        <div class="sign-up-text__subtitle">
          {{ callToAction.subtitle }}
        </div>
        <h4 class="sign-up-text__title">
          {{ callToAction.title }}
        </h4>
      </div>
      <div class="btn-wrapper">
        <v-btn
          v-if="callToAction.buttonText"
          color="primary"
          rounded
          depressed
          :ripple="false"
          :href="callToAction.buttonUrl"
          target="_blank"
          @click="dataLayerHandler"
        >
          {{ callToAction.buttonText }}
        </v-btn>
      </div>
      <div class="additional-block">
        <div class="additional-block__number">
          {{ counter }}
        </div>
        <div class="additional-block__text">
          {{ $t('webinar.promo.discount') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import md5 from 'js-md5'

export default {
  name: "webinarDetailedPromoBlockSignUpForACourse",
  props: [
    'webinar',
  ],
  data() {
    return {
      isDisplay: false,

      timer: null,
      endTimer: null,

      counter: 0,
      counterTimer: null,
      counterList: [],
    };
  },
  mounted() {
    this.setDisplay();

    this.counterList = this.genCounter({ salt: `${this.webinar.id}${this.$store.state.webinars.selectedTopic.num}` });
    this.setCounter();
  },
  beforeDestroy() {
    clearTimeout(this.timer);
    clearTimeout(this.endTimer);
    clearTimeout(this.counterTimer);
  },
  computed: {
    callToAction() {
      const activeTopic = this.$store.state.webinars.selectedTopic.callToActions;
      return activeTopic[0];
    },
  },
  methods: {
    genCounter({ salt, acc = [], totalMs = 0 }) {
      let hash = md5(`${salt}`);

      let numberHash = hash.split('').map(char => {
        if (!Number.isInteger(Number(char))) {
          return `${char.charCodeAt(0) - 97}`[0];
        } else {
          return char;
        }
      }).join('');

      numberHash = numberHash.replace(/^0/g, '1');

      const atMs = Number(numberHash.slice(0, 6));
      const counter = Number(numberHash[0]);

      if (totalMs + atMs < Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER)) {
        return this.genCounter({ salt: hash, acc: [...acc, { counter, atMs }], totalMs: totalMs + atMs });
      }

      return [...acc, { counter, atMs }];
    },
    setCounter() {
      const now = this.$dayjs();
      const topicDate = this.$dayjs(this.$store.state.webinars.selectedTopic.topicDateUtc);
      const diffTime = topicDate.diff(now) * -1;

      let totalMs = 0;
      let totalCounter = 0;
      this.counterList.some((counter, index) => {
        totalMs += counter.atMs;

        if (diffTime <= totalMs) {
          this.counter = totalCounter;

          this.counterTimer = setTimeout(this.setCounter, totalMs - diffTime);
          return true;
        }

        totalCounter += counter.counter;

        if (index + 1 === this.counterList.length) {
          this.counter = totalCounter;
        }
        return false;
      });
    },
    setDisplay() {
      if (!this.callToAction.title || !this.callToAction.buttonUrl || !this.callToAction.buttonText) {
        this.isDisplay = false;
        return;
      }

      if (this.$store.state.webinars.selectedTopic) {
        const now = this.$dayjs();
        const topicDate = this.$dayjs(this.$store.state.webinars.selectedTopic.topicDateUtc);
        const diffTime = topicDate.diff(now);

        // Пользователь зашел до начала трансляции
        if (diffTime > 0)  {
          this.timer = setTimeout(this.setDisplay, diffTime);
          this.isDisplay = false;
          return;
        }

        // Трансляция закончилась, пользователь зашел после this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER
        if ((diffTime * -1) > Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER)) {
          this.isDisplay = false;
          return;
        }

        // Трансляция идет
        this.isDisplay = true;
        this.endTimer = setTimeout(this.setDisplay, Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER) - (diffTime * -1));
      }
    },
    dataLayerHandler() {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'webinar_click', 'eventAction': 'buy_course', 'eventLabel': this.webinar?.name });
    },
  },
};
</script>

<style
  lang="sass"
  scoped
>
.webinar-promo-block-sign-up-for-a-course
  background: #F6F5FA
  padding-top: 16px
  padding-right: 20px
  padding-bottom: 20px
  padding-left: 19px
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  & .sign-up-text
    flex: 1
    padding-right: 20px
    @media (min-width: $tb)
      width: auto
    &__subtitle
      font-size: 14px
      line-height: 16px
      color: #2F3D2F
    &__title
      font-size: 16px
      line-height: 20px
      font-weight: 600
      color: #2F3D2F
  & .btn-wrapper
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    order: 1
    @media (min-width: $tb)
      width: auto
      order: unset
      flex: 1
  & .v-btn
    width: 100%
    font-size: 16px
    line-height: 22px
    font-weight: 400
    padding: 0 24px
    text-transform: unset
    height: 40px
    margin-top: 16px
    max-width: 280px
    @media (min-width: $tb)
      order: unset
      width: auto
      margin-top: 0
  & .additional-block
    display: flex
    align-items: center
    &__number
      background: #FFFFFF
      font-size: 16px
      line-height: 24px
      color: #000000
      padding: 6px 9px
      border-radius: 50%
      min-width: 36px
      height: 36px
      margin-right: 12px
      display: flex
      justify-content: center
      align-items: center
    &__text
      font-size: 14px
      line-height: 16px
      color: #000000
      width: 72px
</style>
