<template>
  <div :class="['webinar__speaker webinar-info_block', { headerless: noHeader }]">
    <h2 class="webinar__speaker-title webinar-subtitle" v-if="!noHeader">{{ $t('webinar.speaker.title') }}</h2>
    <div class="webinar__speaker-block">
      <div class="webinar__speaker-block-photo"><img :src="speakerImage"></div>
      <!-- <div class="webinar__speaker__body"> -->
        <div class="webinar__speaker-block-title">{{topic.speakerName}}</div>
        <div class="webinar__speaker-block-subtitle">{{topic.speakerSubtitle}}</div>
        <div class="webinar__speaker-block-description" v-html="processedTopicSpeakerText"></div>
      </div>
    <!-- </div> -->
  </div>
</template>

<script>
import addBlankTargets from '@/utils/addBlankTargets';

export default {
  name: 'webinarDetailedSpeaker',
  props: {
    noHeader: Boolean,
    topic: Object
  },
  computed: {
    processedTopicSpeakerText() {
      const topicSpeakerText = this.topic.speakerText;

      return addBlankTargets(topicSpeakerText);
    },
    speakerImage() {
      return this.topic.images.speakerImage?.url || undefined
    }
  }
}
</script>

<style lang="sass">
.webinar__speaker
  &-title
    margin-bottom: 24px
  &-block
    display: grid
    grid-template-columns: 80px auto
    font-size: 16px
    @media (min-width: 1024px)
      grid-template-columns: 108px auto
      font-size: 18px
    &-photo
      width: 64px
      height: 64px
      margin-right: 16px
      grid-row: 1/3
      grid-column: 1
      @media (min-width: 1024px)
        margin-right: 24px
        width: 84px
        height: 84px
        grid-row: 1/4
      & img
        height: 100%
        width: 100%
        object-fit: cover
        border-radius: 50%
    &-title
      font-weight: 600
      grid-row: 1
      grid-column: 2
      margin-top: 6px
      @media (min-width: 1024px)
        margin-top: 0
    &-subtitle
      color: #828282
      margin-bottom: 6px
      grid-row: 2
      grid-column: 2
      @media (min-width: 1024px)
        margin-bottom: 0
    &-description
      color: black
      grid-row: 3
      grid-column: 1/3
      margin-top: 20px
      @media (min-width: 1024px)
        margin-top: 16px
        grid-column: 2
  &.headerless
    & .webinar__speaker-block
      margin-top: 28px
</style>
