<template>
  <div :class="['form-wrapper', {'auto-form': autoSubmit}]">
    <div class="form-loader" v-if="autoSubmit">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </div>
    <div class="register-form">
      <div class="register-form-close" @click="closeForm"><img src="../../assets/svg/close-dialog-desktop.svg" /></div>
      <ValidationObserver v-slot="{ handleSubmit }" ref="form">
        <h3 class="register-form-header" v-html="$t('webinar.register.title')" />
        <form @submit.prevent="handleSubmit(onSubmit)">
          <ValidationProvider
            mode="custom"
            name="name"
            rules="required"
            v-slot="{ errors }"
          >
            <v-text-field
              class="register-form-name-phone__name"
              v-model="name"
              :label="$t('webinar.register.label.name')"
              solo
              :error-messages="errors.length ? $t('webinar.register.error.name') : ''"
            ></v-text-field>
          </ValidationProvider>
          <ValidationProvider
            mode="custom"
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <hint-email
              v-model="email"
              :label="$t('webinar.register.label.email')"
              :maxNumberOfTips="3"
              :error-messages="errors.length ? $t('webinar.register.error.email') : ''"
            />
          </ValidationProvider>
          <phone
            class="register-form-name-phone__phone"
            name="phone"
            v-model="phone"
            v-if="showPhoneField"
            ref="phone"
          />
          <privacy-policy v-model="acceptedRules" />
          <div class="register-form-btn">
            <v-btn
              color="primary"
              rounded
              depressed
              x-large
              :ripple="false"
              type="submit"
              :loading="loading.form"
            >
              {{ $t('webinar.register.submit') }}
            </v-btn>
          </div>
          <input type="hidden" name="source_id" tabindex="-1" :value="formId" />
          <input type="hidden" name="schedule_code" tabindex="-1" :value="slug" />
          <input type="hidden" name="schedule_id" tabindex="-1" :value="webinarId" />
          <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import urlencodeFormData from '../../utils/urlencodeFormData'
import addAnyFormFields from '../../utils/addAnyFormFields'
import { ValidationProvider, ValidationObserver } from "vee-validate";
import HintEmail from "../common/hintEmail.vue";
import Phone from "../common/phone.vue";
import checkbox from '../common/checkbox';
import PrivacyPolicy from '../common/privacyPolicy.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    HintEmail,
    Phone,
    checkbox,
    PrivacyPolicy,
  },
  name: "webinarDetailedRegisterForm",
  props: {
    webinarId: [String, Number],
    slug: String,
    display: Boolean,
    eventCategory: String,
    showPhoneField: Boolean,
  },
  computed: {
    userHasPhone() {
      return this.$app?.user?.profile?.phone && this.$app?.user?.profile?.phone !== 'null'
    }
  },
  data() {
    return {
      loading: {
        form: false,
      },
      name: "",
      phone: "",
      phoneFromLms: null,
      email: null,
      acceptedRules: true,

      formId: 1,
      autoSubmit: !!this.$store.state.webinars.registerDialogSilent
    };
  },
  methods: {
    async onSubmit() {
      if (this.loading.form) return;

      this.name = this.name.trim();
      if (this.phone) this.phone = this.phone.trim();

      this.loading.form = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid && !this.autoSubmit) {
        this.loading.form = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector('form'));
      formData.append('name', this.name);

      if (this.showPhoneField || this.autoSubmit) {
        if (this.phoneFromLms) formData.append('phone', this.phoneFromLms);
        else formData.append('phone', this.phone);
      }
      formData.append('email', this.email);
      formData.append('checkbox', this.acceptedRules);

      const leadData =
        this.$app.config.current.webinarsCreateLeadContentType === 'application/x-www-form-urlencoded' ?
          urlencodeFormData(formData) : Object.fromEntries(formData);

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.webinarsCreateLeadUrl,
          data: leadData,
          headers: {
            'Content-Type': this.$app.config.current.webinarsCreateLeadContentType,
          },
        });

        this.successDialog = true;
        this.$store.commit('webinars/setRegisterDialogSilent', false);
        this.$store.commit('webinars/setPreRegisterDialog', false);

        this.$refs.form.reset();
        this.name = '';
        this.phone = '';
        this.email = '';

        // this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'lead', 'eventAction': 'index_footer' });
        this.$gtm.push({'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'webinar_lead', 'eventLabel': this.slug})
      } catch (e) {
        console.error(e);
      }

      this.loading.form = false;
      this.$emit('update:thanks', true)
      this.$store.commit('webinars/setCurrentSubscribed', true)
      this.closeForm()

      this.$gtm.push({'event': 'webinarLead', 'eventCategory': this.eventCategory})
    },
    closeForm() {
      this.$store.commit('webinars/setRegisterDialog', false);
    }
  },
  async mounted() {
    const addAnyFormFieldsBinded = addAnyFormFields.bind(this)
    setTimeout(async () => await addAnyFormFieldsBinded({ ref: this.$refs.form }), 0);

    await this.$nextTick()
    if (this.$app.user) {
      this.name = this.$app.user.name
      this.email = this.$app.user.email

      if ((this.showPhoneField || this.autoSubmit) && this.userHasPhone) {
        let phone = this.$app.user.profile.phone;
        if (phone[0] !== '+') phone = `+${phone}`;
        this.phoneFromLms = phone;
      }
    }

    if (this.autoSubmit) await this.onSubmit();
  }
};
</script>

<style lang="sass">
.form-wrapper.auto-form
  display: flex
  align-items: center
  justify-content: center
  background-color: #EDE2F8
  height: 508px
  & .form-loader
    overflow: hidden
  & .register-form
    opacity: 0
    visibility: hidden !important
    position: absolute
.register-form
  overflow: hidden
  border-radius: 8px
  background-color: #EDE2F8
  margin: auto
  padding: 32px 20px 20px 20px
  position: relative
  @media (min-width: 768px)
    padding: 40px 40px 52px 40px
  & .register-form-name-phone__phone
    & .v-menu__content
      max-height: 260px !important
  &-close
    position: absolute
    top: 14px
    right: 14px
    & img
      @media (max-width: 767px)
        width: 10px
        height: 10px
  &-header
    font-weight: 600
    text-align: center
    color: #333333
    margin-bottom: 32px
    font-size: 20px
    line-height: 26px
    @media (min-width: 768px)
      font-size: 32px
      line-height: 38px
  &-privacy-policy
    font-size: 14px
    line-height: 18px
    & a
      text-decoration: underline
  &-btn
    margin-top: 22px
    display: flex
    justify-content: center
    & button
      width: 280px
      @media (min-width: 768px)
        width: 258px

.register-form-thanks
  // max-width: 440px
  background-color: #FFFFFF
  display: flex
  flex-direction: column
  align-items: center
  &-icon
    height: 80px
    width: 80px
    margin-bottom: 24px
    & img
      width: 100%
      height: 100%
    @media (min-width: 768px)
      height: 104px
      width: 104px
  &-title
    font-weight: 600
    margin-bottom: 16px
    font-size: 20px
    line-height: 26px
    text-align: center
    @media (min-width: 768px)
      font-size: 32px
      line-height: 38px
  &-text
    font-size: 16px
    line-height: 24px
    font-weight: 400
    text-align: center
    @media (min-width: 768px)
      font-size: 18px
      line-height: 24px
  &-button
    margin-top: 40px
    & .v-btn
      width: 280px !important
      border-radius: 30px
      height: 48px !important
      @media (min-width: 768px)
        height: 60px !important
        width: 258px !important
</style>
