<template>
  <div :class="['webinars-navigation', { 'small': small }]">
    <div class="m-container">
      <div class="webinars-navigation-filter">
        <NuxtLink
            :to="linkAll"
            :class="{
              'active': !$route.query.status && !$route.query.moreStatus,
              'btn btn_sm btn_outline btn_color-secondary': true
            }"
          >
            {{ $t('webinar.filter.status.all') }}
        </NuxtLink>
        <NuxtLink
            :to="linkUpcoming"
            :class="{
              'active': $route.query.status === 'upcoming' || $route.query.moreStatus === 'upcoming',
              'btn btn_sm btn_outline btn_color-secondary': true
            }"
          >
            {{ $t('webinar.filter.status.upcoming') }}
        </NuxtLink>
        <NuxtLink
            :to="linkFinished"
            :class="{
              'active': $route.query.status === 'finished' || $route.query.moreStatus === 'finished',
              'btn btn_sm btn_outline btn_color-secondary': true
            }"
          >
            {{ $t('webinar.filter.status.finished') }}
        </NuxtLink>
      </div>

      <div class="webinars-navigation-directions">
        <v-select
          :items="directions"
          v-model="direction"
          hide-details
          single-line
          outlined
          item-text="label"
          item-value="value"
          return-object
          flat
          @input="directionSelect"
          attach=".webinars-navigation-directions"
        >
          <template v-slot:append>
            <img src="../../assets/svg/arrow-down-secondary.svg" />
          </template>
        </v-select>
      </div>
    </div>
  </div>
</template>

<script>
import breakpoints from "../../mixins/breakpoints.mixin";
export default {
  name: "webinarsNavigation",
  props: {
    small: Boolean,
    emit: Boolean
  },
  data() {
    return {
      wasMove: false,
      directions: [],
      direction: null,
      filterDialog: false,

      linkAll: {path: this.$route.path, query: {...this.$route.query, status: undefined}},
      linkUpcoming: {path: this.$route.path, query: {...this.$route.query, status: 'upcoming'}},
      linkFinished: {path: this.$route.path, query: {...this.$route.query, status: 'finished'}}
    };
  },
  fetch() {
    this.directions = [
      {
        label: this.$t('direction.coursesMobile'),
        value: ''
      },
      ...this.$store.state.webinars.directions
        .filter(i => i.id && i.eventsCount)
        .map(i => ({
          label: i.name,
          value: i.eventSlug,
        }))
    ]

    const findedIndex = this.directions.findIndex(i => i.value === this.$route.params.direction || i.value === this.$route.query.moreDirection)
    if (findedIndex !== -1) this.direction = this.directions[findedIndex]
    else this.direction = this.directions[0]

    if (this.emit) {
      this.linkAll = {path: this.$route.path, query: {...this.$route.query, moreStatus: undefined}},
      this.linkUpcoming = {path: this.$route.path, query: {...this.$route.query, moreStatus: 'upcoming'}},
      this.linkFinished = {path: this.$route.path, query: {...this.$route.query, moreStatus: 'finished'}}
    }
  },
  methods: {
    directionSelect(e) {
      if (!this.emit) this.$router.push({path: `/webinars/${e.value}`, query: this.$route.query, params: this.$route.params})
      else {
        this.$router.push({path: this.$route.path, query: {...this.$route.query, moreDirection: e.value}, params: this.$route.params})
      }
    },
  },
  watch: {
    '$route': {
      handler() {
        this.$fetch()
      }
    }
  },
  mixins: [breakpoints],
};
</script>

<style lang="sass">
.webinars-navigation
  margin-bottom: 24px
  margin-top: 20px
  &-filter
    display: flex
    margin-bottom: 16px
    & .btn
      @media (max-width: 767px)
        display: block
        padding: 3px 12px !important
        margin: 0
        margin-right: 8px
        border-radius: 4px
        border: 1px solid rgba(98, 98, 98, 0.24)
        font-size: 14px
        line-height: 16px
        color: #626262
        &.active
          color: black
          background-color: #F5F5F5
          border-color: transparent
          font-weight: 600
      @media (max-width)

  &-directions
    height: 48px
    max-width: 559px
    position: relative
    @media (min-width: 768px)
      max-width: 280px
    @media (min-width: 1024px)
      max-width: 559px
    & .v-menu__content
      top: 50px !important
      border: 1px solid #EAECEE
      border-radius: 4px
      overflow: hidden
      box-shadow: 0px 8px 16px rgba(51, 51, 51, 0.2)
      background: #fff
      max-height: unset !important
      & .v-list-item__title
        font-size: 18px
        line-height: 24px
        color: #905DB4
        overflow: visible
        @media (max-width: 1023px)
          font-size: 16px
          line-height: 16px
      & .v-list-item--active
        color: #949494 !important
      & .v-list-item__content
        padding: 16px 0
    & .v-input, & .v-input__control, & .v-input__slot
      height: 100%
    & .v-input__append-inner
      height: 100%
      margin-top: 0 !important
    & .v-input__slot
      margin-bottom: 0 !important
      border-radius: 100px !important
      min-height: unset !important
      border: unset !important
      & fieldset
        color: #DBDBDE !important
        border-color: currentColor !important
        border-style: solid !important
        border-width: 1px !important
    & .v-select__selection--comma
      color: #000000 !important
      font-size: 18px
      line-height: 24px
      overflow: visible
      @media (max-width: 1023px)
        font-size: 16px
        line-height: 16px
    & .v-input__append-inner
      padding-left: 2px !important
      padding-right: 2px !important
      transition: transform .2s ease-in-out
    & .v-select--is-menu-active
      & .v-input__append-inner
        transform: rotate(180deg)
    & .v-input__slot, & .v-input__slot:hover
      box-shadow: unset !important
  @media (min-width: $tb)
    &:not(.small)
      margin-top: 54px
      margin-bottom: 40px
      & > .m-container
        display: flex
        justify-content: space-between
      & .webinars-navigation-filter
        height: 48px
        align-items: center
        margin-bottom: 0
        & .btn
          margin-right: 16px
          padding: 11px 32px !important
          &.active
            background-color: #905DB4
            color: #ffffff
      & .webinars-navigation-directions
        width: 210px
        & .v-select__selection--comma
          color: #905DB4 !important
          line-height: 24px
          font-size: 18px
          overflow: unset
          margin-right: 30px
          width: fit-content
          max-width: unset
        & .v-input__slot
          border: unset !important
          & fieldset
            color: #905DB4 !important
            border-color: currentColor !important
            border-style: solid !important
            border-width: 1px !important
  &.small
    margin-top: 16px
    margin-bottom: 32px
    & > .m-container
      margin: 0 !important
      padding: 0 !important
      max-width: unset !important
      @media (min-width: 768px) and (max-width: 1023px)
        display: flex
        align-items: center
        justify-content: space-between
        & .webinars-navigation-filter
          margin-bottom: 0
        & .webinars-navigation-directions
          order: -1
    & .webinars-navigation-filter
      & .btn
        display: block
        padding: 3px 12px !important
        margin: 0
        margin-right: 8px
        border-radius: 4px
        border: 1px solid rgba(98, 98, 98, 0.24)
        font-size: 14px
        line-height: 16px
        color: #626262
        @media (min-width: 1024px)
          font-size: 16px
          line-height: 22px
        &:hover
          background-color: #F5F5F5
        &.active
          color: black
          background-color: #F5F5F5
          border-color: transparent
          font-weight: 600
  .v-select__selections
    align-items: center
    display: flex
    flex: 1 1
    flex-wrap: nowrap
    line-height: 18px
    max-width: 100%
    min-width: 0
  .v-select__selection
    max-width: 90%
    width: 90%
</style>
