<template>
  <div
    v-if="isDisplayChat"
    class="webinar__chat"
  >
    <div class="webinar__chat-wrapper-header mobile">
      <h4 class="webinar__chat-title">{{ $t('webinar.chat.title') }}</h4>
      <div :class="['webinar__chat-toggle', 'mobile', {'closed': !$store.state.webinars.displayChat}]" @click="toggleChat()">
        <img src="../../assets/svg/arrow-down-secondary.svg" />
      </div>
    </div>
    <v-expand-transition>
      <div
        v-show="$store.state.webinars.displayChat"
        class="webinar__chat-body"
      >
        <div class="webinar__chat-wrapper-header">
          <h4 class="webinar__chat-title">{{ $t('webinar.chat.title') }}</h4>
        </div>
        <iframe
          v-if="chatUrl"
          :src="chatUrl"
          frameborder='0'
        />
        <v-fade-transition>
          <div class="webinar__chat-loader" v-show="!loaded">
            <v-progress-circular
              indeterminate
              size="64"
            ></v-progress-circular>
          </div>
        </v-fade-transition>
        <div
          v-if="isLiveChat && (!$store.state.webinars.currentSubscribed || !aToken)"
          class="webinar__chat-actions"
        >
          <v-btn
            @click="$store.commit('webinars/setPreRegisterDialog', true)"
            elevation="0"
            rounded
          >{{ $t('webinar.chat.register') }}</v-btn>
        </div>
      </div>
    </v-expand-transition>
    <div class="webinar__chat-close">
      <v-btn elevation="0" text v-if="$store.state.webinars.displayChat" @click="toggleChat(false)">{{ $t('webinar.chat.close') }}</v-btn>
      <v-btn elevation="0" text v-if="!$store.state.webinars.displayChat" @click="toggleChat(true)">{{ $t('webinar.chat.open') }}</v-btn>
    </div>
    <hr style="margin-bottom: 0" />
  </div>
</template>

<script>
import getCookie from '../../utils/getCookie'

export default {
  name: 'webinarDetailedChat',
  data() {
    return {
      isDisplayChat: null,
      isLiveChat: null,
      chatUrl: null,
      aToken: null,
      loaded: false,
      // isEmbyChat: false, // Если true, то подгружается emby чат, если false, то getStream чат

      startTimer: null,
      endTimer: null,
      saveAndSendMetadataIntervalTimer: null,
      clearSaveAndSendMetadataTimer: null,
      embyTerminatorTimer: null,
    }
  },
  mounted() {
    this.updateAToken();

    this.setChatStatus();

    window.addEventListener('message', this.messageEventListener.bind(this));

  },
  beforeDestroy() {
    clearTimeout(this.startTimer);
    clearTimeout(this.endTimer);
    clearInterval(this.saveAndSendMetadataIntervalTimer);
    clearTimeout(this.clearSaveAndSendMetadataTimer);
    clearTimeout(this.embyTerminatorTimer);
    window.removeEventListener('message', this.messageEventListener)
  },
  methods: {
    messageEventListener(e) {
      let data = {};

      if (e.data) {
        if (typeof (e.data) === 'string') {
          try {
              data = JSON.parse(e.data);
          } catch(e) {
              return;
          }
        } else {
          data = e.data;
        }
    }

      const type = data?.type
      if (type === 'Emby.Loaded') {
        this.loaded = true
      }

      if (type === 'GetStream.Loaded') {
        this.loaded = true
      }

      if (type === 'Emby.Alive') {
        this.checkAlive();
      }
    },
    updateAToken() {
      this.aToken = getCookie({ name: 'a_token', cookies: document.cookie });
    },
    toggleChat(status = !this.$store.state.webinars.displayChat) {
      this.$store.commit('webinars/setDisplayChat', status);
    },
    async generateChatUrl() {
      switch (this.$store.state.webinars?.selectedTopic?.chatType) {
        case 'getStream':
          return await this.generateGetStreamChatUrl();
        default:
          return await this.generateEmbyChatUrl();
      }
    },
    async generateEmbyChatUrl() {
      try {
        const response = await this.$axios({
          method: 'post',
          url: `${this.$nuxt.$config.CMS_REST_API}/public/getEmbyChat/`,
          data: {
            eventId: this.$store.state.webinars.selectedTopic.eventScheduleId,
            topicId: this.$store.state.webinars.selectedTopic.id,
            ...this.isLiveChat && this.$store.state.webinars.currentSubscribed && this.aToken && {
              aToken: this.aToken,
            },
            lang: this.$app?.config?.common?.currentCountry == 'mx' ? 'es' : 'pt'
          }
        });

        if (response?.data?.data) {
          return response.data.data;
        }
      } catch (e) {
        console.error(e);
      }
    },
    async generateGetStreamChatUrl() {
      try {
        const response = await this.$axios({
          method: 'post',
          url: `${this.$nuxt.$config.CMS_REST_API}/public/getChatToken/`,
          data: {
            eventId: this.$store.state.webinars.selectedTopic.eventScheduleId,
            topicId: this.$store.state.webinars.selectedTopic.id,
            ...this.isLiveChat && this.$store.state.webinars.currentSubscribed && this.aToken && {
              aToken: this.aToken,
            },
          }
        });

        if (response?.data?.data) {
          // TODO: исправить хардкод
          // return `${this.$nuxt.$config.GETSTREAM_URL}?lang=pt&token=${response.data.data}`;
          return `https://dev2.innervate.ru/webchat?lang=pt&token=${response.data.data}`;
        }
      } catch (e) {
        console.error(e);
      }
    },
    setChatStatus() {
      if (this.$store.state.webinars.selectedTopic) {
        const now = this.$dayjs();
        const topicDate = this.$dayjs(this.$store.state.webinars.selectedTopic.topicDateUtc);
        const diffTime = topicDate.diff(now);

        if (
          this.$store.state.webinars.selectedTopic.status === 'finished' ||
          (diffTime * -1) > Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER)
        ) { // трансляция закончилась или пользователь зашел после this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER
          this.isDisplayChat = true;
          this.isLiveChat = false;
        } else if (
          this.$store.state.webinars.selectedTopic.status === 'live' ||
          diffTime <= Number(this.$nuxt.$config.DISPLAY_LIVE_WEBINAR_CHAT_FOR)
        ) { // трансляция началась или пользователь зашел за this.$nuxt.$config.DISPLAY_LIVE_WEBINAR_CHAT_FOR
          this.isDisplayChat = true;
          this.isLiveChat = true;

          this.endTimer = setTimeout(this.setChatStatus, Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER) - (diffTime * -1));

          this.saveAndSendMetadata({ clearTimerTime: Number(this.$nuxt.$config.DISPLAY_READONLY_WEBINAR_CHAT_AFTER) - (diffTime * -1) });
        } else { // пользователь зашел раньше чем this.$nuxt.$config.DISPLAY_LIVE_WEBINAR_CHAT_FOR
          this.startTimer = setTimeout(this.setChatStatus, diffTime - Number(this.$nuxt.$config.DISPLAY_LIVE_WEBINAR_CHAT_FOR));
        }
      }
    },
    saveAndSendMetadata({ clearTimerTime = 0 }) {
      this.saveAndSendMetadataIntervalTimer = setInterval(async () => {
        const maxAge = 60 * 60 * 24 * 365;
        document.cookie = `last_schedule_event=${this.$store.state.webinars.selectedTopic.eventScheduleId}; path=/; domain=${window.location.hostname}; max-age=${maxAge}; secure`;
        this.$app.cookies.lastScheduleEvent = this.$app.getCookie('last_schedule_event');

        try {
          await this.$axios({
            method: 'post',
            url: `${this.$nuxt.$config.CMS_REST_API}/public/webinarVisitorEvent/`,
            data: {
              eventId: this.$store.state.webinars.selectedTopic.eventScheduleId,
              topicId: this.$store.state.webinars.selectedTopic.id,
              broadcastId: this.$store.state.webinars.selectedTopic.youtubeBroadcastId,
              gaCid: ga?.getAll()?.[0]?.get('clientId'),
              ...this.$app.user && {
                userId: this.$app.user.id,
              },
            }
          });
        } catch (e) {
          console.error(e);
        }
      }, 1000 * 60);

      this.clearSaveAndSendMetadataTimer = setTimeout(() => {
        clearInterval(this.saveAndSendMetadataIntervalTimer);
      }, clearTimerTime);
    },
    checkAlive() {
      clearTimeout(this.embyTerminatorTimer);

      this.embyTerminatorTimer = setTimeout(() => {
        let iframe = document.querySelector('.webinar__chat iframe');

        let parentNode = iframe.parentNode;
        let clonedIframe = iframe.cloneNode();
        parentNode.removeChild(iframe);
        parentNode.appendChild(clonedIframe);
      }, Number(this.$nuxt.$config.EMBY_TERMINATOR_TIMEOUT_DELAY));
    },
  },
  watch: {
    async isLiveChat() {
      this.chatUrl = await this.generateChatUrl();
    },
    async '$store.state.webinars.currentSubscribed'() {
      this.chatUrl = await this.generateChatUrl();
    },
    async '$app.user'() {
      if (!this.$app.user) {
        this.updateAToken();
        this.chatUrl = await this.generateChatUrl();
      }
    },
  },
};
</script>

<style lang="sass">
.webinar__chat
  // border-bottom: 1px solid #DBDBDE
  margin-bottom: 32px
  & > hr
    @media (min-width: 1024px)
      margin-top: 0 !important
  &-loader
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
  &-wrapper-header
    display: flex
    align-items: center
    justify-content: space-between
    &.mobile
      display: none
    @media (max-width: 1023px)
      display: none
      &.mobile
        display: flex
  &-toggle.mobile
    order: 2
    transition: transform .2s ease-in-out
    transform: rotate(180deg)
    width: 24px
    height: 24px
    align-items: center
    display: flex
    justify-content: center
    &.closed
      transform: rotate(0deg)
    img
      width: 14px
      height: 7px
  &-body
    height: 576px
    display: flex
    flex-direction: column
    border-top: 1px solid #DBDBDE
    position: relative
    @media (max-width: 1023px)
      border-top: unset
      height: 450px
    & iframe
      height: 100%
  &-title
    flex: 0
    font-size: 24px
    line-height: 32px
    color: black
    order: 1
    font-weight: 400
    @media (min-width: 1024px)
      padding-top: 16px
      padding-bottom: 16px
    @media (max-width: 1023px)
      font-size: 16px
      line-height: 20px
      font-weight: 600
  &-messages
    flex: 1
    overflow: auto
    order: 3
  &-actions
    flex: 0
    padding-top: 20px
    margin-top: 5px
    order: 4
    @media (min-width: 1024px)
      padding-bottom: 20px
    @media (max-width: 1023px)
      order: 2
    & .v-btn
      width: 100%
      text-transform: unset
      color: #905DB4
      background: #F5F5F5 !important
      font-size: 16px
      line-height: 22px
      font-weight: normal
  &-close
    flex: 0
    border-top: 1px solid #DBDBDE
    order: 5
    @media (max-width: 1023px)
      display: none
    & .v-btn
      width: 100%
      text-transform: unset
      color: #828282
      font-size: 16px
      line-height: 22px
      font-weight: normal
</style>
