<template>
  <div class="webinar__other_webinars">
    <h3 class="webinar__other_webinars-title">{{ $t('webinar.other.title') }}</h3>
    <div class="webinar__other_webinars-filter">
      <webinars-navigation small emit />
    </div>
    <div class="webinar__other_webinars-items">
      <div 
      :class="['webinars-more', {
        'blinking': $fetchState.pending,
      }]">
        <webinars-item v-for="item in items" :item="item" :key="item.id" snippet />
      </div>

      <template v-if="!$fetchState.pending && items.length === 0">
        <div style="margin-bottom: 16px; font-size: 14px; margin-top: -16px">{{ $t('webinar.search.notFound') }}</div>
      </template>
    </div>
    <div class="webinar__other_webinars-more" v-if="(!$fetchState.pending && items.length) && more">
      <NuxtLink
        :to="{path: `/webinars${this.$route.query.moreDirection ? `/${this.$route.query.moreDirection}` : ''}`, query: {status: this.$route.query.moreStatus || undefined}}"
        class="btn btn_sm btn_outline btn_color-secondary"
      >{{ $t('webinar.search.more') }}</NuxtLink>
    </div>
  </div>
</template>

<script>
import WebinarsItem from './webinarsItem.vue';
import webinarsNavigation from './webinarsNavigation.vue';
export default {
  components: { webinarsNavigation, WebinarsItem },
  name: "webinarDetailedOtherWebinars",
  props: {
    exclude: Array
  },
  data() {
    return {
      items: [],
      limit: 7,
      more: false,
    };
  },
  async fetch() {
    const direction = this.$route.query.moreDirection
    const directions = !!direction ? [this.$store.state.webinars.directions.find(i => i.eventSlug === direction).id] : []
    const status = this.$route.query.moreStatus || undefined

    let response;
    try {
      response = await this.$axios({
        method: "post",
        url: this?.$nuxt?.$config?.CMS_REST_API ? `${this.$nuxt.$config.CMS_REST_API}/public/events/`:`https://cms.ebaconline.com.br/api/public/events/`,
        data: {
          limit: this.limit + 1,
          offset: 0,
          exclude: this.exclude,
          directions,
          status,
          published: true
        },
      });
    } catch (e) {
      console.error(e);
    }

    this.more = response.data.data.data.length > this.limit
    this.items = response.data.data.data.slice(0, this.limit)
  },
  watch: {
    '$route': {
      async handler(value, oldValue) {
        if (
          (value.query.moreDirection !== oldValue.query.moreDirection) || 
          (value.query.moreStatus !== oldValue.query.moreStatus)
        ) await this.$fetch()
      }
    }
  }
};
</script>

<style lang="sass">
.webinar__other_webinars
  &-title
    font-size: 20px
    line-height: 26px
    font-weight: 600
    margin-bottom: 16px
    // margin-top: 24px
    @media (min-width: 1024px)
      // margin-top: 32px
      font-size: 24px
      line-height: 32px
      font-weight: 400
  & .webinars-more
    overflow: hidden
    display: block
    margin-left: -14px
    margin-right: -14px
    @media (min-width: 768px)
      display: flex
    @media (min-width: 1024px)
      display: block
      margin: 0
    & .webinars-items__item-wrapper.snippet
      flex: 0 0 33.333333%
  &-more
    @media (max-width: 1023px)
      text-align: center
    & .btn
      min-width: 143px
      padding: 8px 24px
      display: inline-block
      font-size: 16px
      line-height: 22px
      text-transform: unset
      font-weight: normal
      margin-top: 20px
      @media (max-width: 1023px)
        margin-top: 32px
        width: 280px
        padding: 12px 24px
        font-size: 18px
        line-height: 24px
        text-transform: uppercase
</style>