<template>
  <div class="webinar-topics">
    <webinar-detailed-topics-item
      v-for="topic in webinar.topics"
      :key="topic.id"
      :topic="topic"
    />
  </div>
</template>

<script>
import webinarDetailedTopicsItem from "./webinarDetailedTopicsItem.vue";
export default {
  components: { webinarDetailedTopicsItem },
  props: {
    webinar: Object,
  }
};
</script>

<style lang='sass'>
.webinar-topics
  margin-top: 16px
  margin-bottom: 12px
  @media (min-width: 768px)
    margin-top: 20px
    margin-bottom: 20px
  @media (min-width: 1024px)
    margin-bottom: 16px
  @media (min-width: 1600px)
    margin-bottom: 20px
</style>