<template>
  <v-chip
    label
    nuxt
    :to="{path: $route.path, query: {...$route.query, topic: topic.num}, params: $route.params}"
    :class="['webinar-topics__item', 'v-chip--active', status]"
    :disabled="status === 'unclickable'"
    v-if="(topicsClient.length === 1 && status === 'live') || topicsClient.length > 1"
  >
    <template v-if="status === 'live'">
      <template v-if="topicsClient.length > 1">
        ·
        <span style="text-transform: uppercase">&nbsp;{{ $t('webinar.topic.status.live') }}&nbsp;</span>
        ({{ label }})
      </template>
      <template v-else>
        ·
        <span style="text-transform: uppercase">&nbsp;{{ $t('webinar.topic.status.live') }}&nbsp;</span>
      </template>
    </template>
    <template v-else>{{ label }}</template>
  </v-chip>
</template>

<script>
export default {
  props: {
    topic: Object,
  },
  data() {
    return {
      status: "unclickable",
    };
  },
  computed: {
    label() {
      return `${this.topic.num + 1}o dia`;
    },
    topicsClient() {
      return this.$store.state.webinars.topicsClient;
    },
  },
  fetch() {
    let status = this.topicsClient[this.topic.num].status;
    if (
      status === "active" &&
      this.$store.state.webinars.selectedTopic.status === "live"
    )
      status = "live";
    this.status = status;
  },
  watch: {
    $route: {
      handler() {
        this.$fetch();
      },
    },
    topicsClient: {
      handler() {
        this.$fetch();
      },
      deep: true,
    },
    "$store.state.webinars.selectedTopic.status"() {
      this.$fetch();
    },
  },
};
</script>

<style lang="sass">
.webinar-topics__item
  &.v-chip
    margin-right: 10px
    color: #626262
    border: 1px solid rgba(98, 98, 98, 0.24)
    border-radius: 4px
    background-color: transparent
    font-size: 14px !important
    line-height: 16px
    padding: 3px 12px
    height: auto !important
    @media (min-width: 1024px)
      font-size: 16px !important
      line-height: 22px
    &.active
      color: #000000
      background-color: #F5F5F5
      border-color: transparent
      font-weight: 600
    &.clickable
      //
    &.unclickable
      opacity: 0.44
    &.live
      background-color: #C73535
      font-weight: 400
      color: #fff
      border-color: transparent
      @media (min-width: 1024px)
        font-weight: 600
  &.theme--light.v-chip--active::before
    opacity: 0
  &.theme--light.v-chip:hover::before
    opacity: 0.04
</style>
