<template>
  <div class="ambassador-card">
    <div class="ambassador-card__avatar">
      <slot name="avatar"></slot>
    </div>
    <div class="ambassador-card__body">
      <div class="ambassador-card__header">
        <div class="ambassador-card__fullname">
          {{ fullName }}
        </div>
        <div class="ambassador-card__intro">
          {{ intro }}
        </div>
      </div>
      <div class="ambassador-card__description">
        {{ description }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AmbassadorCard',
  props: {
    fullName: {
      type: String,
      required: true,
    },
    intro: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="sass" scoped>
@import 'style/mixins/variables'

.ambassador-card
  padding: 20px 21px
  position: relative
  border-radius: 8px
  overflow: hidden

  background-color: $white
  font-size: 16px
  line-height: 24px

  @media (min-width: $md)
    display: flex
    align-items: center
    padding: 60px 50px

  @media (min-width: $lp)
    font-size: 18px
    padding: 60px 58px

  &__avatar
    border-radius: 50%
    overflow: hidden

    @media (max-width: $md - 1px)
      position: absolute
      top: 20px
      right: 21px
      --avatar-size: 64px

    @media (min-width: $tb)
      right: 33px

    @media (min-width: $md)
      --avatar-size: 276px

    @media (min-width: $lp)
      --avatar-size: 350px

    height: var(--avatar-size)
    width: var(--avatar-size)
    flex: 0 0 var(--avatar-size)

    & > img
      height: 100%
      max-width: 100%
      max-height: 100%

  &__body
    @media (min-width: $md)
      margin-left: 50px
      width: 520px

    @media (min-width: $lp)
      width: 600px
      margin-left: 57px

  &__header
    @media (max-width: $md - 1px)
      min-height: var(--avatar-size)

  &__fullname
    font-weight: 600

    @media (max-width: $md - 1px)
      width: 140px
      text-transform: uppercase

    @media (min-width: $md)
      font-size: 24px
      line-height: 28px

  &__intro
    @media (max-width: $md - 1px)
      font-size: 12px
      line-height: 15px
      letter-spacing: 0.03em
      color: #828282
      margin-bottom: 20px

    @media (min-width: $md)
      margin-top: 30px
      margin-bottom: 10px
</style>
