<template>
  <div class="breadcrumbs">
    <div class="m-container">
      <NuxtLink to="/">Pagina inicial</NuxtLink>
      <span>/</span>
      <NuxtLink to="/cursos">Cursos</NuxtLink>
      <span>/</span>
      <a :href="pageUrl">
        <span v-if="Number(type) == 0">Curso:</span>
        <span v-else-if="Number(type) == 1">Profissão:</span>
        {{name}}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Breadmrumbs",
  props: ['type', 'name', 'pageUrl']
}
</script>

<style lang="sass" scoped>
.breadcrumbs
  background-color: #F5F5F5
  padding: 30px 0px
  & > .m-container
    & > span
      margin: 0px 5px
      @media (min-width: $md)
        margin: 0px 10px
    & > a:last-child
      font-weight: bold
</style>