<template>
  <span class="left-arrow">
    <svg width="8" height="14" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.6705 1.95098C9.10983 1.50466 9.10983 0.781048 8.6705 0.334735C8.23116 -0.111579 7.51884 -0.111579 7.0795 0.334735L0.329507 7.19188C-0.0963946 7.62454 -0.111296 8.32121 0.295703 8.77225L6.4832 15.6294C6.90304 16.0947 7.61468 16.1261 8.07269 15.6996C8.5307 15.2731 8.56164 14.5502 8.1418 14.0849L2.68216 8.03437L8.6705 1.95098Z" fill="currentColor"/>
    </svg>
  </span>
</template>

<script>
export default {
  name: "leftArrow"
}
</script>

<style lang="sass" scoped>
  @import "style/ui-kit/vars.sass"

  .left-arrow
    display: inline-flex
    width: 48px
    height: 48px
    align-items: center
    justify-content: center
    background: $action-color-2
    border-radius: 24px
    transition: .3s ease
    &:hover
      background: $basic-color-3
      transition: .3s ease
      svg
        path
          fill: $action-color-2
          transition: .3s ease
    svg
      path
        fill: $basic-color-3
        transition: .3s ease
</style>
