<template>
  <div class="form-block">
    <a id="price" style="font-size: 0;" />
    <div class="img-desktop">
      <slot name="img-desktop">v-slot:img-desktop</slot>
    </div>
    <div class="img-mobile">
      <slot name="img-mobile">v-slot:img-mobile</slot>
    </div>
    <div class="m-container">
      <div class="discount-block">
        <div class="discount-block__title">-{{ price.discountPercent }}%</div>
        <div class="discount-block__description">Para os primeiros 20 alunos</div>
      </div>
      <div class="form-block-content">
        <div class="form-block__form-description">
          <h2 class="title">
            Investimento
          </h2>
          <div class="form-block__form-description-top">
            <div class="discount">
              <span>{{ price.discountPercent }}%</span>de desconto
              <div
                v-if="discount"
                class="discount__promo-code-discount"
              >+{{ discount }}%</div>
              <div
                v-if="discount"
                class="discount__promo-code-discount-description"
              >desconto adicional de cupom</div>
            </div>

            <div
              v-if="discountAmount"
              class="discount discount-amount"
            >
              <span>+{{ $app.getCurrency(discountAmount) }}</span>
              <div
                class="discount__promo-code-discount-description"
              >desconto adicional de cupom</div>
            </div>

            <div class="return-guarantee-wrapper">
              <img
                class="return-guarantee-icon"
                :src="require('~/assets/svg/analista-de-dados/guarantee.svg')"
                alt="Return guarantee icon"
              />
              <div class="return-guarantee">
                Garantimos seu dinheiro de volta por até 7 dias
              </div>
            </div>
          </div>

          <div class="price">
            <div class="price__title">
              Preço com desconto
            </div>
            <div class="price__block">
              <div
                :class="{
                  'price__current-price_price-with-promo-code': discount || discountAmount
                }"
                class="price__current-price"
              >
                {{ $app.getCurrency(currentPriceUI) }}
              </div>
              <div class="price__price-before-discount">
                {{ $app.getCurrency(price.beforeDiscount) }}
              </div>
            </div>
          </div>

          <div class="installment-price">
            <div class="installment-price__title">
              12x de
            </div>
            <div class="installment-price__current-price">
              {{ $app.getCurrency(installmentPriceUI) }}
            </div>
            <div class="installment-price__description">
              sem juros no cartão
            </div>
          </div>

          <div
            class="separator separator_two"
            :class="{ 'separator_hidden': !price.provi.enable }"
          />

          <div v-if="price.provi.enable" class="provi">
            <img
              :src="require('~/assets/svg/provi-desktop.svg')"
              class="provi-logo provi-logo_desktop"
            />
            <img
              :src="require('~/assets/svg/provi-mobile.svg')"
              class="provi-logo provi-logo_mobile"
            />

            <div class="student-installment-price">
              <div class="student-installment-price__block-one">
                <div class="student-installment-price__title">
                  Parcele no boleto. Até 24x de
                </div>
                <div class="student-installment-price__per-month-price">
                  {{ $app.getCurrency(price.provi.pricePerMonth) }}

                  <tooltip
                    ref="tooltip"
                    @click="showTooltip"
                    class="student-installment-price__tooltip"
                  >
                  <span style="margin-bottom: 0;">
                    Entrada: {{ $app.getCurrency(this.price.provi.entrancePrice) }}.
                    Valor total em 24x: {{ $app.getCurrency(this.price.provi.totalPrice) }}.
                    O valor final pode sofrer alteração por conta da variação do IOF dependendo do meio de pagamento e data de contratação escolhidos.
                  </span>
                  </tooltip>
                </div>
              </div>
            </div>

            <div class="payment-info">
              Comece a estudar agora pagando 7% de entrada. A próxima parcela é só daqui a seis meses*.
            </div>

            <div class="price-info">
              *Inscreve-se para receber mais informações sobre está opção de pago
            </div>
          </div>

<!--          <div class="refund refund_one">-->
<!--            <div class="refund__title">-->
<!--              Garantia do seu dinheiro de volta-->
<!--            </div>-->
<!--            <div class="refund__description">-->
<!--              Oferecemos um reembolso integral caso você desista do curso durante os primeiros 7 dias-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="form-block__form">
          <div class="course-info">
            <div class="course-info__beginning-date">
              Início <span>{{ nextMondayDate }}</span>
            </div>
            <div class="course-info__places-left">
              Restam <span>14 vagas</span>
            </div>
          </div>
          <h3>Faça sua inscrição para o curso</h3>
          <ValidationObserver v-slot="{ handleSubmit }" ref="form">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
                <v-text-field
                  class="main-form-name-phone__name"
                  v-model="name"
                  label="Nome"
                  solo
                  :error-messages="errors.length ? 'Digite seu nome' : ''"
                ></v-text-field>
              </ValidationProvider>
              <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
                <hintEmail
                  v-model="email"
                  label="mail@example.com"
                  :error-messages="errors.length ? 'Digite seu e-mail' : ''"
                  :nextComponent="$refs.phone"
                />
              </ValidationProvider>
              <phone
                class="main-form-name-phone__phone"
                name="phone"
                v-model="phone"
                ref="phone"
              />
              <promo-code
                class="promo-code"
                name="promo-code"
                v-model="promoCode"
                @discount="onDiscount"
                @currentPrice="onCurrentPrice"
                @discountAmount="onDiscountAmount"
                @freeCourse="onFreeCourse"
                :formId="formId"
                :price="price"
              />
              <div
                v-if="discount"
                class="price-with-promo-code"
              >
                <div class="price-with-promo-code__title">Preço com desconto </div>
                <div class="price-with-promo-code__price-block">
                  <div class="price-with-promo-code__new-price">
                    {{ $app.getCurrency(price.currentPrice) }}
                  </div>
                  <div class="price-with-promo-code__previous-price">
                    {{ $app.getCurrency(price.beforeDiscount) }}
                  </div>
                </div>
              </div>
              <ValidationProvider name="passive" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
                <checkbox
                  class="checkbox_accepted-rules"
                  v-model="acceptedRules"
                  :error-messages="errors"
                >
                  {{ $t('acceptTheTermsAndConditions') }} <a href="https://ebaconline.com.br/upload/cms/service_agreement_and_privacy_policy.pdf" target="_blank">{{ $t('privacyPolicyAndServiceAgreement') }}</a>
                </checkbox>
              </ValidationProvider>
              <div class="main-form-btn">
                <v-btn
                  color="primary"
                  rounded
                  depressed
                  x-large
                  :ripple="false"
                  type="submit"
                  :loading="loading.form"
                >
                  INSCREVA-SE
                </v-btn>
              </div>
              <input type="hidden" name="source_id" tabindex="-1" :value="formId">
              <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
            </form>
          </ValidationObserver>
        </div>
<!--        <div class="refund refund_two">-->
<!--          <div class="refund__title">-->
<!--            Garantia do seu dinheiro de volta-->
<!--          </div>-->
<!--          <div class="refund__description">-->
<!--            Oferecemos um reembolso integral caso você desista do curso durante os primeiros 7 dias-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import urlencodeFormData from "../../../utils/urlencodeFormData";
import checkbox from "../../common/checkbox";

const MONTH_NAME = [
  'Janeiro',
  'Fevereiro',
  'Março',
  'Abril',
  'Maio',
  'Junho',
  'Julho',
  'Agosto',
  'Setembro',
  'Outubro',
  'Novembro',
  'Dezembro'
];

export default {
  name: 'FormBlock',
  props: [
    'price',
    'installmentPrice',
    'formId',
    'date',
  ],
  data() {
    return {
      name: '',
      phone: '',
      promoCode: '',
      acceptedRules: true,
      email: null,
      discount: null,
      discountAmount: null,
      freeCourse: [],
      loading: {
        form: false,
      },
      nextMondayDate: this.getDateOfNextMonday(),
      currentPriceUI: this.price.currentPrice,
      installmentPriceUI: this.installmentPrice,
    }
  },
  async mounted() {
    setTimeout(async () => await this.addAnyFormFields({ ref: this.$refs.form }), 0);
  },
  methods: {
    showTooltip() {
      this.$refs.tooltip.toggle()
    },
    onDiscount(value) {
      this.discount = value;
      this.$emit('discount', this.discount);
    },
    onDiscountAmount(value) {
      this.discountAmount = value;
      this.$emit('discountAmount', this.discountAmount);
    },
    onFreeCourse(value) {
      this.freeCourse = value;
      this.$emit('freeCourse', this.freeCourse);
    },
    onCurrentPrice(value) {
      this.$emit('currentPrice', value);
    },
    async onSubmit() {
      if (this.loading.form) return;

      this.loading.form = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loading.form = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector('form'));
      formData.append('name', this.name);
      formData.append('phone', this.phone);
      formData.append('email', this.email);
      formData.append('checkbox', this.acceptedRules);
      formData.append('promo_code', this.promoCode.trim().toLocaleLowerCase().replace(/ /g, ''));

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.leadFormUrl,
          data: urlencodeFormData(formData),
          headers: {
            'Content-Type': `application/x-www-form-urlencoded`,
          },
        });

        this.successDialog = true;

        this.$refs.form.reset();
        this.name = '';
        this.phone = '';
        this.email = '';
        this.promoCode = '';

        if (response.data && response.data.hasOwnProperty('status') && response.data.status === 'ok') {
          this.$router.push({
            path: `/${`${this.$route.path}/thankyou`.split('/').filter(String).join('/')}`,
            ...response.data.context && {
              query: {
                context: response.data.context,
              },
            },
          });
        }

        // this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'lead', 'eventAction': 'index_footer' });
      } catch (e) {
        console.error(e);
      }

      this.loading.form = false;
    },
    getDateOfNextMonday() {
      const isValidDate = (date) => date instanceof Date && !isNaN(date);
      const dateParse = (date) => date ? new Date(date) : null;
      const dateCheck = (date, endDate) => date < endDate;
      const endOfWeek = (date) => {
        const lastDay = (7 - date.getDay()) % 7;
        const nextWeek = date.getDate() + lastDay + 1;
        return new Date(date.setDate(nextWeek));
      }

      let nextEndDate;
      const currentDate = new Date();

      if (this.date.autoDate) {
        nextEndDate = endOfWeek(currentDate);
      } else {
        const date = dateParse(this.date.startDate);
        if (isValidDate(date) && dateCheck(currentDate, date)) {
          nextEndDate = date;
        } else {
          nextEndDate = endOfWeek(currentDate);
        }
      }

      const nextEndDateText = nextEndDate.getDate() + ' de ' + MONTH_NAME[nextEndDate.getMonth()];
      return nextEndDateText;
    },
    animateNumber({ numberUIName, newNumber, speed = 1 }) {
      const numberOfDecimalPlaces = number => ((number.toString().includes('.')) ? (number.toString().split('.').pop().length) : (0));
      const intervalName = `${numberUIName}Interval`;
      const _newNumber = Number(newNumber);
      this[numberUIName] = Math.trunc(Number(this[numberUIName])) + Number((Number(_newNumber) % 1).toFixed(numberOfDecimalPlaces(_newNumber)));

      this[intervalName] = setInterval(() => {
        if (_newNumber === this[numberUIName]) {
          clearInterval(this[intervalName]);
        } else if (_newNumber - this[numberUIName] > speed) {
          this[numberUIName] = Number((this[numberUIName] + speed).toFixed(numberOfDecimalPlaces(_newNumber)));
        } else if (_newNumber > this[numberUIName]) {
          this[numberUIName] = Number((this[numberUIName] + 1).toFixed(numberOfDecimalPlaces(_newNumber)));
        } else if (this[numberUIName] - _newNumber > speed) {
          this[numberUIName] = Number((this[numberUIName] - speed).toFixed(numberOfDecimalPlaces(_newNumber)));
        } else if (_newNumber < this[numberUIName]) {
          this[numberUIName] = Number((this[numberUIName] - 1).toFixed(numberOfDecimalPlaces(_newNumber)));
        }
      }, 0);
    },
    async addAnyFormFields({ ref  }) {
      if (!window.gaData) {
        setTimeout(() => this.addAnyFormFields({ ref }), 1000);
        return;
      }
      const formSelector = ref.$el.querySelector('form');

      try {
        const cloudflareData = await this.$axios({
          method: 'get',
          url: `https://www.cloudflare.com/cdn-cgi/trace`,
        });
        const ipList = cloudflareData.data.match(/ip=.*/gm);
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="ClientIP" value="'+(ipList && ipList[0])+'">');
      } catch (e) {
        console.error(e);
      }

      try {
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="window_height" value="'+window.innerHeight+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="window_width" value="'+window.innerWidth+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="Referrer" value="'+document.referrer+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="PageUrl" value="'+window.location.toString()+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="UserTimestamp" value="'+(new Date())+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="UserDate" value="'+(new Date().toLocaleDateString(this.$i18n.locale) + ' ' + new Date().toLocaleTimeString(this.$i18n.locale))+'">');
        formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="UserAgent" value="'+window.navigator.userAgent+'">');
        if(typeof ga === "function" && typeof ga.getAll === "function") {
          formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="ga_cid" value="'+ga.getAll()[0].get('clientId')+'">');
        }

        if(gaData["UA-165354511-2"] && gaData["UA-165354511-2"].experiments) {
          formSelector.insertAdjacentHTML('beforeend', '<input class="ga_experiments" type="hidden" name="experiments" value="">');
          $('.ga_experiments').val(JSON.stringify(gaData["UA-165354511-2"].experiments));
        }
      } catch(e) {
        console.error(e);
      }

      let currentUrl = window.location.toString(), currentParams = this.getJsonFromUrl(currentUrl), hiddenFields = [];

      if (this?.$app?.sbjs?.get?.current?.typ) {
        // console.info(`this.$app.sbjs.get.current.typ`, this.$app.sbjs.get.current.typ);

        if(this.$app.sbjs.get.current.src) {
          if(this.$app.sbjs.get.current.src === '(none)') {
            currentParams['utm_source'] = 'not_set';
          } else {
            currentParams['utm_source'] = this.$app.sbjs.get.current.src;
          }
        } else {
          currentParams['utm_source'] = 'not_set';
        }

        if(this.$app.sbjs.get.current.mdm) {
          if(this.$app.sbjs.get.current.mdm === '(none)') {
            currentParams['utm_medium'] = 'not_set';
          } else {
            currentParams['utm_medium'] = this.$app.sbjs.get.current.mdm;
          }
        } else {
          currentParams['utm_medium'] = 'not_set';
        }

        if(this.$app.sbjs.get.current.cmp) {
          if(this.$app.sbjs.get.current.cmp === '(none)') {
            currentParams['utm_campaign'] = 'not_set';
          } else {
            currentParams['utm_campaign'] = this.$app.sbjs.get.current.cmp;
          }
        } else {
          currentParams['utm_campaign'] = 'not_set';
        }

        if(this.$app.sbjs.get.current.cnt) {
          if(this.$app.sbjs.get.current.cnt === '(none)') {
            currentParams['utm_content'] = 'not_set';
          } else {
            currentParams['utm_content'] = this.$app.sbjs.get.current.cnt;
          }
        } else {
          currentParams['utm_content'] = 'not_set';
        }

        if(this.$app.sbjs.get.current.trm) {
          if(this.$app.sbjs.get.current.trm === '(none)') {
            currentParams['utm_term'] = 'not_set';
          } else {
            currentParams['utm_term'] = this.$app.sbjs.get.current.trm;
          }
        } else {
          currentParams['utm_term'] = 'not_set';
        }

        if(this.$app.sbjs.get.session.cpg) {
          if(this.$app.sbjs.get.session.cpg === '(none)') {
            currentParams['current_page'] = 'not_set';
          } else {
            currentParams['current_page'] = this.$app.sbjs.get.session.cpg;
          }
        } else {
          currentParams['current_page'] = 'not_set';
        }

        if(this.$app.sbjs.get.current_add.rf) {
          if(this.$app.sbjs.get.current_add.rf === '(none)') {
            currentParams['referrer_url'] = 'not_set';
          } else {
            currentParams['referrer_url'] = this.$app.sbjs.get.current_add.rf;
          }
        } else {
          currentParams['referrer_url'] = 'not_set';
        }

        if(this.$app.sbjs.get.current_add.ep) {
          if(this.$app.sbjs.get.current_add.ep === '(none)') {
            currentParams['entrance_point'] = 'not_set';
          } else {
            currentParams['entrance_point'] = this.$app.sbjs.get.current_add.ep;
          }
        } else {
          currentParams['entrance_point'] = 'not_set';
        }
        if(this.$app.sbjs.get.udata.vst) {
          if(this.$app.sbjs.get.udata.vst === '(none)') {
            currentParams['visits_count'] = 'not_set';
          } else {
            currentParams['visits_count'] = this.$app.sbjs.get.udata.vst;
          }
        } else {
          currentParams['visits_count'] = 'not_set';
        }

      }

      if(currentParams && Object.keys(currentParams).length > 0) {
        Object.keys(currentParams).map(key => {
          hiddenFields[key] = currentParams[key];
          formSelector.insertAdjacentHTML('beforeend', '<input type="hidden" name="'+key+'" value="'+currentParams[key]+'">');
        });
      }
    },
    getJsonFromUrl(url) {
      if(!url) url = location.href;
      let question = url.indexOf("?");
      let hash = url.indexOf("#");
      if(hash==-1 && question==-1) return {};
      if(hash==-1) hash = url.length;
      let query = question==-1 || hash==question+1 ? url.substring(hash) :
        url.substring(question+1,hash);
      let result = {};
      query.split("&").forEach(function(part) {
        if(!part) return;
        part = part.split("+").join(" "); // replace every + with space, regexp-free version
        let eq = part.indexOf("=");
        let key = eq>-1 ? part.substr(0,eq) : part;
        let val = eq>-1 ? decodeURIComponent(part.substr(eq+1)) : "";
        let from = key.indexOf("[");
        if(from==-1) result[decodeURIComponent(key)] = val;
        else {
          let to = key.indexOf("]",from);
          let index = decodeURIComponent(key.substring(from+1,to));
          key = decodeURIComponent(key.substring(0,from));
          if(!result[key]) result[key] = [];
          if(!index) result[key].push(val);
          else result[key][index] = val;
        }
      });
      return result;
    },
  },
  watch: {
    'price.currentPrice'() {
      if (this.price.animate) this.animateNumber({ numberUIName: 'currentPriceUI', newNumber: this.price.currentPrice, speed: 5 });
      else this.currentPriceUI = this.price.currentPrice;
    },
    'installmentPrice'() {
      if (this.price.animate) this.animateNumber({ numberUIName: 'installmentPriceUI', newNumber: this.installmentPrice, speed: 1 });
      else this.installmentPriceUI = this.installmentPrice;
    },
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    tooltip: () => import('../../tooltip'),
    hintEmail: () => import('../../../components/common/hintEmail'),
    phone: () => import('../../../components/common/phone'),
    promoCode: () => import('./promoCode'),
    checkbox,
  },
}
</script>

<style
  lang="sass"
  scoped
>
  .form-block
    padding-top: 67px
    padding-bottom: 40px
    z-index: 4
    position: relative
    @media (min-width: $md)
      padding-top: 100px
      padding-bottom: 79px
    & .return-guarantee
      width: 170px
      font-size: 16px
      font-weight: 500
      line-height: 1.4
      color: #FEE251
      border-radius: 4px
      @media (min-width: $tb)
        width: 195px
        font-size: 18px
        line-height: 24px
      &-wrapper
        display: flex
        align-items: flex-start
        margin-top: 32px
        @media (min-width: $tb)
          margin-top: 0
      &-icon
        width: 34px
        margin-right: 11px
        @media (min-width: $tb)
          width: 38px
        @media (min-width: $md)
          margin-right: 16px
    & .img-desktop, & .img-mobile
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      overflow: hidden
      & img
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        width: 100%
        height: 100%
    & .img-desktop
      display: none
      @media (min-width: $md)
        display: block
    & .img-mobile
      @media (min-width: $md)
        display: none

    & .m-container
      position: relative
    &__form-description
      @media (min-width: $md)
        width: 456px
      @media (min-width: $lp)
        width: 483px
      &-top
        display: flex
        flex-wrap: wrap
        flex-direction: column
        align-items: flex-start
        margin-top: 38px
        margin-bottom: 64px
        @media (min-width: $tb)
          flex-direction: row
          margin-top: 64px
        @media (min-width: $md)
          flex-direction: row
          margin-top: 40px
        & > div
          margin-bottom: 16px
          @media (min-width: $tb)
            margin-bottom: 32px
    &__form
      background: #EDE2F8
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 12px
      padding: 20px 16px 28px 16px
      margin: 0 -8px
      height: 100%
      @media (min-width: $md)
        margin: 0
        padding: 40px 40px 48px 40px
        width: 407px
      @media (min-width: $lp)
        width: 456px
      & h3
        font-weight: 600
        font-size: 20px
        line-height: 26px
        color: #000000
        margin: 16px 0 0 0
        @media (min-width: $md)
          font-weight: 600
          font-size: 32px
          line-height: 38px
          color: #000000
      & form
        margin-top: 28px
        @media (min-width: $md)
          margin-top: 36px
        &::v-deep .phone.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot
          padding-right: 8px!important
          @media (min-width: $md)
            padding-right: 20px!important
        & .main-form-btn
          margin-top: 18px
          & button
            width: 100%
            height: 60px!important
    &-content
      @media (min-width: $md)
        display: flex
        justify-content: space-between
  .title
    font-weight: 600
    font-size: 32px!important
    line-height: 28px
    color: #FFFFFF
    font-family: "Futura PT", sans-serif !important
    @media (min-width: $tb)
      font-size: 48px!important
    @media (min-width: $md)
      font-size: 48px!important
      line-height: 62px
  .discount
    display: flex
    flex-direction: row
    font-size: 16px
    line-height: 24px
    color: #FEE251
    align-items: baseline
    font-weight: 500
    @media (min-width: $tb)
      flex-direction: column
      align-items: flex-start
      margin-right: 84px
      font-size: 18px
    @media (min-width: $md)
      margin-right: 64px
      min-height: 45px
      font-size: 18px
      line-height: 32px
    &__promo-code-discount
      display: inline-block
      font-weight: 600
      font-size: 20px
      line-height: 26px
      margin-left: 5px
      @media (min-width: $md)
        font-size: 32px
        line-height: 38px
    &__promo-code-discount-description
      font-size: 14px
      line-height: 16px
      color: #FEE251
      margin-top: 2px
      @media (min-width: $md)
        font-size: 16px
        line-height: 22px
        width: 144px
        display: inline-block
        margin-left: 8px
    & span
      font-weight: 700
      font-size: 24px
      line-height: 26px
      margin-right: 8px
      align-self: baseline
      @media (min-width: $tb)
        display: block
        font-size: 27px
      @media (min-width: $md)
        margin-bottom: -12px
        margin-top: -6px
        font-size: 32px
        line-height: 38px
  .price
    margin-top: 16px
    @media (min-width: $md)
      margin-top: 34px
    &__title
      font-size: 16px
      line-height: 24px
      color: #FFFFFF
      @media (min-width: $md)
        font-size: 18px
    &__block
      display: flex
      margin-top: 4px
      flex-wrap: wrap
      @media (min-width: $md)
        margin-top: 8px
      @media (min-width: $lp)
        display: flex
        align-items: center
    &__current-price
      font-size: 40px
      line-height: 40px
      color: #FFFFFF
      font-weight: 500
      @media (min-width: $md)
        font-size: 60px
        line-height: 68px
      &_price-with-promo-code
        color: #FEE251
    &__price-before-discount
      font-size: 24px
      line-height: 38px
      color: #FFFFFF
      opacity: 0.88
      margin-left: 13px
      text-decoration: line-through
      display: flex
      align-items: center
      @media (min-width: $md)
        font-size: 32px
        line-height: 38px
        margin-left: 17px
  .installment-price
    margin-top: 16px
    @media (min-width: $md)
      margin-top: 24px
    &__title
      font-size: 16px
      line-height: 24px
      color: #FFFFFF
      @media (min-width: $md)
        font-size: 18px
    &__current-price
      font-size: 40px
      line-height: 40px
      color: #FFFFFF
      margin-top: 4px
      font-weight: 500
      @media (min-width: $md)
        font-size: 60px
        line-height: 68px
        margin-top: 8px
    &__description
      font-size: 16px
      line-height: 24px
      color: #FFFFFF
      margin-top: 4px
      @media (min-width: $md)
        margin-top: 0
        font-size: 18px
        line-height: 24px
  .separator
    background: #FFFFFF
    opacity: 0.24
    width: 100%
    height: 1px
    &_one
      margin-top: 20px
      margin-bottom: 28px
      @media (min-width: $md)
        margin-top: 32px
    &_two
      margin-top: 64px
      margin-bottom: 27px
      @media (min-width: $md)
        margin-top: 28px
    &_hidden
      opacity: 0
  .provi-logo
    &_mobile
      width: 100px
      @media (min-width: $md)
        display: none
    &_desktop
      display: none
      @media (min-width: $md)
        width: 100px
        display: block
  .student-installment-price
    margin-top: 14px
    @media (min-width: $md)
      display: flex
    &__title
      font-size: 16px
      line-height: 24px
      color: #FFFFFF
      font-weight: 400
      align-self: baseline
      margin-right: 8px
      @media (min-width: $tb)
        font-size: 18px
    &__tooltip
      margin-bottom: 3px
      margin-left: 6px
      & > :nth-child(n)
        display: block!important
    &__per-month-price, &__total-price
      display: flex
      align-self: baseline
      align-items: center
      font-size: 32px
      line-height: 1.15
      font-weight: 700
      color: #FFFFFF
      margin-top: 8px
      @media (min-width: $md)
        font-size: 32px
        line-height: 38px
    &__block-one
      display: flex
      flex-direction: column
      @media (min-width: $tb)
        flex-direction: row
    &__block-two
      margin-top: 16px
      @media (min-width: $md)
        margin-top: 0
        margin-left: 32px
      @media (min-width: $lp)
        margin-left: 36px
  .payment-info
    color: #fee251
    font-size: 16px
    line-height: 1.55
    font-weight: 400
    margin-top: 16px
    @media (min-width: $tb)
      font-size: 18px

  .price-info
    font-size: 16px
    font-weight: 300
    line-height: 1.55
    color: #FFFFFF
    opacity: 0.64
    margin-top: 19px
    margin-bottom: 40px
    //@media (min-width: $tb)
    //  margin-bottom: 72px
    @media (min-width: $md)
      line-height: 22px
      margin-top: 16px
  .price-info::v-deep .tooltip-target
    margin-top: 0
    height: 16px
    width: 16px
  .price-info::v-deep .v-popover
    display: inline-flex
    margin-left: 3px
    vertical-align: top
    margin-top: 2px
  .course-info
    display: flex
    &__beginning-date
      font-size: 16px
      line-height: 24px
      color: #000000
      @media (min-width: $md)
        font-size: 18px
      & span
        font-weight: 500
    &__places-left
      font-size: 16px
      line-height: 24px
      color: #000000
      margin-left: 20px
      @media (min-width: $md)
        font-size: 18px
        margin-left: 52px
      & span
        font-weight: 500
  .main-form-privacy-policy
    font-size: 14px
    line-height: 18px
    color: #535353
    margin-top: 16px
    & a
      text-decoration: none
      color: #535353
      border-bottom: 1px solid #535353
      line-height: 19px
  .refund
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
    opacity: 0.64
    margin-top: 20px
    @media (min-width: $md)
      font-size: 16px
      line-height: 22px
    &_one
      display: none
      @media (min-width: $md)
        display: block
    &_two
      @media (min-width: $md)
        display: none
    &__title
      font-weight: 600
    &__description
      margin-top: 10px
      @media (min-width: $md)
        margin-top: 2px
  .discount-block
    position: absolute
    top: -114px
    height: 96px
    width: 96px
    background: #FEE251
    border-radius: 50%
    padding: 0 8px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    @media (min-width: $md)
      height: 146px
      width: 146px
      padding: 0 18px
      top: -180px
    &__title
      font-weight: 600
      font-size: 24px
      line-height: 28px
      text-align: center
      color: #000000
      @media (min-width: $md)
        font-size: 44px
        line-height: 56px
    &__description
      font-size: 12px
      line-height: 16px
      text-align: center
      @media (min-width: $md)
        font-size: 16px
        line-height: 22px
  .price-with-promo-code
    margin-top: 8px
    @media (min-width: $md)
      display: none
    &__title
      font-size: 14px
      line-height: 16px
      color: #000000
    &__price-block
      display: flex
      margin-top: 4px
      align-items: center
    &__new-price
      font-weight: 600
      font-size: 24px
      line-height: 28px
      color: #209046
    &__previous-price
      font-size: 16px
      line-height: 16px
      color: #000000
      opacity: 0.88
      margin-left: 9px
      text-decoration: line-through
</style>
