<template>
  <div class="promo-code">
    <div
      v-if="!isOpened"
      class="promo-code__preview"
      @click="showInput"
      @keydown.enter="showInput"
      tabindex="0"
    >
      Tenho código promocional
    </div>
    <v-text-field
      v-else
      v-model="formValue"
      solo
      label="Código Promocional"
      persistent-hint
      :hint="hintSuccessMessage"
      :error-messages="hintErrorMessage"
      :class="{
        'success__hint': hintSuccessMessage
      }"
      ref="promoCodeInput"
    >
      <template v-slot:append>
        <span
          v-if="discount"
          class="discount"
        >-{{ discount }}%</span>
        <v-btn
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          @click="checkCoupon"
        >
          Inserir
        </v-btn>
      </template>
    </v-text-field>
  </div>
</template>

<script>
import Vue from 'vue'
import intersection from 'lodash/intersection'

const HINT_TYPES_SUCCESS = 'success'
const HINT_TYPES_ERROR = 'error'

export default {
  name: 'promoCode',
  props: [
    'value',
    'errorMessages',
    'successMessages',
    'hint',
    'formId',
    'price',
  ],
  data() {
    return {
      isOpened: false,
      discount: null,
      discountAmount: null,
      freeCourse: [],
      currentPrice: this.price.currentPriceDefault,

      hintType: null,
      hintSuccessMessage: '',
      hintErrorMessage: '',

      isValidCoupon: null,
    }
  },
  computed: {
    formValue: {
      set: function (value) {
        this.$emit('input', value);
      },
      get: function () {
        return this.value;
      }
    },
  },
  methods: {
    async showInput(e) {
      this.isOpened = true;
      await Vue.nextTick();
      this.$refs['promoCodeInput'].focus();
      e.stopPropagation();
      e.preventDefault();
    },
    setHintMessage({ message, type }) {
      switch (type) {
        case HINT_TYPES_ERROR:
          this.hintSuccessMessage = '';
          this.hintErrorMessage = message;
          break;
        case HINT_TYPES_SUCCESS:
          this.hintSuccessMessage = message;
          this.hintErrorMessage = '';
          break;
        default:
          throw new Error('Unexpected hint type');
      }
    },
    async checkCoupon() {
      const coupon = this.formValue.trim().toLocaleLowerCase().replace(/ /g,'');

      if (!coupon) { // нажали на кнопку применить, поле с купоном пустое
        this.hintType = null;
        this.hintSuccessMessage = '';
        this.hintErrorMessage = '';
        this.isValidCoupon = null;
        this.discount = null;
        this.discountAmount = null;
        this.freeCourse = [];
        this.currentPrice = this.price.currentPriceDefault;
      } else {
        try {
          const response = await this.$axios({
            method: 'post',
            url: `${this.$nuxt.$config.CMS_REST_API}/public/check-coupon`,
            data: {
              sourceId: this.formId,
              couponCode: coupon,
            }
          });

          const responseData = response.data.data;

          if (responseData.hasOwnProperty('cannotBeUsed')) { // Промокод невалидный
            this.isValidCoupon = false;
            this.discount = null;
            this.discountAmount = null;
            this.freeCourse = [];
            this.currentPrice = this.price.currentPriceDefault;

            let errorMessage;

            const errorKeys = Object.keys(responseData.cannotBeUsed); // Массив строк ошибок купона
            if (intersection(
              errorKeys,
              [
                'nomenclatureNotFound', // Номенклатура не найдена по id. таблица cms.nomenclature
                'priceTypeNotFound', // Тип цены не найден. таблица cms.price_type
                'noRdCrmProductInNomenclature', // К номенклатуре не привязан продукт. таблица cms.nomenclature (Продукты больше не используются)
                'nonExistingProductIsLinkedInNomenclature', // К номенклатуре привязан не существующий продукт. таблица cms.nomenclature (Продукты больше не используются)
                'rdCrmProductNotHavePriceByPriceType', // У продукта не проставлена цена по типу цены. таблица cms.rd_crm_product_price (Продукты больше не используются)
                'nomenclatureNotHavePriceByPriceType', // У номенклатуры не проставлена цена по типу цены. таблица cms.nomenclature_price
              ]).length
            ) {
              errorMessage = this.$t('promoCode.exception');
            } else if (errorKeys.includes('couponNotFound')) { // Купон не найден (по коду или id). таблица cms.coupons
              errorMessage = this.$t('promoCode.couponNotFound');
            } else if (errorKeys.includes('couponUsed')) { // Купон использован. таблица cms.coupons
              errorMessage = this.$t('promoCode.couponUsed');
            } else if (errorKeys.includes('couponIsNotActive')) { // Купон не активен. таблица cms.coupons
              errorMessage = this.$t('promoCode.couponIsNotActive');
            } else if (errorKeys.includes('couponDidNotStart')) { // Срок действия купона еще не начался cms.coupons
              errorMessage = this.$t('promoCode.couponDidNotStart', { date: this.$d(new Date(responseData.coupon.startDate)) });
            } else if (errorKeys.includes('couponExpired')) { // Срок действия купона истек. таблица cms.coupons
              errorMessage = this.$t('promoCode.couponExpired', { date: this.$d(new Date(responseData.coupon.endDate)) });
            } else if (errorKeys.includes('couponCannotBeUsedForProduct')) { // Введенный купон на скидку нельзя применить к курсу "<%Название курса%>" (Продукты больше не используются)
              errorMessage = this.$t('promoCode.couponCannotBeUsedForProduct', { name: responseData.nomenclature.shortName || responseData.nomenclature.name });
            } else if (errorKeys.includes('couponCannotBeUsedForNomenclature')) { // Введенный купон на скидку нельзя применить к курсу "<%Название курса%>"
              errorMessage = this.$t('promoCode.couponCannotBeUsedForProduct', { name: responseData.nomenclature.shortName || responseData.nomenclature.name });
            } else {
              errorMessage = this.$t('promoCode.exception');
            }

            this.setHintMessage({ message: errorMessage, type: HINT_TYPES_ERROR });
          } else { // Промокод валидный
            this.isValidCoupon = true;
            let messages = [];
            const couponTypes = responseData.coupon.options.type; // типы промокода

            this.currentPrice = responseData.discountPrice.price;

            if (couponTypes.percent) { // процентная скидка
              if (this.price.discountPercent < responseData.discountPrice.percent) { // если процент скидки промокода больше изначального процента скидки продукта
                this.discount = responseData.discountPrice.percent - this.price.discountPercent;
                messages.push(this.$t('promoCode.discount', { discount: this.discount }));
              } else { // если процент скидки промокода =< изначального процента скидки продукта
                this.discount = null;
                this.discountAmount = null;
                this.freeCourse = [];
                if (!couponTypes.amount) this.currentPrice = this.price.currentPriceDefault;
                messages.push(this.$t('promoCode.smallDiscount'));
              }
            } else {
              this.discount = null;
            }

            if (couponTypes.amount) { // количественная скидка
              this.discountAmount = responseData.discountPrice.discount;
              messages.push(this.$t('promoCode.discountAmount', { discountAmount: this.$app.getCurrency(this.discountAmount) }));
            } else {
              this.discountAmount = null;
            }

            if (couponTypes.freeCourse) { // бесплатный курс
              this.freeCourse = responseData.coupon.freeCourse.courses;
              const freeCoursesNamesArray = this.freeCourse.map(freeCourse => freeCourse.shortName || freeCourse.name);
              const freeCoursesNamesString = freeCoursesNamesArray.length > 2 ? [freeCoursesNamesArray.slice(0, freeCoursesNamesArray.length - 1).join(', '), freeCoursesNamesArray[freeCoursesNamesArray.length - 1]].join(` ${this.$t('and')} `) : freeCoursesNamesArray.join(` ${this.$t('and')} `);
              messages.push(this.$tc('promoCode.freeCourse', this.freeCourse.length, { freeCourse: freeCoursesNamesString }));
            } else {
              this.freeCourse = [];
            }

            this.setHintMessage({ message: messages.length === 1 ? messages[0] : messages.map(message => `- ${message}`).join('\n'), type: HINT_TYPES_SUCCESS });
          }
        } catch (e) {
          this.setHintMessage({ message: this.$t('promoCode.exception'), type: HINT_TYPES_ERROR });

          console.error(e);
        }
      }
      this.$emit('currentPrice', this.currentPrice);
      this.$emit('discount', this.discount);
      this.$emit('discountAmount', this.discountAmount);
      this.$emit('freeCourse', this.freeCourse);
    },
  },
}
</script>

<style lang="sass">
  .promo-code
    display: flex
    justify-content: center
    &__preview
      cursor: pointer
      font-size: 18px
      line-height: 24px
      color: #D36133
      transition: opacity .3s
      margin-bottom: 18px
      &:hover
        opacity: .7
    & button
      border-radius: 3px!important
    & .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot
      padding-right: 4px!important
    & .v-btn.v-size--large
      padding: 16px 12px!important
      @media (min-width: $md)
        padding: 16px 24px!important
    & .v-btn:not(.v-btn--round).v-size--large
      min-width: auto!important
    & .v-btn__content
      line-height: 16px
    & .v-text-field .v-input__append-inner
      padding-left: 20px!important
    & .discount
      margin-right: 20px
      font-size: 18px
      line-height: 16px
      color: #209146
      display: flex
      align-items: center
    & .v-messages__message
      white-space: break-spaces
    & .success__hint
      & .v-text-field__details
        padding: 0
      & .v-messages__message
        color: #209046
        font-size: 14px
        line-height: 16px
        @media (min-width: $md)
          font-size: 16px
          line-height: 22px
</style>
