<template>
  <v-app id="course-landing">
    <main class="ilustracao">
      <floatingFormButtonBlock v-if="defer(1)" />
      <div class="first-section">
        <firstBlock
          color-theme="dark"
          rotate-discount
          discount-theme="blue"
          discount-size="sm"
          :price="price"
          with-form
          :form-id="FORM_ID"
          new-fonts
          additional-content-size="sm"
          :date="date"
          left-additional-items
        >
          <template #background-desktop>
            <img data-not-lazy class="not-lazy" decoding="async" :src="require('~/assets/images/ilustracao/background.png')" />
          </template>
          <template v-slot:background-mobile>
            <img data-not-lazy class="not-lazy" decoding="async" :src="require('~/assets/images/ilustracao/background.png')" />
          </template>
          <template #title>
            Ilustração
          </template>
          <template #subtitle>
            Domine técnicas manuais e digitais de ilustração, explore diferentes gêneros e experimente seu estilo sob a orientação de renomados ilustradores. Crie um portfólio de projetos autorais para ganhar dinheiro e crescer profissionalmente na área.
          </template>
          <template #category>
            <h2 class="first-block__category">Curso online de</h2>
          </template>
          <template #discount>
            <div class="discount__title">
              -{{ price.discountPercent }}%
            </div>
            <div v-show="discountDate !== null" class="discount__subtitle">
              até <span style="font-weight: 700;">{{ discountDate }}</span>
            </div>
          </template>
          <template v-slot:additional-content-item_1>
            <div class="additional-content-item__title">
              7 meses
            </div>
            <div class="additional-content-item__subtitle">
              Com mais de 50 horas de aulas online - estude no seu tempo, onde e quando quiser
            </div>
          </template>
          <template v-slot:additional-content-item_2>
            <div class="additional-content-item__title">
              Centro de Carreiras
            </div>
            <div class="additional-content-item__subtitle">
              Consultoria especializada e assessoria em emprego
            </div>
          </template>
          <template v-slot:additional-content-item_3>
            <div class="additional-content-item__title">
              Prática e Mentoria
            </div>
            <div class="additional-content-item__subtitle">
              Atividades ao longo do curso e feedback individualizado do tutor
            </div>
          </template>
          <template v-slot:additional-content-item_4>
            <div class="additional-content-item__title">
              7 projetos
            </div>
            <div class="additional-content-item__subtitle">
              Para enriquecer o seu portfólio profissional
            </div>
          </template>
        </firstBlock>
      </div>
      <div class="trailer-section">
        <trailer youtubeVideoId="cnN44b1UfQM">
          <template #trailer_preview>
            <img decoding="async" :src="require('~/assets/images/ilustracao/trailer_preview.jpg')" alt="Preview do trailer" />
          </template>
          <template #title>
            Veja o trailer do curso online
          </template>
        </trailer>
      </div>
    </main>
  </v-app>
</template>

<script>
import Vue from 'vue'
import { SOURCE_ID } from './-const'
import defer from '../../mixins/defer'
import getEternalEndDate from '@/utils/getEternalEndDate'
const FORM_ID = SOURCE_ID;

export default {
  name: 'Ilustracao',
  meta: {
    show: ['br'],
    isLandingPage: true,
  },
  mixins: [defer()],
  components: {
    firstBlock: () => import('../../components/template/firstBlock'),
    trailer: () => import('../../components/template/trailer'),
  },
  head() {
    return {
      title: 'Curso online de Ilustração – aprenda com EBAC Online',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Aprenda Ilustração em 7 meses com certificado e projetos para seu portfólio. Aprenda na prática a dominar técnicas manuais e digitais de ilustração.',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: 'https://ebaconline.com.br/ilustracao-landing'
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Curso online de Ilustração – aprenda com EBAC Online',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Aprenda Ilustração em 7 meses com certificado e projetos para seu portfólio. Aprenda na prática a dominar técnicas manuais e digitais de ilustração.',
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        }
      ]
    }
  },
  created() {
    this.FORM_ID = FORM_ID;
  },
  data() {
    return {
      discount: null,
      price: {
        animate: false,
        currentPrice: 0,
        currentPriceDefault: 0,
        discountPercent: 0,
        beforeDiscount: 0,
        provi: {
          enable: false,
          pricePerMonth: null,
          totalPrice: null,
          entrancePrice: null
        }
      },
      isMiuiBrowser: false,
      date: {
        autoDate: true,
        startDate: null
      },
      discountDate: null,
    }
  },
  mounted () {
    this.isMiuiBrowser = window.navigator.userAgent.indexOf('MiuiBrowser') !== -1;

    if (window.dataLayer) {
      this.$gtm.push({ 'source_id': SOURCE_ID, 'event': 'CoursePageView' });
    }
  },
  async fetch() {
    this.discountDate = getEternalEndDate().toLocaleDateString(this.$i18n.locale, { day: 'numeric', month: 'long'});

    let response;
    try {
      response = await this.$axios({
        method: 'post',
        url: `${this.$nuxt.$config.CMS_REST_API}/public/source/`,
        data: {
          id: FORM_ID,
        }
      });
    } catch (e) {
      console.error(e);
      // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      // throw e;
    }
    if (response) {
      if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);

      this.price.animate = false;
      this.price.currentPrice = this.price.currentPriceDefault = Number(response.data.data.nomenclaturePrice.price);
      this.price.beforeDiscount = Number(response.data.data.nomenclature.basePrice);
      this.price.discountPercent = Number(response.data.data.priceType.percent);
      this.nomenclatureInfo = response.data.data.nomenclature;
      this.date.autoDate = response.data.data.formAutodate;
      this.date.startDate = response.data.data.formDate;
      this.price.provi.enable =  response.data.data.formProvi;
      this.price.provi.pricePerMonth = Number(response.data.data.formProviPricePart);
      this.price.provi.totalPrice = Number(response.data.data.formProviPriceFull);
      this.price.provi.entrancePrice = this.getProviEntrancePrice(this.price.provi.totalPrice, this.price.provi.pricePerMonth);
      await Vue.nextTick();

      this.price.animate = true;
    }
  },
  methods: {
    getProviEntrancePrice(totalPrice, perMonthPrice) {
      return Number((totalPrice - perMonthPrice * 24).toFixed(2));
    }
  }
}
</script>

<style lang="sass" scoped>
.first-section
  position: relative
  z-index: 4
.first-block
  &__category
    font-size: 18px
    text-transform: none
    margin-bottom: 0
    padding-top: 40px
    @media (min-width: $tb)
      font-size: 22px
    @media (min-width: $md)
      font-size: 24px
  &::after
    content: none

.discount
  &__title
    font-family: 'Rubik', sans-serif
    font-size: 36px
    margin-bottom: 5px
  &__subtitle
    font-family: 'Poppins', sans-serif
    font-size: 13px
</style>

<style lang="sass">
.ilustracao
  .v-input__slot
    border-radius: 8px !important
    -moz-border-radius: 8px !important
    -webkit-border-radius: 8px !important
    box-shadow: none !important
    border: 1px solid #e7e6eb
    .v-label
      font-family: 'Rubik', sans-serif
      opacity: .5
      font-size: 16px
      color: #000 !important
    .code
      font-size: 16px
      line-height: 1.33
      color: #000 !important
      font-weight: 300
      margin-left: 5px
    .v-input__append-outer
      display: none

  .v-input--is-focused .v-input__slot
    border: 1px solid #ff7900

</style>
