// В этом файле должны располагаться стили для самого сайта и его элементов

.welcome {
    @include content;

    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);

    &__image {
        @include img-back();

        border-radius: 10px;
        width: 230px;
        height: 230px;
        background-image: url(../assets/images/image.jpg);
        position: relative;
    }

    &__image-label {
        @include empty-block(187px, 31px);
        @include img-back($size: contain);

        bottom: 10px;
        right: 10px;
        background-image: url(../assets/images/label.png);
        position: absolute;
    }
}

.demos {
    margin-top: 24px;
    border-radius: 11px;
    background-color: antiquewhite;
    padding: 0 10px;
    width: 288px;

    .react-stateless-app,
    .react-stateful-app,
    .react-mobx-app {
        p {
            font-size: 14px;
            text-align: center;
            color: coral;
        }

        &.react-stateless-app p {
            color: coral;
        }

        &.react-stateful-app p {
            color: blueviolet;
        }

        button {
            display: block;
            margin: 0 auto;
        }
    }
}

.swiper-button-next, .swiper-button-prev {
  z-index: 1!important;
}

cookie-consent::part(preview) {
  z-index: 4;
}

cookie-consent::part(settings) {
  z-index: 3;
}
