// Здесь необходимо расположить базовые стили. Например для тегов: html, body, h1, h2, button и т.д.
// Служебные стили (напр. ".hidden") так же должны располагаться здесь, чтобы не создавать кашу с остальными стилями.

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
    appearance: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        outline: none;
    }
}

html {
    //overflow-y: auto;
}

.overflow-hidden {
    overflow: hidden;
}

body {
    min-width: 320px;
    //min-height: 100vh;
    font-family: "Futura PT", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #101010;
    //overflow-y: auto;

    //&::after {
    //  //display: none;
    //  position: absolute;
    //  left: -9999px;
    //  content: url("~@/assets/svg/search-icon-full.svg") url("~@/assets/svg/close-icon.svg");
    //}
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input[type="search"] {
    -webkit-appearance: none;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

.m-container {
    padding: 0 20px;

    @media (min-width: $tb) {
        max-width: 704px;
        padding: 0;
        margin: 0 auto;
    }

    @media (min-width: $md) {
        max-width: 944px;
    }

    @media (min-width: $lp) {
        max-width: 1160px;
    }
}

html, body {
    //background-color: $white;
    //width: 100%;
    //height: 100%;
}

.hidden {
    display: none !important;
}


@keyframes blinking {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.9;
    }
      100% {
        opacity: 0.3;
      }
}

.blinking {
    animation-name: blinking;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



