<template>
  <div class="partner-block">
    <div class="m-container">
      <div class="partner-block__title">
        <h2><slot name="title" /></h2>
      </div>
      <div class="partner-block__content">
        <div class="partner-block__logo-container">
          <div class="partner-block__logo">
            <slot name="logo" />
          </div>
        </div>
        <div class="partner-block__text">
          <slot name="text" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
  .partner-block
    &__title
      width: 100%
      text-align: center
      margin: 30px 0
      h2
        font-size: 32px
        line-height: 1.25
        font-weight: 700
        @media (min-width: $tb)
          font-size: 48px
          line-height: 1.55
    &__content
      display: flex
      gap: 30px
      flex-direction: column-reverse
      font-size: 18px
      line-height: 1.55
      font-weight: 400
      @media (min-width: $md)
        flex-direction: row
    &__logo-container
      border-radius: 12px
      background-color: #f5f5f5
      display: flex
      min-height: 205px
      min-width: 100%
      @media (min-width: $md)
        min-height: unset
        min-width: calc(50% - 15px)
    &__logo
      margin: auto
      width: 200px
      height: 65px
      img
        width: 100%
</style>
