<template>
  <div class="blog-navigation">
    <template v-for="direction in directions">
      <span v-if="!(!direction.blogsCount && direction.id) && breakpoint" :key="direction.id">
        <v-btn
          v-if="['$md', '$lp', '$xl'].includes(breakpoint)"
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          exact
          :outlined="activeIndex !== 0"
          :to="generateRoutePath(direction)"
          :class="['blog-navigation-btn blog-navigation-btn--desktop', { 'v-btn--active': generateRoutePath(direction) === $route.path }]"
        >{{ direction.shortName }}</v-btn>

        <v-btn
          v-else
          color="secondary"
          rounded
          large
          depressed
          :ripple="false"
          nuxt
          exact
          :outlined="activeIndex !== 0"
          :to="generateRoutePath(direction)"
          :class="['blog-navigation-btn blog-navigation-btn--mobile', { 'v-btn--active': generateRoutePath(direction) === $route.path }]"
        >{{ direction.shortName }}</v-btn>
      </span>
    </template>
  </div>
</template>

<script>
import slideItems from "../common/slideItems";
import breakpoints from "../../mixins/breakpoints.mixin";

export default {
  name: "mainNavigation",
  props: ["activeIndex", "links"],
  data() {
    return {
      wasMove: false,
    };
  },
  computed: {
    directions() {
      return this.$store.state.blog.directions;
    },
  },
  methods: {
    touchmove() {
      this.wasMove = true;
    },
    touchend(e, url) {
      if (!this.wasMove) {
        e.stopPropagation();
        this.$router.push(url);
      }

      this.wasMove = false;
    },
    generateRoutePath(direction) {
      const routeString = direction.blogSlug
        ? {
            name: "blog-direction___pt-br",
            params: { direction: direction.blogSlug },
          }
        : { name: "blog-direction___pt-br" };
      const route = this.$router.resolve(routeString);
      return route.href;
    },
  },
  components: {
    slideItems,
  },
  mixins: [breakpoints],
};
</script>

<style lang="sass">
.blog-navigation
  height: auto
  // margin-left: 20px
  // margin-right: 20px
  margin-top: -24px
  &-btn--mobile.v-btn
    height: 24px !important
    padding: 0 12px !important
    margin-right: 8px
    margin-bottom: 6px
    background-color: #F5F5F5
    color: #626262
    border: 1px solid rgba(98, 98, 98, 0.24)
    border-radius: 4px
    &:before
      opacity: 0
    &.v-btn--active
      color: black
      font-weight: 600
      border-color: transparent
    & .v-btn__content
      font-size: 14px
  @media (min-width: $md)
    margin-left: unset
    margin-right: unset
    & .v-btn--active
      background-color: #905db4 !important
      color: #ffffff !important
      &:before
        opacity: 0!important
    & .v-btn
      background: #ffffff
      margin-bottom: 8px
      margin-right: 8px
    & .blog-navigation-btn--desktop.v-btn
      border: 1px solid #905db4
      padding-top: 11px!important
      padding-bottom: 11px!important
      & .v-btn__content
        line-height: 24px
        color: #905DB4
      &--active
        & .v-btn__content
          color: #fff
  @media (min-width: $md)
    & .v-btn
      margin-bottom: 16px
      margin-right: 16px
</style>
