<template>
  <!-- <div>{{crumbs.map(i => i.title).join(' > ')}}</div> -->
  <div class="blog-breadcrumbs">
    <div v-for="(crumb, i) in crumbs" :key="crumb.title" class="blog-breadcrumbs__item">
      <template v-if="i !== crumbs.length - 1">
        <nuxt-link class="blog-breadcrumbs__item-title" :to="crumb.url">{{crumb.title}}</nuxt-link>
        <img class="blog-breadcrumbs__item-divider" src="../../assets/svg/right-arrow-grey.svg" />
      </template>
      <template v-else>
        <span class="blog-breadcrumbs__item-title last">{{crumb.title}}</span>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlogBreadcrumbs',
  data() {
    return {
      crumbs: []
    }
  },
  props: {
    directionId: Number
  },
  fetch() {
    this.crumbs = [
      {
        title: 'Home',
        url: '/'
      },
      {
        title: 'Blog',
        url: '/blog'
      }
    ]

    if (this.$route.params.direction) {
      const blogSlug = this.$route.params.direction;
      const direction = this.$store.getters['blog/getDirectionByBlogSlug'](blogSlug);
      this.crumbs.push({
        title: direction.blogTitle
      })
    }
  },
  watch: {
    $route() {
      this.$fetch();
    }
  }
}
</script>

<style lang="sass">
.blog-breadcrumbs
  display: flex
  align-items: flex-start
  margin-bottom: 12px
  &__item
    display: flex
    align-items: center
    &-title
      text-decoration: none
      font-size: 14px
      line-height: 16px
      color: #828282 !important
      @media (min-width: 1024px) 
        font-size: 16px
        line-height: 22px
    &-title.last
      color: #905DB4 !important
    &-divider
      display: inline-block
      width: 12px
      height: 12px
      margin-left: 10px
      margin-right: 10px
</style>