<template>
  <div>
    <section class="blog-header-section">
      <div class="m-container">
        <blog-breadcrumbs />
        <h1 class="h1">{{ $t('firstSection.blog') }}</h1>
      </div>
    </section>
    <section class="main-navigation-section">
      <div class="m-container">
        <blog-posts-list-navigation
          :activeIndex="navigationActiveIndex"
          :links="links"
        />
      </div>
    </section>
  </div>
</template>

<script>
import blogPostsListNavigation from './blogPostsListNavigation.vue'
import BlogBreadcrumbs from './blogBreadcrumbs.vue'

export default {
  name: 'firstSection',
  props: [
    'navigationActiveIndex',
    'links',
  ],
  components: {
    blogPostsListNavigation,
    BlogBreadcrumbs
  },
}
</script>

<style lang="sass">
.blog
  &-header-section
    margin-top: 32px
    @media (min-width: $tb)
      margin-top: 0
      padding-top: 80px
      background-image: linear-gradient(0deg, #F5F6F7, #F5F6F7), linear-gradient(89.5deg, #FBE9D7 0%, #EBF4F5 128.54%)
      & .m-container
        position: relative
        background-image: url("../../../landing_generator/assets/svg/intro-bg.svg")
        background-repeat: no-repeat
        background-position: right 52px bottom
    & .h1
      margin: 0  0 32px 0
      padding-top: 0
      @media (min-width: $tb)
        margin-top: 0
        padding-bottom: 65px
        margin-bottom: 0
  &-navigation-section
    @media (min-width: $tb)
      margin-top: -29px
    & .m-container
      padding: 0
</style>
