<template>
  <div class="blogPostSnippet-wrapper">
    <a class="blogPostSnippet" v-if="post.id" :href="`/blog/${post.slug}`">
      <div class="blogPostSnippet-image">
        <img :src="post.showcaseImage.url" v-if="post.showcaseImage" />
      </div>
      <div class="blogPostSnippet-direction" v-if="post.direction && post.direction.id">
        <div class="blogPostSnippet-direction__content">{{post.direction.shortName}}</div>
      </div>
      <div class="blogPostSnippet-title">{{post.pageTitle}}</div>
      <div class="blogPostSnippet-description">{{description}}</div>
      <div class="blogPostSnippet-created">{{postDate}}</div>
    </a>
  </div>
</template>

<script>
export default {
  name: "BlogPostsListItem",
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    postDate() {
      return this.$dayjs.utc(this.post.date).format("DD.MM.YYYY")
    },
    description() {
      return this.post.pageDescription || this.post.metaDescription || "";
    }
  }
};
</script>

<style lang="sass">
.blogPostSnippet
  color: inherit
  text-decoration: inherit
  border: 1px solid #E5E5E5
  border-radius: 8px
  overflow: hidden
  height: 100%
  & > *:not(&-image)
    padding: 0 16px
    &:first-child
      padding-top: 16px
    &:last-child
      padding-bottom: 16px
  &-image
    width: 100%
    height: 0
    padding-bottom: 65%
    background-color: #eeeeee
    margin-bottom: 16px
    position: relative
    & img
      width: 100%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
  &-direction
    margin-bottom: 8px
    color: #905DB4
  &-created
    margin-top: 16px
    font-size: 14px
    text-transform: uppercase
    color: #828282
    letter-spacing: 1px
    line-height: 16px
    font-weight: 400
  &-title
    margin-bottom: 8px
    font-size: 20px
    font-weight: 600
    line-height: 26px
  &-description
    color: #000
    font-weight: 300
    font-size: 18px
    line-height: 24px

.blogPostSnippet
  display: grid
  grid-template-columns: 300px auto
  grid-template-rows: auto auto 1fr
  grid-column-gap: 20px
  &-image
    grid-column: 1
    grid-row: 1 / 4
    margin-bottom: 0
    align-self: center
  &-created
    grid-column: 2
    grid-row: 1
  &-title
    grid-column: 2
    grid-row: 2
  &-description
    grid-column: 2
    grid-row: 3

.blogPostSnippet
  display: flex
  flex-direction: column
  &-description
    flex: 1
  &-image
    margin-bottom: 16px
</style>
