<template>
  <div class="main">
    <Nuxt />
  </div>
</template>

<script>
import isMobile from '../mixins/isMobile.mixin'

export default {
  mixins: [isMobile],
}
</script>

<style lang="sass">
</style>
