<template>
  <div class="main">
    <header
      v-if="isDisplayFullHeader"
      class="page-header"
    >
      <div class="page-header__inner">
        <component
          :is="$route.path === '/' ? 'span' : 'NuxtLink'"
          :to="$route.path === '/' ? '' : '/'"
          class="page-header__logo"
          no-prefetch
        >
          <img data-not-lazy class="not-lazy" :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)" alt="logo" width="110" height="40">
        </component>

        <div class="page-header__right-block">
          <a class="page-header__phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>

<!--                  <div-->
<!--                    v-if="!$app.user"-->
<!--                    @click="onClickLoginButton"-->
<!--                    class="page-header__login"-->
<!--                  >-->
<!--                    {{ $t('template.login') }}-->
<!--                    <svg class="page-header__login-icon" width="24" height="24" aria-hidden="true" role="presentation">-->
<!--                      <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>-->
<!--                    </svg>-->
<!--                  </div>-->

          <a
            v-if="!$app.user && $app.config.current.lmsLoginUrl"
            @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })"
            class="page-header__login"
            :href="$app.config.current.lmsLoginUrl"
            target="_blank"
          >
            {{ $t('template.login') }}
            <svg class="page-header__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
              <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
            </svg>
          </a>
          <div
            v-if="$app.user && $app.config.current.lmsLoginUrl"
            class="page-header__user-block"
          >
            <user-avatar
              :name="$app.user.name"
              :onClick="userAvatarOnClick"
            />
            <a
              :href="$app.config.current.lmsUrl"
              target="_blank"
              class="page-header__user-name"
            >{{ shortUserName }}</a>
            <div
              @click="logout"
              class="page-header__login-icon"
            >
              <svg
                width="24"
                height="24"
                aria-hidden="true"
                role="presentation"
              >
                <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
              </svg>
            </div>
          </div>
        </div>

        <button data-not-lazy class="page-header__burger js-toggle-nav not-lazy" type="button">Open menu</button>

        <nav class="main-nav">
          <div class="main-nav__inner">
            <ul class="main-nav__list">
              <li>
                <a
                  href="/cursos"
                  :class="{
                    'active': $route.name === `courses___${$app.config.current.localeName}`
                  }"
                >Cursos</a>
              </li>
              <li>
                <a
                  href="/about-us"
                  :class="{
                    'active': [`vacancies___${$app.config.current.localeName}`, `career-center-students___${$app.config.current.localeName}`, `career-center-company___${$app.config.current.localeName}`, `about-us___${$app.config.current.localeName}`].includes($route.name)
                  }"
                >Sobre</a>
              </li>
              <li v-if="$app.config.current.withWebinars">
                <a
                  href="/webinars"
                  :class="{
                    'active': [`webinars-direction___${$app.config.current.localeName}`, `webinars-slug___${$app.config.current.localeName}`].includes($route.name)
                  }"
                >Webinars</a>
              </li>
              <li v-if="$app.config.current.withBlog">
                <a
                  :href="$app.config.current.blogUrl"
                  :class="{
                    'active': [`blog-direction___${$app.config.current.localeName}`, `blog-slug___${$app.config.current.localeName}`].includes($route.name)
                  }"
                >Blog</a>
              </li>
            </ul>

            <a class="main-nav__phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
          </div>
        </nav>
      </div>
    </header>
    <header
      v-if="isDisplayShortHeader"
      class="page-header page-header_no-menu"
    >
      <div class="page-header__inner">
        <component
          :is="$route.path === '/' ? 'span' : 'NuxtLink'"
          :to="$route.path === '/' ? '' : '/'"
          class="page-header__logo"
          no-prefetch
        >
          <img data-not-lazy class="not-lazy" :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)" alt="logo" width="110" height="40">
        </component>

        <div style="display: flex;">
          <a class="page-header__phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
          <v-btn
            color="primary"
            rounded
            depressed
            large
            :ripple="false"
            @click="$scrollTo('#formSection')"
            class="page-header__scroll-to-form-button"
          >
            INSCREVA-SE
          </v-btn>
        </div>
      </div>
    </header>

    <Nuxt />

    <footer
      class="footer"
    >
      <div class="m-container">
        <div class="footer__grid-wrap">
          <div class="footer__logo grid-a">
            <component
              :is="$route.path === '/' ? 'span' : 'NuxtLink'"
              :to="$route.path === '/' ? '' : '/'"
              v-on:click.native="scrollToTop()"
              no-prefetch
            >
              <img :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo-white.svg`)" alt="logo" width="254" height="92">
            </component>

            <div class="footer__holon">
              <img src="../assets/images/holon.png" alt="">
            </div>
          </div>

          <div
            v-if="$app.config.current.lmsLoginUrl"
            @click="onClickLoginButton"
            class="footer__login grid-c"
          >
            {{ $t('template.login') }}
            <svg class="footer__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
              <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
            </svg>
          </div>

          <a
            v-if="$app.config.current.lmsLoginUrl"
            @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })"
            class="footer__login grid-c"
            :href="$app.config.current.lmsLoginUrl"
            target="_blank"
          >
            {{ $t('template.login') }}
            <svg class="footer__login-icon" width="24" height="24" aria-hidden="true" role="presentation">
              <use xlink:href="~/assets/svg/sprite.svg#icon-sign-in"></use>
            </svg>
          </a>

          <div class="footer__contacts-wrap">
            <ul class="footer__contacts">
              <li v-if="$app.config.current.whatsAppLink && $app.config.current.whatsApp">
                <span class="heading">WhatsApp</span>
                <a class="phone" :href="$app.config.current.whatsAppLink" target="_blank">{{ $app.config.current.whatsApp }}</a>
              </li>
              <li v-if="$app.config.current.phone">
                <span class="heading">{{ $t('template.phone') }}</span>
                <a class="phone" :href="$app.config.current.phoneLink">{{ $app.config.current.phone }}</a>
              </li>
<!--              <li class="grid-width100">-->
<!--                <span class="heading">Endereço</span>-->
<!--                <p class="address">Rua Aureliano Coutinho, 109 - Vila Buarque, São Paulo - SP</p>-->
<!--              </li>-->
            </ul>

            <ul class="footer__socials">
              <li v-if="$app.config.current.instagramLink"><a :href="$app.config.current.instagramLink" target="_blank">Instagram
                <svg class="footer__socials-icon footer__socials-icon--inst" width="31" height="30">
                  <use xlink:href="~/assets/svg/sprite.svg#icon-inst"></use>
                </svg>
              </a></li>
              <li v-if="$app.config.current.facebookLink"><a :href="$app.config.current.facebookLink" target="_blank">Facebook
                <svg class="footer__socials-icon footer__socials-icon--fb" width="15" height="30">
                  <use xlink:href="~/assets/svg/sprite.svg#icon-fb"></use>
                </svg>
              </a></li>
              <li v-if="$app.config.current.youtubeLink"><a :href="$app.config.current.youtubeLink" target="_blank">Youtube
                <svg class="footer__socials-icon footer__socials-icon--yt" width="42" height="30">
                  <use xlink:href="~/assets/svg/sprite.svg#icon-yt"></use>
                </svg>
              </a></li>
              <li v-if="$app.config.current.linkedInLink"><a :href="$app.config.current.linkedInLink" target="_blank">LinkedIn
                <svg class="footer__socials-icon footer__socials-icon--in" width="32" height="30">
                  <use xlink:href="~/assets/svg/sprite.svg#icon-in"></use>
                </svg>
              </a></li>
            </ul>
          </div>

          <nav class="footer__nav grid-b">
            <div class="footer__nav-list">
              <NuxtLink
                to="/cursos"
                class="footer__nav-heading"
                @click.native="scrollToTop"
                no-prefetch
              >Cursos</NuxtLink>

              <NuxtLink
                v-if="direction.coursesCount"
                v-for="direction of $store.state.courses.directions"
                :to="`/${direction.slug}`"
                :key="direction.slug"
                class="footer__nav-item"
                @click.native="scrollToTop"
                no-prefetch
              >{{ direction.name }}</NuxtLink>
            </div>

            <div
              v-if="$app.config.current.withWebinars"
              class="footer__nav-list">
              <a class="footer__nav-heading" href="/webinars">Webinars</a>
              <a class="footer__nav-item" href="/webinars?status=upcoming">Próximos</a>
              <a class="footer__nav-item" href="/webinars?status=finished">Anteriores</a>
            </div>

            <div class="footer__nav-list">
              <NuxtLink
                to="/about-us"
                class="footer__nav-heading"
                @click.native="scrollToTop"
                no-prefetch
              >Sobre</NuxtLink>
              <NuxtLink
                to="/about-us"
                class="footer__nav-item"
                @click.native="scrollToTop"
                no-prefetch
              >{{ $t('template.aboutUs') }}</NuxtLink>
              <NuxtLink
                to="/career-center-students"
                class="footer__nav-item"
                @click.native="scrollToTop"
                no-prefetch
              >{{ $t('template.careersCenter') }}</NuxtLink>
              <a
                v-if="$app.config.current.b2bLink"
                :href="$app.config.current.b2bLink"
                class="footer__nav-item"
                target="_blank"
              >{{ $t('template.b2b') }}</a>
              <NuxtLink
                v-if="!$app.config.current.externalVacanciesLink"
                to="/vacancies"
                class="footer__nav-item"
                @click.native="scrollToTop"
                no-prefetch
              >{{ $t('template.jobs') }}</NuxtLink>
              <a
                v-else
                :href="$app.config.current.externalVacanciesLink"
                target="_blank"
                class="footer__nav-item"
              >{{ $t('template.jobs') }}</a>
            </div>

            <div
              v-if="$app.config.current.withBlog"
              class="footer__nav-list"
            >
              <a class="footer__nav-heading" :href="$app.config.current.blogUrl">Blog</a>
              <span
                v-if="!$app.config.current.tildaBlog"
              >
                <a
                  v-for="blog of $store.state.blog.directions"
                  :href="`/blog/${blog.blogSlug}`"
                  class="footer__nav-item"
                >{{ blog.blogTitle }}</a>
              </span>
              <span
                v-else
              >
                <a
                  v-for="blog of $app.config.current.blogLinks"
                  :href="blog.href"
                  class="footer__nav-item"
                >{{ $t(blog.key) }}</a>
              </span>
            </div>

            <div
              v-if="$app.config.current.lmsLoginUrl"
              class="footer__nav-list"
            >
              <a @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' })" class="footer__login-mobile grid-c" :href="$app.config.current.lmsLoginUrl" target="_blank">{{ $t('template.login') }}
              </a>
            </div>
          </nav>

          <ul class="footer__docs grid-d">
            <div v-for="documentKey in $app.config.current.footerDocuments">
              <li><a :href="$app.config.current.documents[documentKey]" target="_blank">{{ $t(`template.${documentKey}`) }}</a></li>
              <div style="clear: both;"></div>
            </div>
<!--            <div>-->
<!--              <li><a href="/files/Contract.pdf" target="_blank">{{ $t('template.contract') }}</a></li>-->
<!--              <div style="clear: both;"></div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <li><a href="/files/Politica_de_privacidade.pdf" target="_blank">{{ $t('template.privacyPolicy') }}</a></li>-->
<!--              <div style="clear: both;"></div>-->
<!--            </div>-->
          </ul>
        </div>
      </div>
    </footer>

    <authDialog v-model="isDisplayAuthDialog" />
    <saleBanner
      v-if="$app.config.current.saleBanner.endDate && isShowSaleBanner && !$app.ui.webinars.isDisplayPromoBlockRegistration"
      :eternal="$app.config.current.saleBanner.eternal"
      :cookieName="$app.config.current.saleBanner.cookieName"
      :saleClass="$app.config.current.saleBanner.class"
      :endDate="$app.config.current.saleBanner.endDate"
      :classes="{
        'sale-banner_position-top-mobile': this.saleBannerTopPositionRoutes.includes(this.$route.name),
        'sale-banner_z-index-6': this.saleBannerTopPositionRoutes.includes(this.$route.name),
        'sale-banner_landing-position': $store.state.isLandingPage,
      }"
    />
  </div>
</template>

<script>
import isMobile from '../mixins/isMobile.mixin'
import { addBackToTop } from 'vanilla-back-to-top'
import saleBanner from '../components/saleBanner'
import authDialog from './components/authDialog'
import userAvatar from '../components/userAvatar'
import Vue from 'vue'

export default {
  mixins: [isMobile],
  data() {
    return {
      isDisplayAuthDialog: false,
      saleBannerExcludeRoutes: [
        `webinars-direction___${this.$app.config.current.localeName}`,
        `webinarDetailed___${this.$app.config.current.localeName}`,
        `sale___${this.$app.config.current.localeName}`,
        `sale-sale___${this.$app.config.current.localeName}`,
        `sale-thankyou___${this.$app.config.current.localeName}`,
        `webinarSale___${this.$app.config.current.localeName}`,
        `webinars-slug___${this.$app.config.current.localeName}`
      ],
      saleBannerTopPositionRoutes: [
        `webinars-slug___${this.$app.config.current.localeName}`,
      ],
      backToTopButtonExcludeRoutes: [
        `webinarDetailed___${this.$app.config.current.localeName}`,
        //`career-center-students___pt-br`,
      ],
      isShowSaleBanner: false,
    }
  },
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      ...this.$store.state.webinars.abTestPrefixActive ?
      {
        link: [
          {
            rel: 'canonical',
            href: 'https://' + this.$store.state.host + this.$route.path.slice(0, (this.$route.path.lastIndexOf(this.$store.state.webinars.abTestPrefix)))
          }
        ]
      } : {
        link: [
          {
            rel: 'canonical',
            href: 'https://' + this.$store.state.host + this.$route.path
          }
        ],
      },
      script: [
        {
          type: 'application/ld+json',
          innerHTML: `{
            "@context": "http://schema.org/",
            "@type": "Organization",
            "name": "EBAC",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "Rua Aureliano Coutinho, 109 - Vila Buarque",
              "addressLocality": "São Paulo",
              "addressRegion": "São Paulo",
              "postalCode": ""
            },
            "telephone": "${this.$app.config.current.phone}"
          }`
        }
      ]
    }
  },
  computed: {
    isDisplayFullHeader() {
      const isDisplayShortHeader = this.isDisplayShortHeader;
      return !isDisplayShortHeader;
    },
    isDisplayShortHeader() {
      /*
      utm_source
      utm_medium
      utm_campaign
      utm_content
      utm_term
      * */
      // TODO remove
      return false

      const route = this.$route;
      const hm = route.query.hm;
      // return hm && hm === 'off' ||
      //   route.query.hasOwnProperty('utm_source') ||
      //   route.query.hasOwnProperty('utm_medium') ||
      //   route.query.hasOwnProperty('utm_campaign') ||
      //   route.query.hasOwnProperty('utm_content') ||
      //   route.query.hasOwnProperty('utm_term');
    },
    shortUserName() {
      const user = this.$app.user;
      if (!user) return null;

      const name = user.name;
      // const name = 'Camila Massaneiro';
      const partsOfAName = name.split(' ');

      if (partsOfAName.length > 1) return `${partsOfAName[0]} ${partsOfAName[1]}`;
      else return partsOfAName[0];
    },
  },
  created() {
    if (process.client) {
      const getCookie = function(name) {
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }
    }

    if (process.client) {
      if (!document.querySelector('#back-to-top')) {
        addBackToTop({
          cornerOffset: 20, // px
          // ease: 'inOutSine', // any one from https://www.npmjs.com/package/ease-component will do
          id: 'back-to-top',
          innerHTML: `
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.049 8.6705C14.4953 9.10983 15.219 9.10983 15.6653 8.6705C16.1116 8.23116 16.1116 7.51884 15.6653 7.0795L8.80812 0.329506C8.37546 -0.0963949 7.67879 -0.111296 7.22775 0.295703L0.370605 6.4832C-0.0946732 6.90304 -0.126104 7.61468 0.300402 8.07269C0.726907 8.5307 1.44984 8.56164 1.91512 8.1418L7.96563 2.68216L14.049 8.6705Z" fill="currentColor"/>
            </svg>
          `,
          onClickScrollTo: 0, // px
          scrollContainer: document.body, // or a DOM element, e.g., document.getElementById('content')
          scrollDuration: 100, // ms
          showWhenScrollTopIs: window.innerHeight * 2,
          textColor: '#fff',
          zIndex: 1
        })
      }
    }
  },
  mounted: function () {
    document.querySelector('.js-toggle-nav')?.addEventListener('click', () => {
      const mainNav = document.querySelector('.main-nav');
      if (mainNav.classList.contains('container--active')) {
        mainNav.classList.remove('container--active');
        mainNav.style.display = 'none';
        mainNav.style.maxHeight = 0;
        mainNav.style.opacity = 0;
      } else {
        mainNav.classList.add('container--active');
        mainNav.style.display = 'block';
        setTimeout(() => {
          mainNav.style.opacity = 1;
          mainNav.style.maxHeight = '100vh';
        }, 0);
      }

      const body = document.body;
      body.classList.toggle('overflow-hidden');
      body.classList.toggle('full-vh');
      document.querySelector('.js-toggle-nav').classList.toggle('closed');
    });
  },
  watch: {
    '$app.backToTopButtonBottomOffset'() {
      const backToTopElement = document.querySelector('#back-to-top');
      if (backToTopElement) {
        backToTopElement.style.marginBottom = `${this.$app.backToTopButtonBottomOffset}px`;
      }
    },
    '$route': {
      handler() {
        if (process.client){
          window.dispatchEvent(new Event('recalculateCookieConsent'));
        }

        if (!this.saleBannerExcludeRoutes.includes(this.$route.name)) this.isShowSaleBanner = true;
        else this.isShowSaleBanner = false;
        if (!this.backToTopButtonExcludeRoutes.includes(this.$route.name)) this.toggleIsBackToTopButton(true);
        else this.toggleIsBackToTopButton(false);
      },
      immediate: true
    }
  },
  methods: {
    async toggleIsBackToTopButton(isShow) {
      if (process.client) {
        await Vue.nextTick();

        const backToTop = document.querySelector('#back-to-top');

        if (isShow) {
          backToTop.style.display = 'block';
        } else {
          backToTop.style.display = 'none';
        }
      }
    },
    scrollToTop() {
      window.scrollTo(0,0);
    },
    onClickLoginButton() {
      this.isDisplayAuthDialog = true;
    },
    logout() {
      document.cookie = `a_token=; path=/; domain=${window.location.hostname}; max-age=-1; secure`;
      this.$app.user = null;
    },
    userAvatarOnClick() {
      window.open(this.$app.config.current.lmsUrl, '_blank');
    },
  },
  components: {
    userAvatar,
    saleBanner,
    authDialog,
  },
}
</script>

<style lang="sass">
  .page-header
    &_no-menu
      & .page-header__inner
        justify-content: space-between
    &__scroll-to-form-button
      background-color: #D36133!important
      margin-left: 8px
      @media (min-width: $md)
        margin-left: 22px
    &__user-block
      position: relative
      display: flex
      align-items: center
      margin-left: 39px
      margin-right: 81px
      @media (min-width: $tb)
        margin-right: 111px
      @media (min-width: $md)
        margin-right: 35px
      @media (min-width: $lp)
        margin-left: 56px
      & .page-header__login-icon
        right: -35px
        left: auto
        cursor: pointer
        margin-bottom: 1px
        padding: 4px
        background: #fff
        border-radius: 50%
        width: 32px
        height: 32px
      & .user-avatar
        margin-right: -15px
        margin-left: 16px
        cursor: pointer
        @media (min-width: $tb)
          margin-right: 8px
          margin-left: -8px
    &__user-name
      display: none
      color: #D1613A
      font-weight: 600
      font-size: 16px
      line-height: 21px
      text-decoration: none
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      @media (min-width: $tb)
        display: block
        max-width: 140px
      //@media (min-width: $tb)
      //  max-width: 194px
      //@media (min-width: $md)
      //  max-width: 110px
      //@media (min-width: $lp)
      //  max-width: 324px
      //@media (min-width: $xl)
      //  max-width: 248px
    &__user-avatar
      width: 40px
      height: 40px
      display: flex
      justify-content: center
      align-items: center
      color: #fff
      border-radius: 50%
      text-transform: uppercase
    &__right-block
      display: flex
      flex: 1
      justify-content: flex-end
      align-items: center
  .footer__login
    svg
      left: -32px
  .footer__holon
    margin-top: 40px
    img
      max-width: 84px
</style>
