<template>
  <div class="p-error">
    <div class="p-error__body">
      <div class="p-error__body__left">
        <div class="p-error__body__left__text">
          <div class="p-error__body__left__text-logo">
            <nuxt-link to="/">
              <img :src="require(`../assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)" />
            </nuxt-link>
          </div>
          <div class="p-error__body__left__text-title">{{ $t("page404.title") }}</div>
          <div class="p-error__body__left__text-subtitle">{{ $t("page404.subtitle") }}</div>
          <div class="p-error__body__left__text-actions">
            {{ $t("page404.text.part1") }}
            <nuxt-link to="/">{{ $t("page404.text.link1") }}</nuxt-link>
            {{ $t("page404.text.part2") }}
            <nuxt-link to="/cursos">{{ $t("page404.text.link2") }}</nuxt-link>
            {{ $t("page404.text.part3") }}
            <nuxt-link to="/webinars">{{ $t("page404.text.link3") }}</nuxt-link>
            {{ $t("page404.text.part4") }}
            <a href="/blog">{{ $t("page404.text.link4") }}</a>
          </div>
        </div>
      </div>
      <div class="p-error__body-image">
        <img :src="require('../assets/svg/error_page.svg')" />
      </div>
    </div>
    <mainFormSection />
  </div>
</template>

<script>
import mainFormSection from '../components/mainPage/mainFormSection'
export default {
  props: ["error"],
  layout: "hiddenHeader",
  created(){
    console.log("holla");
  },
  components: {
    mainFormSection
  }
};
</script>

<style lang="sass">
.p-error
  &__body
    display: flex
    padding-top: 123px
    @media (max-width:968px)
      display: block
      padding-top: 50px
    &__left
      flex-basis: 55%
      padding-left:40px
      padding-right: 10px
      @media (max-width:1220px)
        padding-left:20px
      &__text
        max-width: 520px
        margin: 0 auto
        &-logo
          img
            width: 145px
        &-title
          font-size: 180px
          line-height: normal
          font-family: 'Rubik'
          color: #905db4
          @media (max-width: 640px)
            font-size: 100px
        &-subtitle
          font-size:48px
          font-family: 'Rubik'
          line-height:1.2
          @media (max-width: 640px)
            font-size: 28px
        &-actions
          font-family: 'Poppins'
          font-size:16px
          line-height:1.55
          margin-top:20px
          a
            color: rgb(211, 97, 51)
            text-decoration: none
    &-image
      flex-basis: 45%
      text-align: right
      img
        width: 668px
        @media (max-width:1220px)
          width: 450px
          margin-top: 160px
        @media (max-width:968px)
          margin-top:20px
          display: inline
        @media (max-width: 640px)
          width:100%
          max-width:450px
</style>
