<template>
  <default-layout class="layout-hiddenHeader"></default-layout>
</template>

<script>
export default {
  name: 'hiddenHeaderLayout',
  components: {
    DefaultLayout: () => import('./default.vue')
  }
}
</script>

<style lang="sass">
.layout-hiddenHeader
  .page-header
    height: 0
    max-height: 0px
    min-height: 0px
    opacity: 0
    visibility: hidden
</style>
