<template>
  <div class="blogPostsListPage">
    <blog-posts-list-header />
    <div class="m-container">
      <div
        :class="{
          'blogPostsListPage-items': true,
          'blinking': $fetchState.pending || loading,
        }"
      >
        <blog-posts-list-item
          v-for="post in list"
          :key="post.id"
          :post="post"
        />
        <template v-if="!$fetchState.pending && !loading && !list.length">
          <div style="padding: 0 16px;">Não foram encontrados resultados para a sua pesquisa</div>
        </template>
      </div>
      <div class="blogPostsListPage-more" v-if="moreAvailable">
        <v-btn
          @click="getMoreData"
          rounded
          large
          depressed
          outlined
          color="primary"
          :disabled="$fetchState.pending || loading"
          >Mais 6</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "blogPostsListPage",
  meta: {
    show: ['br'],
  },
  head() {
    return {
      title: this.metaTitle,
      meta:[
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription,
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.metaKeywords
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.metaDescription
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.metaTitle
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ]
    }
  },
  components: {
    BlogPostsListItem: () => import("../../components/blog/blogPostsListItem.vue"),
    BlogPostsListHeader: () =>
      import("../../components/blog/blogPostsListHeader.vue"),
  },
  data() {
    const limit = 6;
    return {
      list: [],
      offset: 0,
      defaultLimit: +limit,
      limit: +limit - 1,
      moreAvailable: false,
      loading: false,
      filterDirection: null,

      metaTitle: null,
      metaDescription: null,
      metaKeywords: null,
    };
  },
  computed: {
    directionId() {
      return this.$store.getters["blog/getDirectionIdByBlogSlug"](
        this.filterDirection
      );
    },
    direction() {
      return this.$store.getters["blog/getDirectionByBlogSlug"](
        this.filterDirection
      );
    }
  },
  beforeCreate() {
    if (!this.$app.config.current.tildaBlog) {
      switch (this.$route.hash) {
        case '#!/tab/238198275-1':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}` });
          break;
        case '#!/tab/238198275-2':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}`, params: { direction: 'design' } });
          break;
        case '#!/tab/238198275-3':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}`, params: { direction: 'audiovisual' } });
          break;
        case '#!/tab/238198275-4':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}`, params: { direction: 'marketing' } });
          break;
        case '#!/tab/238198275-5':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}`, params: { direction: 'programacao' } });
          break;
        case '#!/tab/238198275-6':
          this.$router.push({ name: `blog-direction___${this.$app.config.current.localeName}`, params: { direction: 'games' } });
          break;
      }
    }
  },
  created() {
  },
  async fetch() {
    // if (this.$route.meta.directions && this.$route.params.direction) {
    //   const findedIndex = this.$route.meta.directions.findIndex(i => i.blogSlug === this.$route.params.direction)
    //   if (findedIndex === -1) {
    //     this.$router.push({ name: 'blogPost___pt-br', query: this.$route.query, params: { slug: this.$route.params.direction } })
    //     return
    //   }
    // }

    this.offset = 0;
    this.filterDirection = this.$route.params.direction

    this.metaTitle = this.direction.metaTitle;
    this.metaDescription = this.direction.metaDescription;
    this.metaKeywords = this.direction.metaKeywords;

    await this.getPosts([]);
  },
  methods: {
    async getPosts(list) {
      try {
        const response = await this.$axios.post(
          `${this.$nuxt.$config.CMS_REST_API}/public/getBlogPosts`,
          {
            offset: this.offset,
            limit: this.limit + 1,
            direction: this.directionId,
          }
        );
        this.list = [...list, ...response.data.data.slice(0, this.limit)];
        this.moreAvailable = !!response.data.data[this.limit];
      } catch (error) {
        this.$nuxt.error(error);
      }
    },
    async getMoreData() {
      this.loading = true;
      this.offset += this.limit;
      this.limit = this.defaultLimit;
      await this.getPosts(this.list);
      this.loading = false;
    },
  },
  watch: {
    '$route.query': '$fetch',
  },
};
</script>

<style lang="sass">
.blogPostsListPage
  min-height: 293px
  margin-bottom: 120px
  &-more
    display: flex
    justify-content: center
    & .v-btn
      margin-top: 52px
      width: 184px
      color: #D36133 !important
      font-weight: 600 !important
      text-transform: uppercase !important
      font-size: 14px
  &-items
    display: flex
    flex-wrap: wrap
    margin: 32px -16px 0 -16px
    & .blogPostSnippet-wrapper:nth-child(-n + 2)
      @media (min-width: $md)
        margin: 64px 0 32px 0
        flex: 0 0 calc(100% / 2)
        padding: 0 16px 0 16px
        height: 480px
        & .blogPostSnippet
          position: relative
          justify-content: flex-end
          & > *:not(&-image)
            padding: 0 28px
            &:last-child
              padding-bottom: 28px
          &-image
            margin: 0
            padding: 0
            width: 100%
            height: 100%
            position: absolute
            z-index: -1
            &:before
              content: ""
              width: 100%
              height: 100%
              display: block
              background-image: linear-gradient(to top, #000, transparent)
              position: absolute
              z-index: 2
          &-description
            flex: unset
          &-title, &-description
            color: #fff
          &-direction__content
            font-size: 16px
            line-height: 22px
            padding: 2px 6px
            color: #fff
            background-color: #905DB4
            border-radius: 4px
            width: max-content
    & .blogPostSnippet-wrapper
      flex: 0 0 100%
      padding: 0
      margin-bottom: 32px
      @media (min-width: $xs)
        flex: 0 0 calc(100% / 2)
        padding: 0 16px 0 16px
      @media (min-width: $md)
        flex: 0 0 calc(100% / 3)
        padding: 0 16px 0 16px
</style>
