<template>
  <div class="blogPostPage">
    <div
      class="blogPostPage-content"
      v-if="post.id"
      v-html="post.content"
    ></div>
  </div>
</template>

<script>
export default {
  name: "BlogPage",
  meta: {
    show: ['br'],
  },
  head() {
    return {
      ...this.assetsInHead,
      title: this.metaTitle,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.metaKeywords
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.metaTitle
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.post?.showcaseImage?.url
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.metaDescription
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: 'EBAC Online'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: `${this.$store?.state?.host}${this.$route?.path}`
        },
        {
          hid: 'og:locale',
          property: 'og:locale',
          content: this.$app?.config?.current?.localeName
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'article'
        },
        {
          hid: 'og:article',
          property: 'og:article',
          content: 'https://ogp.me/ns/article#'
        },
        {
          hid: 'article:published_time',
          property: 'article:published_time',
          content: this.post?.created
        },
        {
          hid: 'article:modified_time',
          property: 'article:modified_time',
          content: this.post?.modified
        },
      ]
    }
  },
  data() {
    return {
      slug: null,
      post: {},
      assets: {},
      loading: true,

      metaTitle: null,
      metaDescription: null,
      metaKeywords: null,
    };
  },
  computed: {
    assetsInHead() {
      return {
        script: this.assets?.plugins?.map(i => ({ src: i.url, async: true })) || [],
        link: this.assets?.theme_files?.filter(i => i.filetype === 'css').map(i => ({ href: i.url, rel:'stylesheet', type:'text/css' })) || [],
        meta: !this.post.active ? [{ hid: 'robots', name: 'robots', content: 'noindex' }] : []
      }
    }
  },
  methods: {
    async getAssets() {
      const response = await this.$axios.post(`${this.$nuxt.$config.CMS_REST_API}/public/getBlogAssets`);
      if (!response.data.data) this.$nuxt.error({ statusCode: 500, message: "Blog Assets not found" });
      this.assets = JSON.parse(response.data.data)
    },
    async getPost(slug) {
      const response = await this.$axios.post(
        `${this.$nuxt.$config.CMS_REST_API}/public/getBlogPostBySlug`,
        {
          slug,
        }
      );
      this.post = response.data.data;
      this.metaTitle = response.data.data.metaTitle || response.data.data.pageTitle;
      this.metaDescription = response.data.data.metaDescription || response.data.data.pageDescription || "";
      this.metaKeywords = response.data.data.metaKeywords;
    },
    formatDate(textUtcDate) {
      return this.$dayjs
        .utc(textUtcDate)
        .utcOffset(this.$app.config.current.utcOffset)
        .format("DD [de] MMMM, HH:mm")
    }
  },
  async fetch() {
    this.loading = true;
    try {
      await this.getAssets();
      this.slug = this.$route.params.slug;
      if (this.slug) {
        await this.getPost(this.slug);
      }
    } catch (error) {
      this.$nuxt.error({ statusCode: 404, message: "Blog not found" });
    }
  },
  async mounted() {
    this.loading = false;
  }
};
</script>

<style lang="sass">
.blogPostPage
  min-height: 293px
  margin-top: 32px
  &-content
    & .stk-image
      opacity: 1
</style>
