<template>
  <courses />
</template>

<script>
export default {
  // Page is needed to process addresses with a child topic: /cursos/<topicName>
  name: 'coursesTopic',
  components: {
    courses: () => import('./_courses.vue')
  }
}
</script>