<template>
  <v-app class="app-sale">
    <div class="b-sale" v-if="sale && sale.event_id">
      <div class="b-sale__block b-sale__block--first" :style="backgroundColorStyle">
        <div class="b-sale__block-wrapper">
          <div class="logo">
            <NuxtLink to="/">
              <img data-not-lazy class="not-lazy" :src="require(`~/assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)" alt="logo" width="180" height="67">
            </NuxtLink>
          </div>
          <div class="b-sale__block--first-title">{{ $t('webinarSale.first.title') }} {{eventType}}</div>
          <div class="b-sale__block--first-subtitle">{{ $t('webinarSale.first.subtitle') }}</div>
          <sale-timer :end="sale.sale_end_date_utc" @timerEnded="saleEnded = true" />
        </div>
      </div>
      <div class="b-sale__badge">
        <sale-discount
          :percent="sale.percent"
          :gift="sale.discount"
        />
      </div>
      <div class="b-sale__block b-sale__block--second">
        <div class="b-sale__block-wrapper">
          <div class="b-sale__block--second-title">{{nomenclatureType}} <span style="text-transform:uppercase;">{{sale.nomenclature_name.replace(' de ', ' de\u00a0')}}</span></div>
          <div
            v-if="sale.discount"
            class="b-sale__block--second-subtitle"
          >{{ $t('webinarSale.second.subtitle', { value: `${sale.percent}% + ${$t('currencySign')} ${sale.discount}` }) }}</div>
          <div
            v-else
            class="b-sale__block--second-subtitle"
          >{{ $t('webinarSale.second.subtitle', { value: `${sale.percent}%` }) }}</div>
          <!-- <div class="b-sale__block--second__price"> -->
            <!-- <div class="b-sale__block--second__price-item b-sale__block--second__price-item--first"> -->
          <div class="b-sale__block--second__price-item--first-title">{{ $t('webinarSale.price.first.title') }}</div>
              <div class="b-sale__block--second__price-item--first-old">{{ $t('currencySign') }} <span>{{formatNumber(sale.nomenclature_base_price)}}</span></div>
              <div class="b-sale__block--second__price-item--first-new">{{formatNumber(sale.nomenclature_price - Number(sale.discount))}}</div>
              <div class="b-sale__block--second__price-item--first-economy-text">{{ $t('webinarSale.price.first.economy') }}: </div>
              <div class="b-sale__block--second__price-item--first-economy-price">{{ $t('currencySign') }} {{formatNumber(economy + Number(sale.discount))}}</div>
            <!-- </div> -->
            <!-- <div class="b-sale__block--second__price-item b-sale__block--second__price-item--second"> -->
              <div class="b-sale__block--second__price-item--second-title">{{ $t('webinarSale.price.second.title') }}</div>
              <div class="b-sale__block--second__price-item--second-multiply">12 X {{ $t('currencySign') }}</div>
              <div class="b-sale__block--second__price-item--second-perMonth">{{ formatNumber(monthPrice) }}</div>
              <div class="b-sale__block--second__price-item--second-subtitle">{{ $t('webinarSale.price.second.subtitle') }}</div>
            <!-- </div> -->
          <!-- </div> -->
          <div class="b-sale__block--second__button">
            <v-btn
              @click="$store.commit('webinarSale/setDialog', true)"
              :disabled="saleEnded"
              :style="backgroundColorStyle"
            >{{ $t('webinarSale.sendButton') }}</v-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="b-sale-loader" v-else>
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </div>
    <sale-dialog
      v-if="sale"
      :slug="eventSlug"
      :sourceId="sale.source_id"
      :schedule-id="sale.event_id"
      :color="backgroundColorStyle"
    />
  </v-app>
</template>

<script>
export default {
  layout: "hiddenHeader",
  meta: {
    show: ['br', 'mx'],
  },
  components: {
    saleTimer: () => import('../components/sale/timer.vue'),
    saleDiscount: () => import('../components/sale/discount.vue'),
    saleDialog: () => import('../components/sale/dialog.vue'),
  },
  head() {
    return {
      title: this.pageTitle,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$route.path,
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Thank you!',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
      ]
    }
  },
  data() {
    return {
      eventSlug: null,
      nomenclatureSlug: null,
      sale: {},
      saleEnded: false,
    }
  },
  computed: {
    pageTitle() {
      return `EBAC | Discount ${this.$t(`sale.nomenclature_type.${this.sale?.nomenclature_type}.en`).toLowerCase()} ${this.sale?.nomenclature_name} ${this.startDateString}`
    },
    startDateString() {
      return this.formatDate(this.sale?.topic_date_utc)
    },
    eventType() {
      return this.$t(`sale.event_type.${this.sale.event_type}`)
    },
    nomenclatureType() {
      const typeCursos = this.$t(`sale.nomenclature_type.0`);
      const cursoString = `${typeCursos} online – `
      if (this.sale.nomenclature_type === '0') {
        return cursoString
      } else
      if (this.sale.nomenclature_type === '1') {
        const typeProfession = this.$t(`sale.nomenclature_type.1`);
        return `${cursoString} ${typeProfession}:`
      }
    },
    backgroundColorStyle() {
      return `background-color: #${this.sale.background_color} !important;`
    },
    monthPrice() {
      return ((this.sale.nomenclature_price - Number(this.sale.discount || null)) / 12).toFixed(2)
    },
    economy() {
      return this.sale.nomenclature_base_price - this.sale.nomenclature_price
    }
  },
  mounted() {
    if (window.dataLayer && this.sale.source_id) {
      this.$gtm.push({
        'source_id': this.sale.source_id,
        'event': 'CoursePageView',
        'event_id': this.sale.event_id,
        'topic_id': this.sale.topic_id,
      });
    }
  },
  methods: {
    formatDate(textUtcDate) {
      return this.$dayjs
        .utc(textUtcDate)
        .utcOffset(this.$app.config.current.utcOffset)
        .format("DD.MM.YYYY")
    },
    formatNumber(value) {
      return parseFloat(value).toLocaleString('pt-BR', {minimumFractionDigits: 2, maximumFractionDigits: 2})
    },
    async getSale() {
      try {
        const response = await this.$axios({
          method: 'post',
          url: `${this.$nuxt.$config.CMS_REST_API}/public/getSale/`,
          data: {
            limit: 1,
            offset: 0,
            nomenclatureSlug: this.nomenclatureSlug,
            eventSlug: this.eventSlug
          }
        });

        if (response?.data?.data && response.data.data[0]) {
          return response.data.data[0];
        }
      } catch (e) {
        console.error(e);
      }
    },
  },
  async fetch() {
    this.nomenclatureSlug = this.$route.params.saleSlug.substring(0, this.$route.params.saleSlug.lastIndexOf('-sale'))
    this.eventSlug = this.$route.params.eventSlug;

    this.sale = await this.getSale();

    if (!this.sale) {
      this.$nuxt.error({ statusCode: 404, message: 'Webinar not found' });
      return;
    }
  }
}
</script>

<style lang="sass">
.app-sale
  & .v-application--wrap
    min-height: 293px
.b-sale-loader
  height: 100%
  display: flex
  align-items: center
  justify-content: center
.b-sale
  display: flex
  flex-direction: column
  position: relative
  color: #000000
  & .logo
    & img
      margin-bottom: 64px
      margin-top: -20px
      width: 160px
      @media (min-width: $md)
        margin-bottom: 43px
        margin-top: -110px
  @media (min-width: $md)
    flex-direction: row
  &__block
    min-height: 300px
    @media (min-width: $md)
      width: 50%
    &-wrapper
      padding: 0 10px
      @media (min-width: $tb)
        padding-left: 74px
        max-width: 520px
      @media (min-width: $md)
        padding-left: 42px
        padding-right: 42px
        max-width: 540px
    &--first
      & .b-sale__block-wrapper
        @media (min-width: $lp)
          margin-left: auto
          margin-right: 0px
          padding-right: 120px
          max-width: 630px
    &--first
      color: #000000
      padding-top: 60px
      @media (max-width: 767px)
        padding-bottom: 60px
      @media (min-width: $tb)
        padding-bottom: 60px
      @media (min-width: $md)
        padding-bottom: 0
        padding-top: 160px
      &-title
        text-transform: uppercase
        font-size: 32px
        line-height: 42px
        color: #000
        font-weight: 700
        @media (min-width: $tb)
          font-size: 42px
          line-height: 55px
        @media (min-width: $lp)
          font-size: 35px
          line-height: 45.5px
      &-subtitle
        font-size: 20px
        line-height: 32px
        margin: 48px 0 24px 0
        @media (min-width: $tb)
          margin-top: 8px
          margin-bottom: 40px
        @media (min-width: $lp)
          font-size: 22px
          line-height: 35px
    &--second
      & .b-sale__block-wrapper
        @media (min-width: $tb)
          display: grid
          grid-template-columns: repeat(2,50%)
          grid-column-gap: 40px
          align-items: center
          justify-content: center
        @media (min-width: $md)
          padding-right: 0 !important
        @media (min-width: $lp)
          max-width: 600px
        @media (min-width: $xl)
          max-width: 750px
    &--second
      background-color: #ffffff
      padding-top: 100px
      @media (min-width: $md)
        padding-top: 160px
        padding-left: 30px
      @media (min-width: $lp)
        padding-left: 40px
      &-title
        font-size: 35px
        line-height: 47px
        font-weight: 700
        margin-bottom: 2px
        grid-column: 1/3
        @media (min-width: $tb)
          // font-size: 42px
          // line-height: 57px
        @media (min-width: $md)
          margin-right: 80px
        @media (min-width: $lp)
          margin-right: 30px
        @media (min-width: $xl)
          margin-right: 0
      &-subtitle
        margin: 46px 0 32px 0
        font-size: 23px
        line-height: 36px
        font-weight: 500
        grid-column: 1/3
        @media (min-width: $tb)
          margin: 2px 0 32px 0
          font-size: 24px
          line-height: 37px
      &__price
        &-item
          &--first
            &-title
              font-size: 16px
              line-height: 25px
              font-weight: 600
              opacity: 0.7
              grid-column: 1
              grid-row: 3
              @media (max-width: 767px)
                margin-bottom: 16px
              @media (min-width: $tb)
                font-size: 20px
                line-height: 31px
            &-old
              font-size: 30px
              line-height: 30px
              font-weight: 600
              opacity: 0.7
              grid-column: 1
              grid-row: 4
              @media (max-width: 767px)
                margin-bottom: 8px
              @media (min-width: $lp)
                font-size: 38px
                line-height: 38px
              & span
                text-decoration: line-through
            &-new
              font-size: 48px
              line-height: 48px
              font-weight: 600
              grid-column: 1
              grid-row: 5
              @media (max-width: 767px)
                margin-bottom: 8px
              @media (min-width: $lp)
                font-size: 38px
                line-height: 38px
            &-economy-text, &-economy-price
              font-size: 18px
              line-height: 23px
              display: inline
              @media (min-width: $tb)
                display: block
              @media (min-width: $lp)
                font-size: 20px
                line-height: 26px
            &-economy-text
              opacity: 0.7
              grid-column: 1
              grid-row: 6
            &-economy-price
              font-weight: 700
              grid-column: 1/3
              grid-row: 7
          &--second
            &-title
              font-size: 16px
              line-height: 25px
              font-weight: 600
              grid-column: 2
              grid-row: 3
              @media (max-width: 767px)
                margin-top: 24px
                margin-bottom: 8px
              @media (min-width: $tb)
                font-size: 20px
                line-height: 31px
            &-multiply
              font-size: 22px
              line-height: 34px
              font-weight: 600
              grid-column: 2
              grid-row: 4
              @media (min-width: $lp)
                font-size: 24px
                line-height: 37px
            &-perMonth
              font-size: 50px
              line-height: 50px
              font-weight: 600
              grid-column: 2
              grid-row: 5
              @media (min-width: $tb)
                font-size: 51px
                line-height: 51px
            &-subtitle
              font-size: 16px
              line-height: 25px
              font-weight: 600
              grid-column: 2
              grid-row: 6
              @media (min-width: $tb)
                font-size: 18px
                line-height: 28px
              @media (min-width: $lp)
                font-size: 20px
                line-height: 31px
      &__button
        margin-top: 34px
        margin-bottom: 60px
        grid-column: 1/3
        grid-row: 8
        @media (min-width: $tb)
          margin-top: 48px
          margin-bottom: 100px
        & .v-btn
          background-color: #FF8B1E !important
          height: 60px !important
          width: 300px !important
          border-radius: 100px !important
          font-size: 18px
          font-weight: 700
          letter-spacing: 0.5px
          display: flex
          margin-left: auto
          margin-right: auto
          @media (min-width: $tb)
            height: 75px !important
            width: 380px !important
            margin-left: 0
  &__badge
    margin-bottom: -80px
    margin-top: -50px
    z-index: 1
    display: flex
    justify-content: flex-end
    padding-right: 10px
    max-width: 660px
    @media (min-width: $md)
      margin: 0
      position: absolute
      top: 30px
      left: calc(50% - 65px)
</style>
