<template>
  <div class="b-sale-thanks">
    <thank-you-page :backgroundless="true" />
  </div>
</template>

<script>
export default {
  layout: "blank",
  meta: {
    show: ['br', 'mx'],
  },
  components: {
    thankYouPage: () => import('../components/template/thankYouPageTildaDesign')
  },
  head() {
    return {
      title: 'Thank you!',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$route.path,
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Thank you!',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
      ]
    }
  },
  mounted() {
    const context = this.$route.query.context;
    if (window.dataLayer && context) {
      this.$gtm.push({ 'client_order_id': this.$route.query.context });
    }
  },
};
</script>

<style lang="sass">
.b-sale-thanks
  & .thank-you-page
    background-image: url(~@/assets/images/saleThanks.webp) !important
    &:before
      background: rgba(0, 0, 0, 0.7) !important
  & button, & a.v-btn
    background-color: #D15E34 !important
  & button, & .v-btn__content
    font-weight: 700 !important
  & a
    color: #fff
    text-decoration: none
</style>
