<template>
  <main class="courses">
    <div class="intro">
      <div class="intro__inner">
        <h1 class="h1">{{ pageH1 }}</h1>
      </div>
    </div>
    <div class="m-container">
      <div class="main-search-form">
        <mainSearch
          v-model="filter.textSearch"
          @input="onMainSearchSendForm"
        />
      </div>
      <div class="content-wrap">
        <mainFilter>
          <template v-slot:direction>
            <direction
              :loading="$fetchState.pending"
              :filter="filter"
              :directions="$store.state.courses.activeDirections"
              :currentDirection="currentDirection"
              :applyFilter="applyFilter"
            />
          </template>
          <template v-slot:filtersContent="{ hideFilterList }">
            <filtersContent
              :loading="$fetchState.pending"
              @submit="onFiltersContentSubmit"
              @applyFilter="applyFilter"
              :filter="filter"
              :appliedFilterChips="appliedFilterChips"
              :hideFilterList="hideFilterList"
            />
          </template>
        </mainFilter>

        <div
          class="content-inner-wrap"
          id="content"
        >
          <section
            v-show="['any', 'profession'].includes(filter.types) && $store.state.courses.professions.length"
            class="products"
          >
            <div class="products__top-wrap">
              <h2 class="products__title h2">{{ $t('courses.professions') }}</h2>
              <p class="body-m products__category"><span class="quantity">{{ $store.state.courses.professionsTotal }}</span>{{ $tc('profession', $store.state.courses.professionsTotal) }}</p>
            </div>

            <div
              :class="{
                'blinking': $fetchState.pending || loading,
              }"
              class="products__list"
            >
              <component
                v-for="profession of $store.state.courses.professions"
                :is="profession.comingSoon ? 'div' : 'a'"
                :key="profession.pageUrl"
                class="products__item"
                :style="{
                  '--product-color': `#${profession.backgroundColor}`,
                }"
                :href="profession.pageUrl"
                @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'offer', 'eventLabel': profession.name })"
              >
                <span class="body-s products__item-duration">{{ $tc('month', profession.duration) }}</span>
                <div class="products__item-wrap">
                  <div
                    v-if="profession.comingSoon"
                    class="products__item-badge"
                  >{{ $t('comingSoon') }}</div>
                  <h3 class="products__item-title">{{ profession.name }}</h3>
                  <b class="products__item-category">{{ $t('courses.profession') }}</b>
                </div>
                <img
                  class="products__item-image"
                  :src="profession.images.showcaseImage && profession.images.showcaseImage.url || `/images/nomenclatures/${profession.slug}.svg`"
                  :alt="profession.images.showcaseImage && profession.images.showcaseImage.description"
                  width="146"
                  height="148"
                >
              </component>
            </div>
            <div
              v-if="!loading && !$fetchState.pending && $store.state.courses.professionsCanLoadMore && $store.state.courses.professions.length"
              class="products__show-more"
            >
              <div
                @click="loadMoreProfessions"
                class="btn btn_md btn_outline btn_color-primary"
              >
                <div>
                  {{ $t('courses.more') }} <span class="quantity">{{ professionsAvailableLimit }}</span> {{ $tc('profession', professionsAvailableLimit) }}
                </div>
              </div>
            </div>
          </section>

          <section
            v-show="['any', 'course'].includes(filter.types) && $store.state.courses.courses.length"
            class="products"
          >
            <div class="products__top-wrap">
              <h2 class="products__title h2">{{ $t('courses.courses') }}</h2>
              <p class="body-m products__category"><span class="quantity">{{ $store.state.courses.coursesTotal }}</span>{{ $tc('course', $store.state.courses.coursesTotal) }}</p>
            </div>
            <div
              :class="{
                'blinking': $fetchState.pending || loading,
              }"
              class="products__list"
            >
              <component
                v-for="course of $store.state.courses.courses"
                :is="course.comingSoon ? 'div' : 'a'"
                :key="course.pageUrl"
                class="products__item"
                :style="{
                  '--product-color': `#${course.backgroundColor}`,
                }"
                :href="course.pageUrl"
                @click="() => $gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'offer', 'eventLabel': course.name })"
              >
                <span class="body-s products__item-duration">{{ $tc('month', course.duration) }}</span>
                <div class="products__item-wrap">
                  <div
                    v-if="course.comingSoon"
                    class="products__item-badge"
                  >{{ $t('comingSoon') }}</div>
                  <h3 class="products__item-title">{{ course.name }}</h3>
                  <b class="products__item-category">{{ $t('courses.course') }}</b>
                </div>
                <img
                  class="products__item-image"
                  :src="course.images.showcaseImage && course.images.showcaseImage.url || `/images/nomenclatures/${course.slug}.svg`"
                  :alt="course.images.showcaseImage && course.images.showcaseImage.description"
                  width="146"
                  height="148"
                  alt=""
                >
              </component>
            </div>
            <div
              v-if="!loading && !$fetchState.pending && $store.state.courses.coursesCanLoadMore && $store.state.courses.courses.length"
              class="products__show-more"
            >
              <div
                @click="loadMoreCourses"
                class="btn btn_md btn_outline btn_color-primary"
              >
                <div>
                  {{ $t('courses.more') }} <span class="quantity">{{ coursesAvailableLimit }}</span> {{ $tc('course', coursesAvailableLimit) }}
                </div>
              </div>
            </div>
          </section>

          <section
            class="products">
            <noscript inline-template>
              <span v-for="profession of $store.state.courses.professionsAll">
                <a :href="profession.pageUrl">{{ profession.name }}</a>,
              </span>
            </noscript>
            <noscript inline-template>
              <span v-for="course of $store.state.courses.coursesAll">
                <a :href="course.pageUrl">{{ course.name }}</a>,
              </span>
            </noscript>
          </section>

          <section
            v-show="
              !$fetchState.pending &&
              ((!$store.state.courses.professions.length && !$store.state.courses.courses.length) ||
              (filter.types === 'course' && !$store.state.courses.courses.length) ||
              (filter.types === 'profession' && !$store.state.courses.professions.length))"
            class="search-result"
          >
            <p>{{ $t('courses.notFound') }}</p>
          </section>

          <noscript inline-template>
            <pagination
              slot="placeholder"
              :total="maxTotal"
              :limit="LIMIT"
            />
          </noscript>
          <noscript inline-template>
            <span v-for="item of $store.state.courses.coursesAndProfessions">
              <a :href="item.pageUrl">{{ $tc('month', item.duration) }} {{ item.type ? $t('courses.profession') : $t('courses.course') }} {{ item.name }}</a>,
            </span>
          </noscript>
        </div>
      </div>
      <dl
        class="info"
      >
        <dt class="info__title" v-if="false">Profissão</dt>
        <dd class="info__descr" v-if="false">
          É um programa de longa duração que inclui diversos cursos que irão auxiliar você a ser proficiente desde o início. Você também poderá construir um portfólio, fazer seu currículo e se preparar para uma colocação no mercado de trabalho.
        </dd>

        <dt class="info__title" v-if="false">Curso</dt>
        <dd class="info__descr" v-if="false">
          Programa de curta duração que permitirá a sua entrada num campo de especialização ou profissionalização numa habilidade específica que você irá usar em seu portfólio ou crescimento profissional.
        </dd>

        <dd class="info__descr">
          {{ currentDirection.seoText }}
        </dd>
      </dl>

    </div>
    <mainFormSection />
  </main>
</template>

<script>
import pagination from '../components/pagination'
import mainFilter from '../components/mainFilter'
import mainFormSection from '../components/mainPage/mainFormSection'

import { getFilterFromUrl, fillUrlFromFilter, getAppliedFilter } from '../utils/filter'

const OFFSET = 0;
const LIMIT = 10;
const FILTER_DEFAULTS = {
  types: 'any',
  durationMin: 1,
  durationMax: 18,
};

export default {
  name: 'Courses',
  key: 'courses',
  watchParam: false,
  middleware: ['coursesGuard'],
  scrollToTop: false,
  head() {
    return {
      title: this.metaTitle,
      meta: [
        this.metaDescription,
        this.metaKeywords,
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.metaTitle,
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.metaDescription?.content,
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
        // 2021-12-29 - скрыл по просьбе Маши, полностью пока не удаляю, вдруг попросят вернуть
        // Если выбран только один топик и мы попали на роут с топиками - закрываем страницу от индексации
        // Возможно, проверка на количество топиков - избыточна, но пусть будет тут
        // (this.$route?.matched?.find(r => r.path === '/cursos/:topic') && this.filter?.topic?.length === 1) && {
        //   hid: 'robots',
        //   name: 'robots',
        //   content: 'noindex, follow'
        // },
      ].filter(Boolean),
      // Закомментировал установку canonical для того, чтобы тег не дублировался. Скорее всего код ниже нужно будет удалить
      // link: [
      //     {
      //       rel: 'canonical',
      //       href: 'https://' + this.$store.state.host + '/cursos'
      //     }
      //   ]
    }
  },
  data() {
    return {
      filter: {
        ...FILTER_DEFAULTS,
      },
      loading: false,
      needUpdate: false,
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.needUpdate = Math.random();
    next();
  },
  async fetch() {
    this.filter = {
      ...this.filter,
      ...getFilterFromUrl({
        route: this.$route,
        store: this.$store,
        router: this.$router,
        windowMode: false,
        considerUrlParams: ['courses'],
        topicFilter: true,
      })
    };
    this.filter.durationMin = Number(this.filter.durationMin);
    this.filter.durationMax = Number(this.filter.durationMax);

    const page = Number(this.filter.page);
    this.filter.coursesOffset = page ? (page - 1) * LIMIT : OFFSET;
    this.filter.professionsOffset = page ? (page - 1)* LIMIT : OFFSET;

    const directions = this.$store.state.courses.directions;
    const currentDirectionSlug = this.filter.courses;
    const currentDirection = directions.find(direction => direction.slug === currentDirectionSlug) || {};

    let professions, professionsCanLoadMore, professionsTotal;
    // if (['any', 'profession'].includes(this.filter.types)) {
    //   ({ professions, canLoadMore: professionsCanLoadMore, total: professionsTotal } = await getProfessions({
    //     axios: this.$axios,
    //     filter: this.appliedFilter,
    //     limit: 9999,
    //     currentDirection,
    //     error: this.$nuxt.error,
    //     $config: this.$nuxt.$config,
    //     $app: this.$app,
    //   }));
    //
    //   this.$store.commit('courses/setProfessionsAll', Object.assign([], professions));
    // }

    if (['any', 'profession'].includes(this.filter.types)) {
      ({ professions, canLoadMore: professionsCanLoadMore, total: professionsTotal } = await getProfessions({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: LIMIT,
        currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        $app: this.$app,
      }));
    }

    let courses, coursesCanLoadMore, coursesTotal, coursesAndProfessions;
    // if (['any', 'course'].includes(this.filter.types)) {
    //   ({ courses, canLoadMore: coursesCanLoadMore, total: coursesTotal } = await getCourses({
    //     axios: this.$axios,
    //     filter: this.appliedFilter,
    //     limit: 9999,
    //     currentDirection,
    //     error: this.$nuxt.error,
    //     $config: this.$nuxt.$config,
    //     $app: this.$app,
    //   }));
    //
    //   this.$store.commit('courses/setCoursesAll', Object.assign([], courses));
    // }

    if (['any', 'course'].includes(this.filter.types)) {
      ({ courses, canLoadMore: coursesCanLoadMore, total: coursesTotal } = await getCourses({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: LIMIT,
        currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        $app: this.$app,
      }));
    }

    ({ coursesAndProfessions } = await getProfessionsAndCourses({
      axios: this.$axios,
      filter: this.appliedFilter,
      limit: 9999,
      types: this.filter.types,
      currentDirection,
      error: this.$nuxt.error,
      $config: this.$nuxt.$config,
      $app: this.$app,
    }));

    if(professions === undefined) professions = [];
    if(courses === undefined) courses = [];

    this.$store.commit('courses/setCoursesAndProfessions', {
      AllData: Object.assign([], coursesAndProfessions),
      filterData: [...professions, ...courses]}
    );

    if (['any', 'profession'].includes(this.filter.types)) {
      this.$store.commit('courses/setProfessions', Object.assign([], professions));
      this.$store.commit('courses/setProfessionsTotal', professionsTotal);
      this.$store.commit('courses/setProfessionsCanLoadMore', professionsCanLoadMore);
    }

    if (['any', 'course'].includes(this.filter.types)) {
      this.$store.commit('courses/setCourses', Object.assign([], courses));
      this.$store.commit('courses/setCoursesTotal', coursesTotal);
      this.$store.commit('courses/setCoursesCanLoadMore', coursesCanLoadMore);
    }
  },
  computed: {
    topic() {
      if (this.$route.params.topic) {
        return this.$store.state.topics.list.find(i => i.slug === this.$route.params.topic)
      } return undefined
    },
    metaTitle() {
      const pageNumber = this.$route.query.page
      const pagePostfix = (pageNumber ? ` — page ${pageNumber}` : '');
      if (this.topic?.metaTitle) {
        return this.topic.metaTitle + pagePostfix
      } else {
        if (this.currentDirection.metaTitle || this.currentDirection.name) {
          return (this.currentDirection.metaTitle || this.currentDirection.name) + pagePostfix
        }
      }
    },
    metaKeywords() {
      const keywords = {
        hid: 'keywords',
        name: 'keywords',
        content: ''
      }
      if (this.topic?.metaKeywords) keywords.content = this.topic.metaKeywords;
      else if (this.currentDirection?.metaKeywords) keywords.content = this.currentDirection.metaKeywords;
      return keywords;
    },
    metaDescription() {
      const description = {
        hid: 'description',
        name: 'description',
        content: ''
      }
      if (this.topic?.metaDescription) description.content = this.topic.metaDescription;
      if (this.currentDirection?.metaDescription) description.content = this.currentDirection.metaDescription;
      return description;
    },
    pageH1() {
      if (this.topic?.metaH1) {
        return this.topic.metaH1;
      }
      return (this.currentDirection.title || this.currentDirection.name)
    },
    currentDirection() {
      const directions = this.$store.state.courses.directions;
      const filter = this.filter;
      const currentDirectionSlug = filter.courses;

      return directions.find(direction => direction.slug === currentDirectionSlug) || {};
    },
    maxTotal() {
      const coursesTotal = this.$store.state.courses.coursesTotal;
      const professionsTotal = this.$store.state.courses.professionsTotal;
      return Math.max(coursesTotal, professionsTotal);
    },
    appliedFilter() {
      const filter = this.filter;
      const exclude = FILTER_DEFAULTS;
      const appliedFilter = {};

      Object.entries(filter).forEach(([key, value]) => {
        if (!(exclude.hasOwnProperty(key) && exclude[key] === value)) appliedFilter[key] = value;
      });

      if (appliedFilter.topic?.length && appliedFilter.topic.filter(i => i).length === 0) delete appliedFilter.topic;

      return appliedFilter;
    },
    appliedFilterChips() {
      const appliedFilter = this.appliedFilter;

      return getAppliedFilter({
        filter: appliedFilter,
        ignoreFilterParams: ['coursesOffset', 'professionsOffset', 'courses', 'textSearch']
      });
    },
    coursesAvailableLimit() {
      const defaultLimit = LIMIT;
      const page = Number(this.filter.page);
      const coursesLength = page && this.$store.state.courses.courses.length ? this.$store.state.courses.courses.length + (page - 1) * LIMIT : this.$store.state.courses.courses.length;
      const total = this.$store.state.courses.coursesTotal;

      if (total === 0) return defaultLimit;
      if (coursesLength + defaultLimit <= total) return defaultLimit;
      else return total - coursesLength;
    },
    professionsAvailableLimit() {
      const defaultLimit = LIMIT;
      const page = Number(this.filter.page);
      const professionsLength = page && this.$store.state.courses.professions.length ? this.$store.state.courses.professions.length + (page - 1) * LIMIT : this.$store.state.courses.professions.length;
      const total = this.$store.state.courses.professionsTotal;

      if (total === 0) return defaultLimit;
      if (professionsLength + defaultLimit <= total) return defaultLimit;
      else return total - professionsLength;
    },
  },
  created() {
    this.LIMIT = LIMIT;
  },
  methods: {
    async delay() {
      return new Promise(resolve => {
        setTimeout(() => resolve(), 3000)
      })
    },
    async applyFilter() {
      fillUrlFromFilter({
        router: this.$router,
        store: this.$store,
        filter: this.filter,
        replaceMode: false,
        considerUrlParams: ['courses'],
        topicFilter: true,
        ignoreFilterParams: ['coursesOffset', 'professionsOffset']
      });

      this.$scrollTo('.content-wrap', 300, { offset: this.$app.isMobile ? -150 : -60 });
    },
    async loadMoreProfessions() {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'show_more', 'eventLabel': 'cursos_page' });

      const filter = this.appliedFilter;
      const page = Number(this.filter.page);
      this.filter.professionsOffset = filter.professionsOffset = page ? this.$store.state.courses.professions.length + (page - 1) * LIMIT : this.$store.state.courses.professions.length;

      this.loading = true;
      const { professions, canLoadMore, total } = await getProfessions({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: this.professionsAvailableLimit,
        currentDirection: this.currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        $app: this.$app,
      });

      this.$store.commit('courses/setProfessions', [...this.$store.state.courses.professions, ...professions]);
      this.$store.commit('courses/setProfessionsTotal', total);
      this.$store.commit('courses/setProfessionsCanLoadMore', canLoadMore);

      this.loading = false;
    },
    async loadMoreCourses() {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'show_more', 'eventLabel': 'cursos_page' });

      const filter = this.appliedFilter;
      const page = Number(this.filter.page);
      this.filter.coursesOffset = filter.coursesOffset = page ? this.$store.state.courses.courses.length + (page - 1) * LIMIT : this.$store.state.courses.courses.length;

      this.loading = true;
      const { courses, canLoadMore, total } = await getCourses.call(this, {
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: this.coursesAvailableLimit,
        currentDirection: this.currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        $app: this.$app,
      });

      this.$store.commit('courses/setCourses', Object.assign([], [...this.$store.state.courses.courses, ...courses]));
      this.$store.commit('courses/setCoursesTotal', total);
      this.$store.commit('courses/setCoursesCanLoadMore', canLoadMore);

      this.loading = false;
    },

    async onMainSearchSendForm(value) {
      this.filter.textSearch = value;

      if (!value) delete this.filter.textSearch;

      await this.applyFilter(true);
    },
    async onFiltersContentSubmit(value) {
      this.filter = { ...this.filter, ...value };
      await this.applyFilter();
    },
  },
  watch: {
    async 'needUpdate'() {
      if (this.needUpdate) await this.$fetch();
    },
    async 'isSectionsLoaded'() {
      if (this.isSectionsLoaded && !this.isFirstLoad) {
        if (!this.withoutScrollingTrigger) {
          //this.$scrollTo('#content', 300, { offset: this.$app.isMobile ? -150 : -60 });
          await Vue.nextTick(() => {
            this.$scrollTo('#content', 300, { offset: this.$app.isMobile ? -150 : -60 });
          });
        }

        this.withoutScrollingTrigger = false;
      }
    },
  },
  components: {
    mainSearch: () => import('../components/mainSearch'),
    direction: () => import('../components/direction'),
    filtersContent: () => import('../components/filtersContent'),
    pagination,
    mainFilter,
    mainFormSection,
  },
}

const getCourses = async ({ axios, filter, limit, currentDirection, error, $config, $app }) => {
  const _filter = {
    ...filter,
    ...(filter.courses !== 'cursos' && filter.topic?.length !== 1) && {
      directions: [currentDirection.id],
    },
    types: ["0"],
    limit: limit,
    offset: filter.coursesOffset,
  };

  delete _filter.courses;
  delete _filter.professionsOffset;
  delete _filter.coursesOffset;

  let response;
  try {
    if(['pe', 'co', 'ar', 'cl'].includes($app?.config?.common?.currentCountry)) _filter.latam = true;
    response = await axios({
      method: 'post',
      url: `${$config.CMS_REST_API}/public/showcase/`,
      data: _filter
    });
  } catch (e) {
    // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
    // throw e;
  }

  if (!response) return { courses: [], canLoadMore: false, total: 0 };

  if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);
  const data = response.data.data;

  let courses = data.data;
  if ($app.config.current.newDomainName) {
    courses = courses.map((course) => ({
      ...course,
      pageUrl: course.pageUrl && course.pageUrl.replace(new URL(course.pageUrl).origin, $app.config.current.newDomainName) || '',
    }));
  }

  const total = data.meta.total;
  const canLoadMore = data.data.length + _filter.offset !== total;

  return { courses: courses || [], canLoadMore, total };
};

const getProfessions = async ({ axios, filter, limit, currentDirection, error, $config, $app }) => {
  const _filter = {
    ...filter,
    ...(filter.courses !== 'cursos' && currentDirection?.id) && {
      directions: [currentDirection.id],
    },
    types: ["1"],
    limit: limit,
    offset: filter.professionsOffset,
  };

  delete _filter.courses;
  delete _filter.professionsOffset;
  delete _filter.coursesOffset;

  let response;
  try {
    if(["pe", 'co', 'ar', 'cl'].includes($app?.config?.common?.currentCountry)) _filter.latam = true;
    response = await axios({
      method: 'post',
      url: `${$config.CMS_REST_API}/public/showcase/`,
      data: _filter
    });
  } catch (e) {
    // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
    // throw e;
  }
  if (!response) return { professions: [], canLoadMore: false, total: 0 };

  if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);
  const data = response.data.data;

  let professions = data.data;
  if ($app.config.current.newDomainName) {
    professions = professions.map((profession) => ({
      ...profession,
      pageUrl: profession.pageUrl && profession.pageUrl.replace(new URL(profession.pageUrl).origin, $app.config.current.newDomainName) || '',
    }));
  }

  const total = data.meta.total;
  const canLoadMore = data.data.length + _filter.offset !== total;

  return { professions: professions || [], canLoadMore, total };
};

const getProfessionsAndCourses = async ({ axios, filter, limit, types, currentDirection, error, $config, $app }) => {
  const type = {
    any: ["0","1"],
    course: ["0"],
    profession: ["1"]
  };
  const _filter = {
    ...filter,
    ...(filter.courses !== 'cursos' && currentDirection?.id) && {
      directions: [currentDirection.id],
    },
    types: type[types],
    limit: limit,
  };

  delete _filter.courses;
  delete _filter.professionsOffset;
  delete _filter.coursesOffset;

  let response;
  try {
    response = await axios({
      method: 'get',
      url: `${$config.CMS_REST_API}/public/nomenclature-filter`,
      params: _filter
    });
  } catch (e) {
    // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
    // throw e;
  }
  if (!response) return { professionsAndCourses: [] };
  return { coursesAndProfessions: response.data.data || []};
};
</script>
<style lang="sass">
  #content
    transition: height .3s
</style>
