<template>
  <v-app>
    <main>
      <first-section :navigationActiveIndex="0" />
      <section class="about-us-title-section">
        <div class="m-container">
          <h2 class="h2">{{ $t('about-us.title') }}</h2>
        </div>
      </section>

      <section class="about-us-description">
        <div class="m-container">

          <div class="about-us-description-row">
            <div class="about-us-description-col__image-wrapper">
              <img
                class="about-us-description-col__image"
                :src="require(`../assets/${$app.config.common.currentCountry}/svg/ebac-logo.svg`)"
                alt="Ebac Logo"
                width="220"
                height="80"
              >
            </div>
            <div class="about-us-description-col__text">
              <p class="body-m">{{ $t('about-us.description-part-1') }}</p>
              <br/>
              <p class="body-m">{{ $t('about-us.description-part-2') }}</p>
            </div>
          </div>

        </div>
      </section>

      <div class="m-container">
        <section class="about-us-facts-and-areas">
            <div class="about-us-facts">
              <div class="about-us-facts__fact about-us-facts__fact-one">
                <div class="about-us-facts__title">
                  {{ $t('index.main-info-section.1.title') }}
                </div>
                <div class="about-us-facts__description">
                  {{ $t('index.main-info-section.1.description') }}
                </div>
              </div>
              <div class="about-us-facts__fact about-us-facts__fact-two">
                <div class="about-us-facts__title">
                  {{ $t('index.main-info-section.2.title') }}
                </div>
                <div class="about-us-facts__description">
                  {{ $t('index.main-info-section.2.description') }}
                </div>
              </div>
              <div class="about-us-facts__fact about-us-facts__fact-three">
                <div class="about-us-facts__title">
                  {{ $t('index.main-info-section.3.title') }}
                </div>
                <div class="about-us-facts__description">
                  {{ $t('index.main-info-section.3.description') }}
                </div>
              </div>
              <div class="about-us-facts__fact about-us-facts__fact-four">
                <div class="about-us-facts__title">
                  {{ $t('index.main-info-section.4.title') }}
                </div>
                <div class="about-us-facts__description">
                  {{ $t('index.main-info-section.4.description') }}
                </div>
              </div>
            </div>

            <div class="about-us-areas">
              <div class="about-us-areas-title">
                <h2 class="h3">{{ $t('about-us.areas.h2') }}</h2>
              </div>
              <div class="about-us-areas-cards">
                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/Pen-tool-vector.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-1.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-1.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/Playlist.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-2.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-2.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/Chart-line#1.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-3.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-3.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/TV#1.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-4.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-4.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/Git#4.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-5.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-5.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/Combined Shape.svg')"
                      alt="Pen-tool-vector"
                      width="24"
                      height="24"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-6.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-6.description') }}</div>
                </div>

                <div class="about-us-areas-cards__item" v-show="$app.config.common.currentCountry == 'br'">
                  <div class="about-us-areas-cards__item-image-wrapper">
                    <img
                      class="about-us-areas-cards__item-image"
                      :src="require('../assets/svg/business_ico1.svg')"
                      alt="Pen-tool-vector"
                      width="90"
                      height="90"
                    />
                  </div>
                  <div class="about-us-areas-cards__item-title">{{ $t('about-us.areas.card-item-7.title') }}</div>
                  <div class="about-us-areas-cards__item-text">{{ $t('about-us.areas.card-item-7.description') }}</div>
                </div>
              </div>
            </div>
        </section>
       </div>

      <section class="about-us-list">
        <div class="about-us-list-image-divider-wrapper">
          <img
            class="about-us-list-image-divider mobile"
            :src="require('~/assets/images/SobreNos_Mobile_1@1x.png')"
            :srcset="`${require('~/assets/images/SobreNos_Mobile_1@1x.png')}, ${require('~/assets/images/SobreNos_Mobile_1@2x.png')} 2x`"
          />
          <img
            class="about-us-list-image-divider desktop"
            :src="require('~/assets/images/SobreNos_Desktop_1@1x.png')"
            :srcset="`${require(`~/assets/images/SobreNos_Desktop_1@1x.png`)}, ${require(`~/assets/images/SobreNos_Desktop_1@2x.png`)} 2x`"
          />
        </div>

        <div class="m-container">

          <div class="about-us-list__items">
            <div class="about-us-list__item">
              <div class="about-us-list__item-number-wrapper">
                <div class="about-us-list__item-number">1</div>
              </div>
              <div class="about-us-list__item-body">
                <div class="about-us-list__item-body-title text-nowrap">{{ $t('about-us.list.item-1.title') }}</div>
                <div class="about-us-list__item-body-text">{{ $t('about-us.list.item-1.description') }}</div>
              </div>
            </div>
            <div class="about-us-list__item">
              <div class="about-us-list__item-number-wrapper">
                <div class="about-us-list__item-number">2</div>
              </div>
              <div class="about-us-list__item-body">
                <div class="about-us-list__item-body-title">{{ $t('about-us.list.item-2.title') }}</div>
                <div class="about-us-list__item-body-text">{{ $t('about-us.list.item-2.description') }}</div>
              </div>
            </div>
            <div class="about-us-list__item">
              <div class="about-us-list__item-number-wrapper">
                <div class="about-us-list__item-number">3</div>
              </div>
              <div class="about-us-list__item-body">
                <div class="about-us-list__item-body-title">{{ $t('about-us.list.item-3.title') }}</div>
                <div class="about-us-list__item-body-text">{{ $t('about-us.list.item-3.description') }}</div>
              </div>
            </div>
            <div class="about-us-list__item">
              <div class="about-us-list__item-number-wrapper">
                <div class="about-us-list__item-number">4</div>
              </div>
              <div class="about-us-list__item-body">
                <div class="about-us-list__item-body-title" v-html="$t('about-us.list.item-4.title')"></div>
                <div class="about-us-list__item-body-text">{{ $t('about-us.list.item-4.description') }}</div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <teachers-slider v-if="$app.config.common.currentCountry == 'br'"></teachers-slider>

      <reviews-section></reviews-section>

      <section class="about-us-places">
        <div class="about-us-places-title">
          <div class="m-container">
            <h2 class="h2" v-html="$t('about-us.places.h2')"></h2>
          </div>
          <div class="m-container">
            <div class="about-us-places-grid">
              <div class="about-us-places-image-wrapper">
                <img
                  class="about-us-places-image about-us-places-image-mobile"
                  alt="Photo"
                  :src="require('~/assets/images/SobreNos_Mobile_2@1x.png')"
                  :srcset="`${require(`~/assets/images/SobreNos_Mobile_2@1x.png`)}, ${require(`~/assets/images/SobreNos_Mobile_2@2x.png`)} 2x`"
                />
                <img
                  class="about-us-places-image about-us-places-image-desktop"
                  alt="Photo"
                  :src="require('~/assets/images/SobreNos_Desktop_2@1x.png')"
                  :srcset="`${require(`~/assets/images/SobreNos_Desktop_2@1x.png`)}, ${require(`~/assets/images/SobreNos_Desktop_2@2x.png`)} 2x`"
                />
              </div>
              <div class="about-us-places-list">
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-1') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-2') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-3') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-4') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-5') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-6') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-7') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-8') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-9') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-10') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-11') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-12') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-13') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-14') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-15') }}</div>
                <div class="about-us-places-list__item">{{ $t('about-us.places.list.item-16') }}</div>
                <div v-if="$te('about-us.places.list.item-19')" class="about-us-places-list__item">{{ $t('about-us.places.list.item-19') }}</div>
                <div v-if="$te('about-us.places.list.item-17')" class="about-us-places-list__item">{{ $t('about-us.places.list.item-17') }}</div>
                <div v-if="$te('about-us.places.list.item-18')" class="about-us-places-list__item">{{ $t('about-us.places.list.item-18') }}</div>
              </div>
             </div>
          </div>
        </div>
      </section>

      <partners-slider/>
    </main>
  </v-app>
</template>

<script>
import contentList from '../components/common/contentList'
import PartnersSlider from '../components/partnersSlider.vue'
import ReviewsSection from '../components/reviewsSection.vue'
import firstSection from '../components/sobre/firstSection'
import TeachersSlider from '../components/teachersSlider.vue'

export default {
  name: 'AboutUs',
  head() {
    return {
      title: this.$t('meta.aboutUs.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.aboutUs.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.aboutUs.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.aboutUs.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.aboutUs.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    }
  },
  components: {
    contentList,
    PartnersSlider,
    firstSection,
    ReviewsSection,
    TeachersSlider
  },
}
</script>

<style lang="sass">
  .about-us
    &-title-section
      & .h2
        margin-top: 40px
        margin-bottom: 44px
        @media (min-width: $tb)
          margin-bottom: 32px
          margin-top: 120px
    &-description
      &-row
        @media (min-width: $tb)
          display: flex

      &-col
        &__text
          @media (min-width: $tb)
            order: 1
            margin-right: 61px
            margin-bottom: 40px
          @media (min-width: $md)
            margin-right: 114px
            margin-bottom: 76px
            line-height: 32px
          @media (min-width: $lp)
            margin-right: 130px
            margin-bottom: 84px
          & .body-m
            font-size: 18px
            line-height: 24px
            @media (min-width: $md)
              font-size: 24px
              line-height: 32px
        &__image-wrapper
          margin-bottom: 20px
          align-self: flex-start
          @media (min-width: $tb)
            order: 2
        &__image
          height: 100%
          object-fit: contain
          @media (min-width: $tb)
            width: 155px
          @media (min-width: $md)
            width: 212px
          @media (min-width: $lp)
            width: 266px
    &-facts-and-areas
      @media (min-width: $tb)
        display: flex
    &-facts
      margin-top: 20px
      margin-bottom: 40px
      @media (min-width: $tb)
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        align-self: flex-start
        margin-right: 44px
        position: sticky
        top: 36px
      @media (min-width: $md)
        margin-right: 69px
      @media (min-width: $lp)
        justify-content: flex-start
      &__title
        margin-bottom: 16px
        font-weight: 600
        font-size: 40px
        line-height: 40px
        text-transform: uppercase
        color: #333333
        @media (min-width: $tb)
          font-size: 32px
          flex: 1 auto
        @media (min-width: $md)
          font-size: 48px
          line-height: 52px
          letter-spacing: -0.02em
        @media (min-width: $lp)
          font-size: 58px
          line-height: 64px
      &__description
        color: #101010
        font-size: 16px
        line-height: 24px
        @media (min-width: $tb)
          font-size: 12px
          line-height: 18px
        @media (min-width: $md)
          font-size: 18px
          line-height: 24px
      &__fact
        box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
        border-radius: 8px
        margin-bottom: 20px
        padding: 20px
        @media (min-width: $tb)
          max-width: 155px
          height: 187px
          margin-bottom: 28px
          padding: 16px
          display: flex
          flex-direction: column
        @media (min-width: $md)
          max-width: 212px
          height: 267px
          margin-bottom: 32px
          padding: 24px
        @media (min-width: $lp)
          max-width:  266px
          height: 312px
          padding: 32px
        &:last-child
          margin-bottom: 0
        &:nth-child(n+3)
          @media (min-width: $tb)
            margin-bottom: 0
        &:nth-child(2n)
          @media (min-width: $tb)
            margin-left: 28px
          @media (min-width: $md)
            margin-left: 32px
      &__fact-one
        background: #F2C94C
        @media (min-width: $tb)
          margin-top: 28px
        @media (min-width: $md)
          margin-top: 32px
        @media (min-width: $lp)
          margin-top: 64px
      &__fact-two
        background: #87B9E7
      &__fact-three
        background: #D0F2B1
      &__fact-four
        background: #F29C98
        @media (min-width: $tb)
          margin-top: -28px
        @media (min-width: $md)
          margin-top: -32px
        @media (min-width: $lp)
          margin-top: -64px
    &-areas
      @media (min-width: $tb)
        margin-left: 44px
      @media (min-width: $lp)
        margin-left: 0
        margin-right: 100px
      &-title
        & h2
          @media (min-width: $tb)
            font-size: 32px
            line-height: 38px
            width: 226px
          @media (min-width: $md)
            margin-bottom: 32px
      &-cards
        &__item
          padding: 16px
          border: 2px solid #905DB4
          border-radius: 8px
          margin-top: 20px
          margin-bottom: 20px
          @media (min-width: $tb)
            width: 277px
          @media (min-width: $md)
            width: 375px
          @media (min-width: $lp)
            width: 367px
          &-image-wrapper
            background-color: #EDE2F8
            width: 48px
            height: 48px
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            margin-bottom: 24px
            @media (min-width: $md)
              margin-bottom: 32px
              height: 64px
              width: 64px
          &-title
            font-weight: 600
            line-height: 20px
            margin-bottom: 4px
            font-size: 16px
            line-height: 20px
            @media (min-width: $tb)
              line-height: 20px
            @media (min-width: $md)
              line-height: 28px
              font-size: 24px
          &-text
            color: #000000
            line-height: 24px
            font-size: 16px
            @media (min-width: $md)
              font-size: 18px
    &-list
      margin-top: 40px
      margin-bottom: 40px
      @media (min-width: $tb)
        margin-bottom: 48px
      @media (min-width: $md)
        margin-top: 76px
      @media (min-width: $lp)
        margin-top: 80px

      &-image-divider-wrapper
        margin-top: 40px
        margin-bottom: 40px
        @media (min-width: $tb)
          margin-bottom: 32px
          margin-left: 16px
          margin-right: 16px
          border-radius: 12px
          overflow: hidden
          height: 340px
        @media (min-width: $md)
          height: 420px
          margin-left: 25px
          margin-right: 25px
          margin-bottom: 40px
          margin-top: 64px
        @media (min-width: $lp)
          height: 600px
          width: 1224px
          margin: auto
      &-image-divider
        width: 100%
        height: 320px
        object-fit: cover
        &.mobile
          display: block
          margin: auto
          object-position: 100% 35%
          @media (min-width: $tb)
            display: none
        &.desktop
          display: none
          object-position: top right
          @media (min-width: $tb)
            display: block
            height: 100%
      &__items
        @media (min-width: $tb)
          display: flex
          justify-content: space-between
      &__item
        margin-top: 24px
        margin-bottom: 24px
        display: flex
        @media (min-width: $tb)
          display: block
          flex: 1
          width: 154px
          max-width: 154px
        @media (min-width: $md)
          width: 212px
          max-width: 212px
        @media (min-width: $lp)
          width: 266px
          max-width: 266px
          & br
            display: none
        &-number-wrapper
          flex: 1
          width: 60px
          height: 60px
          max-width: 60px
          background-color: #EDE2F8
          display: flex
          align-items: center
          justify-content: center
          border-radius: 50%
          margin-right: 20px
          @media (min-width: $tb)
            width: 72px
            height: 72px
            max-width: 72px
            margin: auto
            margin-bottom: 20px
          @media (min-width: $md)
            width: 84px
            height: 84px
            max-width: 84px
            margin-bottom: 24px
        &-number
          font-weight: 600
          font-size: 32px
          line-height: 32px
          @media (min-width: $tb)
            line-height: 38px
          @media (min-width: $md)
            font-size: 40px
            line-height: 44px
        &-body
          flex: 1
          &-title
            color: #101010
            font-weight: 600
            font-size: 16px
            line-height: 20px
            &.text-nowrap
              white-space: nowrap
            @media (min-width: $tb)
              text-align: center
              margin-bottom: 8px
            @media (min-width: $md)
              font-size: 24px
              line-height: 32px
          &-text
            color: #101010
            font-size: 16px
            line-height: 24px
            @media (min-width: $tb)
              text-align: center
            @media (min-width: $md)
              font-size: 18px
    &-places
      margin-top: 80px
      margin-bottom: 80px
      &-title
        & h2
          margin-bottom: 32px
          @media (min-width: $tb)
            font-size: 48px
            line-height: 62px
            text-align: center
            width: 627px
            margin-left: auto
            margin-right: auto
            & br
              display: none
      &-grid
        @media (min-width: $tb)
          display: grid
          grid-template-columns: auto 399px
          grid-auto-rows: max-content
        @media (min-width: $md)
          grid-template-columns: auto 537px
        @media (min-width: $lp)
          grid-template-columns: auto 663px
      &-image-wrapper
        margin-bottom: 32px
        margin-left:  -20px
        margin-right: -20px
        @media (min-width: $tb)
          grid-row: 1
          grid-column: 2
          margin-left:  0px
          margin-right: 0px
          margin-bottom: 0px
          border-radius: 12px
          overflow: hidden
      &-image
        max-width: 100%
        width: 100%
        height: 320px
        object-fit: cover
        object-position: center right
        @media (min-width: $tb)
          height: 420px
        @media (min-width: $md)
          height: 568px
        &-mobile
          display: block
          @media (min-width: $tb)
            display: none
        &-desktop
          display: none
          @media (min-width: $tb)
            display: block
      &-list
        display: flex
        flex-wrap: wrap
        @media (min-width: $tb)
          grid-row: 1
          grid-column: 1
          height: max-content
        &__item
          color: #000000
          flex: 1 0 50%
          max-width: 50%
          min-width: 50%
          font-size: 16px
          line-height: 20px
          font-weight: 600
          margin-bottom: 20px
          @media (min-width: $md)
            font-size: 24px
            line-height: 28px
            margin-bottom: 32px
</style>
