<template>
  <v-app>
    <main style="overflow: hidden;">
      <first-section :navigationActiveIndex="1" />
      <section class="main-additional-navigation-section">
        <div class="m-container">
          <h2 class="h2">{{ $t('career-center-company.h2') }}</h2>
          <additional-navigation />
        </div>
      </section>
      <section class="main-career-center-company-description-section">
        <div class="m-container">
          <p class="body-m">{{ $t('career-center-company.description') }}</p>
        </div>
      </section>
      <section class="main-career-center-company-content-section">
        <img
          class="main-career-center-company-block__mobile-img main-career-center-company-block__mobile-img_one"
          :src="require('~/assets/images/SobreCentroParaEmpresas_Mobile_1@1x.png')"
          :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Mobile_1@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Mobile_1@2x.png')} 2x`"
        >
        <div class="m-container">
          <div class="main-career-center-company-block main-career-center-company-block_one">
            <div class="main-career-center-company-block__content main-career-center-company-block__content_one">
              <h3 class="h3">{{ $t('career-center-company.block-1.title') }}</h3>
              <p class="main-career-center-company-block__content-description" v-html="$t('career-center-company.block-1.description')"></p>
              <div class="main-career-center-company-block__content-list">
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">1</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-1.list-1.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">2</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-1.list-2.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">3</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-1.list-3.content') }}
                  </div>
                </div>
              </div>
            </div>
            <div class="main-career-center-company-block__img-wrapper">
              <img
                :src="require('~/assets/images/SobreCentroParaEmpresas_Desktop_1@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Desktop_1@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Desktop_1@2x.png')} 2x`"
              >
            </div>
          </div>
        </div>

        <img
          class="main-career-center-company-block__mobile-img main-career-center-company-block__mobile-img_two"
          :src="require('~/assets/images/SobreCentroParaEmpresas_Mobile_2@1x.png')"
          :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Mobile_2@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Mobile_2@2x.png')} 2x`"
        >
        <div class="m-container">
          <div class="main-career-center-company-block main-career-center-company-block_two">
            <div class="main-career-center-company-block__img-wrapper">
              <img
                :src="require('~/assets/images/SobreCentroParaEmpresas_Desktop_2@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Desktop_2@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Desktop_2@2x.png')} 2x`"
              >
            </div>
            <div class="main-career-center-company-block__content main-career-center-company-block__content_two">
              <h3 class="h3">{{ $t('career-center-company.block-2.title') }}</h3>
              <p class="main-career-center-company-block__content-description">{{ $t('career-center-company.block-2.description') }}</p>
              <div class="main-career-center-company-block__content-list">
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">1</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-2.list-1.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">2</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-2.list-2.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">3</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-2.list-3.content') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-container">
          <div class="main-career-center-company-accent-block">
            <div class="subtitle">
              <p style="margin-bottom: 24px">{{ $t('career-center-company.accent-block.part1') }}</p>
              <p>{{ $t('career-center-company.accent-block.part2') }}</p>
            </div>
            <div class="main-career-center-company-accent-block__shadow" />
          </div>
        </div>

        <img
          class="main-career-center-company-block__mobile-img main-career-center-company-block__mobile-img_three"
          :src="require('~/assets/images/SobreCentroParaEmpresas_Mobile_3@1x.png')"
          :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Mobile_3@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Mobile_3@2x.png')} 2x`"
        >
        <div class="m-container">
          <div class="main-career-center-company-block main-career-center-company-block_three">
            <div class="main-career-center-company-block__content main-career-center-company-block__content_three">
              <h3 class="h3">{{ $t('career-center-company.block-3.title') }}</h3>
              <p class="main-career-center-company-block__content-description">{{ $t('career-center-company.block-3.description') }}</p>
              <div class="main-career-center-company-block__content-list">
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">1</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-3.list-1.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">2</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-3.list-2.content') }}
                  </div>
                </div>
                <div class="main-career-center-company-block__list-item-wrapper">
                  <div class="main-career-center-company-block__list-item-index">3</div>
                  <div class="main-career-center-company-block__list-item-content">
                    {{ $t('career-center-company.block-3.list-3.content') }}
                  </div>
                </div>
              </div>
            </div>
            <div class="main-career-center-company-block__img-wrapper">
              <img
                :src="require('~/assets/images/SobreCentroParaEmpresas_Desktop_3@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaEmpresas_Desktop_3@1x.png')}, ${require('~/assets/images/SobreCentroParaEmpresas_Desktop_3@2x.png')} 2x`"
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </v-app>
</template>

<script>
import firstSection from '../components/sobre/firstSection'
import additionalNavigation from '../components/sobre/additionalNavigation'

export default {
  name: 'CareerCenterCompany',
  scrollToTop: true,
  head() {
    return {
      title: this.$t('meta.careerCenterCompany.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.careerCenterCompany.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.careerCenterCompany.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.careerCenterCompany.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.careerCenterCompany.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    }
  },
  components: {
    firstSection,
    additionalNavigation,
  },
}
</script>

<style lang="sass">
  .main
    &-navigation-section
      @media (min-width: $tb)
        margin-top: -29px
      & .m-container
        padding: 0
    &-additional-navigation-section
      & .h2
        margin-top: 40px
        margin-bottom: 19px
        @media (min-width: $tb)
          margin-bottom: 33px
          margin-top: 120px
    &-career-center-company-description-section
      & .body-m
        margin-top: 32px
        margin-bottom: 40px!important
        @media (min-width: $tb)
          font-size: 16px
          margin-top: 56px
          margin-bottom: 64px!important
          max-width: 582px
        @media (min-width: $md)
          font-size: 18px
          max-width: 615px
        @media (min-width: $lp)
          margin-bottom: 78px!important
          max-width: 663px
    &-career-center-company-accent-block
      position: relative
      margin-bottom: 57px
      @media (min-width: $tb)
        width: 590px
        margin-bottom: 116px
      @media (min-width: $md)
        width: 781px
        margin-bottom: 120px
      @media (min-width: $lp)
        width: 962px
      &:before
        content: '!'
        position: absolute
        top: -32px
        left: 20px
        width: 64px
        height: 64px
        background: #D36133
        border-radius: 50%
        z-index: 2
        font-weight: 600
        font-size: 40px
        line-height: 44px
        text-transform: uppercase
        color: #fff
        display: flex
        justify-content: center
        align-items: center
        @media (min-width: $tb)
          top: -42px
          width: 84px
          height: 84px
          left: 32px
        @media (min-width: $md)
          left: 40px
      & .subtitle
        font-size: 18px
        line-height: 24px
        padding: 50px 20px 20px 20px
        background: #EDE2F8
        border-radius: 16px
        position: relative
        z-index: 1
        color: #000
        @media (min-width: $tb)
          padding: 66px 32px 32px 32px
          border-radius: 24px
        @media (min-width: $md)
          padding: 66px 40px 40px 40px
          font-size: 24px
          line-height: 32px
        & p:first-child
          margin-bottom: 12px!important
          @media (min-width: $md)
            margin-bottom: 16px!important
      &__shadow
        position: absolute
        left: 8px
        right: -8px
        bottom: -9px
        top: 9px
        background: #905DB4
        border-radius: 16px
        @media (min-width: $tb)
          border-radius: 24px
          left: 16px
          right: -16px
          bottom: -16px
          top: 16px
        @media (min-width: $lp)
          left: 12px
          right: -12px
          bottom: -16px
          top: 16px
    &-career-center-company-block
      display: flex
      &_one
        margin-bottom: 64px
        @media (min-width: $tb)
          margin-bottom: 164px
        @media (min-width: $md)
          margin-bottom: 160px
      &_two
        margin-bottom: 70px
        @media (min-width: $tb)
          margin-bottom: 126px
        @media (min-width: $md)
          margin-bottom: 118px
      &_three
        margin-bottom: 80px
        @media (min-width: $tb)
          margin-bottom: 100px
        @media (min-width: $md)
          margin-bottom: 120px
      & h3
        margin-top: 0
        margin-bottom: 20px
        @media (min-width: $tb)
          font-size: 20px
          line-height: 26px
        @media (min-width: $md)
          font-size: 32px
          line-height: 38px
      &__content-description
        font-size: 16px
        line-height: 24px
        color: #000
        @media (min-width: $md)
          font-size: 18px
      &__mobile-img
        width: 100%
        height: 320px
        object-fit: cover
        margin: 0 auto 32px auto
        &_three
          object-position: top center
        @media (min-width: $tb)
          display: none
      &__content_one
        @media (min-width: $tb)
          margin-right: 61px
        @media (min-width: $md)
          margin-right: 82px
        @media (min-width: $lp)
          margin-right: 97px
      &__content_two
        @media (min-width: $tb)
          margin-left: 61px
        @media (min-width: $md)
          margin-left: 82px
        @media (min-width: $lp)
          margin-left: 97px
      &__content_three
        @media (min-width: $tb)
          margin-right: 61px
        @media (min-width: $md)
          margin-right: 82px
        @media (min-width: $lp)
          margin-right: 97px
      &__img-wrapper
        display: none
        object-fit: cover
        @media (min-width: $tb)
          display: block
        & img
          object-fit: cover
          max-width: 366px
          width: 366px
          max-height: 520px
          height: 520px
          border-radius: 12px
          @media (min-width: $md)
            max-width: 488px
            width: 488px
            max-height: 520px
            height: 520px
          @media (min-width: $lp)
            max-width: 596px
            width: 596px
            max-height: 520px
            height: 520px
      &__content-list
        margin-top: 32px
      &__list-item-wrapper
        display: flex
        margin-bottom: 24px
        @media (min-width: $md)
          margin-bottom: 40px
        &:last-child
          margin-bottom: 0
      &__list-item-index
        width: 48px
        min-width: 48px
        height: 48px
        min-height: 48px
        background: #905DB4
        border-radius: 50%
        color: #fff
        display: flex
        align-items: center
        justify-content: center
        font-weight: 600
        font-size: 20px
        line-height: 26px
      &__list-item-content
        margin-left: 16px
        font-size: 16px
        line-height: 24px
        color: #000
        display: flex
        align-items: center
        @media (min-width: $md)
          font-size: 18px
</style>
