<template>
  <v-app>
    <main style="overflow: hidden;">
      <first-section :navigationActiveIndex="1" />
      <section class="main-additional-navigation-section">
        <div class="m-container">
          <h2 class="h2">{{ $t('career-center-students.h2') }}</h2>
          <additional-navigation />
        </div>
      </section>
      <section class="main-career-center-description-section">
        <div class="m-container">
          <h3 class="h3">{{ $t('career-center-students.description.h3') }}</h3>
          <p class="subtitle">{{ $t('career-center-students.description.subtitle') }}</p>
          <p class="body-m">{{ $t('career-center-students.description.body-m') }}</p>
        </div>
      </section>
      <section class="main-steps-section">
        <div class="m-container">
          <div class="main-steps-section__step main-steps-section__step_one">
            <div class="main-steps-section__step-img-wrapper">
              <img
                class="image-mobile"
                :src="require('~/assets/images/SobreCentroParaAlunos_Mobile_1@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Mobile_1@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Mobile_1@2x.png')} 2x`"
              >
              <img
                class="image-desktop"
                :src="require('~/assets/images/SobreCentroParaAlunos_Desktop_1@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Desktop_1@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Desktop_1@2x.png')} 2x`"
              >
            </div>
            <div class="main-steps-section__step-content-wrapper">
              <h4 class="h4">{{ $t('career-center-students.step-1.title') }}</h4>
              <p class="main-steps-section__step-description body-m" v-html="$t('career-center-students.step-1.description')"></p>
            </div>
          </div>
          <div class="main-steps-section__step main-steps-section__step_two">
            <div class="main-steps-section__step-img-wrapper">
              <img
                class="image-mobile"
                :src="require('~/assets/images/SobreCentroParaAlunos_Mobile_2@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Mobile_2@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Mobile_2@2x.png')} 2x`"
              >
              <img
                class="image-desktop"
                :src="require('~/assets/images/SobreCentroParaAlunos_Desktop_2@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Desktop_2@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Desktop_2@2x.png')} 2x`"
              >
            </div>
            <div class="main-steps-section__step-content-wrapper">
              <h4 class="h4">{{ $t('career-center-students.step-2.title') }}</h4>
              <p class="main-steps-section__step-description body-m">{{ $t('career-center-students.step-2.description') }}</p>
            </div>
          </div>
          <div class="main-steps-section__step main-steps-section__step_three">
            <div class="main-steps-section__step-img-wrapper">
              <img
                class="image-mobile"
                :src="require('~/assets/images/SobreCentroParaAlunos_Mobile_3@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Mobile_3@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Mobile_3@2x.png')} 2x`"
              >
              <img
                class="image-desktop"
                :src="require('~/assets/images/SobreCentroParaAlunos_Desktop_3@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Desktop_3@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Desktop_3@2x.png')} 2x`"
              >
            </div>
            <div class="main-steps-section__step-content-wrapper">
              <h4 class="h4">{{ $t('career-center-students.step-3.title') }}</h4>
              <p class="main-steps-section__step-description body-m">{{ $t('career-center-students.step-3.description') }}</p>
            </div>
          </div>
          <div class="main-steps-section__step main-steps-section__step_four">
            <div class="main-steps-section__step-img-wrapper">
              <img
                class="image-mobile"
                :src="require('~/assets/images/SobreCentroParaAlunos_Mobile_4@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Mobile_4@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Mobile_4@2x.png')} 2x`"
              >
              <img
                class="image-desktop"
                :src="require('~/assets/images/SobreCentroParaAlunos_Desktop_4@1x.png')"
                :srcset="`${require('~/assets/images/SobreCentroParaAlunos_Desktop_4@1x.png')}, ${require('~/assets/images/SobreCentroParaAlunos_Desktop_4@2x.png')} 2x`"
              >
            </div>
            <div class="main-steps-section__step-content-wrapper">
              <h4 class="h4">{{ $t('career-center-students.step-4.title') }}</h4>
              <p class="main-steps-section__step-description body-m" v-html="$t('career-center-students.step-4.description')"></p>
            </div>
          </div>
        </div>
      </section>
      <!-- <section
        class="m-container yclients-promo-block"
        style="display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;"
      >
        <v-btn
          color="primary"
          rounded
          depressed
          outlined
          x-large
          :ripple="false"
          nuxt
          class="ms_booking"
        >
          Inscreva-se para uma consulta on-line
        </v-btn>
        <script
          v-if="$app.config.common.currentCountry === 'br'"
          type="text/javascript"
          src="//w625104.alteg.io/widgetJS"
          charset="UTF-8"
        ></script>
      </section> -->
    </main>
  </v-app>
</template>

<script>
import firstSection from '../components/sobre/firstSection'
import additionalNavigation from '../components/sobre/additionalNavigation'

export default {
  name: 'CareerCenterStudents',
  scrollToTop: true,
  head() {
    return {
      title: this.$t('meta.careerCenterStudents.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.careerCenterStudents.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.careerCenterStudents.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.careerCenterStudents.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.careerCenterStudents.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
      script: this.$app.config.current.careerCenterStudentsScripts,
    }
  },
  components: {
    firstSection,
    additionalNavigation,
  },
}
</script>

<style lang="sass">
  .main
    &-navigation-section
      @media (min-width: $tb)
        margin-top: -29px
      & .m-container
        padding: 0
    &-additional-navigation-section
      & .h2
        margin-top: 40px
        margin-bottom: 19px
        @media (min-width: $tb)
          margin-bottom: 33px
          margin-top: 120px
    &-career-center-description-section
      & .h3
        font-size: 20px
        line-height: 26px
        margin-top: 32px
        margin-bottom: 20px
        @media (min-width: $tb)
          margin-top: 62px
        @media (min-width: $md)
          font-size: 32px
          line-height: 38px
          margin-top: 56px
          margin-bottom: 16px
      & .subtitle
        font-size: 18px
        line-height: 24px
        margin-bottom: 20px!important
        color: #000
        @media (min-width: $tb)
          margin-bottom: 16px!important
        @media (min-width: $md)
          font-size: 20px
          line-height: 28px
          margin-bottom: 32px!important
      & .body-m
        @media (min-width: $tb)
          font-size: 16px
          max-width: 643px
        @media (min-width: $md)
          font-size: 18px
          max-width: 779px
        @media (min-width: $lp)
          max-width: 763px
    &-steps-section
      margin-top: 20px
      margin-bottom: 80px
      @media (min-width: $tb)
        margin-top: 60px
        margin-bottom: 100px
      @media (min-width: $md)
        margin-top: 48px
        margin-bottom: 120px
      @media (min-width: $xl)
        margin-bottom: 94px
      & .m-container
        @media (min-width: $tb)
          display: flex
          flex-wrap: wrap
      &__step
        height: 100%
        box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
        border-radius: 12px
        &-content-wrapper
          padding: 24px
          @media (min-width: $md)
            padding: 32px
          @media (min-width: $lp)
            padding: 40px
        &-description
          font-size: 18px
          line-height: 24px
          white-space: pre-line
        &-img-wrapper
          position: relative
          min-height: 157px
          &:before
            position: absolute
            z-index: 1
            box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
            border-radius: 50%
            font-weight: 600
            font-size: 32px
            line-height: 38px
            color: #fff
            width: 64px
            height: 64px
            bottom: -32px
            left: 24px
            display: flex
            align-items: center
            justify-content: center
            @media (min-width: $md)
              width: 74px
              height: 74px
              left: 32px
              bottom: -37px
            @media (min-width: $lp)
              left: 40px
        &_one
          @media (min-width: $tb)
            width: 304px
            max-width: 304px
          @media (min-width: $md)
            width: 407px
            max-width: 407px
          @media (min-width: $lp)
            width: 497px
            max-width: 497px
          & .main-steps-section__step-img-wrapper
            @media (min-width: $tb)
              height: 180px
              max-height: 180px
            @media (min-width: $md)
              height: 280px
              max-height: 280px
            &:before
              content: '1'
              background: #87B9E7
        &_two
          margin-top: 24px
          @media (min-width: $tb)
            margin-top: 278px
            margin-left: 51px
            width: 338px
            max-width: 338px
          @media (min-width: $md)
            margin-top: 301px
            margin-left: 81px
            width: 456px
            max-width: 456px
          @media (min-width: $lp)
            margin-left: 99px
            width: 564px
            max-width: 564px
          & .main-steps-section__step-img-wrapper
            @media (min-width: $tb)
              height: 180px
              max-height: 180px
            @media (min-width: $md)
              height: 280px
              max-height: 280px
            &:before
              content: '2'
              background: #F29C98
        &_three
          margin-top: 28px
          @media (min-width: $tb)
            margin-top: 80px
            width: 469px
            max-width: 469px
          @media (min-width: $md)
            margin-top: 100px
            width: 619px
            max-width: 619px
          @media (min-width: $lp)
            margin-top: 124px
            width: 763px
            max-width: 763px
          @media (min-width: $xl)
            margin-top: 100px
          & .main-steps-section__step-img-wrapper
            @media (min-width: $tb)
              height: 180px
              max-height: 180px
            @media (min-width: $md)
              height: 280px
              max-height: 280px
            &:before
              content: '3'
              background: #F2C94C
        &_four
          margin-top: 28px
          @media (min-width: $tb)
            margin-left: 305px
            margin-top: 80px
            width: 399px
            max-width: 399px
          @media (min-width: $md)
            margin-left: 407px
            margin-top: 100px
            width: 537px
            max-width: 537px
          @media (min-width: $lp)
            margin-left: 527px
            width: 633px
            max-width: 633px
          & .main-steps-section__step-img-wrapper
            @media (min-width: $tb)
              height: 180px
              max-height: 180px
            @media (min-width: $md)
              height: 280px
              max-height: 280px
            &:before
              content: '4'
              background: #A7E073
      & img
        border-radius: 12px 12px 0 0
        object-fit: cover
        width: 100%
        height: 100%
      & .h4
        margin-top: 24px
        margin-bottom: 16px
        @media (min-width: $tb)
          font-size: 16px
          line-height: 20px
        @media (min-width: $md)
          margin-bottom: 24px
          margin-top: 37px
          font-size: 24px
          line-height: 28px
</style>
