<template>
  <v-app>
    <main>
      <section class="content">
        <div class="m-container">
          <nuxt-content :document="doc" />
        </div>
      </section>
    </main>
  </v-app>
</template>

<script>
export default {
  name: 'CookiePolicy',
  meta: {
    show: ['br', 'mx'],
  },
  head() {
    return {
      title: this.$t('meta.cookiePolicy.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.cookiePolicy.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.cookiePolicy.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.cookiePolicy.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.cookiePolicy.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
      ],
    }
  },
  async asyncData({ $content, $app }) {
    const doc = await $content('cookiePolicy', `index_${$app.config.current.localeName}`).fetch();
    return { doc };
  }
}
</script>

<style
  lang="sass"
  scoped
>
.nuxt-content
  overflow: auto
  margin-bottom: 45px
  @media (min-width: $tb)
    margin-bottom: 49px
  @media (min-width: $md)
    margin-bottom: 73px
  &::v-deep
    & p
      font-size: 18px
      line-height: 24px
      @media (min-width: $tb)
        font-size: 24px
        line-height: 32px
    & h1
      margin-top: 32px
      font-weight: 600
      color: #000
      font-style: normal
      @media (min-width: $tb)
        margin-top: 80px
        font-weight: 700
    & h2
      margin-top: 30px
      margin-bottom: 18px
      font-weight: 600
      color: #000
      font-style: normal
      @media (min-width: $tb)
        margin-top: 40px
        margin-bottom: 20px
        font-weight: 700
    & h3
      margin-top: 24px
      margin-bottom: 12px
      font-weight: 600
      color: #000
      font-style: normal
      @media (min-width: $tb)
        margin-top: 32px
        margin-bottom: 12px
        font-weight: 700
    & table
      margin-top: 32px
      margin-bottom: 32px
      display: table
      width: 100%
      max-width: 100%
      border-collapse: collapse
      border-spacing: 0
      font-size: 16px
      @media (min-width: $tb)
        font-size: 22px
      & thead th
        background-color: #f5f6f7
      & tr:last-of-type td, & tr:last-of-type th
        border-bottom: 1px solid #dadde0
      & thead th
        vertical-align: bottom
        white-space: nowrap
        background-color: #f8f9f9
        line-height: 1.15384615
      & th, & td
        padding: 8px
        border-top: 1px solid #d6d9dc
        border-left: 1px solid #d6d9dc
        border-right: 1px solid #d6d9dc
        vertical-align: middle
        color: var(--fc-medium)
        text-align: left
</style>
