<template>
  <v-app>
    <main style="overflow: hidden;">
      <section class="main-hero-section">
        <div class="m-container">
          <div class="main-hero-section__left-block">
            <h1 style="display: none;">{{ $t('index.main-hero-section.h1') }}</h1>
            <h2 class="main-hero-section__title h1">
              {{ $t('index.main-hero-section.h2') }}
            </h2>
            <div class="main-hero-section__directions">
              <div class="main-hero-section__directions-title body-m">
                {{ $t('index.main-hero-section.directions.title') }}
              </div>
              <div class="main-hero-section__directions-list">
                <v-btn
                  v-for="direction of $store.state.courses.activeDirections"
                  v-if="direction.active && direction.coursesCount"
                  :key="direction.slug"
                  color="secondary"
                  rounded
                  large
                  depressed
                  :ripple="false"
                  nuxt
                  :to="`/${direction.slug}`"
                >
                  {{ direction.name }}
                </v-btn>
              </div>
            </div>
            <div
              v-if="$store.state.courses.comingSoonDirections.length"
              class="main-hero-section__directions main-hero-section__directions_coming-soon"
            >
              <div class="main-hero-section__directions-title body-m">
                {{ $t('index.main-hero-section.directions.comingSoonDirections') }}
              </div>
              <div class="main-hero-section__directions-list">
                <v-btn
                  v-for="direction of $store.state.courses.comingSoonDirections"
                  v-if="direction.active"
                  :key="direction.slug"
                  color="secondary"
                  rounded
                  large
                  depressed
                  :ripple="false"
                  nuxt
                  disabled
                >
                  {{ direction.name }}
                </v-btn>
              </div>
            </div>
          </div>
          <div class="main-hero-section__right-block">
            <div class="main-hero-section__hero">
              <img
                data-not-lazy
                class="not-lazy main-hero-section__hero-img-mobile"
                style="height: 250px; width: 322px;"
                :src="require(`~/assets/images/${currentHero.mobile}@1x.png`)"
                :srcset="`${require(`~/assets/images/${currentHero.mobile}@1x.png`)}, ${require(`~/assets/images/${currentHero.mobile}@2x.png`)} 2x`"
              />
              <img
                data-not-lazy
                class="not-lazy main-hero-section__hero-img-desktop"
                style="height: 565px; width: 569px;"
                :src="require(`~/assets/images/${currentHero.desktop}@1x.png`)"
                :srcset="`${require(`~/assets/images/${currentHero.desktop}@1x.png`)}, ${require(`~/assets/images/${currentHero.desktop}@2x.png`)} 2x`"
              />
            </div>
          </div>
        </div>
      </section>
      <main-courses />
      <section
        v-if="$app.config.current.withWebinars && $store.state.mainPage.webinars.length"
        class="main-webinars-section"
      >
        <div class="m-container main-webinars-title">
          <h2 class="h2">{{ $t('index.main-webinars-section.h2') }}</h2>
          <p class="subtitle">{{ $t('index.main-webinars-section.subtitle') }}</p>
        </div>
        <contentList
          sliderId="main-webinars-block"
          contentClass="main-webinars-block__content"
        >
          <template v-slot:items>
            <webinars-item
              v-for="webinar in $store.state.mainPage.webinars"
              :key="webinar.id"
              :item="webinar"
              class="swiper-slide"
            ></webinars-item>
          </template>
        </contentList>
        <div class="m-container main-webinars-btn">
          <v-btn
            color="primary"
            rounded
            depressed
            outlined
            x-large
            :ripple="false"
            :href="$app.config.current.webinarsUrl"
          >
            {{ $t('index.main-webinars-section.btn') }}
          </v-btn>
        </div>
      </section>
      <section
        v-if="$app.config.current.withBlog && $store.state.mainPage.blogs.length"
        class="main-blog-section"
      >
        <div class="m-container main-blog-title">
          <h2 class="h2">{{ $t('index.main-blog-section.h2') }}</h2>
        </div>
        <contentList
          sliderId="main-blog-block"
          contentClass="main-blog-block__content"
        >
          <template v-slot:items>
            <template v-if="$app.config.current.tildaBlog">
              <a
                v-for="(blog, index) of $store.state.mainPage.blogs"
                :key="index"
                class="swiper-slide"
                :href="blog.item_link_full"
              >
                <div class="main-blog-block__item">
                  <div class="main-blog-block__item-img-container">
                    <img :src="blog.item_image_full" />
                  </div>
                  <div class="main-blog-block__item-content">
                    <h3 class="main-blog-block__item-title">
                      {{ blog.item_title }}
                    </h3>
                    <div class="main-blog-block__item-description">
                      {{ blog.item_description }}
                    </div>
                    <div class="main-blog-block__item-bottom">
                      <div class="main-blog-block__item-date">{{ blog.item_date }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </template>
            <template v-else>
              <a
                v-for="(blog, index) of $store.state.mainPage.blogs"
                :key="index"
                class="swiper-slide"
                :href="`/blog/${blog.slug}`"
              >
                <div class="main-blog-block__item">
                  <div class="main-blog-block__item-img-container">
                    <img :src="blog.showcaseImage.url" />
                  </div>
                  <div class="main-blog-block__item-content">
                    <h3 class="main-blog-block__item-title">
                      {{ blog.pageTitle }}
                    </h3>
                    <div class="main-blog-block__item-description">
                      {{ blog.pageDescription }}
                    </div>
                    <div class="main-blog-block__item-bottom">
                      <div class="main-blog-block__item-date">{{ blog.formattedCreated }}</div>
                    </div>
                  </div>
                </div>
              </a>
            </template>
          </template>
        </contentList>
        <div class="m-container main-blog-btn">
          <v-btn
            color="primary"
            rounded
            depressed
            outlined
            x-large
            :ripple="false"
            :href="$app.config.current.blogUrl"
          >
            {{ $t('index.main-blog-section.btn') }}
          </v-btn>
        </div>
      </section>
      <reviews-section></reviews-section>
      <plan class="sale__plan-section" />
      <aboutUs class="about-us__info-section" />
      <mainFormSection />
      <main-courses
        v-if="$app.config.current.withNewCoursesSection"
        :sortNew="true"
        style="padding-bottom: 152px"
      />
    </main>

<!--    <div style="display: flex;">-->
<!--      <v-btn-->
<!--        color="primary"-->
<!--        rounded-->
<!--        depressed-->
<!--        x-large-->
<!--        :ripple="false"-->
<!--        type="submit"-->
<!--        @click="successDialog = true"-->
<!--      >-->
<!--        Success dialog-->
<!--      </v-btn>-->
<!--&lt;!&ndash;      <v-btn&ndash;&gt;-->
<!--&lt;!&ndash;        color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;        rounded&ndash;&gt;-->
<!--&lt;!&ndash;        depressed&ndash;&gt;-->
<!--&lt;!&ndash;        x-large&ndash;&gt;-->
<!--&lt;!&ndash;        :ripple="false"&ndash;&gt;-->
<!--&lt;!&ndash;        type="submit"&ndash;&gt;-->
<!--&lt;!&ndash;        @click="upsellDialog = true"&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        Dialog form&ndash;&gt;-->
<!--&lt;!&ndash;      </v-btn>&ndash;&gt;-->
<!--    </div>-->
    <div>
      <v-dialog
        v-model="upsellDialog"
        max-width="564"
      >
        <v-card class="upsell-dialog">
          <div class="upsell-dialog__container">
            <div
              @click="upsellDialog = false"
              class="close-dialog"
            />
            <div class="h3 upsell-dialog__title">
              {{ $t('index.upsell-dialog.h3') }}
            </div>
            <ValidationObserver v-slot="{ handleSubmit }" ref="dialogForm">
              <form @submit.prevent="handleSubmit(onSubmitDialog)">
                <ValidationProvider mode="passive" name="name" rules="required" v-slot="{ errors }">
                  <v-text-field
                    v-model="dialogName"
                    :label="$t('index.upsell-dialog.name.label')"
                    solo
                    :error-messages="errors.length ? $t('index.upsell-dialog.name.error') : ''"
                  ></v-text-field>
                </ValidationProvider>
                <phone
                  class="main-form-name-phone__phone"
                  name="phone"
                  v-model="dialogPhone"
                />
    <!--              <ValidationProvider name="passive" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">-->
    <!--                <checkbox-->
    <!--                  v-model="dialogPrivacyPolicy"-->
    <!--                  :error-messages="errors"-->
    <!--                >-->
    <!--                  Eu aceito os termos e condições <a href="https://ebaconline.com.br/files/Politica_de_privacidade.pdf" target="_blank">da Política de Privacidade</a>-->
    <!--                </checkbox>-->
    <!--              </ValidationProvider>-->
                <v-btn
                  class="upsell-dialog__btn"
                  color="primary"
                  rounded
                  depressed
                  x-large
                  :ripple="false"
                  @click="onSubmitDialog"
                  type="submit"
                  :loading="loading.dialogForm"
                >
                  {{ $t('index.upsell-dialog.btn') }}
                </v-btn>
                <input type="hidden" name="source_id" tabindex="-1" :value="$app.config.current.sourceId.index">
                <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
              </form>
            </ValidationObserver>
          </div>
        </v-card>
      </v-dialog>
    </div>
  </v-app>
</template>

<script>
import rightArrow from "~/assets/svg/right-arrow.svg?inline"
import leftArrow from "~/assets/svg/left-arrow.svg?inline"

import contentList from '../components/common/contentList'
import hintEmail from '../components/common/hintEmail'
import phone from '../components/common/phone'
import checkbox from '../components/common/checkbox'

import hideLines from '../components/common/hideLines'

import aboutUs from '../components/sections/about-us'
import plan from '../components/sections/plan'
import mainFormSection from '../components/mainPage/mainFormSection'

import { ValidationObserver, ValidationProvider } from 'vee-validate'

const sbjs = require('sourcebuster');

export default {
  name: 'MainPage',
  scrollToTop: false,
  head() {
    return {
      title: this.$t('meta.index.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.index.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.index.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.index.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.index.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    }
  },
  data() {
    return {
      heroes: [ // TODO: https://webdesign.tutsplus.com/ru/tutorials/quick-tip-how-to-use-html5-picture-for-responsive-images--cms-21015
        {
          mobile: 'hero-1-mobile',
          desktop: 'hero-1-desktop',
        },
        {
          mobile: 'hero-2-mobile',
          desktop: 'hero-2-desktop',
        },
        {
          mobile: 'hero-3-mobile',
          desktop: 'hero-3-desktop',
        },
        {
          mobile: 'hero-4-mobile',
          desktop: 'hero-4-desktop',
        },
      ],
      currentHero: {},

      dialogName: '',
      dialogPhone: '',
      dialogPrivacyPolicy: true,

      upsellDialog: false,

      loading: {
        form: false,
        dialogForm: false,
      },
    }
  },
  async created() {
    this.currentHero = this.heroes[Math.floor((Math.random() * this.heroes.length))];
    // Решили попап с формой не показывать
    // if (process.browser) {
    //   const upsellDate = localStorage.getItem('upsellDate');
    //   if (!upsellDate || moment().diff(moment(upsellDate), 'days') > 5) {
    //     setTimeout(() => {
    //       localStorage.setItem('upsellDate', moment().toISOString());
    //       this.upsellDialog = true;
    //     }, 1000 * 30);
    //   }
    // }
  },
  async fetch() {
    // Blogs
    if (this.$app.config.current.withBlog) {
      if (this.$app.config.current.tildaBlog) {
        let responseBlogs;
        try {
          responseBlogs = await this.$axios({
            method: 'get',
            url: this.$app.config.current.getBlogsUrl,
          });
        } catch (e) {
          console.error(e);
          // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
          // throw e;
        }

        let blogs = [];
        if (responseBlogs?.data) {
          if (responseBlogs.data.status !== 'ok') throw new Error(`An error occurred while executing the query (GetBlogs)`);

          blogs = responseBlogs.data.items || [];

          if (this.$app.config.current.newDomainName) {
            blogs = blogs.map((blog) => ({
              ...blog,
              item_image_full: blog.item_image_full && blog.item_image_full.replace(new URL(blog.item_image_full).origin, this.$app.config.current.newDomainName) || '',
              item_link_full: blog.item_link_full && blog.item_link_full.replace(new URL(blog.item_link_full).origin, this.$app.config.current.newDomainName) || '',
            }));
          }
        }

        this.$store.commit('mainPage/setBlogs', Object.assign([], blogs));
      } else {
        let responseBlogs;
        try {
          responseBlogs = await this.$axios.post(
            `${this.$nuxt.$config.CMS_REST_API}${this.$app.config.current.getBlogsUrl}`,
            {
              offset: 0,
              limit: 4,
            }
          );

          let blogs = [];
          if (responseBlogs?.data) {
            blogs = (responseBlogs.data.data || [])
              .map((blog) => ({
                ...blog,
                formattedCreated: this.$dayjs(blog.created).format('DD.MM.YYYY'),
              }));
          }

          this.$store.commit('mainPage/setBlogs', Object.assign([], blogs));
        } catch (e) {
          console.error(e);
        }
      }
    }

    // Webinars
    let responseWebinars;
    try {
      responseWebinars = await this.$axios({
        method: 'post',
        url: `${this.$nuxt.$config.CMS_REST_API}/public/events/`,
        data: {
          limit: 4,
          offset: 0,
          directions: [],
          published: true
        },
      });
    } catch (e) {
      console.error(e);
      // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      // throw e;
    }

    let webinars = [];
    if (responseWebinars) {
      if (responseWebinars.data.error) throw new Error(`An error occurred while executing the query (${responseWebinars.data.error})`);

      webinars = responseWebinars.data.data.data;
    }

    this.$store.commit('mainPage/setWebinars', Object.assign([], webinars));
  },
  methods: {
    async onSubmitDialog() {
      // Решили попап с формой не показывать
      // if (this.loading.dialogForm) return;
      //
      // this.loading.dialogForm = true;
      // const isValid = await this.$refs.dialogForm.validate();
      //
      // if (!isValid) {
      //   this.loading.dialogForm = false;
      //   return;
      // }
      //
      // const formData = new FormData(this.$refs.dialogForm.$el.querySelector('form'));
      // formData.append('name', this.dialogName);
      // formData.append('phone', this.dialogPhone);
      // formData.append('privacyPolicy', this.dialogPrivacyPolicy);
      //
      // try {
      //   const response = await this.$axios({
      //     method: 'post',
      //     url: 'https://gdd.ebaconline.com.br/exec',
      //     data: urlencodeFormData(formData),
      //     headers: {
      //       'Content-Type': `application/x-www-form-urlencoded`,
      //     },
      //   });
      //
      //   this.upsellDialog = false;
      //   this.successDialog = true;
      //
      //   this.$refs.dialogForm.reset();
      //   this.dialogName = '';
      //   this.dialogPhone = '';
      //
      //   this.dialogPrivacyPolicy = true;
      //
      //   this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'lead', 'eventAction': 'index_footer' });
      // } catch (e) {
      //   console.error(e);
      // }
      //
      // this.loading.dialogForm = false;
    },
  },
  components: {
    rightArrow,
    leftArrow,
    contentList,
    hintEmail,
    phone,
    ValidationObserver,
    ValidationProvider,
    hideLines,
    reviewsSection: () => import('../components/reviewsSection.vue'),
    checkbox,
    aboutUs,
    plan,
    mainFormSection,
  },
}
</script>

<style lang="sass">
  .main
    &-hero-section
      background: #F8F8F8
      & .m-container
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        @media (min-width: $tb)
          flex-direction: row
      &__directions-list
        display: flex
        flex-wrap: wrap
        & .v-btn
          z-index: 1
      &__hero
        display: flex
        justify-content: center
        align-items: center
        width: 322px
        height: 250px
        @media (min-width: $tb)
          justify-content: flex-start
          align-items: flex-end
          margin-right: -193px
          width: 564px
          height: 560px
        @media (min-width: $md)
          margin-right: -108px
          justify-content: flex-end
        @media (min-width: $lp)
          margin-right: 0
        &-img-mobile
          @media (min-width: $tb)
            display: none
        &-img-desktop
          display: none
          @media (min-width: $tb)
            display: block
      &__right-block
        @media (min-width: $tb)
          align-self: flex-end
          margin-right: -32px
        @media (min-width: $md)
          margin-right: 0
      &__left-block
        padding-top: 32px
        padding-bottom: 8px
        width: auto
        @media (min-width: $tb)
          padding-bottom: 80px
          padding-top: 52px
          width: 366px
        @media (min-width: $md)
          width: 465px
          padding: 80px 0
        & .h1
          margin-top: 0
          margin-bottom: 16px
          @media (min-width: $tb)
            width: 404px
            line-height: 60px
            margin-bottom: 33px
          @media (min-width: $md)
            width: 560px
            margin-bottom: 44px
            line-height: 67px
      &__directions
        &-title
          margin-bottom: 16px
          color: #4F4F4F
        &-list
          margin-left: -16px
          margin-bottom: -20px
          @media (min-width: $tb)
            margin-left: -12px
            margin-bottom: -16px
            width: 530px
          @media (min-width: $md)
            width: 530px
          & .v-btn
            padding: 12px 24px!important
            margin-left: 16px
            margin-bottom: 20px
            @media (min-width: $tb)
              padding: 12px 32px!important
              margin-left: 12px
              margin-bottom: 16px
            & .v-btn__content
              line-height: 24px
      &__directions
        &_coming-soon
          margin-top: 16px
    &-courses-section
      padding-bottom: 40px
      @media (min-width: $tb)
        padding-bottom: 48px
      @media (min-width: $md)
        padding-bottom: 80px
      & .m-container
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        @media (min-width: $lp)
          flex-direction: row
          align-items: flex-start
      & .h2
        margin-top: 40px
        margin-bottom: 20px
        @media (min-width: $tb)
          margin-top: 48px
          margin-bottom: 12px
          line-height: 62px
        @media (min-width: $md)
          margin-top: 80px
          margin-bottom: 24px
        @media (min-width: $lp)
          margin-top: 120px
          width: 298px
      & .subtitle
        font-size: 20px
        line-height: 28px
        @media (min-width: $tb)
          text-align: center
          max-width: 582px
          font-size: 18px
          line-height: 24px
        @media (min-width: $md)
          max-width: 781px
          font-size: 24px
          line-height: 32px
        @media (min-width: $lp)
          max-width: inherit
          text-align: left
          margin-bottom: 40px
      &__left-block
        @media (min-width: $tb)
          display: flex
          flex-direction: column
          align-items: center
        @media (min-width: $lp)
          align-items: flex-start
          width: 349px
        & .v-btn
          display: none
          @media (min-width: $lp)
            display: inline-flex
            margin-top: 40px
          & .v-btn__content
            line-height: 16px
      & .products__item-title
        @media (min-width: $lp)
          width: 187px
      &__right-block
        width: 100%
        margin-top: 28px
        @media (min-width: $tb)
          margin-top: 32px
        @media (min-width: $md)
          margin-top: 40px
        @media (min-width: $lp)
          margin-top: 120px
          width: 764px
        & .products
          display: flex
          flex-direction: column
          align-items: center
          margin-bottom: 0
          &__list
            width: 100%
        & .v-btn
          margin-top: 12px
          width: 100%
          @media (min-width: $tb)
            margin-top: 40px
            width: auto
          @media (min-width: $md)
            margin-top: 52px
          @media (min-width: $lp)
            display: none
          & .v-btn__content
            line-height: 18px
            @media (min-width: $tb)
              line-height: 14px
    &-webinars-section
      margin-top: 43px
      padding-bottom: 40px
      @media (min-width: $tb)
        margin-top: 48px
        padding-bottom: 48px
      @media (min-width: $md)
        margin-top: 40px
        padding-bottom: 80px
      & .h2
        margin-top: 0
        line-height: 31px
        margin-bottom: 20px
        @media (min-width: $tb)
          line-height: 62px
      & .subtitle
        font-size: 20px
        line-height: 28px
        @media (min-width: $tb)
          font-size: 18px
          line-height: 24px
        @media (min-width: $md)
          font-size: 24px
          line-height: 32px
      & .v-btn
        width: 100%
        @media (min-width: $tb)
          margin-top: 8px
          width: auto
        @media (min-width: $md)
          margin-top: 20px
      & .main-webinars-btn
        @media (min-width: $tb)
          display: flex
          justify-content: center
          align-items: center
      & .main-webinars-title
        @media (min-width: $tb)
          text-align: center
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
        & .subtitle
          @media (min-width: $tb)
            width: 582px
          @media (min-width: $md)
            width: 782px
          @media (min-width: $lp)
            width: 736px
      & .main-webinars-block
        &__content
          padding-top: 28px
          padding-bottom: 32px
          @media (min-width: $tb)
            padding-top: 32px
          @media (min-width: $md)
            padding-top: 40px
        & .common-block-wrapper
          display: flex
        & .swiper-slide
          height: auto
          margin-right: 20px
          @media (min-width: $tb)
            flex-shrink: initial
            margin-right: 28px
            width: 100%
          @media (min-width: $md)
            margin-right: 32px
          &:last-child
            @media (min-width: $tb)
              margin-right: 0

          &.webinars-items__item-wrapper
            padding: 0
            margin-bottom: 0
            flex: auto
          & .webinars-items__item
            width: 260px
            @media (min-width: $tb)
              width: inherit
            & img
              width: 260px
              height: 164px
              object-fit: cover
              @media (min-width: $tb)
                width: 100%
                height: 100%
          &:first-child
            & .webinars-items__item
              margin-left: 20px
              @media (min-width: $tb)
                margin-left: 0
          &:last-child
            & .webinars-items__item
              margin-right: 20px
              @media (min-width: $tb)
                margin-right: 0
          & .main-webinars-block__item
            width: 260px
            @media (min-width: $tb)
              width: auto
            & img
              width: 260px
              height: 164px
              object-fit: cover
              @media (min-width: $tb)
                width: 216px
                height: 182px
              @media (min-width: $md)
                width: 294px
                height: 182px
              @media (min-width: $lp)
                width: 365px
                height: 182px
          &:first-child
            & .main-webinars-block__item
              margin-left: 20px
              @media (min-width: $tb)
                margin-left: 0
          &:last-child
            & .main-webinars-block__item
              margin-right: 20px
              @media (min-width: $tb)
                margin-right: 0
        &__item
          cursor: pointer
          position: relative
          box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
          border-radius: 8px
          display: flex
          flex-direction: column
          height: 100%
          transition: box-shadow .2s
          &:hover
            box-shadow: 0 12px 20px -6px rgba(24, 39, 75, 0.12), 0px 12px 40px -4px rgba(24, 39, 75, 0.1)
          &-time
            height: 42px
            width: 42px
            min-width: 42px
            font-size: 16px
            line-height: 24px
            color: #000000
            background: #D3BEE1
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
          &-date
            font-size: 16px
            line-height: 24px
            color: #828282
            @media (min-width: $tb)
              font-size: 18px
              color: #101010
          &-bottom
            display: flex
            padding: 20px
            justify-content: space-between
            align-items: center
            @media (min-width: $tb)
              padding-bottom: 24px
              padding-left: 24px
              padding-right: 24px
              padding-top: 8px
          &-title
            color: #101010
            font-weight: 600
            font-size: 16px
            line-height: 20px
            padding: 20px
            flex: auto
            @media (min-width: $tb)
              padding: 24px
            @media (min-width: $md)
              font-size: 24px
              line-height: 28px
            @media (min-width: $lp)
              line-height: 32px
          &-category
            position: absolute
            top: 16px
            left: 16px
            font-size: 11px
            line-height: 11px
            letter-spacing: 0.03em
            text-transform: uppercase
            color: #FFFFFF
            background: #D36133
            border-radius: 4px
            padding: 6px 8px
            font-weight: 500
          & img
            border-radius: 8px 8px 0 0
            width: 100%
    &-blog-section
      background: #F5F5F5
      padding: 40px 0
      @media (min-width: $tb)
        padding: 48px 0
      @media (min-width: $md)
        padding: 80px 0
      & .h2
        margin-top: 0
        margin-bottom: 0
        line-height: 31px
        @media (min-width: $tb)
          line-height: 62px
      & .v-btn
        width: 100%
        @media (min-width: $tb)
          margin-top: 8px
          width: auto
        @media (min-width: $md)
          margin-top: 20px
      & .main-blog-btn
        @media (min-width: $tb)
          display: flex
          justify-content: center
          align-items: center
      & .main-blog-title
        @media (min-width: $tb)
          text-align: center
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
      & .main-blog-block
        &__content
          padding-top: 20px
          padding-bottom: 32px
          @media (min-width: $tb)
            padding-top: 32px
          @media (min-width: $md)
            padding-top: 48px
        & .common-block-wrapper
          display: flex
          @media (min-width: $tb)
            flex-direction: column
          @media (min-width: $lp)
            max-width: 962px
            margin: 0 auto
        & .swiper-slide
          height: auto
          margin-right: 20px
          @media (min-width: $tb)
            flex-shrink: initial
            margin-bottom: 32px
            width: 100%
          &:last-child
            @media (min-width: $tb)
              margin-bottom: 0
          & .main-blog-block__item
            width: 260px
            @media (min-width: $tb)
              width: auto
          &:first-child
            & .main-blog-block__item
              margin-left: 20px
              @media (min-width: $tb)
                margin-left: 0
          &:last-child
            & .main-blog-block__item
              margin-right: 20px
              @media (min-width: $tb)
                margin-right: 0
        &__item
          cursor: pointer
          position: relative
          box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
          border-radius: 8px
          display: flex
          flex-direction: column
          background: #FFFFFF
          transition: box-shadow .2s
          //height: 396px
          &:hover
            box-shadow: 0 12px 20px -6px rgba(24, 39, 75, 0.12), 0px 12px 40px -4px rgba(24, 39, 75, 0.1)
          @media (min-width: $tb)
            display: flex
            flex-direction: row
            //height: 188px
          //@media (min-width: $md)
            //height: 228px
          &-content
            display: flex
            flex-direction: column
            height: 100%
            width: auto
            overflow: hidden
            @media (min-width: $tb)
              width: 488px
            @media (min-width: $md)
              width: 578px
            @media (min-width: $lp)
              width: 596px
          &-date
            font-size: 16px
            line-height: 24px
            color: #828282
            @media (min-width: $tb)
              font-size: 18px
              color: #101010
          &-bottom
            display: flex
            padding: 20px
            justify-content: space-between
            align-items: center
            @media (min-width: $tb)
              padding-top: 32px
              padding-bottom: 24px
              padding-left: 28px
              padding-right: 28px
            @media (min-width: $md)
              padding-left: 32px
              padding-right: 32px
          &-title
            color: #101010
            font-weight: 600
            font-size: 16px
            line-height: 20px
            padding-top: 20px
            padding-left: 20px
            padding-right: 20px
            padding-bottom: 12px
            @media (min-width: $tb)
              padding-top: 24px
              padding-left: 28px
              padding-right: 28px
              padding-bottom: 12px
            @media (min-width: $md)
              font-size: 24px
              line-height: 32px
              padding-left: 32px
              padding-right: 32px
            @media (min-width: $lp)
              line-height: 32px
          &-description
            font-size: 16px
            line-height: 24px
            color: #101010
            padding-top: 0
            padding-left: 20px
            padding-right: 20px
            padding-bottom: 0
            flex: 1
            overflow: hidden
            @media (min-width: $tb)
              padding-left: 28px
              padding-right: 28px
              font-size: 18px
              line-height: 24px
            @media (min-width: $md)
              padding-left: 32px
              padding-right: 32px
            //@media (min-width: $lp)
            //  line-height: 32px
          &-img-container
            height: auto
          & img
            border-radius: 8px 8px 0 0
            width: 260px
            height: 164px
            @media (min-width: $tb)
              border-radius: 8px 0 0 8px
              object-fit: cover
              width: 216px
              height: 100%
              //height: initial
              overflow: hidden
            @media (min-width: $md)
              width: 366px
    &-plan-section
      & .m-container
        background: #EDE2F8
        padding: 40px 20px
        @media (min-width: $tb)
          max-width: 736px
          border-radius: 24px
          padding-left: 18px
          padding-right: 18px
        @media (min-width: $md)
          max-width: 986px
          padding-top: 60px
          padding-bottom: 64px
          padding-left: 20px
          padding-right: 20px
        @media (min-width: $lp)
          max-width: 1224px
          padding-top: 68px
          padding-bottom: 80px
          padding-left: 27px
          padding-right: 27px
      & .h2
        margin-top: 0
        margin-bottom: 0
        line-height: 31px
        @media (min-width: $tb)
          line-height: 62px
      & .main-plan-title
        @media (min-width: $tb)
          text-align: center
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
      & .main-plan-list
        padding: 0
        margin-top: 32px
        @media (min-width: $tb)
          display: flex
          justify-content: space-between
        @media (min-width: $md)
          margin-top: 48px
      & .main-plan-item
        list-style: none
        display: flex
        margin-bottom: 24px
        @media (min-width: $tb)
          flex-direction: column
          text-align: center
          justify-content: flex-start
          align-items: center
          width: 155px
          margin-bottom: 0
        @media (min-width: $md)
          width: 212px
        @media (min-width: $lp)
          width: 266px
        &:last-child
          margin-bottom: 0
          @media (min-width: $tb)
            margin-right: 0
        &:first-child
          & .main-plan-item__content
            & h3
              @media (min-width: $lp)
                padding: 0 40px
        &__index
          width: 60px
          max-width: 60px
          height: 60px
          display: flex
          justify-content: center
          align-items: center
          background: #FFFFFF
          box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
          border-radius: 50%
          flex: 1 0 auto
          font-weight: 600
          font-size: 32px
          line-height: 32px
          text-transform: uppercase
          color: #905DB4
          @media (min-width: $tb)
            flex: initial
            margin-bottom: 20px
            width: 72px
            max-width: 72px
            height: 72px
          @media (min-width: $md)
            width: 84px
            max-width: 84px
            height: 84px
            font-size: 40px
            line-height: 44px
            margin-bottom: 24px
        &__content
          margin-left: 20px
          @media (min-width: $tb)
            margin-left: 0
          & h3
            font-weight: 600
            font-size: 16px
            line-height: 20px
            color: #101010
            @media (min-width: $tb)
              line-height: 21px
            @media (min-width: $md)
              font-size: 24px
              line-height: 32px
        &__description
          font-size: 16px
          line-height: 24px
          color: #101010
          margin-top: 8px
          @media (min-width: $tb)
            line-height: 22px
          @media (min-width: $md)
            margin-top: 16px
            font-size: 18px
            line-height: 24px
    &-info-section
      & .m-container
        padding-top: 40px
        padding-bottom: 36px
        @media (min-width: $tb)
          padding-top: 82px
          padding-bottom: 48px
          display: flex
        @media (min-width: $md)
          padding-top: 104px
          padding-bottom: 80px
        @media (min-width: $lp)
          padding-top: 120px
      & .main-info-description-block
        margin-bottom: 20px
        @media (min-width: $tb)
          margin-bottom: 0
          max-width: 276px
        @media (min-width: $md)
          max-width: 375px
        @media (min-width: $lp)
          max-width: 461px
      & .main-info-logo
        margin-bottom: 23px
        line-height: 0
        @media (min-width: $tb)
          margin-bottom: 32px
        @media (min-width: $md)
          margin-bottom: 40px
        & img
          @media (min-width: $tb)
            width: 276px
            height: 100px
          @media (min-width: $md)
            width: 337px
            height: 122px
      & .main-info-description
        font-size: 16px
        line-height: 24px
        color: #101010
        @media (min-width: $tb)
          font-size: 18px
          line-height: 24px
        @media (min-width: $md)
          font-size: 24px
          line-height: 32px
      & .main-info-facts
        @media (min-width: $tb)
          display: flex
          flex-wrap: wrap
          justify-content: flex-end
        &__title
          margin-bottom: 16px
          font-weight: 600
          font-size: 40px
          line-height: 40px
          text-transform: uppercase
          color: #333333
          @media (min-width: $tb)
            font-size: 32px
            flex: 1 auto
          @media (min-width: $md)
            font-size: 48px
            line-height: 52px
            letter-spacing: -0.02em
          @media (min-width: $lp)
            font-size: 58px
            line-height: 64px
        &__description
          color: #101010
          font-size: 16px
          line-height: 24px
          @media (min-width: $tb)
            font-size: 12px
            line-height: 18px
          @media (min-width: $md)
            font-size: 18px
            line-height: 24px
        &__fact
          box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
          border-radius: 8px
          margin-bottom: 20px
          padding: 20px
          @media (min-width: $tb)
            max-width: 155px
            height: 187px
            margin-bottom: 28px
            padding: 16px
            display: flex
            flex-direction: column
          @media (min-width: $md)
            max-width: 212px
            height: 267px
            margin-bottom: 32px
            padding: 24px
          @media (min-width: $lp)
            max-width:  266px
            height: 312px
            padding: 32px
          &:last-child
            margin-bottom: 0
          &:nth-child(n+3)
            @media (min-width: $tb)
              margin-bottom: 0
          &:nth-child(2n)
            @media (min-width: $tb)
              margin-left: 28px
            @media (min-width: $md)
              margin-left: 32px
        &__fact-one
          background: #F2C94C
          @media (min-width: $tb)
            margin-top: 28px
          @media (min-width: $md)
            margin-top: 32px
          @media (min-width: $lp)
            margin-top: 64px
        &__fact-two
          background: #87B9E7
        &__fact-three
          background: #D0F2B1
        &__fact-four
          background: #F29C98
          @media (min-width: $tb)
            margin-top: -28px
          @media (min-width: $md)
            margin-top: -32px
          @media (min-width: $lp)
            margin-top: -64px
  .upsell-dialog
    background: #EDE2F8!important
    padding: 20px
    text-align: center
    @media (min-width: 490px)
      padding: 40px
    & .v-text-field
      width: 100%
    & .checkbox
      margin-bottom: 32px
      text-align: left
      align-self: self-start
      @media (min-width: 490px)
        margin-bottom: 40px
      &__label
        font-size: 14px
        line-height: 18px
        color: #535353
        & a
          text-decoration: none
          color: #535353
          border-bottom: 1px solid #535353
          line-height: 19px
    //& .v-text-field__details
    //  display: none
    //& .v-input__slot
      //margin-bottom: 20px!important
    &__container
      //max-width: 280px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin: 0 auto
      //@media (min-width: 490px)
      //  max-width: 564px
    &__title
      margin-top: 12px
      margin-bottom: 24px
      color: #333333
      @media (min-width: 490px)
        font-size: 32px
        line-height: 38px
        margin-top: 0
        margin-bottom: 32px
    &__btn
      width: 100%
      @media (min-width: 490px)
        width: 258px
        margin-bottom: 12px
</style>
