<template>
  <v-app>
    <section class="kit">
      <div class="container">
        <div class="kit-colors" v-show="false">
          <div class="kit-title">
            Colors
          </div>
        </div>
        <div class="kit-fonts">
          <div class="kit-title">
            Fonts
          </div>

          <div class="kit-fonts__block">
            <div class="kit-fonts__rubik">
              <div class="kit-subtitle">
                Font: Rubik
              </div>
              <div class="kit-fonts__tag">
                tag: h1
              </div>
              <hr>

              <h1>Heading 1</h1>

              <div class="kit-fonts__tag">
                tag: h2
              </div>
              <hr>

              <h2>Heading 2</h2>

              <div class="kit-fonts__tag">
                tag: h3
              </div>
              <hr>

              <h3>Heading 3</h3>

              <div class="kit-fonts__tag">
                tag: h4
              </div>
              <hr>

              <h4>Heading 4</h4>

              <div class="kit-fonts__tag">
                tag: h5
              </div>
              <hr>

              <h5>Heading 5</h5>
            </div>

            <div class="kit-fonts__poppins">
              <div class="kit-subtitle">
                Font: Poppins
              </div>
              <div class="kit-fonts__tag">
                Body - L/Body - L Bold
              </div>
              <hr>

              <div class="kit-fonts__poppins-l">
                <span>Paragraph</span>
                <span class="bold">Paragraph</span>
              </div>

              <div class="kit-fonts__tag">
                Body - M/Body - M Bold
              </div>
              <hr>

              <div class="kit-fonts__poppins-m">
                <span>Paragraph</span>
                <span class="bold">Paragraph</span>
              </div>

              <div class="kit-fonts__tag">
                Body - S/Body - S Bold
              </div>
              <hr>
              <div class="kit-fonts__poppins-s">
                <span>Paragraph</span>
                <span class="bold">Paragraph</span>
              </div>
            </div>
          </div>
        </div>
        <div class="kit-buttons">
          <div class="kit-title">
            Buttons
          </div>

          <div class="kit-buttons__block">
            <div class="kit-buttons__default">
              <div class="kit-subtitle">
                Buttons Default
              </div>
              <u-btn
                v-for="button in buttons"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :loading="button.loading"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>

            <div class="kit-buttons__default">
              <div class="kit-subtitle">
                Buttons Loading
              </div>
              <u-btn
                v-for="button in buttonsLoading"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :loading="button.loading"
              >

              </u-btn>
            </div>

            <div class="kit-buttons__default">
              <div class="kit-subtitle">
                Buttons Block
              </div>
              <u-btn
                v-for="button in buttonsBlock"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
                :add="button.add"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>

            <div class="kit-buttons__default">
              <div class="kit-subtitle">
                Buttons Block Loading
              </div>
              <u-btn
                v-for="button in buttonsBlockLoading"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <hr>
            <div class="kit-buttons__size-m">
              <div class="kit-subtitle">
                Buttons M
              </div>
              <u-btn
                v-for="button in buttonsM"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-m">
              <div class="kit-subtitle">
                Buttons M with slot
              </div>
              <u-btn
                v-for="button in buttonsMSlot"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>
            <div class="kit-buttons__size-m">
              <div class="kit-subtitle">
                Buttons M Loading
              </div>
              <u-btn
                v-for="button in buttonsMLoading"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-m">
              <div class="kit-subtitle">
                Buttons M Block
              </div>
              <u-btn
                v-for="button in buttonsMBlock"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-m">
              <div class="kit-subtitle">
                Buttons M Block Slot
              </div>
              <u-btn
                v-for="button in buttonsMBlockSlot"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>
            <hr>
            <div class="kit-buttons__size-s">
              <div class="kit-subtitle">
                Buttons S
              </div>
              <u-btn
                v-for="button in buttonsS"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-s">
              <div class="kit-subtitle">
                Buttons S with slot
              </div>
              <u-btn
                v-for="button in buttonsSSlot"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>
            <div class="kit-buttons__size-s">
              <div class="kit-subtitle">
                Buttons S Loading
              </div>
              <u-btn
                v-for="button in buttonsSLoading"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-s">
              <div class="kit-subtitle">
                Buttons S Block
              </div>
              <u-btn
                v-for="button in buttonsSBlock"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
              </u-btn>
            </div>
            <div class="kit-buttons__size-s">
              <div class="kit-subtitle">
                Buttons S Block Slot
              </div>
              <u-btn
                v-for="button in buttonsSBlockSlot"
                :title="button.title"
                :color="button.color"
                :size="button.size"
                :block="button.block"
                :loading="button.loading"
              >
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="white"/>
                </svg>
              </u-btn>
            </div>
          </div>
        </div>
        <div class="kit-inputs">
          <div class="kit-title">
            Inputs/Textareas
          </div>

          <div class="kit-inputs__block">
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input Default
              </div>
              <u-input></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input Error
              </div>

              <u-input error-messages="Error Message" error></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input with placeholder
              </div>

              <u-input placeholder="Label"></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input Error with placeholder
              </div>

              <u-input placeholder="Label" error-messages="Error Message" error></u-input>
            </div>
          </div>
          <hr>
          <div class="kit-inputs__block">
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Inputs M
              </div>

              <u-input size="m"></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input M Error
              </div>

              <u-input error-messages="Error Message" error size="m"></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input M with placeholder
              </div>

              <u-input placeholder="Label" size="m"></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Input M Error with placeholder
              </div>

              <u-input error-messages="Error Message" error placeholder="Label" size="m"></u-input>
            </div>
          </div>
          <hr>
          <div class="kit-inputs__block">
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Search input
              </div>

              <u-input>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="#838285"/>
                </svg>
              </u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Search input placeholder
              </div>

              <u-input placeholder="Search by topic">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="#838285"/>
                </svg>
              </u-input>
            </div>
          </div>
          <hr>
          <div class="kit-inputs__block">
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Search M input
              </div>

              <u-input size="m">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="#838285"/>
                </svg>
              </u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Search M input placeholder
              </div>

              <u-input placeholder="Search by topic" size="m">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 8.82763 13.2996 10.4917 12.1525 11.7383L15.7071 15.2929C16.0976 15.6834 16.0976 16.3166 15.7071 16.7071C15.3166 17.0976 14.6834 17.0976 14.2929 16.7071L10.594 13.0082C9.54341 13.638 8.31399 14 7 14ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="#838285"/>
                </svg>
              </u-input>
            </div>
          </div>
          <hr>
          <div class="kit-inputs__block">
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Textarea Default
              </div>

              <u-input type="textarea" rows=5></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Textarea Error
              </div>

              <u-input type="textarea" rows=5 error-messages="Error Message" error></u-input>
            </div>
            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Textarea with placeholder
              </div>

              <u-input type="textarea" rows=5 placeholder="Label"></u-input>
            </div>

            <div class="kit-inputs__default">
              <div class="kit-subtitle">
                Textarea Error with placeholder
              </div>
              <u-input type="textarea" rows=5 error-messages="Error Message" error placeholder="Label"></u-input>
            </div>
          </div>
        </div>
        <div class="kit-select">
          <div class="kit-title">
            Select
          </div>

          <div class="kit-select__block">
            <div class="kit-select__default">
              <div class="kit-subtitle">
                Select Default
              </div>

              <u-select :options="options" placeholder="Select Label"></u-select>
            </div>

            <div class="kit-select__default">
              <div class="kit-subtitle">
                Select Error
              </div>

              <u-select :options="options" placeholder="Select Label" error :error-messages="['Error Message']"></u-select>
            </div>
          </div>
          <hr>
          <div class="kit-select__block">
            <div class="kit-select__default">
              <div class="kit-subtitle">
                Select M
              </div>

              <u-select :options="options" size="m" placeholder="Select Label"></u-select>
            </div>

            <div class="kit-select__default">
              <div class="kit-subtitle">
                Select M Error
              </div>

              <u-select :options="options" size="m" placeholder="Select Label" error :error-messages="['Error Message']"></u-select>
            </div>
          </div>
        </div>
        <div class="kit-select">
          <div class="kit-title">
            Phone Select
          </div>

          <div class="kit-select__block">
            <div class="kit-select__default">
              <div class="kit-subtitle">
                Phone select default
              </div>

              <u-phone></u-phone>
            </div>

            <div class="kit-select__default">
              <div class="kit-subtitle">
                Phone select error
              </div>

              <u-phone error error-messages="Error Message"></u-phone>
            </div>
          </div>
        </div>
        <div class="kit-accordion">
          <div class="kit-title">
            Accordion
          </div>

          <div class="kit-accordion__block">
            <div class="kit-accordion__default">
              <div class="kit-subtitle">
                Accordion Default
              </div>

              <u-accordion>
                <template v-slot:part-title_1>Item Label</template>
                <template v-slot:part-description_1>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_2>Item Label</template>
                <template v-slot:part-description_2>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_3>Item Label</template>
                <template v-slot:part-description_3>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_4>Item Label</template>
                <template v-slot:part-description_4>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_5>Item Label</template>
                <template v-slot:part-description_5>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>
              </u-accordion>
            </div>

            <div class="kit-accordion__default">
              <div class="kit-subtitle">
                Accordion Numbered
              </div>

              <u-accordion numbered>
                <template v-slot:part-title_1>Item Label</template>
                <template v-slot:part-description_1>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_2>Item Label</template>
                <template v-slot:part-description_2>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_3>Item Label</template>
                <template v-slot:part-description_3>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_4>Item Label</template>
                <template v-slot:part-description_4>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-title_5>Item Label</template>
                <template v-slot:part-description_5>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>
              </u-accordion>
            </div>
            <div class="kit-accordion__default">
              <div class="kit-subtitle">
                Accordion with Label
              </div>

              <u-accordion subtitles>
                <template v-slot:part-subtitle_1>Additional label</template>
                <template v-slot:part-title_1>Item Label</template>
                <template v-slot:part-description_1>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-subtitle_2>Additional label</template>
                <template v-slot:part-title_2>Item Label</template>
                <template v-slot:part-description_2>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-subtitle_3>Additional label</template>
                <template v-slot:part-title_3>Item Label</template>
                <template v-slot:part-description_3>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-subtitle_4>Additional label</template>
                <template v-slot:part-title_4>Item Label</template>
                <template v-slot:part-description_4>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>

                <template v-slot:part-subtitle_5>Additional label</template>
                <template v-slot:part-title_5>Item Label</template>
                <template v-slot:part-description_5>
                  <p>
                    The distinction really transforms the language of images, opening up new horizons. Atomistics, as follows from the above, is frank. The current situation is a language of images. I must say that reality decomposes the conflict into elements. The law of the excluded third is therefore considered Taoism.
                  </p>
                </template>
              </u-accordion>
            </div>
          </div>
        </div>
        <div class="kit-select">
          <div class="kit-title">
            Controls
          </div>

          <div class="kit-select__block">
            <div class="kit-select__default">
              <div class="kit-subtitle">
                Radiobutton
              </div>

              <v-radio-group>
                <u-radio label="Radiobutton"></u-radio>
                <u-radio label="Radiobutton"></u-radio>
              </v-radio-group>
            </div>

            <div class="kit-select__default">
              <div class="kit-subtitle">
                Checkbox
              </div>
              <u-checkbox label="Checkbox"></u-checkbox>
            </div>
          </div>
        </div>
        <div class="kit-filter">
          <div class="kit-title">
            Filter
          </div>

          <div class="kit-filter__block">
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Filter L
              </div>

              <u-chip class="u-chip_active">Item</u-chip>
              <u-chip>Item</u-chip>
              <u-chip>Item</u-chip>
            </div>

            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Filter M
              </div>

              <u-chip class="u-chip_active" size="m">Item</u-chip>
              <u-chip size="m">Item</u-chip>
              <u-chip size="m">Item</u-chip>
            </div>
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Filter S
              </div>

              <u-chip class="u-chip_active" size="s">Item</u-chip>
              <u-chip size="s">Item</u-chip>
              <u-chip size="s">Item</u-chip>
            </div>
          </div>
        </div>
        <div class="kit-filter">
          <div class="kit-title">
            Badge
          </div>

          <div class="kit-filter__block">
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Badge L
              </div>

              <u-badge content="Item"></u-badge>
            </div>

            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Badge M
              </div>

              <u-badge content="Item" size="m"></u-badge>
            </div>
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Badge S
              </div>

              <u-badge content="Item" size="s"></u-badge>
            </div>
          </div>
        </div>
        <div class="kit-filter">
          <div class="kit-title">
            Other
          </div>

          <div class="kit-filter__block">
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Range Slider Default
              </div>

              <u-range-slider :data="[0, 10, 20, 50, 70, 100]"
                              :min-range="0"
                              :max-range="100"
                              :tooltip="'none'"
                              :lazy="true"
              ></u-range-slider>
            </div>

            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Range Slider Multiple Dots
              </div>

              <u-range-slider :data="[0, 10, 20, 50, 70, 100]"
                              :min-range="0"
                              :max-range="100"
                              :tooltip="'none'"
                              :value="[0, 70]"
                              :lazy="true"
              ></u-range-slider>
            </div>
            <div class="kit-filter__default"></div>
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Slider Arrows
              </div>

              <leftArrow></leftArrow>
              <rightArrow></rightArrow>
            </div>
            <div class="kit-filter__default"></div>
            <div class="kit-filter__default"></div>
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Popup M
              </div>

              <u-btn
                size="m"
                title="Open L Popup"
                color="action-color-2"
                @click.native.stop="dialog = true"
              >
              </u-btn>
              <u-popup v-model="dialog">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </u-popup>
            </div>
            <div class="kit-filter__default">
              <div class="kit-subtitle">
                Popup S
              </div>

              <u-btn
                size="m"
                title="Open S Popup"
                color="action-color-2"
                @click.native.stop="dialogS = true"
              >
              </u-btn>
              <u-popup size="s" v-model="dialogS">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</u-popup>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="kit-filter">
          <div class="kit-title">
            Header
          </div>
        </div>
      </div>
      <u-header></u-header>
      <br>
      <div class="container">
        <div class="kit-filter">
          <div class="kit-title">
            Footer
          </div>
        </div>
      </div>
      <u-footer></u-footer>
    </section>
  </v-app>
</template>

<script>
import uBtn from '../components/ui-kit/button'
import uInput from '../components/ui-kit/input'
import uSelect from '../components/ui-kit/select'
import uPhone from '../components/ui-kit/phone'
import uAccordion from '../components/ui-kit/accordion'
import uRadio from '../components/ui-kit/radiobutton'
import uCheckbox from '../components/ui-kit/checkbox'
import uChip from '../components/ui-kit/chip'
import uBadge from '../components/ui-kit/badge'
import uRangeSlider from '../components/ui-kit/range-slider'
import leftArrow from '../components/ui-kit/slider/leftArrow'
import rightArrow from '../components/ui-kit/slider/rightArrow'
import uFooter from '../components/ui-kit/footer'
import uHeader from '../components/ui-kit/header'
import uPopup from '../components/ui-kit/popup'

export default {
  name: "ui-kit",
  data() {
    return {
      dialog: false,
      dialogS: false,
      buttons: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: '', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: '', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: '', block: false}
      ],
      buttonsBlock: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: '', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: '', block: true},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: '', block: true}
      ],
      buttonsLoading: [
        {title: 'Button Text', color: 'action-color-1', loading: true, size: '', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: true, size: '', block: false},
        {title: 'Button Text', color: 'basic-color-3', loading: true, size: '', block: false}
      ],
      buttonsBlockLoading: [
        {title: 'Button Text', color: 'action-color-1', loading: true, size: '', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: true, size: '', block: true},
        {title: 'Button Text', color: 'basic-color-3', loading: true, size: '', block: true}
      ],
      buttonsM: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 'm', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 'm', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 'm', block: false}
      ],
      buttonsMSlot: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 'm', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 'm', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 'm', block: false}
      ],
      buttonsMLoading: [
        {title: 'Button Text', color: 'action-color-1', loading: true, size: 'm', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: true, size: 'm', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: true, size: 'm', block: false}
      ],
      buttonsMBlock: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 'm', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 'm', block: true},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 'm', block: true}
      ],
      buttonsMBlockSlot: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 'm', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 'm', block: true},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 'm', block: true}
      ],
      buttonsS: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 's', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 's', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 's', block: false}
      ],
      buttonsSSlot: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 's', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 's', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 's', block: false}
      ],
      buttonsSLoading: [
        {title: 'Button Text', color: 'action-color-1', loading: true, size: 's', block: false},
        {title: 'Button Text', color: 'action-color-2', loading: true, size: 's', block: false},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: true, size: 's', block: false}
      ],
      buttonsSBlock: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 's', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 's', block: true},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 's', block: true}
      ],
      buttonsSBlockSlot: [
        {title: 'Button Text', color: 'action-color-1', loading: false, size: 's', block: true},
        {title: 'Button Text', color: 'action-color-2', loading: false, size: 's', block: true},
        {title: 'Button Text', color: 'basic-color-3 svg-black', loading: false, size: 's', block: true}
      ],
      options: [
        {text: 'Label 1', value: 1},
        {text: 'Label 2', value: 2},
        {text: 'Label 3', value: 3},
        {text: 'Label 4', value: 4},
        {text: 'Label 5', value: 5}
      ]
    }
  },
  components: {
    uBtn,
    uInput,
    uSelect,
    uPhone,
    uAccordion,
    uRadio,
    uCheckbox,
    uChip,
    uBadge,
    uRangeSlider,
    leftArrow,
    rightArrow,
    uFooter,
    uHeader,
    uPopup
  }
}
</script>

<style lang="sass" scoped>
  @import 'style/ui-kit/vars.sass'

  .kit
    padding: 30px 0px

    hr
      height: 1px
      border: 0px
      background: #e2e2e2

    &-buttons
      padding-top: 50px
      margin-bottom: 50px

    .container
      max-width: 1200px
      margin: 0 auto

    &-title
      color: $basic-color-2
      font-size: 48px
      line-height: 54px
      margin-bottom: 30px

    &-subtitle
      color: $basic-color-2
      font-size: 24px
      line-height: 30px
      margin-bottom: 20px

    &-fonts
      color: $basic-color-1

      hr
        margin-bottom: 30px
      &__tag
        margin-top: 20px
        color: $basic-color-2
      &__rubik
        font-family: $font-1
        margin-bottom: 50px
        h1
          font-size: 64px
          line-height: 72px
        h2
          font-size: 48px
          line-height: 56px
        h3
          font-size: 36px
          line-height: 46px
        h4
          font-size: 24px
          line-height: 34px
        h5
          font-size: 16px
          line-height: 24px
      &__poppins
        font-family: $font-1
        font-weight: normal
        &-l
          font-size: 18px
          line-height: 28px
        &-m
          font-size: 16px
          line-height: 26px
        &-s
          font-size: 14px
          line-height: 24px

        &-l, &-m, &-s
          display: flex
          span
            width: 15%
        .bold
          font-weight: 600
      @media(max-width: $xs)
        &__rubik
          h1
            font-size: 36px
            line-height: 46px
          h2
            font-size: 24px
            line-height: 34px
          h3
            font-size: 22px
            line-height: 32px
          h4
            font-size: 18px
            line-height: 24px
          h5
            font-size: 16px
            line-height: 24px
        &__poppins
          &-l, &-m, &-s
            span
              width: auto
            span + span
              margin-left: 40px
          &-l
            font-size: 16px
            line-height: 26px
          &-m
            font-size: 14px
            line-height: 24px
          &-s
            font-size: 12px
            line-height: 20px

    &-buttons__block
      display: flex
      flex-wrap: wrap

      hr
        margin: 50px 0px
        width: 100%

    &-buttons__default
      width: 25%
      @media(max-width: 550px)
        width: 100%

    &-buttons__size-m, &-buttons__size-s
      width: 20%


    &-buttons__default, &-buttons__size-m, &-buttons__size-s
      padding: 0px 10px

      button + button
        margin-top: 20px

      button
        display: block

      .svg-black
        svg
          path
            fill: #10001F

    &-inputs, &-select, &-accordion
      margin-bottom: 50px

      hr
        width: 100%
        margin-bottom: 40px
      &__block
        display: flex
        flex-wrap: wrap
        column-gap: 15px
      &__default
        width: 47%
        margin-bottom: 30px
        @media(max-width: 550px)
          width: 100%

    &-select
      .select-default, .select-error, .select-m, .select-m-error
        position: relative
      &-labels
        position: relative

    &-filter
      margin-bottom: 70px
      &__block
        display: flex
        flex-wrap: wrap
      &__default
        margin-bottom: 50px
        width: 30%
</style>
