<template>
  <v-app>
    <main>
      <first-section :navigationActiveIndex="2" />
      <section class="main-vacancies-description-section">
        <div class="m-container">
          <h2 class="h2">{{ $t('vacancies.h2') }}</h2>
          <p class="main-vacancies-description-section__description">{{ $t('vacancies.description') }}</p>
          <p class="main-vacancies-description-section__vacancies-list-title">{{ $t('vacancies.vacanciesListTitle') }}</p>
        </div>
      </section>
      <section class="main-vacancies-locations-section">
        <div class="m-container">
          <list-navigation
            id="content"
            :items="locations"
            :loading="$fetchState.pending"
          />
        </div>
      </section>
      <section class="main-vacancies-content-section">
        <div class="m-container">
          <directions
            :currentDirection="currentDirection"
            :directions="$store.state.vacancies.directions"
            :loading="$fetchState.pending"
            :filter="filter"
            :applyFilter="applyFilter"
            class="vacancies-content-section__directions_mobile"
          />
        </div>
        <div class="m-container main-vacancies-content-section__content">
          <div class="vacancies-content-section__left-section">
            <directions
              :currentDirection="currentDirection"
              :directions="$store.state.vacancies.directions"
              :loading="$fetchState.pending"
              :filter="filter"
              :applyFilter="applyFilter"
              class="vacancies-content-section__directions_desktop"
            />
            <vacanciesEmail class="vacancies-email_desktop" />
          </div>
          <div
            :class="{
              'blinking': $fetchState.pending,
            }"
            class="main-vacancies-content-section__list"
          >
            <a
              v-if="$store.state.vacancies.vacancies.length"
              v-for="vacancy of $store.state.vacancies.vacancies"
              class="main-vacancies-content-section__item"
              :href="vacancy.url"
              target="_blank"
            >
              <div class="main-vacancies-content-section__item-content">
                {{  vacancy.name  }}
              </div>
              <div class="main-vacancies-content-section__item-arrow">
                <rightArrow />
              </div>
            </a>
            <div
              v-if="!$store.state.vacancies.vacancies.length"
            >
              <p>{{ $t('vacancies.noVacancies.part1') }}</p>
              <p>{{ $t('vacancies.noVacancies.part2') }}</p>
            </div>
          </div>
        </div>
        <div class="m-container">
          <vacanciesEmail class="vacancies-email_mobile" />
        </div>
      </section>
    </main>
  </v-app>
</template>

<script>
import listNavigation from '../components/sobre/listNavigation'
import vacanciesEmail from '../components/sobre/vacanciesEmail'
import firstSection from '../components/sobre/firstSection'
import directions from '../components/sobre/directions'
import rightArrow from "~/assets/svg/right-arrow.svg?inline"
import { getFilterFromUrl, fillUrlFromFilter, getAppliedFilter } from '../utils/filter'
import Vue from 'vue'

const FILTER_DEFAULTS = {
  location: '',
  direction: 0,
};

export default {
  name: 'Vacancies',
  meta: {
    doNotShow: ['br'],
  },
  scrollToTop: true,
  head() {
    return {
      title: this.$t('meta.vacancies.title'),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.$t('meta.vacancies.description'),
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: this.$t('meta.vacancies.url'),
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$t('meta.vacancies.title'),
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$t('meta.vacancies.description'),
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
      script: [
        { src: 'https://code.jquery.com/jquery-3.5.1.min.js' }
      ],
    }
  },
  data() {
    const filterDefaults = FILTER_DEFAULTS;
    filterDefaults.location = this.$app.config.current.vacancies.locations[0].slug;
    return {
      filterDefaults,
      filter: {
        ...filterDefaults,
      },
      needUpdate: false,
      isSectionsLoaded: false,
      withoutScrollingTrigger: false,

      isFirstLoadOnSever: false,
      isFirstLoadOnClient: false,
      isFirstLoad: true,
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.needUpdate = Math.random();
    next();
  },
  created() {
    this.$store.commit('vacancies/setLocations', this.$app.config.current.vacancies.locations);

    if (process.browser) {
      this.$scrollTo('#__layout', 0);
    }
  },
  computed: {
    currentDirection() {
      const directions = this.$store.state.vacancies.directions;
      const filter = this.filter;
      const currentDirection = filter.direction;
      return directions.find(direction => direction.id === currentDirection) || directions[0];
    },
    currentLocation() {
      const locations = this.$store.state.vacancies.locations;
      const filter = this.filter;
      const currentLocation = filter.location;
      return locations.find(location => location.slug === currentLocation) || locations[0];
    },
    locations() {
      const locations = this.$store.state.vacancies.locations;
      return locations.map(location => {
        const l = { ...location };
        if (location.slug === this.filter.location) l.active = true;
        l.to = `/vacancies?location=${l.slug}&direction=${this.filter.direction}`;
        return l;
      });
    },
  },
  async fetch() {
    if (process.server) this.isFirstLoadOnSever = true;
    if (process.client && !this.isFirstLoadOnSever) this.isFirstLoadOnClient = true;

    if (!this.isFirstLoad) this.isSectionsLoaded = false;

    if (process.client && !this.isFirstLoad && this.$scrollTo && !this.withoutScrollingTrigger) {
      if (window.innerWidth > 1023) {
        this.$scrollTo('#content', 300, {offset: 0});
      }
    }

    const filterFromUrl = getFilterFromUrl({
      route: this.$route,
      router: this.$router,
      windowMode: false,
    });

    if (this.$store.state.vacancies.directions.length === 1) {
      // Directions
      let responseDirections;
      try {
        responseDirections = await this.$axios({
          method: 'post',
          url:  `${this.$nuxt.$config.CMS_REST_API}/public/vacancyCategories/`,
        });
      } catch (e) {
        console.error(`error`, e);
        // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      }

      let directions = [];
      if (responseDirections) {
        if (responseDirections.data.error) throw new Error(`An error occurred while executing the query (${responseDirections.data.error})`);

        directions = responseDirections.data.data.data;

        this.$store.commit('vacancies/addDirections', Object.assign([], directions));
      }
    }

    if (!this.$store.state.vacancies.directions.find(direction => String(direction.id) === String(filterFromUrl.direction))) filterFromUrl.direction = this.filterDefaults.direction;
    if (!this.$store.state.vacancies.locations.find(location => location.slug === filterFromUrl.location)) filterFromUrl.location = this.filterDefaults.location;
    filterFromUrl.direction = Number(filterFromUrl.direction);

    this.filter = {
      ...this.filter,
      ...filterFromUrl,
    };

    // Vacancies
    let response;
    try {
      response = await this.$axios({
        method: 'post',
        url: `${this.$nuxt.$config.CMS_REST_API}/public/vacancies/`,
        data: {
          locations: [this.currentLocation.value],
          ...this.currentDirection.id !== 0 && {
            categories: [this.currentDirection.id]
          },
        }
      });
    } catch (e) {
      console.error(e);
      // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      // throw e;
    }
    let vacancies = [];
    if (response) {
      if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);

      vacancies = response.data.data.data;

      this.$store.commit(
        'vacancies/setVacancies',
        Object.assign([],
        vacancies.map(vacancy => {
          const v = { ...vacancy };
          if (!/^http(s)?:\/\//.test(v.url)) {
            v.url = `//${v.url}`;
          }
          return v;
        })
      ));
    }

    if (!this.isFirstLoad) this.isSectionsLoaded = true;

    this.isFirstLoad = false;
  },
  methods: {
    async applyFilter(withoutScrolling = false) {
      fillUrlFromFilter({
        router: this.$router,
        filter: this.filter,
        replaceMode: false,
        considerUrlParams: ['courses'],
        ignoreFilterParams: ['coursesOffset', 'professionsOffset']
      });

      this.withoutScrollingTrigger = withoutScrolling;
    },
    async onFiltersContentSubmit(value) {
      this.filter = { ...this.filter, ...value };
      await this.applyFilter();
    },
  },
  watch: {
    async 'needUpdate'() {
      if (this.needUpdate) await this.$fetch();
    },
    async 'isSectionsLoaded'() {
      if (this.isSectionsLoaded && !this.isFirstLoad) {
        if (!this.withoutScrollingTrigger) {
          if (window.innerWidth > 1023) {
            this.$scrollTo('#content', 0, { offset: 0 });
            await Vue.nextTick();
            this.$scrollTo('#content', 0, { offset: 0 });
          }
        }

        this.withoutScrollingTrigger = false;
      }
    },
  },
  components: {
    listNavigation,
    vacanciesEmail,
    directions,
    rightArrow,
    firstSection,
  },
}
</script>

<style lang="sass">
.main
  &-vacancies-description-section
    & h2
      margin-top: 40px
      margin-bottom: 20px
      @media (min-width: $tb)
        margin-top: 120px
        margin-bottom: 24px
    &__description
      color: #000000
      font-size: 18px
      line-height: 24px
      @media (min-width: $tb)
        max-width: 460px
        width: 460px
      @media (min-width: $md)
        max-width: 700px
        width: 700px
        font-size: 24px
        line-height: 32px
      @media (min-width: $lp)
        max-width: 862px
        width: 862px
    &__vacancies-list-title
      color: #000000
      font-size: 20px
      line-height: 26px
      font-weight: 600
      margin-top: 32px
      padding-bottom: 19px
      @media (min-width: $tb)
        max-width: 460px
        width: 460px
        padding-bottom: 33px
      @media (min-width: $md)
        margin-top: 52px
        max-width: 700px
        width: 700px
        font-size: 32px
        line-height: 38px
        padding-bottom: 45px
      @media (min-width: $lp)
        max-width: 862px
        width: 862px
  &-vacancies-content-section__list
    @media (min-width: $tb)
      margin-top: 32px
    @media (min-width: $md)
      margin-top: 52px
      width: 700px
    @media (min-width: $lp)
      margin-top: 56px
      width: 862px
  &-vacancies-content-section
    & .vacancies-content-section
      &__left-section
        @media (min-width: $md)
          position: sticky
          top: -20px
          align-self: flex-start
    &__content
      @media (min-width: $md)
        display: flex
        justify-content: space-between
    &__item
      display: flex
      justify-content: space-between
      align-items: center
      background: #FFFFFF
      box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
      border-radius: 8px
      cursor: pointer
      transition: opacity, box-shadow .3s
      margin-bottom: 20px
      &:hover
        box-shadow: 0 12px 20px -6px rgb(24 39 75 / 12%), 0px 12px 40px -4px rgb(24 39 75 / 10%)
        transition: box-shadow .3s
      @media (min-width: $md)
        margin-bottom: 32px
      &:last-child
        margin-bottom: 0
        @media (min-width: $md)
          margin-bottom: 120px
      &:hover
        opacity: .8
      &-content
        font-weight: 600
        font-size: 16px
        line-height: 20px
        color: #101010
        padding: 16px
        @media (min-width: $md)
          padding: 32px
          font-size: 24px
          line-height: 28px
      &-arrow
        margin-right: 18px
        color: #905DB4
        display: flex
        @media (min-width: $md)
          margin-right: 38px
</style>
