<template>
  <v-app :style="theme">
    <main class="sale">
      <div class="sale__first-section-wrapper">
        <div class="sale__first-section">
          <div class="m-container">
            <h1 class="h1">{{ $store.state.sale.sale.name }}</h1>
            <div
              class="subtitle"
              v-html="$store.state.sale.sale.description"
            />
            <div class="timer-wrapper">
              <div class="timer-text">{{ $t('sale.endOfPromotion') }}</div>
              <div class="timer">{{ timerDuration }}</div>
            </div>
          </div>
        </div>

        <div class="mobile-img">
          <img
            v-if="$store.state.sale.sale.mobileImgFile"
            decoding="async"
            :src="$store.state.sale.sale.mobileImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.sale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/main_mobile@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.sale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/main_mobile@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/main_mobile@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/main_mobile@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/main_mobile@2x.png`)} 2x`"-->
<!--          />-->
        </div>
        <div class="desktop-img">
          <img
            v-if="$store.state.sale.sale.desktopImgFile"
            decoding="async"
            :src="$store.state.sale.sale.desktopImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.sale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/main_desktop@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.sale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/main_desktop@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/main_desktop@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/main_desktop@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/main_desktop@2x.png`)} 2x`"-->
<!--          />-->
        </div>
        <div class="desktop-img-big">
          <img
            v-if="$store.state.sale.sale.desktopBigImgFile"
            decoding="async"
            :src="$store.state.sale.sale.desktopBigImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.sale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/main_desktop-big@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.sale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/main_desktop-big@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/main_desktop-big@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/main_desktop-big@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/main_desktop-big@2x.png`)} 2x`"-->
<!--          />-->
        </div>
      </div>
      <div class="sale__search-section">
        <div class="m-container">
          <main-search
            v-model="filter.textSearch"
            @input="onMainSearchSendForm"
          />
        </div>
      </div>
      <div class="sale__mobile-filter-section">
        <div class="m-container">
          <div class="select-directions">
            <v-select
              v-model="filter.courses"
              :items="$store.state.sale.directions"
              @change="(value) => {
                clickOnCategory(value);

                applyFilter();
              }"
              hide-details
              single-line
              outlined
              item-text="shortName"
              item-value="slug"
              flat
              attach=".select-directions"
            >
              <template v-slot:append>
                <img src="../../assets/svg/arrow-down-secondary.svg" />
              </template>
            </v-select>
            <div
              @click="isOpenFilterDialog = true"
              class="btn btn_sm btn_outline btn_color-secondary filters__filter-btn"
            >
              <div class="icon filter-icon" />{{ $t('sale.filter') }}
              <span
                class="counter"
              >{{ appliedFilterChips.length || undefined }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sale__main-section">
        <div class="m-container">
          <div class="sale__desktop-filter">
            <div class="sale__desktop-filter-directions">
              <v-btn
                v-for="direction of $store.state.sale.directions"
                :key="direction.slug"
                @click.native="() => {
                  if (loading) return;
                  filter.courses = direction.slug;

                  clickOnCategory(direction.slug);

                  applyFilter();
                }"
                color="secondary"
                rounded
                :outlined="direction.slug !== filter.courses"
                large
                depressed
                :ripple="false"
                nuxt
              >
                {{ direction.slug === 'sale' ? coursesLocalization : direction.shortName }}
              </v-btn>
            </div>
            <additional-filter
              v-model="filter"
              :loading="$fetchState.pending"
            />
          </div>
          <div id="content" class="sale__content">
            <div
              v-show="['any', 'profession'].includes(filter.types) && $store.state.sale.professions.length"
              class="sale__content-section sale__content-section_professions"
            >
              <div class="sale__content-section-header">
                <h2 class="sale__content-section-title">
                  {{ $t('sale.content.section.professions.title') }}
                </h2>
                <div class="sale__content-section-count">
                  {{ $store.state.sale.professionsTotal }} {{ $tc('profession', $store.state.sale.professionsTotal) }}
                </div>
              </div>
              <div
                :class="{
                  'blinking': $fetchState.pending || loading,
                }"
                class="sale__content-section-items"
              >
                <div
                  v-for="profession of professions"
                  :style="{
                    '--product-color': `#${profession.backgroundColor}`,
                  }"
                  class="sale-content-section-item"
                >
                  <div
                    :href="profession.pageUrl"
                    class="sale-content-section-item__link"
                  >
                    <div class="sale-content-section-item__main">
                      <div class="sale-content-section-item__months">
                        {{ $tc('month', profession.duration) }}
                        <div
                          v-if="profession.additionalNomenclaturesString"
                          class="sale-content-section-item__gift-badge"
                        >
                          {{ profession.additionalNomenclaturesString }}
                        </div>
                      </div>
                      <h3
                        @click="() => openDetailProductDialog({ product: profession, productType: 'profession' })"
                        class="sale-content-section-item__title"
                      >
                        {{ profession.shortName || profession.name }}
                      </h3>
                      <div class="sale-content-section-item__price">
                        <span>{{ profession.price.basePriceFormatted }}</span>
                        <div class="sale-content-section-item__price-discount">
                          {{ profession.price.percent }}%
                        </div>
                      </div>
                    </div>
                    <img
                      class="sale-content-section-item__img"
                      :src="profession.images.showcaseImage && profession.images.showcaseImage.url || `/images/nomenclatures/${profession.slug}.svg`"
                      :alt="profession.images.showcaseImage && profession.images.showcaseImage.description"
                      width="146"
                      height="148"
                    >
                    <div class="sale-content-section-item__price-additional">
                      {{ profession.price.priceInstallmentPlan }}x {{ $t('sale.noInterestOnCardPart1') }} <span>{{ profession.price.priceInstallmentPlanPrice }}</span> {{ $t('sale.noInterestOnCardPart2') }}
                    </div>
                    <div class="sale-content-section-item__footer">
                      <v-btn
                        v-if="!profession.inBasket"
                        color="secondary"
                        rounded
                        large
                        depressed
                        :ripple="false"
                        nuxt
                        @click="() => addToBasket({ item: profession, type: 'profession' })"
                        class="add-to-basket-button"
                      >
                        {{ $t('sale.product.add') }}
                      </v-btn>
                      <v-btn
                        v-else
                        rounded
                        large
                        depressed
                        :ripple="false"
                        nuxt
                        @click="() => removeFromBasket({ item: profession, type: 'profession' })"
                        class="remove-from-basket-button"
                      >
                        {{ $t('sale.product.remove') }}
                      </v-btn>
                      <div
                        @click="() => openDetailProductDialog({ product: profession, productType: 'profession' })"
                        class="sale-content-section-item__footer-detail"
                      >{{ $t('sale.product.moreDetails') }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              v-if="!loading && !$fetchState.pending && $store.state.sale.professionsCanLoadMore && $store.state.sale.professions.length"
              class="sale__show-more-section"
            >
              <div
                class="btn btn_md btn_outline btn_color-primary"
                @click="loadMoreProfessions"
              >
                <div>
                  {{ $t('sale.content.more') }} <span class="quantity">{{ professionsAvailableLimit }}</span> {{ $tc('profession', professionsAvailableLimit) }}
                </div>
              </div>
            </div>
            <div
              v-show="['any', 'course'].includes(filter.types) && $store.state.sale.courses.length"
              class="sale__content-section sale__content-section_courses"
            >
              <div class="sale__content-section-header">
                <h2 class="sale__content-section-title">
                  {{ $t('sale.content.section.courses.title') }}
                </h2>
                <div class="sale__content-section-count">
                  {{ $store.state.sale.coursesTotal }} {{ $tc('course', $store.state.sale.coursesTotal) }}
                </div>
              </div>
              <div
                :class="{
                  'blinking': $fetchState.pending || loading,
                }"
                class="sale__content-section-items"
              >
                <div
                  v-for="course of courses"
                  :style="{
                    '--product-color': `#${course.backgroundColor}`,
                  }"
                  class="sale-content-section-item"
                >
                  <div
                    :href="course.pageUrl"
                    class="sale-content-section-item__link"
                  >
                    <div class="sale-content-section-item__main">
                      <div class="sale-content-section-item__months">
                        {{ $tc('month', course.duration) }}
                        <div
                          v-if="course.additionalNomenclaturesString"
                          class="sale-content-section-item__gift-badge"
                        >
                          {{ course.additionalNomenclaturesString }}
                        </div>
                      </div>
                      <h3
                        @click="() => openDetailProductDialog({ product: course, productType: 'course' })"
                        class="sale-content-section-item__title"
                      >
                        {{ course.shortName || course.name }}
                      </h3>
                      <div class="sale-content-section-item__price">
                        <span>{{ course.price.basePriceFormatted }}</span>
                        <div class="sale-content-section-item__price-discount">
                          {{ course.price.percent }}%
                        </div>
                      </div>
                    </div>
                    <img
                      class="sale-content-section-item__img"
                      :src="course.images.showcaseImage && course.images.showcaseImage.url || `/images/nomenclatures/${course.slug}.svg`"
                      :alt="course.images.showcaseImage && course.images.showcaseImage.description"
                      width="146"
                      height="148"
                    >
                    <div class="sale-content-section-item__price-additional">
                      {{ course.price.priceInstallmentPlan }}x {{ $t('sale.noInterestOnCardPart1') }} <span>{{ course.price.priceInstallmentPlanPrice }}</span> {{ $t('sale.noInterestOnCardPart2') }}
                    </div>
                    <div class="sale-content-section-item__footer">
                      <v-btn
                        v-if="!course.inBasket"
                        color="secondary"
                        rounded
                        large
                        depressed
                        :ripple="false"
                        nuxt
                        @click="() => addToBasket({ item: course, type: 'course' })"
                        class="add-to-basket-button"
                      >
                        {{ $t('sale.product.add') }}
                      </v-btn>
                      <v-btn
                        v-else
                        rounded
                        large
                        depressed
                        :ripple="false"
                        nuxt
                        @click="() => removeFromBasket({ item: course, type: 'course' })"
                        class="remove-from-basket-button"
                      >
                        {{ $t('sale.product.remove') }}
                      </v-btn>
                      <div
                        @click="() => openDetailProductDialog({ product: course, productType: 'course' })"
                        class="sale-content-section-item__footer-detail"
                      >{{ $t('sale.product.moreDetails') }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              v-if="!loading && !$fetchState.pending && $store.state.sale.coursesCanLoadMore && $store.state.sale.courses.length"
              class="sale__show-more-section"
            >
              <div
                class="btn btn_md btn_outline btn_color-primary"
                @click="loadMoreCourses"
              >
                <div>
                  {{ $t('sale.content.more') }} <span class="quantity">{{ coursesAvailableLimit }}</span> {{ $tc('course', coursesAvailableLimit) }}
                </div>
              </div>
            </div>

            <section
              v-show="
                !$fetchState.pending &&
                ((!$store.state.sale.professions.length && !$store.state.sale.courses.length) ||
                (filter.types === 'course' && !$store.state.sale.courses.length) ||
                (filter.types === 'profession' && !$store.state.sale.professions.length))"
              class="search-result"
            >
              <p>{{ $t('courses.notFound') }}</p>
            </section>
          </div>
        </div>
      </div>

      <reviews class="sale__reviews-section" />

      <plan class="sale__plan-section" />

      <aboutUs class="about-us__info-section" />

      <section class="sale__form-section">
        <div class="m-container">
          <div class="sale__form-title">
            <h2 class="h2">{{ $t('sale.h2') }}</h2>
          </div>
          <p class="sale__form-description">
            {{ $t('sale.description') }}
          </p>
          <div class="sale__form-controls">
            <ValidationObserver v-slot="{ handleSubmit }" ref="form">
              <form @submit.prevent="handleSubmit(onSubmit)">
                <div class="sale__form-name-phone">
                  <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
                    <v-text-field
                      class="sale__form-name-phone-name"
                      v-model="form.data.name"
                      :label="$t('sale.name.label')"
                      solo
                      :error-messages="errors.length ? $t('sale.name.error') : ''"
                    ></v-text-field>
                  </ValidationProvider>
                  <phone
                    class="sale__form-name-phone-phone"
                    name="phone"
                    v-model="form.data.phone"
                  />
                </div>
                <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
                  <hintEmail
                    v-model="form.data.email"
                    :label="$t('sale.email.label')"
                    :error-messages="errors.length ? $t('sale.email.error') : ''"
                  />
                </ValidationProvider>
                <div
                  v-if="!$app.config.current.formWithCheckbox"
                  class="sale__form-privacy-policy"
                >
                  {{ $t('formText.part1') }} <a :href="$app.config.current.documents[$app.config.current.formDocument]" target="_blank">{{ $t('formText.part2') }}</a>
                </div>
                <ValidationProvider
                  v-else
                  name="passive"
                  :rules="{ required: { allowFalse: false } }"
                  v-slot="{ errors }"
                >
                  <checkbox
                    class="checkbox_accepted-rules"
                    v-model="form.data.acceptedRules"
                    :error-messages="errors"
                  >
                    {{ $t('formText.part1') }} <a :href="$app.config.current.documents[$app.config.current.formDocument]" target="_blank">{{ $t('formText.part2') }}</a>
                  </checkbox>
                </ValidationProvider>
                <div class="sale__form-btn">
                  <v-btn
                    color="primary"
                    rounded
                    depressed
                    x-large
                    :ripple="false"
                    type="submit"
                    :loading="form.loading"
                  >
                    {{ $t('sale.btn') }}
                  </v-btn>
                </div>
                <input type="hidden" name="source_id" tabindex="-1" :value="$app.config.current.sourceId.sale">
                <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
              </form>
            </ValidationObserver>
          </div>
        </div>
      </section>

      <basketFloatingPanel
        v-if="basket.length"
        v-model="basket"
        :basketComputed="basketComputed"
        :loading="basketLoading"
        @removeFromBasketEvent="(product) => removeFromBasketEventHandler(product)"
      />

      <v-dialog
        v-model="isOpenFilterDialog"
        fullscreen
        content-class="sale-filter-dialog"
      >
        <v-card>
          <div class="m-container">
            <div
              @click="isOpenFilterDialog = false"
              class="close-dialog"
            />

            <div class="sale-filter-dialog__title">
              {{ $t('sale.filter') }}
            </div>
            <additional-filter
              v-model="dialogAdditionalFilter"
              :isShow="isOpenFilterDialog"
              :loading="$fetchState.pending"
            />

            <div
              @click="applyDialogFilter"
              class="sale-filter-dialog__apply-filter btn btn_md btn_outline btn_color-primary"
            >
              {{ $t('filtersContent.apply') }}
            </div>
          </div>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="successDialog"
        max-width="490"
      >
        <v-card
          class="sale-success-dialog"
        >
          <div
            @click="successDialog = false"
            class="close-dialog"
          />
          <div class="sale-success-dialog__img">
            <successImg />
          </div>
          <div class="h3 sale-success-dialog__title">
            {{ $t('index.success-dialog.title') }}
          </div>
          <div class="sale-success-dialog__description">
            {{ $t('index.success-dialog.description') }}
          </div>
          <v-btn
            class="sale-success-dialog__btn"
            color="primary"
            rounded
            depressed
            x-large
            :ripple="false"
            @click="successDialog = false"
          >
            {{ $t('index.success-dialog.btn') }}
          </v-btn>
        </v-card>
      </v-dialog>
      <v-dialog
        :value="$store.state.sale.isDisplayDetailProductDialog"
        @input="$store.commit('sale/setIsDisplayDetailProductDialog', false)"
        content-class="detail-product-dialog"
        :key="openDetailProductDialogKey"
        :retain-focus="false"
      >
        <detailProductDialogContent
          @addToBasket="(...args) => addToBasket(...args)"
          @removeFromBasket="(...args) => removeFromBasket(...args)"
        />
      </v-dialog>
      <v-dialog
        :value="$store.state.sale.basketDialog"
        @input="$store.commit('sale/setBasketDialog', false)"
        content-class="basket-dialog"
        :retain-focus="false"
      >
        <basketDialogContent
          v-model="basket"
          :basketComputed="basketComputed"
          @clearBasket="clearBasket"
        />
      </v-dialog>
    </main>
  </v-app>
</template>

<script>
import getTheme from './themes'
import sortBy from 'lodash/sortBy'

import mainSearch from '../../components/mainSearch'
import reviews from '../../components/reviewsSection'
import plan from '../../components/sections/plan'
import aboutUs from '../../components/sections/about-us'

import { getEternalEndDate } from './utils'
import { getFilterFromUrl, fillUrlFromFilter, getAppliedFilter } from '../../utils/filter'
import addAnyFormFields from '../../utils/addAnyFormFields'

import additionalFilter from './components/-additionalFilter'
import detailProductDialogContent from './components/detailProductDialogContent/-index.vue'
import basketFloatingPanel from './components/-basketFloatingPanel'
import basketDialogContent from './components/-basketDialogContent'
import urlencodeFormData from "@/utils/urlencodeFormData"
import successImg from "../../assets/svg/success-img.svg?inline"
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import hintEmail from '../../components/common/hintEmail'
import phone from '../../components/common/phone'
import checkbox from '../../components/common/checkbox'

import basketMixin from '../../mixins/basket'

import { htmlToText } from 'html-to-text'

const OFFSET = 0;
const LIMIT = 10;
const FILTER_DEFAULTS = {
  types: 'any',
  durationMin: 1,
  durationMax: 18,
  courses: 'sale',
};

export default {
  name: 'Sale',
  meta: {
    show: ['br', 'mx'],
  },
  middleware: ['setSale', 'setSaleDirections', 'saleGuard'],
  mixins: [basketMixin],
  head() {
    const sale = this.$store.state.sale.sale;
    return {
      title: `${sale.name} ${this.$t('meta.sale.title')}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.convertedDescription,
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `${this.$t('meta.sale.url')}${sale.slug}`,
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: `${sale.name} ${this.$t('meta.sale.title')}`,
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.convertedDescription,
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    }
  },
  data() {
    return {
      filter: {
        ...FILTER_DEFAULTS,
      },
      dialogAdditionalFilter: {
        ...FILTER_DEFAULTS
      },
      loading: false, // загрузка списка курсов
      needUpdate: false, // нужно обновление курсов

      needApplyFilter: false,

      theme: {}, // переменные цветовой тему
      themeName: 'default',

      timer: { // таймер
        duration: null,
        interval: null,
      },

      isOpenFilterDialog: false,

      successDialog: false,

      form: {
        loading: false,
        data: {
          name: '',
          phone: '',
          email: null,
          acceptedRules: true,
        },
      },

      openDetailProductDialogKey: 1,
    }
  },
  computed: {
    convertedDescription() {
      return (htmlToText(this.$store.state?.sale?.sale?.description) || "").replace(/\u00a0/g, ' ');
    },
    timerDuration() {
      const timerDuration = this.timer.duration;
      if (!timerDuration || !timerDuration.days) return ``;
      if (timerDuration._milliseconds <= 0) return `${this.$tc('day', 0)} 00:00:00`;
      return `${timerDuration.months() ? this.$tc('month', timerDuration.months(), timerDuration.months()) : ''} ${this.$tc('day', timerDuration.days(), { days: timerDuration.days() })} ${String(timerDuration.hours()).padStart(2, '0')}:${String(timerDuration.minutes()).padStart(2, '0')}:${String(timerDuration.seconds()).padStart(2, '0')}`;
    },
    coursesLocalization() {
      const isMobile = this.$app.isMobile;
      if (typeof isMobile === 'boolean') return isMobile ? this.$t(`direction.coursesMobile`) : this.$t(`direction.courses`);
      else return this.$t(`direction.courses`);
    },
    appliedFilter() {
      const filter = this.filter;
      const exclude = { ...FILTER_DEFAULTS };
      delete exclude.courses;

      const appliedFilter = {};

      Object.entries(filter).forEach(([key, value]) => {
        if (!(exclude.hasOwnProperty(key) && exclude[key] === value)) appliedFilter[key] = value;
      });

      return appliedFilter;
    },
    appliedFilterChips() {
      const appliedFilter = this.appliedFilter;

      return getAppliedFilter({
        filter: appliedFilter,
        ignoreFilterParams: ['coursesOffset', 'professionsOffset', 'courses', 'textSearch']
      });
    },
    currentDirection() {
      const directions = this.$store.state.sale.directions;
      const filter = this.filter;
      const currentDirectionSlug = filter.courses;

      return directions.find(direction => direction.slug === currentDirectionSlug) || {};
    },
    maxTotal() {
      const coursesTotal = this.$store.state.sale.coursesTotal;
      const professionsTotal = this.$store.state.sale.professionsTotal;
      return Math.max(coursesTotal, professionsTotal);
    },
    coursesAvailableLimit() {
      const defaultLimit = LIMIT;
      const page = Number(this.filter.page);
      const coursesLength = page && this.$store.state.sale.courses.length ? this.$store.state.sale.courses.length + (page - 1) * LIMIT : this.$store.state.sale.courses.length;
      const total = this.$store.state.sale.coursesTotal;

      if (total === 0) return defaultLimit;
      if (coursesLength + defaultLimit <= total) return defaultLimit;
      else return total - coursesLength;
    },
    professionsAvailableLimit() {
      const defaultLimit = LIMIT;
      const page = Number(this.filter.page);
      const professionsLength = page && this.$store.state.sale.professions.length ? this.$store.state.sale.professions.length + (page - 1) * LIMIT : this.$store.state.sale.professions.length;
      const total = this.$store.state.sale.professionsTotal;

      if (total === 0) return defaultLimit;
      if (professionsLength + defaultLimit <= total) return defaultLimit;
      else return total - professionsLength;
    },
    professions() {
      const basket = this.basket;
      const professions = this.$store.state.sale.professions;

      return professions.map(profession => {
        const item = { ...profession };
        item.price = this.getProductPrice(item);
        item.additionalNomenclaturesString = this.getProductAdditionalNomenclaturesString(item);
        if (basket.find(basketItem => basketItem.id === item.id)) {
          item.inBasket = true;
        } else {
          item.inBasket = false;
        }

        return item;
      })
    },
    courses() {
      const basket = this.basket;
      const courses = this.$store.state.sale.courses;

      return courses.map(course => {
        const item = { ...course };
        item.price = this.getProductPrice(item);
        item.additionalNomenclaturesString = this.getProductAdditionalNomenclaturesString(item);
        if (basket.find(basketItem => basketItem.id === item.id)) {
          item.inBasket = true;
        } else {
          item.inBasket = false;
        }

        return item;
      })
    },
  },
  async fetch() {
    this.filter = {
      ...this.filter,
      ...getFilterFromUrl({
        route: this.$route,
        router: this.$router,
        windowMode: false,
      })
    };

    this.filter.durationMin = Number(this.filter.durationMin);
    this.filter.durationMax = Number(this.filter.durationMax);

    const page = Number(this.filter.page);
    this.filter.coursesOffset = page ? (page - 1) * LIMIT : OFFSET;
    this.filter.professionsOffset = page ? (page - 1)* LIMIT : OFFSET;

    const directions = this.$store.state.sale.directions;
    const currentDirectionSlug = this.filter.courses;
    const currentDirection = directions.find(direction => direction.slug === currentDirectionSlug) || {};

    let professions, professionsCanLoadMore, professionsTotal;
    if (['any', 'profession'].includes(this.filter.types)) {
      ({ professions, canLoadMore: professionsCanLoadMore, total: professionsTotal } = await getProfessions({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: LIMIT,
        currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        sale: this.$store.state.sale.sale,
      }));
    }

    let courses, coursesCanLoadMore, coursesTotal;
    if (['any', 'course'].includes(this.filter.types)) {
      ({ courses, canLoadMore: coursesCanLoadMore, total: coursesTotal } = await getCourses({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: LIMIT,
        currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        sale: this.$store.state.sale.sale,
      }));
    }

    if (['any', 'profession'].includes(this.filter.types)) {
      this.$store.commit('sale/setProfessions', Object.assign([], professions));
      this.$store.commit('sale/setProfessionsTotal', professionsTotal);
      this.$store.commit('sale/setProfessionsCanLoadMore', professionsCanLoadMore);
    }

    if (['any', 'course'].includes(this.filter.types)) {
      this.$store.commit('sale/setCourses', Object.assign([], courses));
      this.$store.commit('sale/setCoursesTotal', coursesTotal);
      this.$store.commit('sale/setCoursesCanLoadMore', coursesCanLoadMore);
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.needUpdate = Math.random();
    next();
  },
  async created() {
    this.LIMIT = LIMIT;

    if (process.browser) {
      this.$gtm.push({ source_id: this.$app.config.current.sourceId.sale });

      this.$scrollTo('#__layout', 0);
    }

    this.themeName = this.$store.state.sale.sale.theme || this.themeName;
    this.theme = getTheme({ themeName: this.themeName });

    if (this.$store.state.sale.sale.themeColor) {
      this.theme['--sale-secondary'] = `#${this.$store.state.sale.sale.themeColor}`;
    }

    if (this.$store.state.sale.sale.themeColorActive) {
      this.theme['--sale-secondary-active'] = `#${this.$store.state.sale.sale.themeColorActive}`;
    }

    if (this.$store.state.sale.sale.firstSectionTextColor) {
      this.theme['--sale-h1-text-color'] = `#${this.$store.state.sale.sale.firstSectionTextColor}`;
      this.theme['--sale-secondary-text-color'] = `#${this.$store.state.sale.sale.firstSectionTextColor}`;
    }

    if (this.$store.state.sale.sale.firstSectionBackgroundColor) {
      this.theme['--sale-first-section-background'] = this.$store.state.sale.sale.firstSectionBackgroundColor;
    }
  },
  mounted() {
    const endDate = this.$store.state.sale.sale.endDate;
    this.timer.interval = setInterval(() => {
      this.timer.duration = this.$dayjs.duration(
        this.$dayjs.utc(
          ['desconto-de-primavera', 'ano-novo'].includes(this.$store.state.sale.sale.slug) || this.$store.state.sale.sale.modes.eternalCounter ? getEternalEndDate() : endDate
        )
        .diff(this.$dayjs.utc()), 'milliseconds', true);
    }, 1000);

    setTimeout(async () => await addAnyFormFields.call(this, { ref: this.$refs.form }), 0);
  },
  beforeDestroy() {
    this.$store.commit('sale/setSale', null);
    clearInterval(this.timer.interval);
  },
  methods: {
    clickOnCategory(value) {
      const category = this.$store.state.sale.directions.find((direction) => direction.slug === value);

      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_click', 'eventAction': 'headermenu', 'eventLabel': category?.shortName || category?.name });
    },
    async delay(ms) {
      return new Promise(resolve => {
        setTimeout(() => resolve(), ms || 300);
      })
    },
    getProductAdditionalNomenclaturesString(product) {
      const additionalNomenclatures = product.additionalNomenclatures || [];
      if (!additionalNomenclatures.length) return '';
      return `+${this.$tc('course', additionalNomenclatures.length).toUpperCase()} ${additionalNomenclatures.map(nomenclature => nomenclature.shortName || nomenclature.name).join(', ').toUpperCase()} ${this.$t('sale.free').toUpperCase()}`;
    },
    getProductPrice(product) {
      const defaultSalePrice = this.$store.state.sale.sale.defaultSaleType;
      // const basePrice = Number(product?.rdCrmProduct?.basePrice || 0);
      const basePrice = Number(product?.basePrice || 0);
      let price = {
        priceInstallmentPlan: 12,
        basePrice,
        basePriceFormatted: this.$n(basePrice, 'currency'),
      };
      let productPrice;
      let priceType;

      if (product.salePrice.isDefaultPrice) { // если цена не выбрана
        const source = product.sources.find((source) => source.pageType === defaultSalePrice);
        if (source) {
          // productPrice = product.rdCrmProductPrices.find(productPrice => productPrice.priceTypeId === source.priceTypeId);
          productPrice = product.nomenclaturePrices.find(productPrice => productPrice.priceTypeId === source.priceTypeId);
          if (productPrice) {
            price.price = productPrice?.price;
            priceType = product.priceTypes.find((priceType) => priceType.id === productPrice.priceTypeId);
            price.percent = priceType.percent;
            price.priceInstallmentPlanPrice = this.$app.getCurrency(price.price / price.priceInstallmentPlan);
          }
        }
      // } else if (product.salePrice.withRdCrmProductPrice) { // если цена выбрана
      } else if (product.salePrice.withNomenclaturePrice) { // если цена выбрана
        // productPrice = product.rdCrmProductPrices[0];
        productPrice = product.nomenclaturePrices[0];
        if (productPrice) {
          price.price = productPrice.price;
          priceType = product.priceTypes.find((priceType) => priceType.id === productPrice.priceTypeId);
          price.percent = priceType.percent;
          price.priceInstallmentPlanPrice = this.$app.getCurrency(price.price / price.priceInstallmentPlan);
        }
      }

      return price;
    },
    async openDetailProductDialog({ product, productType }) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_click', 'eventAction': 'course_description', 'eventLabel': product.shortName || product.name });

      this.openDetailProductDialogKey = Math.random();

      this.$store.commit('sale/setDetailProductDialog', { ...this.$store.state.sale.detailProductDialogDefault, loading: true });

      this.$store.commit('sale/setIsDisplayDetailProductDialog', true);

      const detail = await this.getProductDetail({ id: product.id });

      if (detail) {
        this.$store.commit('sale/setDetailProductDialog', {
          ...this.$store.state.sale.detailProductDialogDefault,
          product,
          productType,
          content: {
            ...this.$store.state.sale.detailProductDialogDefault.content,
            months: product.duration,
            title: product.shortName || product.name,
            description: detail.description,
            program: detail.detailProgram,
            trailerUrl: detail.detailVideo,
            teachers: sortBy(detail.teachers, 'num'),
            img: detail.detailImage,
            courseProgram: detail.courseProgramFile,
            skills: Array.isArray(detail.detailBenefits) ? detail.detailBenefits.map(benefit => ({ ...benefit, description: benefit.text })) : [],
          },
        });
      } else {
        this.$store.commit('sale/setIsDisplayDetailProductDialog', false);
      }

      this.$store.commit('sale/setDetailProductDialog', { ...this.$store.state.sale.detailProductDialog, loading: false });
    },
    async getProductDetail({ id }) {
      let response;
      try {
        response = await this.$axios({
          method: 'post',
          url: `${this.$nuxt.$config.CMS_REST_API}/public/get-nomenclature-detail/`,
          data: {
            id,
          },
        });
      } catch (e) {
        console.error(e);
      }

      return response?.data?.data;
    },
    async onSubmit() {
      if (this.loadingForm) return;

      this.loadingForm = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loadingForm = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector('form'));
      formData.append('name', this.form.data.name);
      formData.append('phone', this.form.data.phone);
      formData.append('email', this.form.data.email);
      formData.append('checkbox', this.form.data.acceptedRules);

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.leadFormUrl,
          data: urlencodeFormData(formData),
          headers: {
            'Content-Type': `application/x-www-form-urlencoded`,
          },
        });

        this.successDialog = true;

        this.$refs.form.reset();
        this.form.data.name = '';
        this.form.data.phone = '';
        this.form.data.email = '';

        this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_lead', 'eventAction': 'from_form' });
      } catch (e) {
        console.error(e);
      }

      this.loadingForm = false;
    },
    async applyFilter() {
      fillUrlFromFilter({
        router: this.$router,
        filter: this.filter,
        replaceMode: false,
        ignoreFilterParams: ['coursesOffset', 'professionsOffset']
      });

      this.$scrollTo('#content', 300, { offset: this.$app.isMobile ? -150 : -60 });
    },
    applyDialogFilter() {
      this.filter = { ...this.filter, ...this.dialogAdditionalFilter };
      this.isOpenFilterDialog = false;
    },
    async onMainSearchSendForm(value) {
      this.filter.textSearch = value;

      if (!value) delete this.filter.textSearch;

      await this.applyFilter(true);
    },
    async loadMoreProfessions() {
      const filter = this.appliedFilter;
      const page = Number(this.filter.page);
      this.filter.professionsOffset = filter.professionsOffset = page ? this.$store.state.sale.professions.length + (page - 1) * LIMIT : this.$store.state.sale.professions.length;

      this.loading = true;
      const { professions, canLoadMore, total } = await getProfessions({
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: this.professionsAvailableLimit,
        currentDirection: this.currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        sale: this.$store.state.sale.sale,
        $app: this.$app,
      });

      this.$store.commit('sale/setProfessions', [...this.$store.state.sale.professions, ...professions]);
      this.$store.commit('sale/setProfessionsTotal', total);
      this.$store.commit('sale/setProfessionsCanLoadMore', canLoadMore);

      this.loading = false;
    },
    async loadMoreCourses() {
      const filter = this.appliedFilter;
      const page = Number(this.filter.page);
      this.filter.coursesOffset = filter.coursesOffset = page ? this.$store.state.sale.courses.length + (page - 1) * LIMIT : this.$store.state.sale.courses.length;

      this.loading = true;
      const { courses, canLoadMore, total } = await getCourses.call(this, {
        axios: this.$axios,
        filter: this.appliedFilter,
        limit: this.coursesAvailableLimit,
        currentDirection: this.currentDirection,
        error: this.$nuxt.error,
        $config: this.$nuxt.$config,
        sale: this.$store.state.sale.sale,
        $app: this.$app,
      });

      this.$store.commit('sale/setCourses', Object.assign([], [...this.$store.state.sale.courses, ...courses]));
      this.$store.commit('sale/setCoursesTotal', total);
      this.$store.commit('sale/setCoursesCanLoadMore', canLoadMore);

      this.loading = false;
    },
    addToBasket({ item, type }) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_addtocart', 'eventAction': 'offer', 'eventLabel': item.shortName || item.name });

      this.basket.push(item);

      this.setProductInLocalStorage(item);
    },
    removeFromBasket({ item, type }) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_deletefromcart', 'eventAction': 'order', 'eventLabel': item.shortName || item.name });

      this.basket = this.basket.filter(basketItem => item.id !== basketItem.id);

      this.removeProductFromLocalStorage(item);
    },
    removeFromBasketEventHandler(product) {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_deletefromcart', 'eventAction': 'order', 'eventLabel': product.shortName || product.name });

      this.removeProductFromLocalStorage(product);
    },
    clearBasket() {
      this.basket = [];

      localStorage.removeItem(`sale-${this.$store.state.sale.sale.id}`);
    },
  },
  watch: {
    async 'needUpdate'() {
      if (this.needUpdate) await this.$fetch();
    },
    async 'filter.types'() {
      if (this.filter.types === 'profession') {
        this.$store.commit('sale/setCourses', []);
        this.$store.commit('sale/setCoursesTotal', 0);
        this.$store.commit('sale/setCoursesCanLoadMore', false);
      } else if (this.filter.types === 'course') {
        this.$store.commit('sale/setProfessions', []);
        this.$store.commit('sale/setProfessionsTotal', 0);
        this.$store.commit('sale/setProfessionsCanLoadMore', false);
      }
    },
    async filter(oldValue, newValue) {
      this.dialogAdditionalFilter = { ...this.filter };

      if (JSON.stringify(oldValue) !== JSON.stringify(newValue)) {
        if (this.needApplyFilter) await this.applyFilter();

        this.needApplyFilter = true;
      }
    },
    isOpenFilterDialog() {
      if (this.isOpenFilterDialog) this.dialogAdditionalFilter = { ...this.filter };
    },
  },
  components: {
    mainSearch,
    additionalFilter,
    reviews,
    plan,
    aboutUs,
    successImg,
    ValidationObserver,
    ValidationProvider,
    hintEmail,
    phone,
    detailProductDialogContent,
    basketFloatingPanel,
    basketDialogContent,
    checkbox,
  },
}

const getCourses = async ({ axios, filter, limit, currentDirection, error, $config, sale = {}, $app }) => {
  const _filter = {
    ...filter,
    ...filter.courses !== 'sale' && {
      directions: [currentDirection.id],
    },
    types: ["0"],
    limit: limit,
    offset: filter.coursesOffset,
  };

  delete _filter.courses;
  delete _filter.professionsOffset;
  delete _filter.coursesOffset;

  let response;
  try {
    if(["pe", 'co', 'ar', 'cl'].includes($app?.config?.common?.currentCountry)) _filter.latam = true;
    response = await axios({
      method: 'post',
      url: `${$config.CMS_REST_API}/public/showcase/`,
      data: {
        ..._filter,
        saleId: sale.id,
      },
    });
  } catch (e) {
    // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
    // throw e;
  }

  if (!response) return { courses: [], canLoadMore: false, total: 0 };

  if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);
  const data = response.data.data;
  const total = data.meta.total;
  const canLoadMore = data.data.length + _filter.offset !== total;

  return { courses: data.data || [], canLoadMore, total };
};

const getProfessions = async ({ axios, filter, limit, currentDirection, error, $config, sale = {}, $app }) => {
  const _filter = {
    ...filter,
    ...filter.courses !== 'sale' && {
      directions: [currentDirection.id],
    },
    types: ["1"],
    limit: limit,
    offset: filter.professionsOffset,
  };

  delete _filter.courses;
  delete _filter.professionsOffset;
  delete _filter.coursesOffset;

  let response;
  try {
    if(['pe', 'co', 'ar', 'cl'].includes($app?.config?.common?.currentCountry)) _filter.latam = true;
    response = await axios({
      method: 'post',
      url: `${$config.CMS_REST_API}/public/showcase/`,
      data: {
        ..._filter,
        saleId: sale.id,
      },
    });
  } catch (e) {
    // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
    // throw e;
  }

  if (!response) return { professions: [], canLoadMore: false, total: 0 };

  if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);
  const data = response.data.data;
  const total = data.meta.total;
  const canLoadMore = data.data.length + _filter.offset !== total;

  return { professions: data.data || [], canLoadMore, total };
};
</script>

<style lang="sass">
.sale
  &__form-privacy-policy
    font-size: 14px
    line-height: 18px
    color: #535353
    margin-bottom: 32px
    text-align: center
    @media (min-width: $tb)
      margin-bottom: 38px
    & a
      text-decoration: none
      color: #535353
      border-bottom: 1px solid #535353
      line-height: 19px
  & .remove-from-basket-button
    color: var(--sale-primary-alternative-antagonist)!important
    background-color: var(--sale-primary-alternative)!important
    border-color: var(--sale-primary-alternative)!important
    &:hover
      opacity: .7
  & .add-to-basket-button
    color: var(--sale-secondary-antagonist)!important
    background-color: var(--sale-secondary)!important
    border-color: var(--sale-secondary)!important
  &__first-section-wrapper
    overflow: hidden
    position: relative
    & .mobile-img
      display: flex
      position: absolute
      right: 0
      bottom: 0
      left: 0
      justify-content: center
      align-items: center
      @media (min-width: $tb)
        display: none
      & img
        width: 768px
    & .desktop-img
      display: none
      position: absolute
      right: 0
      bottom: 0
      left: 0
      top: 0
      justify-content: center
      align-items: flex-start
      @media (min-width: $tb)
        display: flex
      @media (min-width: $lp)
        display: none
      & img
        width: 1279px
    & .desktop-img-big
      display: none
      position: absolute
      right: 0
      bottom: 0
      left: 0
      justify-content: center
      align-items: center
      height: 100%
      @media (min-width: $lp)
        display: flex
      & img
        height: 100%
  &__first-section
    position: relative
    background: var(--sale-first-section-background)
    @media (min-width: $tb)
      background: var(--sale-first-section-background)
    & .h1
      color: var(--sale-h1-text-color)
      margin-top: 0
      padding-top: 30px
      margin-bottom: 28px
      font-weight: 800
      font-size: 32px
      line-height: 120%
      @media (min-width: $tb)
        font-size: 52px
        font-weight: 700
        width: 434px
        padding-top: 108px
      @media (min-width: $md)
        width: 487px
    & .subtitle
      color: var(--sale-secondary-text-color)
      font-size: 18px
      line-height: 130%
      @media (min-width: $tb)
        width: 423px
      @media (min-width: $md)
        width: 463px
      //& span
      //  color: var(--sale-secondary)
      //  font-weight: 700
    & .timer-wrapper
      color: var(--sale-secondary-text-color)
      font-size: 24px
      line-height: 32px
      margin-top: 40px
      padding-bottom: 200px
      @media (min-width: $tb)
        margin-top: 65px
        padding-bottom: 100px
        display: flex
      & .timer
        font-weight: 600
        height: 32px
        @media (min-width: $tb)
          margin-left: 20px
    & .m-container
      position: relative
      z-index: 1
  &__search-section
    margin-top: -22px
    @media (min-width: $md)
      margin-top: -28px
    & .main-search-form__wrap
      z-index: 1
      @media (min-width: $tb)
        width: 644px
      @media (min-width: $lp)
        width: 718px
  &__mobile-filter-section
    margin-top: 20px
    @media (min-width: $tb)
      margin-top: 36px
    @media (min-width: $lp)
      display: none
    & .select-directions
      position: relative
      height: 48px
      display: flex
      & .v-select__selections
        line-height: 16px
        position: relative
        & input
          display: none
      & .btn
        font-size: 16px
        line-height: 16px
      & .v-select
        font-size: 16px
        line-height: 16px
      & .v-input__slot
        box-shadow: none!important
    & .v-input, & .v-input__control, & .v-input__slot
      height: 100%
    & .v-input__slot
      margin-bottom: 0 !important
      border-radius: 100px !important
      min-height: unset !important
    & .v-input__append-inner
      height: 100%
      margin-top: 0 !important
    & .v-menu__content
      top: 50px !important
      border: 1px solid #EAECEE
      border-radius: 4px
      overflow: hidden
      box-shadow: 0 8px 16px rgb(51 51 51 / 20%)
      background: #fff
      max-height: unset !important
    & .v-text-field--outlined fieldset
      border: none!important
    & .v-input__slot
      border: 1px solid var(--sale-primary)
    & .v-select__selection--comma
      color: var(--sale-primary)
      white-space: normal
    & img
      transition: all .2s
    & .v-select--is-menu-active img
      transform: rotate(180deg)
    & .v-list-item__title
      color: var(--sale-primary)
    & .v-list-item--link:before
      background-color: #f2f2f2
    & .v-list-item--active
      background-color: #f2f2f2
    & .v-list-item
      color: inherit!important
      caret-color: inherit!important
      &:hover
        background: #f2f2f2
    & .v-list-item::after
      opacity: 0
    & .v-select
      max-width: 178px
      margin-right: 12px!important
      @media (min-width: $tb)
        max-width: 206px
    & .filters__filter-btn
      padding-left: 15px
      padding-right: 15px
      &:hover
        & .filter-icon
          background-image: url(~@/assets/svg/filters-icon-white.svg)
    & .filter-icon
      width: 16px
      height: 16px
      background-image: url(~@/assets/svg/filters-icon.svg)
      background-repeat: no-repeat
      margin-right: 6px
      transition: all .3s
  &__desktop-filter
    display: none
    @media (min-width: $lp)
      display: block
      position: sticky
      max-height: 810px
      top: 30px
      z-index: 3
  &__main-section
    margin-top: 46px
    @media (min-width: $tb)
      margin-top: 65px
    @media (min-width: $lp)
      margin-top: 66px
    & .m-container
      @media (min-width: $tb)
        display: flex
        justify-content: space-between
  &__desktop-filter-directions
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 43px
    & .v-btn
      margin-bottom: 14px
      &:last-child
        margin-bottom: 0
    & .v-btn--active
      color: #fff!important
      background: var(--sale-primary)
    & .v-btn--rounded
      transition-property: box-shadow, transform, opacity, background, background-color, color, border-color !important
      border-width: 1px
      border-style: solid
  &__content
    width: 100%
    @media (min-width: $lp)
      width: 866px
  &__content-section-header
    display: flex
    justify-content: space-between
    align-items: baseline
    margin-bottom: 20px
    @media (min-width: $tb)
      margin-bottom: 36px
    @media (min-width: $lp)
      margin-bottom: 23px
  &__content-section-title
    color: var(--sale-main-text-color)
    font-weight: 600
    font-size: 24px
    line-height: 120%
    @media (min-width: $tb)
      font-weight: 700
      font-size: 32px
      line-height: 120%
    @media (min-width: $lp)
      font-size: 52px
  &__content-section-count
    color: var(--sale-main-text-color)
    font-size: 20px
    line-height: 20px
  &__content-section-items
    margin-bottom: 47px
    @media (min-width: $tb)
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 30px
    @media (min-width: $lp)
      margin-bottom: 40px
  &__show-more-section
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 40px
    @media (min-width: $tb)
      margin-top: -6px
    @media (min-width: $lp)
      margin-top: -12px
  &__show-more-btn
    color: #D36133!important
    text-transform: uppercase!important
    width: 100%
    font-size: 14px!important
    line-height: 18px!important
    letter-spacing: 0.03em!important
    font-weight: normal
    height: 50px!important
    border-radius: 30px!important
    @media (min-width: $tb)
      height: 60px!important
      width: 338px!important
    @media (min-width: $lp)
      font-weight: 500!important
      line-height: 16px!important
      width: 274px!important
  &-content-section-item
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
    border-radius: 8px
    overflow: hidden
    position: relative
    margin-bottom: 20px
    @media (min-width: $tb)
      width: 338px
      margin-bottom: 28px
    @media (min-width: $md)
      width: 456px
      margin-bottom: 32px
    @media (min-width: $lp)
      width: 423px
      margin-bottom: 20px
    &:after
      content: ''
      position: absolute
      width: 189px
      height: 189px
      background: var(--product-color)
      border-radius: 50%
      right: -94px
      top: -44px
      overflow: hidden
      z-index: 1
      @media (min-width: $tb)
        width: 210px
        height: 210px
        top: -51px
        right: -85px
      @media (min-width: $lp)
        right: -83px
        top: -70px
    &__link
      height: 100%
      display: flex
      flex-direction: column
      padding: 16px 10px 0 10px
      @media (min-width: $tb)
        padding: 16px 14px 0 14px
      @media (min-width: $lp)
        padding: 16px 20px 17px 20px
    &__main
      flex: 1
      display: flex
      flex-direction: column
      width: 177px
      position: relative
      @media (min-width: 400px) and (max-width: 767px)
        width: auto
        max-width: 240px
      @media (min-width: $tb)
        width: 166px
      @media (min-width: $md)
        width: 280px
      @media (min-width: $lp)
        width: 246px
    &__months
      font-size: 14px
      line-height: 18px
      color: #000000
      height: 28px
      display: flex
      align-items: center
      width: 260px
      z-index: 3
      @media (min-width: 400px) and (max-width: 767px)
        width: 340px
      @media (min-width: $tb)
        font-size: 16px
        line-height: 21px
        width: 310px
      @media (min-width: $md)
        width: 428px
      @media (min-width: $lp)
        width: 383px
    &__gift-badge
      text-transform: uppercase
      color: var(--sale-accent-antagonist)
      font-weight: 600
      font-size: 12px
      line-height: 17px
      background: var(--sale-accent)
      border-radius: 2px
      padding: 4px 6px
      margin-left: 5px
      @media (min-width: $md)
        margin-left: 13px
    &__title
      flex: 1
      font-weight: 600
      font-size: 18px
      line-height: 130%
      color: #101010
      margin-top: 8px
      z-index: 3
      cursor: pointer
      @media (min-width: $tb)
        font-size: 20px
      @media (min-width: $lp)
        font-size: 24px
        line-height: 30px
    &__price
      font-size: 14px
      line-height: 18px
      color: #000000
      display: flex
      align-items: center
      margin-top: 31px
      @media (min-width: $tb)
        font-size: 16px
        line-height: 21px
      @media (min-width: $lp)
        margin-top: 20px
      & span
        text-decoration: line-through
    &__price-discount
      font-weight: 500
      font-size: 18px
      line-height: 24px
      background: var(--sale-secondary)!important
      border-radius: 4px
      padding: 0 6px
      color: var(--sale-secondary-antagonist)!important
      margin-left: 9px
    &__price-additional
      font-size: 14px
      line-height: 18px
      color: #000000
      margin-top: 30px
      @media (min-width: $tb)
        font-size: 16px
        line-height: 21px
      @media (min-width: $lp)
        margin-top: 38px
      & span
        font-weight: 800
        font-size: 17px
        @media (min-width: $tb)
          font-size: 21px
        @media (min-width: $lp)
          font-size: 24px
    &__img
      position: absolute
      right: -4px
      top: 2px
      width: 123px
      z-index: 2
      overflow: hidden
      @media (min-width: $tb)
        height: 162px
        width: 162px
    &__footer
      margin-top: 23px
      display: flex
      flex-direction: column
      @media (min-width: $lp)
        border-top: 1px solid #E0E0E0
        padding-top: 18px
        flex-direction: row-reverse
        justify-content: space-between
        margin-top: 18px
      & .v-btn
        height: 48px!important
        font-size: 16px!important
        line-height: 24px
        @media (min-width: $lp)
          width: 225px
      &-detail
        cursor: pointer
        color: var(--sale-secondary)
        height: 48px
        font-size: 16px
        line-height: 28px
        display: flex
        align-items: center
        justify-content: center
        transition: opacity .3s
        &:hover
          opacity: .7

  &__reviews-section
    margin-top: 55px
    @media (min-width: $tb)
      margin-top: 24px
    @media (min-width: $md)
      margin-top: -7px
    @media (min-width: $lp)
      margin-top: 45px
  &__form-section
    background: #EDE2F8
    & .m-container
      padding-top: 40px
      padding-bottom: 40px
      @media (min-width: $tb)
        max-width: 562px
        padding-top: 48px
        padding-bottom: 48px
      @media (min-width: $md)
        max-width: 668px
        padding-top: 80px
        padding-bottom: 80px
    & .h2
      margin-top: 0
      margin-bottom: 20px
      line-height: 31px
      @media (min-width: $tb)
        line-height: 62px
        margin-bottom: 12px
      @media (min-width: $md)
        margin-bottom: 24px
    & .sale__form-title
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
    & .sale__form-description
      text-align: center
      font-size: 16px
      line-height: 24px
      color: #101010
      padding-bottom: 20px
      @media (min-width: $tb)
        font-size: 18px
        line-height: 24px
        padding-bottom: 32px
      @media (min-width: $md)
        font-size: 24px
        line-height: 32px
        padding-bottom: 40px
    & .sale__form-privacy-policy
      font-size: 14px
      line-height: 18px
      color: #535353
      margin-bottom: 32px
      text-align: center
      @media (min-width: $tb)
        margin-bottom: 38px
      & a
        text-decoration: none
        color: #535353
        border-bottom: 1px solid #535353
        line-height: 19px
    & .checkbox
      margin-bottom: 32px
      @media (min-width: $tb)
        margin-bottom: 38px
      &__label
        font-size: 14px
        line-height: 18px
        color: #535353
        & a
          text-decoration: none
          color: #535353
          border-bottom: 1px solid #535353
          line-height: 19px
    & .v-btn
      width: 100%
      @media (min-width: $tb)
        width: 366px
    & .sale__form-btn
      @media (min-width: $tb)
        display: flex
        justify-content: center
        align-items: center
    & .sale__form-name-phone
      @media (min-width: $tb)
        display: flex
        justify-content: space-between
      &__name
        @media (min-width: $tb)
          width: 244px
          max-width: 244px
      &__phone
        @media (min-width: $tb)
          margin-left: 20px
          width: 300px
          max-width: 300px
    & .sale__form-controls
      margin: 0 auto
      @media (min-width: $md)
        max-width: 564px
  .v-application .secondary--text
    color: var(--sale-primary)!important
    caret-color: var(--sale-primary)!important
  .v-application .v-btn--outlined.secondary--text
    &:hover
      color: var(--sale-primary-antagonist)!important
      background: var(--sale-primary)!important
  .v-text-field.v-input--is-focused .v-input__slot
    border-color: var(--sale-primary)
  .btn_outline.btn_color-secondary
    border-color: var(--sale-primary)
    color: var(--sale-primary)
  .btn_outline.btn_color-secondary:active, .btn_outline.btn_color-secondary:hover
    background: var(--sale-primary)
    color: var(--sale-primary-antagonist)
  .main-search-form__input:focus, .main-search-form__input:active
    border-color: var(--sale-primary)

.sale-filter-dialog
  border-radius: 0!important
  & .v-sheet.v-card
    border-radius: 0!important
  & .m-container
    position: relative
    max-width: 704px!important
  &__title
    font-size: 20px
    line-height: 26px
    font-weight: 600
    color: #000000
    text-transform: uppercase
    padding-top: 24px
    padding-bottom: 20px
    @media (min-width: $tb)
      font-size: 32px
      line-height: 32px
      padding-top: 32px
      padding-bottom: 40px
  &__apply-filter
    margin-top: 136px
    border-radius: 40px!important
  & .close-dialog
    background-image: url("../../../landing_generator/assets/svg/close-icon.svg")
    top: 12px
    right: 0
    width: 50px
    height: 50px
    @media (min-width: $tb)
      top: 8px
.v-dialog
  border-radius: 0!important
.basket-dialog
  width: 768px
.detail-product-dialog
  max-width: 762px
  overflow: hidden
  height: 100%
  @media (min-width: $tb)
    max-height: 94%!important
.sale-success-dialog
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  &__img
    padding-top: 32px
    padding-bottom: 24px
    line-height: 0
    & svg
      max-width: 80px
      max-height: 80px
  &__title
    margin-top: 0
    margin-bottom: 12px
    color: #333333
    font-size: 20px
    line-height: 26px
  &__description
    max-width: 240px
    font-size: 16px
    line-height: 24px
    color: #333333
    margin: 0 auto
  &__btn
    margin-top: 24px
    margin-bottom: 20px
    width: 280px
    & .v-btn__content
      font-size: 18px
      line-height: 24px
  & .close-dialog
    background-image: url("~@/assets/svg/close-dialog.svg")
    top: 11px
    right: 11px
    width: 16px
    height: 16px
  &_big
    & .success-dialog__img
      padding-top: 52px
      padding-bottom: 32px
      & svg
        max-width: 104px
        max-height: 104px
    & .success-dialog__title
      font-size: 32px
      line-height: 38px
      margin-bottom: 16px
    & .success-dialog__description
      max-width: 410px
      font-size: 24px
      line-height: 32px
    & .success-dialog__btn
      margin-top: 40px
      margin-bottom: 52px
      width: 258px
      & .v-btn__content
        font-size: 14px
        line-height: 18px
    & .close-dialog
      background-image: url("~@/assets/svg/close-dialog-desktop.svg")
      right: 14px
      top: 14px
      width: 32px
      height: 32px

.sale-additional-filter__course-type
  & .radio-label
    color: var(--sale-primary)!important
  & .radio-input:checked + .radio-label::before
    background-color: var(--sale-primary)!important
    border-color: var(--sale-primary)!important
  & .radio-label::before
    border-color: var(--sale-primary)!important
.sale-additional-filter-range__wrap, .sale-additional-filter-range__text
  color: var(--sale-primary)!important
.sale-additional-filter-duration .vue-slider-process, .sale-additional-filter-duration .vue-slider-dot:after
  background-color: var(--sale-primary)!important
.sale-additional-filter-duration .vue-slider-dot
  border-color: var(--sale-primary)!important
.v-application .sale-content-section-item__footer .secondary.v-btn.v-btn--rounded
  &:hover, &:active
    background: var(--sale-secondary-active)!important
.v-application .sale__desktop-filter-directions .secondary.v-btn.v-btn--rounded
  &:hover, &:active
    background: var(--sale-primary-active)!important
    border-color: var(--sale-primary-active)!important
.v-application .sale__desktop-filter-directions .secondary
  background: var(--sale-primary)!important
  border-color: var(--sale-primary)!important
</style>
