<template>
  <v-app
    :style="theme"
    class="thank-you-page-wrapper"
  >
    <main>
      <div class="thank-you-page">
        <div class="m-container">
          <div class="content">
            <div class="title">{{ $t('sale.thx.thx') }}</div>
            <div class="description">
              {{ $t('sale.thx.description.part1') }}<br><br>

              {{ $t('sale.thx.description.part2') }}<br><br>

              {{ $t('sale.thx.description.part3') }}  {{ getEndDatePart1 }} {{ $t('sale.thx.description.part4') }} {{ getEndDatePart2 }}!
            </div>
            <div class="btn-wrapper">
              <v-btn
                v-if="!paymentLink"
                rounded
                large
                depressed
                :ripple="false"
                loading
                class="loading-btn"
              >
                <template v-slot:loader>
                  <span class="loader">
                    <v-progress-circular
                      :size="25"
                      indeterminate
                      :value="60"
                    ></v-progress-circular>
                  </span>
                  <span>{{ $t('sale.thx.loading') }}</span>
                </template>
              </v-btn>
              <v-btn
                v-else
                color="primary"
                rounded
                depressed
                large
                :ripple="false"
                class="success-btn"
                @click="openPaymentLink"
              >
                {{ $t('sale.thx.endEnrollment') }}
              </v-btn>
            </div>
          </div>
        </div>
        <div class="mobile-img">
          <img
            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.thxMobileImgFile"
            decoding="async"
            :src="$store.state.thankYouSale.sale.thxMobileImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/thx_mobile@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/thx_mobile@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/thx_mobile@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/thx_mobile@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/thx_mobile@2x.png`)} 2x`"-->
<!--          />-->
        </div>
        <div class="desktop-img">
          <img
            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.thxDesktopImgFile"
            decoding="async"
            :src="$store.state.thankYouSale.sale.thxDesktopImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/thx_desktop@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/thx_desktop@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/thx_desktop@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/thx_desktop@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/thx_desktop@2x.png`)} 2x`"-->
<!--          />-->
        </div>
        <div class="desktop-img-big">
          <img
            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.thxDesktopBigImgFile"
            decoding="async"
            :src="$store.state.thankYouSale.sale.thxDesktopBigImgFile.url"
          />
<!--          <img-->
<!--            v-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'desconto-de-primavera'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/eternal/thx_desktop-big@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-if="$store.state.thankYouSale.sale && $store.state.thankYouSale.sale.slug === 'ebac-friday'"-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/11.11.2021/thx_desktop-big@1x.png')"-->
<!--          />-->
<!--          <img-->
<!--            v-else-->
<!--            decoding="async"-->
<!--            :src="require('~/assets/images/sale/03.11.2021/thx_desktop-big@1x.png')"-->
<!--            :srcset="`${require(`~/assets/images/sale/03.11.2021/thx_desktop-big@1x.png`)}, ${require(`~/assets/images/sale/03.11.2021/thx_desktop-big@2x.png`)} 2x`"-->
<!--          />-->
        </div>
      </div>
    </main>
  </v-app>
</template>

<script>
import getTheme from './themes'
import { getEternalEndDate } from './utils'

export default {
  name: 'ThankYouPage',
  meta: {
    show: ['br', 'mx'],
  },
  middleware: ['setThankYouSale'],
  head() {
    return {
      title: 'Thank you!',
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Thank you!',
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
      ],
    }
  },
  data() {
    return {
      paymentLink: null,
      getPaymentLinkCounter: 0,

      theme: {}, // переменные цветовой темы
      themeName: 'default',
      endDate: null,

      eternalEndDate: getEternalEndDate(),
    }
  },
  computed: {
    getEndDatePart1() {
      const endDate = this.endDate;
      const eternalEndDate = this.eternalEndDate;

      const isEternalSale = ['desconto-de-primavera', 'ano-novo'].includes(this.$store.state?.thankYouSale?.sale?.slug) || this.$store.state?.thankYouSale?.sale?.modes.eternalCounter;
      if (!endDate && !isEternalSale) return '';

      return this.$dayjs(isEternalSale ? eternalEndDate : endDate).format('DD/MM');
    },
    getEndDatePart2() {
      const endDate = this.endDate;
      const eternalEndDate = this.eternalEndDate;

      const isEternalSale = ['desconto-de-primavera', 'ano-novo'].includes(this.$store.state?.thankYouSale?.sale?.slug) || this.$store.state?.thankYouSale?.sale?.modes.eternalCounter;
      if (!endDate && !isEternalSale) return '';

      return this.$dayjs(isEternalSale ? eternalEndDate : endDate).format('LT');
    },
  },
  async created() {
    if (process.browser) {
      if (this.$route.query.context) {
        this.$gtm.push({ client_order_id: this.$route.query.context });
      }
    }

    this.themeName = this.$store.state?.thankYouSale?.sale?.theme || this.themeName;
    this.theme = getTheme({ themeName: this.themeName });

    if (this.$store.state?.thankYouSale?.sale?.themeColor) {
      this.theme['--sale-secondary'] = `#${this.$store.state.thankYouSale.sale.themeColor}`;
    }

    if (this.$store.state?.thankYouSale?.sale?.themeColorActive) {
      this.theme['--sale-secondary-active'] = `#${this.$store.state.thankYouSale.sale.themeColorActive}`;
    }

    if (this.$store.state?.thankYouSale?.sale?.firstSectionTextColor) {
      this.theme['--sale-h1-text-color'] = `#${this.$store.state.thankYouSale.sale.firstSectionTextColor}`;
      this.theme['--sale-secondary-text-color'] = `#${this.$store.state.thankYouSale.sale.firstSectionTextColor}`;
    }

    if (this.$store.state?.thankYouSale?.sale?.firstSectionBackgroundColor) {
      this.theme['--sale-first-section-background'] = this.$store.state.thankYouSale.sale.firstSectionBackgroundColor;
    }

    this.endDate = this.$store.state?.thankYouSale?.sale?.endDate;
  },
  async mounted() {
    await this.getPaymentLink();
  },
  beforeDestroy() {
    this.$store.commit('thankYouSale/setSale', null);
  },
  methods: {
    async getPaymentLink() {
      this.getPaymentLinkCounter++;

      if (this.getPaymentLinkCounter > 10) return;

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.getPaymentLink,
          data: {
            context: this.$route.query.context,
          }
        });

        if (!response.data || (response.data.status !== 'ok') || !response.data.payment_link) {
          setTimeout(async () => {
            await this.getPaymentLink();
          }, 2000);
        } else {
          if (window?.dataLayer) {
            window.dataLayer.push({
              event: 'Order',
              source_id: response.data.source_id,
              client_order_id: this.$route.query.context,
              price: response.data.price || 0,
              promocode: response.data.promocode,
              promocode_discount: response.data.promocode_discount,
              total_price: response.data.total_price || 0,
              course_name: response.data.nomenclature_name,
              product_name: response.data.product_name,
              user_email: response.data.user_email,
              user_phone: response.data.user_phone,
              page_url: response.data.page_url,
            });
          }

          this.paymentLink = response.data.payment_link;
        }
      } catch (e) {
        console.error(e);

        setTimeout(async () => {
          await this.getPaymentLink();
        }, 2000);
      }
    },
    openPaymentLink() {
      this.$gtm.push({ 'event': 'ClickOnPay', 'eventCategory': 'click', 'eventAction': 'thankyoupage', 'eventLabel': 'paymentlink' });
      window.location = this.paymentLink;
    },
  },
}
</script>

<style
  lang="sass"
  scoped
>
.thank-you-page-wrapper::v-deep .v-application--wrap
  min-height: 100% !important
.loader
  margin-right: 8px
.thank-you-page
  position: relative
  min-height: 100%
  overflow: hidden
  background: var(--sale-first-section-background)
  @media (min-width: $tb)
    background: var(--sale-first-section-background)
  & .m-container
    z-index: 1
    position: relative
    display: flex
    flex-direction: column
    @media (min-width: $tb)
      min-height: 536px
    @media (min-width: $md)
      min-height: 649px
  & .title
    font-size: 32px!important
    line-height: 120%
    font-weight: 800
    color: var(--sale-h1-text-color)
    font-family: "Futura PT", sans-serif !important
    @media (min-width: $tb)
      font-size: 52px!important
  & .description
    font-size: 14px!important
    color: var(--sale-secondary-text-color)
    line-height: 130%
    font-weight: 400
    margin-top: 20px
    @media (min-width: $tb)
      margin-top: 34px
      font-size: 16px!important
    @media (min-width: $lp)
      font-size: 18px!important
  & .btn-wrapper
    margin-top: 30px
    margin-bottom: 30px
    @media (min-width: $md)
      margin-top: 40px
  & .loading-btn
    height: 45px!important
    font-weight: bold
    color: #000000
    width: 100%
    background: #EDE2F8
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
    border-radius: 8px
    font-size: 14px!important
  & .success-btn
    height: 60px!important
    width: 100%
    font-weight: 500
    font-size: 14px!important
    line-height: 16px
    letter-spacing: 0.03em
    text-transform: uppercase
  & .content
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: center
    margin-top: 17px
    margin-bottom: 170px
    @media (min-width: $tb)
      margin-top: auto
      margin-bottom: auto
      width: 399px
    @media (min-width: $md)
      width: 400px
      justify-content: center
      margin-bottom: 17px
    @media (min-width: $lp)
      width: 460px

.mobile-img
  display: flex
  position: absolute
  right: 0
  bottom: 0
  left: 0
  justify-content: center
  align-items: center
  @media (min-width: $tb)
    display: none
  //& img
  //  height: 224px
.desktop-img
  display: none
  position: absolute
  right: 0
  bottom: 0
  left: 0
  top: 0
  justify-content: center
  align-items: center
  @media (min-width: $tb)
    display: flex
  @media (min-width: $md)
    display: none
  & img
    height: 536px
    width: 1279px
.desktop-img-big
  display: none
  position: absolute
  right: 0
  bottom: 0
  left: 0
  top: 0
  justify-content: center
  align-items: center
  @media (min-width: $md)
    display: flex
  //& img
    //height: 536px
    //width: 1279px
</style>
