<template>
  <div class="about-ebac-block">
    <div class="m-container">
      <div class="main-info-description-block">
        <div class="main-info-logo">
          <img src="~/assets/svg/ebac-logo.svg" alt="Logo EBAC" width="221" height="80">
        </div>
        <p class="main-info-description">A Escola Britânica de Artes Criativas e Tecnologia (EBAC) é uma instituição inovadora de ensino superior em Artes Criativas e Tecnologia que oferece cursos online, além de programas presenciais e híbridos de graduação, especialização e iniciação.</p>
      </div>
      <div class="main-info-facts">
        <div class="main-info-facts__fact main-info-facts__fact-one">
          <div class="main-info-facts__title">
            06
          </div>
          <div class="main-info-facts__description">
            graduações internacionais validadas pela Universidade de Hertfordshire (UK)
          </div>
        </div>
        <div class="main-info-facts__fact main-info-facts__fact-two">
          <div class="main-info-facts__title">
            +50000
          </div>
          <div class="main-info-facts__description">
            alunos estudando com nossos cursos online
          </div>
        </div>
        <div class="main-info-facts__fact main-info-facts__fact-three">
          <div class="main-info-facts__title">
            100%
          </div>
          <div class="main-info-facts__description">
            dos professores e coordenadores são profissionais atuantes no mercado
          </div>
        </div>
        <div class="main-info-facts__fact main-info-facts__fact-four">
          <div class="main-info-facts__title">
            +40
          </div>
          <div class="main-info-facts__description">
            empresas parceiras colaboram no desenvolvimento dos cursos, projetos reais e programas de estágio
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutEBACBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .about-ebac-block
    & .m-container
      padding-top: 40px
      @media (min-width: $tb)
        padding-top: 82px
        display: flex
      @media (min-width: $md)
        padding-top: 61px
      & .main-info-description-block
        margin-bottom: 20px
        @media (min-width: $tb)
          margin-bottom: 0
          max-width: 276px
        @media (min-width: $md)
          max-width: 375px
        @media (min-width: $lp)
          max-width: 461px
      & .main-info-logo
        margin-bottom: 23px
        line-height: 0
        @media (min-width: $tb)
          margin-bottom: 32px
        @media (min-width: $md)
          margin-bottom: 40px
        & img
          @media (min-width: $tb)
            width: 276px
            height: 100px
          @media (min-width: $md)
            width: 337px
            height: 122px
      & .main-info-description
        font-size: 16px
        line-height: 24px
        color: #101010
        @media (min-width: $tb)
          font-size: 18px
          line-height: 24px
        @media (min-width: $md)
          font-size: 24px
          line-height: 32px
      & .main-info-facts
        @media (min-width: $tb)
          display: flex
          flex-wrap: wrap
          justify-content: flex-end
        &__title
          margin-bottom: 16px
          font-weight: 600
          font-size: 40px
          line-height: 40px
          text-transform: uppercase
          color: #333333
          @media (min-width: $tb)
            font-size: 32px
            flex: 1 auto
          @media (min-width: $md)
            font-size: 48px
            line-height: 52px
            letter-spacing: -0.02em
          @media (min-width: $lp)
            font-size: 58px
            line-height: 64px
        &__description
          color: #101010
          font-size: 16px
          line-height: 24px
          @media (min-width: $tb)
            font-size: 12px
            line-height: 18px
          @media (min-width: $md)
            font-size: 18px
            line-height: 24px
        &__fact
          box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
          border-radius: 8px
          margin-bottom: 20px
          padding: 20px
          @media (min-width: $tb)
            max-width: 155px
            height: 187px
            margin-bottom: 28px
            padding: 16px
            display: flex
            flex-direction: column
          @media (min-width: $md)
            max-width: 212px
            height: 267px
            margin-bottom: 32px
            padding: 24px
          @media (min-width: $lp)
            max-width:  266px
            height: 312px
            padding: 32px
          &:last-child
            margin-bottom: 0
          &:nth-child(n+3)
            @media (min-width: $tb)
              margin-bottom: 0
          &:nth-child(2n)
            @media (min-width: $tb)
              margin-left: 28px
            @media (min-width: $md)
              margin-left: 32px
        &__fact-one
          background: #F2C94C
          @media (min-width: $tb)
            margin-top: 28px
          @media (min-width: $md)
            margin-top: 32px
          @media (min-width: $lp)
            margin-top: 64px
        &__fact-two
          background: #87B9E7
        &__fact-three
          background: #D0F2B1
        &__fact-four
          background: #F29C98
          @media (min-width: $tb)
            margin-top: -28px
          @media (min-width: $md)
            margin-top: -32px
          @media (min-width: $lp)
            margin-top: -64px
</style>
