<template>
  <section class="ambassadors-section">
    <div class="m-container">
      <h2 class="ambassadors-section__title">
        {{ $t('ambassadorsPage.ambassadorsSection.sectionTitle') }}
      </h2>
      <div ref="ambassadorsList" class="ambassadors-section__list-wrapper">
        <div class="ambassadors-section__list">
          <ambassador-card
            v-for="{ avatar, ...ambassador } in ambassadors"
            v-bind="ambassador"
            :key="ambassador.fullName"
            class="ambassadors-section__card"
          >
            <template #avatar>
              <img
                :src="avatar.src"
                :srcset="avatar.srcset"
                :sizes="$options.SIZES"
                :alt="`${ambassador.fullName} avatar`"
              />
            </template>
          </ambassador-card>
        </div>
       <div class="ambassadors-section__dots">
          <div
            v-for="(ambassador, idx) in ambassadors"
            :key="ambassador.fullName"
            class="ambassadors-section__dot-item"
            :class="{
              'ambassadors-section__dot-item--active': idx === curSlide
            }"
            @click="slideTo(idx)"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper';
import { ambassadors } from './-ambassadors-list';

export default {
  name: 'AmbassadorsSection',

  components: {
    AmbassadorCard: () => import('./ambassador-card/-ambassador-card'),
  },

  SIZES: [
    '(max-width: 1023px) 64px',
    '(max-width: 1279px) 276px',
    '350px',
  ].join(', '),

  data: () => ({
    ambassadors,
    swiper: null,
  }),

  computed: {
    curSlide() {
      return this.swiper?.activeIndex;
    },
  },

  mounted() {
    const { ambassadorsList } = this.$refs;
    this.swiper = new Swiper(ambassadorsList, {
      wrapperClass: 'ambassadors-section__list',
      slideClass: 'ambassadors-section__card',
      spaceBetween: 0,
      slidesPerView: 'auto',
      breakpoints: {
        768: {
          allowTouchMove: false,
        }
      },
    });
  },

  beforeDestroy() {
    this.swiper.destroy();
  },

  methods: {
    slideTo(idx) {
      this.swiper.slideTo(idx);
    }
  },
};
</script>

<style lang="sass" scoped>
@import "style/mixins/variables"

.ambassadors-section
  padding-top: 40px
  padding-bottom: 61px
  color: #101010

  @media (min-width: $tb)
    padding-top: 60px
    padding-bottom: 100px

  @media (min-width: $md)
    padding-bottom: 120px

  background-color: #F5F5F5

  &__title
    font-size: 24px
    line-height: 33.77px
    font-weight: 700
    color: #000000

    @media (min-width: $tb)
      font-size: 48px
      line-height: 56px

  $list-x-padding: 20px
  &__list
    &-wrapper
      margin: 20px -20px 0

      @media (max-width: $tb - 1px)
        overflow-x: hidden

      @media (max-width: $md - 1px)
        padding: 0 $list-x-padding

      @media(min-width: $md)
        margin: 40px 0 0

    @media (max-width: $md - 1px)
      display: flex


  &__card
    flex: 1
    $cards-gap: 15px
    $second-card-visible-area: 40px
    @media (max-width: $tb - 1px)
      flex: 0 0 calc(100vw - #{$list-x-padding + $cards-gap + $second-card-visible-area})

    & + &
      @media (max-width: $md - 1px)
        margin-left: $cards-gap

      @media (min-width: $md)
        margin-top: 60px

  &__dots
    margin-top: 30px
    display: flex

    justify-content: center

    @media (min-width: $tb)
      display: none

  &__dot-item
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #F1C8B8

    &--active
      background-color: #D05220

    & + &
      margin-left: 7px
</style>
