<template>
  <section class="benefits-section">
    <div class="m-container">
      <h2 class="benefits-section__title">
        O que nossos embaixadores fazem hoje pelo futuro dos nossos alunos?
      </h2>
      <div class="benefits-section__content">
        <benefits-list-item v-for="benefit in benefits" :key="benefit.title">
          <template #title>{{ benefit.title }}</template>
          <template #description>{{ benefit.description }}</template>
        </benefits-list-item>
      </div>
    </div>
  </section>
</template>

<script>
const benefits = [
  {
    title: 'Orientam carreiras',
    description:
      'A partir de suas experiências, compartilham possibilidades, histórias e decisões inspiradoras com quem ainda está aprendendo.',
  },
  {
    title: 'Compartilham perspectivas',
    description:
      'Ligados ao que há de mais novo no mercado, trazem à tona perspectivas privilegiadas e as melhores tendências',
  },
];

export default {
  name: 'BenefitsSection',

  components: {
    Benefits: () => import('@/components/template/benefits'),
    BenefitsListItem: () => import('@/components/template/benefits/listItem'),
  },

  data: () => ({ benefits }),
};
</script>

<style lang="sass">
@import 'style/mixins/variables'

.benefits-section
  padding-top: 40px
  padding-bottom: 33px

  @media (min-width: $tb)
    padding-top: 60px
    padding-bottom: 80px

  &__title
    font-size: 20px
    line-height: 26px
    color: $black

    @media (min-width: $tb)
      font-size: 32px
      line-height: 41px
      width: 586px

    @media (min-width: $md)
      width: 662px

  &__content
    & .list-item::before
      background-image: url('~@/assets/svg/template/list-hexagon-orange.svg') !important

    &__title
      line-height: 28px

    @media (min-width: $tb)
      display: flex
      justify-content: space-between

    .list-item
      &__title
        line-height: 28px !important

      @media (min-width: $tb)
        flex: 1

        &__title
          font-size: 24px !important
</style>
