<template>
  <section class="hero-section">
    <div class="m-container hero-section__container">
      <div class="hero-section__content">
        <h1 class="hero-section__title">Embaixadores EBAC</h1>
        <div class="hero-section__description">
          <p>
            Uma comunidade exclusiva para os maiores líderes em criatividade e
            tecnologia do país.
          </p>
          <p>
            Nossos membros são executivos e empreendedores selecionados e convidado
            por realizações profissionais de alto nível em suas áreas de atuação.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FirstBlock from '@/components/template/firstBlock';

export default {
  name: 'HeroSection',
  components: { FirstBlock },
};
</script>

<style lang="sass">
@import 'style/mixins/variables'

.hero-section
  padding-bottom: 80px
  height: 441px
  padding-top: 40px

  @media (min-width: $tb)
    padding-top: 80px
    height: 455px

  color: #000000
  background-color: #F5F5F5 !important

  position: relative
  z-index: 1

  &::before,
  &::after
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0

  &::before
    background: url("~@/assets/images/ambassadors/bg/frame@mobile.png") no-repeat right bottom, url("~@/assets/images/ambassadors/bg/ellipse@mobile.png") no-repeat right top -64px
    z-index: -1

    @media (min-width: $tb)
      background: url("~@/assets/images/ambassadors/bg/frame@tablet.png") no-repeat right 81px bottom, url("~@/assets/images/ambassadors/bg/ellipse@tablet.png") no-repeat right 43px top -76px

    @media (min-width: $md)
      background: url("~@/assets/images/ambassadors/bg/frame@desktop.png") no-repeat right 89px bottom, url("~@/assets/images/ambassadors/bg/ellipse@desktop.png") no-repeat right 26px top -76px

    @media (min-width: $lp)
      background: url("~@/assets/images/ambassadors/bg/frame@desktop.png") no-repeat right 109px bottom, url("~@/assets/images/ambassadors/bg/ellipse@desktop.png") no-repeat right 46px top -76px

    @media (min-width: $xl)
      background: url("~@/assets/images/ambassadors/bg/frame@desktop.png") no-repeat right 269px bottom, url("~@/assets/images/ambassadors/bg/ellipse@desktop.png") no-repeat right 207px top -76px

  &::after
    background: url("~@/assets/images/ambassadors/bg/dots@mobile.png") no-repeat right 20px bottom 1px
    transform: translateY(29px)

    @media (min-width: $md)
      background: url("~@/assets/images/ambassadors/bg/dots@desktop.png") no-repeat right 40px bottom 3px
      transform: translateY(47px)

    @media (min-width: $lp)
      background: url("~@/assets/images/ambassadors/bg/dots@desktop.png") no-repeat right 60px bottom 3px

    @media (min-width: $xl)
      background: url("~@/assets/images/ambassadors/bg/dots@desktop.png") no-repeat right 220px bottom 3px


  &__container
    position: relative
    z-index: 2

  &__content
    width: 280px

    @media (min-width: $tb)
      width: 533px

    @media (min-width: $lp)
      width: 637px

  &__title
    margin-top: 0
    margin-bottom: 31px
    font-size: 32px
    line-height: 38px
    font-weight: bold

    @media (min-width: $tb)
      margin-bottom: 47px
      font-size: 52px
      line-height: 73px

  &__description
    font-size: 18px
    line-height: 24px

    p + p
      margin-top: 30px

    @media (min-width: $tb)
      font-size: 24px
      line-height: 32px

      p + p
        margin-top: 40px
</style>
