<template>
  <div>
    <v-dialog v-model="display" :max-width="560" @click:outside="closeForm" :eager="true">
      <div class="sale-register-form" :style="color">
        <div class="sale-register-form-close" @click="closeForm">
          <img src="../../assets/svg/close-dialog-desktop.svg" />
        </div>
        <ValidationObserver v-slot="{ handleSubmit }" ref="form">
          <h3 class="sale-register-form-header">
            {{ $t('webinarSale.dialog.title') }}
          </h3>
          <form @submit.prevent="handleSubmit(onSubmit)">
            <ValidationProvider
              mode="custom"
              name="name"
              rules="required"
              v-slot="{ errors }"
            >
              <v-text-field
                class="register-form-name-phone__name"
                v-model="name"
                :label="$t('webinarSale.dialog.field.name.label')"
                solo
                :error-messages="errors.length ? $t('webinarSale.dialog.field.name.error') : ''"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              mode="custom"
              name="email"
              rules="required|email"
              v-slot="{ errors }"
            >
              <hint-email
                v-model="email"
                label="mail@example.com"
                :error-messages="errors.length ? $t('webinarSale.dialog.field.email.error') : ''"
                :nextComponent="$refs.phone"
              />
            </ValidationProvider>
            <phone
              class="sale-register-form-phone"
              name="phone"
              v-model="phone"
              ref="phone"
            />
            <privacy-policy v-model="acceptedRules" black-checkbox />
            <div class="sale-register-form-btn">
              <v-btn
                color="primary"
                rounded
                depressed
                x-large
                :ripple="false"
                type="submit"
                :loading="loading.form"
              >
                {{ $t('webinarSale.dialog.sendButton') }}
              </v-btn>
            </div>
            <input
              type="hidden"
              name="source_id"
              tabindex="-1"
              :value="sourceId"
            />
            <input
              type="hidden"
              name="schedule_code"
              tabindex="-1"
              :value="slug"
            />
            <input
              type="hidden"
              name="schedule_id"
              tabindex="-1"
              :value="scheduleId"
            />
            <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
          </form>
        </ValidationObserver>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import urlencodeFormData from "../../utils/urlencodeFormData";
import addAnyFormFields from "../../utils/addAnyFormFields";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import HintEmail from "../common/hintEmail.vue";
import Phone from "../common/phone.vue";
import checkbox from '../common/checkbox'
import privacyPolicy from '../common/privacyPolicy.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    HintEmail,
    Phone,
    checkbox,
    privacyPolicy,
  },
  data() {
    return {
      loading: {
        form: false,
      },
      name: "",
      phone: "",
      email: "",
      acceptedRules: true,
    };
  },
  props: [
    'slug',
    'sourceId',
    'scheduleId',
    'color',
  ],
  computed: {
    display() {
      return this.$store.state.webinarSale.dialog
    }
  },
  methods: {
    async onSubmit() {
      if (this.loading.form) return;

      this.name = this.name.trim();
      this.phone = this.phone.trim();

      this.loading.form = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loading.form = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector("form"));
      formData.append("name", this.name);
      formData.append('phone', this.phone);
      formData.append("email", this.email);
      formData.append("checkbox", this.acceptedRules);

      try {
        const response = await this.$axios({
          method: "post",
          url: this.$app.config.current.leadFormUrl,
          data: urlencodeFormData(formData),
          headers: {
            "Content-Type": `application/x-www-form-urlencoded`,
          },
        });

        this.successDialog = true;

        this.$refs.form.reset();
        this.name = "";
        this.phone = '';
        this.email = "";

        this.$router.push({path: `${this.$route.path}/thankyou`, query: {context: response.data.context}})

      } catch (e) {
        console.error(e);
      }

      this.loading.form = false;
      this.closeForm();
    },
    closeForm() {
      this.$store.commit('webinarSale/setDialog', false)
    },
  },
  async mounted() {
    if (process.browser) {
      await this.$nextTick()
      const addAnyFormFieldsBinded = addAnyFormFields.bind(this)
      setTimeout(async () => await addAnyFormFieldsBinded({ ref: this.$refs.form }), 0);

      if (this.$app?.user?.id) {
        this.name = this.$app.user.name.trim()
        this.email = this.$app.user.email.trim()
        this.phone = this.$app.user.phone || ''
      }
    }
  }
};
</script>

<style lang="sass">
.sale-register-form
  overflow: hidden
  border-radius: 8px
  background-color: #EDE2F8
  margin: auto
  padding: 32px 20px 20px 20px
  position: relative
  @media (min-width: 768px)
    padding: 40px 40px 52px 40px
  &-close
    cursor: pointer
    position: absolute
    top: 14px
    right: 14px
    & img
      @media (max-width: 767px)
        width: 10px
        height: 10px
  &-header
    font-weight: 600
    text-align: center
    color: #333333
    margin-bottom: 32px
    font-size: 20px
    line-height: 26px
    @media (min-width: 768px)
      font-size: 32px
      line-height: 38px
  &-btn
    margin-top: 42px
    display: flex
    justify-content: center
    & button
      width: 280px
      @media (min-width: 768px)
        width: 258px
</style>
