<template>
  <div class="b-sale__discount" :style="backgroundColorStyle">
    <div class="b-sale__discount-title">-{{percent}}%</div>
    <div
      v-if="gift"
      class="b-sale__discount-subtitle"
    >+{{ $n(gift, 'currencyNoCents')}}</div>
    <div class="b-sale__discount-text">{{ $t('webinarSale.badge.title') }}</div>
  </div>
</template>

<script>
export default {
  name: "saleDiscount",
  props: [
    'gift',
    'percent',
  ],
  data() {
    return {
      backgroundColor: '#FFF706',
    }
  },
  computed: {
    backgroundColorStyle() {
      return `background-color: ${this.backgroundColor}`
    }
  }
};
</script>

<style lang="sass">
.b-sale__discount
  width: 120px
  height: 120px
  border-radius: 50%
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (min-width: $tb)
    width: 130px
    height: 130px
  &-title
    font-size: 40px
    font-weight: 700
    line-height: 1
  &-subtitle
    font-size: 17px
    font-weight: 600
    line-height: 1
  &-text
    font-size: 14px
    line-height: 1.4
</style>
