<template>
  <div class="b-sale__timer">
    <div class="b-sale__timer-title">{{ $t('webinarSale.timer.title') }}</div>
    <div class="b-sale__timer__body">
      <div class="b-sale__timer__body__item">
        <div class="b-sale__timer__body__item-number">{{days}}</div>
        <div class="b-sale__timer__body__item-title">{{ $t('webinarSale.timer.days') }}</div>
      </div>
      <div class="b-sale__timer__body-divider">:</div>
      <div class="b-sale__timer__body__item">
        <div class="b-sale__timer__body__item-number">{{hours}}</div>
        <div class="b-sale__timer__body__item-title">{{ $t('webinarSale.timer.hours') }}</div>
      </div>
      <div class="b-sale__timer__body-divider">:</div>
      <div class="b-sale__timer__body__item">
        <div class="b-sale__timer__body__item-number">{{minutes}}</div>
        <div class="b-sale__timer__body__item-title">{{ $t('webinarSale.timer.minutes') }}</div>
      </div>
      <div class="b-sale__timer__body-divider">:</div>
      <div class="b-sale__timer__body__item">
        <div class="b-sale__timer__body__item-number">{{seconds}}</div>
        <div class="b-sale__timer__body__item-title">{{ $t('webinarSale.timer.seconds') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'saleTimer',
  data() {
    return {
      days: '00',
      hours: '00',
      minutes: '00',
      seconds: '00',

      timer: null,
      currentTime: null,
    }
  },
  props: [
    'end'
  ],
  computed: {
    endTime() {
      return this.$dayjs.utc(this.end)
    },
    leftTime() {
      return this.endTime - this.currentTime
    }
  },
  methods: {
    createTimer() {
      this.timer = setInterval(this.tickTimer, 1000)
    },
    destroyTimer() {
      this.timer = clearInterval(this.timer)
    },
    calculateNumbers() {
      const duration = this.$dayjs.duration(this.leftTime - 1000, 'milliseconds');

      this.days = this.formatNumbers(duration.days())
      this.hours = this.formatNumbers(duration.hours())
      this.minutes = this.formatNumbers(duration.minutes())
      this.seconds = this.formatNumbers(duration.seconds())
    },
    formatNumbers(number) {
      if (number < 0) return "00"
      if (number < 10) return `0${number}`
      return number
    },
    tickTimer() {
      this.currentTime = this.$dayjs.utc()
      this.calculateNumbers();
      if (this.leftTime < 0) {
        this.destroyTimer();
        this.$emit('timerEnded', true)
      }
    }
  },
  mounted() {
    this.tickTimer();
    if (process.browser) {
      this.createTimer();
    }
  }
}
</script>

<style lang="sass">
.b-sale__timer
  color: #000
  &-title
    font-size: 28px
    line-height: 38px
    font-weight: 600
  &__body
    margin: 12px 0
    display: flex
    max-width: 290px
    &__item, &-divider
      font-size: 42px
      line-height: 42px
      font-weight: 700
    &__item
      flex: 1
      text-align: center
      &-title
        font-size: 16px
        line-height: 22px
        font-weight: 400
    &-divider
      flex: 0 0 31px
      text-align: center
</style>
