<template>
  <div class="thank-you-page">
    <div class="m-container">
      <div class="logo">
        <NuxtLink to="/">
          <img src="~/assets/svg/ebac-logo-white.svg" alt="logo" width="180" height="67">
        </NuxtLink>
      </div>
      <div class="content">
        <div class="title">{{ $t('thankYouPage.title') }}</div>
        <div class="description">
          {{ $t('thankYouPage.description.part1') }}<br>
          {{ $t('thankYouPage.description.part2') }}<br><br>
          {{ $t('thankYouPage.description.part3') }}<br>
          {{ $t('thankYouPage.description.part4') }}
          <div class="contract">
            <privacy-policy no-checkbox style="width: 360px" />
          </div>
        </div>
        <div class="btn-wrapper">
          <v-btn
            class="ma-2"
            color="primary"
            rounded
            depressed
            large
            :ripple="false"
            :loading="!paymentLink"
            @click="openPaymentLink"
          >
            {{ $t('thankYouPage.btn.label') }}
            <template v-slot:loader>
              <span class="loader">
                <v-progress-circular
                  :size="25"
                  indeterminate
                  :value="60"
                ></v-progress-circular>
              </span>
              <span>{{ $t('thankYouPage.btn.loading') }}</span>
            </template>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PrivacyPolicy from '../../common/privacyPolicy.vue'

export default {
  name: 'ThankYouPage',
  components: {
    PrivacyPolicy
  },
  props: [
    'sourceId',
  ],
  data() {
    return {
      paymentLink: null,
      getPaymentLinkCounter: 0,
    }
  },
  async mounted() {
    await this.getPaymentLink();
  },
  methods: {
    async getPaymentLink() {
      this.getPaymentLinkCounter++;

      if (this.getPaymentLinkCounter > 10) return;

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.getPaymentLink,
          data: {
            context: this.$route.query.context,
            source_id: this.sourceId,
          }
        });

        if (!response.data || (response.data.status !== 'ok') || !response.data.payment_link) {
          setTimeout(async () => {
            await this.getPaymentLink();
          }, 2000);
        } else {
          if (window?.dataLayer) {
            window.dataLayer.push({
              event: 'Order',
              source_id: response.data.source_id,
              client_order_id: this.$route.query.context,
              price: response.data.price || 0,
              promocode: response.data.promocode,
              promocode_discount: response.data.promocode_discount,
              total_price: response.data.total_price || 0,
              course_name: response.data.nomenclature_name,
              product_name: response.data.product_name,
              user_email: response.data.user_email,
              user_phone: response.data.user_phone,
              page_url: response.data.page_url,
            });
          }

          this.paymentLink = response.data.payment_link;
        }
      } catch (e) {
        console.error(e);

        setTimeout(async () => {
          await this.getPaymentLink();
        }, 2000);
      }
    },
    openPaymentLink() {
      this.$gtm.push({ 'event': 'ClickOnPay', 'eventCategory': 'click', 'eventAction': 'thankyoupage', 'eventLabel': 'paymentlink' });
      window.location = this.paymentLink;
    },
  },
}
</script>

<style
  lang="sass"
  scoped
>
  .loader
    margin-right: 8px
  .thank-you-page
    position: relative
    background-image: url(~@/assets/images/thankyou/bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    min-height: 100vh
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-image: linear-gradient(to bottom, rgba(65,65,65,0.9), rgba(0,0,0,0.4))
    & .m-container
      position: relative
      display: flex
      flex-direction: column
      min-height: 100vh
    & .logo
      padding-top: 50px
      padding-bottom: 50px
      @media (min-width: $md)
        padding-top: 55px
        padding-bottom: 55px
    & .title
      font-size: 57px!important
      line-height: 1
      font-weight: 700
      color: #fff
      font-family: "Futura PT", sans-serif !important
      @media (min-width: 480px)
        font-size: 83px!important
      @media (min-width: 640px)
        font-size: 102px!important
    & .description
      font-size: 16px!important
      color: #fff
      line-height: 1.6
      font-weight: 400
      margin-top: 24px
      @media (min-width: 480px)
        font-size: 18px!important
    & .contract
      margin-top: 20px
      font-size: 16px!important
      @media (min-width: 480px)
        margin-top: 10px
      & a
        border-bottom: 1px solid rgb(255, 255, 255)
    & .btn-wrapper
      margin-top: 30px
      @media (min-width: $md)
        margin-top: 40px
    & .v-btn
      height: 60px!important
      min-width: 280px
      @media (min-width: 480px)
        min-width: 320px
    & .content
      margin-bottom: 167px
      display: flex
      justify-content: center
      flex-direction: column
      flex-grow: 1
      @media (min-width: $md)
        margin-bottom: 277px
    .v-btn.v-size--large
      font-size: 16px!important
</style>
