<template>
  <div class="trailer">
    <div class="m-container">
      <h2 class="h2">
        <slot name="title">v-slot:title</slot>
      </h2>
      <div class="video">
        <div
          v-if="!videoWasPlaying"
          @click="playVideo"
          class="preview"
        >
          <slot name="trailer_preview" />
          <div class="preview__button">
            <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
          </div>
        </div>
        <youtube
          v-if="isFirstClick"
          :video-id="youtubeVideoId"
          :player-vars="{
            modestbranding: 1,
            rel: 0,
            fmt: 18,
            html5: 1,
            showinfo: 0,
          }"
          @ready="ready"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TrailerBlock',
  props: [
    'youtubeVideoId',
  ],
  data() {
    return {
      videoWasPlaying: false,
      isFirstClick: false,
    }
  },
  methods: {
    ready(event) {
      this.player = event.target;
    },
    playVideo() {
      this.isFirstClick = true;

      clearInterval(this.playVideoInterval);
      if (this.player) {
        this.videoWasPlaying = true;
        this.player.playVideo();
      } else {
        this.playVideoInterval = setInterval(() => {
          this.playVideo();
        }, 1000)
      }
    },
  },
}
</script>

<style
  lang="sass"
  scoped
>
  .h2
    font-weight: 600
    font-size: 24px
    line-height: 28px
    text-align: center
    color: #000000
    margin-bottom: 32px
    @media (min-width: $md)
      font-weight: 700
      font-size: 48px
      line-height: 56px
      margin-bottom: 48px
  .trailer
    margin-top: 40px
    margin-bottom: 16px
    @media (min-width: $md)
      margin-top: 81px
      margin-bottom: 48px
    @media (min-width: $lp)
      margin-bottom: 60px
  .video
    position: relative
    padding: 0 0 56.25% 0
    height: 0
    overflow: hidden
    border-radius: 8px
    max-width: 782px
    margin: 0 auto
    @media (min-width: $md)
      padding: 0 0 47% 0
    @media (min-width: $lp)
      max-width: 962px
    & .preview
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
      cursor: pointer
      &:hover
        & .ytp-large-play-button-bg
          transition: fill .1s cubic-bezier(0,0,0.2,1),fill-opacity .1s cubic-bezier(0,0,0.2,1)
          fill: #f00
          fill-opacity: 1
      &__button
        position: absolute
        left: 50%
        top: 50%
        width: 68px
        height: 48px
        margin-left: -34px
        margin-top: -24px
        transition: opacity .25s cubic-bezier(0,0,0.2,1)
        z-index: 63
        & .ytp-large-play-button-bg
          transition: fill .1s cubic-bezier(0.4,0,1,1),fill-opacity .1s cubic-bezier(0.4,0,1,1)
          fill: #212121
          fill-opacity: .8
      & img
        object-fit: cover
        width: 100%
        height: 100%
    &::v-deep iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
</style>
