<template>
  <v-list-item
    v-if="!loading && offer.paymentLinks && offer.paymentLinks.length > 0"
    :class="paymentStatus"
    :disabled="paymentStatus === 'approved' || paymentStatus === 'processing'"
  >
    <v-list-item-content style="flex:2;">
      <v-list-item-title style="white-space:normal;padding-right: 12px;">
        <h2>Part #{{ index + 1 }}</h2>
      </v-list-item-title>
    </v-list-item-content>
    <v-list-item-content style="flex-wrap:nowrap;overflow:unset;flex:2;justify-content:space-between;">
      <template v-if="paymentStatus === 'waiting' || !paymentStatus">
        <v-btn
          class="payment-links-card__list-action"
          depressed
          dark
          :href="link.originalLink"
          target="_blank"
        >Pay</v-btn>
      </template>
      <template v-if="paymentStatus === 'cancel'">
        <v-card outlined style="padding:4px 8px;margin:0;max-width:fit-content;color:rgba(0, 0, 0, 0.6);letter-spacing:1px;">Cancelled</v-card>
      </template>
      <template v-if="paymentStatus === 'processing'">
        <div class="payment-links-card__list-icon">
          <v-progress-circular
            indeterminate
            size="24"
          ></v-progress-circular>
        </div>
      </template>
      <template v-if="paymentStatus === 'approved'">
        <div class="payment-links-card__list-icon">
          <svg style="width:24px;height:24px;color:#4CAF50;opacity:.66;" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M13 19C13 18.66 13.04 18.33 13.09 18H3V12H19V13C19.7 13 20.37 13.13 21 13.35V6C21 4.89 20.11 4 19 4H3C1.89 4 1 4.89 1 6V18C1 19.1 1.89 20 3 20H13.09C13.04 19.67 13 19.34 13 19M3 6H19V8H3V6M17.75 22L15 19L16.16 17.84L17.75 19.43L21.34 15.84L22.5 17.25L17.75 22"
            />
          </svg>
        </div>
      </template>
      <div class="payment-links-card__list-price h4" style="margin:0 0 0 10px;flex:1;text-align:right;">
        <span class="payment-links-card__list-price__original">{{ getCurrency(link.price) }}</span>
      </div>
    </v-list-item-content>
  </v-list-item>
  <v-list-item v-else>
    <v-list-item-content style="flex:2;">
      <v-list-item-title style="white-space:normal;padding-right: 12px;">
        <h2>
          <v-skeleton-loader class="loader-center" height="36" type="text" />
        </h2>
      </v-list-item-title>
    </v-list-item-content>
    <v-list-item-content style="flex:2;">
      <v-list-item-title style="text-align:right;">
        <h2>
          <v-skeleton-loader class="loader-center" height="36" type="text" />
        </h2>
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: "PaymentLink",
  props: ["link", "offer", "index", "offerLoading"],
  data() {
    return {
      payment: {},
      paymentStatus: null,
      paymentLoading: true,
      statuses: {
        provi: {
          payed: ["approved"],
          waiting: ["in_mediation", "new"],
          processing: ["in_process", "pending"],
          // error: ['cancelled', 'rejected', 'charged_back', 'refunded'],
        },
        mercadopago: {
          payed: ["effective", "fully_paid", "paid", "approved"],
          waiting: ["negativated", "protest", "new"],
          processing: ["in_process", "pending"],
          // error: [],
        },
        ebanx: {
          payed: ["CO", "approved"],
          waiting: ["OP", "new"],
          processing: ["PE", "pending"]
        },
        kueski: {
          payed: ["approved"],
          waiting: ["new"],
          processing: ["pending"]
        }
      },
    };
  },
  computed: {
    loading() {
      return this.offerLoading || this.paymentLoading;
    },
  },
  methods: {
    getCurrency(currency) {
      const currencyNumber = Number(currency);
      if ((currencyNumber ^ 0) === currencyNumber) {
        return this.$n(currencyNumber, "currencyNoCents");
      } else {
        return this.$n(currencyNumber, "currency");
      }
    },
    redirectToLink() {
      if (this.offer?.paymentLinks?.length === 1) {
        const item = this.offer?.paymentLinks[0];
        this.paymentLoading = true;
        window.location.replace(item.link || item.originalLink);
      }
    },
    transformStatus(status, type) {
      if (this.statuses[type]?.payed?.includes(status)) return "payed";
      if (this.statuses[type]?.waiting?.includes(status)) return "waiting";
      if (this.statuses[type]?.processing?.includes(status)) return "processing";
      else return "cancel";
    },
  },
  async fetch() {
    this.paymentLoading = true;
    const response = await this.$axios.get(
      `${this.$nuxt.$config.BILLING_REST_API}/payment/type`,
      {
        params: {
          type: this.link.type,
          externalReference: this.link[this.link.type]?.linkReference || this.link[this.link.type]?.proviId || this.link.options?.data?.order_id,
        },
      }
    );

    this.payment =
      response?.data?.result?.data[response?.data?.result?.data?.length - 1];
    if (!this.payment) {
      this.paymentLoading = false;
      if (process.browser) {
        this.redirectToLink();
      }
      return;
    }

    this.paymentStatus = this.transformStatus(
      this.payment[this.payment.type].status,
      this.payment.type
    );
    this.paymentLoading = false;
    if (process.browser && this.paymentStatus === "waiting") {
      this.redirectToLink();
    }
  },
};
</script>

<style lang="sass" scoped>
.payment-links-card__list
  &-action
    background-color: #D36133 !important
  &-icon
    flex: 0
</style>
