<template>
  <div class="payment-links">
    <template v-if="!redirecting">
      <v-card class="payment-links-card" flat outlined>
        <v-card-title class="payment-links-card__title">
          <h1 style="margin: 0 0 6px 0;">Order {{ offer.order && offer.order.externalId ? offer.order.externalId : '' }}</h1>
        </v-card-title>
        <v-card-subtitle class="payment-links-card__subtitle">
          <v-slide-x-transition hide-on-leave>
            <div
              v-if="!loading && offer.uuid"
              class="payment-links-cursos"
              :style="{
                maxHeight: allCourses ? 17.6 + offer.products.length * 21.6 + 'px' : 43.2 + 'px'
              }"
            >
              <div v-show="!allCourses" style="margin-left:2px">
                {{ offer.products.slice(0, 2).map(i => i.courseName).join(', ') }}
                <span v-if="offer.products.length > 2">
                  e mais {{ offer.products.length - 2 }}
                  <template v-if="offer.products.length -2 === 1">curso</template>
                  <template v-else>cursos</template>

                  <span class="payment-links-cursos__button" @click="allCourses = true" v-if="!allCourses">Show more</span>
                </span>
              </div>

              <div v-show="allCourses" style="margin-left:2px">
                <div v-for="product in offer.products" :key="product.uuid" style="white-space:nowrap;">
                  <span>{{ product.courseName }}: {{ product.price }}{{ currency }}</span>
                </div>
                <span class="payment-links-cursos__button" @click="allCourses = false" v-if="allCourses">Hide cursos</span>
              </div>
            </div>
            <v-skeleton-loader class="loader-center" type="text" height="21.6" v-else />
          </v-slide-x-transition>
        </v-card-subtitle>

        <v-divider />

        <v-list
          class="payment-links-card__list"
          :style="{
            /*maxHeight: listHeight*/
          }"
        >
          <v-slide-x-transition group hide-on-leave>
            <v-list-item v-if="loading" key="loading">
              <v-list-item-content>
                <v-list-item-title>
                  <h2>
                    <v-skeleton-loader class="loader-center" height="36" type="text" />
                  </h2>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <template v-for="(item, index) in items">
              <PaymentLink :key="item.uuid" :index="index" :link="item" :offer="offer" :offerLoading="loading" />
            </template>
            <v-list-item
              key="linksNotFound"
              v-if="!loading && offer.uuid && offer.paymentLinks.length === 0"
            >
              <v-list-item-content style="flex:2;">
                <v-list-item-title style="white-space:normal;padding-right: 12px;">
                  <h2>Links not found</h2>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item
              key="paid"
              v-if="!loading && offer.uuid && !offer.total"
            >
              <v-list-item-content style="flex:2;">
                <v-list-item-title style="white-space:normal;padding-right: 12px;">
                  <h2>All bills are paid</h2>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item key="spacing" class="small"></v-list-item>

            <!-- TODO Optimize code size for loaders -->
            <template>
              <v-list-item key="subtotal" class="small" v-if="!loading && offer.discount && offer.total">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2>Subtotal:</h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2>{{ getCurrency(offer.total + offer.discount) }}</h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item key="subtotal-loading" class="small" v-if="loading">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <template>
              <v-list-item key="discount" class="small" v-if="!loading && offer.discount && offer.total">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2>Discount:</h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2>- {{ getCurrency(offer.discount) }}</h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item key="discount-loading" class="small" v-if="loading">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <template>
              <v-list-item key="total" v-if="!loading && offer.total">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2>Total:</h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2>{{ getCurrency(offer.total) }}</h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item key="total-loading" v-if="loading">
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="white-space:normal;padding-right: 12px;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-content style="flex:2;">
                  <v-list-item-title style="text-align:right;">
                    <h2><v-skeleton-loader class="loader-center" height="36" type="text" /></h2>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>


          </v-slide-x-transition>
        </v-list>

        <div class="payment-links-card__progress">
          <v-slide-x-transition hide-on-leave>
            <div v-if="!loading">
              <v-progress-linear
                height="64"
                :value="payedPricePercent"
                color="#4CAF50"
              >
                <template v-slot:default="{}">
                  <div class="payment-links-card__progress-content">
                    <h4>{{ payedPrice }}$&nbsp;of&nbsp;</h4>
                    <h4 class="payment-links-card__progress-content__price">
                      <span
                        class="payment-links-card__progress-content__price__discount"
                        v-if="summaryPrice !== summaryPriceWithDiscount"
                      >{{ summaryPriceWithDiscount }}$</span>
                      <span
                        class="payment-links-card__progress-content__price__original"
                      >{{ summaryPrice }}$</span>
                    </h4>
                  </div>
                </template>
              </v-progress-linear>
            </div>
            <v-skeleton-loader class="loader-center" height="64" type="text" v-else />
          </v-slide-x-transition>
        </div>
      </v-card>

      <v-card flat class="payment-links-help caption">
        Need help? Contact Us:
        <a href="mailto:supporte@ebaconline.com.br">supporte@ebaconline.com.br</a>
      </v-card>
    </template>
  </div>
</template>

<script>
import PaymentLink from "./-paymentLink.vue";
export default {
  name: "PaymentLinksList",
  data() {
    return {
      offer: {},
      loading: true,
      redirecting: false,
      allCourses: false,
      currency: "R$",
    };
  },
  computed: {
    listHeight() {
      const itemHeight = 60;
      const subItemHeight = 36;
      let height = itemHeight * 2 + subItemHeight * 3;
      if (!this.loading) {
        if (this.offer.discount) height += subItemHeight;
        if (this.offer.total) height += itemHeight;
        if (this.offer.paymentLinks?.length > 0)
          height += itemHeight * this.offer.paymentLinks.length;
      }
      return height + "px";
    },
    summaryPrice() {
      return this.offer.total + this.offer.discount;
    },
    summaryPriceWithDiscount() {
      return this.offer.total;
    },
    payedPrice() {
      return this.offer.totalPaid;
    },
    payedPricePercent() {
      return (this.payedPrice * 100) / this.summaryPriceWithDiscount;
    },
    items() {
      if (!this.offer.paymentLinks) return [];
      const links = [...this.offer.paymentLinks];
      return links.sort(this.compareByStatus);
    },
  },
  methods: {
    statusWeight(status) {
      switch (status) {
        case "waiting":
          return 1;
        case "processing":
          return 2;
        case "success":
          return 3;
        default:
          return 0;
      }
    },
    compareByStatus(a, b) {
      return this.statusWeight(a.status) - this.statusWeight(b.status);
    },
    getCurrency(currency) {
      const currencyNumber = Number(currency);
      if ((currencyNumber ^ 0) === currencyNumber) {
        return this.$n(currencyNumber, "currencyNoCents");
      } else {
        return this.$n(currencyNumber, "currency");
      }
    },
  },
  async fetch() {
    try {
      this.loading = true;
      const response = await this.$axios({
        method: "get",
        url: `${this.$nuxt.$config.BILLING_REST_API}/offer/${this.$route.params.offer}`,
        params: {
          populate: [
            "products",
            "paymentLinks.mercadopago",
            "paymentLinks.provi",
            "paymentLinks.ebanx",
            "paymentLinks.provi_checkout",
            "order",
          ],
        },
      });
      if (response.data.result === null) throw new Error();
      this.offer = response.data.result;
      this.loading = false;
    } catch (error) {
      this.$nuxt.error({ statusCode: 404, message: "Offer not found" });
    }
  },
  components: { PaymentLink },
};

</script>

<style lang="sass" scoped>
.payment-links
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: calc(100vh - 76px)
  padding: 32px 0
  & .payment-links-cursos
    transition: max-height .2s
    overflow: hidden
    &__button
      font-weight: bold
      text-decoration: underline
  &-card
    min-width: 320px
    width: 425px
    border-radius: 8px !important
    &__list
      transition: max-height .2s !important
      overflow: hidden
      & .v-list-item
        height: 60px
        &.small
          height: 36px
          min-height: 36px
          & .v-list-item__content
            padding: 6px 0
          & h2
            font-size: 17px
      &-price
        min-width: 100px
        text-align: right
      &-icon
        flex: 0 0 50px !important
        width: 64px
        margin-bottom: 0 !important
        display: flex
        align-items: center
        justify-content: center
      &-action
        flex: 0 0 50px !important
        margin-right: 12px !important
        margin-bottom: 0 !important
        background-color: #D36133 !important
    &__progress
      padding: 4px 32px 20px 32px
      & .v-skeleton-loader
        &__text
          height: 100%
          border-radius: 100vw
      .v-progress-linear
        border-radius: 100vw
        &__content
          & .payment-links-card__progress-content
            display: flex
            color: #fff
            &__price
              .payment-links-card__progress-content__price__discount + .payment-links-card__progress-content__price__original
                font-size: 80%
                opacity: .66
                text-decoration: line-through
                position: absolute
                margin-left: 6px
        &__background
          border-radius: 100vw
          border-top-left-radius: 0
          border-bottom-left-radius: 0
          overflow: hidden
        &__determinate
          border-radius: 100vw
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          overflow: hidden
  & .v-skeleton-loader.loader-center
    display: flex
    align-items: center
    & .v-skeleton-loader__text
      margin-bottom: 0
  &-help
    margin-top: 16px
    padding: 8px 16px
    & a
      text-decoration: none
</style>
