<template>
  <div class="career">
    <div class="career__top">
      <div
        class="career__image"
        v-if="$slots['image']"
      >
        <slot name="image" />
      </div>
    </div>
    <div class="career__content">
      <div
        class="career__bonus"
        v-if="careerBonus && $slots['bonus']"
      >
        <slot name="bonus" />
      </div>
      <div
        class="career__title"
        v-if="$slots['title']"
      >
        <slot name="title" />
      </div>
      <div
        class="career__description"
        v-if="$slots['description']"
      >
        <slot name="description" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CareerPlan",
  props: {
    careerBonus: {
      type: Boolean,
      default: false
    }
  },
};
</script>

<style lang="sass" scoped>
@import "style/ui-kit/vars.sass"
@import "style/mixins/mixins"

.career
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  width: 100%
  min-height: 100px
  padding: 18px
  border-radius: 12px
  background-color: $bg-color-3
  @include media($tb)
    flex-direction: row-reverse
    align-items: unset
    min-height: 190px
    margin-right: 0
  @include media($md)
    flex-direction: column
    height: 100%
    max-width: 300px
    min-width: 300px
    padding: 22px
  @include media($lp)
    flex-direction: column
    max-width: 358px
    min-width: 358px
    padding: 28px

  &__top
    display: flex
    align-items: center
    justify-content: start
    width: 100%
    height: 100%
    @include media($tb)
      justify-content: center
    @include media($md)
      align-items: start
      height: auto

  &__image
    display: flex
    justify-content: center
    margin: 18px
    width: 200px
    @include media($tb)
      width: 240px
    @include media($md)
      width: 170px
    @include media($lp)
      width: 200px

    & img
      width: 100%
      height: 100%

  &__bonus
    font-size: 18px
    font-weight: 600
    color: #972dd3

  &__content
    @include media($tb)
      margin-right: 82px
    @include media($md)
      margin-right: 0

  &__title
    font-size: 24px
    font-weight: 700
    margin-bottom: 12px

  &__description
    font-size: 18px
    line-height: 1.5
</style>
