<template>
  <div class="help-item">
    <div
      class="help-item__logo"
      v-if="$slots['logo']"
    >
      <div class="help-item__logo-img">
        <slot name="logo" />
      </div>
    </div>

    <div
      class="help-item__description"
      v-if="$slots['description']"
    >
      <slot name="description" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelpItem',
};
</script>

<style
  lang="sass"
  scoped
>
@import "style/ui-kit/vars.sass"
@import "style/mixins/mixins"

.help-item
  display: flex
  position: relative
  flex-direction: row
  align-items: center
  align-content: flex-start
  width: 100%
  background-color: $bg-color-3
  padding: 18px
  margin-bottom: 22px
  border-radius: 12px
  @include media($tb)
    flex-direction: row
    flex-wrap: wrap
    align-items: unset
    margin-right: 0
    max-width: 341px
    min-width: 341px
    &:nth-child(1n)
      margin-right: 22px
  @include media($md)
    max-width: 300px
    min-width: 300px
    padding: 22px
  @include media($lp)
    max-width: 358px
    min-width: 358px
    margin-bottom: 42px
    padding: 28px
    &:nth-child(1n)
      margin-right: 42px

  &__logo
    display: inline-flex
    align-self: start
    align-items: center
    justify-content: center
    min-width: 62px
    min-height: 62px
    width: 62px
    height: 62px
    margin-right: 22px
    background-color: #fff
    border-radius: 50%
    &-img::v-deep > *
      width: 30px
      height: 30px
    @include media($tb)
      margin-bottom: 22px

  &__description
    font-size: 18px
    line-height: 1.5
</style>
