<template>
  <div class="career-center-block">
    <div class="m-container">
      <div class="content">
        <h2 class="career-center-block__title h2">
          <slot name="title" />
        </h2>
        <div class="career-center-block__subtitle">
          <slot name="subtitle" />
        </div>
        <div class="career-center-block__container">
          <div class="career-center-block__left">
            <ul
              class="help-list"
              v-if="$slots['help-list']"
            >
              <slot name="help-list" />
            </ul>
          </div>
          <div class="career-center-block__right">
            <slot name="career-plan" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CareerCenter',
};
</script>

<style lang="sass" scoped>
@import "style/ui-kit/vars.sass"
@import "style/mixins/mixins"

.career-center-block
  padding-top: 40px
  padding-bottom: 88px
  @include media($tb)
    padding-top: 56px
    padding-bottom: 130px

  &__title
    font-size: 32px
    font-weight: 600
    line-height: 38px
    text-align: left
    margin-bottom: 22px
    @include media($tb)
      font-weight: 700
      text-align: center
    @include media($md)
      font-size: 48px
      font-weight: 700
      line-height: 56px
      margin-bottom: 32px

  &__subtitle
    font-size: 18px
    margin-bottom: 32px
    text-align: left
    @include media($md)
      margin-bottom: 48px
      font-size: 24px
      text-align: center
    @include media($lp)
      margin-bottom: 64px

  &__container
    display: flex
    flex-direction: column
    @include media($md)
      justify-content: space-between
      flex-direction: row

  &__right
    @include media($tb)
      margin-bottom: 22px

  &__left
    @include media($md)
      margin-bottom: -22px

ul
  padding: 0

.help-list
  display: flex
  flex-wrap: wrap
  @include media($tb)
    margin-right: -22px
  @include media($md)
    margin-right: 0
</style>
