<template>
  <v-app id="course-landing"> <!-- course-landing - системный id, удалять нельзя -->
    <main>
      <floatingFormButtonBlock v-if="defer(1)" />
      <div class="first-section">
        <firstBlock
          :partner-logo-src="require('~/assets/images/analista-de-dados/loggi-logo.png')"
          partner-logo-height="42"
          with-separator
          scroll-to-form
        >
          <template v-slot:background-desktop>
            <img decoding="async" :src="require('~/assets/images/analista-de-dados/background.jpg')" />
          </template>
          <template v-slot:background-mobile>
<!--            <picture>-->
<!--              <source class="not-lazy" data-not-lazy :srcset="require('~/assets/images/analista-de-dados/background_mobile.webp')" type='image/webp' />-->
<!--              <img class="not-lazy" data-not-lazy decoding="async" :src="require('~/assets/images/analista-de-dados/background_mobile.png')" />-->
<!--            </picture>-->
            <img data-not-lazy class="not-lazy" decoding="async" :src="require('~/assets/images/analista-de-dados/background_mobile.webp')" />
          </template>
          <template v-slot:main-img-desktop>
            <img data-not-lazy class="not-lazy" decoding="async" :src="require('~/assets/svg/analista-de-dados/main-image-desktop.svg')" />
          </template>
          <template v-slot:main-img-mobile>
            <img style="max-width: 100%" data-not-lazy class="not-lazy" decoding="async" :src="require('~/assets/svg/analista-de-dados/main-image-desktop.svg')" />
          </template>
          <template v-slot:discount>
            <div class="discount__title">
              -{{ price.discountPercent }}%
            </div>
            <div v-show="discountDate !== null" class="discount__subtitle">
              até <span style="font-weight: 700;">{{ discountDate }}</span>
            </div>
          </template>
          <template v-slot:title>
            Profissão:<br> Analista de Dados
          </template>
          <template v-slot:subtitle>
            Este curso vai te ajudar a se tornar um Analista de Dados profissional e impulsionar sua carreira nesta profissão em alta no mercado digital. Aprenda a utilizar do zero as principais ferramentas para trabalhar com dados e saiba como extrair insights poderosos para tomar decisões importantes de negócio.
          </template>
          <template v-slot:deffered-payment-info>
            Comece a estudar agora pagando <span style="color: rgb(211, 97, 51);">7%</span> de entrada. <br/>A próxima parcela é só daqui a seis meses.
          </template>
          <template v-slot:additional-content-item_1>
            <div class="additional-content-item__title">
              11 meses
            </div>
            <div class="additional-content-item__subtitle">
              Com mais de 47 horas de aula online
            </div>
          </template>
          <template v-slot:additional-content-item_2>
            <div class="additional-content-item__title">
              Prática e Mentoria
            </div>
            <div class="additional-content-item__subtitle">
              Atividades ao longo do curso e feedback individualizado do tutor
            </div>
          </template>
          <template v-slot:additional-content-item_3>
            <div class="additional-content-item__title">
              Centro de Carreiras
            </div>
            <div class="additional-content-item__subtitle">
              Consultoria especializada e assessoria em emprego
            </div>
          </template>
          <template v-slot:additional-content-item_4>
            <div class="additional-content-item__title">
              Projeto de Graduação
            </div>
            <div class="additional-content-item__subtitle">
              Análise exploratória de dados de logística da Loggi
            </div>
          </template>
      </firstBlock>
      </div>
      <div>
        <div class="trailer-section">
          <trailer youtubeVideoId="cnN44b1UfQM">
            <template #trailer_preview>
              <picture>
                <source :srcset="require('~/assets/images/analista-de-dados/trailer_preview.webp')" type='image/webp' />
                <img decoding="async" :src="require('~/assets/images/analista-de-dados/trailer_preview.png')" alt="Preview do trailer" />
              </picture>
            </template>
            <template #title>
              Veja o trailer do curso online
            </template>
          </trailer>
        </div>
        <div class="partner-section">
          <partner-block>
            <template #title>
              Empresa parceira
            </template>
            <template #text>
              Com mais de 300 mil entregas diárias, a Loggi é uma das mais importantes startups de logística do país. Ativa desde 2013, está no seleto grupo de unicórnios brasileiros, avaliada em mais de US$1 bilhão. Oferece soluções logísticas de qualidade para conectar todo o Brasil.<br><br>O aluno poderá desenvolver seu projeto de conclusão de curso a partir de um briefing apresentado pela empresa, baseado em exemplos e necessidades reais da companhia. <br>
            </template>
            <template #logo>
              <img decoding="async" :src="require('~/assets/images/analista-de-dados/loggi-logo_blue.png')" />
            </template>
          </partner-block>
        </div>
        <div class="benefits-section">
          <benefits>
            <template v-slot:title>
              Por que aprender análise de dados?
            </template>
            <template v-slot:list-items>
              <benefitsListItem>
                <template v-slot:title>
                  Necessidade
                </template>
                <template v-slot:description>
                  A análise de dados é necessária em todas as áreas profissionais
                </template>
              </benefitsListItem>
              <benefitsListItem>
                <template v-slot:title>
                  Benefícios
                </template>
                <template v-slot:description>
                  Um analista competente é responsável por extrair significados e estruturar os dados para encontrar padrões e obter insights inteligentes
                </template>
              </benefitsListItem>
              <benefitsListItem>
                <template v-slot:title>
                  Demanda
                </template>
                <template v-slot:description>
                  A demanda por especialistas da área excede em muito a oferta de profissionais capacitados
                </template>
              </benefitsListItem>
            </template>
            <template v-slot:mobile-img>
              <picture>
                <source
                  :srcset="`${require('~/assets/images/analista-de-dados/PorQue_Mobile@1x.webp')}, ${require('~/assets/images/analista-de-dados/PorQue_Mobile@2x.webp')} 2x`"
                  type='image/webp'
                />
                <img
                  decoding="async"
                  :src="require('~/assets/images/analista-de-dados/PorQue_Mobile@1x.png')"
                  :srcset="`${require('~/assets/images/analista-de-dados/PorQue_Mobile@1x.png')}, ${require('~/assets/images/analista-de-dados/PorQue_Mobile@2x.png')} 2x`"
                  alt="Analista de dados"
                />
              </picture>
            </template>
            <template v-slot:desktop-img>
              <picture>
                <source
                  :srcset="`${require('~/assets/images/analista-de-dados/PorQue_Desktop@1x.webp')}, ${require('~/assets/images/analista-de-dados/PorQue_Desktop@2x.webp')} 2x`"
                  type='image/webp'
                />
                <img
                  decoding="async"
                  :src="require('~/assets/images/analista-de-dados/PorQue_Desktop@1x.png')"
                  :srcset="`${require('~/assets/images/analista-de-dados/PorQue_Desktop@1x.png')}, ${require('~/assets/images/analista-de-dados/PorQue_Desktop@2x.png')} 2x`"
                  alt="Analista de dados"
                />
              </picture>
            </template>
          </benefits>
        </div>
        <div class="salary-section">
          <salary>
            <template v-slot:title>
              Quanto ganha um analista de dados?
            </template>
            <template v-slot:description>
              Empresas das áreas de tecnologia, finanças, economia, entre outras, estão cada vez mais procurando analistas de dados capacitados
            </template>
            <template v-slot:position-list>
              <position-item>
                <template v-slot:salary>
                  R$10.179
                </template>
                <template v-slot:position>
                  Analista de Dados Sênior
                </template>
              </position-item>
              <position-item>
                <template v-slot:salary>
                  R$7.371
                </template>
                <template v-slot:position>
                  Analista de Dados Pleno
                </template>
              </position-item>
              <position-item>
                <template v-slot:salary>
                  R$3.690
                </template>
                <template v-slot:position>
                  Analista de Dados Jr.
                </template>
              </position-item>
            </template>
            <template v-slot:statistics>
              Salários médios de acordo com: www.glassdoor.com.br
            </template>
          </salary>
        </div>
        <div class="target-audience-section">
          <target-audience>
            <template v-slot:title>
              Para quem este curso é indicado
            </template>
            <template v-slot:target-audience-list>
              <target-audience-item>
                <template v-slot:bg>
                  <img :src="require('~/assets/svg/analista-de-dados/pistion_bg.svg')" />
                </template>
                <template v-slot:img>
                  <img
                    :data-not-lazy="isMiuiBrowser ? true : undefined"
                    :class="{
                    'not-lazy': isMiuiBrowser
                  }"
                    :src="require('~/assets/svg/analista-de-dados/pistion_1.svg')"
                    alt="Banco de dados"
                  />
                </template>
                <template v-slot:title>
                  Iniciantes que desejam começar a trabalhar com dados
                </template>
                <template v-slot:description>
                  Aprenda como pesquisar, analisar e dar visualidade aos dados e inicie uma carreira promissora como analista de dados.
                </template>
              </target-audience-item>
              <target-audience-item>
                <template v-slot:bg>
                  <img :src="require('~/assets/svg/analista-de-dados/pistion_bg.svg')" />
                </template>
                <template v-slot:img>
                  <img
                    :data-not-lazy="isMiuiBrowser ? true : undefined"
                    :class="{
                    'not-lazy': isMiuiBrowser
                  }"
                    :src="require('~/assets/svg/analista-de-dados/pistion_2.svg')"
                    alt="Banco de dados"
                  />
                </template>
                <template v-slot:title>
                  Analistas de dados juniores
                </template>
                <template v-slot:description>
                  Fortaleça seus conhecimentos em análise de dados com fundamentos de programação em Python, scripts em SQL e Big Data. Amplie suas competências profissionais e cresça em sua carreira
                </template>
              </target-audience-item>
              <target-audience-item>
                <template v-slot:bg>
                  <img :src="require('~/assets/svg/analista-de-dados/pistion_bg.svg')" />
                </template>
                <template v-slot:img>
                  <img
                    :data-not-lazy="isMiuiBrowser ? true : undefined"
                    :class="{
                    'not-lazy': isMiuiBrowser
                  }"
                    :src="require('~/assets/svg/analista-de-dados/pistion_3.svg')"
                    alt="Banco de dados"
                  />
                </template>
                <template v-slot:title>
                  Desenvolvedores que queiram mudar de carreira
                </template>
                <template v-slot:description>
                  Aplique novos conhecimentos de programação e solucione seus problemas com ajuda da análise de dados. Explore ferramentas analíticas avançadas e torne-se um profissional mais valorizado no mercado
                </template>
              </target-audience-item>
            </template>
          </target-audience>
        </div>
        <div class="about-what-section">
          <about-what topic-position="top">
            <template v-slot:title>
              O que você aprenderá
            </template>
            <template v-slot:description>
              Ao fim do curso, você dominará diversas ferramentas analíticas avançadas. Os projetos finais desenvolvidos irão enriquecer seu currículo, aumentando as chances de você obter mais sucesso na carreira
            </template>
            <template v-slot:portfolio-title>
              5 projetos para seu portfólio
            </template>
            <template v-slot:portfolio-list>
              <portfolio-item>Análise exploratória e storytelling com Python, Pandas e Seaborn</portfolio-item>
              <portfolio-item>Análise exploratória e storytelling em SQL</portfolio-item>
              <portfolio-item>Visualização interativa de dados e storytelling com Google Data Studio</portfolio-item>
              <portfolio-item>Criação de AWS Datalake e ingestão de dados com automação de pipeline</portfolio-item>
              <portfolio-item>Análise exploratória de dados de logística da Loggi
                <template #after>
                  <img style="height: 100%" decoding="async" :src="require('~/assets/images/analista-de-dados/loggi-logo_blue.png')" />
                </template>
              </portfolio-item>
            </template>
            <template v-slot:certificate-title>
              No final do curso, você receberá o certificado da EBAC
            </template>
            <template v-slot:mobile-certificate-img>
              <img
                decoding="async"
                :src="require('~/assets/images/analista-de-dados/certificate_mobile.svg')"
                alt="Certificado EBAC"
              />
          </template>
            <template v-slot:desktop-certificate-img>
              <img
                decoding="async"
                :src="require('~/assets/images/analista-de-dados/certificate_desktop.svg')"
                alt="Certificado EBAC"
                style="width: 100%;"
              />
            </template>
            <template v-slot:topics>
              <topic-item>
                <template v-slot:title>
                  Análise de dados de ponta a ponta
                </template>
                <template v-slot:description>
                  Tenha um domínio global do processo de trabalho com dados: mineração, preparação, análise exploratória e visualização
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Programar em Python
                </template>
                <template v-slot:description>
                  Utilize a programação em Python para obter e manejar dados de diferentes tipos de fontes, justificar conclusões e encontrar padrões numéricos
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Escrever em linguagem SQL
                </template>
                <template v-slot:description>
                  Realize consultas em SQL e trabalhe diretamente com bancos de dados, históricos e diferentes formatos de arquivos
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Utilizar machine learning
                </template>
                <template v-slot:description>
                  Aplique técnicas poderosas de análise de dados e se familiarize com as ferramentas de machine learning para obter insights e fazer previsões acertadas
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Visualizar dados
                </template>
                <template v-slot:description>
                  Crie relatórios visuais com seus dados de acordo com o público-alvo. Aprenda a construir gráficos e tabelas com MatPlotlib, Seaborn e Google Data Studio para contar sua história
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Trabalhar com Big Data
                </template>
                <template v-slot:description>
                  Trabalhe com Big Data em computação em nuvem
                </template>
              </topic-item>
              <topic-item>
                <template v-slot:title>
                  Trabalhar em equipe
                </template>
                <template v-slot:description>
                  Aprenda como trabalhar colaborativamente em equipe e realizar controle de versão com Git e Gitub
                </template>
              </topic-item>
            </template>
          </about-what>
        </div>
        <div class="course-teacher-section">
          <course-teacher>
            <template #title>
              Professor do Curso
            </template>
            <template #teacher_1="{ displayType, index }">
              <teacher
                :displayType="displayType"
                :index="index"
              >
                <template #mobile-img>
                  <picture>
                    <source
                      :srcset="`${require('~/assets/images/analista-de-dados/Professor_Mobile@1x.webp')}, ${require('~/assets/images/analista-de-dados/Professor_Mobile@2x.webp')} 2x`"
                      type='image/webp'
                    />
                    <img
                      decoding="async"
                      :src="require('~/assets/images/analista-de-dados/Professor_Mobile@1x.png')"
                      :srcset="`${require('~/assets/images/analista-de-dados/Professor_Mobile@1x.png')}, ${require('~/assets/images/analista-de-dados/Professor_Mobile@2x.png')} 2x`"
                      alt="Foto do André Perez"
                    />
                  </picture>
                </template>
                <template #desktop-img>
                  <picture>
                    <source
                      :srcset="`${require('~/assets/images/analista-de-dados/Professor_Desktop@1x.webp')}, ${require('~/assets/images/analista-de-dados/Professor_Desktop@2x.webp')} 2x`"
                      type='image/webp'
                    />
                    <img
                      decoding="async"
                      :src="require('~/assets/images/analista-de-dados/Professor_Desktop@1x.png')"
                      :srcset="`${require('~/assets/images/analista-de-dados/Professor_Desktop@1x.png')}, ${require('~/assets/images/analista-de-dados/Professor_Desktop@2x.png')} 2x`"
                      alt="Foto do André Perez"
                    />
                  </picture>
                </template>
                <template #name>
                  André Perez
                </template>
                <template #position>
                  Engenheiro de Dados na SumUp
                </template>
                <template #description>
                  Formado pela Universidade de São Paulo e pela Universidade de Glasgow, no Reino Unido, André é Especialista em Engenharia de Dados na SumUp, fintech alemã que atua no ramo de adquirência, banking e crédito no mercado europeu e latino americano. Trabalhou na Serasa Experian, onde liderou a modernização da infraestrutura computacional da concessão de crédito, e na Amdocs, onde conduziu projetos de ciência de dados em Tel-Aviv, Israel. Foi tutor do MBA em ciência de dados do Instituto de Ciências Matemáticas e Computação (ICMC/USP) onde ajudou profissionais de aŕeas diversas a ingressar no mercado de dados.
                </template>
                <template #company_1>
                  <teacher-skill>
                    <template #img>
                      <img
                        :src="require('~/assets/images/analista-de-dados/company_serasa-experian.png')"
                        alt="Logo Serasa Experian"
                      />
                    </template>
                    <template #name>
                      Serasa experian
                    </template>
                  </teacher-skill>
                </template>
                <template #company_2>
                  <teacher-skill>
                    <template #img>
                      <img
                        :src="require('~/assets/images/analista-de-dados/company_stone.png')"
                        alt="Logo Stone"
                      />
                    </template>
                    <template #name>
                      Stone
                    </template>
                  </teacher-skill>
                </template>
                <template #company_3>
                  <teacher-skill>
                    <template #img>
                      <img
                        :src="require('~/assets/images/analista-de-dados/company_amdocs.png')"
                        alt="Logo Amdocs"
                      />
                    </template>
                    <template #name>
                      Amadocs
                    </template>
                  </teacher-skill>
                </template>
                <template #company_4>
                  <teacher-skill>
                    <template #img>
                      <img
                        :src="require('~/assets/images/analista-de-dados/company_icmc.png')"
                        alt="Logo ICMC/USP"
                      />
                    </template>
                    <template #name>
                      ICMC
                    </template>
                  </teacher-skill>
                </template>
                <template #company_5>
                  <teacher-skill>
                    <template #img>
                      <img
                        :src="require('~/assets/images/analista-de-dados/company_mongodb.png')"
                        alt="Logo MongoDB"
                      />
                    </template>
                    <template #name>
                      MonoDB
                    </template>
                  </teacher-skill>
                </template>
              </teacher>
            </template>
          </course-teacher>
        </div>
        <div class="course-program-section">
          <course-program>
            <template v-slot:title>Programa do curso</template>
            <template v-slot:description>As videoaulas são separadas em 44 módulos para facilitar o aprendizado. O aluno assiste quando e onde quiser por período ilimitado.</template>

            <template v-slot:part-title_1>Parte 01 — Python para Análise de Dados</template>
            <template v-slot:part-description_1>
              <p>
                Aprenda a programar em Python para coletar e manejar dados.  Conheça a sintaxe, crie funções e módulos, baixe pacotes, aplique uma programação orientada a objetos e execute scripts em Python
              </p>
              <ul>
                <li><span>—</span> Variáveis e tipos de dados (Data types)</li>
                <li><span>—</span> Estrutura de dados</li>
                <li><span>—</span> Fluxo de controle e fluxo condicional</li>
                <li><span>—</span> Arquivos e funções</li>
                <li><span>—</span> Programação funcional</li>
                <li><span>—</span> Programação orientada a objetos</li>
                <li><span>—</span> Módulos e pacotes</li>
                <li><span>—</span> Lidando com erros</li>
                <li><span>—</span> Transformação, limpeza e visualização de dados em Python</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Exercícios de programação e armazenamento em conta Github</p>
            </template>

            <template v-slot:part-title_2>Parte 02 — O processo da Análise de dados</template>
            <template v-slot:part-description_2>
              <p>
                Aprenda como coletar, processar e preparar os dados para a análise e visualização posteriores.
              </p>
              <ul>
                <li><span>—</span> Mineração de dados</li>
                <li><span>—</span> Preparação de dados</li>
                <li><span>—</span> Visualização de dados</li>
                <li><span>—</span> Análise exploratória com Seaborn e Pandas</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Exercícios práticos de Data Mining, Preparação e visualização de dados com Python, Pandas, Seaborn e armazenamento em conta Github.</p>
            </template>

            <template v-slot:part-title_3>Parte 03 — Controle de versão</template>
            <template v-slot:part-description_3>
              <p>
                Aprenda a trabalhar com Git e Github para controlar as versões do código da análise de dados. Desenvolva o trabalho colaborativamente em equipe.
              </p>
              <ul>
                <li><span>—</span> Introdução ao Git e ao Github</li>
                <li><span>—</span> Criando um repositório Github</li>
                <li><span>—</span> Executando mudanças no seu repositório</li>
                <li><span>—</span> Salvando e baixando as mudanças</li>
                <li><span>—</span> Trabalhando com Git branches</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Criar e publicar trabalhos no GitHub.</p>
            </template>

            <template v-slot:part-title_4>Parte 04 — Fundamentos da matemática para Análise de dados</template>
            <template v-slot:part-description_4>
              <p>
                Aprenda a operar com Numpy e as habilidades matemáticas necessárias para trabalhar com Análise de dados.
              </p>
              <ul>
                <li><span>—</span> Trabalhando com Numpy</li>
                <li><span>—</span> Objetos <i>array</i> do Numpy</li>
                <li><span>—</span> Vetorização de problema</li>
                <li><span>—</span> Fundamentos da estatística</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Utiliza a biblioteca do Numpy para executar funções matemáticas em dados e resolver problemas.</p>
            </template>

            <template v-slot:part-title_5>Parte 05 — Machine Learning</template>
            <template v-slot:part-description_5>
              <p>
                Familiarize-se com o <i>machine learning</i> e construa modelos de análise usando inteligência artificial.
              </p>
              <ul>
                <li><span>—</span> Fundamentos do <i>machine learning</i></li>
                <li><span>—</span> Regressão</li>
                <li><span>—</span> Classificação</li>
                <li><span>—</span> Agrupamento</li>
                <li><span>—</span> Dados em série temporal</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Criar modelos de Machine Learning de classificação não supervisionado com k-means e outros métodos, configurar e classificar dados.</p>
            </template>

            <template v-slot:part-title_6>Parte 06 — SQL para Análise de Dados</template>
            <template v-slot:part-description_6>
              <p>
                Aprenda a operar em ambiente SQL, criar <i>scripts</i> a partir de seleção, filtragem, agregação e mesclagem de dados, executar comandos de descrição, articular SQL com métodos quantitativos e utilizar bancos de dados.
              </p>
              <ul>
                <li><span>—</span> Base de dados e linguagem SQL</li>
                <li><span>—</span> Trabalhando com tabelas</li>
                <li><span>—</span> Seleção e ordenação</li>
                <li><span>—</span> Filtragem e seleção condicional</li>
                <li><span>—</span> Agregação</li>
                <li><span>—</span> Trabalhando com diversas tabelas</li>
                <li><span>—</span> Técnicas avançadas em SQL</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Análise exploratória em bancos de dados SQL com exercícios com Pandas e Seaborn.</p>
            </template>

            <template v-slot:part-title_7>Parte 07 — Visualização interativa de dados</template>
            <template v-slot:part-description_7>
              <p>
                Saiba como criar e operar <i>dashboards</i> de visualização de dados usando Google Data Studio.
              </p>
              <ul>
                <li><span>—</span> Visualização interativa de dados</li>
                <li><span>—</span> Introdução ao Google Data Studio</li>
                <li><span>—</span> Medidas e dimensões</li>
                <li><span>—</span> Criação e publicação de <i>dashboards</i> para visualização</li>
              </ul>
              <p><b>Projeto</b></p>
              <p>Exercícios em Google Data Studio e visualização interativa de dados</p>
            </template>

            <template v-slot:part-title_8>Parte 08 — Trabalhando em ambiente de nuvem</template>
            <template v-slot:part-description_8>
              <p>
                Aprenda a operar a plataforma de nuvem da Amazon Web Services e seus elementos relacionados à análise de dados.
              </p>
              <ul>
                <li><span>—</span> Iniciando-se no Amazon Web Services</li>
                <li><span>—</span> Rodando Python com funções de AWS Lambda</li>
                <li><span>—</span> Gerenciamento de tarefas com AWS</li>
                <li><span>—</span> Serviços de gerenciamento com AWS Cloud/Watch</li>
                <li><span>—</span> Trabalhando com Sagemaker notebooks</li>
                <li><span>—</span> Rodando aplicações em máquinas virtuais de AWS EC2</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Criar um AWS Datalake e realizar a automação de pipeline de ingestão de dados.</p>
            </template>

            <template v-slot:part-title_9>Parte 09 — Big Data e Data Lake no AWS</template>
            <template v-slot:part-description_9>
              <p>
                Saiba como trabalhar com Spark, combinando-o com diferentes bibliotecas e estratégias de manipulação e processamento de dados em grandes quantidades. Crie Data lakes.
              </p>
              <ul>
                <li><span>—</span> Introdução ao Spark</li>
                <li><span>—</span> Trabalhando com Apache Spark</li>
                <li><span>—</span> Processamento de grande quantidade de dados</li>
                <li><span>—</span> Processamento de dados usando Pandas, PySpark e Pyarrow</li>
                <li><span>—</span> Trabalhando com Data lakes</li>
                <li><span>—</span> Extract load transform (ETL)</li>
              </ul>
              <p><b>Atividade</b></p>
              <p>Crie um Data lake no AWS e utiliza Python para extrair, transformar e carregar dados nele.</p>
            </template>
          </course-program>
        </div>
        <div class="course-routine-section">
          <course-routine>
            <template v-slot:title>Como é a rotina do curso</template>
            <template v-slot:course-routine-list>
              <course-routine-item>
                <template v-slot:index>1</template>
                <template v-slot:title>Aprenda sobre o tema</template>
                <template v-slot:description>O curso é composto por videoaulas detalhadas e de fácil entendimento.</template>
              </course-routine-item>
              <course-routine-item>
                <template v-slot:index>2</template>
                <template v-slot:title>Coloque o aprendizado em prática</template>
                <template v-slot:description>Atividades para praticar no ritmo mais apropriado para você.</template>
              </course-routine-item>
              <course-routine-item>
                <template v-slot:index>3</template>
                <template v-slot:title>Troque conhecimento com o tutor</template>
                <template v-slot:description>Correção individual dos trabalhos, com feedbacks para melhorias.</template>
              </course-routine-item>
              <course-routine-item>
                <template v-slot:index>4</template>
                <template v-slot:title>Produza trabalhos autorais</template>
                <template v-slot:description>Elaboração de projetos para consolidar o conhecimento adquirido. Grande oportunidade para enriquecer o seu currículo.</template>
              </course-routine-item>
            </template>
            <template v-slot:life-time-access>
              <life-time-access>
                <template v-slot:title>Life-Time Access</template>
                <template v-slot:description>Acesso ao curso por tempo ilimitado, relembre o conteúdo sempre que desejar</template>
                <template v-slot:img>
                  <img :src="require('~/assets/svg/analista-de-dados/life-time-access.svg')" alt="Lifetime access icon"/>
                </template>
              </life-time-access>
            </template>
          </course-routine>
        </div>
        <div class="summary-section">
          <summary-block>
            <template v-slot:title>Seu currículo no futuro</template>
            <template v-slot:person-name>Seu nome</template>
            <template v-slot:person-position>Analista de dados</template>
            <template v-slot:person-location>Salário</template>
            <template v-slot:person-salary>R$ 7.371/mês</template>
            <template v-slot:reference>Referência site Glassdoor.com.br</template>
            <template v-slot:avatar>
              <img :src="require('~/assets/images/analista-de-dados/summary_avatar.png')" alt="Analista de dados" />
            </template>
            <template v-slot:skill-list>
              <skill-item>
                <template v-slot:description>
                  Conhecimento em Python e SQL
                </template>
              </skill-item>
              <skill-item>
                <template v-slot:description>
                  Capacidade de criar soluções analíticas
                </template>
              </skill-item>
              <skill-item>
                <template v-slot:description>
                  Domínio de métodos quantitativos da matemática e da estatística
                </template>
              </skill-item>
              <skill-item>
                <template v-slot:description>
                  Orientação a objetos e atenção plena à qualidade dos códigos
                </template>
              </skill-item>
              <skill-item>
                <template v-slot:description>
                  Conhecimentos em Estruturas de Dados, Algoritmos e Arquitetura de Sistemas
                </template>
              </skill-item>
              <skill-item>
                <template v-slot:description>
                  Familiarizado com princípios ágeis
                </template>
              </skill-item>
            </template>
            <template v-slot:certificate>
              <img :src="require('~/assets/svg/analista-de-dados/analista-de-dados-certificado-pela-EBAC.svg')" alt="Certificado EBAC" />
            </template>
            <template v-slot:tools-list>
              <tool-item>
                <template v-slot:img>
                  <img :src="require('~/assets/svg/analista-de-dados/tool_1.svg')" alt="Logo Python" />
                </template>
              </tool-item>
              <tool-item>
                <template v-slot:img>
                  <img :src="require('~/assets/svg/analista-de-dados/tool_2.svg')" alt="Logo SQL" />
                </template>
              </tool-item>
              <tool-item>
                <template v-slot:img>
                  <img :src="require('~/assets/svg/analista-de-dados/tool_3.svg')" alt="Logo Pandas" />
                </template>
              </tool-item>
              <tool-item>
                <template v-slot:img>
                  <img :src="require('~/assets/svg/analista-de-dados/tool_4.svg')" alt="Logo Matplotlib" />
                </template>
              </tool-item>
              <tool-item>
                <template v-slot:img>
                  <img :src="require('~/assets/images/analista-de-dados/tool_5.png')" alt="Logo Seaborn" />
                </template>
              </tool-item>
            </template>
            <template v-slot:img-desktop>
              <img :src="require('~/assets/images/analista-de-dados/summary_background_desktop.png')" />
            </template>
            <template v-slot:img-mobile>
              <img :src="require('~/assets/images/analista-de-dados/summary_background_mobile.png')" />
            </template>
          </summary-block>
        </div>
        <div class="gift-section">
          <gift>
            <template v-slot:title>
              Grátis
            </template>
            <template v-slot:description>
              1 mês de curso de inglês
            </template>
            <template v-slot:img>
              <img :src="require('~/assets/images/analista-de-dados/gift_logo.png')" />
            </template>
            <template v-slot:additional-title>
              Os alunos da EBAC têm direito a:
            </template>
            <template v-slot:additional-description>
              <ul>
                <li><span>—</span> <div>1 mês de acesso à plataforma online da EF</div></li>
                <li><span>—</span> <div>16 níveis de inglês, totalmente grátis</div></li>
                <li><span>—</span> <div>Teste de nivelamento</div></li>
                <li><span>—</span> <div>Certificado reconhecido internacionalmente, ao final de cada nível</div></li>
              </ul>
            </template>
          </gift>
        </div>
        <div class="career-center-section">
          <career-center>
            <template #title>
              Fique mais próximo do seu objetivo profissional com o nosso Centro de Carreiras
            </template>
            <template #subtitle>
              Muitos dos nossos alunos conseguem oportunidades de trabalho durante ou logo depois a conclusão do curso
            </template>

            <template #career-plan>
              <career-plan career-bonus>
                <template #image>
                  <img :src="require('~/assets/svg/career-сenter/5.svg')" alt="Career plan logo">
                </template>
                <template #bonus>+ Curso bônus</template>
                <template #title>Plano de Carreira</template>
                <template #description>
                  A EBAC trabalha para que você alcance os seus objetivos! Na EBAC, focamos 100% na trajetória de nossos alunos não apenas ao longo de seus estudos, mas também para o ingresso no mercado de trabalho.
                </template>
              </career-plan>
            </template>

            <template #help-list>
              <help-item>
                <template #logo>
                  <img :src="require('~/assets/svg/career-сenter/1.svg')" />
                </template>
                <template #description>
                  Apoio para elaboração do currículo e perfil no LinkedIn
                </template>
              </help-item>
              <help-item>
                <template #logo>
                  <img :src="require('~/assets/svg/career-сenter/2.svg')" />
                </template>
                <template #description>
                  Orientação para processos seletivos, dinâmicas de grupo e entrevistas individuais
                </template>
              </help-item>
              <help-item>
                <template #logo>
                  <img :src="require('~/assets/svg/career-сenter/3.svg')" />
                </template>
                <template #description>
                  Aumento do conhecimento sobre o mercado de trabalho
                </template>
              </help-item>
              <help-item>
                <template #logo>
                  <img :src="require('~/assets/svg/career-сenter/4.svg')" />
                </template>
                <template #description>
                  Identificação de pontos fortes e preferências de carreira
                </template>
              </help-item>
            </template>
          </career-center>
        </div>
        <div class="form-section" id="formSection">
          <form-block
            :formId="FORM_ID"
            :price="price"
            :installmentPrice="installmentPrice"
            :date="date"
            @discount="onDiscount"
            @currentPrice="onCurrentPrice"
          >
            <template v-slot:img-desktop>
              <picture>
                <source :srcset="require('~/assets/images/analista-de-dados/background.webp')" type='image/webp' />
                <img decoding="async" :src="require('~/assets/images/analista-de-dados/background.jpg')" />
              </picture>
            </template>
            <template v-slot:img-mobile>
              <picture>
                <source :srcset="require('~/assets/images/analista-de-dados/background_mobile.webp')" type='image/webp' />
                <img decoding="async" :src="require('~/assets/images/analista-de-dados/background_mobile.png')" />
              </picture>
            </template>
          </form-block>
        </div>
        <div class="about-ebac-section">
          <about-e-b-a-c />
        </div>
        <div class="faq-section">
          <faq>
            <template v-slot:title>Perguntas frequentes</template>
            <template v-slot:part-title_1>Eu nunca trabalhei com análise de dados, vou conseguir acompanhar o curso?</template>
            <template v-slot:part-description_1>
              <p>
                Claro! Sem problemas. Este curso foi desenvolvido para que você mergulhe no universo da análise de dados e adquira conhecimentos que possam tanto incrementar seu currículo quanto te despertar para uma nova carreira. Não é preciso ter conhecimento prévio no assunto, apenas vontade de aprender.
              </p>
            </template>

            <template v-slot:part-title_2>Posso assistir os módulos fora de ordem?</template>
            <template v-slot:part-description_2>
              <p>
                Os módulos são liberados semanalmente, conforme a evolução do aluno no curso. Isso significa que você deve assistir os módulos em ordem e realizar as atividades propostas pelo professor antes de passar para o módulo seguinte.
              </p>
            </template>

            <template v-slot:part-title_3>Existe alguma atividade em grupo?</template>
            <template v-slot:part-description_3>
              <p>
                O curso foi desenvolvido pensando na sua evolução individual. Por isso, temos uma equipe de tutores para corrigir e dar feedbacks sobre as atividades realizadas por cada aluno. Você também pode conversar com outros alunos e fazer qualquer pergunta sobre o conteúdo das aulas para o tutor no Fórum.
              </p>
            </template>

            <template v-slot:part-title_4>Quanto tempo dura o curso? Consigo conciliar com outras atividades?</template>
            <template v-slot:part-description_4>
              <p>
                Este curso tem duração de mais de 47 horas de aula, mas o tempo de conclusão vai depender de você. As aulas estão disponíveis por tempo ilimitado na plataforma para acessar quando e onde quiser, avançando no seu ritmo, sem atrapalhar o trabalho ou a vida pessoal. Se você precisar, poderá assistir as aulas novamente, revisar conteúdos daqui algum tempo, além de tirar dúvidas com o tutor antes de prosseguir. A EBAC verificará as tarefas e fornecerá feedbacks por 2 anos (24 meses) a partir da data de matrícula do curso, mas os conteúdos continuarão disponíveis para você relembrar quando quiser.
              </p>
            </template>

            <template v-slot:part-title_5>O que eu preciso para fazer este curso?</template>
            <template v-slot:part-description_5>
              <p>
                Para este curso é recomendável que o participante tenha um computador com acesso à Internet.
              </p>
            </template>

            <template v-slot:part-title_6>Quantas horas por semana precisarei dedicar aos estudos?</template>
            <template v-slot:part-description_6>
              <p>
                Sugerimos que você complete um módulo por semana, o que dá um pouco mais de 2 horas entre assistir as aulas e realizar as atividades. Mas, não se preocupe, este prazo é apenas uma sugestão, ok? Você pode avançar no seu próprio ritmo, fazer pausas para absorver o conteúdo e assistir de novo, quantas vezes quiser, antes de prosseguir.
              </p>
            </template>

            <template v-slot:part-title_7>Eu posso tirar dúvidas com o tutor?</template>
            <template v-slot:part-description_7>
              <p>
                Dentro da plataforma, você terá um tutor que irá comentar as suas tarefas e dar dicas. Você terá a chance de aprender mais com a experiência dos nossos professores, que são líderes do mercado nas suas áreas, e aproveitar para adquirir novos conhecimentos.
              </p>
            </template>
          </faq>
        </div>
        <div class="recommend-section">
          <recommend :nomenclatures="recommendNomenclatures">
            <template #title>
              {{ $t('recommend.title') }}
            </template>
          </recommend>
        </div>
        <div class="breadcrumbs-section">
          <breadcrumbs
            :name="nomenclatureInfo.name"
            :type="nomenclatureInfo.type"
            :page-url="nomenclatureInfo.pageUrl"
          />
        </div>
      </div>
    </main>
  </v-app>
</template>

<script>
import Vue from 'vue'

import { SOURCE_ID } from './-const'
import defer from '../../mixins/defer'
import Breadcrumbs from '@/components/common/breadcrumbs.vue';
import getEternalEndDate from '@/utils/getEternalEndDate'
const FORM_ID = SOURCE_ID;

export default {
  name: 'AnalistaDeDados',
  meta: {
    show: ['br'],
    isLandingPage: true,
  },
  mixins: [defer()],
  head() {
    return {
      title: 'Curso de Análise de Dados – aprenda a profissão com EBAC Online',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: 'https://ebaconline.com.br/analista-de-dados-landing',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Curso de Análise de Dados – aprenda a profissão com EBAC Online',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
      link: [
        { rel: 'preload', as: 'image', href: require('~/assets/images/analista-de-dados/background_mobile.webp') },
      ]
    }
  },
  created() {
    this.FORM_ID = FORM_ID;
  },
  data() {
    return {
      discount: null,
      price: {
        animate: false,
        currentPrice: 0,
        currentPriceDefault: 0,
        discountPercent: 0,
        beforeDiscount: 0,
        provi: {
          enable: false,
          pricePerMonth: null,
          totalPrice: null,
          entrancePrice: null
        }
      },
      isMiuiBrowser: false,
      discountDate: null,
      recommendNomenclatures: [],
      nomenclatureInfo: {
        type: 1,
        name: null
      },
      date: {
        autoDate: true,
        startDate: null
      }
    }
  },
  mounted() {
    this.isMiuiBrowser = window.navigator.userAgent.indexOf('MiuiBrowser') !== -1;

    if (window.dataLayer) {
      this.$gtm.push({ 'source_id': SOURCE_ID, 'event': 'CoursePageView' });
    }

    this.recommendNomenclatures = [
      {
        "type": 1,
        "name": "Cientista de Dados",
        "pageUrl": "https://ebaconline.com.br/cientista-de-dados",
        "slug": "cientista-de-dados",
        "duration": 10,
        "comingSoon": false,
        "backgroundColor": "FFFCB3",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild3266-3132-4235-a436-626136313665__gzcehrfy3hygxpj8wkbb.svg",
          }
        },
      },
      {
        "type": 0,
        "name": "Python para Análise de Dados",
        "pageUrl": "https://ebaconline.com.br/python-para-dados",
        "slug": "python-para-dados",
        "duration": 2,
        "comingSoon": false,
        "backgroundColor": "428EFF",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild3365-3531-4662-b633-333466613164__a49h74pwnk3vxxertmqk.svg",
          }
        },
      },
      {
        "type": 0,
        "name": "SQL para Análise de Dados",
        "pageUrl": "https://ebaconline.com.br/sql-para-dados",
        "slug": "sql-para-dados",
        "duration": 2,
        "comingSoon": false,
        "backgroundColor": "C9A3E9",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild6366-6135-4739-b935-363763663631__hrtd9mnthqcqadzavynx.svg",
          }
        },
      },
      {
        "type": 0,
        "name": "Big Data do Zero",
        "pageUrl": "https://ebaconline.com.br/big-data",
        "slug": "big-data",
        "duration": 5,
        "comingSoon": false,
        "backgroundColor": "FFF7CF",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild3633-3136-4631-a265-306433653738__am9pxhycldpfpxnpe7jn.svg",
          }
        },
      },
      {
        "type": 0,
        "name": "Tableau do Zero ao Pro",
        "pageUrl": "https://ebaconline.com.br/tableau",
        "slug": "tableau",
        "duration": 3,
        "comingSoon": false,
        "backgroundColor": "FFEACA",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild3730-3563-4965-a538-343530326164__jdzvjqmg8w3mnjyj6j7u.svg",
          }
        },
      },
      {
        "type": 0,
        "name": "Power BI",
        "pageUrl": "https://ebaconline.com.br/power-bi",
        "slug": "power-bi",
        "duration": 4,
        "comingSoon": false,
        "backgroundColor": "E5FFD9",
        "images": {
          "showcaseImage": {
            "description": "",
            "url": "https://ebaconline.com.br/images/tild3937-3963-4930-b831-313063363762__mbxritadzpk4tckcb9ny.svg",
          }
        },
      },
    ]
  },
  computed: {
    installmentPrice() {
      const currentPrice = this.price.currentPrice;
      return (currentPrice / 12).toFixed(2);
    },
    totalDiscountPercent() {
      const promoCodeDiscount = this.discount;
      const discount = this.price.discountPercent;
      return Number(promoCodeDiscount) + discount;
    },
  },
  async fetch() {
    this.discountDate = getEternalEndDate().toLocaleDateString(this.$i18n.locale, { day: 'numeric', month: 'long'});

    let response;
    try {
      response = await this.$axios({
        method: 'post',
        url: `${this.$nuxt.$config.CMS_REST_API}/public/source/`,
        data: {
          id: FORM_ID,
        }
      });
    } catch (e) {
      console.error(e);
      // error({ statusCode: 500, message: 'Os trabalhos técnicos estão em andamento' });
      // throw e;
    }
    if (response) {
      if (response.data.error) throw new Error(`An error occurred while executing the query (${response.data.error})`);
      this.price.animate = false;
      this.price.currentPrice = this.price.currentPriceDefault = Number(response.data.data.nomenclaturePrice.price);
      this.price.beforeDiscount = Number(response.data.data.nomenclature.basePrice);
      this.price.discountPercent = Number(response.data.data.priceType.percent);
      this.nomenclatureInfo = response.data.data.nomenclature;
      this.date.autoDate = response.data.data.formAutodate;
      this.date.startDate = response.data.data.formDate;
      this.price.provi.enable =  response.data.data.formProvi;
      this.price.provi.pricePerMonth = Number(response.data.data.formProviPricePart);
      this.price.provi.totalPrice = Number(response.data.data.formProviPriceFull);
      this.price.provi.entrancePrice = this.getProviEntrancePrice(this.price.provi.totalPrice, this.price.provi.pricePerMonth);
      await Vue.nextTick();

      this.price.animate = true;
    }
  },
  methods: {
    onDiscount(value) {
      this.discount = value;
    },
    onCurrentPrice(value) {
      this.price.currentPrice = value;
    },
    getProviEntrancePrice(totalPrice, perMonthPrice) {
      return Number((totalPrice - perMonthPrice * 24).toFixed(2));
    }
  },
  components: {
    portfolioItem: () => import('../../components/template/aboutWhat/portfolioItem'),
    partnerBlock: () => import('../../components/template/partnerBlock'),
    firstBlock: () => import('../../components/template/firstBlock'),
    trailer: () => import('../../components/template/trailer'),
    benefits: () => import('../../components/template/benefits'),
    benefitsListItem: () => import('../../components/template/benefits/listItem'),
    salary: () => import('../../components/template/salary'),
    positionItem: () => import('../../components/template/salary/positionItem'),
    targetAudience: () => import('../../components/template/targetAudience'),
    targetAudienceItem: () => import('../../components/template/targetAudience/targetAudienceItem'),
    aboutWhat: () => import('../../components/template/aboutWhat'),
    topicItem: () => import('../../components/template/aboutWhat/topicItem'),
    courseTeacher: () => import('../../components/template/courseTeacher'),
    teacher: () => import('../../components/template/courseTeacher/teacher'),
    teacherSkill: () => import('../../components/template/courseTeacher/teacherSkill'),
    courseProgram: () => import('../../components/template/courseProgram'),
    courseRoutine: () => import('../../components/template/courseRoutine'),
    courseRoutineItem: () => import('../../components/template/courseRoutine/courseRoutineItem'),
    lifeTimeAccess: () => import('../../components/template/courseRoutine/lifeTimeAccess'),
    summaryBlock: () => import('../../components/template/summary'),
    skillItem: () => import('../../components/template/summary/skillItem'),
    toolItem: () => import('../../components/template/summary/toolItem'),
    gift: () => import('../../components/template/gift'),
    careerCenter: () => import('../../components/template/careerCenter'),
    helpItem: () => import('../../components/template/careerCenter/helpItem'),
    careerPlan: () => import('../../components/template/careerCenter/careerPlan'),
    formBlock: () => import('../../components/template/form'),
    aboutEBAC: () => import('../../components/template/aboutEBAC'),
    faq: () => import('../../components/template/faq'),
    floatingFormButtonBlock: () => import('../../components/template/floatingFormButtonBlock'),
    breadcrumbs: () => import('../../components/template/breadcrumbs'),
    recommend: () => import('../../components/template/recommend'),
  },
}
</script>

<style
  lang="sass"
  scoped
>
@import "style/ui-kit/vars.sass"

.first-section
  position: relative
  z-index: 4
  &::v-deep
    & .first-block__additional-content-item_1
      //@media (min-width: $tb)
      //  max-width: 119px!important
      @media (min-width: $md)
        max-width: 160px!important
    & .first-block__additional-content-item_2
      //@media (min-width: $tb)
      //  max-width: 126px!important
      @media (min-width: $md)
        max-width: 266px!important
        & .additional-content-item__subtitle
          max-width: 233px
    & .first-block__additional-content-item_3
      //@media (min-width: $tb)
      //  max-width: 181px!important
      @media (min-width: $md)
        max-width: 162px!important
      @media (min-width: $lp)
        max-width: 281px!important
    & .first-block__additional-content-item_4
      //@media (min-width: $tb)
      //  max-width: 183px!important
      @media (min-width: $md)
        max-width: 195px!important
.salary-section
  &::v-deep
    & .position-list
      & .position-item
        //@media (min-width: $tb)
        //  width: 216px
        @media (min-width: $md)
          width: 293px
        @media (min-width: $lp)
          width: 365px
        &:nth-child(2)
          //@media (min-width: $tb)
          //  margin-top: 57px
          @media (min-width: $md)
            margin-top: 58px
        &:last-child
          //@media (min-width: $tb)
          //  margin-top: 114px
          @media (min-width: $md)
            margin-top: 115px

.recommend-section
  background-color: #F5F5F5
</style>
