<template>
  <v-app>
    <main>
      <thankYouPage :sourceId="SOURCE_ID" />
    </main>
  </v-app>
</template>

<script>
import thankYouPage from '../../components/template/thankYouPageTildaDesign'

import { SOURCE_ID } from './-const'

export default {
  name: 'ThankYouPage',
  meta: {
    show: ['br'],
  },
  layout: 'blank',
  head() {
    return {
      title: 'Thank you! | Course Analista de Dados',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: 'https://ebaconline.com.br/analista-de-dados-landing/thankyou',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Thank you! | Course Analista de Dados',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Aprenda online a profissão de analista de dados em 11 meses com certificado para processar dados rapidamente e agilizar o seu trabalho.',
        },
        {
          hid: 'og:type',
          name: 'og:type',
          content: 'website',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `https://${this.$store?.state?.host}${require(`~/assets/${this.$app?.config?.common?.currentCountry}/svg/ebac-logo.svg`)}`
        },
      ],
    }
  },
  created() {
    this.SOURCE_ID = SOURCE_ID;
  },
  mounted() {
    const context = this.$route.query.context;
    if (window.dataLayer && context) {
      this.$gtm.push({ 'client_order_id': this.$route.query.context });
    }
  },
  components: {
    thankYouPage
  },
}
</script>

<style
  lang="sass"
  scoped
>
</style>
