<template>
  <div class="summary-block">
    <div class="summary-block-content">
      <div class="summary-block-header">
        <div class="img-desktop">
          <slot name="img-desktop">v-slot:img-desktop</slot>
        </div>
        <div class="img-mobile">
          <slot name="img-mobile">v-slot:img-mobile</slot>
        </div>
        <div class="m-container">
          <h2 class="h2">
            <slot name="title">v-slot:title</slot>
          </h2>
        </div>
      </div>
      <div class="m-container">
        <div class="certificate">
          <div class="certificate__title">Certificado pela EBAC: </div>
          <slot name="certificate">v-slot:certificate</slot>
        </div>
        <div class="summary-block-main">
          <div class="summary-block-main__header">
            <div class="summary-block-main__block-one">
              <div class="avatar">
                <slot name="avatar">v-slot:avatar</slot>
              </div>
              <div class="person-info">
                <div class="person-info__name">
                  <slot name="person-name">v-slot:person-name</slot>
                </div>
                <div class="person-info__position">
                  <slot name="person-position">v-slot:person-position</slot>
                </div>
              </div>
            </div>
            <div class="summary-block-main__block-two">
              <div class="location">
                <slot name="person-location">v-slot:person-location</slot>
              </div>
              <div class="salary">
                <slot name="person-salary">v-slot:person-salary</slot>
              </div>
              <div class="reference">
                <slot name="reference">v-slot:person-salary</slot>
              </div>
            </div>
          </div>
          <div class="separator" />
          <div class="skills">
            <h3 class="h3 skills__title">Habilidades</h3>
            <div class="skills__list">
              <slot name="skill-list">v-slot:skill-list</slot>
            </div>
          </div>
          <div class="separator separator_skill" />
          <div class="tools">
            <h3 class="h3 tools__title">Conhecimento das ferramentas</h3>
            <div class="tools__list">
              <slot name="tools-list">v-slot:tools-list</slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SummaryBlock',
}
</script>

<style
  lang="sass"
  scoped
>
  .summary-block-header
    height: 220px
    padding-top: 40px
    position: relative
    //@media (min-width: $tb)
    //  padding-top: 48px
    @media (min-width: $md)
      padding-top: 80px
      height: 272px
    & .img-desktop, & .img-mobile
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      overflow: hidden
    & .img-desktop
      display: none
      @media (min-width: $md)
        display: block
    & .img-mobile
      @media (min-width: $md)
        display: none
    & img
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      width: 100%
      height: 100%
    & .h2
      font-weight: 600
      font-size: 32px
      line-height: 38px
      text-align: center
      color: #FFFFFF
      margin: 0
      //@media (min-width: $tb)
      //  font-size: 48px
      //  line-height: 56px
      @media (min-width: $md)
        width: 293px
        text-align: left
        font-size: 48px
        line-height: 56px
        font-weight: 700
      @media (min-width: $lp)
        width: 303px
  .summary-block-content > .m-container
    @media (min-width: $md)
      align-items: flex-start
      justify-content: space-between
      flex-direction: row
    flex-direction: column-reverse
  .summary-block-main
    background: #fff
    box-shadow: 0 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1)
    border-radius: 12px
    margin-top: -80px
    padding: 20px 20px 24px 20px
    max-width: 582px
    //@media (min-width: $tb)
    //  padding: 40px 37px 40px 32px
    //  width: 582px
    //  max-width: 100%
    //  margin-top: -84px
    @media (min-width: $md)
      padding: 40px 40px 48px 40px
      width: 619px
      margin-top: -192px
      max-width: 100%
    @media (min-width: $lp)
      width: 763px
      margin-top: -192px
    &__block-one
      display: flex
    &__block-two
      margin-left: 80px
      @media (min-width: $md)
        margin-left: 0
    &__header
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      @media (min-width: $md)
        display: flex
        justify-content: space-between
    & .h3
      font-weight: 600
      font-size: 16px
      line-height: 20px
      color: #101010
      margin: 0
      @media (min-width: $md)
        font-size: 24px
        line-height: 28px
  .m-container
    display: flex
    align-items: center
    justify-content: center
    position: relative
    @media (min-width: $md)
      justify-content: flex-end
  .summary-block-header
    & .m-container
      //@media (min-width: $tb)
      //  justify-content: center
      @media (min-width: $md)
        justify-content: flex-start
  .person-info
    margin-left: 16px
    display: flex
    flex-direction: column
    justify-content: center
    @media (min-width: $md)
      margin-left: 22px
    &__name
      font-weight: 600
      font-size: 16px
      line-height: 20px
      color: #101010
      @media (min-width: $md)
        font-size: 24px
        line-height: 28px
    &__position
      font-size: 18px
      line-height: 24px
      color: #101010
      margin-top: 4px
      @media (min-width: $md)
        font-size: 24px
        line-height: 32px
  .avatar
    & img
      height: 64px
      width: 64px
      @media (min-width: $md)
        height: 92px
        width: 92px
  .location
    font-size: 16px
    line-height: 24px
    color: #101010
    margin-top: 8px
    //@media (min-width: $tb)
    //  margin-top: 0
    //  text-align: right
    @media (min-width: $md)
      font-size: 18px
      line-height: 24px
      margin-top: 0
      text-align: right
  .salary
    font-weight: 600
    font-size: 16px
    line-height: 20px
    color: #101010
    margin-top: 4px
    //@media (min-width: $tb)
    //  text-align: right
    @media (min-width: $md)
      text-align: right
      font-size: 24px
      line-height: 28px
      margin-top: 5px
  .reference
    font-size: 14px
    line-height: 16px
    color: #BDBDBD
    margin-top: 4px
    //@media (min-width: $tb)
    //  text-align: right
    @media (min-width: $md)
      text-align: right
      font-size: 16px
      line-height: 22px
  .separator
    height: 1px
    background: #000000
    opacity: 0.08
    margin: 24px 0
    //@media (min-width: $tb)
    //  margin: 32px 0
    @media (min-width: $md)
      margin: 38px 0
    &_skill
      @media (min-width: $md)
        margin-top: 48px
        margin-bottom: 40px
      @media (min-width: $lp)
        margin-top: 60px
        margin-bottom: 40px
    &_certificate
      @media (min-width: $md)
        margin: 40px 0
  .skills
    &__list
      display: flex
      flex-wrap: wrap
      justify-content: space-between
  .certificate
    @media (min-width: $xs)
      max-width: 582px
      display: flex
      align-items: center
    @media (min-width: $md)
      margin-top: 120px
      flex-basis: 298px
      display: block
    @media (min-width: $lp)
      flex-basis: 328px
    margin-top: 50px
    display: block
    max-width: 100%
    &__title
      font-size: 24px
      font-weight: 700
      line-height: 1.55
      margin-bottom: 20px
    & > img
      @media (min-width: $xs)
        width: 238px
        margin-left: 30px
      @media (min-width: $md)
        width:100%
        margin-left: auto
      border-radius: 12px
      border: 1px solid #d9d9d9
      width: 100%
  .tools
    &__list
      display: flex
      flex-wrap: wrap
      padding-top: 19px
      margin-left: -14px
      margin-top: -14px
      //@media (min-width: $tb)
      //  padding-top: 24px
      //  margin-left: -24px
      //  margin-top: -24px
      @media (min-width: $md)
        padding-top: 28px
        margin-left: -20px
        margin-top: -20px
      @media (min-width: $lp)
        padding-top: 28px
        margin-left: -24px
        margin-top: -24px
</style>
