<template>
  <div class="skill-item">
    <div class="description">
      <slot name="description">v-slot:description</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillItem',
}
</script>

<style
  lang="sass"
  scoped
>
  .skill-item
    position: relative
    margin-top: 55px
    width: 240px
    //@media (min-width: $tb)
    //  margin-top: 63px
    //  width: 244px
    @media (min-width: $md)
      margin-top: 75px
      width: 253px
    @media (min-width: $lp)
      width: 326px
    &:before
      content: ''
      position: absolute
      top: -28px
      width: 20px
      height: 20px
      background-image: url(~@/assets/svg/template/list-hexagon.svg)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      @media (min-width: $md)
        top: -36px
  .description
    font-size: 16px
    line-height: 24px
    color: #101010
    margin-top: 16px
    @media (min-width: $md)
      font-size: 18px
</style>
