<template>
  <div class="tool-item">
    <slot name="img">v-slot:img</slot>
  </div>
</template>

<script>
export default {
  name: 'ToolItem',
}
</script>

<style
  lang="sass"
  scoped
>
  .tool-item
    height: 70px
    width: 70px
    background: #F5F5F5
    border-radius: 8px
    display: flex
    justify-content: center
    align-items: center
    margin-top: 14px
    margin-left: 14px
    //@media (min-width: $tb)
    //  height: 80px
    //  width: 80px
    //  margin-left: 24px
    //  margin-top: 24px
    @media (min-width: $md)
      height: 100px
      width: 100px
      margin-left: 20px
      margin-top: 20px
    @media (min-width: $lp)
      margin-left: 24px
      margin-top: 24px
    & img
      height: 100%
      width: 100%
      //@media (min-width: $tb)
      //  height: 46px
      //  width: 46px
      //@media (min-width: $md)
      //  height: 60px
      //  width: 60px
</style>
