<template>
  <div
    class="course-teacher-block"
    :class="{
      'course-teacher-block_one': displayType === 'one',
      'course-teacher-block_many': displayType === 'many',
    }"
  >
    <div class="m-container">
      <div class="course-teacher-block-content">
        <h2 class="h2">
          <slot name="title">v-slot:title</slot>
        </h2>
      </div>
    </div>

    <contentList
      v-if="displayType === 'many'"
      sliderId="course-teachers-slider"
      contentClass="course-teachers-block__slider"
      class="teachers-slider"
    >
      <template v-slot:items>
        <div
          v-for="(slotName, index) of teachers"
          class="swiper-slide"
        >
          <slot
            :name="slotName"
            :displayType="displayType"
            :index="index"
          >v-slot:teacher_[number]</slot>
        </div>
      </template>
    </contentList>

    <div class="teachers-list">
      <slot
        v-for="(slotName, index) of teachers"
        :name="slotName"
        :displayType="displayType"
        :index="index"
      >v-slot:teacher_[number]</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CourseTeacherBlock',
  computed: {
    teachers() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('teacher'));
    },
    displayType() {
      const teachers = this.teachers;
      return teachers.length > 1 ? 'many' : 'one';
    },
  },
  components: {
    contentList: () => import('../../../components/common/contentListV2'),
  },
}
</script>

<style
  lang="sass"
  scoped
>
.course-teacher-block
  &_many
    & .teachers-list
      display: none
      @media (min-width: $tb)
        display: block
    & .teachers-slider
      display: block
      @media (min-width: $tb)
        display: none
      &::v-deep .course-teachers-block__slider
        & .swiper-slide
          margin-right: 20px
          &:first-child
            & .teacher
              margin-left: 20px
  &_one
    & .teachers-list
      display: block
    & .teachers-slider
      display: none

.h2
  font-weight: 600
  font-size: 24px
  line-height: 28px
  color: #000
  margin: 0
  @media (min-width: $md)
    text-align: center
    font-size: 48px
    line-height: 56px
    font-weight: 700
.course-teacher-block
  margin-top: 40px
  @media (min-width: $md)
    margin-top: 80px
</style>
