<template>
  <div
    class="teacher"
    :class="{
      'teacher_mirror-display': isMirrorDisplay,
      'teacher_margin': isMargin,
      'teacher_one': displayType === 'one',
      'teacher_many': displayType === 'many',
    }"
  >
    <div class="m-container">
      <div class="blocks-wrapper">
        <div class="block-1">
          <div class="mobile-img">
            <slot name="mobile-img">v-slot:mobile-img</slot>
            <div class="img-shadow" />
          </div>
          <div class="desktop-img">
            <slot name="desktop-img">v-slot:desktop-img</slot>
            <div class="img-shadow" />
          </div>
        </div>
        <div class="block-2">
          <div class="about-teacher">
            <div class="about-teacher__name">
              <slot name="name">v-slot:name</slot>
            </div>
            <div class="about-teacher__position">
              <slot name="position">v-slot:position</slot>
            </div>
            <div class="companies companies_badge">
              <slot
                v-for="(slotName, index) of companies"
                :name="slotName"
              >v-slot:company_[number]</slot>
            </div>
            <div class="about-teacher__description">
              <slot name="description">v-slot:description</slot>
            </div>
          </div>
          <div class="companies companies_img">
            <slot
              v-for="(slotName, index) of companies"
              :name="slotName"
            >v-slot:company_[number]</slot>
          </div>
        </div>
      </div>
    </div>

    <contentList
      sliderId="course-teacher-slider"
      contentClass="course-teacher-block__slider"
    >
      <template v-slot:items>
        <div
          v-for="(slotName, index) of companies"
          class="swiper-slide"
        >
          <slot :name="slotName">v-slot:company_[number]</slot>
        </div>
      </template>
    </contentList>
  </div>
</template>

<script>
export default {
  name: 'Teacher',
  props: [
    'displayType',
    'index',
  ],
  provide() {
    return {
      displayType: this.displayType,
    }
  },
  computed: {
    companies() {
      const allSlots = this.$scopedSlots;
      const allSlotsKeys = Object.keys(allSlots);

      return allSlotsKeys.filter(key => !!~key.indexOf('company'));
    },
    isMirrorDisplay() {
      const index = this.index;
      return index % 2 !== 0;
    },
    isMargin() {
      const index = this.index;
      return index > 0;
    },
  },
  components: {
    contentList: () => import('../../../components/common/contentListV2'),
  },
}
</script>

<style
  lang="sass"
  scoped
>
.teacher
  &_mirror-display
    & .block-1
      order: 2
    & .block-2
      @media (min-width: $md)
        margin-left: 0
        margin-right: 113px
      @media (min-width: $lp)
        margin-left: 0
        margin-right: 139px
  &_margin
    margin-top: 86px
    @media (min-width: $lp)
      margin-top: 0
  &_margin.teacher_many
    margin: 0
    @media (min-width: $tb)
      margin-top: 86px
  &_one
    & .companies_badge
      display: none
    & .companies_img
      display: none
      flex-wrap: wrap
      margin-top: 33px
      margin-left: -32px
      margin-bottom: -32px
      @media (min-width: $tb)
        display: flex
      @media (min-width: $lp)
        margin-top: 28px
  &_many
    width: 260px
    @media (min-width: $tb)
      width: auto
    & .about-teacher
      margin-top: 32px
      @media (min-width: $md)
        margin-top: 0
    & .m-container
      padding: 0
    & .mobile-img
      width: 260px
      height: 300px
      @media (min-width: $tb)
        width: 375px
        height: 508px
      & img
        width: 260px
        height: 300px
        @media (min-width: $tb)
          width: 375px
          height: 508px
    & .img-shadow
      display: none
      @media (min-width: $tb)
        display: block
    & .content-list-v2
      display: none
    & .companies_badge
      padding-top: 12px
      display: flex
      flex-wrap: wrap
      margin-left: -8px
      margin-top: -8px
      @media (min-width: $md)
        display: none
    & .companies_img
      display: none
      flex-wrap: wrap
      margin-top: 33px
      margin-left: -32px
      margin-bottom: -32px
      @media (min-width: $md)
        display: flex
      @media (min-width: $lp)
        margin-top: 28px

.blocks-wrapper
  margin-top: 32px
  @media (min-width: $md)
    margin-top: 48px
    display: flex
    justify-content: space-between
  @media (min-width: $lp)
    margin-top: 80px

.block-2
  @media (min-width: $md)
    width: 456px
    margin-left: 113px
  @media (min-width: $lp)
    width: 563px
    margin-left: 139px

.about-teacher
  margin-top: 40px
  @media (min-width: $md)
    margin-top: 0
  &__name
    font-weight: 600
    font-size: 20px
    line-height: 26px
    color: #000000
    @media (min-width: $md)
      font-size: 32px
      line-height: 38px
  &__position
    font-size: 18px
    line-height: 24px
    color: #000000
    margin-top: 12px
    @media (min-width: $md)
      font-size: 24px
      line-height: 32px
  &__description
    font-size: 16px
    line-height: 24px
    color: #000000
    margin-top: 20px
    @media (min-width: $md)
      font-size: 18px
      line-height: 24px

.mobile-img
  position: relative
  width: 280px
  margin: 0 auto
  @media (min-width: $md)
    width: 375px
    height: 508px
  @media (min-width: $lp)
    display: none
  img
    width: 280px
    height: 352px
    object-fit: cover
    object-position: top center
    border-radius: 12px
    z-index: 1
    position: relative
    @media (min-width: $md)
      width: 375px
      height: 508px

.desktop-img
  position: relative
  display: none
  @media (min-width: $lp)
    display: block
  img
    object-fit: cover
    border-radius: 12px
    z-index: 1
    position: relative
    width: 456px
    height: 508px

.img-shadow
  position: absolute
  left: 8px
  right: -8px
  bottom: -8px
  top: 8px
  background: #905db4
  border-radius: 16px
  @media (min-width: $md)
    left: 16px
    right: -16px
    bottom: -16px
    top: 16px

.content-list-v2
  margin-top: 20px
  @media (min-width: $tb)
    display: none

.course-teacher-block__slider
  & .swiper-slide
    margin-left: 16px
    width: auto
    &:first-child
      margin-left: 20px
    &:last-child
      margin-right: 20px

.content-list
  margin-top: 20px
</style>
