<template>
  <div
    class="company"
    :class="{
      'company_one': displayType === 'one',
      'company_many': displayType === 'many',
    }"
  >
    <div class="slider-img-wrapper">
      <slot name="img">v-slot:img</slot>
    </div>
    <div class="company__name">
      <slot name="name">v-slot:name</slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'teacherSkill',
  inject: ['displayType'],
}
</script>

<style
  lang="sass"
  scoped
>
.company
  &_one
    @media (min-width: $tb)
      margin-left: 28px
      margin-bottom: 28px
    @media (min-width: $md)
      margin-left: 32px
      margin-bottom: 32px
    & .company__name
      display: none
  &_many
    @media (min-width: $md)
      margin-left: 32px
      margin-bottom: 32px
    & .slider-img-wrapper
      display: none
      @media (min-width: $md)
        display: flex
    & .company__name
      @media (min-width: $md)
        display: none
  &__name
    background: #905DB4
    border-radius: 4px
    display: flex
    flex-direction: row
    align-items: center
    padding: 4px 8px
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
    margin-left: 8px
    margin-top: 8px

.slider-img-wrapper
  width: 93px
  height: 72px
  background: #F5F5F5
  border-radius: 8px
  display: flex
  justify-content: center
  align-items: center
  &::v-deep img
    width: 66px
    height: 40px
    @media (min-width: $md)
      width: 91px
      height: 54px
    @media (min-width: $lp)
      width: 127px
      height: 75px
  @media (min-width: $md)
    width: 130px
    height: 79px
  @media (min-width: $lp)
    width: 166px
    height: 100px
</style>
