<template>
  <div class="offer">
    <div class="m-container">
      <div class="content-wrap">
        <h1>{{ $t('offer.title') }}</h1>
        <div
          v-if="offer.order"
          class="text-muted"
        >{{ $t('offer.orderId', { id: offer.order.externalId }) }}</div>
      </div>

      <div class="description">{{ $t('offer.description') }}</div>

      <div class="row">
        <div class="col offer_courses">
          <h4>{{ $t('offer.courses') }}</h4>
          <Courses :courses="offer.products" v-if="!loading" />
          <CoursesSkeleton v-else />

          <OfferForm />

          <div class="offer-help text-muted">
            Need help? Email us at
            <br />
            <a href="mailto:supprt@ebaconline.com.br" target="_blank">supprt@ebaconline.com.br</a>
          </div>
        </div>
        <div class="col">
          <PaymentCard :offer="offer" v-if="!loading" />
          <PaymentCardSkeleton v-else />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Courses from "@/components/offers/courses.vue";
import PaymentCard from "@/components/offers/paymentCard.vue";
import PaymentCardSkeleton from "@/components/offers/paymentCardSkeleton.vue";
import CoursesSkeleton from "@/components/offers/coursesSkeleton.vue";
import OfferForm from "@/components/offers/offerForm.vue";

export default {
  name: "OfferPage",
  head() {
    return {
      meta: [
        {
          hid: "robots",
          name: "robots",
          content: "noindex",
        },
      ],
    };
  },
  data() {
    return {
      offer: {},
      loading: true,
    };
  },
  computed: {},
  methods: {
    getCurrency(currency) {
      const currencyNumber = Number(currency);
      if ((currencyNumber ^ 0) === currencyNumber) {
        return this.$n(currencyNumber, "currencyNoCents");
      } else {
        return this.$n(currencyNumber, "currency");
      }
    },
  },
  async fetch() {
    try {
      this.loading = true;
      const response = await this.$axios({
        method: "get",
        url: `${this.$nuxt.$config.BILLING_REST_API}/offer/${this.$route.params.offer}`,
        params: {
          populate: [
            "products",
            "paymentLinks.mercadopago",
            "paymentLinks.provi",
            "paymentLinks.provi_checkout",
            "order",
          ],
        },
      });
      if (response.data.result === null) throw new Error();
      this.offer = response.data.result;

      this.loading = false;
    } catch (error) {
      this.$nuxt.error({ statusCode: 404, message: "Offer not found" });
    }
  },
  components: {
    Courses,
    PaymentCard,
    PaymentCardSkeleton,
    CoursesSkeleton,
    OfferForm,
  },
};
</script>

<style lang="sass">
.offer
  background-color: #E5E5E5
  padding: 64px 0 120px 0
  @media (max-width: 767px)
    padding: 32px 0 120px 0
  & h1
    color: #22053D
    font-size: 64px
    line-height: 72px
    letter-spacing: -1.4px
    margin-top: 0
    margin-bottom: 24px
    @media (max-width: 767px)
      margin-bottom: 8px
      font-size: 36px
      line-height: 46px
  & h4
    color: #000000
    font-size: 24px
    line-height: 34px
    letter-spacing: -0.4px
    font-weight: 500
    margin-bottom: 24px
    @media (max-width: 767px)
      font-size: 18px
      line-height: 24px
      letter-spacing: -0.2px
      padding: 0 20px
  & .description
    max-width: 763px
    font-size: 16px
    line-height: 26px
    padding-bottom: 40px
    @media (max-width: 767px)
      padding-bottom: 32px
      font-size: 14px
      line-height: 24px
  & .content-wrap
    margin: 0
    color: #10001F
    display: flex
    align-items: center
    justify-content: space-between
    @media (min-width: 1280px)
      margin: 0
    @media (max-width: 767px)
      flex-direction: column
      align-items: flex-start
      margin-bottom: 12px
    & .text-muted
      color: #838285
      font-size: 14px
      line-height: 24px
      @media (max-width: 767px)
        font-size: 12px
        line-height: 20px
  & .row
    padding-top: 58px
    display: flex
    column-gap: 32px
    @media (max-width: 767px)
      padding-top: 0
      flex-direction: column
      column-gap: 0
      row-gap: 32px
      margin: 0 -20px
  & .col
    flex: 1
  & &_courses
    flex: 2
    margin-top: -58px
    @media (max-width: 767px)
      margin-top: 0
      order: 2
  &-help
    margin-top: 24px
    font-size: 14px
    line-height: 24px
    & a
      color: #7B2CBF
      text-decoration: none
    & br
      display: none
    @media (max-width: 767px)
      margin-top: 20px
      font-size: 12px
      line-height: 20px
      padding: 0 20px
      & br
        display: inherit
</style>
