<template>
  <div>
    <v-dialog
      v-model="localModel"
      max-width="490"
    >
      <v-card
        class="success-dialog"
      >
        <div
          @click="localModel = false"
          class="close-dialog"
        />

        <div @click="nameDisplayedComponent = 'login'">login</div>
        <div @click="nameDisplayedComponent = 'registration'">registration</div>
        <div @click="nameDisplayedComponent = 'restorePassword'">restorePassword</div>

        <loginForm
          v-if="nameDisplayedComponent === 'login'"
          :closeDialogFunc="closeDialog"
        />
        <registrationForm
          v-if="nameDisplayedComponent === 'registration'"
        />
        <restorePasswordForm
          v-if="nameDisplayedComponent === 'restorePassword'"
        />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import loginForm from './loginForm'
import registrationForm from './registrationForm'
import restorePasswordForm from './restorePasswordForm'

export default {
  name: 'AuthDialog',
  props: [
    'value',
  ],
  data() {
    return {
      nameDisplayedComponent: 'login',
    }
  },
  computed: {
    localModel: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  },
  methods: {
    closeDialog() {
      this.localModel = false;
    },
  },
  components: {
    loginForm,
    registrationForm,
    restorePasswordForm,
  },
}
</script>

<style lang="sass">

</style>
