<template>
  <div class="loginForm">
    <ValidationObserver v-slot="{ handleSubmit }" ref="form">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <ValidationProvider mode="passive" name="email" rules="required" v-slot="{ errors }">
          <v-text-field
            v-model="email"
            label="email"
            solo
          ></v-text-field>
        </ValidationProvider>
        <ValidationProvider mode="passive" name="password" rules="required" v-slot="{ errors }">
          <v-text-field
            v-model="password"
            label="password"
            solo
            type="password"
          ></v-text-field>
        </ValidationProvider>
        <ValidationProvider name="passive" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
          <checkbox
            v-model="rememberMe"
          >
            Remember me
          </checkbox>
        </ValidationProvider>

        <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">

        <v-btn
          color="primary"
          rounded
          depressed
          x-large
          :ripple="false"
          @click="onSubmit"
          type="submit"
          :loading="loading"
        >
          Send
        </v-btn>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import checkbox from '../../../components/common/checkbox'

export default {
  name: 'LoginForm',
  props: [
    'closeDialogFunc',
  ],
  data() {
    return {
      email: '',
      password: '',
      rememberMe: true,
      loading: false,
    }
  },
  methods: {
    async onSubmit() {
      if (this.loading) return;

      this.loading = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loading = false;
        return;
      }

      try {
        const loginResponse = await this.$axios({
          method: 'post',
          url: `${this.$nuxt.$config.LMS_REST_API}/auth/login`,
          data: {
            email: this.email,
            password: this.password,
          }
        });

        if (loginResponse.data && loginResponse.data.access_token) {
          const maxAge = this.rememberMe ? 60 * 60 * 24 * 365 : 60 * 60 * 24 * 1;
          document.cookie = `a_token=${loginResponse.data.access_token}; path=/; domain=${window.location.hostname}; max-age=${maxAge}; secure`;

          const infoResponse = await this.$axios({
            method: 'get',
            url: `${this.$nuxt.$config.LMS_REST_API}/auth/info`,
            headers: {
              'Authorization': `Bearer ${loginResponse.data.access_token}`,
            },
          });

          if (infoResponse.data) {
            this.$app.user = infoResponse.data;
          }
        }

        this.closeDialogFunc();

        // this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'click', 'eventAction': 'login', 'eventLabel': 'cursos_page' });
      } catch (e) {
        console.error(e);
      }

      this.loading = false;
    },
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    checkbox,
  },
}
</script>

<style lang="sass">

</style>
