<template>
  <div class="sale-additional-filter">
    <div class="body-m sale-additional-filter__header">
      {{ $t('filtersContent.courseType') }}
      <tooltip
        ref="tooltip"
        @click="showTooltip"
      >
        <b>{{ $t('filtersContent.courseType.profession') }}</b>
        <span>{{ $t('filtersContent.courseType.profession.text') }}</span>

        <b>{{ $t('filtersContent.courseType.course') }}</b>
        <span style="margin-bottom: 0;">{{ $t('filtersContent.courseType.course.text') }}</span>
      </tooltip>
    </div>

    <ul
      v-if="isShow"
      class="sale-additional-filter__course-type"
    >
      <li>
        <input
          v-model="types"
          class="visually-hidden radio-input"
          type="radio"
          name="types"
          id="any"
          value="any"
          key="any"
          :disabled="loading"
          ref="r1"
        >
        <label
          @click="(e) => setType(e, 'r1')"
          class="radio-label body-s"
          for="any"
        >{{ $t('types.any') }}</label>
      </li>
      <li>
        <input
          v-model="types"
          class="visually-hidden radio-input"
          type="radio"
          name="types"
          id="course"
          value="course"
          key="course"
          :disabled="loading"
          ref="r2"
        >
        <label
          @click="(e) => setType(e, 'r2')"
          class="radio-label body-s"
          for="course"
        >{{ $t('types.course') }}</label>
      </li>
      <li>
        <input
          v-model="types"
          class="visually-hidden radio-input"
          type="radio"
          name="types"
          id="profession"
          value="profession"
          key="profession"
          :disabled="loading"
          ref="r3"
        >
        <label
          @click="(e) => setType(e, 'r3')"
          class="radio-label body-s"
          for="profession"
        >{{ $t('types.profession') }}</label>
      </li>
    </ul>

    <div class="body-m sale-additional-filter__header">{{ $t('filtersContent.duration') }}</div>

    <div class="sale-additional-filter-range">
      <div class="sale-additional-filter-range__wrap">
        <span class="sale-additional-filter-range__text">{{ $t('filtersContent.duration.from') }}</span>
        {{ duration[0] }}
        <span class="sale-additional-filter-range__text">{{ $t('filtersContent.duration.to') }}</span>
        {{ duration[1] }}
        <span class="sale-additional-filter-range__text">{{ $t('filtersContent.duration.months') }}</span>
      </div>

      <client-only>
        <vue-slider
          class="sale-additional-filter-duration"
          :data="[1, 6, 12, 18]"
          v-model="duration"
          :lazy="true"
          :tooltip="'none'"
          :min-range="1"
          :max-range="18"
          :disabled="loading"
        />
      </client-only>
    </div>
  </div>
</template>

<script>
import 'vue-slider-component/dist-css/vue-slider-component.css'
import 'vue-slider-component/theme/default.css'

export default {
  props: {
    value: {
      type: Object,
      required: true,
    },
    isShow: { // по какой-то причине после выбора радиокнопки и повторного открытия диалога визуально в радиокнопке непроставлено значение - это свойство нужно для перерендера
      type: Boolean,
      default: true,
    },
    loading: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    types: {
      get() {
        return this.value.types;
      },
      set(types) {
        this.$emit('input', { ...this.value, types })
      },
    },
    duration: {
      get() {
        return [this.value.durationMin, this.value.durationMax];
      },
      set(duration) {
        this.$emit('input', { ...this.value, durationMin: duration[0], durationMax: duration[1] })
      },
    },
  },
  methods: {
    showTooltip() {
      this.$refs.tooltip.toggle()
    },
    setType(e, refName) {
      this.$refs[refName].click();
      e.preventDefault();
    }
  },
  components: {
    tooltip: () => import('../../../components/tooltip'),
    vueSlider: () => import('vue-slider-component/dist-css/vue-slider-component.umd.min.js'),
  }
}
</script>

<style lang="sass">
.sale-additional-filter
  &__header
    position: relative
    display: flex
    align-items: center
    margin-bottom: 12px
  &__course-type
    margin: 0 0 32px 0
    padding: 0!important
    list-style: none
    & li
      height: 22px
      margin-bottom: 16px
      display: flex
      align-items: center
      & label
        line-height: inherit
.sale-additional-filter-range
  &__wrap
    margin-bottom: 20px
    font-size: 17px
    line-height: 22px
    color: #905DB4
    border: none
    padding: 0
  &__text
    font-size: 17px
    line-height: 22px
    color: #905DB4
.sale-additional-filter-duration
  width: 230px!important
  height: 2px!important
  padding: 12px 0!important
  margin-left: 12px
  cursor: pointer
  &.vue-slider-disabled
    opacity: 1
  & .vue-slider-dot-handle-disabled
    background-color: initial
  & .vue-slider-rail
    background: #BDBDBD
  & .vue-slider-process
    background-color: #905DB4
  & .vue-slider-dot
    width: 24px!important
    height: 24px!important
    border: 1px solid #905DB4
    border-radius: 50%
    background: #fff
    z-index: 2
    box-sizing: border-box
    &:hover, &:active
      border-width: 2px
      &:after
        top: 6px
        left: 6px
    &:after
      content: ""
      display: block
      position: absolute
      width: 8px
      height: 8px
      background-color: #905DB4
      border-radius: 50%
      top: 7px
      left: 7px
      cursor: pointer
      box-sizing: border-box
  & .vue-slider-dot-handle
    box-shadow: none
</style>
