<template>
  <v-card
    class="basket"
  >
    <div
      @click="$store.commit('sale/setBasketDialog', false)"
      class="close-dialog"
    />
    <div class="info-section">
      <div class="h3 basket-title">
        {{ $t('sale.basketDialogContent.title') }}
      </div>
      <div class="sep" />
      <div class="basket__items">
        <div
          v-for="(item, index) of basketComputed"
          :key="index"
          class="basket-item"
          :class="{
            'basket-item_free': item.free,
          }"
        >
          <div class="basket-item__left">
            <div class="basket-item__name">
              {{ item.shortName || item.name }}
            </div>
          </div>
          <div class="basket-item__right">
            <span v-if="item.free" class="basket-item-free">{{ $t('sale.free') }}</span>
            <div class="basket-item__price">
              {{ $app.getCurrency(item.price.price.toFixed(2)) }}
            </div>
            <div
              @click="() => removeFromBasket({ item })"
              class="basket-item__icon"
            >
              <img
                :src="require('~/assets/svg/close-chip.svg')"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="sep" />
      <div class="total">
        <div class="total__label">
          {{ $t('sale.basketDialogContent.total') }}
        </div>
        <div class="total__price">
          {{ $app.getCurrency(totalPrice) }}
        </div>
      </div>
    </div>
    <div class="form-section">
      <ValidationObserver v-slot="{ handleSubmit }" ref="form">
        <form @submit.prevent="handleSubmit(onSubmit)">
          <ValidationProvider mode="custom" name="name" rules="required" v-slot="{ errors }">
            <v-text-field
              class="name"
              v-model="name"
              label="Nome"
              solo
              :error-messages="errors.length ? $t('sale.name.error') : ''"
            ></v-text-field>
          </ValidationProvider>
          <phone
            class="phone"
            name="phone"
            v-model="phone"
          />
          <ValidationProvider mode="custom" name="email" rules="required|email" v-slot="{ errors }">
            <hintEmail
              v-model="email"
              label="mail@example.com"
              :error-messages="errors.length ? $t('sale.email.error') : ''"
              class="email"
              :maxNumberOfTips="3"
            />
          </ValidationProvider>
          <div
            v-if="!$app.config.current.formWithCheckbox"
            class="sale__form-privacy-policy"
          >
            {{ $t('formText.part1') }} <a :href="$app.config.current.documents[$app.config.current.formDocument]" target="_blank">{{ $t('formText.part2') }}</a>
          </div>
          <ValidationProvider
            v-else
            name="passive"
            :rules="{ required: { allowFalse: false } }"
            v-slot="{ errors }"
          >
            <checkbox
              class="checkbox_accepted-rules"
              v-model="acceptedRules"
              :error-messages="errors"
            >
              {{ $t('acceptTheTermsAndConditions') }} <a href="https://ebaconline.com.br/upload/cms/service_agreement_and_privacy_policy.pdf" target="_blank">{{ $t('privacyPolicyAndServiceAgreement') }}</a>
            </checkbox>
          </ValidationProvider>
          <div class="form-btn-wrapper">
            <v-btn
              color="primary"
              rounded
              depressed
              x-large
              :ripple="false"
              type="submit"
              :loading="loading"
            >
              {{ $t('sale.basketDialogContent.buttonLabel') }}
            </v-btn>
          </div>
          <input type="hidden" name="source_id" tabindex="-1" :value="$app.config.current.sourceId.saleBasket">
          <input v-if="$app.cookies.lastScheduleEvent" type="hidden" name="last_schedule_event" tabindex="-1" :value="$app.cookies.lastScheduleEvent">
        </form>
      </ValidationObserver>
    </div>
  </v-card>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import checkbox from '../../../components/common/checkbox'
import urlencodeFormData from '../../../utils/urlencodeFormData'
import addAnyFormFields from '../../../utils/addAnyFormFields'

export default {
  props: [
    'value',
    'basketComputed',
  ],
  data() {
    return {
      loading: false,
      name: '',
      email: '',
      phone: '',
      acceptedRules: true,
    }
  },
  computed: {
    totalPrice() {
      return this.basketComputed.reduce((acc, product) => acc + (product.free ? 0 : product.price.price), 0);
    },
    priceInstallmentPlanPrice() {
      return (this.totalPrice / 12).toFixed(2);
    },
  },
  async mounted() {
    setTimeout(async () => await addAnyFormFields.call(this, { ref: this.$refs.form }), 0);
  },
  methods: {
    removeFromBasket({ item, type }) {
      this.$emit('input', this.value.filter(basketItem => item.id !== basketItem.id));
    },
    async onSubmit() {
      if (this.loading) return;

      this.loading = true;
      const isValid = await this.$refs.form.validate();

      if (!isValid) {
        this.loading = false;
        return;
      }

      const formData = new FormData(this.$refs.form.$el.querySelector('form'));
      formData.append('name', this.name);
      formData.append('phone', this.phone);
      formData.append('email', this.email);
      formData.append('checkbox', this.acceptedRules);
      formData.append('sale_id', this.$store.state.sale.sale.id);
      formData.append('products', JSON.stringify(this.basketComputed.map((product) => {
        return {
          id: product.id,
          price: product.price.price,
          percent: product.price.percent,
          shortName: product.shortName,
          name: product.name,
          ...product.hasOwnProperty('free') && {
            free: product.free,
          },
        }
      })));

      try {
        const response = await this.$axios({
          method: 'post',
          url: this.$app.config.current.leadFormUrl,
          data: urlencodeFormData(formData),
          headers: {
            'Content-Type': `application/x-www-form-urlencoded`,
          },
        });

        this.$refs.form.reset();
        this.name = '';
        this.phone = '';
        this.email = '';

        if (response.data && response.data.hasOwnProperty('status') && response.data.status === 'ok') {
          this.$emit('clearBasket');

          this.$router.push({
            path: '/sale/thankyou',
            ...response.data.context && {
              query: {
                context: response.data.context,
                sale: this.$store.state.sale.sale.slug,
              },
            },
          });
        }

        this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_lead', 'eventAction': 'from_cart' });
      } catch (e) {
        console.error(e);
      }

      this.loading = false;
    },
  },
  watch: {
    value() {
      if (!this.value.length) this.$store.commit('sale/setBasketDialog', false);
    },
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    hintEmail: () => import('../../../components/common/hintEmail'),
    phone: () => import('../../../components/common/phone'),
    checkbox,
  },
}
</script>

<style
  scoped
  lang="sass"
>
.basket
  &-title
    font-weight: 600
    font-size: 20px
    line-height: 130%
    color: #000000
    margin: 0 0 31px 0
    @media (min-width: $tb)
      font-size: 24px!important
  &__items
    margin: 23px 0
  &-item
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 21px
    &_free
      & .basket-item__price
        text-decoration: line-through
    &__right
      display: flex
      align-items: center
    &__price
      margin-right: 3px
      font-weight: 600
      font-size: 14px
      line-height: 18px
      color: #000000
      @media (min-width: $tb)
        font-size: 18px
        line-height: 23px
    &__icon
      height: 20px
      width: 20px
      display: flex
      align-items: center
      justify-content: flex-end
      cursor: pointer
    &__name
      font-size: 14px
      line-height: 18px
      color: #101010
      padding-right: 13px
      @media (min-width: $tb)
        font-size: 18px
        line-height: 30px

.close-dialog
  background-image: url("../../../../landing_generator/assets/svg/close-icon.svg")
  top: 12px
  right: 0
  width: 50px
  height: 50px
  @media (min-width: $tb)
    top: 8px
.sep
  width: 100%
  height: 1px
  background: #000000
.total
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 24px
  &__label
    font-size: 14px
    line-height: 18px
    color: #101010
    @media (min-width: $tb)
      font-size: 18px
      line-height: 30px
  &__price
    font-weight: 600
    font-size: 14px
    line-height: 18px
    color: var(--sale-secondary)
    @media (min-width: $tb)
      font-size: 18px
      line-height: 30px
.info-section
  padding: 24px 20px 41px 20px
.form-section
  padding: 30px 20px 37px 20px
  background: #FFF5E4
.form-btn-wrapper
  margin-top: 20px
  & .v-btn
    width: 100%
    font-weight: 500
    height: 48px!important
    @media (min-width: $tb)
      height: 60px!important
.basket-item-free
  color: var(--sale-accent)
  text-transform: uppercase
  font-size: 11px
  font-weight: 600
  line-height: 21px
  margin-right: 12px
</style>
