<template>
  <div
    v-show="isDisplay"
    v-resize="onResize"
    class="basket"
  >
    <v-expansion-panels
      v-model="panel"
    >
      <v-expansion-panel>
        <v-expansion-panel-header>{{ $t('basket.mobileHeader') }}: {{ value.length }}
          <template v-slot:actions>
            <img
              :src="require('~/assets/svg/angle-down.svg')"
              class="expansion-panel-icon"
            />
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div
            class="basket__content m-container"
            v-resize="onResizeBasketItemsContainer"
          >
            <div
              class="basket__items"
              :class="{
                'basket__items_show-all': isToggleItemsDisplay,
              }"
            >
              <div
                ref="basket-items-container"
                class="basket__items-container"
              >
                <v-chip
                  v-for="(item, index) of basketComputed"
                  :key="index"
                  class="basket-item"
                  :class="{
                    'basket-item_free': item.free,
                  }"
                  close
                  outlined
                >
                  <div>{{ item.shortName || item.name }}<span v-if="item.free" class="basket-item-free">&nbsp;{{ $t('sale.free') }}</span></div>
                  <div
                    @click="() => removeFromBasket({ item })"
                    class="basket-item__icon"
                  >
                    <img
                      :src="require('~/assets/svg/close-chip.svg')"
                    />
                  </div>
                </v-chip>
              </div>
              <div
                v-if="showToggleItemsDisplayButton"
                class="basket-items-button-container"
              >
                <div
                  @click="toggleItemsDisplay"
                  class="basket-items-button-content"
                >
                  {{ isToggleItemsDisplay ? $t('less') : $t('more') }}
                  <img
                    class="basket-items-button"
                    :src="require('~/assets/svg/angle-down-pink.svg')"
                  />
                </div>
              </div>
            </div>
            <div class="basket__info">
              <div class="discount-price">
                <div class="discount-price__title">
                  {{ $t('sale.discountedAmount') }}
                </div>
                <div class="price-sep" />
                <div class="discount-price__price">
                  {{ $t('currencySign') }}<span>{{ $n(totalPrice, 'decimal') }}</span>
                </div>
              </div>
              <div class="installment-plan">
                <div class="installment-plan__content">
                  <div class="installment-plan__title">
                    {{ $t('sale.installmentInUpToPart1') }}
                  </div>
                  <div class="price-sep" />
                  <div class="installment-plan__price">
                    {{ $t('currencySign') }}<span>{{ $n(priceInstallmentPlanPrice, 'decimal') }}</span>
                    <div class="installment-plan__description">
                      <span>x12 {{ $t('sale.installmentInUpToPart2') }}</span> {{ $t('sale.installmentInUpToPart3') }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="action">
                <div class="action__btn-wrapper">
                  <v-btn
                    color="primary"
                    rounded
                    depressed
                    x-large
                    :ripple="false"
                    @click="openBasketDialog"
                  >
                    {{ $t('sale.placeAnOrder') }}
                  </v-btn>
                </div>
              </div>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  props: [
    'value',
    'basketComputed',
    'loading',
  ],
  data() {
    return {
      isDisplay: false,
      panel: 0,
      windowSize: {
        x: 0,
        y: 0,
      },
      isToggleItemsDisplay: false,
      showToggleItemsDisplayButton: false,
    }
  },
  computed: {
    totalPrice() {
      return this.basketComputed.reduce((acc, product) => acc + (product.free ? 0 : product.price.price), 0);
    },
    priceInstallmentPlanPrice() {
      return (this.totalPrice / 12).toFixed(2);
    },
  },
  async created() {
    if (process.client) {
      this.onResize();

      if (this.windowSize.x < 768) this.panel = null;

      this.isDisplay = true;
    }
  },
  methods: {
    openBasketDialog() {
      this.$gtm.push({ 'event': 'autoEvent', 'eventCategory': 'ds_click', 'eventAction': 'to_checkout' });

      this.$store.commit('sale/setBasketDialog', true);
    },
    onResize() {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight };
    },
    removeFromBasket({ item, type }) {
      this.$emit('input', this.value.filter(basketItem => item.id !== basketItem.id));
      this.$emit('removeFromBasketEvent', item);
    },
    toggleItemsDisplay() {
      this.isToggleItemsDisplay = !this.isToggleItemsDisplay;
    },
    async onResizeBasketItemsContainer() {
      await this.handlerBasketItemsContainer();
    },
    async handlerBasketItemsContainer() {
      await Vue.nextTick();

      if (this.$refs['basket-items-container'].scrollHeight > 92) {
        this.showToggleItemsDisplayButton = true;
      } else {
        this.showToggleItemsDisplayButton = false;
      }
    },
  },
  watch: {
    'windowSize.x'() {
      if (this.windowSize.x > 767) this.panel = 0;
    },
    value: {
      async handler() {
        await this.handlerBasketItemsContainer();
      },
    },
  },
}
</script>

<style
  scoped
  lang="sass"
>
  .basket
    position: fixed
    bottom: 0
    left: 0
    right: 0
    width: 100%
    min-height: 70px
    z-index: 3
    display: flex
    align-items: flex-start
    justify-content: center
    background: #FFF5E4
    box-shadow: 0px -4px 14px -6px rgba(24, 39, 75, 0.12), 0px -5px 32px -4px rgba(24, 39, 75, 0.1)
    & .v-chip
      white-space: initial
    & .v-chip.v-size--default
      height: auto
    &-item
      font-weight: 600!important
      font-size: 16px!important
      line-height: 21px!important
      border-color: #000000!important
      border-radius: 40px!important
      margin-top: 10px
      margin-left: 10px
      min-height: 36px!important
      padding: 0 10px 0 11px!important
      color: #000000!important
      &__icon
        margin-left: 16px
        padding: 8px
        cursor: pointer
        width: 26px
        height: 26px
    &__items
      display: flex
      justify-content: space-between
      overflow: hidden
      transition: height 0.3s
      @media (min-width: $tb)
        max-height: 82px
      @media (min-width: 1440px)
        width: 100%
      &_show-all
        max-height: initial
        & .basket-items-button
          transform: rotate(0deg)
        & .basket-items-button-container
          width: 66px
      &-container
        margin-left: -10px
        margin-top: -10px
        max-height: calc(100vh / 3)
        overflow: auto
        @media (min-width: $tb)
          max-height: initial
          overflow: initial
    &__info
      margin-top: 23px
      @media (min-width: $tb)
        display: flex
        justify-content: center
      @media (min-width: 1440px)
        margin-top: 0
        margin-left: 8px
        align-items: flex-end
    &__content
      @media (min-width: 1440px)
        display: flex
    & .m-container
      @media (min-width: 1440px)
        max-width: 1280px
  .v-expansion-panel
    background-color: initial!important
    &::before
      content: none
  .expansion-panel-icon
    width: 29px
    height: 25px
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s
  .v-expansion-panel-header--active
    @media (min-width: $tb)
      display: none
    & .expansion-panel-icon
      transform: rotate(180deg)
  .v-expansion-panel-header
    height: 70px
    min-height: 60px!important
    font-size: 14px
    line-height: 18px
    display: flex
    align-items: center
    color: #101010
    padding: 32px 20px 35px 20px
    @media (min-width: $tb)
      display: none
  .v-expansion-panel-content
    @media (min-width: $tb)
      padding-top: 24px
    &::v-deep .v-expansion-panel-content__wrap
      padding: 0 0 16px
      @media (min-width: $tb)
        padding: 0 0 23px
  .discount-price
    display: flex
    justify-content: space-between
    align-items: baseline
    //margin-bottom: 7px
    @media (min-width: $tb)
      flex-direction: column
      justify-content: flex-start
      padding-right: 42px
      height: 72px
      border-right: 1px solid #d9d0c2
      padding-top: 9px
    @media (min-width: 1440px)
      padding-left: 42px
      border-left: 1px solid #d9d0c2
    &__title
      color: #101010
      font-size: 14px
      line-height: 18px
      //@media (min-width: $tb)
      //  margin-bottom: 11px
    &__price
      color: #000000
      font-weight: 600
      font-size: 20px
      line-height: 26px
      min-width: 102px
      @media (min-width: $tb)
        font-size: 16px
        line-height: 52px
      & span
        @media (min-width: $tb)
          font-size: 40px
  .installment-plan
    display: flex
    justify-content: space-between
    align-items: baseline
    @media (min-width: $tb)
      padding-left: 27px
      flex-direction: column
      justify-content: flex-start
      padding-right: 8px
      height: 72px
      border-right: 1px solid #d9d0c2
      padding-top: 9px
      width: 324px
    @media (min-width: 1440px)
      width: auto
      min-width: 297px
      max-width: 340px
    &__content
      display: flex
      justify-content: space-between
      align-items: baseline
      width: 100%
      @media (min-width: $tb)
        display: block
        width: auto
    &__title
      color: #101010
      font-size: 14px
      line-height: 18px
      //@media (min-width: $tb)
      //  margin-bottom: 11px
    &__price
      color: #000000
      font-weight: 600
      font-size: 20px
      line-height: 26px
      min-width: 102px
      @media (min-width: $tb)
        line-height: 52px
        display: flex
        font-size: 16px
        align-items: baseline
      & span
        color: var(--sale-secondary)
        font-weight: 800
        @media (min-width: $tb)
          font-size: 40px
    &__description
      font-size: 12px
      line-height: 100%
      font-weight: 400
      @media (min-width: $tb)
        width: 64px
        align-self: center
        margin-left: 20px
        display: inline-block
        font-size: 14px
      @media (min-width: 1440px)
        font-size: 16px
      & span
        color: #000
        font-weight: 600
        @media (min-width: $tb)
          font-size: 14px
        @media (min-width: 1440px)
          font-size: 16px
  .action
    margin-top: 23px
    margin-bottom: 17px
    @media (min-width: $tb)
      margin-top: 0
      margin-bottom: 0
      display: flex
      align-items: center
      height: 72px
      width: 240px
      justify-content: flex-end
      padding-left: 8px
    & .v-btn
      width: 100%
      height: 48px!important
      font-weight: 600
      font-size: 16px!important
      line-height: 24px
      @media (min-width: $tb)
        font-size: 18px!important
  .price-sep
    height: 1px
    margin: 0 5px
    background: linear-gradient(90deg, #455A64 33%, transparent 0) repeat-x bottom
    background-size: 3px 1px
    flex-grow: 1
    @media (min-width: $tb)
      display: none
  .basket-items-button, .basket-items-button-content
    cursor: pointer
  .basket-items-button-container
    width: 43px
    height: 25px
  .basket-items-button-content
    display: flex
    align-items: center
    width: 100%
  .basket-items-button-container
    display: none
    margin-left: 4px
    font-size: 15px
    user-select: none
    align-self: flex-end
    color: var(--sale-secondary)
    @media (min-width: $tb)
      display: flex
  .basket-items-button
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)
    transform: rotate(180deg)
    width: 20px
  .basket-item-free
    color: var(--sale-accent)
    text-transform: uppercase
    font-size: 11px
    //text-transform: uppercase
    //color: var(--sale-accent-antagonist)
    //font-weight: 600
    //font-size: 14px
    //line-height: 17px
    //background: var(--sale-accent)
    //border-radius: 2px
    //padding: 4px 6px
</style>
